{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="glyphicon glyphicon-user"></i>Employee</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}
<!-- function to show link in html  -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.3').className ="active";
    </script>
            
      <div class="row">
        
        
        <div class="col-md-6">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Update Employee</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST"  autocomplete="off">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label" for="employee_id">Employee ID</label>
    <input class="form-control" id="employee_id" name="employee_id" type="text" value="">

  </div>
</div>
    </div><div class="row">
    <div class="col-sm-4 1" style="display:none;" ></br>
    <input type="submit" name="submit" value="Add" class="btn btn-primary btn-block"></div>
    <div class="col-sm-4 2" style="display:none;"></br>
    <input type="submit" name="submit" value="Block" class="btn btn-danger btn-block"></div>
    <div class="col-sm-4 3" style="display:none;"></br>
    <input type="submit" name="submit" value="Unblock" class="btn btn-danger btn-block"></div>  
    <div class="col-sm-4 4" style="display:none;"></br>
    <input type="submit" name="submit" value="Reset Password" class="btn btn-success btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        


 <div class="col-md-6">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title"> Update Employee In Leave Reports</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST"  autocomplete="off">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label" for="employee_id">Select Employee</label>
    <input class="form-control" id="employee_inactive" name="employee_inactive" type="text" value="">
  </div>
</div>
    </div>
    <p class="error btns" style="color:red;display:none;text-align:center;margin-top:20px" > Employee Is Not Available, Please Enter a Correct Employee Id</p>
    <p class="error1 btns" style="color:red;display:none;text-align:center;margin-top:20px" > NO Leave History For the Employee</p>
    <div class="row center">
    <div class="col-md-offset-3 col-sm-5 5 btns" style="display:none"></br>
    <input type="submit" name="submit" value="Include_In_Reports" class="btn btn-primary btn-block"></div>
    <div class="col-md-offset-3 col-sm-5 6 btns" style="display:none"></br>
    <input type="submit" name="submit" value="Remove_From_Reports" class="btn btn-danger btn-block"></div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>  



      </div><!-- row -->
      <script src="/static/js/select2.js"></script>
   <!--    function to check the  given username is block or unblock --> 
  <script type="text/javascript">
$( document ).ready(function() {
$("#employee_id").keyup(function() {
    var e = $(this).val().trim();
    if (e.length == 5) {
        $.ajax({
            url: "/user/checkemp",
            data: $("form").serialize(),
            type: "POST",
            success: function(e) {
              console.log(e)
                if (e.trim() == "0") {
                  $(".1").show();
                  $(".2").hide();
                  $(".3").hide();
                  $(".4").hide();}
                else if (e.trim() == "1") {
                  $(".1").hide();
                  $(".2").show();
                  $(".3").hide();
                  $(".4").show();}
                else {
                  $(".1").hide();
                  $(".2").hide();
                  $(".3").show();
                  $(".4").hide();}

}
});
}
});

$("#employee_inactive").keyup(function() {
    var e = $(this).val().trim();
    if (e.length == 5) {
        $.ajax({
            url: "/user/checkempstatus",
            data: $("form").serialize(),
            type: "POST",
            success: function(e) {
              console.log(e)
                if (e.trim() == "0") {  //user not exists
                	$(".6").hide();
                  $(".5").hide();
                  $('.error').show();
                  }
                else if (e.trim() == "1") {
                  $(".5").show(); //include in reports
                  $(".6").hide();
              }
                else if (e.trim() == "2") {
                  $(".6").show(); //remove from reports
                  $(".5").hide();
              }
              else if (e.trim() == "3") {
                  $(".error1").show(); //remove from reports
              }

}
});
}
else{
  $('.btns').hide();
  $('')
}
});


});


  </script>    

	  

{% endblock %}     


