{% extends "base.html" %}
{% block pageheader %}     
<style type="text/css">
  th{
    padding-left: 15px;
  }
</style>

<style type="text/css" link="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"></style>
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
    <div class="pageheader">
      <h2><i class="fa fa-bullhorn"></i>Announcements</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}

            
      <div class="row">
        
        
        <div class="col-md-6">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Announcements</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label" for="employee_id">Description</label>
    <textarea class="form-control" id="announcement" name="announcement" required></textarea>

  </div>
</div>
    </div>
    <div class="row">
    <div class="col-sm-4 col-sm-offset-2"></br>
    <input type="submit" name="submit" value="submit" class="btn btn-primary btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
  

<div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">×</a>
            <a href="#" class="minimize">−</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Announcements</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

            <div class="row refresh-data" id="datatb_1">
                 
  <div class="col-lg-12">
  <div class="portlet-content">   
      <div class="form-group">
        <table id="dat_tble_1" class=" table table-bordered table-striped" style="width:100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th style="width: 60%">Announcement</th>
                        <th style="width: 25%">Created Date</th>
                        <th style="width: 15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                  {% for e in announcements %}  
                    <tr>
                        <td style="width:62%">
                          {% if e['announcement']%}
                          {{ e['announcement'] }}
                          {% endif%}
                        </td>
                        <td style="width: 25%">
                          {% if e['created_time']%}
                          {{ e['created_time'] }}

                          {% endif%}
                        </td>
                        <td><center>    
                         {% if e['view'] == 1 %}
                          </form>
                        <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="announcementid">
             <button name="submit" type="submit" value="delete" id="delete" class="btn btn-danger">Delete</button>           
           </form>
                          {% endif%}  
                          {% if e['view'] == 0 %}
                          </form>
                        <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="announcementid">
             <button name="submit" type="submit" value="view" id="add" style="width:76px" class="btn btn-info">Add</button>           
           </form>
                          {% endif%}                     
                        </center>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

      </div>
   </div>
</div><!-- row -->
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>






  


{% endblock %}     
{% block scripts %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){ 
 table1=$('#dat_tble_1').DataTable( {
        "retrieve": true,
        "scrollX": "100%",
        order: [[ 1, "desc" ]],
         "columnDefs": [
    { "width": "auto", "targets": 0 }
  ]
    });
  });
</script>

<!-- function to show link in html  -->
  <script type="text/javascript">
document.getElementById('id-12').className ="active";
    </script>
{% endblock %} 

