{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dzscalendar.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style type="text/css">
	.select2-container {
		width:100%;
	}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Apply Leave</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  

<script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.1').className ="active";
</script>
      
<script type="text/javascript">
function chk()
{
  var fd = new FormData(document.getElementById("apl"));

var jqxhr = $.ajax({
        url: '/leave/checkappliedleave',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        global: false,
        async:false,
        success: function(response) {
          return response
        }
      }).responseText;

return jqxhr;
}

</script>


<script>

function validateForm()
{

flag=0;
dat ="";
var testchar=document.getElementById("leave_type").value;
if (testchar == "2"){
	testchar="On Duty";
}else if(testchar == "1"){
	testchar="Tour";
}
var a=chk();
var response = JSON.parse(a);

if(response.st_date=="Yes")
{
 bootbox.alert("Start Date is Holiday", function() {
           });
return false;
}

else if (response.en_date=="Yes")
{
bootbox.alert("End Date is Holiday", function() {
           });
return false;
}

else if(document.getElementById("leave_type").value=="SL")
{

if (response.total_days>3)
{
document.getElementById("docf").style.display="block";
if(document.getElementById("doc").value=="")
{
  return false;
}

else if(response.holidays.length >0)
{
  for(var i=0;i<response.holidays.length;i++)
  {
    dat=dat+response.holidays[i]["date"].substring(0, response.holidays[i]["date"].length- 13)+"\n";

}
  if (confirm("Holidays:\n"+dat+"\nAre you sure to continue?") == true) {
        if (confirm("Total number of "+ testchar +" days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }
    } 
    else {
      return false;
    }

}

else
{
if (confirm("Total number of "+ testchar +" days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }


}



}


else if(response.holidays.length >0)
{
  for(var i=0;i<response.holidays.length;i++)
  {
    dat=dat+response.holidays[i]["date"].substring(0, response.holidays[i]["date"].length- 13)+"\n";

}
  if (confirm("Holidays:\n"+dat+"\nAre you sure to continue?") == true) {
  	console.log(testchar);
   if (confirm("Total number of "+ testchar +" days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }
    } 
    else {
      return false;
    }

}

else
{

  if (confirm("Total number of "+ testchar +" days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }

}






}


else if(response.holidays.length >0)
{
  for(var i=0;i<response.holidays.length;i++)
  {
    dat=dat+response.holidays[i]["date"].substring(0, response.holidays[i]["date"].length- 13)+"\n";

}



   if (confirm("Holidays:\n"+dat+"\nAre you sure to continue?") == true) {
    if (confirm("Total number of "+ testchar +" days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }
    } 
    else {
      return false;
    }

}


else
{
  if (confirm("Total number of "+ testchar +" days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }

 
}


}

</script>
  <script>
     function readURL2(input) {
var fileName =input.value;
var fileExt = fileName.split('.').pop();
//alert(fileExt);
var arr = ['pdf'];
if( jQuery.inArray( fileExt, arr ) < 0 )
  {
    bootbox.alert("Please select a pdf file.", function() {
           });
    input.value="";
    return false;
  }


        }
  </script>

<script type="text/javascript">
  function hid()
  {
    document.getElementById("docf").style.display="none";
  }
</script>

      <div class="row">
        
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance Application</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" id="apl" enctype="multipart/form-data" onsubmit="return validateForm()">
<div class="row">
  <div class="col-sm-3">
<div class="dzscalendar skin-green" id="tr1" style="">
<div class="events">
  {% if calendar %}
  {% for c in calendar %}
                <div data-date="{{ c['date']}}">
                  
                </div>
  {% endfor %}
  {% endif %}
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="radio-inline">
<label>
  <input type="radio" name="leave" id="leave1" value="1" checked="checked" onchange="leavetypefun(this.value);"> Leave
</label>         
</div>
    <div class="radio-inline">
       <label>
  <input type="radio" name="leave" id="leave2" value="2" onchange="leavetypefun(this.value);"> Attendance
</label>
</div>
{% if user_details['plant_id'] == 'HY'%}
 <div class="radio-inline">
       <label>
  <input type="radio" name="leave" id="leave3" value="3" onchange="leavetypefun(this.value);"> Permission
</label>
</div>
{% endif %}
<div class="form-group">    
    <select class="form-control" id="leave_type" name="leave_type" required onchange="hid()">
      <option value="CL" selected>Casual leave</option>
      <option value="SL">Sick leave</option>
      <option value="LWP">Leave without pay</option>
      <option value="EL">Earned leave</option>
    </select>
  </div>

    <div class="radio-inline" id="multi_attdiv" style="display:none;margin-top:0px;padding-left:0px">
    <div style="margin-top:-10px">
       <label>
  <input type="checkbox" name="multi_att" id="multi_att" value="3" > Attendance For More Than One Day
</label>
</div>
</div>

  <div class="form-group">
 	<input class="form-control" id="reason" name="reason" type="text" value="" placeholder="Leave Reason" required>
  </div>

 
  <div style="display:none" id="selecttime">
  <div class="form-group" style="margin-bottom:10px !important">
  <label style="width:50%">
<!-- 	From Time: -->
	<select name="fromtime" id="fromtime">
	<option value="">&nbsp;</option>
	<option value="00:00">12:00 AM</option>
	<option value="00:15">12:15 AM</option>
	<option value="00:30">12:30 AM</option>
	<option value="00:45">12:45 AM</option>

	<option value="01:00">1:00 AM</option>
	<option value="01:15">1:15 AM</option>
	<option value="01:30">1:30 AM</option>
	<option value="01:45">1:45 AM</option>

	<option value="02:00">2:00 AM</option>
	<option value="02:15">2:15 AM</option>
	<option value="02:30">2:30 AM</option>
	<option value="02:45">2:45 AM</option>

	<option value="03:00">3:00 AM</option>
	<option value="03:15">3:15 AM</option>
	<option value="03:30">3:30 AM</option>
	<option value="03:45">3:45 AM</option>

	<option value="04:00">4:00 AM</option>
	<option value="04:15">4:15 AM</option>
	<option value="04:30">4:30 AM</option>
	<option value="04:45">4:45 AM</option>

	<option value="05:00">5:00 AM</option>
	<option value="05:15">5:15 AM</option>
	<option value="05:30">5:30 AM</option>
	<option value="05:45">5:45 AM</option>

	<option value="06:00">6:00 AM</option>
	<option value="06:15">6:15 AM</option>
	<option value="06:30">6:30 AM</option>
	<option value="06:45">6:45 AM</option>

	<option value="07:00">7:00 AM</option>
	<option value="07:15">7:15 AM</option>
	<option value="07:30">7:30 AM</option>
	<option value="07:45">7:45 AM</option>

	<option value="08:00">8:00 AM</option>
	<option value="08:15">8:15 AM</option>
	<option value="08:30">8:30 AM</option>
	<option value="08:45">8:45 AM</option>

	<option value="09:00">9:00 AM</option>
	<option value="09:15">9:15 AM</option>
	<option value="09:30">9:30 AM</option>
	<option value="09:45">9:45 AM</option>
 
	<option value="10:00">10:00 AM</option>
	<option value="10:15">10:15 AM</option>
	<option value="10:30">10:30 AM</option>
	<option value="10:45">10:45 AM</option>
 
	<option value="11:00">11:00 AM</option>
	<option value="11:15">11:15 AM</option>
	<option value="11:30">11:30 AM</option>
	<option value="11:45">11:45 AM</option>
 
	<option value="12:00">12:00 PM</option>
	<option value="12:15">12:15 PM</option>
	<option value="12:30">12:30 PM</option>
	<option value="12:45">12:45 PM</option>
 
	<option value="13:00">1:00 PM</option>
	<option value="13:15">1:15 PM</option>
	<option value="13:30">1:30 PM</option>
	<option value="13:45">1:45 PM</option>
 
	<option value="14:00">2:00 PM</option>
	<option value="14:15">2:15 PM</option>
	<option value="14:30">2:30 PM</option>
	<option value="14:45">2:45 PM</option>
 
	<option value="15:00">3:00 PM</option>
	<option value="15:15">3:15 PM</option>
	<option value="15:30">3:30 PM</option>
	<option value="15:45">3:45 PM</option>
 
	<option value="16:00">4:00 PM</option>
	<option value="16:15">4:15 PM</option>
	<option value="16:30">4:30 PM</option>
	<option value="16:45">4:45 PM</option>
 
	<option value="17:00">5:00 PM</option>
	<option value="17:15">5:15 PM</option>
	<option value="17:30">5:30 PM</option>
	<option value="17:45">5:45 PM</option>

	<option value="18:00">6:00 PM</option>
	<option value="18:15">6:15 PM</option>
	<option value="18:30">6:30 PM</option>
	<option value="18:45">6:45 PM</option>

	<option value="19:00">7:00 PM</option>
	<option value="19:15">7:15 PM</option>
	<option value="19:30">7:30 PM</option>
	<option value="19:45">7:45 PM</option>

	<option value="20:00">8:00 PM</option>
	<option value="20:15">8:15 PM</option>
	<option value="20:30">8:30 PM</option>
	<option value="20:45">8:45 PM</option>

	<option value="21:00">9:00 PM</option>
	<option value="21:15">9:15 PM</option>
	<option value="21:30">9:30 PM</option>
	<option value="21:45">9:45 PM</option>
 
	<option value="22:00">10:00 PM</option>
	<option value="22:15">10:15 PM</option>
	<option value="22:30">10:30 PM</option>
	<option value="22:45">10:45 PM</option>
 
	<option value="23:00">11:00 PM</option>
	<option value="23:15">11:15 PM</option>
	<option value="23:30">11:30 PM</option>
	<option value="23:45">11:45 PM</option>

	
</select>
    
  </label>

<input type="hidden" id='per_status'>


  <label style="width:49%">
<!-- 	To Time: -->
	<select name="totime" id="totime">
	<option value="">&nbsp;</option>
		<option value="00:00">12:00 AM</option>
	<option value="00:15">12:15 AM</option>
	<option value="00:30">12:30 AM</option>
	<option value="00:45">12:45 AM</option>

	<option value="01:00">1:00 AM</option>
	<option value="01:15">1:15 AM</option>
	<option value="01:30">1:30 AM</option>
	<option value="01:45">1:45 AM</option>

	<option value="02:00">2:00 AM</option>
	<option value="02:15">2:15 AM</option>
	<option value="02:30">2:30 AM</option>
	<option value="02:45">2:45 AM</option>

	<option value="03:00">3:00 AM</option>
	<option value="03:15">3:15 AM</option>
	<option value="03:30">3:30 AM</option>
	<option value="03:45">3:45 AM</option>

	<option value="04:00">4:00 AM</option>
	<option value="04:15">4:15 AM</option>
	<option value="04:30">4:30 AM</option>
	<option value="04:45">4:45 AM</option>

	<option value="05:00">5:00 AM</option>
	<option value="05:15">5:15 AM</option>
	<option value="05:30">5:30 AM</option>
	<option value="05:45">5:45 AM</option>

	<option value="06:00">6:00 AM</option>
	<option value="06:15">6:15 AM</option>
	<option value="06:30">6:30 AM</option>
	<option value="06:45">6:45 AM</option>

	<option value="07:00">7:00 AM</option>
	<option value="07:15">7:15 AM</option>
	<option value="07:30">7:30 AM</option>
	<option value="07:45">7:45 AM</option>

	<option value="08:00">8:00 AM</option>
	<option value="08:15">8:15 AM</option>
	<option value="08:30">8:30 AM</option>
	<option value="08:45">8:45 AM</option>

	<option value="09:00">9:00 AM</option>
	<option value="09:15">9:15 AM</option>
	<option value="09:30">9:30 AM</option>
	<option value="09:45">9:45 AM</option>
 
	<option value="10:00">10:00 AM</option>
	<option value="10:15">10:15 AM</option>
	<option value="10:30">10:30 AM</option>
	<option value="10:45">10:45 AM</option>
 
	<option value="11:00">11:00 AM</option>
	<option value="11:15">11:15 AM</option>
	<option value="11:30">11:30 AM</option>
	<option value="11:45">11:45 AM</option>
 
	<option value="12:00">12:00 PM</option>
	<option value="12:15">12:15 PM</option>
	<option value="12:30">12:30 PM</option>
	<option value="12:45">12:45 PM</option>
 
	<option value="13:00">1:00 PM</option>
	<option value="13:15">1:15 PM</option>
	<option value="13:30">1:30 PM</option>
	<option value="13:45">1:45 PM</option>
 
	<option value="14:00">2:00 PM</option>
	<option value="14:15">2:15 PM</option>
	<option value="14:30">2:30 PM</option>
	<option value="14:45">2:45 PM</option>
 
	<option value="15:00">3:00 PM</option>
	<option value="15:15">3:15 PM</option>
	<option value="15:30">3:30 PM</option>
	<option value="15:45">3:45 PM</option>
 
	<option value="16:00">4:00 PM</option>
	<option value="16:15">4:15 PM</option>
	<option value="16:30">4:30 PM</option>
	<option value="16:45">4:45 PM</option>
 
	<option value="17:00">5:00 PM</option>
	<option value="17:15">5:15 PM</option>
	<option value="17:30">5:30 PM</option>
	<option value="17:45">5:45 PM</option>

	<option value="18:00">6:00 PM</option>
	<option value="18:15">6:15 PM</option>
	<option value="18:30">6:30 PM</option>
	<option value="18:45">6:45 PM</option>

	<option value="19:00">7:00 PM</option>
	<option value="19:15">7:15 PM</option>
	<option value="19:30">7:30 PM</option>
	<option value="19:45">7:45 PM</option>

	<option value="20:00">8:00 PM</option>
	<option value="20:15">8:15 PM</option>
	<option value="20:30">8:30 PM</option>
	<option value="20:45">8:45 PM</option>

	<option value="21:00">9:00 PM</option>
	<option value="21:15">9:15 PM</option>
	<option value="21:30">9:30 PM</option>
	<option value="21:45">9:45 PM</option>
 
	<option value="22:00">10:00 PM</option>
	<option value="22:15">10:15 PM</option>
	<option value="22:30">10:30 PM</option>
	<option value="22:45">10:45 PM</option>
 
	<option value="23:00">11:00 PM</option>
	<option value="23:15">11:15 PM</option>
	<option value="23:30">11:30 PM</option>
	<option value="23:45">11:45 PM</option>
	
</select>
</label>
	
</div>
</div>
  <div class="form-group">
    
    <input class="form-control" id="start_date" name="start_date" type="text" value="" placeholder="Start Date" required  >
  </div>
    <div class="form-group">
    
    <input class="form-control" id="end_date" name="end_date" type="text" value="" placeholder="End Date" required disabled onchange="hid()">
   </div>
        <div class="checkbox" id="display_lta" style="display:none">
  <label>
    <input type="checkbox" value="1" id="lta" name="lta">
    LTA
  </label>
</div>
    <div class="checkbox" id="half">
  <label>
    <input type="checkbox" value="1" id="halfday" name="halfday">
    Half Day
  </label>
</div>
<div id="halfdaydiv" style="display:none">
<label class="checkbox">
  <input type="checkbox" id="Checkbox1" name="halfcheck" value="1"> 1st Half of  Day
</label>
<label class="checkbox">
  <input type="checkbox" id="Checkbox2" name="halfcheck" value="2"> 2nd Half of  Day
</label>
</div>
<div id="docf" style="display:none" >
<input type="file" data-buttonText="Choose Doc Certificate"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="doc" data-badge="true"  id="doc" class="browse" onchange="readURL2(this);" />
</div>
<!-- <span id="per" style="display:block">

<input type="file" data-buttonText="Choose Permanent Address proof"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="peraddress" data-badge="false"  id="peraddress" class="browse" onchange="readURL2(this);" />
</span> -->

    <input type=submit value="Apply" class="btn btn-primary btn-block" id="al"></div>
<!--
    <div class="col-sm-5 col-sm-offset-1">
<h4>Public Holidays</h4>
      <table class="table table-striped">
        <tr><th>Date</th><th>Holiday</th></tr>
{% for c in calendar %}
<tr><td>{{ c['DATE']}}</td><td>{{ c['TXT_LONG']}}</td></tr>
{% endfor %}
</table>
    </div>
-->

<div class="col-sm-4 col-sm-offset-1">

<table class="table table-bordered table-hover">
  <tr class="active text-center"><th class="text-center">Type</th><th>Quota</th><th>Balance</th><th>Used</th></tr>
  <tr >
    <td>Casual Leave</td>

    <td class="text-center">{{leave_quota['available_cls']}}</td>
    <td class="text-center">{{leave_quota['cls_balance']}}</td>
    <td class="text-center">{{leave_quota['leaves_taken']}}</td>
    
  </tr>
  <tr >
    <td>Sick Leave</td>
    <td class="text-center">{{leave_quota['available_sls']}}</td>
    <td class="text-center">{{leave_quota['sls_balance']}}</td>
    <td class="text-center">{{leave_quota['sls_taken']}}</td>
    
  </tr>
  <tr>
    <td >Earned Leave</td>
    <td class="text-center">{{leave_quota['available_els']}}</td>
    <td class="text-center">{{leave_quota['els_balance']}}</td>
    <td class="text-center">{{leave_quota['els_taken']}}</td>
    
  </tr>
  <tr>
    <td>Leave Without Pay</td>
    <td class="text-center">NA</td>
    <td class="text-center">NA</td>
    <td class="text-center">{{leave_quota['lwps_taken']}}</td>
  </tr>
  <tr >
    <td>Tour</td>
    <td class="text-center">NA</td>
    <td class="text-center">NA</td>
    <td class="text-center">{{leave_quota['tours_taken']}}</td>
  </tr>
  <tr>
    <td>On Duty</td>
    <td class="text-center">NA</td>
    <td class="text-center">NA</td>
    <td class="text-center">{{leave_quota['onduty_taken']}}</td>
  </tr>
  {% if user_details['plant_id'] == 'HY'%}
  <tr>
    <td>Permission</td>
    <td class="text-center">{{permissions_details[0]}}</td>
    <td class="text-center">{{permissions_details[1]}}</td>
    <td class="text-center">{{permissions_details[2]}}</td>
  </tr>
  {% endif %}
</table>


</div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<!-- <script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script> -->
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script type="text/javascript">
today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;




var dt = new Date();
dt.setDate(dt.getDate() + 3);
var dd1 = dt.getDate();
var mm1 = dt.getMonth()+1; //January is 0!
var yyyy1 = dt.getFullYear();

if(dd1<10) {
    dd='0'+dd
} 

if(mm1<10) {
    mm='0'+mm
} 

today1 = dd1+'/'+mm1+'/'+yyyy1;






$('#start_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});

var dis1 = document.getElementById("start_date");
dis1.onchange = function () {
  hid()
   if (this.value != "") {
      $('#end_date').datepicker('remove');
      document.getElementById("end_date").value = '';
      document.getElementById("end_date").disabled = false;
      $('#end_date').datepicker({startDate:this.value,
    format: "dd/mm/yyyy",
    autoclose: true
});
   }else{
    document.getElementById("end_date").value = '';
    document.getElementById("end_date").disabled = true;
    $('#end_date').datepicker('remove');
   }
}

$( "#leave_type" ).change(function() {  
var a =document.getElementById("leave_type").value;
var b = $("input[name=leave]:checked").val();
if(b ==1){
  if(a == 'CL' || a == 'SL' || a == 'LWP'){
    document.getElementById("display_lta").style.display="none";
	document.getElementById("half").style.display="block";
$('#start_date').datepicker('remove');
$('#start_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});}
else if (a == 'EL'){
  document.getElementById("display_lta").style.display="block";
  document.getElementById("half").style.display="none";
  $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today1,
    format: "dd/mm/yyyy",
    autoclose: true
}); 
}
else{
  document.getElementById("display_lta").style.display="none";
   $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
});  
}
}
else{
  $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
});  
}

if (a==2){
 $('#end_date').hide()
 $('#end_date').attr('required',false);
 $('#selecttime').css('display','block');
  $('#multi_attdiv').css('display','block');
}
else if(a==1){
$('#end_date').show()
 $('#end_date').attr('required',true);
 $("#fromtime").removeAttr('required');
$("#totime").removeAttr('required');
 $('#selecttime').css('display','none');
  $('#multi_attdiv').css('display','none');
}


});

$('#halfday').click(function () {
    $("#halfdaydiv").toggle(this.checked);
});

function leavetypefun(ltype){
if(ltype==1){
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="CL" selected>Casual leave</option>');
$('#leave_type').append('<option value="SL">Sick leave</option>');
$('#leave_type').append('<option value="LWP">Leave without pay</option>');
$('#leave_type').append('<option value="EL">Earned leave</option>');   
document.getElementById("reason").placeholder="Leave reason"; 
var emp = document.getElementById("selecttime");
emp.style.display = ltype != 1 ? "block" : "none";
$('#per_status').val('');             
}
else if(ltype==2){
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="1" >Tour</option>');
$('#leave_type').append('<option value="2" selected>On-Duty</option>');
document.getElementById("reason").placeholder="Attendance reason";
var emp = document.getElementById("selecttime");
$('#selecttime').css('display','block');
$('#start_date').datepicker('remove');
$('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
}); 
$('#per_status').val('');

}
else if(ltype==3){
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="Permission" selected>Permission</option>');  
document.getElementById("reason").placeholder="Permission Reason"; 
var emp = document.getElementById("selecttime");
emp.style.display = ltype != 1 ? "block" : "none";

}
}
</script>
<script type="text/javascript">
$(document).ready(function(){
	$('#totime').change(function(){
		if ($("#per_status").val()=='yes'){ 
			console.log('applying permission');
			if ($('#totime').val() !=$('#fromtime').val()){ 
				var difference=parseFloat($('#totime').val())-parseFloat($('#fromtime').val());
			if (difference<=parseFloat({{permissions_duration}}) && difference>=parseFloat(0.1)){ 
				console.log('Max permission duration '+{{permissions_duration}}+'Hr\'s')
				console.log('Permission is accepted.');
			}else{
				$('#totime').select2("val", null);
				console.log('Permission Can Be Applied only For a maximum of '+ {{permissions_duration}}+' Hr\'s.');
				bootbox.alert('Permission Can Be Applied only For a maximum of '+{{permissions_duration}}+' Hr\'s.');
			}
			}
		}else{
			console.log('Applying For Attendance');
		}
	});


	
    $('input[type="radio"]').click(function(){
        if($(this).attr("id")=="leave1"){
            $("#fromtime").removeAttr('required');
            $("#totime").removeAttr('required');
            $('#end_date').show()
            $("#end_date").attr('required',true);
       $('#multi_attdiv').css('display','none'); 
       $("#start_date").attr("placeholder", "Start Date");
       $('#half').css('display','block'); //displaying halfday checkbox

        	$('#fromtime').select2("val", null);   //making default value when the leave typeis changed.
	        $('#totime').select2("val", null);   //making default value when the leave typeis changed.
        }
        if($(this).attr("id")=="leave2"){ //attendannce
        	 $('#half').css('display','none'); //removing halfday checkbox
            $("#fromtime").attr('required', true);
            $("#totime").attr('required', true);
            $('#end_date').hide();
             $("#start_date").attr("placeholder", "Select Date");
            $("#end_date").attr('required', false);
            $('#multi_attdiv').css('display','block');
            	if ($('#leave_type').val == 2){ //on duty
            		$('.selecttime').show();
		            $("#end_date").attr('required', false);
		            $('#end_date').hide();		           
		            $('#multi_attdiv').css('display','block');

	           }
	           else if($('#leave_type').val == 1){ //On tour
		           	$("#end_date").attr('required',true);
		            $('#end_date').show();
		            $("#fromtime").removeAttr('required');
            		$("#totime").removeAttr('required');
            		$("#start_date").attr("placeholder", "Start Date");

	           }
	        $('#fromtime').select2("val", null);
	        $('#totime').select2("val", null);

        }
        if($(this).attr("id")=="leave3"){
        $('#per_status').val('yes');
        $('#multi_attdiv').css('display','none'); 
        $("#start_date").attr("placeholder", "Select Date");
        $('#end_date').hide()
        $("#end_date").removeAttr('required',true);
        $('#half').css('display','none'); 
        }
        
    });



});

$('#tr1').dzscalendar({});

</script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
	$(document).ready(function(){ 
	var ckbox = $('#multi_att');
    // $('input').on('click',function () {
    //     if (ckbox.is(':checked')) {
    //        $("#end_date").attr('required', true);
		  //  $('#end_date').show();
    //     } else {
    //         $("#end_date").attr('required', false);
		  //  $('#end_date').hide();
    //     }
    // });
    $("#multi_att").on("change", function() {
        //When the id is test1
        //And name is A
        //And it's checked
        if (this.id === "multi_att" && this["name"] === "multi_att" && this.checked) {
            $("#end_date").attr('required', true);
		   $('#end_date').show();
		   $("#fromtime").attr('required', false);
            $("#totime").attr('required', false);
            $('#selecttime').css('display','none');
             $("#start_date").attr("placeholder", "Start Date");
        }else{
 			$("#end_date").attr('required', false);
		    $('#end_date').hide();
			$('#selecttime').css('display','block');
	if($('#leave_type').val == 1){
		$("#start_date").attr("placeholder", "Select Date");
	}else{
		$("#start_date").attr("placeholder", "Start Date");
        }
	}
    });

	});
</script>
<script type="text/javascript">
	$(document).ready(function(){ 
		$('#fromtime').select2({
			placeholder: "From Time",
		});
		$('#totime').select2({
			placeholder: "To Time",
		});

	});
</script>

{% endblock %}
