{% extends "base.html" %}
{% block links %}

<!-- <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet"> -->
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-sitemap"></i>Approval levels</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Approval Levels</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Create Levels</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row" >
               
<div class="col-md-12">
{%if result == 1%}
<div class="portlet-content">   
<div class="row" style="margin-bottom:15px">
  
  <form id="select_plant_form" method="POST">
  <div class="col-md-3">
    <input class="form-control" id="select_plant" name="select_plant" value="{{ selval }}">	
    </div>
    <div class="col-md-2">
    <button type="submit" class="btn btn-info" name="plant_submit" value="plant_submit">Get Details</button>
    </div>
    </form>
  </div>
</div>
{%endif%}

              <div class="table-responsive">
                <form method="POST">
<table id="profileapproval" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th><label >Select All </label>
</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>LEVEL 1</th>
                <th>LEVEL 2</th>
                <th>LEVEL 3</th>
                <th>LEVEL 4</th>
                <th>LEVEL 5</th>
                <th>LEVEL 6</th>
                <th>LEVEL 7</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for p in p_employees %}
            <tr>
                <td><label>
  <input type="checkbox" class="check1" name="{{ p['username']}}" value="{{ p['designation_id'] }}"> 
</label></td>
                <td>{{ p['username'] }}</td>
                <td>{{ p['f_name'] }} {{ p['l_name'] }}</td>
                <td>
{% if p['m1_name']%}
{% if 'levels' in p %}
{% if p['m1_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m1_pid'] }}" checked> 
</label>
                  {{ p['m1_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m1_pid'] }}"> 
</label>
                  {{ p['m1_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m1_pid'] }}"> 
</label>
                  {{ p['m1_name'] }}
  {% endif %}

{% endif%}
                </td>
                <td>
{% if p['m2_name']%}
{% if 'levels' in p %}
{% if p['m2_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m2_pid'] }}" checked> 
</label>
                  {{ p['m2_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m2_pid'] }}"> 
</label>
                  {{ p['m2_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m2_pid'] }}"> 
</label>
                  {{ p['m2_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m3_name']%}
{% if 'levels' in p %}
{% if p['m3_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m3_pid'] }}" checked> 
</label>
                  {{ p['m3_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m3_pid'] }}"> 
</label>
                  {{ p['m3_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m3_pid'] }}"> 
</label>
                  {{ p['m3_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m4_name']%}
{% if 'levels' in p %}
{% if p['m4_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m4_pid'] }}" checked> 
</label>
                  {{ p['m4_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m4_pid'] }}"> 
</label>
                  {{ p['m4_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m4_pid'] }}"> 
</label>
                  {{ p['m4_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m5_name']%}
{% if 'levels' in p %}
{% if p['m5_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m5_pid'] }}" checked> 
</label>
                  {{ p['m5_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m5_pid'] }}"> 
</label>
                  {{ p['m5_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m5_pid'] }}"> 
</label>
                  {{ p['m5_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m6_name']%}
{% if 'levels' in p %}
{% if p['m6_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m6_pid'] }}" checked> 
</label>
                  {{ p['m6_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m6_pid'] }}"> 
</label>
                  {{ p['m6_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m6_pid'] }}"> 
</label>
                  {{ p['m6_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m7_name']%}
{% if 'levels' in p %}
{% if p['m7_pid'] in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m7_pid'] }}" checked> 
</label>
                  {{ p['m7_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m7_pid'] }}"> 
</label>
                  {{ p['m7_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="{{ p['m7_pid'] }}"> 
</label>
                  {{ p['m7_name'] }}
  {% endif %}

{% endif%}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </div>
              </div></div>
<div class="col-md-4 col-md-offset-4">
 <input type="submit" value="Save Changes" class="btn btn-primary btn-block">
</div>
</form>
      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    

      {%if result == 1%}
<div class="contentpanel">  
      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Users With No Levels</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Secondname</th>
                <th>Designation Id</th>
                <th>Status</th>
                <th>Plant</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for e in employee_att %}
              {% if e[0]['employee_status'] == "active"%}
            <tr>

                <td>{{ e[0]['username']}}</td>  
                <td>{{ e[0]['f_name']}}</td>
                <td>{{ e[0]['l_name']}}</td>
                <td>{{ e[0]['designation_id']}}</td>
                <td>{{ e[0]['employee_status']}}</td>
                <td>{{ e[0]['plant_id']}}</td>

            </tr>
            {% endif %}
{% endfor %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div>
      </div> <!--portlet content end-->
     
{% endif %}




{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $('#profileapproval').DataTable( {
    	"scrollX": true,
    	"iDisplayLength": 5,
    	"order": [[ 1, "asc" ]]
    });


$('#example').DataTable();

    $('#select_plant').select2({
        minimumInputLength: 0,
        placeholder: 'Select a plant',
        ajax: {
            url: "/leave/get_all_plants/",
            dataType: 'json',
            quietMillis: 10,
            
            data: function(term) {
          return {
                    term: term

                };
            },
  
            results: function(data) {

                return { results: data.result }
            }
        },
        formatResult: function(excercise) { 
            // return "<div class='select2-user-result' value="+excercise.plant_id+">"+excercise.plant_id+" --- "+excercise.plant_id+" </div>"; 
             return "<div class='select2-user-result' value="+excercise.plant_id+">"+excercise.plant_id+" - "+excercise.plant_desc+" </div>"; 
        },
        id: function(excercise){
          return excercise.plant_id;
        },
        formatAjaxError: function(){
          return "plant doesn't exists";
        },
      formatSelection: function(excercise) { 
    $("#select_plant").val(excercise.plant_id);  //show the selected value in this case if it returns plant_desc shows selected palant desc ,if plant_id ..shows plant_id as value of select2
           return excercise.plant_id; 
    },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }

    });



    $('#select_plant').change(function(){
    	console.log($(this).val());
      var data1=$(this).val();
    	$.ajax({
            url: "/leave/get_emp_levels/",
            dataType: 'json',
              data:{data1:data1},
            quietMillis: 10,
            
            success: function(data) {
          		
            },

});


//       $.ajax({
//             url: "/leave/get_emp_levels/",
//             dataType: 'json',
//             quietMillis: 10,
            
//             success: function(data) {
//                 $('#level_configure').html('');
//             },

// });

    });

});
// $(document).ready(function() {
//     $('#selectall').click(function(event) {  //on click 
//         if(this.checked) { // check select status
//             $('.check1').each(function() { //loop through each checkbox
//                 this.checked = true;  //select all checkboxes with class "checkbox1"               
//             });
//         }else{
//             $('.check1').each(function() { //loop through each checkbox
//                 this.checked = false; //deselect all checkboxes with class "checkbox1"                       
//             });         
//         }
//     });
    
// });



</script>

<!-- function to show link in html  -->
  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.1').className ="active";
    </script>
{% endblock %}
