{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->


 <style type="text/css">
body { font-size: 140%; }
th{
  text-align: center;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Leave Report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
         

      <div class="row">
        
        <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="#" class="panel-close">&times;</a>
              <a href="#" class="minimize">&minus;</a>
            </div><!-- panel-btns -->
           </div><!-- panel-heading -->
                  <div class="panel-body">
                  <div class="col-md-12">
                  <div class="col-md-6">
                  <input type="checkbox" name="general_report" id='sel_general_report' checked> General Report
                  </div>
                  <div class="col-md-6">
                  <input type="checkbox" name="onbehalf_report" id='sel_onbehalf_report'> ON-Behalf Report
                  </div>
                  </div>
                  <span style="margin:10px"></span>
                  <form method="POST" action="/leave/newreports/" id='onbehalf_report' class="leave_history" style="display:none">
                      <input name='report_choice' value="sel_onbehalf_report" hidden>
                      <div class="col-xs-12 col-md-3">                  
                            <div class="form-group">
                               <label for="start_date">Select Plant</label>
                               <select id="selct1_behalf" class="form-control selct1" name="plant_id" style="width:150px" onchange = "ShowHideDiv_behalf()">
                                        <option value="">&nbsp;</option>
                                        <option value="HY">HY</option>
                                        <option value="BP">BP</option>
                                        <option value="TC">TC</option>
                                        <option value="GC">GC</option>
                                        <option value="TA">TA</option>
                                        <option value="GP">GP</option>
                                        <option value="EMPID"> EMPID</option>                                            
                                </select> 
                                  <br>
                                <div id="employee_behalf"  style="display: none">
                                  <label>Employee ID</label>
                                  <input class="form-control model" style="width: 150px;height: 35px;" type="text" id="employee_id_behalf" name="employee_id" required>
                                </div>
                            </div>
                          </div>
                            
                        
                          <div class="col-xs-12 col-md-3">                  
                              <div class="form-group">
                                <label for="start_date">Leave Type</label>
                                 <select id="selct" class="form-control selct" name="ltype" style="width:150px">
                                                <option value="">&nbsp;</option>
                                                <option value="CL">CL</option>
                                                <option value="SL">SL</option>
                                                <option value="LWP">LWP</option>
                                                <option value="EL">EL</option>
                                                <option value="1">Tour</option>
                                                <option value="2">On-Duty</option>
                                              
                                  </select>     
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                              <div class="form-group">
                                <label for="start_date">From Date</label>
                                  <input id="start_date_behalf" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                              </div><br>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                  <label for="end_date">To Date</label>
                                   <input id="end_date_behalf" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
                            </div>
                            <div class="col-xs-6 col-md-2 col-md-offset-5"> 
                                <div class="form-group">
                                    <br>
                                    <input type="submit"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                                 </div>
                            </div>
                            
                  </form>
                   <form  action="/leave/newreports/" method="POST" id="apl" class="leave_history" style="display:none">
                   <input type="hidden" name="report_choice" value="general_report">
            							<div class="col-xs-12 col-md-3">                  
            						  	<div class="form-group">
              						  	 <label for="start_date">Select Plant</label>
              						 		 <select id="selct1" class="form-control selct1" name="plant_id" style="width:150px" onchange = "ShowHideDiv()">
              					   							<option value="">&nbsp;</option>
    											            	<option value="HY">HY</option>
    											            	<option value="BP">BP</option>
    											            	<option value="TC">TC</option>
    											            	<option value="GC">GC</option>
          															<option value="TA">TA</option>
          											        <option value="GP">GP</option>
          															<option value="EMPID"> EMPID</option>
              															
              								  </select> 
              										<br>
      													<div id="employee"  style="display: none">
      														<label>Employee ID</label>
      														<input class="form-control model" style="width: 150px;height: 35px;" type="text" id="employee_id" name="employee_id" required>
      													</div>
            								</div>
            							</div>
          									
          							
                					<div class="col-xs-12 col-md-3">                  
                						  <div class="form-group">
                						  	<label for="start_date">Leave Type</label>
                						 		 <select id="selct" class="form-control selct" name="ltype" style="width:150px">
                					   										<option value="">&nbsp;</option>
            											            	<option value="CL">CL</option>
            											            	<option value="SL">SL</option>
            											            	<option value="LWP">LWP</option>
            											            	<option value="EL">EL</option>
                  															<option value="1">Tour</option>
                  															<option value="2">On-Duty</option>
                															
                									</select>     
                							</div>
                						</div>
                            <div class="col-xs-12 col-md-3">
                              <div class="form-group">
                                <label for="start_date">From Date</label>
                                  <input id="start_date_gen" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                              </div><br>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                  <label for="end_date">To Date</label>
                                   <input id="end_date_gen" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          					        </div>
          				          <div class="col-xs-6 col-md-2 col-md-offset-5"> 
                                <div class="form-group">
                                    <br>
                                    <input type="submit"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                                 </div>
                            </div>
                            
                    </form>     
                                                          
                  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->

      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance History</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
              
              	{% if display_table== 'general_report' %}
                
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        <thead>                  

              <tr >
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Leave Reason</th>
				<th> Applied Date </th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
          {% for e in lh %}

            <tr>
                <td>{{ e['employee_id']}}</td>
                <td>{{ e['fullname']}}</td>
                <td>{{ e['leave']}}</td>  
                <td>{{ e['reason']}}</td>
				<th>{{ e['applied_time'] }}</th>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
				On-{{e['start_date']}}-1st Half and 2nd Half of-{{ e['end_date']}} <br>
				{% if e['from_time'] %} 
				 {{e['from_time']}} Hours  - {{e['to_time']}} Hours
				
				{% endif %}
                 {% else %}
                 {% if e['halfdays'][0] == '1' %} 
                 1st Half of -{{ e['start_date']}} <br>
				 {% if e['from_time'] %} 
				 {{ e['from_time'] }} Hours  - {{e['to_time']}}  Hours
                 
				{% endif %}
				{% else %}
                 2nd Half of - {{ e['end_date']}} <br>
				 {% if e['from_time'] %} 
				 {{ e['from_time'] }} Hours  - {{e['to_time']}}  Hours
                 
				{% endif %}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
					{%if e['status']== "approved" %}
					<font color="green"> <b> {{  e['status']|capitalize()  }} </b> </font>
					{% else %}
					<font color="red">  <b> {{ e['status']|capitalize() }} </b> </font>
					{% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
   
    {% else %}
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        <thead>                  

              <tr >
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Leave Reason</th>                
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Applied By </th>
                <th>Approved By </th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
          {% for e in lh %}
            {%if e['appliedby'] %}
            <tr>
                <td>{{ e['employee_id']}}</td>
                <td>{{ e['fullname']}}</td>
                <td>{{ e['leave']}}</td>  
                <th>{{ e['reason'] }}</th>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
        On-{{e['start_date']}}-1st Half and 2nd Half of-{{ e['end_date']}} <br>
        {% if e['from_time'] %} 
         {{e['from_time']}} Hours  - {{e['to_time']}} Hours
        
        {% endif %}
                 {% else %}
                 {% if e['halfdays'][0] == '1' %} 
                 1st Half of -{{ e['start_date']}} <br>
         {% if e['from_time'] %} 
         {{ e['from_time'] }} Hours  - {{e['to_time']}}  Hours
                 
        {% endif %}
        {% else %}
                 2nd Half of - {{ e['end_date']}} <br>
         {% if e['from_time'] %} 
         {{ e['from_time'] }} Hours  - {{e['to_time']}}  Hours
                 
        {% endif %}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
          <td>{{ e['appliedby'] }}</td>
          <td>{{ e['approvedby'] }}</td>
                <td>
          {%if e['status']== "approved" %}
          <font color="green"> <b> {{  e['status']|capitalize()  }} </b> </font>
          {% else %}
          <font color="red">  <b> {{ e['status']|capitalize() }} </b> </font>
          {% endif %}
                </td>
            </tr>
            {% endif %}
{% endfor %}
        </tbody>
    </table>

    {% endif%}
              </div>


</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>

  <script type="text/javascript">
    document.getElementById('id-2').className ="nav-parent nav-active active";
    document.getElementById("a").style.display = "block";
    document.getElementById('id-2.8').className ="active";
    </script>
<script type="text/javascript">
$(document).ready(function(){
  $("#start_date_gen").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onSelect:function(selected){
      $("#end_date").datepicker("option","minDate", selected)
    }
  });
  $("#end_date_gen").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)

}
});
    $("#start_date_behalf").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onSelect:function(selected){
      $("#end_date").datepicker("option","minDate", selected)
    }
  });
  $("#end_date_behalf").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)

}
});
});

</script>
<script type="text/javascript">
    function ShowHideDiv() {
        var sel_emp = document.getElementById("selct1");
        var emp = document.getElementById("employee");
        emp.style.display = sel_emp.value == "EMPID" ? "block" : "none";
    }
    function ShowHideDiv_behalf() {
        var sel_emp = document.getElementById("selct1_behalf");
        var emp = document.getElementById("employee_behalf");
        emp.style.display = sel_emp.value == "EMPID" ? "block" : "none";
    }
</script>

<script>
var $selct1 = $('#selct1'), $employee_id = $('#employee_id');
var $selct1_behalf = $('#selct1_behalf'), $employee_id_behalf = $('#employee_id_behalf');
$selct1.change(function () {
    if ($selct1.val() == 'EMPID') {
        $employee_id.removeAttr('disabled');
    } else {
        $employee_id.attr('disabled', 'disabled').val('');
    }
}).trigger('change'); 

$selct1_behalf.change(function () {
    if ($selct1_behalf.val() == 'EMPID') {
        $employee_id_behalf.removeAttr('disabled');
    } else {
        $employee_id_behalf.attr('disabled', 'disabled').val('');
    }
}).trigger('change'); 
</script>

<script type="text/javascript">

$(document).ready( function () {
    $('#example').dataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls_pdf.swf",
           "aButtons": [
            {'sExtends':'copy',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'xls',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'pdf',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
             
          ]
        },
    } );
} );

    
</script>

<script type="text/javascript">
    $(document).ready(function(){
      $('#apl').css('display','block')
        $('#sel_general_report').click(function(){
          $('.leave_history').css('display','none');
            if($(this).prop("checked") == true){
              $('#sel_onbehalf_report').prop('checked', false); 
              $('#apl').css('display','block')
            }else{
              $('#sel_onbehalf_report').prop('checked', true); 
              $('#onbehalf_report').css('display','block')
            
            }
        });

         $('#sel_onbehalf_report').click(function(){
            $('.leave_history').css('display','none');
            if($(this).prop("checked") == true){
              $('#sel_general_report').prop('checked', false); 
              $('#onbehalf_report').css('display','block')
              
            }else{
              $('#sel_general_report').prop('checked', true); 
              $('#apl').css('display','block')
            
            }
        });
    });
</script>

{% endblock %}


