﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table6{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize*/
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
        <h2><i class="fa fa-pencil"></i> Asset Code</h2>
        <div class="breadcrumb-wrapper">
            <span class="label">You are here:</span>
            <ol class="breadcrumb">         
                <li class="active">Asset Code</li>
            </ol>
        </div>
    </div>
  {% endblock %} 
{% block contentpanel %}    
    
<div class="row">        
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">Asset Code</h4>
            </div><!-- panel-heading -->

            <div class="panel-body">
                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6">
                            <div class="form-group form-inline">
                                <label>Department&nbsp;</label> 
                                    <select class="form-control" id="dept" name="dept" style="width:200px" >
                                        <option value="select" >Select Department</option>
                                        {% if dept %}
                                        {% for dep in dept%}
                                        <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>                         
                            </div>
                            <div class="form-group form-inline">
                                <label>Work Center </label> 
                                    <select class="form-control" id="wrk_center" name="wrk_center" style="width:200px" >
                                        <option value="select" >Select Work Center</option>
                                        {% if work_center %}
                                        {% for wrk in work_center%}
                                        <option value="{{ wrk.work_center}}">{{ wrk.work_center_desc}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>                        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">               
                                <input class="form-control assetcode" id="assetcode" name="assetcode"  type="hidden"  value="" placeholder="Asset Code" >    
                            </div>
                        </div> 
                    </div>  

                    <form id="tradeform" action="" method="POST" enctype="multipart/form-data" >

                    <table id="table7" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0"  border="0" >
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>UoM</th>
                                <th>Short Text </th>
                            		<th>Unit Value</th>
                            		<th>Delivery Date</th>
                                <th >Procured at</th>
                            		<th>Attachments</th>
									<th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="body7">
                            <tr>
                                <td>
                                    <input id="Quantity" type="number"  class="form-control quantity" name="quantity7" style="width:100px" min="0.1" step="0.1" onkeypress="return numberValid(event)" >
                                </td>

                                <td>
                                   <input class="form-control uom" id="uom" name="uom7" style="width:100px" type="hidden"  placeholder="uom"  >
                                </td>

                                <td>
                                    <input class="form-control shorttext" type="text" id="short_text" name="shorttext" value="" placeholder="Short Text">
                                </td>

                                <td>
                                    <input id="Unit Value" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value7" style="width:100px" onkeypress="return numberValid(event)" >
                                </td>

                                <td>
                                    <input id="Date7" type=""  class="form-control date" name="date7" size="11" >
                                </td>

                                <td>
                                    <select size="1" id="Procured" class="form-control procured" name="procured4">
                                        <option value="Plant" selected="selected">Plant</option>
                                        <option value="HO">HO</option>
                                    </select>
                                </td>

                                <td>
                                    <input  class="file" type="file" name="file7[]" style="width:90px" >
                                </td>
								<td>
      									<button type="button" name="delete" onclick="deleteRow1(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>
      								</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="  col-xs-4 col-md-2">            
                            <div class="form-group">
                                <input id="add7" type="button"   value="Add line item" class="btn btn-success btn-xs">
                            </div>  
                        </div>   
                          
                        <div class="col-xs-8 col-md-4 col-md-offset-2 ">            
                            <div class="form-group">
                                <input type="hidden"  id="topval" name="topval">
                                <input id="submit" type="submit"  onclick="return validateForm()" value="Submit" class="btn btn-primary btn-block">
                            </div>  
                        </div>   
                    </div> 
                  </form>
<div id="spinModal" class="modal fade" data-keyboard="false" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      	<i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>

					</div>

              </div>
          </div><!-- panel-body -->
        </div><!-- panel --> 
    </div>      
</div><!-- row -->
{% endblock %}  
{% block scripts %}

<script type="text/javascript">
  document.getElementById('id-16').className ="nav-parent nav-active active";
  document.getElementById("f").style.display = "block";
  document.getElementById('id-16.4').className ="active";
</script>  

<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>

<script type="text/javascript">
/* FOR DELETE LINE ITEM */
function deleteRow1(btn) {
  	table7 = $('#table7').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table7 >#body7 >tr').length>1){
    	table7.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}

$(document).ready(function() {
    /*AJAX CALL FOR ASSET CODE FROM MODULE PMPR */ 
    $('.assetcode').select2({
            minimumInputLength: 0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/asset",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return { term: term };
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.main_asset_number+">"+excercise.asset_desc+"--"+excercise.main_asset_number+" </div>";  
            },
            id: function(excercise){
                return excercise.main_asset_number;
            },
            formatAjaxError: function(){
                return 'Asset Code Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#assetcode").val(excercise.main_asset_number);
                return excercise.asset_desc; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });

/*AJAX CALL FOR UOM FROM MODULE PMPR */
            $('.uom').select2({
                    minimumInputLength: 0,
                    placeholder: ' ',
                    allowClear: true,
                    ajax: {
                        url: "/pmpr/uom",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                          return { term: term };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                    },
                    formatResult: function(excercise) {
                  return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
                },
                id: function(excercise){
                  return excercise.mu;
                },
                formatAjaxError: function(){
                  return 'storage Location Does not Exist';
                },
                formatSelection: function(excercise) {
                  $('#uom').val(excercise.mu);
                  return excercise.mu;
                },
                initSelection : function (element, callback) {
                  var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
                }
          });
});
</script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46   ) {
        return false;
    } else {
        return true;
    }
}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
$('.quantity,.unitvalue,.date').bind("cut copy paste",function(e) {
    e.preventDefault();
});
</script>
<script type="text/javascript">
$('#spinModal').modal('hide');
$(document).ready(function(){
    /*INITIALISING DATATABLES,DATEPICKER AND FILESTYLE */
    if ( $.fn.dataTable.isDataTable( '#table7' ) ) {
        table7 = $('#table7').DataTable();
    } else {
        table7 = $('#table7').DataTable( {
            "scrollX": "95%",
            "paging": false,
            "bSort": false,
    	      "columnDefs": [
            { "width": "10%", "targets": 1 },
            { "width": "10%", "targets": 6 }
            ],
            "bFilter": false
        });
    }      
    $('#Date7').datepicker({
          format:"dd.mm.yyyy",
          todayHighlight: true ,
          startDate: "+0d", 
          autoclose: true
    });
   
    $('#table7 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
        if(val!=""){
            if(!(pdfFormat.test(val))) {
                $(':file').filestyle('clear');        
                bootbox.alert('Unsupported file pdf format only');
                $(this).val('');
            }
        }
    }); 
    /* FOR ADD LINE ITEM */
    var row1=0;
    $('#add7').click( function () {
        row1 = row1 +1 ;
        table7.row.add( [
            '<input id="Quantity" type="number"  class="form-control quantity" name="quantity7" min="0.1" step="0.1"  style="width:100px" onkeypress="return numberValid(event)" >',
            '<input class="form-control uom'+row1+'" id="uom'+row1+'" name="uom7" style="width:100px" type="hidden"  placeholder="uom"  >',
            '<input class="form-control shorttext" type="text" id="short_text" name="shorttext" value="" placeholder="Short Text">',
            '<input id="Unit Value" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value7" style="width:100px" onkeypress="return numberValid(event)" >',
            '<input id="DeliveryDate" type=""  class="form-control date" name="date7" size="11">',
            '<select size="1" id="Procured"class="form-control procured" name="procured4"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
            '<input  class="file" type="file" name="file7[]" style="width:90px">',
			'<button type="button" name="delete" onclick="deleteRow1(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>'
               
        ]).draw();	


$('input').hover(function() {
    $(this).attr('title', $(this).val());
});


        var x=row1;
        var y = x+1; 
        $('.date').datepicker({
              format:"dd.mm.yyyy",
              todayHighlight: true ,
              startDate: "+0d", 
              autoclose: true
        });
        /*AJAX CALL FOR UOM FROM MODULE PMPR */
            $('.uom'+row1+'').select2({
                    minimumInputLength: 0,
                    placeholder: ' ',
                    allowClear: true,
                    ajax: {
                        url: "/pmpr/uom",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                          return { term: term };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                    },
                    formatResult: function(excercise) {
                  return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
                },
                id: function(excercise){
                  return excercise.mu;
                },
                formatAjaxError: function(){
                  return 'storage Location Does not Exist';
                },
                formatSelection: function(excercise) {
                  $('#uom'+row1+'').val(excercise.mu);
                  return excercise.mu;
                },
                initSelection : function (element, callback) {
                  var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
                }
          });
        $('#table7 input[type=file]').change(function () {
            var val = $(this).val().toLowerCase();
            var pdfFormat = new RegExp("(.*?)\.(pdf)$");
            if(val!=""){
                if(!(pdfFormat.test(val))) {
                      $(':file').filestyle('clear');        
                      bootbox.alert('Unsupported file pdf format only');
                      $(this).val('');
                }
            }
        }); 
    });
    /* FOR DELETE LINE ITEM */
    /*$("#delete7").click(function(){
        if($('#table7 >#body7 >tr').length>1){
            table7.row('tr:last').remove().draw( false );
        } else {
            bootbox.alert('Please don\'t delete');
        }      
    }); */
});
</script>
<script type="text/javascript">
function validateForm() {
      submit = "";
      var deptvalue = $('#dept option:checked').val();
    if(deptvalue!="select"){
                submit = true;
        } else {
            bootbox.alert("Please fill Department");
            submit = false;
            return false;
            }
        var wrk_centervalue = $('#wrk_center option:checked').val();
    if(wrk_centervalue!="select"){
                submit = true;
            } else {
                bootbox.alert("Please fill Work Center");
                submit = false;
                return false;
            }

      var assetvalue = $('#assetcode').val();
      if(assetvalue!=""){
          submit = true;
      } else {
          bootbox.alert('Please fill Asset ');
          submit = false;
          return false;
      }

      var table7 = $("#table7 #body7");
      store = [ ];
      table7.find('tr').each(function (i) {
          var row = this.rowIndex;
          var tdr = $(this).find('td');
          var quantity = tdr.find('input[name="quantity7"]').val();
          var uom = tdr.find('input[name="uom7"]').val();
          var shorttext = tdr.find('input[name="shorttext"]').val();
          var unitvalue = tdr.find('input[name="unit_value7"]').val();
          var date = tdr.find('input[name="date7"]').val();

          if(quantity != 0){
              var num = /^[0-9]+(\.[0-9]{1,2})?$/;
              var quan = num.test(quantity);
              if(quan){
                  submit = true ;
              } else {
                  bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                  submit = false ;
                  return false;
              }
          } else {
              bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
              submit = false ;
              return false;
          }

          if(uom!=""){
              var alpha = /^[a-zA-Z]+$/;
              var uomtext = alpha.test(uom);
              if(uomtext){
                  submit = true;
              } else{
                  bootbox.alert("UoM in row"+row+" takes only Alphabets");
                  submit = false;
                  return false;
              }
          } else {
              bootbox.alert("Please fill UoM in row "+row+" takes only alphabets");
              submit = false;
              return false;
          }

          if(shorttext!=""){
              submit = true;
          } else {
              bootbox.alert("Please fill Short Text in row "+row+" takes only alphabets");
              submit = false;
              return false;
          }

          if(unitvalue != ""){
              var num = /^[0-9]+(\.[0-9]{1,2})?$/;
              var unitval = num.test(unitvalue);
              if(unitval){
                  submit = true ;
              } else {
                  bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                  submit = false ;
                  return false;
                    }
          } else {
              bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
              submit = false ;
              return false;
          }

          if(date!="") {
              submit = true;
          } else {
              bootbox.alert("Please pick a Date in row "+row);
              submit = false ;
              return false;
          }
      });     
     
      if (submit) {
      	  $('#submit').attr('disabled', 'disabled');
		  $('#spinModal').modal('show');
          a=[]
          dept= document.getElementById('dept').value;
          asset=document.getElementById('assetcode').value;
          wrk_center= document.getElementById('wrk_center').value;
          deptid= $('#dept option:selected').text();

          var d = new Date();
          var month = d.getMonth()+1;
          var day = d.getDate();
          var hour = d.getHours();
          var minute = d.getMinutes();
          var second = d.getSeconds();
          var output =  ((''+day).length<2 ? '0' : '') + day + '' +
                        ((''+month).length<2 ? '0' : '') + month + '' +
                        d.getFullYear() + '' +
                        ((''+hour).length<2 ? '0' :'') + hour + '' +
                        ((''+minute).length<2 ? '0' :'') + minute + '' +
                        ((''+second).length<2 ? '0' :'') + second;


          a.push(dept);//0
          a.push(asset);//1
          a.push(wrk_center);//2
          a.push(deptid);//3
          a.push(output);//4

          document.getElementById("topval").value=a;
          var fd = new FormData(document.getElementById("tradeform"));
          $.ajax({
                  url: '/pmpr/prasset',
                  data:  fd,
                  type: 'POST',
                  processData: false,  
                  contentType: false,
                  dataType: "json",
                  success: function(response) {
                      console.log(response['report']);
                      if(response['report'][0]['check']=='0'){
                          bootbox.alert(response['report'][0]['msg'], function() {location.reload(true);});           
                         
                      } else {
						  $('#spinModal').modal('hide');
                      	  $('#submit').removeAttr('disabled');
                          bootbox.alert(response['report'][0]['msg'], function() {});
                      }
                  }
          });
          return false;
      }
}
</script>
<script>
$(document).ready(function(){ 

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});
});

</script>

{% endblock %}

