{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
<style type="text/css">
body { font-size: 140%; }

.modal-sm{
    width: 600px !important;
    margin: 30px auto !important;
    text-align: center !important;
    font-size: 21px;
}
}

.dataTables_scrollBody{
  margin-top: -14px;
}

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Attendance History</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="alert alert-danger alert-dismissible update_msg" id="alert_msg" role="alert" hidden>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <p class="update_msg" id="update_msg"></p>        
       </div>
      <div class="row">             
        <div class="col-md-12 ">
          <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">HR Attendance History</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

        <div class="row">
         <form  action="" autocomplete="off" id="attendance_form" method="POST" enctype="multipart/form-data">
              <div class="col-xs-12 col-md-3">                  
                <div class="form-group">
                <label for="start_date">Select Plant</label>
                 <select id="plant_id" class="form-control selct1 myinput" name="plant_id">
                                    <option value="HY">HY</option>
                                    <!-- <option value="BP">BP</option>
                                    <option value="TC">TC</option>
                                    <option value="GC">GC</option>
                                    <option value="TA">TA</option>
                                    <option value="GP">GP</option> -->
                                    <option value="EMPID"> EMPID</option>
                              </select> 
                          <br>
                          <div id="employee"  style="display:none">
                            <label>Employee ID</label>
                            <input class="form-control model myinput" type="text" id="employee_id" name="employee_id">
                          </div>
                  </div>
                  </div>
                  
              
          <!-- <div class="col-xs-12 col-md-3">                  
                <div class="form-group">
                <label for="start_date">Attendance Type</label>
                 <select id="attendance_type" class="form-control selct myinput" name="attendance_type">
                                <option value="">&nbsp;</option>
                                <option value="LOP">LOP</option>
                                <option value="Leave">Leave</option>
                                <option value="1">Tour</option>
                                <option value="2">On-Duty</option>
                              </select>     
              </div>
            </div> -->
                <div class="col-xs-12 col-md-3">
                  <div class="form-group">
                    <label for="start_date">Start Date</label>
                      <input id="start_date" type="text" name="start_date" value='' class="form-control start_date myinput" required>
                  </div><br>
                  </div>
                   <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                      <label for="end_date">End Date</label>
                       <input id="end_date" type="text" name="end_date" value='' class="form-control end_date myinput" required></div>
          </div>



          <div class="col-xs-6 col-md-2"> 
                   <div class="form-group">
                   <label>&nbsp</label>
                   <br>
                        <input type="submit"  name="submit" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                       </div>
                   </div>
                  
</form>     
</div>


<div class="table-responsive" style="display:none">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
<thead>
            <tr>
                <th>Date</th>
                <th style="width:100px">Employee Id</th>
                <th style="width:248px">Name</th>
                <th style="width:100px">Punch Time</th>
                <th style="width:55px">Plant Id</th>
                <th>Remarks</th>
            </tr>
        </thead>

    </table>
    </div>

<div class="mydiv"></div>
<!-- modal for success msg -->
                                  
<div class="modal fade success_msg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        </div><!-- panel-body -->
      </div><!-- panel -->
        </div>        
      </div><!-- row -->    
        

{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script> -->
</script>

<script type="text/javascript">
  $(document).ready(function(){ 
      $('#plant_id').change(function(){ 
          var myval=$(this).val();
          console.log(myval);
          if(myval == "EMPID"){
            alert('bingo');
            $('#employee').css('display','block');
          }
      });
  });
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#date_time").datetimepicker({
    format: 'YYYY-MM-DD',
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#start_date").datetimepicker({
    // dateFormat: "dd/mm/yy",
    format: 'YYYY-MM-DD',
    // onSelect:function(selected){
    //   $("#end_date").datepicker("option","minDate", selected)
    // }
  });
  $("#end_date").datetimepicker({ 
        // dateFormat: "dd/mm/yy",
        format: 'YYYY-MM-DD',
//         onSelect: function(selected) {
//            $("#start_date").datepicker("option","maxDate", selected)

// }
});
});

</script>


<script type="text/javascript">
    $(document).ready(function(){ 
      $("#attendance_form").submit(function(e){ 
  e.preventDefault();

var datastring=$(this).serialize();
console.log(datastring);

        $.ajax({
            type: "POST",
            url: "/attendance/get_hr_users",
            data: datastring,
            success: function(data) {
              console.log(data['columns']);
              // ajax datatable loading
              $('.table-responsive').css('display','block');
                 $('#example').DataTable( {
                    destroy: true,
                    data: data['result'],
                    } );
  
            }
     });

//         $.ajax({
//             type: "POST",
//             url: "/attendance/HRajaxdata/",
//             data: datastring,
//             success: function(data) {
//                $('#example').dataTable();
//               var datal=data['result_len'];
//               var data=data['result'];
//               console.log(datal);
//                 var mydataall="";
       
//                   for(var i=0;i<datal;i++ ){
//                     var mydatanew=
//                     '<tr >'+'<tr>'+
//                 '<td>test-data</td>'+
//                 '<td>'+data[i]["username"]+'</td>'+
//                 '<td>'+data[i]["f_name"]+' '+data[i]["l_name"]+'</td>'+
//                 '<td>test-data</td>'+
//                 '<td>test-data</td>'+ 
//                 '<td>'+data[i]["plant_id"]+'</td>'+
//                 '<td>'+
//                 '<form class="attendance_update" method="POST">'+
//                 '<div class="row">'+
//                 '<div class="col-md-8">'+
//                      '<select id="attendance_exception" class="form-control selct" style="width:100%" name="attendance_exception">'+
//                           '<option value="1">Pick A Exception</option>'+
//                           '<option value="leave">Leave</option>'+
//                           '<option value="lop">LOP</option>'+
//                           '<option value="ot">Tour</option>'+
//                           '<option value="od">On-Duty</option>'+
//                           '<option value="ftp">Forgot to Punch</option>'+
//                        '</select>'+
//                 '</div>'+
                
//                 '<div class="col-md-4">'+
                   
//                   '<input type="hidden" value='+data[i]["username"]+' name="attendance_id"/>'+
//           '<button class="btn btn-danger tooltips" data-placement="top" data-original-title="update Attendance" name="submit" value="update" id="attendance_update_submit">update</button>'+
            
          
//                 '</div>'+
//                 '</div>'+
//                 '</form>'+
//                 '</td>'+
//             '</tr>'+
//                         '</tr>';
//                         mydataall=mydataall+mydatanew;

//         }
//         $('#mydata').html(mydataall);
//         console.log('before');

//          console.log('after');
           
// }


//             });

     });


 });



  </script>


  <script type="text/javascript">
    $(document).ready(function(){ 
      $(document).on('submit','.attendance_update',function(e){
        e.preventDefault();

        var datastring=$(this).serialize();

        console.log(datastring);
        alert(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/attendance_reason",
            data: datastring,
            success: function(data) {
              console.log(data);
              if (data['result']== "1"){
                msg='<div style="color:red"><i class="fa fa-times-circle-o" aria-hidden="true" style="color:red"></i> Please Select A Exception To Update</div>'
              }
              else if(data['result'] == "2"){
                msg='<div style="color:green"><i class="fa fa-check-square-o" aria-hidden="true" style="color:green"></i> Sucessfully Updated</div>'
              }
              bootbox.alert(msg);
            }
          });
      });
    });
</script>
  <script type="text/javascript">
  document.getElementById('id-att_rep.0').className ="nav-parent nav-active active";
      document.getElementById("attendance").style.display = "block";
document.getElementById('id-att_rep.3').className ="active";
    </script>

{% endblock %}
