{% extends "base.html" %}
{% block pageheader %}  
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  -->
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
<!-- <link type="text/css" href="css/bootstrap.min.css" /> -->
        <link type="text/css" href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" />
        <!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
        <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script>
    <div class="pageheader">
      <h2><i class="fa fa-money"></i>Attendance Configurations</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
<style type="text/css">
  #preloder{
    background-color: rgba(228, 231, 234, 0.27) !important;
  }
</style>

<!-- Function to preview pdf after selecting year and respective month with last six month duration-->

<!-- <script type="text/javascript">
/*function to download the previewed pdf */ 

function down()
{

 window.open("/static/attendance_reports/annexure4.xlsx",'_blank');

}
</script> -->




<style type="text/css">
.input-sm1
{
  width:100px;
}
</style>
      
      <div class="panel panel-default">
        <div class="panel-heading">
         
          <h4 class="panel-title">Configuring Check-In & Check-Out</h4>
           </div><!-- panel-heading -->

        <div class="panel-body">
        <div class="alert alert-success alert-dismissible" id="return_msg" role="alert" hidden>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <p id="alrt_msg"> </p> 
        
       </div>
           <div class="row">           
              <div class="col-xs-12 col-md-12">
                <div class="row">
                <div class="col-md-12">
                 <div class="col-xs-6 col-md-4 check_type" id='div_checkin'> 
                   <div class="form-group">
                   <input type="checkbox" name="check_time" id="config_checkin" checked> <label for="">Configure Check-In Time</label>
                       </div>
                   </div>
                    <div class="col-xs-6 col-md-4 check_type" id='div_checkout'> 
                   <div class="form-group">
                   <input type="checkbox" name="check_time" id="config_checkout"> <label for="">Configure Check-Out Time</label>
                       </div>
                   </div>
                   </div>
                  <form  action="" autocomplete="off" id="attendance_report_checkin" class='search_form' method="POST" enctype="multipart/form-data">
              <input value="checkin_form" name='form_type' style="display:none">
              <input value="{{ user_details['plant_id']}}" name='plant_id' style="display:none">
                  {% for i in range(fieldlen) %}
                <div class="col-xs-12 col-md-2" id='check_in_time'>
                  <div class="form-group">
                    <label for="start_date">{{fields[i]}}</label>
                    <input id="in_{{i}}" value="{{config_details['cutoff_intime'][fields[i]]}}" name="{{fields[i]}}" type="text" class="form-control timepicker2" required>
                  </div><br>
                  </div>

                  {% endfor %}

                <div class="col-xs-6 col-md-2"> 
                   <div class="form-group">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Update In-Time"/> 
                       </div>
                </div>
                  
</form>     

<!-- #second form for configuring checkout time -->
<form  action="" autocomplete="off" id="attendance_report_checkout" class='search_form' method="POST" enctype="multipart/form-data" style="display:none">
              
              <input value="{{ user_details['plant_id']}}" name='plant_id' style="display:none">
              <input value="checkout_form" name='form_type' style="display:none">
                  {% for i in range(fieldlen) %}
                <div class="col-xs-12 col-md-2" id='check_out_time'>
                  <div class="form-group">
                    <label for="start_date">{{fields[i]}}</label>
                    <input id="out_{{i}}" value="{{config_details['cutoff_outtime'][fields[i]]}}" name="{{fields[i]}}" type="text" class="form-control timepicker2" required>
                  </div><br>
                  </div>
                  
                  {% endfor %}

          <div class="col-xs-6 col-md-2"> 
                   <div class="form-group">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Update Out-Time"/> 
                       </div>
                   </div>
                  
</form>  


</div>

<!--  <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker2" type="text" class="form-control input-small">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div> -->
 
        <script type="text/javascript">
            $('.timepicker2').timepicker({
                minuteStep: 1,
                template: 'modal',
                appendWidgetTo: 'body',
                showSeconds: true,
                showMeridian: false,
                defaultTime: false
            });
        </script>

  <span></span>

</div>                  
                </div>
              </div>
          </div>

<div class="alert alert-success alert-dismissible" id="return_msg2" role="alert" hidden>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
      </button>
      <p id="alrt_msg2"> </p> 
</div>

 <div class="row">
  <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Configure Email Notifications</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      <div class="row">
      <form  action="" autocomplete="off" id="enable_disable_email" method="POST" enctype="multipart/form-data">
           <input value="{{ user_details['plant_id']}}" name='plant_id' style="display:none">
           <input value="{{ email_config['status'] }}" name='status' style="display:none">
            <div class="col-md-12 col-sm-12" style="margin-bottom:40px;">
            <label for=""></label>
            <div class="form-group">
            {% if email_config['status'] == 'Enabled' %}
                  Email Notification Status : <button type="submit" value="1" class="btn btn-primary status">{{email_config['status']}}</button>
            {%endif%}
            {% if email_config['status'] == 'Disabled' %}
                  Email Notification Status : <button type="submit" value="0" class="btn btn-danger status">{{email_config['status']}}</button>
            {%endif%}
                  </div>
            </div>
</form>
        
      </div>
      <div class="row">

          <form  action="" autocomplete="off" id="attendance_email_config" method="POST" enctype="multipart/form-data">
              <input value="email_config" name='form_type' style="display:none">
              <input value="" name='email_type_h' id='email_type_h' style="display:none">
              <input value="{{ user_details['plant_id']}}" name='plant_id' style="display:none">
                <div class="col-xs-12 col-md-2" id=>
                  <div class="form-group">
                    <label for="">Select Notification type</label>
                    <select id="email_type" value="" name="" type="text" class="form-control">
                      <option value=""></option>
                      <option value="late">Late</option>
                      <option value="noinfo">No Information</option>
                       <option value="singlepunch">Single Punch</option>
                    </select>

                  </div><br>
                  </div>

                <div class="col-xs-12 col-md-8">
                  <div class="form-group">
                    <label for="start_date">Enter Email Body</label>
                    <textarea id="email_body" value="" name="email_body" type="text" class="form-control" required></textarea>
                  </div><br>
                  </div>

          <div class="col-xs-6 col-md-2"> 
                   <div class="form-group">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="save_email_body" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Save"/> 
                       </div>
                   </div>
                  
</form>  
<div class="col-lg-12">
<div class="portlet-content">   


</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

      

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('#attendance_report_checkin').css('display','block')
        $('#config_checkin').click(function(){
          $('.search_form').css('display','none');
            if($(this).prop("checked") == true){
              $('#config_checkout').prop('checked', false); 
              $('#attendance_report_checkin').css('display','block')
            }else{
              $('#config_checkout').prop('checked', true); 
              $('#attendance_report_checkout').css('display','block')
            
            }
        });

         $('#config_checkout').click(function(){
            $('.search_form').css('display','none');
            if($(this).prop("checked") == true){
              $('#config_checkin').prop('checked', false); 
              $('#attendance_report_checkout').css('display','block')
              
            }else{
              $('#config_checkin').prop('checked', true); 
              $('#attendance_report_checkin').css('display','block')
            
            }
        });
    });
</script>
<script type="text/javascript">
  $(document).ready(function(){ 

    $('#start_date').datepicker({
      autoclose: true,
      format: "dd-mm-yyyy",
    });
    $('#end_date').datepicker({
      autoclose: true,
      format: "dd-mm-yyyy",
    });

});


    $(document).ready(function(){ 
      $('#alrt_msg').html('');
      $('#send_mail').hide();
      $("#attendance_report_checkin").submit(function(e){ 
  e.preventDefault();

var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/update_cutofftimes/",
             dataType: "json",
            data: datastring,
            success: function(data) {

              console.log(data);
              if (data['msg']=="error"){
                  $('#return_msg').addClass("alert-danger");
                $('#alrt_msg').html('Unable To Update.Please Try Again.');
                 $('#return_msg').show();
              }else{
                $('#alrt_msg').html(data['msg']);
                 $('#return_msg').show();
                 $('#send_mail').show();
                 $('#attendance_report').hide();
               
              }
            }
          });
      });


$("#attendance_report_checkout").submit(function(e){ 
  e.preventDefault();

var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/update_cutofftimes/",
            dataType: "json",
            data: datastring,
            success: function(data) {

              console.log(data);
              if (data['msg']=="error"){
                  $('#return_msg').addClass("alert-danger");
                $('#alrt_msg').html('Unable To Update.Please Try Again.');
                 $('#return_msg').show();
              }else{
                $('#alrt_msg').html(data['msg']);
                 $('#return_msg').show();
                 $('#send_mail').show();
                 $('#attendance_report').hide();
               
              }
            }
          });
      });


    });

// screen for editting the email subjects for late commers,absenties and employees having single punches.
    $("#email_type").change(function(e){      
var datastring={'email_type':$('#email_type').val()};
$('#email_type_h').val($('#email_type').val());
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/update_emailbody/",
             dataType: "json",
            data: datastring,
            success: function(data) {
              $('#email_body').val(data['result'])
              console.log(data);
              
            }
          });
      });

    
    $("#enable_disable_email").submit(function(e){      
        // e.preventDefault();
// var datastring={'email_type':$('#email_type').val()};
// $('#email_type_h').val($('#email_type').val());
var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/enable_disable_email/",
             dataType: "json",
            data: datastring,
            success: function(data) {
             if (data['msg']=="error"){
                  $('#return_msg2').addClass("alert-danger");
                $('#alrt_msg2').html('Unable To Update.Please Try Again.');
                 $('#return_msg2').show();
              }else{
                  $('#return_msg2').addClass("alert-danger");
                $('#alrt_msg2').html(data['msg']);
                 $('#return_msg2').show();               
              }
              
            }
          });
      });

$("#attendance_email_config").submit(function(e){ 
  e.preventDefault();

var datastring="form_type="+$('#form_type').val()+"&email_type_h="+$('#email_type_h').val()+"&plant_id="+$('#plant_id').val()+"&email_body="+$('#email_body').val();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/save_emailbody/",
             dataType: "json",
            data: datastring,
            success: function(data) {

              console.log(data);
              if (data['msg']=="error"){
                  $('#return_msg2').addClass("alert-danger");
                $('#alrt_msg2').html('Unable To Update.Please Try Again.');
                 $('#return_msg2').show();
              }else{
                $('#alrt_msg2').html(data['msg']);
                 $('#return_msg2').show();               
              }
            }
          });
      });



$( document ).ajaxStart(function() {
  $( "#preloader" ).show();
  $("#status").show();
});

$( document ).ajaxStop(function() {
  $( "#preloader" ).hide();
  $("#status").hide();
});


</script>

  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.5').className ="active";
    </script>
{% endblock %} 
