<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="Cache-control" content="no-cache">
 <meta http-equiv="pragma" content="no-cache" />
 <meta http-equiv="Expires" content="-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Penna Cements Limited is the Industry Leader in Manufacturing Cements ">
  <link rel="shortcut icon" href="/static/images/favicon.png" type="/static/image/png">

  <title>Welcome to Penna Cement Industries Limited Employee Portal</title>

  <!--   <link href="/static/css/style.katniss.css" rel="stylesheet"> -->
  <link href="/static/css/style.default.css" rel="stylesheet">
 <!--  <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet"> -->

{% block links %}
{% endblock %}
<style type="text/css">
  .preloaderl{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4e7ea;
    z-index: 10000;
}

  .statusl {
    width: 7%;
    height:auto;
    position: absolute;
    left: 50%;
    top: 34%;
    margin: -15px 0 0 -15px;
    font-size: 15px;
}
</style>
  <script src="/static/js/jquery-1.11.1.min.js"></script>
</head>

<body >

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="preloaderl" style="display:none">

     <img class="statusl" src="/static/att_gifs/animat-pencil-color.gif" style="display:none">

</div>

<section>
  
  <div class="leftpanel">
    
    <div class="logopanel">
                       <h1><span><img  src="/static/images/logo.jpg" height="75" width="210" ></span></h1>

    </div><!-- logopanel -->
        
    <div class="leftpanelinner">    
        
        <!-- This is only visible to small devices -->
     
      

     <h5 class="sidebartitle"></h5>
      <ul class="nav nav-pills nav-stacked nav-bracket"> 
       <li id="id-1"><a href="/user/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
{% if user_details.ale or user_details.ob or user_details.al or user_details.rep or user_details.eh or user_details.hl%}

<li class="nav-parent" id="id-2"><a href=""><i class="fa fa-leaf"></i> <span>Leave Management</span></a>
         <ul class="children" id="a">
         <li id="id-2.1"><a href="/leave"><i class="fa fa-pencil-square-o"></i>Apply Leave</a></li>  
    
    <li id="id-2.2"><a href="/leave/history"><i class="fa fa-bar-chart-o"></i> Leave History</a></li>
      
{% if user_details.ob %}

  <li id="id-2.3"><a href="/leave/eapply"><i class="fa fa-external-link"></i>On Behalf</a></li>

    {% endif %}

   {% if user_details.al %}
    <li id="id-2.4"><a href="/leave/approvals"><i class="fa fa-check-square-o"></i> Leave Approvals</a></li>
  {% endif %} 

<!--

 {% if user_details.rep %}

         <li id="id-2.5"><a href="/leave/reports"><i class="fa  fa-files-o"></i>HR Leave Report</a></li>  
    {% endif %} 

-->

  {% if user_details.eh %}

         <li id="id-2.6"><a href="/leave/ehistory"><i class="fa  fa-files-o"></i>RM Leave Report</a></li>  
    {% endif %}

<!--
   {% if user_details.hl%}
      <li id="id-2.7"><a href="/leave/holdleaves"><i class="fa  fa-shield"></i> Hold Leaves</a></li>
    {% endif %} 
-->

  <li id="id-2.10"><a href="/leave/holidays/"><i class="fa fa-list-alt"></i>Holidays Calendar</a></li>  

{% if user_details.rep %}

    <li id="id-2.8"><a href="/leave/newreports/"><i class="fa  fa-files-o"></i>HR Leave Report</a></li>  
    {% endif %} 

{% if user_details.hl%}
      <li id="id-2.9"><a href="/leave/newholdleaves/"><i class="fa  fa-shield"></i></i></i>Hold Leaves</a></li>
    {% endif %}

         </ul>
 </li>
    {% endif %}


    <!--  {% if user_details.la or user_details.ae%}   
  <li class="nav-parent" id="id-3"><a href="/leave/"><i class="fa fa-cogs"></i> <span>Configure</span></a>
         <ul class="children" id="b">
        {% if user_details.la %}
         <li id="id-3.1"><a href="/leave/levels"><i class="fa  fa-sitemap"></i> Approval Levels</a></li> 
             {% endif %} 
    <li id="id-3.2"><a href="/leave/time"><i class=" glyphicon glyphicon-time"></i> Leave Time</a></li>
    {% if user_details.ae %}
      <li id="id-3.3"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
      <li id="id-3.4"><a id="link" href="/sap/updateemployees/" ><i class="glyphicon glyphicon-upload"></i> Update Employees</a></li>
      {% endif %} 
         </ul>
 </li>
 {% endif %} -->

  {% if user_details.la or user_details.ae or user_details.super_level_config or user_details.login_logout_config %}   
  <li class="nav-parent" id="id-3"><a href="/leave/"><i class="fa fa-cogs"></i> <span>Configure</span></a>
         <ul class="children" id="b">
          {% if user_details.login_logout_config %}
           <li id="id-3.5"><a href="/attendance/attendance_config/" ><i class="fa fa-cogs"></i>Login/Logout Time</a></li>
           <li id="id-3.6"><a href="/attendance/userdetails_html/" ><i class="fa fa-cogs"></i>Manage Mailing List</a></li>
           <li id="id-3.7"><a href="/attendance/sync_employee_master/" ><i class="fa fa-cogs"></i>New Employes Load</a></li>
           {% endif %}
        {% if user_details.la or user_details.super_level_config %}
         <li id="id-3.1"><a href="/leave/levels"><i class="fa  fa-sitemap"></i> Approval Levels</a></li> 
             {% endif %} 
             {% if not user_details.super_level_config %}
    <li id="id-3.2"><a href="/leave/time"><i class=" glyphicon glyphicon-time"></i> Leave Time</a></li>
    {% endif %}
    {% if user_details.ae %}
      <li id="id-3.3"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
      <li id="id-3.4"><a id="link" href="/sap/updateemployees" ><i class="glyphicon glyphicon-upload"></i> Update Employees</a></li>
      {% endif %} 
         </ul>
 </li>
      {% endif %}
      <!-- HR Policy Tab-->
<li class="nav-parent" id="id-50"><a href="/user/"><i class="glyphicon glyphicon-user"></i> <span>HR Policies</span></a>
  <ul class="children" id="l">
  {% if user_details.rep %}
    <li id="id-50.1"><a href="/user/policy_hrupload/"><i class="fa fa-upload"></i>Upload</a></li>
  {%endif%}
    <li id="id-50.2"><a href="/user/policy_hrview/"><i class="fa fa-eye"></i>View</a></li>
  </ul>
  </li>
<!-- ResumeBank  links  98 to 119 Code is Written By Sairam On 22_APR_2016-->
{% if user_details.ERecuriadmin%}
    <li class="nav-parent" id="id-32"><a href="/user/"><i class="fa fa-archive"></i> <span>E Recruitment</span></a>
      <ul id="menu-lateral1" class="children" >
      <li  id="id-32.1"><a href="#"><i class="fa fa-bookmark"></i><span>Resume Data Bank</span>
        <ul class="children" id="r">
          <li id="id-32.1.1"><a href="/resumebank/uploadprofile/"><i class="fa fa-upload"></i> Upload</a></li> 
            <li id="id-32.1.2"><a href="/resumebank/search/"><i class="fa fa-search"></i>Search</a></li>
          
        </ul>
      </li>
    </ul>
       
      </li>
 {% endif %}
    <script type="text/javascript">
      $('#menu-lateral1').hide();
      $('#menu-lateral1 .children').hide(); //Hide children by default
      
    $('#menu-lateral1 li a').click(function(){

    $(this).siblings('.children').slideToggle('slow');
    });
    </script>

    {% if user_details.pa%}  

    <li class="nav-parent" id="id-4"><a href="/leave/"><i class="fa fa-check-square-o"></i> <span>Approvals </span></a>
         <ul class="children" id="c">
   {% if user_details.pa %}
         <li id="id-4.1"><a href="/user/profileapprovals"><i class="fa  fa-user"></i>Profile Approvals</a></li> 
  {% endif %} 

         </ul>
 </li>
  {% endif %} 

  
    {% if user_details.trade or user_details.nontrade or user_details.po or user_details.sales or user_details.coll or user_details.ag %}


   <li class="nav-parent" id="id-5"><a href="/leave/"><i class="fa fa-th-large"></i> <span>Product Apps</span></a>
         <ul class="children" id="d">
   {% if user_details.trade%}

         <li id="id-5.1"><a href="/user/trade"><i class="fa  fa-files-o"></i> Trade Order</a></li>  
    {% endif %} 

  {% if user_details.nontrade%}

         <li id="id-5.2"><a href="/user/nontrade"><i class="fa  fa-files-o"></i>  Non Trade Order</a></li>  
    {% endif %}

    {% if user_details.po%}

         <li id="id-5.6"><a href="/user/preports"><i class="fa  fa-files-o"></i>Pending Order Report</a></li>  
    {% endif %}


      {% if user_details.sales%}

         <li id="id-5.4"><a href="/user/sreports"><i class="fa  fa-files-o"></i>Sales Report</a></li>  
    {% endif %}
      {% if user_details.coll%}

         <li id="id-5.5"><a href="/user/creports"><i class="fa  fa-files-o"></i>Collection Report</a></li>  
    {% endif %}

    {% if user_details.ag  %}

         <li id="id-5.3"><a href="/user/areports"><i class="fa  fa-files-o"></i>Aging Report</a></li>  
    {% endif %}


       </ul>
   
 </li>
    {% endif %}
    
 {% if user_details.ps or  user_details.f16 %}
   <li class="nav-parent" id="id-15"><a href="/user/"><i class="fa fa-print"></i> <span>Payroll</span></a>
         <ul class="children" id="e">
    
{% if user_details.ps %}
        <li id="id-15.1"><a href="/payroll/payslips"><i class="fa fa-money"></i> Payslips</a></li>
{% endif %}
{% if user_details.f16 %}
<li id="id-15.2"><a href="/payroll/form16"><i class="fa fa-list-alt"></i> Form16</a></li>
{% endif %}

     </ul>
   
 </li>
 {% endif %} 
{% if user_details.operationreportsmenu or user_details.DMR_creation or user_details.DMR_approval%}
<li class="nav-parent" id="id-100"><a href="/user/"><i class="glyphicon glyphicon-tree-deciduous"></i> <span>Plant Operations</span></a>
  <ul id="menu-EDPR" class="children" >
  <li  id="id-100.1"><a href="#"><i class="fa fa-thumbs-up"></i><span>Mines</span>
    <ul class="children" id="j">
     {% if user_details.mrpentry or user_details.mrpview %}
      <!-- <li id="id-100.1.1"><a href="/opreports/minisequipmentreport"><i class="fa fa-asterisk"></i>EDSR Form</a></li> 
      <li id="id-100.1.2"><a href="/opreports/minesreport"><i class="fa fa-asterisk"></i>EDSR View</a></li>
      <li id="id-100.1.2"><a href="/opreports/mines_pdf/"><i class="fa fa-asterisk"></i>PDF</a></li> -->
       <li id="id-100.1.1"><a href="/opreports/minisequipmentreport"><i class="fa fa-asterisk"></i>EDSR Form</a></li> 
      <li id="id-100.1.2"><a href="/opreports/minesreport"><i class="fa fa-asterisk"></i>EDSR Edit</a></li>
      <li id="id-100.1.4"><a href="/opreports/mines_pdf_download/"><i class="fa fa-asterisk"></i>EDSR View</a></li>
      {%endif%}
       {% if user_details.mrp_approve %}
          <li id="id-100.1.3"><a href="/opreports/minesreportlist"><i class="fa fa-asterisk"></i>EDSR Approval</a></li> 
           <!-- <li id="id-100.1.2"><a href="/opreports/minesdailyreportforhod"><i class="fa fa-asterisk"></i>EDSR View</a></li>  -->
            <li id="id-100.1.4"><a href="/opreports/mines_pdf_download/"><i class="fa fa-asterisk"></i>EDSR View</a></li>
          {% endif %}
          {% if user_details.oprview %}
             <!-- <li id="id-100.1.2"><a href="/opreports/minesdailyperformancereport"><i class="fa fa-asterisk"></i>EDSR View</a></li>  -->
              <li id="id-100.1.4"><a href="/opreports/mines_pdf_download_HO/"><i class="fa fa-asterisk"></i>EDSR View</a></li>
          {% endif%}

      </ul>
   </li>
   <li id="id-101.1"><a href="#"><i class="fa fa-thumbs-up"></i><span>Safety Report</span>
     <ul class="children" id="o">
     {% if user_details.accentry %}
     <li id="id-101.1.1"><a href="/opreports/accidentForm/"><i class="fa fa-asterisk"></i>Acc./Incident Form</a></li> 
     {%endif%}
     {% if user_details.accapporve %}
     <li id="id-101.1.2"><a href="/opreports/safety_approval/"><i class="fa fa-asterisk"></i>Acc./Incident &nbsp;&nbsp;&nbsp;&nbsp;Approval</a></li> 
     {%endif%}
     <li id="id-101.1.3"><a href="/opreports/safetyreport_generate/"><i class="fa fa-asterisk"></i>Report View</a></li>
      <!-- <li id="id-101.1.3"><a href="/opreports/safety_summary/"><i class="fa fa-asterisk"></i>Summary</a></li> -->
       <li id="id-101.1.4"><a href="/opreports/pdf_download/"><i class="fa fa-asterisk"></i>Summary PDF</a></li>
     </ul>
   </li>
    {% if user_details.DMR_creation or user_details.DMR_approval %}
   	<li  id="id-100.DMR"><a href="#"><i class="fa fa-thumbs-up"></i><span>Daily Mines Report</span>
    <ul class="children" id="id-DMR">
        {% if user_details.DMR_creation%}    
        <li id="id-mines_rep.01"><a href="/opreports/Mines_Report/"><i class="fa  fa-sitemap"></i>Entry From</a></li>
        <li id="id-mines_rep.03"><a href="/opreports/Mines_Report_History/"><i class=" glyphicon glyphicon-time"></i>History</a></li>
     	{% endif %}
     	{% if user_details.DMR_approval%}
        <li id="id-mines_rep.02"><a href="/opreports/Mines_Report_Approval/"><i class=" glyphicon glyphicon-time"></i>Approval</a></li>
        <li id="id-mines_rep.03"><a href="/opreports/DMR_Approval_History/"><i class=" glyphicon glyphicon-time"></i>History</a></li>
  		 {% endif %}
        <!-- <li id="id-mines_rep.04"><a href="/pmpr/Mines_Report_Approval/"><i class=" glyphicon glyphicon-time"></i>Approval</a></li> -->
      </ul>
   </li>
  {% endif %}
  </ul>
  </li>
 {% endif %}
<script type="text/javascript">
  $('#menu-EDPR').hide();
  $('#menu-EDPR .children').hide(); //Hide children by default
  
$('#menu-EDPR li a').click(function(){

$(this).siblings('.children').slideToggle('slow');
});
</script>

 
 <li class="nav-parent" id="id-34"><a href="/user/"><i class="glyphicon glyphicon-flash"></i> <span>Pennovation</span></a>
    <ul class="children" id="q">
        <li id="id-34.1"><a href="/pennovation/pennovationideas"><i class="fa fa-upload"></i> Submit Ideas</a></li> 
        <li id="id-34.2"><a href="/pennovation/pennovationsubmissions"><i class="fa fa-file-text"></i> View Submissions</a></li>
         {% if user_details.pennomanager %}
        <li id="id-34.3"><a href="/pennovation/pennovationIMView"><i class="fa fa-file-text"></i> Innogate Manager </a></li>
        {% endif %} 
        {% if user_details.pennoboard %}
        <li id="id-34.4"><a href="/pennovation/pennovationBoardMemberView"><i class="fa fa-file-text"></i> Board View </a></li>  
        {% endif %} 
    </ul>
  </li>
 
 {% if user_details.pmprmivcreation %}   
  <li class="nav-parent" id="id-16"><a href="/leave/"><i class="fa fa-cogs"></i> <span>PR Creation</span></a>
         <ul class="children" id="f">
        <li id="id-16.5"><a href="/pmpr/generalprcreations"><i class="fa  fa-check-square-o"></i>General PR</a></li>
        <!-- <li id="id-16.1"><a href="/pmpr/prcreation"><i class="fa  fa-check-square-o"></i> PR-PM Order</a></li> -->
       <li id="id-16.2"><a href="/pmpr/prcostcenter"><i class="fa  fa-check-square-o"></i>Costcenter</a></li>
       <!-- <li id="id-16.3"><a href="/pmpr/prproject"><i class="fa  fa-check-square-o"></i>WBS Element</a></li> 
       <li id="id-16.4"><a href="/pmpr/prasset"><i class="fa  fa-check-square-o"></i>Asset Code</a></li> -->

         </ul>
 </li>

      {% endif %}

{% if user_details.pmprmivapproval %}
 <li id="id-17"><a href="/pmpr/prapproval" ><i class="fa fa-check"></i> <span>PR Approval</span></a></li>
{% endif %}

 <!-- pr history -->

<!-- <li id="id-21"><a href="/pmpr/prreports" ><i class="fa fa-check"></i> <span>PR History</span></a></li> -->
<!-- {% if user_details.DMR_creation or user_details.DMR_approval%}
 <li class="nav-parent" id="id-mines_rep"><a href=""><i class="fa fa-cogs"></i> <span>Daily Mines Report</span></a>
      <ul class="children" id="id-mines_rep_a">
      {% if user_details.DMR_creation%}        
        <li id="id-mines_rep.01"><a href="/opreports/Mines_Report/"><i class="fa  fa-sitemap"></i>Entry From</a></li>
        <li id="id-mines_rep.03"><a href="/opreports/Mines_Report_History/"><i class=" glyphicon glyphicon-time"></i>History</a></li>
        {% endif %}
      {% if user_details.DMR_approval%}
        <li id="id-mines_rep.02"><a href="/opreports/Mines_Report_Approval/"><i class=" glyphicon glyphicon-time"></i>Approval</a></li>
        <li id="id-mines_rep.03"><a href="/opreports/DMR_Approval_History/"><i class=" glyphicon glyphicon-time"></i>History</a></li>
      {% endif %}
        <li id="id-mines_rep.04"><a href="/pmpr/Mines_Report_Approval/"><i class=" glyphicon glyphicon-time"></i>Approval</a></li>
      </ul>
 </li>
{% endif %} -->

{% if user_details.pmprmivcreation %}   
  <li class="nav-parent" id="id-18"><a href="/leave/"><i class="fa fa-cogs"></i> <span>PR Reports</span></a>
         <ul class="children" id="g">
           <li id="id-18.1"><a href="/pmpr/materiallist_report"><i class="fa  fa-check-square-o"></i>Material list Report </a></li> 
     <!--   <li id="id-18.2"><a href="/pmpr/comparision_report"><i class="fa  fa-check-square-o"></i>Comparision Report</a></li>
       <li id="id-18.3"><a href="/pmpr/consumption_report"><i class="fa  fa-check-square-o"></i>Consumption Report</a></li> -->
       <li id="id-18.4"><a href="/pmpr/prstatus_report"><i class="fa  fa-check-square-o"></i>PR Status Report</a></li>
      </ul>
 </li>
      {% endif %}
  <!--EPMS LINKS WRITTEN BY UPENDRA on 15-June-2016 -->

<li class="nav-parent" id="id-33"><a href="/user/"><i class="fa fa-thumbs-up"></i> <span>E-PMS</span></a>
    <ul class="children" id="p">
        <li id="id-33.1"><a href="/epms/epmsmain"><i class="fa fa-upload"></i> Appraisee</a></li> 
        <li id=""><a href="/static/Docs/PMS Process Steps - Appraisee.pdf" target="_blank"><i class="fa fa-file-text"></i> Appraisee Guidelines</a></li>  
         {% if user_details.al %}
        <li id="id-33.2"><a href="/epms/appraiser_view/"><i class="fa fa-eye"></i> Appraiser/Reviewer</a></li>
          <li id=""><a href="/static/Docs/PMS Process Steps - Appraiser.pdf" target="_blank"><i class="fa fa-file-text">
            </i> Appraiser Guidelines</a></li>  
        {% endif %}
        {% if user_details.ae %}
        <!--  <li id="id-33.6"><a href="/epms/epmsHRreports"><i class="fa fa-eye"></i> HR Reports</a></li>  -->
        {% endif %}
<!-- <li class="nav-parent" id="id-33"><a href="/user/"><i class="fa fa-thumbs-up"></i> <span>E-PMS</span></a>
    <ul class="children" id="p"> -->
        {% if user_details.epmsfinalreport %}
          <li id="id-33.6"><a href="/epms/epmsreports"><i class="fa fa-eye"></i>Reports</a></li> 
          <li id="id-33.7"><a href="/epms/epmsfinalreport"><i class="fa fa-print"></i>Overall Report</a></li>
          <!-- <li id="id-33.8"><a href="/epms/epmskrareport"><i class="fa fa-print"></i>KRAs Report</a></li>
          <li id="id-33.9"><a href="/epms/epmstrainingreport"><i class="fa fa-print"></i>Training Attended</a></li>
          <li id="id-33.10"><a href="/epms/epmstrainingneedreport"><i class="fa fa-print"></i>Training Needs</a></li> -->
        {% endif %}
    </ul>
  </li>
   <!-- Fortnight -->
    {%if user_details.fortnghtmenu %}
   <li class="nav-parent" id="id-37"><a href="/user/"><i class="fa fa-thumbs-up"></i> <span>Fortnight</span></a>
         <ul class="children" id="u">
         {%if user_details.fortnightentry %}
         <li id="id-37.1"><a href="/epms/fortnight_form/"><i class="fa fa-file"></i>Entry Form</a></li> 
         <li id="id-37.4"><a href="/epms/fortnight_edit_form/"><i class="fa fa-file"></i>Fortnight Edit</a></li>
         {%endif%} 
         {%if user_details.fortnightview %}
         <li id="id-37.2"><a href="/epms/fortnight_auth/"><i class="fa fa-file"></i>Form View</a></li> 
          <!-- <li id="id-37.3"><a href="/epms/fortnight_setpass/"><i class="fa fa-file"></i>Set Password</a></li>     -->
          {%endif%}    
       </ul>
      </li>
       {%endif%}
  <!--KRA Links -->
       <li class="nav-parent" id="id-35"><a href="/user/"><i class="fa fa-thumbs-up"></i> <span>KRAs</span></a>
         <ul class="children" id="s">
        <li id="id-35.1"><a href="/epms/epmskrasentryform"><i class="fa fa-upload"></i> KRAs Form</a></li> 
       
         {% if user_details.al %}
        <li id="id-35.2"><a href="/epms/emps_kra_view"><i class="fa fa-upload"></i> KRA/PMS Approval</a></li>
        <li id="id-35.3"><a href="/epms/emps_kra_teamview"><i class="fa fa-upload"></i> KRA/PMS View</a></li>
        {% endif %}
       
        
        {% if user_details.epmsfinalreport %}
            <li id="id-33.9"><a href="/epms/emps_kra_view"><i class="fa fa-upload"></i> KRA/PMS History</a></li> 
        {% endif %} 
       </ul>
      </li>
   <!-- Goals -->
   <li class="nav-parent" id="id-36"><a href="/user/"><i class="fa fa-thumbs-up"></i> <span>Goals</span></a>
         <ul class="children" id="t">
      {% if user_details.cp_kra_l1 %}   
        <li id="id-36.1"><a href="/epms/cp_KRA"><i class="fa fa-upload"></i>Goals 17-18</a></li> 
        {% elif  user_details.cp_kra_l2 %}
        <li id="id-36.2"><a href="/epms/cp_KRA1"><i class="fa fa-upload"></i>Goals 17-18</a></li> 
        {% endif %}
        {% if user_details.eh %}

         <li id="id-36.3"><a href="/epms/cp_kra_approval/"><i class="fa fa-upload"></i>Approval</a></li>
         <li id="id-36.6"><a href="/epms/cp_kra_team_view/"><i class="fa fa-upload"></i>Goals View</a></li>
         <li id="id-36.5"><a href="/epms/manager_goals_report/"><i class="fa fa-file"></i>Status Report</a></li>
         {% endif %}
         {% if user_details.rep %}
          <li id="id-36.4"><a href="/epms/cp_goals_report/"><i class="fa fa-file"></i>Status Report(HR)</a></li>
           {% endif %} 
            
       </ul>
      </li>
<!-- Investment proposal links  -->
 <li class="nav-parent" id="id-300"><a href="/investment/"><i class="glyphicon glyphicon-file"></i> <span>Investment Proofs</span></a>
         <ul class="children" id="h">
    <!-- <li id="id-300.1"><a href="/investment/investmentproposal"><i class="glyphicon glyphicon-asterisk"></i>Proposal Form</a></li> -->
     <li id="id-300.4"><a href="/investment/actualinvestmentproposal"><i class="glyphicon glyphicon-asterisk"></i>Actual Form</a></li>
     {% if user_details.Investments_approval%}  
     <li id="id-300.7"><a href="/investment/investmentproposallistview"><i class="glyphicon glyphicon-asterisk"></i>Status Report</a></li>
     <li id="id-300.8"><a href="/investment/actualinvestmentproposal_approval"><i class="glyphicon glyphicon-asterisk"></i>Approvals</a></li>
    {% endif %}
     <!-- {% if user_details.investadmin%}  
     <li id="id-300.2"><a href="/investment/investmentproposallistview"><i class="glyphicon glyphicon-asterisk"></i>Proposals List</a></li>
     <li id="id-300.5"><a href="/investment/actualinvestmentproposallistview"><i class="glyphicon glyphicon-asterisk"></i>Actual List</a></li>
  	 {% endif %}  
    <li id="id-300.3"><a href="/investment/investmentproposalemployeeview"><i class="glyphicon glyphicon-asterisk"></i>Proposals View</a></li>
     <li id="id-300.6"><a href="/investment/actualinvestmentproposalemployeeview"><i class="glyphicon glyphicon-asterisk"></i>Actuals View</a></li> -->
   </ul>
 </li>
 
<!-- #attendance reports -->

{% if user_details.attendance_reports %}
<li class="nav-parent" id="id-att_rep.0"><a href="/attendance/"><i class="fa fa-retweet"></i> <span>Attendance Reports</span></a>
    <ul class="children" id="attendance">
<li id="id-att_rep.1"><a href="/attendance/late_info_update"><i class="fa fa-pencil"></i> <span>Att info update</span></a></li>
   <!--  <li id="id-att_rep.2"><a href="/attendance/HRreport"><i class="fa fa-file"></i> <span>HR Report</span></a></li>
    <li id="id-att_rep.3"><a href="/attendance/HR_history/"><i class="fa fa-file"></i> <span>HR Att History</span></a></li> -->
    <li id="id-att_rep.4"><a href="/attendance/annexure4/"><i class="fa fa-file"></i> <span>Leave Report</span></a></li>
     <li id="id-att_rep.5"><a href="/attendance/attendance_daily_report/"><i class="fa fa-file"></i> <span>Daily report</span></a></li>
      <li id="id-att_rep.6"><a href="/attendance/attendance_monthly_report_working_hrs/"><i class="fa fa-file">
        
      </i> <span>Working Hr's </span></a></li>
      <li id="id-att_rep.7"><a href="/attendance/attendance_monthly_report_consolidated/"><i class="fa fa-file"></i> <span>Annexure 6</span></a></li>
    </ul>
  </li>
{% endif %}


 <!-- IMS  links  220 to 259 Code is Written By Sairam For IMS on 14-Apr-2016 -->
<li class="nav-parent" id="id-31"><a href="/user/"><i class="fa fa-suitcase"></i> <span>IMS</span></a>
  <ul id="menu-lateral" class="children" >
  <li  id="id-31.1"><a href="#"><i class="fa fa-arrows-alt"></i><span>Standard</span>
    <ul class="children" id="n">
      {% if user_details.IMSadmin%} 
        <li id="id-31.1.1"><a href="/user/standards_imsupload/"><i class="fa fa-upload"></i> Upload</a></li>
         {% endif %}
        <li id="id-31.1.2"><a href="/user/standards_imsview/"><i class="fa fa-eye"></i> View</a></li> 
    </ul>
  </li>
  <li id="id-31.2"><a href="#"><i class="fa fa-windows"></i><span> Policy</span>
    <ul class="children" id="n1">
     {% if user_details.IMSadmin%} 
        <li id="id-31.2.1"><a href="/user/policy_imsupload/"><i class="fa fa-upload"></i> Upload</a></li>
       {% endif %}
            <li id="id-31.2.2"><a href="/user/policy_imsview/"><i class="fa fa-eye"></i> View</a></li> 
    </ul>
  </li>
  <li id="id-31.3"><a href="#"><i class="fa fa-th-large"></i><span>L1 System Manual</span>
    <ul class="children" id="n2">
    {% if user_details.IMSadmin%} 
         <li id="id-31.3.1"><a href="/user/l1_imsupload/"><i class="fa fa-upload"></i> Upload</a></li> 
        {% endif %}
          <li id="id-31.3.2"><a href="/user/l1_imsview/"><i class="fa fa-eye"></i> View</a></li>
    </ul>
  </li>
  <li id="id-31.4"><a href="#"><i class="fa fa-th-list"></i><span>L2 Procedural Manual</span>
    <ul class="children" id="n3">
    {% if user_details.IMSadmin%} 
        <li id="id-31.4.1"><a href="/user/l2_imsupload/"><i class="fa fa-upload"></i> Upload</a></li> 
      {% endif %}
            <li id="id-31.4.2"><a href="/user/l2_imsview/"><i class="fa fa-eye"></i> View</a></li>
    </ul>
  </li>
  <li id="id-31.5"><a href="#"><i class="fa fa-th-list"></i><span>L3 WI/SOP</span>
    <ul class="children" id="n4">
      {% if user_details.IMSadmin%} 
        <li id="id-31.5.1"><a href="/user/l3_imsupload/"><i class="fa fa-upload"></i> Upload</a></li> 
        {% endif %}
            <li id="id-31.5.2"><a href="/user/l3_imsview/"><i class="fa fa-eye"></i> View</a></li>
    </ul>
  </li>
  <li id="id-31.6"><a href="#"><i class="fa fa-th-list"></i><span>L4 Formats</span>
    <ul class="children" id="n5">
      {% if user_details.IMSadmin%} 
        <li id="id-31.6.1"><a href="/user/l4_imsupload/"><i class="fa fa-upload"></i> Upload</a></li> 
        {% endif %}
            <li id="id-31.6.2"><a href="/user/l4_imsview/"><i class="fa fa-eye"></i> View</a></li>
    </ul>
  </li>
</ul>  
  </li>
<script type="text/javascript">
  $('#menu-lateral').hide();
  $('#menu-lateral .children').hide(); //Hide children by default
  
$('#menu-lateral li a').click(function(){

$(this).siblings('.children').slideToggle('slow');
});
</script>
<!-- Test certificates -->
 {% if  user_details.pqctcentry or user_details.pqctcapproval or user_details.pqctcview %}
   <li class="nav-parent" id="id-200"><a href="/opreports/"><i class="glyphicon glyphicon-globe"></i> <span>MTC</span></a>
         <ul class="children" id="i">
         {% if user_details.pqctcentry %}
        <li id="id-200.1"><a href="/opreports/testcertificate"><i class="glyphicon glyphicon-asterisk"></i>TC Entry Form</a></li> 
        <li id="id-200.2"><a href="/opreports/testcertificatehistory/"><i class="glyphicon glyphicon-asterisk"></i>TC History</a></li> 
        {% endif%}
        {% if user_details.pqctcapproval %}
        <li id="id-200.3"><a href="/opreports/testcertificatesapprovelist"><i class="glyphicon glyphicon-asterisk"></i>TC Approvals</a></li>
        <li id="id-200.5"><a href="/opreports/tceditforhod/"><i class="glyphicon glyphicon-asterisk"></i>TC Edit</a></li>  
        {% endif%}
        {% if user_details.pqctcview%}
        <li id="id-200.4"><a href="/opreports/testcertificateview"><i class="glyphicon glyphicon-asterisk"></i>Test Certificate</a></li>
        {% endif%} 
     </ul>
    </li>
  {% endif%}

 
  <li class="nav-parent" id="id-30"><a href="/user/"><i class="fa fa-retweet"></i> <span>Kaizen</span></a>
    <ul class="children" id="k">
        <li id="id-30.11"><a href="/opreports/Kaizen_Entry/"><i class="fa fa-file"></i> Kaizen Entry</a></li>  
      <li id="id-30.13"><a href="/opreports/Kaizen_History/"><i class="fa fa-file"></i>Kaizen History</a></li> 

{% if user_details.kaizen_approval %}
      <li id="id-30.12"><a href="/opreports/Kaizen_Approvals/"><i class="fa fa-check"></i>Kaizen Approvals</a></li>

      <li id="id-30.14"><a href="/opreports/Kaizen_Report/"><i class="fa fa-file"></i>Kaizen Report</a></li> 
{% endif %}
      <li id="id-30.15"><a href="/opreports/Kaizens_Download/"><i class="fa fa-upload"></i> List Of Kaizens </a></li> 
    </ul>
  </li>




<!-- 
      <li id="id-16.3"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
    
 <li id="id-16.4"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>

  <li id="id-16.5"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>

   <li id="id-16.6"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
-->

<!-- {% if user_details.pmprmivcreation %}
 <li id="id-19"><a href="/pmpr/mivcreations" ><i class="fa fa-check"></i> <span>MIV Creation</span></a></li>
 {% endif %}
  {% if user_details.pmprmivapproval%}
  <li id="id-20"><a href="/pmpr/mivapproval" ><i class="fa fa-check"></i> <span>MIV Approval</span></a></li>
{% endif %}

 {% if user_details.pmprmivcreation %}
    <li id="id-22"><a href="/pmpr/mivreports" ><i class="fa fa-check"></i> <span>MIV History</span></a></li>
{% endif %} --> 



<!--  {% if user_details.hodmivreport %}
    <li id="id-23"><a href="/pmpr/hodmivreports" ><i class="fa fa-check"></i> <span>HOD MIV Report</span></a></li>
{% endif %} -->
<!-- MIV Links -->
{% if user_details.pmprmivcreation or user_details.pmprmivapproval%}

 <li class="nav-parent" id="id-19"><a href="/user/"><i class="fa fa-anchor"></i> <span>MIV</span></a>
    <ul class="children" id="m">
    <!-- <li id="id-19.1"><a href="#" ><i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i> <span> This link is down due to some issue..please wait untill issue re-solves</span></a></li> -->
        {% if user_details.pmprmivcreation %}
		 <li id="id-19.1"><a href="/pmpr/mivcreations" ><i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i> <span>MIV Creation</span></a></li>
     
		 {% endif %}
		{% if user_details.pmprmivapproval%}
    
		  <li id="id-19.2"><a href="/pmpr/mivapproval"><i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i> <span>MIV Approval</span></a></li>
		 {% endif %}
		{% if user_details.pmprmivcreation %}
	    <li id="id-19.3"><a href="/pmpr/mivreports" ><i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i> <span>MIV History</span></a></li>
      <li id="id-19.11">
        <a href="/pmpr/diesel_consumption" ><i class="fa fa-cog fa-3x fa-fw margin-bottom"></i> <span>Diesel Consumption</span>
        </a>
     </li>
		{% endif %}
   <li id="id-19.5"><a href="/pmpr/material_consumption_report"><i class="fa  fa-check-square-o"></i>Dept-Wise Consumption Report </a></li>
    </ul>
  </li> 

{%endif%}


{% if user_details.cr %}
 <li id="id-10"><a href="/user/createrole" ><i class="fa fa-check"></i> <span>Create Role</span></a></li>
{% endif %}
{% if user_details.ar %}
  <li id="id-11"><a href="/user/assignrole" ><i class="fa fa-check"></i> <span>Assign Role</span></a></li>
{% endif %}
{% if user_details.er %}
  <li id="id-13"><a href="/user/editrole" ><i class="fa fa-check"></i> <span>Edit Role</span></a></li>
{% endif %}

{% if user_details.loadmaster %}
    <li id="id-26"><a href="/pmpr/loadmasters" ><i class="fa fa-cogs"></i> <span>Load Master</span></a></li>
{% endif %}

 {% if user_details.prlevelConfig %}
    <li id="id-24"><a href="/pmpr/prlevelConfig" ><i class="fa fa-cogs"></i> <span>PR LEVEL CONFIG</span></a></li>
{% endif %}
 {% if user_details.mivlevelConfig %}
    <li id="id-25"><a href="/pmpr/mivlevelConfig" ><i class="fa fa-cogs"></i> <span>MIV LEVEL CONFIG</span></a></li>
{% endif %}

{% if user_details.us %}
<li id="id-1.2"><a href="/sessions/usersessions"><i class="fa fa-pencil-square-o"></i><span>UserSessions</span></a></li>
{% endif %}

{% if user_details.bk %}
<li id="id-1.3"><a href="/backup/db_backup/"><i class="fa fa-leaf"></i><span>DB Backup </span></a></li>
{% endif %}


{% if user_details.sh %}
  <li id="id-14"><a href="/user/selecthr" ><i class="glyphicon glyphicon-user"></i> <span>Select HR</span></a></li>
{% endif %}

{% if user_details.ams %}
  <li id="id-12"><a href="/user/announcement" ><i class="fa fa-bullhorn"></i> <span>Announcement</span></a></li>
{% endif %}


        <li id="id-8"><a href="http://mail.pennacement.com" target="_blank"><i class="fa fa-envelope"></i> <span>Email</span></a></li>
<li ><a href=" http://123.136.168.170/uts/customer.pl" target="_blank"><i class="fa fa-hand-o-up"></i> <span>Raise a Ticket</span></a></li>
<!--<li ><a href="http://192.168.18.220:8080/Kaizen/" target="_blank"><i class="fa fa-retweet"></i> <span>Kaizen</span></a></li> -->
<!--<li ><a href="http://123.136.168.174:8080/PASApp"><i class="fa  fa-bar-chart-o"></i> <span>Appraisal Form</span></a></li>-->


    
        <li id="id-9"><a href="/user/help"><i class="glyphicon glyphicon-question-sign"></i> <span>Help</span></a></li>
      </ul>
      

      
    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->
  
<script type="text/javascript">
  function timenow()
  {
  

    /* document.getElementById("notify").innerHTML="0"*/
      $.ajax({
      url:'/user/notificationstamp',
      type:"GET"

   });
      $("#notify").css("display","none");
  }

</script>
<!-- alert box to load employees from SAP -->
<!-- <script type="text/javascript">
   $(function() {
    $("#link").click(function(e) {
      
     var r = confirm("Are you sure! You want to update employees..");
    if (r == true) {
      alert("Please wait for success message!! It will take some time to update the employees.");
        return true;
    } else {
        return false;
    }
    });
  });

</script> -->


  <div class="mainpanel">
    
    <div class="headerbar">
      
<a class="menutoggle"><i class="fa fa-bars"></i></a>
      
      <div class="header-right">
        <ul class="headermenu">

          <li>
            <div class="btn-group">
              <button onclick="timenow()" class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                {% if user_details.notify_num != 0%}
                <script type="text/javascript">
 					$("#notify").css("display","block");
                </script>
                <span  id="notify" class="badge">{{user_details.notify_num}}</span>
               {% endif %}
              </button>
              <div class="dropdown-menu dropdown-menu-head pull-right">
                <h5 class="title">Notifications</h5>
                <ul class="dropdown-list gen-list">

{% set i=0 %}
{% for notify in user_details.notification|reverse %}
{% if i < 5 %} 
                  <li class="new">
                    <a href="#">
                    <span class="desc">
                    <span class="msg">{{ notify.msg}}</span>
                    </span>
                    </a>
                  </li>
 {% endif %}                
{% set i=i+1 %}
{% endfor %}
               
                  <li class="new"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
Show All Notification 
</button></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
<div class="modal fade bs-example-modal-lg " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">All Notification</h4>
      </div>

      <div class="modal-body">
    {% if user_details.cr %}

    {%elif user_details.notification%}
      {% set i=user_details.notification[-1].created_time.strftime('%d-%m-%Y') %}
      <strong>{{i}}</strong><hr>
      {% for notify in user_details.notification|reverse  %}
      
      {% if i == notify.created_time.strftime('%d-%m-%Y') %}
      <table class="table">
 <tr> {{ notify.msg}}</tr>
</table>
      
      {% else %}
      {% set i=notify.created_time.strftime('%d-%m-%Y') %}
      <strong>{{ notify.created_time.strftime('%d-%m-%Y')}}</strong> <hr>
      {% endif %}
       
      {% endfor %}

{% endif %}
      </div>
    
    </div>
  </div>
</div>




            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               <!--  <img id="blah3" src="{{ user_details.profpic }}" alt="" width="26" height="26" /> -->
                {{ user_details.f_name }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="/user/changepassword"><i class="glyphicon glyphicon-cog"></i> Change Password</a></li>
                <li><a href="/user/signout"><i class="fa  fa-power-off"></i>Sign Out</a></li>
                
              </ul>
            </div>
          </li>
        </ul>
      </div><!-- header-right -->
      
    </div><!-- headerbar -->
{% block pageheader %}{% endblock %} 
<div class="contentpanel">   

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
         <div class="alert {{category}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
         {{ message }} 
        
       </div>
       {% endfor %}
      {% endif %}
    {% endwith %}

    
{% block contentpanel %}{% endblock %}
</div><!-- contentpanel -->
  </div><!-- mainpanel -->  
</section>

<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/toggles.min.js"></script>
<script src="/static/js/jquery.cookies.js"></script>
<script src="/static/js/custom.js"></script>
<script type="text/javascript" src="/static/js/bootbox.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>



{% block scripts %}{% endblock %}

</body>
</html>
