{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="fa fa-key"></i> Change Password</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li class="active">Change password</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}
<script type="text/javascript">
function validateForm()
{

 old=document.forms["user"]["old_pass"].value;
  new_pass=document.forms["user"]["new_pass"].value;
  confirm=document.forms["user"]["confirm"].value;

 var t = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/;
        var n = t.test(new_pass);

if(new_pass.length < 7)
{
  alert("Length of the new password must be greater than seven character");
     document.user.new_pass.focus(); 
return false;
}


      else if (n == false ) {
alert("Enter only Alphanumeric ");
   document.user.new_pass.focus(); 
return false;
        }

    else if(new_pass!=confirm)
    {
      alert("Password is not matching");
         document.user.confirm.focus(); 
      return false;
    }

else
{
  return true;
}

}



</script>
            
      <div class="row">
        
        
        <div class="col-md-6 col-md-offset-2">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Change Password</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" name="user" method="POST" onsubmit="return validateForm()">
<div class="row">
<div class="col-sm-8 col-sm-offset-1">
                {% for field in form %}

    <div class="form-group">
    {{field.label(class="control-label")}}
    {{field(class="form-control")}}</div>
    {% endfor %}</div>
    </div><div class="row">
    <div class="col-sm-8 col-sm-offset-1"></br>
    <input type=submit value="submit" class="btn btn-primary btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      

	  

{% endblock %}     


