{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Collecting Reports</h2>
    <!--   <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Collecting Reports</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
 <script type="text/javascript">
  document.getElementById('id-5').className ="nav-parent nav-active active";
      document.getElementById("d").style.display = "block";
document.getElementById('id-5.5').className ="active";
    </script>
      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Collecting Reports</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form id="collectingreports" action="" method="POST">
<div class="row">
<div class="col-sm-12">
    <label class="radio-inline">
  <input type="radio" name="select_date" id="select_date1" value="1" checked> TODAY
</label>
<label class="radio-inline">
  <input type="radio" name="select_date" id="select_date2" value="2"> YESTERDAY
</label>


</div>
    </div><div class="row">
    <div class="col-sm-4"></br>
    <button type="button"  onclick="fetch()" class="btn btn-primary btn-block">Get Reports</button></div>
    </div>
</form> 
<br><Br><Br>    
          <div classs="row"><div classs="col-md-12" id="collecting"></div></div>

        </div><!-- panel-body -->
      </div><!-- panel -->
</div>  
</div>      
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>
<script type="text/javascript">
function fetch()
{
  var f=new FormData(document.getElementById("collectingreports"));
  $.ajax({
        url: '/user/getcollectingreports',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                /*  if (response['error'] == 'yes'){
              document.getElementById("collecting").innerHTML = response['msg'];
                  }
                  else{*/

$('#collecting').html('<table class="display table table-bordered table-striped" cellspacing="0"  id="example"></table>' );
$('#example').html('<thead><tr><th>CGrp Name</th><th>Customer</th><th>Customer Name</th><th>Region Descrip</th><th>Dist Descrip</th><th>Nature of</th><th>Assignment Number</th><th>Posting Date</th><th>Doc. Date</th><th>Amount LC</th><th>Bank Details Description</th><th>Document No</th><th>Sales Rep</th><th>Sales Rep Descrip</th><th>Entry Date</th></tr></thead>');


 
 console.log(response);

  $('#example').dataTable( {
    "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls_pdf.swf",
           "aButtons": [
            {'sExtends':'copy',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'xls',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'pdf',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
             
          ]
        },
     "scrollX": true,

        "data":response['data'] ,
        "columns": [
            { "data": "KDGRP" },
            { "data" : "KUNNR" },
            { "data" : "NAME1" },
            { "data" : "BEZEI" },
            { "data" : "TXT_01" },
            { "data" : "INATURE" },
            { "data" : "ZUONR"},
            { "data" : "BUDAT"},
            { "data" : "INSDATE"},
            { "data": "DMBTR"},
            { "data" : "BANKDESC"},
            { "data" : "BELNR"},
            { "data" : "KUNN2"},
            { "data" : "NAME2"},
            { "data" : "CPUDT"}

        ]
        
    } );

       
/*}*/

}

  });
}



    </script>
{% endblock %}
