{% extends "base.html" %}
{% block pageheader %}  
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  -->
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<!-- <link type="text/css" href="css/bootstrap.min.css" /> -->
        <!-- <link type="text/css" href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" /> -->
        <!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
        <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script> -->
    <div class="pageheader">
      <h2><i class="fa fa-money"></i>Attendance Configurations</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
<style type="text/css">
  #preloder{
    background-color: rgba(228, 231, 234, 0.27) !important;
  }
  .select2-container-multi .select2-choices .select2-search-field input {
    height: 40px;
}
</style>

<!-- Function to preview pdf after selecting year and respective month with last six month duration-->

<!-- <script type="text/javascript">
/*function to download the previewed pdf */ 

function down()
{

 window.open("/static/attendance_reports/annexure4.xlsx",'_blank');

}
</script> -->




<style type="text/css">
.input-sm1
{
  width:100px;
}
</style>
      
      <div class="panel panel-default">
        <div class="panel-heading">
         
          <h4 class="panel-title">Configuring Excemption Employees For Time-Office </h4>
           </div><!-- panel-heading -->

        <div class="panel-body">
        <div class="alert alert-success alert-dismissible" id="return_msg" role="alert" hidden>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <p id="alrt_msg"> </p> 
        
       </div>
       <div class="section">
              <div class="row">
{% if excluded_users and upload=='no' %}
<h4 style="text-align:center;color:#428bca">Employees Excluded From Mailing List:</h4>
<br/>
  {% for i in excluded_users %}
  <div class="col-md-4" style="height:50px">
   <i class="fa fa-user" aria-hidden="true" style="color:#428BCA"></i>
       {% if 'f_name' in i %}
   {{ i['username'] }} - {{i['f_name']}} {{ i['l_name']}}
   {% else %}
    {{ i['username'] }} - No Info Available
   {% endif %}
  </div>
    {% endfor %}
{% endif %}
</div>
</div>
{% if details and upload == 'yes' %}
       <div class="row">

<div class="section">
<div class="row">
<br/>
<form action='' method="POST" enctype="multipart/form-data">
  {% for j in details %}
  <div class="col-md-4" style="height:50px">
   <i class="fa fa-check-square-o" aria-hidden="true" style="color:#428BCA"></i> 
   {{ j['username'] }} - {{j['Name']}}
  </div>
    {% endfor %}
    </div>
    <div class="row" style="text-align:center">
      <button class="btn btn-warning" id='back_to_home' name="submit" value="home"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
    </div>
    </div>

</form>
</div>
{% endif %}
          {% if upload=='no' %}

                <div class="row">  
                  <div class="col-md-6">  
                    <form action='' method="POST" enctype="multipart/form-data">
                          <div  class="col-xs-12 col-md-8">
                          <label>Upload Excel File For Excluding:</label>
                              <input class="form-control" id="fileupload" name="fileupload" type="file" value="" placeholder="upload excel" required>
                          </div>      
                          <div class="col-sm-12 col-md-4" style="margin-top:5px">         
                            <label>&nbsp</label>      
                              <div class="form-group">
                                 <button  type="submit" name="submit" value="exclude" id="sub_doc" class="btn btn-primary search">
                                Upload</button>
                              </div>  
                        </div>                          
                    </form>
                    </div>
                    <!-- <div class="col-md-6">  
                    <form action='' method="POST" enctype="multipart/form-data">
                          <div  class="col-xs-12 col-md-8">
                           <label>Upload Excel File For Including:</label>
                              <input class="form-control" id="fileupload" name="fileupload" type="file" value="" placeholder="upload excel" required>
                          </div>      
                          <div class="col-sm-12 col-md-4" style="margin-top:5px">
                          <label>&nbsp</label>            
                              <div class="form-group">
                                 <button  type="submit" name="submit" value="include" id="sub_doc_include" class="btn btn-primary search">
                                Upload</button>
                              </div>  
                        </div>                          
                    </form>
                    </div> -->
                </div>
                <br/>
        {% endif %}

              </div>
          </div>

<div class="row">
  <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Configure Email Notifications</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      <div class="row">
          <div class="alert alert-success alert-dismissible" id="return_msg" role="alert" hidden>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <p id="alrt_msg"> </p>        
                </div>

<div class="row">
<div class="col-md-6">

                <div class="row">
                <form id='add_employee_form' method="POST" enctype="multipart/form-data">          
                    <div class="col-xs-12 col-md-8">
                    <label>Select Employee To Be Excempted:</label>
                            <input class="form-control add_employee" id="add_employee" name="exclude_employee" type="text" value="" placeholder="Select Employee" multiple> 
                    </div> 
                    <input type="text" name="submit" value='tobe_exclude' style="display:none">
                    <div class="col-md-4" style="margin-top:5px">
                    <label>&nbsp</label>
                        <input type="submit" id='btn_exclude' class='btn btn-primary' name='submit' value="Exclude Employees">
                    </div> 
                </form>
                </div>
                <br/>
</div>
          <div class="col-md-6">
                <div class="row">
                    <form id='remove_user_form' method="POST" enctype="multipart/form-data">
                        <div class="col-xs-12 col-md-8">
                        <label>Remove Employee From Excemption:</label>
                            <input class="form-control remove_user" id="remove_user" name="include_employee" type="text" value="" placeholder="Select Employee" multiple> 

                        </div>
                        <input type="text" name="submit" value='tobe_included' style="display:none">
                        <div class="col-md-4" style="margin-top:5px">
                            <label>&nbsp</label>
                            <input type="submit" id='btn_include' class='btn btn-primary' name='submit' value="Include Employees">
                        </div> 

                    </form>
                </div>
                <br/>
  </div>
</div>
       
      </div>
      <div class="row">
      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 




{% endblock %}    
{% block scripts %}
<!-- <script src="/static/js/bootstrap-datepicker.js"></script> -->
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
$('#clickthis').click(function() { 
  $(".material").select2('data', [{ f_name: "PULINDRA",l_name:'ANANTH KUMAR'}]);
});


$('.add_employee').select2({
      tags:true,
      minimumInputLength: 3,
      placeholder: ' ',
      allowClear: true,
      ajax: {
          url: "/attendance/add_employee/",
          dataType: 'json',
          quietMillis: 100,
          data: function(term) {
            return {term: term,'plant_id':'HY'};
          },
          results: function(data) {
            return { results: data.results }
          }
      },
      formatResult: function(excercise){
       return "<div class='select2-user-result' value="+excercise.username+">"+excercise.username+" -- "+excercise.f_name+" "+excercise.l_name+" </div>";
      },
      id: function(excercise){
        return excercise.username;
      },
      formatAjaxError: function(){
        return 'User Does Not Exist';
      },
      formatSelection: function(excercise) {
        $("#add_employee").val(excercise.username);
        $('#table tr:eq(1) div.select2-container').attr('title',excercise.f_name+"--"+excercise.username);
        return excercise.f_name+' '+excercise.l_name;
      },
      initSelection : function (element, callback) {
        var elementText = $(element).attr('data-init-text');
        callback({"term":elementText});
      }
  });


$('.remove_user').select2({
      tags:true,
      minimumInputLength: 3,
      placeholder: ' ',
      allowClear: true,
      ajax: {
          url: "/attendance/exclude_employee/",
          dataType: 'json',
          quietMillis: 100,
          data: function(term) {
            return {term: term,'plant_id':'HY'};
          },
          results: function(data) {
            return { results: data.results }
          }
      },
      formatResult: function(excercise){
        return "<div class='select2-user-result' value="+excercise.username+">"+excercise.username+" -- "+excercise.f_name+" "+excercise.l_name+" </div>";
      },
      id: function(excercise){
        return excercise.username;
      },
      formatAjaxError: function(){
        return 'User Does Not Exist';
      },
      formatSelection: function(excercise) {
        $("#remove_user").val(excercise.username);
        $('#table tr:eq(1) div.select2-container').attr('title',excercise.f_name+"--"+excercise.username);
        return excercise.f_name+' '+excercise.l_name;
      },
      initSelection : function (element, callback) {
        var elementText = $(element).attr('data-init-text');
        callback({"term":elementText});
      }
  });


$(document).ready(function(){

  $('#getdata').click(function() { 
    console.log($('.material').select2("val"));

  });

        $("#add_employee_form").submit(function(e){ 
 // e.preventDefault();
var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/userdetails_html/",
             dataType: "json",
            data: datastring,
            success: function(data) {
              bootbox.alert(data['msg'], function(result){ console.log(data['msg']); });
            }
          });
      });


                $("#remove_user_form").submit(function(e){ 
// e.preventDefault();
var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/userdetails_html/",
             dataType: "json",
            data: datastring,
            success: function(data) {
              console.log(data);
           bootbox.alert(data['msg'], function(result){ console.log(data['msg']); });
            }
          });
      });






});
</script>




  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.6').className ="active";
    </script>
{% endblock %} 
