﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table3,#table4{table-layout:fixed;}
/* Modal Window Customize*/
/*.modal-dialog { 
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}
*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
        <h2><i class="fa fa-pencil"></i> Cost Center</h2>
            <div class="breadcrumb-wrapper">
                <span class="label">You are here:</span>
                <ol class="breadcrumb">         
                    <li class="active">Cost Center</li>
                </ol>
            </div>
    </div>
{% endblock %} 
{% block contentpanel %}       
<div class="row">        
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">Cost Center</h4>
            </div><!-- panel-heading -->
      
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-group">  
                        <div class="col-md-6">
                            <div class="form-group form-inline">
                                <label>Department&nbsp;</label> 
                                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                                        <option value="select" >Select Department</option>
                                    {% if dept %}
                                    {% for dep in dept%}
                                        <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                    {% endfor %}
                                    {% endif %}
                                  </select>                         
                            </div>
                            <div class="form-group form-inline">
                                <label>Work Center </label> 
                                    <select class="form-control" id="wrk_center" name="wrk_center" style="width:200px" required>
                                        <option value="select" >Select Work Center</option>
                                      {% if work_center %}
                                      {% for wrk in work_center%}
                                          <option value="{{ wrk.work_center}}">{{ wrk.work_center_desc}}</option>
                                      {% endfor %}
                                      {% endif %}
                                    </select>                        
                            </div>
                            <div class="form-group form-inline">
                                <label >&nbsp;Header info</label>
                              &nbsp;<input class="form-control" type="text" id="desc_head" placeholder="HEADER Description" style="width:200px">
                           </div>
                        </div> 

                        <div class=" col-md-4">
                            <div class="form-group">               
                                  <input  id="cost_center" class="form-control cost_center"  name="cost_center" type="text" value="" placeholder="  Cost Center"  required> 
                            </div>
                        </div>                
                    </div>                  

                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="radio" id="" name="tabl" value="ZRGS"  checked="checked" onchange="tablechange(this.value)" >Component
                        </div>
                        <div class="col-md-4">
                            <input type="radio" id="" name="tabl" value="ZRSV" onchange="tablechange(this.value)">Services
                        </div>
                    </div>

                    <form id="tradeform" action="" method="POST" enctype="multipart/form-data">
                        <div id="component" >
                            <table id="table3" class="display table table-bordered table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Mat.Type</th>
                                        <th>Material</th>
                                        <th>Quantity</th>
                                        <th>UoM</th>
                                     <!--    <th>St.Loc</th> -->
                                        <th>Unit Value</th>
                                        <th>Delivery Date</th>
                                        <th>Justification</th>
                                        <th>PO Header Text</th>
                                        <th>Specification</th>
                                        <th >Procured at</th>
                                        <th>Attachments</th>
										<th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="body3">
                                    <tr>
                                        <td>
                                            <select  id="Desription" class="form-control description" name="description3">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
                                        </td>

                                        <td>
                                            <input class="form-control material" id="material" name="material3" style="width:200px" type="hidden" value="" placeholder="material" >
                                        </td>

                                        <td>
                                            <input id="Quantity" type="number"  class="form-control quantity" min="0.1" step="0.1" name="quantity3" style="width:100px" onkeypress="return numberValid(event)">
                                        </td>

                                        <td>
                                            <input id="UoM" type="text"  class="form-control UoM" name="uom3" size="10" >
                                        </td>

                                      <!--   <td>
                                            <input class="form-control st_loc" id="" name="st_loc" style="width:200px" type="hidden"  placeholder="Store Location" >
                                        </td> -->

                                        <td>
                                           <input id="Unit_Value" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value3" style="width:100px" onkeypress="return numberValid(event)">
                                        </td>

                                        <td>
                                            <input id="Date3" type=""  class="form-control date" name="date3" size="11">
                                        </td>

                                        <td>
                                            <input id="Justification" type="text"  class="form-control just" name="just3">
                                        </td>

                                        <td>
                                            <input id="POHeader" type="text"  class="form-control poheader " name="poheader3">
                                        </td>

                                        <td>
                                            <input id="Specification" type="text"  class="form-control specify" name="specify3">
                                        </td>

                                     	  <td>
                                            <select size="1" id="Procured" class="form-control procured" name="procured3">
                                                <option value="Plant" selected="selected">Plant</option>
                                                <option value="HO">HO</option>                     
                                            </select>
                                        </td>

                                        <td>
                                            <input  class="file" type="file" name="file3[]" style="width:90px">
                                        </td>
										<td>
      									<button type="button" name="delete" onclick="deleteRow1(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>
      								</td>
                      </tr>

                        </tbody>
                            </table>

                          <div class="row">
                              <div class="  col-xs-4 col-md-2">            
                                  <div class="form-group">
                                      <input id="add3" type="button"   value="Add line item" class="btn btn-success btn-xs">
                                  </div>  
                              </div>   
                              
                              <div class="col-xs-8 col-md-4 col-md-offset-2">            
                                  <div class="form-group">
                                      <input type="hidden"  id="topval" name="topval">
                                      <input id="submit1" type="button"  onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
                                  </div>  
                              </div>      
                          </div> 
                      </div>

                      <div id="service" >
                          <table id="table4" class="display table table-bordered table-striped" cellspacing="0">
                              <thead>
                                  <tr>
                                      <th>Material</th>
                                      <th>Service<br>Description</th>
                                      <th>Quantity</th>
                                      <th>UoM</th>
                                      <th>Unit Value</th>
                                      <th>Delivery Date</th>
                                      <th >Procured at</th>
                                      <th>Attachments</th>
									  <th>Delete</th>
                                  </tr>
                              </thead>
                              <tbody id="body4">
                                  <tr>
                                      <td>
                                            <input class="form-control service_material" id="service_material" name="service_material3" style="width:200px" type="hidden" value="" placeholder="service_material" >
                                        </td>
                                      <td>
                                          <input id="Desc" type="text" class="form-control description" name="description4">
                                      </td>

                                      <td>
                                          <input id="Quant" type="number"  class="form-control quantity"  pattern="[0-9]+([\.][0-9]{1}+)?" min="0.1" step="0.1" name="quantity4" style="width:100px" onkeypress="return numberValid(event)">
                                      </td>

                                      <td>
                                          <input class="form-control uom" id="uom" name="uom4" style="width:100px" type="hidden"  placeholder="uom"  >
                                      </td>

                                      <td>
                                          <input id="Unit Value" type="number"  class="form-control unitvalue"  min="0" step="0.1" name="unit_value4" style="width:100px" onkeypress="return numberValid(event)">
                                      </td>

                                      <td>
                                          <input id="Date4" type="text"  class="form-control date" name="date4" size="11">
                                      </td>

                                      <td>
                                          <select size="1" id="Procured" class="form-control procured" name="procured4">
                                              <option value="Plant" selected="selected">Plant</option>
                                              <option value="HO">HO</option>
                                          </select>
                                      </td>

                                      <td>
                                          <input  class="file" type="file" name="file4[]" style="width:90px">
                                      </td>
									  <td>
      									<button type="button" name="delete" onclick="deleteRow2(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>
      								</td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="row">
                              <div class="  col-xs-4 col-md-2">            
                                    <div class="form-group">
                                          <input id="add4" type="button"   value="Add line item" class="btn btn-success btn-xs">
                                    </div>  
                              </div>   
                                
                              <div class="col-xs-8 col-md-4 col-md-offset-2">            
                                  <div class="form-group">
                                      <input type="hidden"  id="topval" name="topval">
                                      <input id="submit2" type="button"  onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
                                  </div>  
                              </div>     
                          </div> 
                      </div>                       
                  </form>
<div id="spinModal" class="modal fade" data-keyboard="false" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      	<i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>

	</div>
              </div>
          </div><!-- panel-body -->
      </div><!-- panel --> 
  </div>      
</div><!-- row -->
{% endblock %}  
{% block scripts %}

<script type="text/javascript">
  document.getElementById('id-16').className ="nav-parent nav-active active";
  document.getElementById("f").style.display = "block";
  document.getElementById('id-16.2').className ="active";
</script>  
<link href="/static/css/datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>


<script type="text/javascript">
/* FOR DELETE LINE ITEM */
function deleteRow1(btn) {
  	table3 = $('#table3').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table3 >#body3 >tr').length>1){
    	table3.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}
/* FOR DELETE LINE ITEM */
function deleteRow2(btn) {
  	table4 = $('#table4').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table4 >#body4 >tr').length>1){
    	table4.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}
/* FUNCTION DEFINED AS TABLECHANGE FOR CHANGING COMPONENT AND SERVICES TABLES ACCORDING  */
    function tablechange(chang){
        if(chang=="ZRGS"){
            $('#component').show();
            $('#service').hide();
        } else {
            $('#component').hide();
            $('#service').show();
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function() {


      /*AJAX CALL FOR SERVICE MATERIAL FROM MODULE PMPR */
    $('.service_material').select2({
                placeholder: ' ',
                allowClear: true,
                ajax: {
                        url: "/pmpr/servicematerial",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                            return { term: term,mtype:$('#Desription').val() };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                },
                formatResult: function(excercise) {
                    return "<div class='select2-user-result' value="+excercise.material_group+">"+excercise.desc_material_group+"--"+excercise.material_group+" </div>";
                },
                id: function(excercise){
                    return excercise.material_group;
                },
                formatAjaxError: function(){
                    return 'Material Does not Exist';
                },
                formatSelection: function(excercise) {
                    $("#service_material").val(excercise.material_group);
                    $('#table4 tr:eq(1) div.select2-container').attr('title',excercise.desc_material_group+"--"+excercise.material_group);
                    
        
        
                    return excercise.material_group;
                },
                initSelection : function (element, callback) {
                    var elementText = $(element).attr('data-init-text');
                    callback({"term":elementText});
                }
    });
    /*AJAX CALL FOR COST CENTER FROM MODULE PMPR */
    $('.cost_center').select2({
                minimumInputLength: 0,
                placeholder: ' ',
                allowClear: true,
                ajax: {
                        url: "/pmpr/costcenter",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                            return { term: term };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                },
                formatResult: function(excercise) { 
                    return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>"; 
                },
                id: function(excercise){
                    return excercise.cost_center;
                },
                formatAjaxError: function(){
                    return 'Cost Center Does not Exist';
                },
                formatSelection: function(excercise) { 
                    $("#cost_center").val(excercise.cost_center);
                    return excercise.cost_center; 
                },
                initSelection : function (element, callback) {
                    var elementText = $(element).attr('data-init-text');
                    callback({"term":elementText});
                }
    });
    /*AJAX CALL FOR UOM FROM MODULE PMPR */
            $('.uom').select2({
                    minimumInputLength: 0,
                    placeholder: ' ',
                    allowClear: true,
                    ajax: {
                        url: "/pmpr/uom",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                          return { term: term };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                    },
                    formatResult: function(excercise) {
                  return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
                },
                id: function(excercise){
                  return excercise.mu;
                },
                formatAjaxError: function(){
                  return 'storage Location Does not Exist';
                },
                formatSelection: function(excercise) {
                  $('#uom').val(excercise.mu);
                  return excercise.mu;
                },
                initSelection : function (element, callback) {
                  var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
                }
          });
    /*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
  	$('.material').select2({
                minimumInputLength: 3,
                placeholder: ' ',
                allowClear: true,
                ajax: {
                        url: "/pmpr/material",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                            return { term: term,mtype:$('#Desription').val() };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                },
                formatResult: function(excercise) {
                    return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
                },
                id: function(excercise){
                    return excercise.material;
                },
                formatAjaxError: function(){
                    return 'Material Does not Exist';
                },
                formatSelection: function(excercise) {
                    $("#material").val(excercise.material);
                    $('#table3 tr:eq(1) div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
                    $('#UoM').val(excercise.bun);
                    var fd = new FormData();
        fd.append("material",excercise.material);
        
        $.ajax({
                url: '/pmpr/getquantity',
                data: fd,
                type: 'POST',
                processData: false,  
                contentType: false,
                success: function(response) {
              a1=""
                for (i=1;i<=response['reports'].length;i++){
                  a1=a1+  '<tr>'+
                            '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="po_text'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly" class="text_tip" data-toggle="tooltip" data-placement="top" title= "'+response['reports'][i-1]['TDLINE']+'"></td>'+
                            '<td><input type="text" id="unit'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
                            '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
                            '</tr>'
              }
              bootbox.dialog({
                              size: 'large',
                              message: 
                                 
                                  '<table id="tab_modal" class="table "> ' +
                                  '<thead> ' +
                                  '<tr>'+
                                  '<th>Quantity</th>'+
                                  '<th>Storage Location</th>'+
                                  '<th>PO Text</th>'+
                                  '<th>PO Value</th>'+
                                  '<th>Action</th>'+
                                  '</tr>'+
                                  '</thead>'+
                                  '<tbody >'+
                                  a1+
                                  '</tbody>'+
                                  '</table>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                              a=$('#radio_modal:checked').val();
                                            quan =  $('#unit'+a+'').val();
                                            stor= $('#po_text'+a+'').val();
                                            $('#Unit_Value').val(quan);
                                            $('#POHeader').val(stor);   
                                      }
                                  }
                              }
              });
                }
            });
                    return excercise.material_desc;
                },
                initSelection : function (element, callback) {
                    var elementText = $(element).attr('data-init-text');
                    callback({"term":elementText});
                }
    });

    /*AJAX CALL FOR STORAGE LOCATION FROM MODULE PMPR */
    $('.st_loc').select2({
                minimumInputLength: 0,
                placeholder: ' ',
                allowClear: true,
                ajax: {
                    url: "/pmpr/storage",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return { term: term };
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
                },
                formatResult: function(excercise) {
                    return "<div class='select2-user-result' value="+excercise.storage_loc+">"+excercise.desc_storage_loc+"--"+excercise.storage_loc+" </div>";
                },
                id: function(excercise){
                    return excercise.storage_loc;
                },
                formatAjaxError: function(){
                    return 'storage Location Does not Exist';
                },
                formatSelection: function(excercise) {
                    $("#st_loc").val(excercise.storage_loc);
                    return excercise.desc_storage_loc;
                },
                initSelection : function (element, callback) {
                    var elementText = $(element).attr('data-init-text');
                    callback({"term":elementText});
                }
    });
    });
</script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
    function numberValid(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
            return false;
        } else {
            return true;
        }
    }
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
    $('.quantity,.unitvalue,.date').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
</script>
<script type="text/javascript">
$('#spinModal').modal('hide');
/*INITIALIZING TOOLTIP FOR MATERIAL DESCRIPTION*/
$('div.select2-container').tooltip();
$('text_tip').tooltip();
/*INITIALISING DATATABLES,DATEPICKER AND FILESTYLE */
    $(document).ready(function(){
        if ( $.fn.dataTable.isDataTable( '#table3' ) ) {
            table3 = $('#table3').DataTable();
        } else {
            table3 = $('#table3').DataTable( {
                        "scrollX": "95%",
                        "paging": false,
                        "bSort": false,
                        "bFilter": false,
                      	"columnDefs": [
                          { "width": "95px", "targets": 1 },
                          { "width": "100px", "targets": 7},
                          { "width": "100px", "targets": 8},
                          { "width": "100px", "targets": 9},
                          { "width": "150px", "targets": 10}
                        ]
            } );
        }
        if ( $.fn.dataTable.isDataTable( '#table4' ) ) {
            table4 = $('#table4').DataTable();
        } else {
            table4 = $('#table4').DataTable( {
                        "scrollX": "95%",
                        "paging": false,
                        "bSort": false,
                       "bFilter": false
            } );
        }      
        $('#Date3,#Date4').datepicker({
                format:"dd.mm.yyyy",
                todayHighlight: true ,
                startDate: "+0d", 
                autoclose: true
        });
      
        $('#table3 input[type=file],#table4 input[type=file]').change(function () {
            var val = $(this).val().toLowerCase();
            var pdfFormat = new RegExp("(.*?)\.(pdf)$");
            if(val!=""){
                if(!(pdfFormat.test(val))) {
                    $(':file').filestyle('clear');        
                    bootbox.alert('Unsupported file pdf format only');
                    $(this).val('');
                }
            }
        }); 
      /*FOR ADD LINE ITEM */
	  var row = 0;
      $('#add3').on( 'click', function () {
          row = row+1;
          table3.row.add( [
              '<select  id="Desription'+row+'" class="form-control description" name="description3">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
              ' <input class="form-control material'+row+'" id="material'+row+'" name="material3" style="width:200px" type="hidden" value="" placeholder="material" >',
              '<input id="Quantity" type="number"  class="form-control quantity" min="0.1" step="0.1" name="quantity3" style="width:100px" onkeypress="return numberValid(event)">',
              '<input id="UoM'+row+'" type="text"  class="form-control UoM" name="uom3" size="10" >',
             /* '<input class="form-control st_loc'+row+'" id="st_loc'+row+'" name="st_loc" style="width:200px" type="hidden"  placeholder="Store Location" >',*/
              '<input id="Unit_Value'+row+'" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value3" style="width:100px" onkeypress="return numberValid(event)">',
              '<input id="DeliveryDate" type=""  class="form-control date" name="date3" size="11">',
              '<input id="Justification" type="text"  class="form-control just" name="just3">',
              '<input id="POHeader'+row+'" type="text"  class="form-control poheader" name="poheader3">',
              '<input id="Specification" type="text"  class="form-control specify" name="specify3">',
              '<select size="1" id="Procured"class="form-control procured" name="procured3"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
              '<input  class="file" type="file" name="file3[]" style="width:90px">',
			  '<button type="button" name="delete" onclick="deleteRow1(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>'
               
          ] ).draw();
    

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});

    
          var x=row;
          var y = x+1;
          /*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
          $('.material'+row+'').select2({
                      minimumInputLength: 3,
                      placeholder: ' ',
                      allowClear: true,
                      ajax: {
                              url: "/pmpr/material",
                              dataType: 'json',
                              quietMillis: 100,
                              data: function(term) {
                                  return { term: term,mtype:$('#Desription'+x+'').val() };
                              },
                              results: function(data) {
                                  return { results: data.results }
                              }
                      },
                      formatResult: function(excercise) {
                          return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
                      },
                      id: function(excercise){
                          return excercise.material;
                      },
                      formatAjaxError: function(){
                          return 'Material Does not Exist';
                      },
                      formatSelection: function(excercise) {
                          $('#UoM'+x+'').val(excercise.bun);
                          $('#table3 tr:eq('+y+') div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
                          var fd = new FormData();
          fd.append("material",excercise.material);
        
          $.ajax({
                  url: '/pmpr/getquantity',
                  data: fd,
                  type: 'POST',
                  processData: false,  
                  contentType: false,
                  success: function(response) {
                a1=""
                for (i=1;i<=response['reports'].length;i++) {
                  a1=a1+  '<tr>'+
                  '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
                  '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
                   '<td><input type="text" id="po_text'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="unit'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
                    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
                    '</tr>'
                }
                bootbox.dialog({
                                size: 'large',
                                message: 
                                   
                                    '<table id="tab_modal" class="table"> ' +
                                    '<thead> ' +
                                    '<tr>'+
                                    '<th>Quantity</th>'+
                                    '<th>Storage Location</th>'+
                                    '<th>PO Text</th>'+
                                    '<th>PO Value</th>'+
                                    '<th>Action</th>'+
                                    '</tr>'+
                                    '</thead>'+
                                    '<tbody >'+
                                     a1+
                                    
                                    '</tbody>'+
                                    '</table>',
                                buttons: {
                                    success: {
                                        label: "Ok",
                                        className: "btn-primary",
                                        callback: function () {
                                            a=$('#radio_modal:checked').val();
                                            quan =  $('#unit'+a+'').val();
                                            stor= $('#po_text'+a+'').val();
                                            $('#Unit_Value'+x+'').val(quan);
                                            $('#POHeader'+x+'').val(stor);  
                                        }
                                    }
                                }
                });
              }
                
            });
                          return excercise.material_desc;
                      },
                      initSelection : function (element, callback) {
                          var elementText = $(element).attr('data-init-text');
                          callback({"term":elementText});
                      }
          });

          /*AJAX CALL FOR STORAGE LOCATION FROM MODULE PMPR */
          $('.st_loc'+row+'').select2({
                      minimumInputLength: 0,
                      placeholder: ' ',
                      allowClear: true,
                      ajax: {
                              url: "/pmpr/storage",
                              dataType: 'json',
                              quietMillis: 100,                              
                              data: function(term) {
                                  return { term: term };
                              },
                              results: function(data) {
                                  return { results: data.results }
                              }
                      },
                      formatResult: function(excercise) {
                          return "<div class='select2-user-result' value="+excercise.storage_loc+">"+excercise.desc_storage_loc+"--"+excercise.storage_loc+" </div>";
                      },
                      id: function(excercise){
                          return excercise.storage_loc;
                      },
                      formatAjaxError: function(){
                          return 'storage Location Does not Exist';
                      },
                      formatSelection: function(excercise) {
                          $('#st_loc'+row+'').val(excercise.storage_loc);
                          return excercise.desc_storage_loc;
                      },
                      initSelection : function (element, callback) {
                          var elementText = $(element).attr('data-init-text');
                          callback({"term":elementText});
                      }
          });
          $('.date').datepicker({
                  format:"dd.mm.yyyy", 
                  todayHighlight: true ,
                  startDate: "+0d", 
                  autoclose: true
          });
          
          $('#table3 input[type=file]').change(function () {
              var val = $(this).val().toLowerCase();
              var pdfFormat = new RegExp("(.*?)\.(pdf)$");
              if(val!=""){
                  if(!(pdfFormat.test(val))) {
                      $(':file').filestyle('clear');        
                      bootbox.alert('Unsupported file pdf format only');
                      $(this).val('');
                  }
              }
          }); 
      });
      /*FOR DELETE LINE ITEM */
      /*$("#delete3").click(function(){
          if($('#table3 >#body3 >tr').length>1){
              table3.row('tr:last').remove().draw( false );
          } else {
              bootbox.alert('Please don\'t delete');
          }      
      }); */
      /* FOR ADD LINE ITEM */
      var row1=0;
      $('#add4').on( 'click', function () {
          row1 = row1 +1 ;
          table4.row.add( [
              ' <input class="form-control service_material'+row1+'" id="service_material'+row1+'" name="service_material3" style="width:200px" type="hidden" value="" placeholder="service_material" >',
              '<input id="Desc" type="text" class="form-control description" name="description4">',
              '<input id="Quant" type="number"  class="form-control quantity" pattern="[0-9]+([\.][0-9]{1}+)?" min="0.1" step="0.1"  name="quantity4" style="width:100px" onkeypress="return numberValid(event)">',
              '<input class="form-control uom'+row1+'" id="uom'+row1+'" name="uom4" style="width:100px" type="hidden"  placeholder="uom"  >',
              '<input id="Unit Value" type="number"  class="form-control unitvalue"   min="0" step="0.1" name="unit_value4" style="width:100px" onkeypress="return numberValid(event)">',
              '<input id="DeliveryDate" type=""  class="form-control date" name="date4" size="11">',
              '<select size="1" id="Procured"class="form-control procured" name="procured4"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
              '<input  class="file" type="file" name="file4[]" style="width:90px">',
			  '<button type="button" name="delete" onclick="deleteRow2(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>'
               
          ] ).draw();

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});



          var x=row1;
          var y = x+1; 
          /*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
          $('.service_material'+row1+'').select2({
                      placeholder: ' ',
                      allowClear: true,
                      ajax: {
                              url: "/pmpr/servicematerial",
                              dataType: 'json',
                              quietMillis: 100,
                              data: function(term) {
                                  return { term: term,mtype:$('#Desription'+x+'').val() };
                              },
                              results: function(data) {
                                  return { results: data.results }
                              }
                      },
                      formatResult: function(excercise) {
                          return "<div class='select2-user-result' value="+excercise.material_group+">"+excercise.desc_material_group+"--"+excercise.material_group+" </div>";
                      },
                      id: function(excercise){
                          return excercise.material_group;
                      },
                      formatAjaxError: function(){
                          return 'Material Does not Exist';
                      },
                      formatSelection: function(excercise) {
                          $('#table4 tr:eq('+y+') div.select2-container').attr('title',excercise.desc_material_group+"--"+excercise.material_group);
                          var fd = new FormData();
          
                          return excercise.material_group;
                      },
                      initSelection : function (element, callback) {
                          var elementText = $(element).attr('data-init-text');
                          callback({"term":elementText});
                      }
          });    
          $('.date').datepicker({
                  format:"dd.mm.yyyy",
                  todayHighlight: true ,
                  startDate: "+0d", 
                  autoclose: true
          });

      

        /*AJAX CALL FOR UOM FROM MODULE PMPR */
            $('.uom'+row1+'').select2({
                    minimumInputLength: 0,
                    placeholder: ' ',
                    allowClear: true,
                    ajax: {
                        url: "/pmpr/uom",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                          return { term: term };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                    },
                    formatResult: function(excercise) {
                  return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
                },
                id: function(excercise){
                  return excercise.mu;
                },
                formatAjaxError: function(){
                  return 'storage Location Does not Exist';
                },
                formatSelection: function(excercise) {
                  $('#uom'+row1+'').val(excercise.mu);
                  return excercise.mu;
                },
                initSelection : function (element, callback) {
                  var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
                }
          });
          $('#table4 input[type=file]').change(function () {
              var val = $(this).val().toLowerCase();
              var pdfFormat = new RegExp("(.*?)\.(pdf)$");
              if(val!=""){
                  if(!(pdfFormat.test(val))) {
                      $(':file').filestyle('clear');        
                      bootbox.alert('Unsupported file pdf format only');
                      $(this).val('');
                  }
              }
          }); 
      });
    /*FOR DELETE LINE ITEM */
    $("#delete4").click(function(){
        if($('#table4 >#body4 >tr').length>1){
            table4.row1('tr:last').remove().draw( false );
        } else {
            bootbox.alert('Please don\'t delete');
        }      
    }); 
    $('#service').hide();
  });
</script>


<script TYPE="text/javascript">
/*FORM VALIDATION AND MODAL WINDOW */
function validateForm() {  
    submit = "";  
    var deptvalue = $('#dept option:checked').val();
    if(deptvalue!="select"){
                submit = true;
        } else {
            bootbox.alert("Please fill Department");
            submit = false;
            return false;
            }
        var wrk_centervalue = $('#wrk_center option:checked').val();
    if(wrk_centervalue!="select"){
                submit = true;
            } else {
                bootbox.alert("Please fill Work Center");
                submit = false;
                return false;
            }

    var cost_centervalue = $('#cost_center').val();
    if(cost_centervalue!=""){
        submit = true;
    } else {
        bootbox.alert('Please fill Cost Center');
        submit = false;
        return false;
    }

    var tabl = $('input[name="tabl"]:checked').val();
    store = [ ];
    if(tabl == "ZRGS"){
        var table3 = $("#table3 #body3");
        table3.find('tr').each(function (i) {
            var row = this.rowIndex;
            var tdr = $(this).find('td');
            var material = tdr.find('input[name="material3"]').val();
            var quantity = tdr.find('input[name="quantity3"]').val();
            var stloc = tdr.find('input[name="st_loc"]').val();
            var unitvalue = tdr.find('input[name="unit_value3"]').val();
            var date = tdr.find('input[name="date3"]').val();
            var just = tdr.find('input[name="just3"]').val();
            var poheader = tdr.find('input[name="poheader3"]').val();
            var specify = tdr.find('input[name="specify3"]').val();

            if(material!=""){
                var compare = jQuery.inArray(material,store);
                if(compare <=-1){
                    submit = true ;
                } else {
                    bootbox.alert("Material in row "+row+" already exists");
                    submit = false ;
                    return false; 
                }
                store.push(material);
            } else {
                bootbox.alert("Please fill Material in row "+row);
                submit = false;
                return false;
            }

            if(quantity != 0){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }

            if(unitvalue != ""){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var unitval = num.test(unitvalue);
                if(unitval){
                    submit = true ;
                } else {
                    bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
                submit = false ;
                return false;
            }

            if(date!="") {
                submit = true;
            } else {
                bootbox.alert("Please pick a Date in row "+row);
                submit = false ;
                return false;
            }

            if(just!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Justification in row "+row);
                submit = false;
                return false;
            }

            if(poheader!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill PO Header in row "+row);
                submit = false;
                return false;
            }

            if(specify!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Specification in row "+row);
                submit = false;
                return false;
            }      
        });
      } else {
        var table4 = $("#table4 #body4");
        table4.find('tr').each(function (i) {
            var row = this.rowIndex;
            var tdr = $(this).find('td');
            var material = tdr.find('input[name="service_material3"]').val();
            var description = tdr.find('input[name="description4"]').val();
            var quantity = tdr.find('input[name="quantity4"]').val();
            var unitvalue = tdr.find('input[name="unit_value4"]').val();
            var date = tdr.find('input[name="date4"]').val();
            var file = tdr.find('input[type="file"]').val().replace(/C:\\fakepath\\/i, '');
            
            if(material!=""){
                var compare = jQuery.inArray(material,store);
                if(compare <=-1){
                    submit = true ;
                } else {
                    bootbox.alert("Material in row "+row+" already exists");
                    submit = false ;
                    return false; 
                }
                store.push(material);
            } else {
                bootbox.alert("Please fill Material in row "+row);
                submit = false;
                return false;
            }
            

            if(description!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Description in row "+row+" takes only alphabets");
                submit = false;
                return false;
            }
    
            if(quantity != 0){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }

            if(unitvalue != ""){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var unitval = num.test(unitvalue);
                if(unitval){
                    submit = true ;
                } else { 
                    bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
                submit = false ;
                return false;
            }

            if(date!="") {
                submit = true;
            } else {
                bootbox.alert("Please pick a Date in row "+row);
                submit = false ;
                return false;
            }
        });     
      }


if (submit) {
          $('#submit1,#submit2').attr('disabled', 'disabled');
		  $('#spinModal').modal('show');
          a=[]
          dept= document.getElementById('dept').value;
          cost_center=document.getElementById('cost_center').value;
          tabl=document.querySelector('input[name="tabl"]:checked').value;
          wrk_center= document.getElementById('wrk_center').value;
          deschead=document.getElementById('desc_head').value;
          deptid= $('#dept option:selected').text();
          var d = new Date();
          var month = d.getMonth()+1;
          var day = d.getDate();
          var hour = d.getHours();
          var minute = d.getMinutes();
          var second = d.getSeconds();
          var output =  ((''+day).length<2 ? '0' : '') + day + '' +
                        ((''+month).length<2 ? '0' : '') + month + '' +
                        d.getFullYear() + '' +
                        ((''+hour).length<2 ? '0' :'') + hour + '' +
                        ((''+minute).length<2 ? '0' :'') + minute + '' +
                        ((''+second).length<2 ? '0' :'') + second;

          a.push(dept); //0
          a.push(tabl);//1
          a.push(cost_center);//2
          a.push(wrk_center);//3
          a.push(deptid);//4
          a.push(output);//5
          a.push(deschead);//6

          alert(a);
          document.getElementById("topval").value=a;
              
          var fd = new FormData(document.getElementById("tradeform"));
          $.ajax({
                  url: '/pmpr/prcostcenter',
                  data:  fd,
                  type: 'POST',
                  dataType: "json",
                  processData: false,  
                  contentType: false,
                  success: function(response) {
                      console.log(response['report']);
                      if(response['report'][0]['check']=='0'){
                          bootbox.alert(response['report'][0]['msg'], function() {location.reload(true);});            
                          
                      } else {
							$('#spinModal').modal('hide');
			          		$('#submit1,#submit2').removeAttr('disabled');
							bootbox.alert(response['report'][0]['msg'], function() {});
                      } 
                  }
          });
          return false;
          }
}


</script>

<script>
$(document).ready(function(){ 

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});
});

</script>

{% endblock %}

