{% extends "base.html" %}
{% block links %}


<style type="text/css">
body { font-size: 140%; }

</style>
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
{% endblock %}
{% block pageheader %} 
<style type="text/css">
  .buttons-excel{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding:10px;
    border-radius:2px;
}
.buttons-excel:hover, .buttons-excel:focus{
  color: white;
  }
}
</style>          
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Goals Report</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Consolidated Report</h4>
           </div><!-- panel-heading -->
        <form id="Goals_Report" action="" method="POST" style="margin-top:20px">
        <input type="text" name="curr_user_plant_id" value="{{user_details['plant_id']}}" style="display:none">
					 <div class="col-md-12">
           <div class="col-md-2">
                <div class="form-group">
                    <label for="start_date">Select FY</label>
                         <select class="form-control selct" id='FY_YEAR' name="FY_YEAR" style="" required>
                              <option value=""></option>
                              <option value="2016">2016 - 2017</option>
                              <option value="2017">2017 - 2018</option>
                          </select>        
                </div>
          
              </div>
           <div class="col-md-2">
                <div class="form-group">
                    <label for="start_date">Select Level</label>
                         <select class="form-control selct" id='emp_level' name="emp_level" style="">
                              <option value=""></option>
                              <option value="L1">L1</option>
                              <option value="L2">L2</option>
                          </select>        
                </div>
          
              </div>
              <div class="col-xs-12 col-md-2">
                    <label>Select Plant&nbsp;</label> 
                    <select class="form-control" id="plant" name="plant">
                        <option value="" >Select Plant</option>
                        {% if plant_ids %}
                        {% for plant in plant_ids%}
                        <option value="{{ plant.plant_id}}">{{ plant.plant_id}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>   
              </div>
              <div class="col-xs-12 col-md-3">
                    <label>Department&nbsp;</label> 
                    <select class="form-control" id="dept" name="dept" >
                        <option value="" id=''>Select Department </option>
                        
                    </select>   
              </div>

              
              <div  class="col-xs-12 col-md-3">
                    <label>Status</label> 
                    <select class="form-control" id="submit_status" name="submit_status">
                      <option value="" >Select Status</option>
                        <option value="GNI">Goals Not Intiated</option>
                        <option value="GSAVE">Goals Saved </option>
                        <option value="GSUB">Goals Submitted</option>
                        <option value="GA">Goals Approved</option>
                    </select> 
              </div>
              <div class="col-sm-12 col-md-1 col-md-offset-5 " style="margin-top:10px">            
                   <div class="form-group">
                   <button  type="submit" name="submit" value="Subm" id="sub_doc" class="btn btn-primary search">
                    Submit</button>
                  </div>  
              </div>  
          </div>
         
			</form>
					  
					 
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12" style="margin-top:25px">
<div class="portlet-content">   
					
					 
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
       
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<!-- <script src="/static/js/jquery.dataTables.min.js"></script> -->
<!-- <script src="/static/js/dataTables.bootstrap.js"></script> -->
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // $('#example').DataTable({
    // });
} )

</script>
<!-- <script>

/*document.getElementById("gov").addEventListener("click", function() {
  window.open("/static/forms/Form16/government/"+n+"/{{ user_details.pancard }}.pdf");
}, false);
document.getElementById("comp").addEventListener("click", function() {
  window.open("/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");
}, false);

document.getElementById("contentarea").setAttribute('data', "/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");

document.getElementById("down").setAttribute('onclick',"window.open('/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf','_blank')");

document.getElementById("down").innerHTML = "Download "+n+" Company form 16" ;
*/
</script> -->
<!-- <script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelFlash',
                filename: 'Data export',
                text: 'Save current page',
                exportOptions: {
                    modifier: {
                      page: 'current'
                }
            }
            },
            {
                extend: 'excelFlash',
                filename: 'Data export',
                text: 'Save'
            }]
    } );
} );
</script> -->

 <script type="text/javascript">

$(document).ready(function(){ 
$( document ).ajaxStart(function() {
  $( "#preloader").show();
  $('#status').show();
});

$( document ).ajaxStop(function() {
  $( "#preloader").hide();
    $('#status').hide();
});
  $("#plant").change(function(e){ 
        e.preventDefault();
        var datastring='plant_id='+$('#plant').val();
        console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/epms/getdepartment/",
            data: datastring,
            success: function(data) {
              var new_depts="<option value=''>Select Department</option>"
              // console.log(data['results']);
              for (k = 0; k < data['results'].length; k++) { 
                  new_depts+='<option value="'+data["results"][k].dept_pid+'">'+data["results"][k].dept+'</option><br/>'
              }
             $('#dept').html(new_depts);
            }
          });




      });
  // $('#FY_selectform').change(function(){ 

$("#Goals_Report").submit(function(e){ 
        e.preventDefault();
        var datastring=$('#Goals_Report').serialize();
        console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/epms/employee_list_ajax/",
            data: datastring,
            success: function(data) {
              console.log(data);
              $('#example').DataTable( {
                    destroy: true,
                    data: data['result'],
                    columns: [
                     { title: "UserId","width": "10%" },
                        { title: "Name","width": "30%" },
                         { title: "Department","width": "20%" },
                          { title: "Level","width": "10%" },
                           { title: "Plant","width": "10%" },
                           { title: "Status","width": "20%" }

                            ],
                  dom: 'Bfrtip',
        buttons: [
            'excelHtml5',
        ]
                    } );
            }
          });




      });





});

</script>

  <script type="text/javascript">
  document.getElementById('id-36').className ="nav-parent nav-active active";
      document.getElementById("t").style.display = "block";
document.getElementById('id-36.4').className ="active";
    </script>

{% endblock %}
