{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>
<style type="text/css">
  
 .ui-datepicker-calendar {
   display: none !important;
} 

.ui-datepicker-month {
   display: none;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Goals Approvals</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Employee Leave History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Team Goals</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

<form  action="" method="POST" onsubmit="return validation()">
<div class="row">

<div class="col-md-2 col-md-offset-2">
<label>Select Financial Year:</label>
</div>

<div class="col-md-2">
  
<input id="datepicker" type="text" name="fin_date" value='' placeholder="Select Year" style="width:110px;" class="form-control start_date" required>
</div>
<input type="hidden" name="final_date" id="final_date">
  <div class="col-sm-2 col-md-1">            
                       <div class="form-group">
                       
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
<div class="col-md-4 col-md-offset-2" id="quota">

</div>

    </div><br>
</form>     
                                             
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#datepicker').datepicker({
     changeMonth: true,
     changeYear: true,
     showButtonPanel: true,
     dateFormat: 'yy',

     onClose: function() {

        var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();

        var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
         $("#datepicker").val((parseInt(iYear) - 1) + "-" + iYear);
         $("#final_date").val((parseInt(iYear) - 1));
     }

   
  });
 
});

</script>
  <script type="text/javascript">
  document.getElementById('id-36').className ="nav-parent nav-active active";
      document.getElementById("t").style.display = "block";
  document.getElementById('id-36.3').className ="active";
  </script>

{% endblock %}
