{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css' rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->
<style type="text/css">
body { font-size: 140%; }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.custom_table td{
  border:0px;
}

.inline_btt
{
  -moz-border-radius: 3px;
  webkit-border-radius: 3px;
    line-height: 10px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.input-disabled{background-color:#EBEBE4;}
.form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
.error{
  border: 1px solid red;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>KRA ENTRY FORM</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title"></h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

<div class="table-responsive display" cellspacing="0" width="100%">
<form method="POST" id='cp_kra_form_l2'>
 <table id='myTable'>
  <tr>
    <th style="width:300px; text-align: center;">Measure</th>
    <th style="text-align:center">UOM</th>
    <th style="text-align:center">Method of Calculation</th>
    <th style="text-align:center;width:90px">Weightage (%)</th>
    <th style="text-align:center;width:125px">2016-2017<br/>(Base)</th>
    <th style="text-align:center;width:125px">2017-2018<br/>(Target)</th>
    <th style="text-align:center;width:400px">Initiatives</th>
  </tr>
  <!-- row 1 of table -->
  {% if employee_att['savedindicater'] == "Yes" %}

      {% for i in range(0,employee_att['kradetials']|length) %}
          {% if employee_att['kradetials'][i]['measures'] !='' or employee_att['kradetials'][i]['uom'] !='' or employee_att['kradetials'][i]['methodofcal'] !='' or employee_att['kradetials'][i]['weightage'] !='' or employee_att['kradetials'][i]['base'] !='' or employee_att['kradetials'][i]['target'] !='' or employee_att['kradetials'][i]['initiatives'] !='' %}
             <tr>
      <td style="width:25%"><input type="text" class="form-control " id="" name="measure" value="{{employee_att['kradetials'][i]['measures']}}" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['measures']}}" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}></td>
      <td style="width:90px"><input type="text" class="form-control " id="" name="uom" value="{{employee_att['kradetials'][i]['uom']}}" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['uom']}}" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}></td>
      <td style="width:196px">
         <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="" name="methodofcal" value="{{employee_att['kradetials'][i]['methodofcal']}}" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['methodofcal']}}" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
          </div>
      </td>
      <td style="width:87px">
          <div class="form-group">
              <input type="number" class="form-control Weightage" id="" name="weightage" value="{{employee_att['kradetials'][i]['weightage']}}" min="0" step="1" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['weightage']}}" onkeypress="return validate(event);" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="base" value="{{employee_att['kradetials'][i]['base']}}" min="0" step="0.01" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['base']}}" onkeypress="return validate(event);" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="target" value="{{employee_att['kradetials'][i]['target']}}" min="0" step="0.01" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['target']}}" onkeypress="return validate(event);" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
          </div>
      </td>
      <td >
       <textarea type="text" class="form-control" id="" rows="2" cols="2" placeholder="" name="initiatives" data-toggle="tooltip" title="{{employee_att['kradetials'][i]['initiatives']}}" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %} >{{employee_att['kradetials'][i]['initiatives']}}</textarea>
      </td>


  </tr>
  {% endif %}
      {% endfor %}
  {% else %}
       <tr>
      <td style="width:25%"><input type="text" class="form-control " id="" name="measure"></td>
      <td style="width:90px"><input type="text" class="form-control " id="" name="uom"></td>
      <td style="width:196px">
         <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="" name="methodofcal">
          </div>
      </td>
      <td style="width:87px">
          <div class="form-group">
              <input type="number" class="form-control Weightage" id="" name="weightage" min="1" step="1" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="base" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="target" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td >
       <textarea type="text" class="form-control" id="" rows="2" cols="2" placeholder="" name="initiatives"></textarea>
      </td>


  </tr>
  <tr>
       <td style="width:25%"><input type="text" class="form-control " id="" name="measure"></td>
      <td style="width:90px"><input type="text" class="form-control " id="" name="uom"></td>
      <td style="width:196px">
         <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="" name="methodofcal">
          </div>
      </td>
      <td style="width:87px">
          <div class="form-group">
              <input type="number" class="form-control Weightage" id="" name="weightage" min="1" step="1" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="base" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="target" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td >
       <textarea type="text" class="form-control" id="" rows="2" cols="2" placeholder="" name="initiatives"></textarea>
      </td>


  </tr>
  <tr>
      
      <td style="width:25%"><input type="text" class="form-control " id="" name="measure"></td>
      <td style="width:90px"><input type="text" class="form-control " id="" name="uom"></td>
      <td style="width:196px">
         <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="" name="methodofcal">
          </div>
      </td>
      <td style="width:87px">
          <div class="form-group">
              <input type="number" class="form-control Weightage" id="" name="weightage" min="1" step="1" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="base" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="target" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td >
       <textarea type="text" class="form-control" id="" rows="2" cols="2" placeholder="" name="initiatives"></textarea>
      </td>

  </tr>
 
  <tr>
      <td style="width:25%"><input type="text" class="form-control " id="" name="measure"></td>
      <td style="width:90px"><input type="text" class="form-control " id="" name="uom"></td>
      <td style="width:196px">
         <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="" name="methodofcal">
          </div>
      </td>
      <td style="width:87px">
          <div class="form-group">
              <input type="number" class="form-control Weightage" id="" name="weightage" min="1" step="1" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="base" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="" name="target" min="0" step="0.01" onkeypress="return validate(event);">
          </div>
      </td>
      <td >
       <textarea type="text" class="form-control" id="" rows="2" cols="2" placeholder="" name="initiatives"></textarea>
      </td>

  </tr>
  {% endif %}

</table>
<table>
   <tr>
      <td>
        <input type="button" class="inline_btt btn-success" onclick="myFunction3('myTable')" name="" value="Add Row" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
         <input type="button" class="inline_btt btn-danger" onclick="myFunction4('myTable')" name="" value="Del Row" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
         <span style="padding-left: 235px; ">Total Weightage:&nbsp;<input type="text" style="width: 80px; text-align: center;" class="form-controlx TotalWeightageSum" id="TotalWeightageSum" name="TotalWeightageSum" value="{{employee_att['TotalWeightageSum']}}" readonly></span>
      </td>
    </tr>

 </table> 
 <br>
<div class="col-sm-12 col-md-2 col-sm-offset-3">   
              <input type="hidden" name="temp" id="temp">         
              <div class="form-group">
                  <input id="save" type="submit" name="submit" value="Save" onclick="return valfun('save')" class="btn btn-primary btn-block" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
              </div>  
        </div>  
<div class="col-sm-12 col-md-2 col-sm-offset-1">            
              <div class="form-group">
                  <input id="submit" type="submit" name="submit"  value="Submit" onclick="return valfun1('submit')" class="btn btn-primary btn-block" {% if employee_att['submitindicater'] == "Yes" %} disabled {% endif %}>
              </div>  
        </div>  
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    



{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js' ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript">
  function valfun(val){
    $('#temp').val(val); 
  }

</script>
<script type="text/javascript">
  function valfun1(val1){
    $('#temp').val(val1); 
  }

</script>
<script>

$(document).ready(function() { 

$('#myTable').find('tr').click( function(){
  var row = $(this).find('td:first').text();
});


});


$(document).on('focus',".date_formater", function(){
    $(this).datepicker({}).on('change', function(){
        $('.datepicker').hide();
    });
});

$(document).ready(function(){ 
  
  $('.date_formater').on('click',function(){ 
      $('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

  });

});

$('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

function myFunction3(tableid) {

var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
var table = document.getElementById(tableid);
var table_id="myTable_dynm"+countTD
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    cell1.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" placeholder="" name="measure"></div>';
    cell2.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" placeholder="" name="uom"></div>';
    cell3.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" placeholder="" name="methodofcal"></div>';
    cell4.innerHTML='<div class="form-group"><input type="number"  class="form-control Weightage" id="" placeholder="" name="weightage" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell5.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" placeholder="" name="base" min="0" step="0.01" onkeypress="return validate(event);"></div>';
    cell6.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" placeholder="" name="target" min="0" step="0.01" onkeypress="return validate(event);"></div>';
   cell7.innerHTML='<div class="form-group"><textarea type="text" class="form-control" id="" placeholder="" name="initiatives"></textarea></div>';
}
function myFunction2() {
var table = document.getElementById("myTable2");
    var row=table.insertRow(0);
    var cell1 = row.insertCell(0);
     cell1.innerHTML="aswini";
    cell2.innerHTML="kumar";
}
function myFunction4(tableid) {
var table = document.getElementById(tableid);
var countTD =document.getElementById(tableid).rows.length;
if(countTD-1>1)
  {
    table.deleteRow(countTD-1);
          var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum); 
  }
  else
  {
     bootbox.alert("Single row con\'t delete ");
      return false;
  }
}
</script>

<script>
$(document).ready(function(){ 

var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            $(this).val('');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum);  

});

$(document).on("change", ".Weightage", function() {
    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            $(this).val(' ');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum);    
});
</script>

<script type="text/javascript">
  $(document).ready(function(){ 
    $('input').click(function(){
      // alert('hello');
        $(this).removeClass('error');
    });
        $('#cp_kra_form_l2').submit(function() {
          var check=$("input[name='temp']").val();
    if(check == 'save'){
      return true;
    } else{     
    var inputs = document.getElementsByTagName('input');
   for(var i = 0; i < inputs.length; ++i){
      if(inputs[i].type === 'text' || inputs[i].type === 'number'){
         if(inputs[i].value === '') 
         {
            bootbox.alert("Please Fill All Fields Before Submition.");
            $(inputs[i]).addClass('error');
            inputs[i].focus()
            return false;
         }
       }
   }
   
// intiatives are not mandatory so removed.
  var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            $(this).val('');
            return false;
        }
        sum += +$(this).val();
    });
    $('#TotalWeightageSum').val(sum); 
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        $('#TotalWeightageSum').val(''); 
        return false;
    }
    if(sum<100)
    {
        bootbox.alert('Sum of all the weightage of all objectives should be 100');
        $('#TotalWeightageSum').val(''); 
        return false;
    }
    
        }
        });
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});

  function validate(evt) {

  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  if(key == 37 || key == 38 || key == 39 || key == 40 || key == 8 || key == 46) { // Left / Up / Right / Down Arrow, Backspace, Delete keys
     return;
 }
  key = String.fromCharCode( key );
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
</script>
  <script type="text/javascript">
  document.getElementById('id-36').className ="nav-parent nav-active active";
      document.getElementById("t").style.display = "block";
document.getElementById('id-36.2').className ="active";
    </script>

{% endblock %}
