{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>KRA - Goals </h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Consolidated Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Status</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for e in employee_att %}

            <tr>

                <td>{{ e['Userid'] }}</td>  
                <td>{{ e['Name'] }}</td>
                <td>{{ e['emp_status'] }}</td>
                <td>{{ e['status'] }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
  
{% endblock %}    
{% block scripts %}
<!-- <script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script> -->
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
  <script type="text/javascript">
  document.getElementById('id-36').className ="nav-parent nav-active active";
      document.getElementById("t").style.display = "block";
document.getElementById('id-36.5').className ="active";
    </script>

{% endblock %}
