{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css' rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->
<style type="text/css">
body { font-size: 140%; }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.inline_tb
{
  /*border-radius: 3px;*/
    padding: 10px;
    height: 35px;
    font-size: 13px;
}
.inline_btt
{
  -moz-border-radius: 3px;
  webkit-border-radius: 3px;
    line-height: 10px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.input-disabled{background-color:#EBEBE4;}
.form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.custom_table td{
  border:0px;
}
.error{
  border: 1px solid red;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Goals Approval</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title"></h4>
          &nbsp;<b>{{empname}}&nbsp;({{employee_att['UserId']}})</b>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

<div class="table-responsive display" cellspacing="0" width="100%">
<form method="POST" id='cp_kra_form'>
<table>
  <tr>
    <th style="width:25%; text-align:center">Measure</th>
    <th style="text-align:center;width:8%;">UOM</th>
    <th style="text-align:center;width:13%;">Method of Calculation</th>
    <th style="text-align:center;width:9%;">Weightage (%)</th>
    <th style="text-align:center;width:8%;">{{eff_year}}<br/>(Base)</th>
    <th style="text-align:center;width:9%;">{{ff_year}}<br/>(Target)</th>
    <th style="text-align:center;width:19%">Initiatives</th>
    <th style="text-align:center;width:15%">Completion Date</th>
  </tr>
  </table>
  <!-- row 1 of table -->
  <table id='myTable'>
  <tr>
      <td colspan="7" ><b>Financial / Costing Strategic Objective:&nbsp;&nbsp;</b><input type="text" class="inline_tb" style="width:35%" id="" name="financialobjective" readonly value="{{employee_att['financialobjective']}}"></td>
   </tr>
 
    {%for e in range(0,employee_att['financialobjectivedetails']|length)%}
  <tr>
      <td style="width:25%"><input type="text" class="form-control measure" id="measure" name="fmeasure" value="{{employee_att['financialobjectivedetails'][e]['fmeasure']}}" readonly></td>
      <td style="width:8%"><input type="text" class="form-control uom" name="fuom"  id="uom" value="{{employee_att['financialobjectivedetails'][e]['fuom']}}" readonly></td>
      <td style="width:13%">
         <div class="form-group">
              <input type="text" class="form-control methodofcalculation"  id="methodofcalculation" name="fmethodofcalculation" placeholder="" value="{{employee_att['financialobjectivedetails'][e]['fmethodofcal']}}" readonly>
          </div>
      </td>
      <td style="width:90px">
          <div class="form-group">
              <input type="number" class="form-control Weightage" id="Weightage" name="fweightage" value="{{employee_att['financialobjectivedetails'][e]['fweightage']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:87px">
        <div class="form-group">
              <input type="number" class="form-control base" id="base" name="fbase" placeholder="" value="{{employee_att['financialobjectivedetails'][e]['fbase']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control target" id="target" name="ftarget" placeholder="" value="{{employee_att['financialobjectivedetails'][e]['ftraget']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td>
        <!-- <input type="hidden" name="myTable11{{e|string}}_finitcount"> -->
        <table class='custom_table' id="myTable11{{e|string}}">
        {% for jjj in employee_att['financialobjectivedetails'][e]['finitiative']%}
            <tr>            
              <td>
                  <div class="form-group">
                      <textarea type="text" class="form-control initiative" id="initiative" name="finitiative{{e}}" placeholder="" readonly>{{jjj['intiatives']}}</textarea>
                  </div>
              </td>   
              <td style="width:35%">
                  <div class="form-group">
                      <input type="text" class="form-control date_formater" id="date_formater" name="finitidate{{e}}" placeholder="Date" value="{{jjj['finitidates']}}" readonly>
                  </div>
                 
              </td>                        
          </tr>
          {% endfor %} 
        </table>
      </td>
  </tr>
  {%endfor%}
  
   </table>
 
  <!-- row 2 of table -->
   <table id='myTablerow2'>
  <tr>

      <td colspan="7"><b>Customer Strategic Objective:&nbsp;&nbsp;</b> <input type="text" class="inline_tb" style="width:35%" id="" name="customerobjective" value="{{employee_att['customerobjective']}}" readonly></td>
 
  </tr>
 
    {%for e in range(0,employee_att['customerobjectivedetails']|length)%}
     <tr>
      <td style="width:25%"><input type="text" class="form-control measure" id="measure" name="cmeasure" value="{{employee_att['customerobjectivedetails'][e]['cmeasure']}}" readonly></td>
      <td style="width:8%"><input type="text" class="form-control uom" id="uom" name="cuom" value="{{employee_att['customerobjectivedetails'][e]['cuom']}}" readonly></td>
      <td style="width:13%">
         <div class="form-group">
              <input type="text" class="form-control methodofcalculation" id="methodofcalculation" name="cmethodofcalculation" placeholder="" value="{{employee_att['customerobjectivedetails'][e]['cmethodofcal']}}" readonly>
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control Weightage" id="Weightage" name="cweightage"  value="{{employee_att['customerobjectivedetails'][e]['cweightage']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:87px">
        <div class="form-group">
              <input type="number" class="form-control base" id="base" name="cbase" placeholder="" value="{{employee_att['customerobjectivedetails'][e]['cbase']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control target" id="target" name="ctarget" placeholder="" value="{{employee_att['customerobjectivedetails'][e]['ctraget']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td>
       <table class='custom_table' id="myTable17{{e|string}}">
       {% for jjj in employee_att['customerobjectivedetails'][e]['cinitiative']%}
            <tr>
              <td>
                 <div class="form-group">
                      <textarea type="text" class="form-control initiative" id="initiative" name="cinitiative{{e}}" placeholder="" readonly>{{jjj['intiatives']}}</textarea>
                  </div>
              </td>   
              <td style="width:35%">
                  <div class="form-group">
                      <input type="text" class="form-control date_formater" id="date_formater" name="cinitidate{{e}}" placeholder="Date" value="{{jjj['cinitidates']}}" readonly>
                  </div>
              </td>           
          </tr>
          {%endfor%}
        </table>
      </td>
      {%endfor%}
 
  
  </table>
 <!-- row 3 of table -->
<table id="myTablerow3">

  <tr>
      <td colspan="7"> <b>Process Strategic Objective:</b>&nbsp;&nbsp;<input type="text" class="inline_tb" style="width:35%" id="" name="process" value="{{employee_att['process']}}" readonly> </td>
  </tr>
  
 
    {%for e in range(0,employee_att['processobjectivedetials']|length)%}
  <tr>
      <td style="width:25%"><input type="text" class="form-control measure" id="measure" name="pmeasure" value="{{employee_att['processobjectivedetials'][e]['pmeasure']}}" readonly></td>
      <td style="width:8%"><input type="text" class="form-control uom" id="uom" name="puom" placeholder="" value="{{employee_att['processobjectivedetials'][e]['puom']}}" readonly></td>
      <td style="width:13%">
         <div class="form-group">
              <input type="text" class="form-control methodofcalculation" id="methodofcalculation" name="pmethodofcalculation" placeholder="" value="{{employee_att['processobjectivedetials'][e]['pmethodofcal']}}" readonly>
          </div>
      </td>
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control Weightage" id="Weightage" name="pweightage" value="{{employee_att['processobjectivedetials'][e]['pweightage']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:87px">
        <div class="form-group">
              <input type="number" class="form-control base" id="base" name="pbase" placeholder="" value="{{employee_att['processobjectivedetials'][e]['pbase']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control target" id="target" name="ptarget" placeholder="" value="{{employee_att['processobjectivedetials'][e]['ptraget']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td>
       <table class='custom_table' id="myTable16{{e|string}}">
       {% for jjj in employee_att['processobjectivedetials'][e]['pinitiative']%}
            <tr>
              <td>
                  <div class="form-group">
                      <textarea type="text" class="form-control initiative" id="initiative" name="pinitiative{{e}}" placeholder="" readonly>{{jjj['intiatives']}}</textarea>
                  </div>
              </td>   
              <td style="width:35%">
                  <div class="form-group">
                      <input type="text" class="form-control date_formater" id="date_formater" name="pinitidate{{e}}" placeholder="Date" value="{{jjj['pinitidates']}}" readonly>
                  </div>
              </td>           
          </tr>
          {%endfor%}
        </table>
      </td>

  </tr>
  {%endfor%}
  
</table>
 <!-- row 4 of table-->
<table id="myTablerow4">

  <tr>
      <td colspan="7"><b>Employee Strategic Objective:</b>&nbsp;&nbsp;<input type="text" class="inline_tb" style="width:35%" id="" name="employee" value="{{employee_att['employee']}}" readonly></td>
  </tr>
  

    {%for e in range(0,employee_att['employeeobjectivedetails']|length)%}
   <tr>
      <td style="width:25%"><input type="text" class="form-control measure" id="measure" name="emeasure" value="{{employee_att['employeeobjectivedetails'][e]['emeasure']}}" readonly></td>
      <td style="width:8%"><input type="text" class="form-control uom" id="uom" name="euom" placeholder="" value="{{employee_att['employeeobjectivedetails'][e]['euom']}}" readonly></td>
      <td style="width:13%">
         <div class="form-group">
              <input type="text" class="form-control methodofcalculation" id="methodofcalculation" name="emethodofcalculation" placeholder="" value="{{employee_att['employeeobjectivedetails'][e]['emethodofcal']}}" readonly>
          </div>
      </td >
      <td style="width:90px">
        <div class="form-group">
              <input type="number" class="form-control Weightage" id="Weightage" name="eweightage" value="{{employee_att['employeeobjectivedetails'][e]['eweightage']}}"  min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:87px">
        <div class="form-group">
              <input type="number" class="form-control base" id="base" name="ebase" placeholder="" value="{{employee_att['employeeobjectivedetails'][e]['ebase']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td style="width:92px">
        <div class="form-group">
              <input type="number" class="form-control target" id="target" name="etarget" placeholder="" value="{{employee_att['employeeobjectivedetails'][e]['etraget']}}" min="1" step="1" onkeypress="return validate(event);" readonly>
          </div>
      </td>
      <td>
      <table class='custom_table' id="myTable13{{e|string}}">
      {% for jjj in employee_att['employeeobjectivedetails'][e]['einitiative']%}
            <tr>
              <td>
                  <div class="form-group">
                      <textarea type="text" class="form-control initiative" id="initiative" name="einitiative{{e}}" placeholder="" readonly>{{jjj['intiatives']}}</textarea>
                  </div>
              </td>   
              <td style="width:35%">
                  <div class="form-group">
                      <input type="text" class="form-control date_formater" id="date_formater" name="einitidate{{e}}" placeholder="Date" value="{{jjj['einitidates']}}" readonly>
                  </div>
              </td>           
          </tr>
          {%endfor%}
        </table>
      </td>
  </tr>
  {%endfor%}
 
</table>
<br>

{% if approval_status == 'appraiser' %}
<div class="col-sm-12 col-md-2 col-sm-offset-3">   
              <input type="hidden" name="prid" id="prid" value="{{employee_att['_id']}}">         
              <div class="form-group">
                  <input id="save" type="submit" name="submit" value="Approve" onclick="return valfun('save')" class="btn btn-success btn-block" {% if employee_att['SubmitIndicator_Appraiser'] == "Yes" %} disabled {% endif %}>
              </div>  
        </div>  
<div class="col-sm-12 col-md-2 col-sm-offset-1">            
              <div class="form-group">
                  <input id="submit" type="submit" name="submit"  value="Reject" onclick="return valfun1('submit')" class="btn btn-danger btn-block" {% if employee_att['SubmitIndicator_Appraiser'] == "Yes" %} disabled {% endif %}>
              </div>  
        </div>
 {% endif %}

 {% if approval_status == 'reviewer' %}
<div class="col-sm-12 col-md-2 col-sm-offset-3">   
              <input type="hidden" name="prid" id="prid" value="{{employee_att['_id']}}">         
              <div class="form-group">
                  <input id="save" type="submit" name="submit" value="Approve" onclick="return valfun('save')" class="btn btn-success btn-block" {% if employee_att['SubmitIndicator_Appraiser'] == "Yes" and employee_att['SubmitIndicator_Reviewer'] == "Yes" %} disabled {% endif %}>
              </div>  
        </div>  
<div class="col-sm-12 col-md-2 col-sm-offset-1">            
              <div class="form-group">
                  <input id="submit" type="submit" name="submit"  value="Reject" onclick="return valfun1('submit')" class="btn btn-danger btn-block" {% if employee_att['SubmitIndicator_Appraiser'] == "Yes" and employee_att['SubmitIndicator_Reviewer'] == "Yes" %} disabled {% endif %}>
              </div>  
        </div>
 {% endif %}
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    

 

{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js' ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>

<script>

$(document).ready(function() { 

$('#myTable').find('tr').click( function(){
  var row = $(this).find('td:first').text();
});


});


$(document).on('focus',".date_formater", function(){
    $(this).datepicker({}).on('change', function(){
        $('.datepicker').hide();
    });
});

$(document).ready(function(){ 
  
  $('.date_formater').on('click',function(){ 
      $('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

  });

});

$('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });
function myFunction() {
    var table = document.getElementById("myTable");
    table.deleteRow(1);

}
function myFunction1(tableid,rownum) {
//   var countTD=$("#"+tableid+" tr:first > td").length;
// alert(tableid);
var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
// console.log(table);
    var row=table.insertRow(countTD);
    $("input[name='"+tableid+"_finitcount']").val(countTD);
    var testname=tableid+'_finitcount';
    console.log(testname);
    console.log($("input[name='"+testname+"']").val());
    
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var dyn_init_name='finitiative'+rownum
    var dyn_dt_name='finitidate'+rownum
    cell1.innerHTML='<div class="form-group"><textarea type="text" class="form-control " id="" name='+dyn_init_name+' placeholder="" ></textarea></div>';
   cell2.innerHTML='<div class="form-group"><input type="text" class="form-control date_formater" id="" name='+dyn_dt_name+' placeholder="Date" ></div>';
$('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

}
function myFunction9(tableid,rownum) {
//   var countTD=$("#"+tableid+" tr:first > td").length;
// alert(tableid);
var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var dyn_init_name='cinitiative'+rownum
    var dyn_dt_name='cinitidate'+rownum
    cell1.innerHTML='<div class="form-group"><textarea type="text" class="form-control " id="" name='+dyn_init_name+' placeholder="" ></textarea></div>';
   cell2.innerHTML='<div class="form-group"><input type="text" class="form-control date_formater" id="" name='+dyn_dt_name+' placeholder="Date" ></div>';
$('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

}
function myFunction10(tableid,rownum) {
//   var countTD=$("#"+tableid+" tr:first > td").length;
// alert(tableid);
var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var dyn_init_name='pinitiative'+rownum
    var dyn_dt_name='pinitidate'+rownum
    cell1.innerHTML='<div class="form-group"><textarea type="text" class="form-control " id="" name='+dyn_init_name+' placeholder="" ></textarea></div>';
   cell2.innerHTML='<div class="form-group"><input type="text" class="form-control date_formater" id="" name='+dyn_dt_name+' placeholder="Date" ></div>';
$('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

}
function myFunction11(tableid,rownum) {
//   var countTD=$("#"+tableid+" tr:first > td").length;
// alert(tableid);
var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
console.log(table);
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var dyn_init_name='einitiative'+rownum
    var dyn_dt_name='einitidate'+rownum
    cell1.innerHTML='<div class="form-group"><textarea type="text" class="form-control " id="" name='+dyn_init_name+' placeholder="" ></textarea></div>';
   cell2.innerHTML='<div class="form-group"><input type="text" class="form-control date_formater" id="" name='+dyn_dt_name+' placeholder="Date" ></div>';
$('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });

}
function myFunction3(tableid) {
  var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
var table_id="myTable_dynm"+countTD
var dyn_finitiative="finitiative"+(countTD-1).toString();
var dyn_finiti_date="finitidate"+(countTD-1).toString();
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    var test=(countTD-1).toString();
    cell1.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="fmeasure" placeholder="" ></div>';
    cell2.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="fuom" placeholder="" ></div>';
    cell3.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="fmethodofcalculation" placeholder="" ></div>';
    cell4.innerHTML='<div class="form-group"><input type="number" class="form-control Weightage" id="Weightage" name="fweightage" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell5.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="fbase" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell6.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="ftarget" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
   cell7.innerHTML='<table class="custom_table" id="'+table_id+'">'+
            '<tr><td><div class="form-group"><textarea type="text" class="form-control" id="" name="'+dyn_finitiative+'" placeholder="" ></textarea></div></td>'+   
            '<td style="width:35%"><div class="form-group"><input type="text" class="form-control date_formater" id="" name="'+dyn_finiti_date+'" placeholder="Date" >'+
                  '</div></td></tr></table>'+
       '<button type="button" class="inline_btt btn-success" onclick="myFunction1(\''+table_id+'\',\''+test+'\')" id="tabletest">Add intiatives</button>'+' <button type="button" class="inline_btt btn-danger" onclick="myFunction5(\''+table_id+'\')" id="tabletest">Del intiatives</button>';
    $('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });
}
function myFunction6(tableid) {
  var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
var table_id="myTable_dynm"+countTD
var dyn_cinitiative="cinitiative"+(countTD-1).toString();
var dyn_ciniti_date="cinitidate"+(countTD-1).toString();
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
     var test=(countTD-1).toString();
    cell1.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="cmeasure" placeholder="" ></div>';
    cell2.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="cuom" placeholder="" ></div>';
    cell3.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="cmethodofcalculation" placeholder="" ></div>';
    cell4.innerHTML='<div class="form-group"><input type="number" class="form-control Weightage" id="Weightage" name="cweightage" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell5.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="cbase" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell6.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="ctarget" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
   cell7.innerHTML='<table class="custom_table" id="'+table_id+'">'+
            '<tr><td><div class="form-group"><textarea type="text" class="form-control" id="" name="'+dyn_cinitiative+'" placeholder="" ></textarea></div></td>'+   
            '<td style="width:35%"><div class="form-group"><input type="text" class="form-control date_formater" id="" name="'+dyn_ciniti_date+'" placeholder="Date" >'+
                  '</div></td></tr></table>'+
       '<button type="button" class="inline_btt btn-success" onclick="myFunction9(\''+table_id+'\',\''+test+'\')" id="tabletest">Add intiatives</button>'+' <button type="button" class="inline_btt btn-danger" onclick="myFunction5(\''+table_id+'\')" id="tabletest">Del intiatives</button>';
    $('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });
}
function myFunction7(tableid) {
  var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
var table_id="myTable_dynm"+countTD
var dyn_pinitiative="pinitiative"+(countTD-1).toString();
var dyn_piniti_date="pinitidate"+(countTD-1).toString();
    var row=table.insertRow(countTD);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    var test=(countTD-1).toString();
    cell1.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="pmeasure" placeholder="" ></div>';
    cell2.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="puom" placeholder="" ></div>';
    cell3.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="pmethodofcalculation" placeholder="" ></div>';
    cell4.innerHTML='<div class="form-group"><input type="number" class="form-control Weightage" id="Weightage" name="pweightage" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell5.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="pbase" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell6.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="ptarget" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
   cell7.innerHTML='<table class="custom_table" id="'+table_id+'">'+
            '<tr><td><div class="form-group"><textarea type="text" class="form-control" id="" name="'+dyn_pinitiative+'" placeholder="" ></textarea></div></td>'+   
            '<td style="width:35%"><div class="form-group"><input type="text" class="form-control date_formater" id="" name="'+dyn_piniti_date+'" placeholder="Date" >'+
                  '</div></td></tr></table>'+
       '<button type="button" class="inline_btt btn-success" onclick="myFunction10(\''+table_id+'\',\''+test+'\')" id="tabletest">Add intiatives</button>'+' <button type="button" class="inline_btt btn-danger" onclick="myFunction5(\''+table_id+'\')" id="tabletest">Del intiatives</button>';
    $('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });
}
function myFunction8(tableid) {
  var countTD =document.getElementById(tableid).rows.length;
var table = document.getElementById(tableid);
var table_id="myTable_dynm"+countTD
    var row=table.insertRow(countTD);
var dyn_einitiative="einitiative"+(countTD-1).toString();
var dyn_einiti_date="einitidate"+(countTD-1).toString();
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
   var test=(countTD-1).toString();
    cell1.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="emeasure" placeholder="" ></div>';
    cell2.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="euom" placeholder="" ></div>';
    cell3.innerHTML='<div class="form-group"><input type="text" class="form-control " id="" name="emethodofcalculation" placeholder="" ></div>';
    cell4.innerHTML='<div class="form-group"><input type="number" class="form-control Weightage" id="Weightage" name="eweightage" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell5.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="ebase" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
    cell6.innerHTML='<div class="form-group"><input type="number" class="form-control " id="" name="etarget" placeholder="" min="1" step="1" onkeypress="return validate(event);"></div>';
   cell7.innerHTML='<table class="custom_table" id="'+table_id+'">'+
            '<tr><td><div class="form-group"><textarea type="text" class="form-control" id="" name="'+dyn_einitiative+'" placeholder="" ></textarea></div></td>'+   
            '<td style="width:35%"><div class="form-group"><input type="text" class="form-control date_formater" id="" name="'+dyn_einiti_date+'" placeholder="Date" >'+
                  '</div></td></tr></table>'+
       '<button type="button" class="inline_btt btn-success" onclick="myFunction11(\''+table_id+'\',\''+test+'\')" id="tabletest">Add intiatives</button>'+' <button type="button" class="inline_btt btn-danger" onclick="myFunction5(\''+table_id+'\')" id="tabletest">Del intiatives</button>';
    $('.date_formater').datepicker({
  format: 'dd/mm/yyyy',
}).on('change', function(){
        $('.datepicker').hide();
    });
}
function myFunction2() {
var table = document.getElementById("myTable2");
    var row=table.insertRow(0);
    var cell1 = row.insertCell(0);
     cell1.innerHTML="aswini";
    cell2.innerHTML="kumar";
}
function myFunction4(tableid) {
var table = document.getElementById(tableid);
var countTD =document.getElementById(tableid).rows.length;
if(countTD-1>1)
  {
    table.deleteRow(countTD-1);
    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum); 
  }
  else
  {
     bootbox.alert("Single row con\'t delete ");
      return false;
  }
}
function myFunction5(tableid) {

var table = document.getElementById(tableid);
var countTD =document.getElementById(tableid).rows.length;
$("input[name='"+tableid+"_finitcount']").val(countTD);
// alert($("input[name='"+tableid+"_finitcount']").val(countTD));
if(countTD>1)
  {
    table.deleteRow(countTD-1);
    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum); 
  }
  else
  {
     bootbox.alert("Single row con\'t delete ");
      return false;
  }
}
</script>

<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 49 || charCode > 52))
        return false;
    return true;
}
</script>
<script>
$(document).ready(function(){ 

 var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            $('#TotalWeightageSum').val('');
            alert('123');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        $('#TotalWeightageSum').val('');
        return false;
    }
    $('#TotalWeightageSum').val(sum);   

});


$(document).on("change", ".Weightage", function() {
    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            $('#TotalWeightageSum').val('');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        $('#TotalWeightageSum').val('');
        return false;
    }
    $('#TotalWeightageSum').val(sum);    
});
</script>
<script type="text/javascript">
  $(document).ready(function(){ 
    console.log("{{approval_status}}");
    $('input').click(function(){
        $(this).removeClass('error');
    });
        $('#cp_kra_form').submit(function() {
         
        });
  });
</script>
<script type="text/javascript">
  function valfun(val){
    $('#temp').val(val); 
  }

</script>
<script type="text/javascript">
  function valfun1(val1){
    $('#temp').val(val1); 
  }

</script>

<script type="text/javascript">
  function validate(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
</script>
<script type="text/javascript">
  document.getElementById('id-36').className ="nav-parent nav-active active";
      document.getElementById("t").style.display = "block";
document.getElementById('id-36.1').className ="active";
    </script>

{% endblock %}
