{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dzscalendar.css" rel="stylesheet">
 <link href="/static/css/jquery-ui.css" rel="stylesheet">
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Mines equipment daily stauts report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  
<!--     <script type="text/javascript">
  document.getElementById('id-100').className ="nav-parent nav-active active";
      document.getElementById("j").style.display = "block";
document.getElementById('id-100.2').className ="active";
    </script> -->

<script type="text/javascript">
   document.getElementById('id-100').className ="nav-parent nav-active active";
    document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.1').className ="active";
  document.getElementById('j').style.display = "block";
  document.getElementById('id-100.1.2').className ="active";
</script>    

 
<script type="text/javascript">
  function hid()
  {
    document.getElementById("docf").style.display="none";
  }
</script>

      <div class="row">
        
        
        <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->Mines equipment daily status report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" id="apl" onsubmit="return validateForm()">

                   <div class="col-xs-12 col-md-4 col-md-offset-2">
                  <div class="form-group">
                    <label for="start_date">Select Date</label>
                      <input id="start_date" type="text" name="start_date" style="width:200px;" class="form-control start_date" required>
                  </div><br>
                  
                  </div>
                      <!--  <div class="col-xs-12 col-md-4 col-md-offset-0">
                       
                        <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" style="width:200px;" class="form-control end_date" required ></div>
                      
                  </div> -->
                   <div class="col-sm-1 "> 
                      <label>&nbsp;</label>
                        <input type="submit"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View" onclick="validate()"/> 
                       </div>
                     <br>
                   
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(function() {
	$( "#start_date,#end_date").datepicker({ 
		dateFormat: "dd/mm/yy",
		maxDate: 0
		 		
		});
	});

</script>
<script type="text/javascript">
function validate(){
	//alert('Hello');
	var fromdate= document.getElementById('start_date').value;
	var todate= document.getElementById('end_date').value;
	//alert(fromdate);
	if (todate < fromdate) {
        alert("To date Should not be less than From date");
        document.getElementById('end_date').value = '';
        todate.focus();
        return false;
      }
}

</script>
{% endblock %}
