{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize */
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>

{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>MINING EQUIPMENTDAILY STATUS REPORT</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">          
          <li class="active">MINING EQUIPMENTDAILY STATUS REPORT </li>
        </ol>
      </div>
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
    <div class="col-md-12 ">
 		<div class="panel panel-default">
        	<div class="panel-heading">
          		<div class="panel-btns">
		            <a href="#" class="panel-close">&times;</a>
		            <a href="#" class="minimize">&minus;</a>
          		</div><!-- panel-btns -->
          	<h4 class="panel-title">MINING EQUIPMENTDAILY STATUS REPORT</h4>
           	</div><!-- panel-heading -->
        	<div class="panel-body">
				<div class="form-group">
					<div class="row">
											
						<div id="miv" class="form-group">
							<form id="tradeform" action="" method="POST" >
							
				                  <div class="form-group form-inline">
				                    <label for="entry_date">Entry Date&nbsp;</label>
				                      <input id="entry_date" type="text" name="entry_date" style="width:200px;" class="form-control entry_date" >
				                  </div>
				         
							<table id="table" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr>
							           <th>Equipment Desc</th>
							            <th>Equip Code</th>
							            <th>Model No</th>
							            <th>Capacity</th>
							            <th>Condition</th>
							            <th>Remarks</th>
							            <th>Plant</th>
							            <th>HO</th>
							        </tr>
							    </thead>
						        <tbody id="body">
						      		<tr>
						      		<td>
								     	<input class="form-control equipment" id="equipment" name="equipment"  type="hidden" value="" placeholder="Equipment Desc" 	style="width: 220px;">
								    </td>
								    <td>
						        		<input id="quipcode" type="text"  class="form-control quipcode" readonly="readonly" name="quipcode" style="width: 120px;">
						      		</td>
						     		<td>
						     			<input class="form-control model" id="model" name="model" style="width: 100px;"  type="text" value="">
							     	</td>
							      	<td>
							        	<input id="capacity" type="text"  class="form-control capacity" style="width: 100px;" name="capacity" >
							      	</td>
						     		<td>
        								<select id="condition" class="form-control condition" style="width: 100px;" name="condition" >
        								<option value="">&nbsp;</option>
        								<option value="Working">Working</option>
        								<option value="Break Down">Break Down</option>
        								
        								</select>
      								</td>
      								<td>
        								<input id="Remarks" type="text" class="form-control Remarks" name="Remarks" >
      								</td>
      								<td>
        								<select  id="plant" class="form-control plant" name="plant">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      								</td>
      								<td>
        								<select  id="HO" class="form-control HO" name="HO">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      								</td>
							    </tr>
								</tbody>
							</table>
 							<div class="form-group">
			                 	<div class="  col-xs-4 col-md-2">            
			                       	<div class="form-group">
			                           	<input id="add" type="button"   value="Add line item" class="btn btn-success btn-xs">
			                      	</div>  
			                 	</div>   
			                 	<div class=" col-xs-4 col-md-2  ">            
			                       	<div class="form-group">
			                           	<input id="delete" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
			                      	</div>  
			                 	</div>   

			                 	<div class="col-sm-12 col-md-4 ">            
			                       	<div class="form-group">
			                        	<input type="hidden"  id="topval" name="topval">
			                           	<input id="submit" type="submit"  onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
			                      	</div>  
			                 	</div>  
							</div> 
           				</form> 
					</div>
             	</div>                                
        	</div><!-- panel-body -->
      	</div><!-- panel --> 
    </div>      
</div><!-- row -->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
 document.getElementById('id-100').className ="nav-parent nav-active active";
      document.getElementById("j").style.display = "block";
document.getElementById('id-100.1').className ="active";
</script>  

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)&& charCode != 46){
        return false;
    }else{
      return true;
    }
}
</script>

<script>
$(document).ready(function() {
	
	/*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
	$('.equipment').select2({
	        minimumInputLength:3,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/opreports/equipment",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.Desp_technical_object+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.Desp_technical_object;
	        },
	        formatAjaxError: function(){
	          	return 'Equipment Does not Exist';
	        },
	        formatSelection: function(excercise) { 
		    	$("#quipcode").val((excercise.equipment_number).replace(/^(0+)/g, ''));
		      	$('#eqp_func').val(excercise.functional_loc);
		      	$('#func_eqp').val(excercise.cost_center);
		      	$('#eqp_desc').val(excercise.Desp_technical_object)
	            return excercise.Desp_technical_object; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
	

 	
});
</script>
<!-- Date picker -->
<script type="text/javascript">
today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;




var dt = new Date();
dt.setDate(dt.getDate() + 3);
var dd1 = dt.getDate();
var mm1 = dt.getMonth()+1; //January is 0!
var yyyy1 = dt.getFullYear();

if(dd1<10) {
    dd='0'+dd
} 

if(mm1<10) {
    mm='0'+mm
} 

today1 = dd1+'/'+mm1+'/'+yyyy1;

$('#entry_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});

</script>



<script type="text/javascript">
/* INITIALISING DATATABLES */
$(document).ready(function(){
    table = $('#table').DataTable( {
		    	"retrieve": true,
		      	"scrollX": true,
		       	"paging": false,
		       	"bFilter": false,
		        "bSort": false,
		       	"columnDefs": [
		              { "width": "10%", "targets": 0 }  
		        ]
    });
	/* FOR ADD LINE ITEM */
    $('#add').click( function () {
    	row = $('#table >#body >tr').length;
        table.row.add( [
					    '<input class="form-control equipment'+row+'" id="equipment'+row+'" name="equipment"  type="hidden" value="" placeholder="Equipment Desc" 	style="width: 220px;">',
					    '<input id="quipcode'+row+'" class="form-control quipcode" readonly="readonly" type="text" name="quipcode" style="width:120px" >',
					    '<input id="model'+row+'" name="model" class="form-control model"   style="width: 100px" type="text" value="">',
					    '<input id="capacity'+row+'" type="text"  class="form-control capacity" name="capacity" style="width:100px" >',
					    '<select id="condition'+row+'" class="form-control condition" name="condition" style="width:100px" ><option value="">&nbsp;</option><option value="Working">Working</option><option value="Break Down">Break Down</option> </select>',
					    '<input id="Remarks'+row+'" class="form-control Remarks"  type="text" name="Remarks" >',
					    '<select  id="plant'+row+'" class="form-control plant" name="plant">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
					    '<select  id="HO'+row+'" class="form-control HO" name="HO">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>'
               ] ).draw();
		var x = row;
		/*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
  		$('.equipment'+row+'').select2({
	        minimumInputLength:3,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/opreports/equipment",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.Desp_technical_object+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.Desp_technical_object;
	        },
	        formatAjaxError: function(){
	          	return 'Equipment Does not Exist';
	        },
	        formatSelection: function(excercise) { 
		    	$('#quipcode'+x+'').val((excercise.equipment_number).replace(/^(0+)/g, ''));
		      	$('#eqp_func').val(excercise.functional_loc);
		      	$('#func_eqp').val(excercise.cost_center);
		      	$('#eqp_desc').val(excercise.Desp_technical_object)
	            return excercise.Desp_technical_object; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
  		});
  	});
	/* FOR DELETE LINE ITEM */
    $("#delete").click(function(){
      	if($('#table >#body >tr').length>1){
        	table.row('tr:last').remove().draw( false );
		} else {
           	bootbox.alert('Please don\'t delete');
        }      
    }); 
});
</script>
<script type="text/javascript">
function validateForm(){
	 	submit = "";
		var table = $("#table #body");
	    store = [ ];
	    table.find('tr').each(function (i) {
	        var row = this.rowIndex;
	        var tdr = $(this).find('td');
	        var material = tdr.find('input[name="equipment"]').val(); 
	        var model = tdr.find('input[name="model"]').val();
	        var capacity = tdr.find('input[name="capacity"]').val();
	        var condition = tdr.find('select[name="condition"]').val();
	        var Remarks = tdr.find('input[name="Remarks"]').val();
	        var entry=document.getElementById('entry_date').value;
	        
	        if(material!=""){
	            var compare = jQuery.inArray(material,store);
	            if(compare <=-1){
	                submit = true ;
	            } else {
	            	alert(material);
					bootbox.alert("Equipment in row "+row+" already exists");
	                submit = false ;
	                return false; 
	            }
	            store.push(material);
	        } else {
	            bootbox.alert("Please fill Equipment in row "+row);
	           	submit = false;
	            return false;
	        }
	        if(model!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Model in row "+row);
                submit = false;
                return false;
            }
            if(capacity!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Capacity in row "+row);
                submit = false;
                return false;
            }
            if(condition!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Condition in row "+row);
                submit = false;
                return false;
            }
            if(Remarks!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Remarks in row "+row);
                submit = false;
                return false;
            }
            if(entry!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Entry Date");
                submit = false;
                return false;
            }

        });
	   

		if(submit){
			$('#submit').attr('disabled','disabled');
			a=[]
			value=document.querySelector('#selct option:checked').value;
			/*if (value =="func"){
				a.push(value); //0
				a.push( $('#function_location').val()); //1
	            if (document.getElementById('cost_center1').value == 0) { 
	              	cost_center1 = document.getElementById('func_eqp').value;
	              	a.push(cost_center1);//2
	              	a.push('');//3
	            } else {
	              	cost_center1=document.getElementById('cost_center1').value;
	              	a.push(cost_center1);//2
	              	a.push($('#funeqcost_center_desc').val());//3
	            }
			} else if (value=="equip"){
				a.push(value);//0
				a.push( $('#equipment').val());//1
	          	if (document.getElementById('cost_center1').value == 0) { 
		            cost_center1 = document.getElementById('func_eqp').value;
		            a.push(cost_center1);//2
		            a.push('');//3
	          	} else {
		            cost_center1=document.getElementById('cost_center1').value;
		            a.push(cost_center1);//2
		            a.push($('#funeqcost_center_desc').val());//3
	          	}
			} else if(value=="cost"){
				a.push(value);//0
				a.push( $('#cost_center').val());//1
				a.push($('#cost_center_desc').val());//2
				a.push('');//3
			}else {
				a.push(value);//0
				a.push( $('#wbs_element').val());//1
				a.push($('#wbs_desc').val());//2
				a.push('');//3
			}
			a.push(document.getElementById('wrk_center').value);//4
			a.push(document.getElementById('dept').value);//5
			a.push(document.getElementById('eqp_func').value);//6
			a.push($('#eqp_desc').val());//7
			document.getElementById("topval").value=a;
  			var fd = new FormData(document.getElementById("tradeform"));
			$.ajax({
			        url: '/pmpr/mivcreations',
			        data:  fd,
			        type: 'POST',
			        processData: false,  
			        contentType: false,
			        success: function(response) {
			          		console.log(response['report']);
			              	if(response['report'][0]['check']=='0'){
			             		bootbox.alert(response['report'][0]['msg'], function() { location.reload(true);});  
			             		
			          		} else {
			          			$('#submit').removeAttr('disabled');
			             		bootbox.alert(response['report'][0]['msg'], function() {});
			          		}
			            }
			        });*/
			return false;  
			}
			return false;
}
</script>
{% endblock %}