{% extends "base.html" %}
{% block links %}
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }

 .select2-container .select2-choice {
    height: 40px;
    line-height: 2;
}
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Diesel Consumption</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<!-- <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">{{title}}</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        <div class="alert alert-danger errmsg" role="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <p id='errmsg_p'></p>
       </div>
        {% if show==0 %}
         <form  action="" id='equip_upload_form' method="POST" enctype="multipart/form-data">
              <div class="col-md-12" >
                    <div class="col-md-12">
                          <div  class="col-xs-12 col-md-4">
                                <label>Department&nbsp;</label> 
                                <select class="form-control" id="dept" name="dept" required>
                                    <option value="" >Select Department</option>
                                    {% if dept %}
                                    {% for dep in dept%}
                                    <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>   
                          </div>
                          <div  class="col-xs-12 col-md-4">
                                <label>Work Center </label> 
                                <select class="form-control" id="wrk_center" name="wrk_center" required>
                                  <option value="" >Select Work Center</option>
                                    {% if work_center %}
                                    {% for wrk in work_center%}
                                    <option value="{{ wrk.work_center}}">{{ wrk.work_center_desc}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select> 
                          </div>
                          <div  class="col-xs-12 col-md-4">
                                <label>Select Material</label>
                                <input class="form-control material" id="material" name="material" type="text" value="" placeholder="Select material"> 
                          </div>
                    </div>
                  <span style="margin:10px"></span>
                    <div class="col-md-12">
                   
                        <div  class="col-xs-12 col-md-2">
                            <label>Available Quantity</label>
                             <input class="form-control quantity_av" id='quantity_av' name="quantity_av" type="text" placeholder="Quantity" readonly="readonly"> 
                        </div>
                        <div  class="col-xs-12 col-md-2">
                            <label>Uom</label>
                            <input id="UoM" type="text"  class="form-control uom" name="uom" size="10" readonly="readonly">
                        </div>
                        <div  class="col-xs-12 col-md-2">
                            <label>Storage loc </label>
                             <input class="form-control st_loc" id="st_loc" name="st_loc" type="text" value="" placeholder="Store Location" readonly="readonly">
                        </div>
                     
                        <div  class="col-xs-12 col-md-3">
                            <label> Upload Equipments </label>
                            <input class="form-control" id="fileupload" name="fileupload" type="file" value="" placeholder="upload excel" required>
                        </div>
                    </div>
              </div>

                 <div class="col-sm-12 col-md-1 col-md-offset-5 " style="margin-top:10px">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Upload" id="sub_doc" class="btn btn-primary search">
                        Upload</button>
                      </div>  
                 </div>  

      
</form> 
{% endif %}

<form method="POST" id='multi_equip_apply' enctype="multipart/form-data" charset="utf-8">
<div class="col-md-12">
<div class="row">

{% if result %}

<div class="col-md-12" style="margin-bottom:20px">
    <div  class="col-xs-12 col-md-3">     
      <label style="font-size:15px">Selected Material:</label> <input class="form-control" id="material_desc" name="material_desc" type="text" value="{{material_desc}}" readonly="readonly">
      <input class="form-control" id="material_dup" name="material_dup" type="text" value="{{material}}" readonly="readonly" style="display:none"> 
      </div>
      <div  class="col-xs-12 col-md-3">
      <label style="font-size:15px"> Available Quantity :</label> <input class="form-control quantity_dup" id='quantity_dup' name="quantity_dup" type="text" value="{{quantity_av}}" disabled=""> 
      </div>
     
       <div  class="col-xs-12 col-md-2">
      <label style="font-size:15px"> Uom :</label> <input type="text"  class="form-control uom" id='uom_dup' name="uom" size="10" value="{{uom}}" readonly="readonly">
      </div>
       <div  class="col-xs-12 col-md-2">
      <label style="font-size:15px"> Storage loc :</label>  <input class="form-control st_loc" id='st_loc_dup' name="st_loc" type="text" value="{{st_loc}}" placeholder="Store Location" readonly="readonly">
      </div>
      <input class="form-control" id='dept_dup' name="dept_dup" type="text" value="{{department_dup}}" style="display:none">
      <input class="form-control" id='wrk_center_dup' name="wrk_center_dup" type="text" value="{{wrk_center_dup}}" style="display:none">
      <input class="form-control" id='matl_group' name="matl_group" type="text" value="{{matl_group}}" style="display:none">
      <input class="form-control" id='portalid' name="portalid" type="text" value="" style="display:none">

</div>

<div class="col-md-12">
	<div  class="col-xs-12 col-md-2">     
      <label style="font-size:15px">Equipment Number</label> 
      </div>
    <div  class="col-xs-12 col-md-3">     
      <label style="font-size:15px">Equipment Description</label> 
      </div>
	<div  class="col-xs-12 col-md-1">     
      <label style="font-size:15px">Quantity</label> 
      </div>
      <div  class="col-xs-12 col-md-3">     
      <label style="font-size:15px">Costcenter</label> 
      </div>
      <div  class="col-xs-12 col-md-3">     
      <label style="font-size:15px">Action</label> 
      </div>
</div>
{% for i in range(0,result|length) %}

<div  class="col-xs-12 col-md-12" id="equip_remove{{i}}" style="margin-bottom:10px;">
<span style="margin:20px"></span>
<div  class="col-xs-12 col-md-2">
	<input class="form-control eqp_reset_remove{{i}}" id="equipment{{i}}" name="equipment{{i}}" type="text" value="{{result[i]['equipment_number']}}" title="{{result[i]['equip_desc']}}" readonly="readonly"> 
  </div>
  <div  class="col-xs-12 col-md-3">
	<input class="form-control eqp_reset_remove{{i}}" id="equipment_desc{{i}}" name="equipment_desc{{i}}" type="text" value="{{result[i]['equip_desc']}}" title="" readonly="readonly"> 
  </div>
  <div  class="col-xs-12 col-md-1">
  	<input class="form-control text-field qty_validate qty_reset_remove{{i}}" id="qty{{i}}" name='quantity{{i}}' type="text" value="{{result[i]['quantity']}}"> 
  </div>
    <div  class="col-xs-12 col-md-3 row_def{{i}}" style="display:block">
  <input class="form-control cost_center cs_def_reset_remove{{i}}" id="cost_center_def{{i}}" name="cost_center_def{{i}}"  value="{{result[i]['def_costcenter']}}" placeholder="Cost Center" title="{{result[i]['def_costcenter_desc'] }}" readonly="readonly">
  </div>
  <div  class="col-xs-12 col-md-3 row{{i}}" style="display:none">
  <input type="text" class="cost_center_aswini_remove{{i}}" name="cost_center_aswini{{i}}" id='cost_center_aswini{{i}}' value="{{result[i]['def_costcenter']}}" style="display:none">
  Costcenter : 
  <input class="form-control cost_center1 cs_reset_remove{{i}}" id="cost_center1{{i}}" name="cost_center{{i}}"  value="" placeholder="Cost Center">
  </div>
  <div  class="col-xs-12 col-md-1">

  <input id="{{i}}" class='btn btn-primary cost_edit search' value="Edit" style="width:60px;margin-top:3px">
  </div>
  <div  class="col-xs-12 col-md-1">

  <input id="remove{{i}}" class='btn btn-danger equip_remove search' value="Remove" style="width:85px;margin-top:3px">
  </div>

</div>
<br>
{% endfor %}
<input  type="text" name="submit_value" value="multi_apply" id="" class="btn btn-primary search" style="display:none">

<div class="col-sm-12 col-md-1 col-md-offset-5">            
     <div class="form-group">
     <input  type="submit" name="submit" value="Apply" id="" onclick="return validateForm()" class="btn btn-primary search">
    </div>  
</div>
{% endif %}
  
</div>
  
</div>


</form>

</script>
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->

<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>

  <script type="text/javascript">
  document.getElementById('id-19').className ="nav-parent nav-active active";
      document.getElementById("m").style.display = "block";
document.getElementById('id-19.11').className ="active";
    </script>

<script type="text/javascript">

$('.cost_edit').click(function(){

  $(this).hide();
  console.log('.row'+$(this).attr('id'));
  $('cost_center_def'+$(this).attr('id')).remove();
  $('#cost_center_aswini'+$(this).attr('id')).val('changed');
  $('.row'+$(this).attr('id')).css('display','block');
  $('.row_def'+$(this).attr('id')).hide();
});

$('.equip_remove').click(function(){
   console.log($(this).attr('id'));
  $('.eqp_reset_'+$(this).attr('id')).val('0');
  $('.qty_reset_'+$(this).attr('id')).val('0');
  $('.cs_def_reset_'+$(this).attr('id')).val('0');
  $('.cs_reset_'+$(this).attr('id')).val('0');
  $('#equip_'+$(this).attr('id')).hide();
  $('.cost_center_aswini_'+$(this).attr('id')).val('exclude');

});


</script>

<script type="text/javascript">

 for (m = 0; m < {{num_equips}}; m++) { 
  $('#cost_center1'+m+'').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/costcenter",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
          },
          id: function(excercise){
              return excercise.cost_center;
          },
          formatAjaxError: function(){
              return 'Cost Center Does not Exist';
          },
          formatSelection: function(excercise) { 
          $('#cost_center1'+m+'').val(excercise.cost_center);
              return excercise.cost_center; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          },

    });

}
$('.material').select2({
      minimumInputLength: 3,
      placeholder: ' ',
      allowClear: true,
      ajax: {
          url: "/pmpr/materialnew",
          dataType: 'json',
          quietMillis: 100,
          data: function(term) {
            return {term: term};
          },
          results: function(data) {
            return { results: data.results }
          }
      },
      formatResult: function(excercise){
        return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
      },
      id: function(excercise){
        return excercise.material;
      },
      formatAjaxError: function(){
        return 'Material Does not Exist';
      },
      formatSelection: function(excercise) {
        $("#material").val(excercise.material);
        $('#table tr:eq(1) div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
        $('#UoM').val(excercise.bun);
        var fd = new FormData();
        fd.append("material",excercise.material);
        $.ajax({
                url: '/pmpr/getquantity',
                data: fd,
                type: 'POST',
                processData: false,  
                contentType: false,
                success: function(response) {
              a1=""
                for (i=1;i<=response['reports'].length;i++){
                  a1=a1+  '<tr>'+
                            '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
                            '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
                            '</tr>'
              }
              bootbox.dialog({
                              size: 'large',
                              message: 
                                 
                                  '<table id="tab_modal" class="table "> ' +
                                  '<thead> ' +
                                  '<tr>'+
                                  '<th>Quantity</th>'+
                                  '<th>Storage Location</th>'+
                                  '<th>Action</th>'+
                                  '</tr>'+
                                  '</thead>'+
                                  '<tbody >'+
                                  a1+
                                  '</tbody>'+
                                  '</table>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                          a=$('#radio_modal:checked').val();
                                          quan =  $('#quan_modal'+a+'').val();
                                          stor= $('#stor_modal'+a+'').val();
                                          console.log(quan);
                                          console.log(stor);
                                          $('#quantity_av').val(quan);
                                          $('#st_loc').val(stor);  
                                      }
                                  }
                              }
              });
                }
            });
        return excercise.material_desc;
      },
      initSelection : function (element, callback) {
        var elementText = $(element).attr('data-init-text');
        callback({"term":elementText});
      }
  });


$(document).ready(function(){ 
      $(document).on('submit','#multi_equip_apply',function(e){
       
        count=0
        var equip_check=[]
        num_equipments=0
        var costcenter
        $(".text-field").each(function() {
          count=count+parseInt($(this).val());
          num_equipments+=1
          });
        console.log(num_equipments+'number of equipments');
        var available_quantity=parseFloat($('#quantity_dup').val());
        console.log(available_quantity);
        console.log(count);
        if (count<available_quantity){
            console.log('checking into quantity');
          data_form='material='+$('#material_dup').val()+'&uom='+$('#uom_dup').val()+'&st_loc='+$('#st_loc_dup').val()+'&dept_dup='+$('#dept_dup').val()+'&wrk_center_dup='+$('#wrk_center_dup').val();
          for (k = 0; k < num_equipments; k++) { 

            if($("#cost_center_aswini"+k.toString()).val()=='changed'){

              $("#cost_center_aswini"+k.toString()).val($("#cost_center1"+k.toString()).val())

              console.log($("#cost_center_aswini"+k.toString()).val()+"changed value tonew cs");

            }else{
              console.log('default cs');
            }

          equip_push=$("#"+"equipment"+k).val();
          cs_push=$("#cost_center_aswini"+k.toString()).val();
          if ({equip_push:cs_push} in equip_check){
            $('.errmsg').show();
        $('#errmsg_p').html('Same Equipment With Same Costcenter Is Not Allowed.Please Change And Re-Apply');
           return false;
            e.preventDefault();
          }else{
            equip_check.push({equip_push:cs_push});
            
          data_form=data_form+'&equipment'+k+'='+'000000'+$("#"+"equipment"+k).val()+'&'+'quantity'+k+'='+$("#qty"+k.toString()).val()+'&costcenter'+k+'='+$("#cost_center_aswini"+k.toString()).val();
          }
          
          
}
console.log(equip_check);
data_form=data_form+'&submit_value=multi_applyajax'+'&equipment_count='+{{num_equips}}
          console.log(data_form);
        $.ajax({
            type: "POST",
            url: "/pmpr/miv_multi_equip_create/",
            data: data_form,
            success: function(data) {
    
             console.log(data);
            }
          });
        } 
        else {
          $('.errmsg').show();
        $('#errmsg_p').html('The Quntity Requested Is Not Available At The Moment,Please Make Necessary Changes And Submit Again.');
           e.preventDefault();
          
        }
        
      });

      // $("#attendance_form").submit(function(e){ });
    });
</script>

<script type="text/javascript">
  function portalid(){ 
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var hour = d.getHours();
    var minute = d.getMinutes();
    var second = d.getSeconds();
    var output =  ((''+day).length<2 ? '0' : '') + day + '' +
                  ((''+month).length<2 ? '0' : '') + month + '' +
                  d.getFullYear() + '' +
                  ((''+hour).length<2 ? '0' :'') + hour + '' +
                  ((''+minute).length<2 ? '0' :'') + minute + '' +
                  ((''+second).length<2 ? '0' :'') + second;
    return false;;
                }
function toCelsius(fahrenheit) {
  alert('hello temp');
    // return false
    return (5/9) * (fahrenheit-32);
}

function validateForm(){
  console.log('starts Validations');
    equip_dup=[];
        count=0
        var equip_check={}
        num_equipments=0
        var costcenter
        $(".text-field").each(function() {
          count=count+parseInt($(this).val());
          num_equipments+=1
          });
        var available_quantity=parseFloat($('#quantity_dup').val());
        if (count<available_quantity){
          
          for (k = 0; k < num_equipments; k++) { 

            if($("#cost_center_aswini"+k.toString()).val()=='changed'){

              $("#cost_center_aswini"+k.toString()).val($("#cost_center1"+k.toString()).val())

              console.log($("#cost_center_aswini"+k.toString()).val()+"changed value tonew cs");

            }else{
              console.log('default cs');
            }

          equip_push=$("#"+"equipment"+k).val();
          cs_push=$("#cost_center_aswini"+k.toString()).val();
         
         Array.prototype.contains = function ( needle ) {
   for (i in this) {
       if (this[i] == needle) return true;
   }
   return false;
}

          var equip_det=equip_push+cs_push;
              

if (equip_dup.contains(equip_det) && equip_det.toString() !='0exclude') {
  $('.errmsg').show();
  $('#errmsg_p').html('One of the equipment and cost center are duplicated.please change the cost center and try again.');
return false;
}else{
  equip_dup.push(equip_det);
}
      
}

}
	//starts validation for measurement type

	if ($('.uom_dup').val() =='NOS'){ 

		var qty_check = $('.qty_validate').val();
		var re = new RegExp("^([a-z0-9]{5,})$");
		if (re.test(qty_check)) {
		    console.log("Valid");
		} else {
		    $('.errmsg').show();
        $('#errmsg_p').html('Only Numbers Are Accepted For UOM type "NOS",Please Make Necessary Changes And Submit.');
        return false;
		}
	}

}  //end of validate function


// function uniqueId(){
  // portid=setTimeout(,8000);
  // return portid;
// }


function portId(g){
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var hour = d.getHours();
    var minute = d.getMinutes();
    var second = d.getSeconds();
    var output =  ((''+day).length<2 ? '0' : '') + day + '' +
                  ((''+month).length<2 ? '0' : '') + month + '' +
                  d.getFullYear() + '' +
                  ((''+hour).length<2 ? '0' :'') + hour + '' +
                  ((''+minute).length<2 ? '0' :'') + minute + '' +
                  ((''+second).length<2 ? '0' :'') + second;

    $('#portalid'+g).val(output);

}
</script>

<script type="text/javascript">
$(document).ready(function(){ 

$('input').click(function() { 
 $('.errmsg').hide();


});

});

	$('.qty_validate').on('keydown',function(e){
    var deleteKeyCode = 8;
    var backspaceKeyCode = 46;
    if ((e.which>=48 && e.which<=57) ||
         (e.which>=96 && e.which<=105)  || // for num pad numeric keys
         e.which === deleteKeyCode || // for delete key,
             e.which === backspaceKeyCode) // for backspace
         // you can add code for left,right arrow keys
    {
        
        return true;
    }
    else
    {
    	$('.errmsg').show();
        $('#errmsg_p').html('Only Numbers Are Accepted For UOM type "NOS",Please Make Necessary Changes And Submit.');
        return false;
    }
});
</script>


{% endblock %} 