{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style type="text/css">
body { font-size: 140%; }
.disabled:{
  opacity: 0.6 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.table_th_td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 8px;
    text-align: center;
}

tr {
    padding: 8px;
    text-align: center;
}
th {

    text-align: center;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fcfcfc;
    display: none;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px solid red;
}

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Mines Report Overview</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Date : {{Date}} </h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
                <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center">Drilling</h4>

              <div class='data_table' id='table_1' style="display:block">

                 <table id="" class="example display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th style="width:25%">Equipment</th>
                          <th>On Day <p>(Running Hr's)</p></th>
                          <th>MTD (Running Hr's)</th>
                          <th>YTD (Running Hr's)</th>
                          <th>On Day (Breakdown Hr's)</th>
                          <th style="width:109px">MTD (Breakdown Hr's)</th>
                          <th style="width:109px">YTD (Breakdown Hr's)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>(Ideal Hr's)</th>
                          <th>MTD  <br/>(Ideal Hr's)</th>
                          <th>YTD  <br/>(Ideal Hr's)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
                       {% for l in equipment_details['Drilling'] %}
                  <tr>
                  <td>  
                   <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" onclick="getId(this)"  readonly>
                    <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" onclick="getId(this)" style="display:none" readonly>
                    </td>
                               
                  <td>
                    <input type="text" class="form-control test_class" id="RH_ONDAY'+row+'" name="" placeholder="" value="{{l['running_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="RH_MTD'+row+'"  name="" placeholder=""  value="{{l['running_hours']['MTD']}}" readonly></td>
                                
                  <td>
                    <input type="text" class="form-control" id="RH_YTD'+row+'"  name="" placeholder="" value="{{l['running_hours']['YTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text-decoration" class="form-control" id="BDH_ONDAY"  name="" placeholder="" value="{{l['breakdown_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_MTD"  name="" placeholder="" value="{{l['breakdown_hours']['MTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_YTD"  name="" placeholder="" value="{{l['breakdown_hours']['YTD']}}" readonly></td>
                  
                  <td>               
                    <input type="text" class="form-control" id="IDH_ONDAY"  name="" placeholder="" value="{{l['ideal_hours']['ONDAY']}}" readonly=""></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="IDH_MTD"  name="" placeholder="" value="{{l['ideal_hours']['MTD']}}" readonly></td>
                                 
                  <td>
                    <input type="text" class="form-control" id="IDH_YTD" name="" placeholder="" value="{{l['ideal_hours']['YTD']}}" readonly></td>
                  <td>                
                  
                    <input type="text" class="form-control" id="equip_remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                  </td>
                </tr> 
                    {% endfor %}
                    
                </tbody>
              </table>
              </div>

              <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center">Loading</h4>

              <div class='data_table' id='table_1_1' style="display:block">

                 <table id="" class="example display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th style="width:25%">Equipment</th>
                          <th>On Day <p>(Running Hr's)</p></th>
                          <th>MTD (Running Hr's)</th>
                          <th>YTD (Running Hr's)</th>
                          <th>On Day (Breakdown Hr's)</th>
                          <th style="width:109px">MTD (Breakdown Hr's)</th>
                          <th style="width:109px">YTD (Breakdown Hr's)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>(Ideal Hr's)</th>
                          <th>MTD  <br/>(Ideal Hr's)</th>
                          <th>YTD  <br/>(Ideal Hr's)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
                    {% for l in equipment_details['Loading'] %}
                  <tr>
                  <td>  
                     <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" onclick="getId(this)"  readonly>
                    <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" onclick="getId(this)" style="display:none" readonly></td>
                               
                  <td>
                    <input type="text" class="form-control test_class" id="RH_ONDAY'+row+'" name="" placeholder="" value="{{l['running_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="RH_MTD'+row+'"  name="" placeholder=""  value="{{l['running_hours']['MTD']}}" readonly></td>
                                
                  <td>
                    <input type="text" class="form-control" id="RH_YTD'+row+'"  name="" placeholder="" value="{{l['running_hours']['YTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text-decoration" class="form-control" id="BDH_ONDAY"  name="" placeholder="" value="{{l['breakdown_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_MTD"  name="" placeholder="" value="{{l['breakdown_hours']['MTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_YTD"  name="" placeholder="" value="{{l['breakdown_hours']['YTD']}}" readonly></td>
                  
                  <td>               
                    <input type="text" class="form-control" id="IDH_ONDAY"  name="" placeholder="" value="{{l['ideal_hours']['ONDAY']}}" readonly=""></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="IDH_MTD"  name="" placeholder="" value="{{l['ideal_hours']['MTD']}}" readonly></td>
                                 
                  <td>
                    <input type="text" class="form-control" id="IDH_YTD" name="" placeholder="" value="{{l['ideal_hours']['YTD']}}" readonly></td>
                  <td>                
                  
                    <input type="text" class="form-control" id="equip_remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                  </td>
                </tr> 
                    {% endfor %}
                    
                </tbody>
              </table>
          </div>

              <div class="row" style="margin-top:20px">
               <div class="col-md-6">
                <!-- <div class="form-group" style="float: right">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_else" value="Save Details"/> 
                </div> -->
              </div>

              </div>
              
        </div>

        <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center"> Transportation</h4>

              <div class='data_table' id='table_1_2' style="display:block">

                 <table id="" class="example display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th style="width:25%">Equipment</th>
                          <th>On Day <p>(Running Hr's)</p></th>
                          <th>MTD (Running Hr's)</th>
                          <th>YTD (Running Hr's)</th>
                          <th>On Day (Breakdown Hr's)</th>
                          <th style="width:109px">MTD (Breakdown Hr's)</th>
                          <th style="width:109px">YTD (Breakdown Hr's)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>(Ideal Hr's)</th>
                          <th>MTD  <br/>(Ideal Hr's)</th>
                          <th>YTD  <br/>(Ideal Hr's)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
                    {% for l in equipment_details['Transportation'] %}
                  <tr>
                  <td>  
                     <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" onclick="getId(this)"  readonly>
                    <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" onclick="getId(this)" style="display:none" readonly></td>
                               
                  <td>
                    <input type="text" class="form-control test_class" id="RH_ONDAY'+row+'" name="" placeholder="" value="{{l['running_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="RH_MTD'+row+'"  name="" placeholder=""  value="{{l['running_hours']['MTD']}}" readonly></td>
                                
                  <td>
                    <input type="text" class="form-control" id="RH_YTD'+row+'"  name="" placeholder="" value="{{l['running_hours']['YTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text-decoration" class="form-control" id="BDH_ONDAY"  name="" placeholder="" value="{{l['breakdown_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_MTD"  name="" placeholder="" value="{{l['breakdown_hours']['MTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_YTD"  name="" placeholder="" value="{{l['breakdown_hours']['YTD']}}" readonly></td>
                  
                  <td>               
                    <input type="text" class="form-control" id="IDH_ONDAY"  name="" placeholder="" value="{{l['ideal_hours']['ONDAY']}}" readonly=""></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="IDH_MTD"  name="" placeholder="" value="{{l['ideal_hours']['MTD']}}" readonly></td>
                                 
                  <td>
                    <input type="text" class="form-control" id="IDH_YTD" name="" placeholder="" value="{{l['ideal_hours']['YTD']}}" readonly></td>
                  <td>                
                  
                    <input type="text" class="form-control" id="equip_remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                  </td>
                </tr> 
                    {% endfor %}
                    
                </tbody>
              </table>
              </div>

              <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center">Crusher</h4>

              <div class='data_table' id='table_1_3' style="display:block">

                 <table id="" class="example display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th style="width:25%">Equipment</th>
                          <th>On Day <p>(Running Hr's)</p></th>
                          <th>MTD (Running Hr's)</th>
                          <th>YTD (Running Hr's)</th>
                          <th>On Day (Breakdown Hr's)</th>
                          <th style="width:109px">MTD (Breakdown Hr's)</th>
                          <th style="width:109px">YTD (Breakdown Hr's)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>(Ideal Hr's)</th>
                          <th>MTD  <br/>(Ideal Hr's)</th>
                          <th>YTD  <br/>(Ideal Hr's)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
                    {% for l in equipment_details['Crusher'] %}
                  <tr>
                  <td>  
                     <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" onclick="getId(this)"  readonly>
                    <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" onclick="getId(this)" style="display:none" readonly></td>
                               
                  <td>
                    <input type="text" class="form-control test_class" id="RH_ONDAY'+row+'" name="" placeholder="" value="{{l['running_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="RH_MTD'+row+'"  name="" placeholder=""  value="{{l['running_hours']['MTD']}}" readonly></td>
                                
                  <td>
                    <input type="text" class="form-control" id="RH_YTD'+row+'"  name="" placeholder="" value="{{l['running_hours']['YTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text-decoration" class="form-control" id="BDH_ONDAY"  name="" placeholder="" value="{{l['breakdown_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_MTD"  name="" placeholder="" value="{{l['breakdown_hours']['MTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_YTD"  name="" placeholder="" value="{{l['breakdown_hours']['YTD']}}" readonly></td>
                  
                  <td>               
                    <input type="text" class="form-control" id="IDH_ONDAY"  name="" placeholder="" value="{{l['ideal_hours']['ONDAY']}}" readonly=""></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="IDH_MTD"  name="" placeholder="" value="{{l['ideal_hours']['MTD']}}" readonly></td>
                                 
                  <td>
                    <input type="text" class="form-control" id="IDH_YTD" name="" placeholder="" value="{{l['ideal_hours']['YTD']}}" readonly></td>
                  <td>                
                  
                    <input type="text" class="form-control" id="equip_remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                  </td>
                </tr> 
                    {% endfor %}
                     
                </tbody>
              </table>
              </div>

              <div style="margin: 20px">
                <span></span>
              </div>

              <h4 id='table_title' style="text-align:center">Dozing</h4>

              <div class='data_table' id='table_1_4' style="display:block">

                 <table id="" class="example display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th style="width:25%">Equipment</th>
                          <th>On Day <p>(Running Hr's)</p></th>
                          <th>MTD (Running Hr's)</th>
                          <th>YTD (Running Hr's)</th>
                          <th>On Day (Breakdown Hr's)</th>
                          <th style="width:109px">MTD (Breakdown Hr's)</th>
                          <th style="width:109px">YTD (Breakdown Hr's)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>(Ideal Hr's)</th>
                          <th>MTD  <br/>(Ideal Hr's)</th>
                          <th>YTD  <br/>(Ideal Hr's)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
                    {% for l in equipment_details['Dozing'] %}
                  <tr>
                  <td>  
                    <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" onclick="getId(this)"  readonly>
                    <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" onclick="getId(this)" style="display:none" readonly></td>
                               
                  <td>
                    <input type="text" class="form-control test_class" id="RH_ONDAY'+row+'" name="" placeholder="" value="{{l['running_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="RH_MTD'+row+'"  name="" placeholder=""  value="{{l['running_hours']['MTD']}}" readonly></td>
                                
                  <td>
                    <input type="text" class="form-control" id="RH_YTD'+row+'"  name="" placeholder="" value="{{l['running_hours']['YTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text-decoration" class="form-control" id="BDH_ONDAY"  name="" placeholder="" value="{{l['breakdown_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_MTD"  name="" placeholder="" value="{{l['breakdown_hours']['MTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_YTD"  name="" placeholder="" value="{{l['breakdown_hours']['YTD']}}" readonly></td>
                  
                  <td>               
                    <input type="text" class="form-control" id="IDH_ONDAY"  name="" placeholder="" value="{{l['ideal_hours']['ONDAY']}}" readonly=""></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="IDH_MTD"  name="" placeholder="" value="{{l['ideal_hours']['MTD']}}" readonly></td>
                                 
                  <td>
                    <input type="text" class="form-control" id="IDH_YTD" name="" placeholder="" value="{{l['ideal_hours']['YTD']}}" readonly></td>
                  <td>                
                  
                    <input type="text" class="form-control" id="equip_remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                  </td>
                </tr> 
                    {% endfor %}
                    
                </tbody>
              </table>
            </div>
              <div style="margin: 20px">
                <span></span>
              </div>

              <h4 id='table_title' style="text-align:center">Blasting</h4>
              <div class='data_table' id='table_2' style="display:block">

              <table id="" class="example1 display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th>Description</th>                          
                          <th>OD(Total Consumption)</th>
                          <th>MTD(Total Consumption)</th>
                          <th style="width: 20%">Remarks</th>                         
                      </tr>
                  </thead>
                    <tbody id="body">
                    {% for l in equipment_details['Blasting'] %}
                      <tr>
                     <td>
                       <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" readonly>
                       <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" style="display: none" readonly>
                     </td>                      
                    <td>
                        <input type="text" class="form-control Consumption_OD" id="Consumption_OD"  name="" placeholder="" value="{{l['consumption']['ONDAY']}}" readonly> </td>
                     <td>
                        <input type="text" class="form-control" id="Consumption_MTD" name="" placeholder="" value="{{l['consumption']['MTD']}}" readonly> </td>
                    <td>
                        <input type="text" class="form-control" id="Remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                    </td>
                  </tr>  
                    {% endfor %}
                </tbody>
              </table>


              <div>
  PowderFactor - <span id='pf'></span> (MT/KG)
</div>
               <div class="row" style="margin-top:20px">
               <div class="col-md-6">
                <!-- <div class="form-group" style="float:right">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_blasting" value="Save Details"/> 
                </div> -->
              </div>
              
              </div>
    </div>
              <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center">Excavator(Loading)</h4>

                <div class='data_table' id='table_3' style="display:block">
          <table id="" class="example4 display table table-bordered table-striped" cellspacing="0" style="width: 100%">
                <thead>
                      <tr>
                          <th style="width:160px">Equipment</th>
                          <th>Limestone</th>
                          <th>Laterite</th>
                          <th>Waste</th>
                          <th>Clay</th>
                          <th style="width:109px">Misc</th>
                          <th style="width:109px">OD(Trips)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>MTD(Trips)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
                    {% for l in equipment_details['Excavator_Loading'] %}
                    <tr>
                    <td>
                     <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" readonly> 
                     <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" style="display: none" readonly> </td>
                      <td><input type="text" class="form-control" id="Limestone" name="" placeholder="" value="{{l['Limestone']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Laterite"  name="" placeholder="" value="{{l['Laterite']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Waste"  name="" placeholder="" value="{{l['Waste']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Clay"  name="" placeholder="" value="{{l['Clay']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Misc"  name="" placeholder="" value="{{l['Misc']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Trips_OD"  name="" placeholder="" value="{{l['Trips_OD']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Trips_MTD"  name="" placeholder="" value="{{l['Trips_MTD']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Remarks" name="" placeholder="" value="{{l['remarks']}}" readonly></td>
                      </tr>
                    {% endfor %}
                    
                </tbody>
              </table> 
               <div class="row" style="margin-top:20px">
               <div class="col-md-6">
                <!-- <div class="form-group" style="float: right">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_L_D" value="Save Details"/> 
                </div> -->
              </div>
              
              </div>
          </div>


          <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center">Transportation(Dumper)</h4>

                <div class='data_table' id='table_3' style="display:block">
          <table id="" class="example4 display table table-bordered table-striped" cellspacing="0" style="width: 100%">
                <thead>
                      <tr>
                          <th style="width:160px">Equipment</th>
                          <th>Limestone</th>
                          <th>Laterite</th>
                          <th>Waste</th>
                          <th>Clay</th>
                          <th style="width:109px">Misc</th>
                          <th style="width:109px">OD(Trips)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>MTD(Trips)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">

                    {% for l in equipment_details['Transportation_Dumper'] %}
                    <tr>
                    <td>
                     <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" readonly>
                      <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" style="display: none" readonly> </td>
                      <td><input type="text" class="form-control" id="Limestone" name="" placeholder="" value="{{l['Limestone']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Laterite"  name="" placeholder="" value="{{l['Laterite']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Waste"  name="" placeholder="" value="{{l['Waste']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Clay"  name="" placeholder="" value="{{l['Clay']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Misc"  name="" placeholder="" value="{{l['Misc']['ONDAY']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Trips_OD"  name="" placeholder="" value="{{l['Trips_OD']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Trips_MTD"  name="" placeholder="" value="{{l['Trips_MTD']}}" readonly></td>
                      <td><input type="text" class="form-control" id="Remarks" name="" placeholder="" value="{{l['remarks']}}" readonly></td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table> 
               <div class="row" style="margin-top:20px">
               <div class="col-md-6">
                <!-- <div class="form-group" style="float: right">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_L_D" value="Save Details"/> 
                </div> -->
              </div>
              
              </div>
          </div>

              <div style="margin: 20px">
                <span></span>
              </div>

              <h4 id='table_title' style="text-align:center">Others</h4>
        <div class='data_table' id='table_4' style="display:block">
              <table id="" class="example3 display table table-bordered table-striped" cellspacing="0" style="width: 150%">
                <thead>
                      <tr>
                          <th style="width:15%">Equipment</th>
                          <th>On Day <p>(Working Hr's)</p></th>
                          <th>MTD (Working Hr's)</th>
                          <th>YTD (Working Hr's)</th>
                          <th>On Day (Breakdown Hr's)</th>
                          <th style="width:109px">MTD (Breakdown Hr's)</th>
                          <th style="width:109px">YTD (Breakdown Hr's)</th>
                          <th>On Day  &nbsp; &nbsp; <br/>(Ideal Hr's)</th>
                          <th>MTD  <br/>(Ideal Hr's)</th>
                          <th>YTD  <br/>(Ideal Hr's)</th>
                          <th style="width: 20%">Remarks</th>

                         
                      </tr>
                  </thead>
                    <tbody id="body">
            {% for l in equipment_details['Others'] %}
                  <tr>
                  <td>  
                    <input type="text" class="form-control" id="equipment" name="" placeholder="" value="{{l['equipment']}}" onclick="getId(this)" style="display:none" readonly>
                    <input type="text" class="form-control" id="description" name="" placeholder="" value="{{l['description']}}" onclick="getId(this)" readonly></td>
                               
                  <td>
                    <input type="text" class="form-control test_class" id="RH_ONDAY'+row+'" name="" placeholder="" value="{{l['running_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="RH_MTD'+row+'"  name="" placeholder=""  value="{{l['running_hours']['MTD']}}" readonly></td>
                                
                  <td>
                    <input type="text" class="form-control" id="RH_YTD'+row+'"  name="" placeholder="" value="{{l['running_hours']['YTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text-decoration" class="form-control" id="BDH_ONDAY"  name="" placeholder="" value="{{l['breakdown_hours']['ONDAY']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_MTD"  name="" placeholder="" value="{{l['breakdown_hours']['MTD']}}" readonly></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="BDH_YTD"  name="" placeholder="" value="{{l['breakdown_hours']['YTD']}}" readonly></td>
                  
                  <td>               
                    <input type="text" class="form-control" id="IDH_ONDAY"  name="" placeholder="" value="{{l['ideal_hours']['ONDAY']}}" readonly=""></td>
                                  
                  <td>
                    <input type="text" class="form-control" id="IDH_MTD"  name="" placeholder="" value="{{l['ideal_hours']['MTD']}}" readonly></td>
                                 
                  <td>
                    <input type="text" class="form-control" id="IDH_YTD" name="" placeholder="" value="{{l['ideal_hours']['YTD']}}" readonly></td>
                  <td>                
                  
                    <input type="text" class="form-control" id="equip_remarks" name="" placeholder="" value="{{l['remarks']}}" readonly>
                  </td>
                </tr> 
                    {% endfor %}
                    
                </tbody>
              </table>
               <div class="row" style="margin-top:20px">
               <div class="col-md-6">
               <!--  <div class="form-group" style="float: right">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_others" value="Save Details"/> 
                </div> -->
              </div>
              
              </div>
              </div>

              <div style="margin: 20px">
                <span></span>
              </div>
              <h4 id='table_title' style="text-align:center">Production</h4>
        <div class='data_table' id='table_5' style="display:block;">
              <table id="" class="example5 display table table-bordered table-striped" cellspacing="0" style="width: 100%">
                <thead>
                      <tr>
                          <th style="width:15%">Description</th>
                          <th>On Day <p>(Working Hr's)</p></th>
                          <th>MTD (Working Hr's)</th>
                          <th>YTD (Working Hr's)</th>                         
                          <th style="width: 20%">Remarks</th>                         
                      </tr>
                  </thead>
                    <tbody id="body">
                                      {% for l in equipment_details['Production'] %}
                    <tr>
                    <td>
                      <input type="text" class="form-control" id="" name="" placeholder="" value="{{l['description']}}" readonly>
                      <input type="text" class="form-control" id="" name="" placeholder="" value="{{l['equipment']}}" style="display: none" readonly>
                                </td>           
                    <td>
                      
                        <input type="text" class="form-control" id="" name="" placeholder="" value="{{l['ONDAY']}}" readonly>
                      </td> 
                  <td>
                      
                      <input type="text" class="form-control" id=""  name="" placeholder="" value="{{l['MTD']}}" readonly>
                      </td> 
                  <td>
                      
                      <input type="text" class="form-control" id=""  name="" placeholder="" value="{{l['YTD']}}" readonly>
                             </td>              
                      
                     <td> 
                      <input type="text" class="form-control" id="" name="" placeholder="" value="{{l['remarks']}}" readonly>
                     </td> 
                     </tr>
                                      {% endfor %}  
                </tbody>
              </table>
               <div class="row" style="margin-top:20px">
               <div class="col-md-6">
                <!-- <div class="form-group" style="float: right">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_PROD" value="Save Details"/> 
                </div> -->
              </div>
              
              </div>
              </div>
<div class="row">              

  <div class="col-md-6" style="text-align:right">
    <form>
              <input type="text"  style="display:none" name="date_of_report" value="{{Date}}">
              <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_disable_PROD" style='text-align:center' value="Submit"/> 
              </form>
  </div>
  <div class="col-md-6">
     <form>
              <input type="text"  style="display:none" name="date_of_report" value="{{Date}}">
              <input type="submit"  name="submit" class="btn btn-info glyphicon glyphicon-eye-open submit_disable_PROD" style='text-align:center' value="Back"/> 
              </form>
  </div>
</div>
              

                

          
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
        
{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js' ></script>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">



  $(document).ready(function() {
    
         $('#date_of_report').datepicker({
          dateFormat: "dd-mm-yy",
          // minDate: new Date(2017,3, 1),
          // // minDate: "-1d",
          // maxDate: "-1d"
})

    table = $('.example').DataTable({
        "retrieve": true,
          "sScrollX": "170%",
          "paging": false,
          "bFilter": false,
          "bSort": false,
          "columnDefs": [
              { "width": "15%", "targets": 0 }
          ]
          
    });


    table_Blasting = $('.example1').DataTable({
        "retrieve": true,
          "sScrollX": "100%",
          "paging": false,
          "bFilter": false,
          "bSort": false,
          "columnDefs": [
              { "width": "15%", "targets": 0 }
          ]
          
    } );


    table_others = $('.example3').DataTable({
        "retrieve": true,
          "sScrollX": "170%",
          "paging": false,
          "bFilter": false,
          "bSort": false,
          "columnDefs": [
              { "width": "15%", "targets": 0 }
          ]
          
    } );

    table_L_D = $('.example4').DataTable({
        "retrieve": true,
          // "sScrollX": "100%",
          "paging": false,
          "bFilter": false,
          "bSort": false,
          "columnDefs": [
              { "width": "15%", "targets": 0 }
          ]
          
    } );


      table_PROD = $('.example5').DataTable({
        "retrieve": true,
          // "sScrollX": "100%",
          "paging": false,
          "bFilter": false,
          "bSort": false,
          "columnDefs": [
              { "width": "15%", "targets": 0 }
          ]
          
    } );

});

</script>

<script type="text/javascript">
function  getId(element) {
    alert(element.parentNode.parentNode.rowIndex);
}
console.log(document.getElementsByClassName('Consumption_OD')[1]['value']/document.getElementsByClassName('Consumption_OD')[0]['value']);
$('#pf').html(document.getElementsByClassName('Consumption_OD')[1]['value']/document.getElementsByClassName('Consumption_OD')[0]['value']);
</script>
</script>
<!--   <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.2').className ="active";
    </script> -->
<script type="text/javascript">
//   document.getElementById('id-mines_rep').className ="nav-parent nav-active active";
//       document.getElementById("id-mines_rep_a").style.display = "block";
// document.getElementById('id-mines_rep.01').className ="active";
document.getElementById('id-100').className ="nav-parent nav-active active";
  document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.DMR').className ="active";
  document.getElementById('id-DMR').style.display = "block";
  document.getElementById('id-mines_rep.01').className ="active";
</script>
    

{% endblock %}
