{% extends "base.html" %}
{% block links %}

<!-- <style type="text/css" src="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"></style> -->
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Mines Report History</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          {% if status=='submit_history'%}
          <h4 class="panel-title">List Of Submissions</h4>
          {% endif %}
          {% if status=='approval_history'%}
          <h4 class="panel-title">List Of Approvals</h4>
          {% endif %}
           </div>            <!-- panel-heading -->

        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
					
					 
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Entry Date</th>
                 {% if status !='submit_history'%}
                <th>Submitted By</th>
                {% endif %}
                {% if user_type %}
                <th> Plant </th>
                {% endif %}
                <th>Action</th>

            </tr>
        </thead>
 
        <tbody>
     {% set i=0 %}
{% for e in app_docs%}
            <tr>
                <td>{{e['Date']}}</td>
                 {% if status !='submit_history'%}
                <td>{{e['employee_name']}}</td>
                {% endif %}

                 {% if user_type %}
                <td>{{e['plant']}}</td>
                {% endif %}
                <td style="padding-left: 40px;">
                <form id="approve" action="" method="POST" > 
                <input type="hidden" value="{{ e['_id']}}" name="prid" />
              	 <button type="submit" name="submit"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" data-original-title="View" id="agree{{i}}"  value="VIEW"  ></button>
                </form>
                </td>
            </tr>
           {% set i=i+1 %}
       {% endfor %}
       {% if app_docs|length==0 %}
  <tr>
  <td></td>
  <td></td>
  <td style="text-align: center"> No Submitions to view.</td>
  <td></td>
  <td></td></tr>
  {% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}


<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({ 
      "bSort": false,
        
    });
} );
// function b(this)
// {
//   alert(this.id);
// // yr= document.getElementById("yr").value;
// // type=$("input[name=optionsRadios]:checked").val();

// // window.open(+".pdf",'_blank');

// }
$(document).ready(function() { 
    $('#dwnld_btn').click(function(){ 
      alert($(this).attr('id'));
  });
});

</script>
<script>
</script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
{% if user_type %}
<script type="text/javascript">
  document.getElementById('id-mines_rep').className ="nav-parent nav-active active";
      document.getElementById("id-mines_rep_a").style.display = "block";
document.getElementById('id-mines_rep.041').className ="active";
</script>
{% else %}
<script type="text/javascript">
//   document.getElementById('id-mines_rep').className ="nav-parent nav-active active";
//       document.getElementById("id-mines_rep_a").style.display = "block";
// document.getElementById('id-mines_rep.03').className ="active";

document.getElementById('id-100').className ="nav-parent nav-active active";
  document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.DMR').className ="active";
  document.getElementById('id-DMR').style.display = "block";
  document.getElementById('id-mines_rep.03').className ="active";
</script>
{% endif %}

{% endblock %}
