{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Employee Leave History</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Employee Leave History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Employee Leave History</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">

<div class="col-md-4 col-md-offset-2">
  <label for="employee">Select Employee</label>
<input type="hidden" class="form-control" id="employee">
</div>

<div class="col-md-4 col-md-offset-2" id="quota">

</div>

    </div><br>
</form>     
 
 <div class="row">
<div class="col-sm-12" id="leavetable">


</div>
    </div>                                               
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
  <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.6').className ="active";
    </script>
<script type="text/javascript">
d=[];
{% for e in el%}
d.push({id:"{{e['username']}}", text:"{{e['username']}} - {{e['f_name']}} {{e['l_name']}}"});
{% endfor %}
$("#employee").select2({
  placeholder: "Search for employee",
data:d

});
</script>
<script type="text/javascript">
$('#employee').change(function() {
  var deg = $("#employee").select2('data').id;
    $.ajax({
                     url:"/leave/getleaves",
                     type:"POST",
                     data:{deg:deg},
                     success:function(data){
                  if (data['leaves'].length>0){
                    var text='<table id="example" class="table table-bordered table-condensed table-hover"><thead><tr><th>Type</th><th>Leave Reason</th><th>Starting Date</th><th>Ending Date</th><th>Half Days</th><th>Status</th></tr></thead><tbody>';
                    for(i=0;i<data['leaves'].length;i++){

                      text+='<tr><td>'+data["leaves"][i]["leave"]+'</td><td>'+data["leaves"][i]["reason"]+'</td><td>'+data["leaves"][i]["start_date"]+'</td><td>'+data["leaves"][i]["end_date"]+'</td>';
                      if(data['leaves'][i]['halfdays'].length ==2){
                        text+='<td>2nd Half of '+data["leaves"][i]["start_date"]+'<br>1st half of '+data["leaves"][i]["end_date"]+'</td>';
                      }
                      else if(data['leaves'][i]['halfdays'].length ==1){
                       if(data['leaves'][i]['halfdays'][0] == 1){
                        text+='<td>2nd Half of '+data["leaves"][i]["start_date"]+'</td>';
                       } else{
                        text+='<td>1st half of '+data["leaves"][i]["end_date"]+'</td>';
                       }
                      }
                      else{
                        text+='<td>None</td>';
                      }

                      text+='<td>'+data["leaves"][i]["status"]+'</td></tr>';
                    }
                    text+='</tbody></table>';

                  }
                  else{
                    var text='No leaves found';
                  }

           document.getElementById("leavetable").innerHTML = text;
           var text1='<table class="table table-bordered table-hover"><tr class="active"><th class="text-center">Type</th><th>Quota</th><th>Balance</th><th>Used</th></tr>';
           text1+='<tr class="text-center"><td>Casual Leave</td><td>'+data['leave_quota']['available_cls']+'</td><td>'+data['leave_quota']['cls_balance']+'</td><td>'+data['leave_quota']['leaves_taken']+'</td></tr>';
           text1+='<tr class="text-center"><td>Sick Leave</td><td>'+data['leave_quota']['available_sls']+'</td><td>'+data['leave_quota']['sls_balance']+'</td><td>'+data['leave_quota']['sls_taken']+'</td></tr>';
           text1+='<tr class="text-center"><td>Earned Leave</td><td>'+data['leave_quota']['available_els']+'</td><td>'+data['leave_quota']['els_balance']+'</td><td>'+data['leave_quota']['els_taken']+'</td></tr>';
           text1+='<tr class="text-center"><td>Leave Without Pay</td><td>NA</td><td>NA</td><td>'+data['leave_quota']['lwps_taken']+'</td></tr>';
           text1+='<tr class="text-center"><td>Tour</td><td>NA</td><td>NA</td><td>'+data['leave_quota']['tours_taken']+'</td></tr>';
           text1+='<tr class="text-center"><td>On Duty</td><td>NA</td><td>NA</td><td>'+data['leave_quota']['onduty_taken']+'</td></tr></table>';
           document.getElementById("quota").innerHTML = text1;


                     }
                   })
});
</script>

{% endblock %}
