{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>
<style type="text/css">
  
 .ui-datepicker-calendar {
   display: none !important;
} 

.ui-datepicker-month {
   display: none;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>EPMS Reports</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">EPMS Reports Search</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="emps_report" action="" method="POST" >
 
 <div class="col-md-12 ">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
                    <label>Report Type</label>
                    <select class="form-control" id="type" name="type" style="width:200px" required>
                          <option value="select" >Select Report Type</option>
                          <!-- <option value="OR">Overall Report</option> -->
                          <option value="KR">KRAs Report</option>
                          <option value="TAR">Training Attended Report</option>
                          <option value="TNR">Training Needs Report</option>
                         <!--  <option value="JDR">Job Desc Report</option> -->
                          <option value="APR">Action Plan Report</option>
                          <option value="KRAS">KRAs Status Report</option>
                          <option value="EPMS">EPMS Status Report</option>
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="datepicker">Financial Year</label>
                      <input id="datepicker" type="text" name="fin_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-4">
           <div class="form-group">
                     </div>
          </div>
       
</div>
<br>
<br>
<br>
<br>       

        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
    document.getElementById('id-33').className ="nav-parent nav-active active";
    document.getElementById("p").style.display = "block";
  document.getElementById('id-33.6').className ="active";
</script>
   
    
<script src="/static/js/jquery-ui.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('#datepicker').datepicker({
     changeMonth: true,
     changeYear: true,
     showButtonPanel: true,
     dateFormat: 'yy',

     onClose: function() {

        var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();

        var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
         $("#datepicker").val((parseInt(iYear) - 1) + "-" + iYear);
     }

   
  });
 
});

</script>
{% endblock %}
