{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> E-PMS Reports</h2>
</div>
{% endblock %} {% block contentpanel %}
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<style type="text/css">
  button.dt-button, div.dt-button, a.dt-button{

    border: 1px solid #e9e9e9;

  }

  table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #ddd;
  }
  table.dataTable.no-footer{
     border-bottom: 1px solid #ddd;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        background-color: #9a9a94 !important;
       
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
     color: #428bca !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
          color: #428bca !important;
    border: 1px solid #428bca;
    background-color: white;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    cursor: default;
    color: #428bca !important;
    border: 1px solid transparent;
    background: white;
    box-shadow: none;
  }
  .paginate_button:hover{
    background: #428bca !important;
    color:#fff;
    cursor:pointer;
  }

div.DTTT_container {
    position: inherit;
    margin-bottom: 1em;
}
button.DTTT_button, div.DTTT_button, a.DTTT_button{
    position: inherit;
    display: inline;
    margin-right: 3px;
    padding: 10px 10px;
    border: 1px solid #428bca;
    cursor: pointer;
    font-size: 0.88em;
    box-shadow: 1px 1px 3px #ccc;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    border-radius:5px;
}
div.dataTables_length select{
  padding:10px;
}

  </style>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">EPMS Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Employees Not Eligible For EPMS (Total - {{ CountData['EmployeesNotEligibleForAppraisal'] }} )</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example1" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% if CountData['EmployeesNotEligibleForAppraisal'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %}
          {% for e in EPMSUserInfo %}
          {% if e['Status'] == "Not Eligible For EPMS" %}
            <tr>
                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']}}</td>
                <td>{{ e['Designation']}}</td>
                <td>{{ e['Department']}}</td>
                <td>{{ e['Location']}}</td>
                <td>{{ e['Status']}}</td>
            </tr>
          {% endif %}
          {% endfor %}
        {% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Employees Not Initiated EPMS (Total - {{ CountData['EmployeesNotInitiatedEPMS'] }} )</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example2" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>                
                <th>Status</th>
            </tr>
        </thead>
 
 
        <tbody>
        {% if CountData['EmployeesNotInitiatedEPMS'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %}
          {% for e in EPMSUserInfo %}
          {% if e['Status'] == "Not Initiated EPMS" %}
            <tr>

                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']}}</td>
                <td>{{ e['Designation']}}</td>
                <td>{{ e['Department']}}</td>
                <td>{{ e['Location']}}</td>                
                <td>{{ e['Status']}}</td>

            </tr>
          {% endif %}
          {% endfor %}
          {% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Employees Saved EPMS ( Not Submitted) (Total - {{ CountData['UserSavedNotSubmitted'] }} )</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example3" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>                
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% if CountData['UserSavedNotSubmitted'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %}
          {% for e in EPMSUserInfo %}
          {% if e['Status'] == "Saved EPMS" %}
            <tr>

                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']}}</td>
                <td>{{ e['Designation']}}</td>
                <td>{{ e['Department']}}</td>
                <td>{{ e['Location']}}</td>                
                <td>{{ e['Status']}}</td>

            </tr>
          {% endif %}
          {% endfor %}
          {% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 


<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Appraiser Pending (Total - {{ CountData['UserSubmitted'] }} )</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example4" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>                
                <th>Status</th>
            </tr>
        </thead>
 
 
        <tbody>
        {% if CountData['UserSubmitted'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %}        
          {% for e in EPMSUserInfo %}
          {% if e['Status'] == "Submitted EPMS" %}
            <tr>

                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']}}</td>
                <td>{{ e['Designation']}}</td>
                <td>{{ e['Department']}}</td>
                <td>{{ e['Location']}}</td>                
                <td>{{ e['Status']}}</td>

            </tr>
          {% endif %}
{% endfor %}
{% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 


<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Reviewer Pending (Total - {{ CountData['UserSubmitted-AppraiserSubmitted'] }} )</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example5" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>                
                <th>Status</th>
            </tr>
        </thead>
 
 
        <tbody>
        {% if CountData['UserSubmitted-AppraiserSubmitted'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %}        
          {% for e in EPMSUserInfo %}
          {% if e['Status'] == "Appraiser Approved" %}
            <tr>

                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']}}</td>
                <td>{{ e['Designation']}}</td>
                <td>{{ e['Department']}}</td>
                <td>{{ e['Location']}}</td>                
                <td>{{ e['Status']}}</td>

            </tr>
          {% endif %}
{% endfor %}
{% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Appraisal Completed (Total - {{ CountData['UserSubmitted-AppraiserSubmitted-ReviewerSubmitted'] }} )</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example6" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>                
                <th>Status</th>
            </tr>
        </thead>
         <tbody>
        {% if CountData['UserSubmitted-AppraiserSubmitted-ReviewerSubmitted'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %}         
          {% for e in EPMSUserInfo %}
          {% if e['Status'] == "Appraiser & Reviewer Approved" %}
            <tr>

                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']}}</td>
                <td>{{ e['Designation']}}</td>
                <td>{{ e['Department']}}</td>
                <td>{{ e['Location']}}</td>                
                <td>{{ e['Status']}}</td>

            </tr>
          {% endif %}
{% endfor %}
{% endif %}
        </tbody>

    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script> -->
<script type="text/javascript" src="/static/js/dataTables.tableTools.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example1').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });
    $('#example2').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });

    $('#example3').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });

    $('#example4').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });

    $('#example5').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });

    $('#example6').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });
} );

</script>
<script type="text/javascript">
  document.getElementById('id-33').className ="nav-parent nav-active active";
  document.getElementById("p").style.display = "block";
  document.getElementById('id-33.6').className ="active";
</script>

<script>
    $(function () {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!

    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
    var today = dd+'/'+mm+'/'+yyyy;
        
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'HR EPMS Report as of '+today
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'EPMS Data Report',
            colorByPoint: true,
            data: [{
                name: 'User Saved',
                y: {{ EPMSReportData['UserSavedNotSubmitted'] }},
            },{
                name: 'Appraiser Pending',
                y: {{ EPMSReportData['UserSubmitted'] }},
            },{
                name: 'Reviewer Pending',
                y: {{ EPMSReportData['UserSubmitted-AppraiserSubmitted'] }},
            },
            {
                name: 'Appraisal Completed',
                y: {{ EPMSReportData['UserSubmitted-AppraiserSubmitted-ReviewerSubmitted'] }},
            },
            {
                name: 'Not eligible',
                y: {{ EPMSReportData['EmployeesNotEligibleForAppraisal'] }},
            },
            {
                name: 'Not started EPMS',
                y: {{ EPMSReportData['EmployeesNotInitiatedEPMS'] }},
            },
            ]
        }]
    });
});


</script>

<style>
</style>

<!-- <div class="containerx">
<div class="tab-content">
<h3 align ="center"> You are not eligible for this appraisal cycle </h3>
</div>
</div> 
 -->        {% endblock %} 

        {% block scripts %}

        {% endblock %}