<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>KRA Information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Accordion with CSS3" />
        <meta name="keywords" content="accordion, css3, sibling selector, radio buttons, input, pseudo class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="./static/images/favicon.png"> 
        <link rel="stylesheet" type="text/css" href="/static/css1/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/css1/style.css" />
        <script type="text/javascript" src="/static/js/modernizr.custom.29473.js"></script>
        <link href="/static/css/bootstrap.min.css">

<style>
table {
    font-family: "Cambria", "Palatino", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    border-collapse: collapse;
    width: 100%;
    /*font-style: italic;*/
    /*margin-left: 15%;*/
    margin-top: 4px;
}

td, th {
    border: 1px solid #428bca;
    text-align: left;
    padding: 2px;
}
</style>
<style type="text/css">
    .form-control{display:block;width:70%;height:90%;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,font-family: "Cambria", "Palatino", "Palatino Linotype", "Palatino LT STD", Georgia, serif;margin-left: 140px;}

</style>

    </head>
    <body>
        <div class="container">
            <!-- Codrops top bar -->
           <!--  <div class="codrops-top">
                <a href="http://tympanus.net/codrops/2012/02/06/3d-gallery-with-css3-and-jquery/">
                    <strong>&laquo; Previous Demo: </strong>3D Gallery with CSS3 and jQuery
                </a>
                <span class="right">
                    <a href="http://slipsum.com">Placeholder text by SAMUEL L. IPSUM</a>
                    <a href=" http://tympanus.net/codrops/2012/02/20/accordion-with-css3/">
                        <strong>Back to the Codrops Article</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div> --><!--/ Codrops top bar -->
            <header>
                <h1>Employee&nbsp;<span>KRA Information</span></h1>
                <h2>For the Year &nbsp;{{year}}</h2>
            </header>
            <section class="ac-container">
                <div>
                    <input id="ac-1" name="accordion-1" type="checkbox" checked>
                    <label for="ac-1"> Employee Information</label>
                    <article class="ac-large">
                        <table >
                           <thead>
                                <tr>
                                    <td>
                                        Employee Id
                                    </td>
                                    <td>
                                        {{ user_details1.username }}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Employee Name
                                    </td>
                                    <td>
                                        {{ user_details1.f_name }} &nbsp {{ user_details1.l_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Designation
                                    </td>
                                    <td>
                                        {{ user_details1.designation }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Qualification
                                    </td>
                                    <td>
                                       {{ user_details1.Qualification1 }} {% if user_details1.Qualification2 != "" %}/{{ user_details1.Qualification2 }} {% endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Department
                                    </td>
                                    <td>
                                        {{ user_details1.department_name }}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>
                                        Date of Joining
                                    </td>
                                    <td>
                                        {{ user_details1.doj }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Experience in Penna
                                    </td>
                                    <td>
                                        <font id="ExperienceAtPenna"></font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Date Of Birth
                                    </td>
                                    <td>
                                        {{ user_details1.dob}}
                                    </td>
                                </tr>  
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        {{ user_details1.location}}
                                    </td>
                                </tr>                              
                                <tr>
                                    <td>
                                        Last Increment Date
                                    </td>
                                    <td>
                                        01-04-2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Appraiser Name
                                    </td>
                                    <td>
                                       {{EPMSData['approval_levels'][0]['a_name']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Appraiser Designation
                                    </td>
                                    <td>
                                        {{EPMSData['approval_levels'][0]['a_designation']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Reviewer Name
                                    </td>
                                    <td>
                                        {{EPMSData['approval_levels'][1]['a_name']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Reviewer Designation
                                    </td>
                                    <td>
                                        {{EPMSData['approval_levels'][1]['a_designation']}}
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                    </article>
                </div>
                <div>
                    <input id="ac-2" name="accordion-1" type="checkbox" />
                    <label for="ac-2">Job Description</label>
                    <article class="ac-medium">
                         <textarea class="form-control" id="JobResponsibilities" name="JobResponsibilities" readonly rows="5">{{EPMSData['JobResponsibilities']}}</textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                    </article>
                </div>
                <div>
                    <input id="ac-3" name="accordion-1" type="checkbox" />
                    <label for="ac-3">Key Result Area</label>
                    <article class="ac-large" style="overflow-y: scroll">
                      <table >
                         <thead>
                            <tr>
                                <th colspan="9" style="text-align: center;" id = "selfAppraiserText" >KRA {{EPMSData['Finance_year']}}</th>
                            </tr>
                            <tr>
                                <th style="width:100px;height: 35px; text-align: center;" >Objectives/KRAs</th>
                                <th style="width: 50px;height: 35px; text-align: center;" >Weightage<br>(Of Each KRA)</th>
                                <th style="width: 100px;height: 35px; text-align: center;" >Target/UOM</th>
                               
                            </tr>
                          
                        </thead>
                        <tbody id="bodyAppraisalKRA">
                           {% for e in EPMSData['AppraisalAndKRA'] %}
                            <tr>
                                <td>
                                        {{ e['AppraisalKRAObjective'] }}
                                </td>
                                <td style="text-align: center;">
                                    <!-- <input class="form-control model Weightage" id="Weightage" name="Weightage" style="width: 100%;height: 35px;" type="number" min =1 max=100 step=0.5 value="" > -->
                                    {{ e['Weightage'] }}
                                </td>
                                <td style="text-align: center;">
                                    <!-- <input  data-toggle="tooltip" float="left" data-html="true" 
                                        title="{{ e['TargetPerUnit'] }}" class="form-control model" id="insoluble" name="TargetPerUnit" style="width: 100%;height: 35px;" type="text" value=""> -->
                                    {{ e['TargetPerUnit'] }}
                                </td>
                                              
                            </tr>
                            {% endfor %}
                            <tr>
                            <td >Total
                            </td>
                            <td style="text-align: center;">&nbsp;{{totalsum}}</td>
                            <td>&nbsp;</td>
                          </tbody>
                         </table>
                        <br>
                        <br>
                        <br>
                        <br>

                    </article>
                </div>
               
            </section>
        </div>
    </body>
      <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script>
    $(document).ready(function() {
        $( "#employeeInformation" ).trigger( "click" );
    });
</script>
<script>
    $(document).ready(function() {
        $('#btnNext').click(function() {
            $('.nav-pills > .active').next('li').find('a').trigger('click');
        });
    });
</script>
<script>
function getAge(dateString) {
 
  var tempDateString = dateString.substring(3,5)+"/"+dateString.substring(0,2)+"/"+dateString.substring(6,10);
  // alert(dateString);
  // alert(tempDateString);
  dateString = tempDateString;
  var now = new Date();
  var today = new Date(now.getYear(),now.getMonth(),now.getDate());

  var yearNow = now.getYear();
  var monthNow = now.getMonth();
  // monthNow = 2;
  var dateNow = now.getDate();
  // dateNow = 31;

  var dob = new Date(dateString.substring(6,10),
                     dateString.substring(0,2)-1,                   
                     dateString.substring(3,5)                  
                     );

  var yearDob = dob.getYear();
  var monthDob = dob.getMonth();
  var dateDob = dob.getDate();
  var age = {};
  var ageString = "";
  var yearString = "";
  var monthString = "";
  var dayString = "";
  var monthAge;

  yearAge = yearNow - yearDob;
  // alert(yearAge)
  // alert(monthNow)
  if (monthNow >= monthDob)
   {
    // alert("if")
    monthAge = monthNow - monthDob;
   }
  else {
    yearAge--;
    monthAge = 12 + monthNow -monthDob;
  }
  // alert(monthAge)
  if (dateNow >= dateDob)
    var dateAge = dateNow - dateDob;
  else {
    monthAge--;
    var dateAge = 31 + dateNow - dateDob;

    if (monthAge < 0) {
      monthAge = 11;
      yearAge--;
    }
  }

  age = {
      years: yearAge,
      months: monthAge,
      days: dateAge
      };

  if ( age.years > 1 ) yearString = " YEARS";
  else yearString = " YEARS";
  if ( age.months> 1 ) monthString = " MONTHS";
  else monthString = " MONTHS";
  if ( age.days > 1 ) dayString = " DAYS";
  else dayString = " DAY";


/*  if ( (age.years > 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.years + yearString + ", " + age.months + monthString + ", and " + age.days + dayString + "";
  else if ( (age.years == 0) && (age.months == 0) && (age.days > 0) )
    ageString = "Only " + age.days + dayString + "";
  else if ( (age.years > 0) && (age.months == 0) && (age.days == 0) )
    ageString = age.years + yearString + "";
  else if ( (age.years > 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.years + yearString + " and " + age.months + monthString + "";
  else if ( (age.years == 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.months + monthString + " and " + age.days + dayString + "";
  else if ( (age.years > 0) && (age.months == 0) && (age.days > 0) )
    ageString = age.years + yearString + " and " + age.days + dayString + "";
  else if ( (age.years == 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.months + monthString + "";
  else ageString = "Oops! Something went wrong";*/


  if ( (age.years > 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.years + yearString + ", " + age.months + monthString+ "";
  else if ( (age.years == 0) && (age.months == 0) && (age.days > 0) )
    ageString = "Only " + age.days + dayString + "";
  else if ( (age.years > 0) && (age.months == 0) && (age.days == 0) )
    ageString = age.years + yearString + "";
  else if ( (age.years > 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.years + yearString + " and " + age.months + monthString + "";
  else if ( (age.years == 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.months + monthString +"";
  else if ( (age.years > 0) && (age.months == 0) && (age.days > 0) )
    ageString = age.years + yearString;
  else if ( (age.years == 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.months + monthString + "";
  else ageString = "Oops! Something went wrong";


  return ageString;
}

</script>

<script>
    $(document).ready(function() {
        $('#ExperienceAtPenna').text(getAge('{{ user_details1.doj}}'));
       // $('#ExperienceAtPenna').text(getAge('04/23/2013'));
    });
</script>
</html>