{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> E-PMS Reports</h2>
</div>
{% endblock %} {% block contentpanel %}
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<style type="text/css">
  button.dt-button, div.dt-button, a.dt-button{

    border: 1px solid #e9e9e9;

  }

 /* table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #ddd;
  }
  table.dataTable.no-footer{
     border-bottom: 1px solid #ddd;
  }*/
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        background-color: #9a9a94 !important;
       
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
     color: #428bca !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
          color: #428bca !important;
    border: 1px solid #428bca;
    background-color: white;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    cursor: default;
    color: #428bca !important;
    border: 1px solid transparent;
    background: white;
    box-shadow: none;
  }
  .paginate_button:hover{
    background: #428bca !important;
    color:#fff;
    cursor:pointer;
  }

div.DTTT_container {
    position: inherit;
    margin-bottom: 1em;
}
button.DTTT_button, div.DTTT_button, a.DTTT_button{
    position: inherit;
    display: inline;
    margin-right: 3px;
    padding: 10px 10px;
    border: 1px solid #428bca;
    cursor: pointer;
    font-size: 0.88em;
    box-shadow: 1px 1px 3px #ccc;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    border-radius:5px;
}
div.dataTables_length select{
  padding:10px;
}

  </style>
  <style>
table {
    font-family: "Cambria", "Palatino", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    border-collapse: collapse;
    width: 100%;
    /*font-style: italic;*/
    /*margin-left: 15%;*/
    margin-top: 4px;
}

td, th {
    border: 1px solid #428bca;
    text-align: left;
    padding: 2px;
}
.lab_data{
   font-family: "Cambria", "Palatino", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
</style>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div>
          <h4 class="lab_data">KRA's Statistics ({{Fin_year}})</h4>
           </div>
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<!-- <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
              </div> -->
              <table >
                           <thead>
                                <tr>
                                    <td>
                                        Total Active Employees
                                       <!-- TOTAL ACTIVE EMPLOYEES -->
                                    </td>
                                    <td>
                                        {{ CountData['TotalActiveEmployees'] }}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Employees Not Yet Initiated KRA'S
                                      <!--  EMPLOYEES NOT YET INITIATED KRA'S -->
                                    </td>
                                    <td>
                                        {{ CountData['EmployeesNotInitiatedKRA']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Employees Initiated KRA'S
                                       <!--  EMPLOYEES INITIATED KRA'S -->
                                    </td>
                                    <td>
                                        {{ CountData['EmployeesInitiatedKRA'] }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        User Saved But Not Submitted KRA's
                                        <!-- EMPLOYEE SAVED BUT NOT SUBITTED KRA'S -->
                                    </td>
                                    <td>
                                       {{ CountData['UserSavedNotSubmittedKRA']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        User Submitted KRA's
                                        <!-- USER SUBMITTED KRA'S, PENDING AT APPRAISER -->
                                    </td>
                                    <td>
                                        {{CountData['UserSubmittedKRA']}}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>
                                        User Submitted-Appraiser Submitted
                                      <!--  USER SUBMITTED AND APPRAISER SUBMITTED, PEDNING AT REVIEWER -->
                                    </td>
                                    <td>
                                        {{ CountData['UserSubmitted-AppraiserSubmitted']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        KRA's Completed
                                       <!--  KAR's COMPLETED -->
                                    </td>
                                    <td>
                                        {{CountData['UserSubmitted-AppraiserSubmitted-ReviewerSubmitted']}}
                                    </td>
                                </tr>
                                
                            </tbody>
                            </table>
</div></div>

      </div>
  </div>
      </div>
</div>        
      </div>

<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="lab_data">Employees KRA's Status Report ({{Fin_year}})</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example1" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Payroll Area</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
       <!--  {% if CountData['EmployeesNotInitiatedKRA'] == 0 %}
                <td>No Records Found</td>  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
        {% else %} -->
          {% for e in EPMSUserInfo %}
          
            <tr>
                <td>{{ e['UserId']}}</td>  
                <td>{{ e['UserName']|title }}</td>
                <td>{{ e['Designation']|title}}</td>
                <td>{{ e['Department']|title}}</td>
                <td>{{ e['PayrollArea']|upper}}</td>
                <td>
                  {% if e['Status'] == "Not Initiated KRAs" or e['Status'] == "Initiated KRAs" or e['Status'] == "Saved KRAs" or e['Status'] == "Submitted KRAs" or e['Status'] == "Appraiser Approved" or e['Status'] == "Appraiser And Reviewer Approved" %}
                    {{ e['Status']|title}}
                  {% endif %}
                </td>
            </tr>
          
          {% endfor %}
        <!-- {% endif %} -->
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 


<!-- <div class="containerx">
<div class="tab-content">
<h3 align ="center"> You are not eligible for this appraisal cycle </h3>
</div>
</div> 
 -->        {% endblock %} 

        {% block scripts %}

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script> -->
<script type="text/javascript" src="/static/js/dataTables.tableTools.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example1').DataTable({
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });
   
} );

</script>
<script type="text/javascript">
  document.getElementById('id-33').className ="nav-parent nav-active active";
  document.getElementById("p").style.display = "block";
  document.getElementById('id-33.6').className ="active";
</script>



        {% endblock %}