{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> E-PMS</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
  document.getElementById('id-33').className ="nav-parent nav-active active";
  document.getElementById("p").style.display = "block";
  document.getElementById('id-33.1').className ="active";
</script>

<style>
    #overallRatingValue { 
    text-align: center; 
    text-transform:uppercase
    }
    ul
    {
    list-style-type:none;
    }
    textarea {
    resize: none;
    }
    .input-disabled{background-color:#EBEBE4;}
    th {
        text-align: center
    }
    
    #count_message th {
        color: black;
    }
    
    #count_message {
        font-size: 10px;
    }
    td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    }
</style>

<div class="containerx">
<div class="tab-content">
<h3 align ="center"> With out filling your KRAs you are not eligible to fill your appraisal. </h3>
</div>
</div> 
        {% endblock %} 

        {% block scripts %}

        {% endblock %}