{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> E-PMS Reports</h2>
</div>
{% endblock %} {% block contentpanel %}
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<style type="text/css">
  button.dt-button, div.dt-button, a.dt-button{

    border: 1px solid #e9e9e9;

  }

  table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #ddd;
  }
  table.dataTable.no-footer{
     border-bottom: 1px solid #ddd;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        background-color: #9a9a94 !important;
       
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
     color: #428bca !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
          color: #428bca !important;
    border: 1px solid #428bca;
    background-color: white;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    cursor: default;
    color: #428bca !important;
    border: 1px solid transparent;
    background: white;
    box-shadow: none;
  }
  .paginate_button:hover{
    background: #428bca !important;
    color:#fff;
    cursor:pointer;
  }

div.DTTT_container {
    position: inherit;
    margin-bottom: 1em;
}
button.DTTT_button, div.DTTT_button, a.DTTT_button{
    position: inherit;
    display: inline;
    margin-right: 3px;
    padding: 10px 10px;
    border: 1px solid #428bca;
    cursor: pointer;
    font-size: 0.88em;
    box-shadow: 1px 1px 3px #ccc;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
    border-radius:5px;
}
div.dataTables_length select{
  padding:5px;
}
.dataTables_filter input{
  padding: 5px;
}
th, td {
    white-space: nowrap;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px solid #111;
}

.dataTables_scrollHead{
  margin-bottom:-14px !important;
}

  </style>

<br>
<br>
<div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Employees Consolidated Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   


<div class="table-responsive">
<table id="example1" class="display table table-bordered table-striped dttable" cellspacing="0" >
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Location</th>
                <th>Overall Weightage</th>
                <th>Grade</th>
                <th>Appraiser Comments</th>
                <th>Reviewer Comments</th>
            </tr>
        </thead>
        <tbody>
          {% for e in report %}
            <tr>
                <td>{{ e['username']}}</td>  
                <td>{{ e['name']}}</td>
                <td>{{ e['designation']}}</td>
                <td>{{ e['department']}}</td>
                <td>{{ e['location']}}</td>                
                <td>{{ e['overallweightage']}}</td>
                <td>{{ e['grade']}}</td>
                <td>{{ e['appraiser_comments']}}</td>
                <td>{{ e['reviewer_comments']}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 





<style>
</style>

<!-- <div class="containerx">
<div class="tab-content">
<h3 align ="center"> You are not eligible for this appraisal cycle </h3>
</div>
</div> 
 -->        {% endblock %} 

  {% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script> -->
<script type="text/javascript" src="/static/js/dataTables.tableTools.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example1').DataTable({
      "autoWidth": false,
       "scrollX": true,
       "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls.swf",
           "aButtons": [
            {
              'sExtends':'xls'
            }
             
          ]
        },

    });
   
    });

</script>
<script type="text/javascript">
  document.getElementById('id-33').className ="nav-parent nav-active active";
  document.getElementById("p").style.display = "block";
  document.getElementById('id-33.7').className ="active";
</script>

        {% endblock %}