{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>
<style type="text/css">
  
 .ui-datepicker-calendar {
   display: none !important;
} 

.ui-datepicker-month {
   display: none;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>KRA / PMS History</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Employee Leave History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">KRA / PMS History</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

<form  action="/epms/emps_kra_teamview/" method="POST" onsubmit="return validation()">
<div class="row">

<div class="col-md-2 col-md-offset-2">
 
<select class="form-control" id="reporttype" name="reporttype" >
  <option value="0">Select Report Type</option>
 <!--  <option value="KRA">Team KRAs View</option> -->
  <option value="PMS">Team PMS View</option>
</select>
</div>

<div class="col-md-2 col-md-offset-1">
  
<!-- <input id="datepicker" type="text" name="fin_date" value='' placeholder="Select Year" style="width:110px;" class="form-control start_date" required> -->
<select class="form-control" id="reporttype" name="fin_date">
  <option value="">Select Year</option>
  <option value="2015-2016">2015-2016</option>
  <option value="2016-2017">2016-2017</option>
</select>
</div>
  <div class="col-sm-2 col-md-1">            
                       <div class="form-group">
                       
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
<div class="col-md-4 col-md-offset-2" id="quota">

</div>

    </div><br>
</form>     
 
   <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
<div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>Employee Name</th>
                <th>Saved On</th>
                 <th>Submited Satus</th>
                 <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
    {% for e in list %}
    
            <tr>

                <td>{{e['UserId']}}</td>  
                <td>{{e['fullname']}}</td>
                <td>{{e['SavedOn']}}</td>
                <td>{{e['SubmitIndicator']}}</td>
                {% if e['SubmitIndicator_Appraiser'] == 'Yes' or e['SubmitIndicator_Reviewer'] =="Yes"%}
                <td style="padding-left: 40px;">
                <form id="approve" action="/epms/appraiser_KRA_info_view" method="POST" target="_blank"> 
                <input type="hidden" value="{{ e['_id']}}" name="prid" />
                <input type="hidden" value="{{ e['UserId']}}" name="userid" />
                <button type="submit" name="submit" class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top"data-original-title="View"  value="TEAMVIEW" ></button>
                </form></td>
                {% elif user_details.epmsfinalreport%}
                <td>
                  <form id="approve" action="/epms/appraiser_KRA_info_view" method="POST" target="_blank"> 
                  <input type="hidden" value="{{ e['_id']}}" name="prid" />
                  <input type="hidden" value="{{ e['UserId']}}" name="userid" />
                  <button type="submit" name="submit" class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top"data-original-title="View"  value="TEAMVIEW" ></button>
                  </form>
                </td>
                {%else%}
                <td>{{"Pending at Previous Levels"}}</td>
                {%endif%}
            </tr>
       {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div>                                               
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#datepicker').datepicker({
     changeMonth: true,
     changeYear: true,
     showButtonPanel: true,
     dateFormat: 'yy',

     onClose: function() {

        var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();

        var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
         $("#datepicker").val((parseInt(iYear) - 1) + "-" + iYear);
     }

   
  });
 
});

</script>
  <script type="text/javascript">
  document.getElementById('id-33').className ="nav-parent nav-active active";
      document.getElementById("p").style.display = "block";
  document.getElementById('id-33.3').className ="active";
    </script>
<script type="text/javascript">
  function validation()
  {
    var select=document.getElementById('reporttype').value;
    if(select == 0)
    {
      alert('Please select report type');
      return false;
    }
    else
    {
      return true;
    }
  }
</script>

{% endblock %}
