{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> E-PMS</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
  document.getElementById('id-35').className ="nav-parent nav-active active";
  document.getElementById("s").style.display = "block";
  document.getElementById('id-35.2').className ="active";
</script>

<script>

var interval = null;

jQuery(function(){
  interval = setInterval(callAutoSave, {{EPMSGlobalSettings['AutoSaveTime']}} );
});

function callAutoSave(){
   //alert("Timer Test");
      swal({
  title: "Auto saving the E-PMS",
  text: "Saving EPMS",
  timer: 5000,
  showConfirmButton: false
});
      
   setTimeout(function() {
    $("#saveBtn").click();
    }, 1000);
   //$("#saveBtn").click();
   //feildvalidation();
}

</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>

$(document).ready(function(){
    /*alert("Add row Ready");*/
    tableAppraisalKRA = $('#tableAppraisalKRA').DataTable( {
                "retrieve": true,
                "paging": false,
                "bFilter": false,
                "bSort": false,
                "columnDefs": [
                      { "width": "10%", "targets": 0 }  
                ]
    });
    /* FOR ADD LINE ITEM */
    var rowAppraisalKRA = 0;
    $('#addAppraisalKRABody').click( function () {
        
        rowAppraisalKRA = rowAppraisalKRA +1 ;
        // alert(rowAppraisalKRA)
        tableAppraisalKRA.row.add( [
                            '<input class="form-control model AppraisalKRAObjective" id="AppraisalKRAObjective'+rowAppraisalKRA+'" value = "" name="AppraisalKRAObjective" style="width: 100%;height: 35px;" type="text" value="" >',
                            '<input class="form-control model Weightage" id="Weightage" value = "" name="Weightage" style="width: 100%;height: 35px;" type="number" min =1 max=100 step=0.5 value="" >',
                            '<input class="form-control model" id="TargetPerUnit'+rowAppraisalKRA+'" name="TargetPerUnit" style="width: 100%;height: 35px;" type="text" value="">',
                            '<button type="button" name="deleteRowAppraisalKRA" onclick="deleteRowAppraisalKRABtn(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete" id="deleteRowAppraisalKRA" value="deleteRowAppraisalKRA" ><font size="1">✖</font></button>'
               ] ).draw();

         /*alert("Row Added");*/
        
    });

});
</script>



<script>
$(document).on("change", ".Weightage", function() {
    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum);    

    var WeightageArray = new Array();
    $(".Weightage").each(function(){       
        WeightageArray.push($(this).val());
    });
    var AppraiserAchievementArray = new Array();
    $(".AppraiserAchievement").each(function(){         
        AppraiserAchievementArray.push($(this).val());
    });
//    alert(WeightageArray);
//    alert(AppraiserAchievementArray);
    var i = 0;
    $(".CalculatedWeightage").each(function(){ 
        $(this).val("");   
       // alert(AppraiserAchievementArray[i]);
        if(WeightageArray[i]!=0 && AppraiserAchievementArray[i]>0)
        {
           $(this).val((WeightageArray[i]*AppraiserAchievementArray[i])/100);
        }
        i++;
     });

    var CalculatedWeightageArray = new Array();
    $(".CalculatedWeightage").each(function(){         
        CalculatedWeightageArray.push($(this).val());
    });

    var totalCalculatedWeightages = 0;
    $.each(CalculatedWeightageArray,function(){totalCalculatedWeightages+=parseFloat(this) || 0;});
    $('#PerformanceWeightage').val(totalCalculatedWeightages);
    $('#OverallAchievementWeightage').val(totalCalculatedWeightages);

    if(totalCalculatedWeightages >= 100)
    {
      $('#OverallRatingWeightage').val("A");
      return true;
    }
    if(totalCalculatedWeightages >= 90 && totalCalculatedWeightages <= 99)
    {
      $('#OverallRatingWeightage').val("B");
      return true;
    }
    if(totalCalculatedWeightages >= 80 && totalCalculatedWeightages <= 89)
    {
      $('#OverallRatingWeightage').val("C");
      return true;
    }
    if(totalCalculatedWeightages >= 70 && totalCalculatedWeightages <= 79)
    {
      $('#OverallRatingWeightage').val("D");
      return true;
    }
    if(totalCalculatedWeightages < 70)
    {
      $('#OverallRatingWeightage').val("E");
      return true;
    }

});
</script>

<script>
    $(document).ready(function() {
    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum);  
    

    var WeightageArray = new Array();
    $(".Weightage").each(function(){       
        WeightageArray.push($(this).val());
    });
    var AppraiserAchievementArray = new Array();
    $(".AppraiserAchievement").each(function(){         
        AppraiserAchievementArray.push($(this).val());
    });
//    alert(WeightageArray);
//    alert(AppraiserAchievementArray);
    var i = 0;
    $(".CalculatedWeightage").each(function(){ 
        $(this).val("");   
       // alert(AppraiserAchievementArray[i]);
        if(WeightageArray[i]!=0 && AppraiserAchievementArray[i]>0)
        {
           $(this).val((WeightageArray[i]*AppraiserAchievementArray[i])/100);
        }
        i++;
     });

    var CalculatedWeightageArray = new Array();
    $(".CalculatedWeightage").each(function(){         
        CalculatedWeightageArray.push($(this).val());
    });

    var totalCalculatedWeightages = 0;
    $.each(CalculatedWeightageArray,function(){totalCalculatedWeightages+=parseFloat(this) || 0;});
    $('#PerformanceWeightage').val(totalCalculatedWeightages);
    $('#OverallAchievementWeightage').val(totalCalculatedWeightages);

    if(totalCalculatedWeightages >= 100)
    {
      $('#OverallRatingWeightage').val("A");
      return true;
    }
    if(totalCalculatedWeightages >= 90 && totalCalculatedWeightages <= 99)
    {
      $('#OverallRatingWeightage').val("B");
      return true;
    }
    if(totalCalculatedWeightages >= 80 && totalCalculatedWeightages <= 89)
    {
      $('#OverallRatingWeightage').val("C");
      return true;
    }
    if(totalCalculatedWeightages >= 70 && totalCalculatedWeightages <= 79)
    {
      $('#OverallRatingWeightage').val("D");
      return true;
    }
    if(totalCalculatedWeightages < 70)
    {
      $('#OverallRatingWeightage').val("E");
      return true;
    }
});  
</script>

<script>
    $(document).ready(function() {
        <!-- swal("Fill E-PMS"); -->
        var text_max = 1000;
        $('#count_message').html(text_max + ' remaining');
        var text_length0 = $('#JobResponsibilities').val().length;
        var text_remaining0 = text_max - text_length0;
        $('#count_message').html(text_remaining0 + ' remaining');
        $('#JobResponsibilities').keyup(function() {
            var text_length = $('#JobResponsibilities').val().length;
            var text_remaining = text_max - text_length;
            $('#count_message').html(text_remaining + ' remaining');
        });
    });
</script>


<script>
    $(document).ready(function() {

    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".TrainingsAttendedTitle").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0) {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Trainings Attended section. Please correct!!');
            return false
        }
    }


    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    var showOtherTrainings = "No";
    $(".TechnicalFunctional").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle == "Other")
            showOtherTrainings = "Yes";
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0 && sortedarrayTrainingTitle[i]!= "Other") {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Training Needs - Technical section. Please correct!!');
            return false
        }
    }


    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".BehavioralAttitudinal").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle == "Other")
            showOtherTrainings = "Yes";
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0 && sortedarrayTrainingTitle[i]!= "Other") {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Training Needs - Behavioral section. Please correct!!');
            return false
        }
    }

    //alert(showOtherTrainings);
    if(showOtherTrainings == "Yes")
    {
        $("#otherTrainingNeeds").show();
        $("#otherTrainingNeedsText").show();

    }
    else
    {
        $("#otherTrainingNeeds").hide();
        $("#otherTrainingNeedsText").hide();
    }
    });
</script>

<script>
    $(document).ready(function() {
        var placeholderText = "Self Performance Appraisal ";
        var now = new Date();
        var today = new Date(now.getYear(),now.getMonth(),now.getDate());
        var yearNow = now.getYear() - 100;
        var monthNow = now.getMonth();
        var dateNow = now.getDate();
        //monthNow = 3;
        if (monthNow >= 4)
        {
            placeholderText = placeholderText + "20"+(yearNow)+ "-" + "20" + (yearNow+1);
        }
        else
        {
            placeholderText = placeholderText + "20"+(yearNow-1)+ "-" + "20" + (yearNow);
        }

        //alert(dateNow);
        $("#selfAppraiserText").text(placeholderText);
    });
</script>

<script>
    $(document).ready(function() {
     //   alert("{{EPMSData['SubmitIndicator']}}");
        var subInd = "{{EPMSData['SubmitIndicator_Appraiser']}}" ;
/*        alert("See");
        alert(subInd);
        alert("Done");*/
        if( subInd == "Yes")
        {
            $("#EPMSForm :input").prop("disabled", true);
        }
        else
        {
            var subIndTemp = "{{EPMSData['SubmitIndicator_Appraiser']}}" ;
        }
    });
</script>

<script type="text/javascript">
/* FOR DELETE LINE ITEM */
function deleteRowAppraisalKRABtn(btn) {
    // alert("Delete selected");
    tableAppraisalKRA = $('#tableAppraisalKRA').DataTable();
    var rowAppraisalKRA = btn.parentNode.parentNode.rowIndex - 2;
    // alert(rowAppraisalKRA);
    if($('#tableAppraisalKRA >#bodyAppraisalKRA >tr').length>1){
        tableAppraisalKRA.row('tr:eq('+rowAppraisalKRA +')').remove().draw( false );
    } else {
        bootbox.alert('Please don\'t delete');
    } 

    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    }
    $('#TotalWeightageSum').val(sum);  


    var WeightageArray = new Array();
    $(".Weightage").each(function(){       
        WeightageArray.push($(this).val());
    });
    var AppraiserAchievementArray = new Array();
    $(".AppraiserAchievement").each(function(){         
        AppraiserAchievementArray.push($(this).val());
    });
//    alert(WeightageArray);
//    alert(AppraiserAchievementArray);
    var i = 0;
    $(".CalculatedWeightage").each(function(){ 
        $(this).val("");   
       // alert(AppraiserAchievementArray[i]);
        if(WeightageArray[i]!=0 && AppraiserAchievementArray[i]>0)
        {
           $(this).val((WeightageArray[i]*AppraiserAchievementArray[i])/100);
        }
        i++;
     });

    var CalculatedWeightageArray = new Array();
    $(".CalculatedWeightage").each(function(){         
        CalculatedWeightageArray.push($(this).val());
    });

    var totalCalculatedWeightages = 0;
    $.each(CalculatedWeightageArray,function(){totalCalculatedWeightages+=parseFloat(this) || 0;});
    $('#PerformanceWeightage').val(totalCalculatedWeightages);
    $('#OverallAchievementWeightage').val(totalCalculatedWeightages);

    if(totalCalculatedWeightages >= 100)
    {
      $('#OverallRatingWeightage').val("A");
      return true;
    }
    if(totalCalculatedWeightages >= 90 && totalCalculatedWeightages <= 99)
    {
      $('#OverallRatingWeightage').val("B");
      return true;
    }
    if(totalCalculatedWeightages >= 80 && totalCalculatedWeightages <= 89)
    {
      $('#OverallRatingWeightage').val("C");
      return true;
    }
    if(totalCalculatedWeightages >= 70 && totalCalculatedWeightages <= 79)
    {
      $('#OverallRatingWeightage').val("D");
      return true;
    }
    if(totalCalculatedWeightages < 70)
    {
      $('#OverallRatingWeightage').val("E");
      return true;
    }


    
}

function deleteRowTrainingsAttendedBtn(btn) {
    //alert("Delete selected");
    tableTrainingsAttended = $('#tableTrainingsAttended').DataTable();
    var rowTrainingsAttended = btn.parentNode.parentNode.rowIndex - 2;
    //alert(rowTrainingsAttended);
    //alert("Delete selected - 1");
    if($('#tableTrainingsAttended >#bodyTrainingsAttended >tr').length>1){
        tableTrainingsAttended.row('tr:eq('+rowTrainingsAttended +')').remove().draw( false );
    } else {
        bootbox.alert('Please don\'t delete');
    } 
   //alert("Delete selected-2");
}

function deleteRowTrainingDevelopmentalNeedsBtn(btn) {
    //alert("Delete selected");
    tableTrainingDevelopmentalNeeds = $('#tableTrainingDevelopmentalNeeds').DataTable();
    var rowTrainingDevelopmentalNeeds = btn.parentNode.parentNode.rowIndex - 2;
    //alert(rowTrainingsAttended);
    //alert("Delete selected - 1");
    if($('#tableTrainingDevelopmentalNeeds >#bodyTrainingDevelopmentalNeeds >tr').length>1){
        tableTrainingDevelopmentalNeeds.row('tr:eq('+rowTrainingDevelopmentalNeeds +')').remove().draw( false );
    } else {
        bootbox.alert('Please don\'t delete');
    } 
   //alert("Delete selected-2");
}


function deleteRowActionPlanBtn(btn) {
    //alert("Delete selected");
    tableActionPlan = $('#tableActionPlan').DataTable();
    var rowActionPlan = btn.parentNode.parentNode.rowIndex - 3;
    //alert(rowTrainingsAttended);
    //alert("Delete selected - 1");
    if($('#tableActionPlan >#bodyActionPlan >tr').length>1){
        tableActionPlan.row('tr:eq('+rowActionPlan +')').remove().draw( false );
    } else {
        bootbox.alert('Please don\'t delete');
    } 
   //alert("Delete selected-2");
}

</script>
<script>
$(function () {
        $("input[id*='Weightage']").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }
            
            if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();

        });
    });    
</script>
<script>
    
function occurrences(string, subString, allowOverlapping) {

    string += "";
    subString += "";
    if (subString.length <= 0) return (string.length + 1);

    var n = 0,
        pos = 0,
        step = allowOverlapping ? 1 : subString.length;

    while (true) {
        pos = string.indexOf(subString, pos);
        if (pos >= 0) {
            ++n;
            pos += step;
        } else break;
    }
    return n;
}
</script>

<script>
$(document).on("change", ".AppraiserAchievement", function() {
//    alert("Changed");
    var WeightageArray = new Array();
    $(".Weightage").each(function(){       
        WeightageArray.push($(this).val());
    });
    var AppraiserAchievementArray = new Array();
    $(".AppraiserAchievement").each(function(){         
        AppraiserAchievementArray.push($(this).val());
    });
//    alert(WeightageArray);
//    alert(AppraiserAchievementArray);
    var i = 0;
    $(".CalculatedWeightage").each(function(){ 
        $(this).val("");   
       // alert(AppraiserAchievementArray[i]);
        if(WeightageArray[i]!=0 && AppraiserAchievementArray[i]>0)
        {
           $(this).val((WeightageArray[i]*AppraiserAchievementArray[i])/100);
        }
        i++;
     });

    var CalculatedWeightageArray = new Array();
    $(".CalculatedWeightage").each(function(){         
        CalculatedWeightageArray.push($(this).val());
    });

    var totalCalculatedWeightages = 0;
    $.each(CalculatedWeightageArray,function(){totalCalculatedWeightages+=parseFloat(this) || 0;});
    $('#PerformanceWeightage').val(totalCalculatedWeightages);
    $('#OverallAchievementWeightage').val(totalCalculatedWeightages);

    if(totalCalculatedWeightages >= 100)
    {
      $('#OverallRatingWeightage').val("A");
      return true;
    }
    if(totalCalculatedWeightages >= 90 && totalCalculatedWeightages <= 99)
    {
      $('#OverallRatingWeightage').val("B");
      return true;
    }
    if(totalCalculatedWeightages >= 80 && totalCalculatedWeightages <= 89)
    {
      $('#OverallRatingWeightage').val("C");
      return true;
    }
    if(totalCalculatedWeightages >= 70 && totalCalculatedWeightages <= 79)
    {
      $('#OverallRatingWeightage').val("D");
      return true;
    }
    if(totalCalculatedWeightages < 70)
    {
      $('#OverallRatingWeightage').val("E");
      return true;
    }


});
</script>

<script>
$(document).on("change", ".Competencies-AppriserRating", function() {
    //alert("Changed");
    var CompetenciesAppriserRatingArray = new Array();
    var i = 0;
    $(".Competencies-AppriserRating").each(function(){
        i++;
        CompetenciesAppriserRatingArray.push($(this).val());
    });

    var totalPerformanceWeightage = 0;
    $.each(CompetenciesAppriserRatingArray,function(){totalPerformanceWeightage+=parseFloat(this) || 0;});
    if(i==7)
    {
      $('#CompetenciesWeightage').val(totalPerformanceWeightage/i);
    }
    else
    {
      $('#CompetenciesWeightage').val("");
    }
    

});
</script>


<script>

function submitvalidation(){

    var arrayWeightage = [];
    $(".Weightage").each(function()
    {
        arrayWeightage.push($(this).val());
    });


    var tempX1 = 1;
    var i1 = 0;
    $(".AppraisalKRAObjective").each(function()
    {
        
        if($(this).val() == "" && arrayWeightage[i1] != "")
        {
            tempX1 = 0;
        }
        i1 = i1 + 1;
    });
    if (tempX1 == 0)
    {
        bootbox.alert('Please fill all Objectives/KRAs under Appraisal and KRA Data section');
        return false;
    }

    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    } 
    if(sum<100)
    {
        bootbox.alert('Sum of all the weightage of all objectives must be equal to 100');
        return false;
    } 

    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".TrainingsAttendedTitle").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0) {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Trainings Attended section. Please correct!!');
            return false
        }
    }


    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".TechnicalFunctional").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0 &&sortedarrayTrainingTitle[i]!= "Other") {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Training Needs - Technical section. Please correct!!');
            return false
        }
    }


    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".BehavioralAttitudinal").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0 &&sortedarrayTrainingTitle[i]!= "Other") {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Training Needs - Behavioral section. Please correct!!');
            return false
        }
    }

    if ( $('#Final-AppraiserComments').val() == "" )
    {
        bootbox.alert('Please enter Appraiser Comments under Comments in Weighted Score & Overall Rating section');
        return false

    }

    return confirm("Are you sure you want to submit? Once submitted, the form cannot be edited");

}

function feildvalidation(){
    

    var arrayWeightage = [];
    $(".Weightage").each(function()
    {
        arrayWeightage.push($(this).val());
    });


    var tempX1 = 1;
    var i1 = 0;
    $(".AppraisalKRAObjective").each(function()
    {
        
        if($(this).val() == "" && arrayWeightage[i1] != "")
        {
            tempX1 = 0;
        }
        i1 = i1 + 1;
    });
    if (tempX1 == 0)
    {
        bootbox.alert('Please fill all Objectives/KRAs under Appraisal and KRA Data section');
        return false;
    }




    var sum = 0;
    $(".Weightage").each(function(){
        if($(this).val() > 100)
        {
            bootbox.alert('Weightage cannot be more than 100% for any KRA');
            return false;
        }
        sum += +$(this).val();
    });
    //alert(sum);
    if(sum>100)
    {
        bootbox.alert('Sum of all the weightage of all objectives cannot be more than 100');
        return false;
    } 

    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".TrainingsAttendedTitle").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0) {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Trainings Attended section. Please correct!!');
            return false
        }
    }


    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".TechnicalFunctional").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0 &&sortedarrayTrainingTitle[i]!= "Other") {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Training Needs - Technical section. Please correct!!');
            return false
        }
    }


    var arrayTrainingTitle = [];
    var tempTrainingTitle = "";
    $(".BehavioralAttitudinal").each(function(){
        tempTrainingTitle = $(this).val()
        if(tempTrainingTitle != null)
            arrayTrainingTitle.push(tempTrainingTitle);
    });

    var sortedarrayTrainingTitle = arrayTrainingTitle.sort(); 

    for (var i = 0; i < sortedarrayTrainingTitle.length - 1; i++) {
        if (sortedarrayTrainingTitle[i + 1] == sortedarrayTrainingTitle[i] && sortedarrayTrainingTitle[i].length > 0 &&sortedarrayTrainingTitle[i]!= "Other") {
            //alert(sortedarrayTrainingTitle[i]);
            bootbox.alert(sortedarrayTrainingTitle[i]+' Training selected more than once under Training Needs - Behavioral section. Please correct!!');
            return false
        }
    }
    
    return true;
}
</script>

<script>
    $(document).ready(function() {
        $( "#employeeInformation" ).trigger( "click" );
    });
</script>

<script>
    $(document).ready(function() {
        $('#btnNext').click(function() {
            $('.nav-pills > .active').next('li').find('a').trigger('click');
        });
    });
</script>
<script>
function getAge(dateString) {
  
  var tempDateString = dateString.substring(3,5)+"/"+dateString.substring(0,2)+"/"+dateString.substring(6,10);
/*  alert(dateString);
  alert(tempDateString);*/
  dateString = tempDateString;
  var now = new Date();
  var today = new Date(now.getYear(),now.getMonth(),now.getDate());

  var yearNow = now.getYear();
  var monthNow = now.getMonth();
  monthNow = 2;
  var dateNow = now.getDate();
  dateNow = 31;

  var dob = new Date(dateString.substring(6,10),
                     dateString.substring(0,2)-1,                   
                     dateString.substring(3,5)                  
                     );

  var yearDob = dob.getYear();
  var monthDob = dob.getMonth();
  var dateDob = dob.getDate();
  var age = {};
  var ageString = "";
  var yearString = "";
  var monthString = "";
  var dayString = "";


  yearAge = yearNow - yearDob;

  if (monthNow >= monthDob)
    var monthAge = monthNow - monthDob;
  else {
    yearAge--;
    var monthAge = 12 + monthNow -monthDob;
  }

  if (dateNow >= dateDob)
    var dateAge = dateNow - dateDob;
  else {
    monthAge--;
    var dateAge = 31 + dateNow - dateDob;

    if (monthAge < 0) {
      monthAge = 11;
      yearAge--;
    }
  }

  age = {
      years: yearAge,
      months: monthAge,
      days: dateAge
      };

  if ( age.years > 1 ) yearString = " years";
  else yearString = " year";
  if ( age.months> 1 ) monthString = " months";
  else monthString = " month";
  if ( age.days > 1 ) dayString = " days";
  else dayString = " day";


/*  if ( (age.years > 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.years + yearString + ", " + age.months + monthString + ", and " + age.days + dayString + "";
  else if ( (age.years == 0) && (age.months == 0) && (age.days > 0) )
    ageString = "Only " + age.days + dayString + "";
  else if ( (age.years > 0) && (age.months == 0) && (age.days == 0) )
    ageString = age.years + yearString + "";
  else if ( (age.years > 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.years + yearString + " and " + age.months + monthString + "";
  else if ( (age.years == 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.months + monthString + " and " + age.days + dayString + "";
  else if ( (age.years > 0) && (age.months == 0) && (age.days > 0) )
    ageString = age.years + yearString + " and " + age.days + dayString + "";
  else if ( (age.years == 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.months + monthString + "";
  else ageString = "Oops! Something went wrong";*/


  if ( (age.years > 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.years + yearString + ", " + age.months + monthString+ "";
  else if ( (age.years == 0) && (age.months == 0) && (age.days > 0) )
    ageString = "Only " + age.days + dayString + "";
  else if ( (age.years > 0) && (age.months == 0) && (age.days == 0) )
    ageString = age.years + yearString + "";
  else if ( (age.years > 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.years + yearString + " and " + age.months + monthString + "";
  else if ( (age.years == 0) && (age.months > 0) && (age.days > 0) )
    ageString = age.months + monthString +"";
  else if ( (age.years > 0) && (age.months == 0) && (age.days > 0) )
    ageString = age.years + yearString;
  else if ( (age.years == 0) && (age.months > 0) && (age.days == 0) )
    ageString = age.months + monthString + "";
  else ageString = "Oops! Something went wrong";

  return ageString;
}

</script>

<script>
    $(document).ready(function() {
        $('#ExperienceAtPenna').text(getAge('{{ user_details1.doj }}'));
       // $('#ExperienceAtPenna').text(getAge('04/23/2013'));
    });
</script>

<style>
    #overallRatingValue { 
    text-align: center; 
    text-transform:uppercase
    }
    ul
    {
    list-style-type:none;
    }
    textarea {
    resize: none;
    }
    .input-disabled{background-color:#EBEBE4;}
    th {
        text-align: center
    }
    
    #count_message th {
        color: black;
    }
    
    #count_message {
        font-size: 10px;
    }
    td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    }
    .form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
</style>

<!-- <div class="containerx"><h2> Submit E-PMS </h2></div> -->
<form action="" method="POST" id="EPMSForm" onsubmit="return validateForm()">
<div class="tab-content">

    <div class="tab-pane active" id="home3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a id = "employeeInformation" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Employee Information & Job Description</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-condensed table-responsive">
                           <thead>
                                <tr>
                                    <td>
                                        Employee Id
                                    </td>
                                    <td>
                                        {{ user_details1.username }}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Employee Name
                                    </td>
                                    <td>
                                        {{ user_details1.f_name }} &nbsp {{ user_details1.l_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Designation
                                    </td>
                                    <td>
                                        {{ user_details1.designation }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Qualification
                                    </td>
                                    <td>
                                       {{ user_details1.Qualification1 }} {% if user_details1.Qualification2 != "" %}/{{ user_details1.Qualification2 }} {% endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Department
                                    </td>
                                    <td>
                                        {{ user_details1.department_name }}
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>
                                        Date of Joining
                                    </td>
                                    <td>
                                        {{ user_details1.doj }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Experience in Penna
                                    </td>
                                    <td>
                                        <font id="ExperienceAtPenna"></font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Date Of Birth
                                    </td>
                                    <td>
                                        {{ user_details1.dob}}
                                    </td>
                                </tr>  
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        {{ user_details1.location}}
                                    </td>
                                </tr>                              
                                <tr>
                                    <td>
                                        Last Increment Date
                                    </td>
                                    <td>
                                        01-04-2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Appraiser Name
                                    </td>
                                    <td>
                                       {{EPMSData['approval_levels'][0]['a_name']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Appraiser Designation
                                    </td>
                                    <td>
                                        {{EPMSData['approval_levels'][0]['a_designation']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Reviewer Name
                                    </td>
                                    <td>
                                        {{EPMSData['approval_levels'][1]['a_name']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Reviewer Designation
                                    </td>
                                    <td>
                                        {{EPMSData['approval_levels'][1]['a_designation']}}
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        <h3>Job Responsibilities :</h3>
                       
                        <div class="col-lg-50 well">
                            <textarea class="form-control " id="JobResponsibilities" name="JobResponsibilities" placeholder="Type in your message"  rows="5">{{EPMSData['JobResponsibilities']}}</textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>
                        <br>

                    </div>
                </div>
            </div>


        <div class="panel-group" id="accordion">



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">Key Result Area </a>
                      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        <table id="tableAppraisalKRA" border="1" class="display table table-bordered table-striped" >
                         <thead>
                            <tr>
                                <th colspan="9" align="center" align="center" id = "selfAppraiserText1" >KRA {{EPMSData['Finance_year']}}</th>
                            </tr>
                            <tr>
                                <th style="width:100px;height: 35px;" >Objectives/KRAs</th>
                                <th style="width: 50px;height: 35px;" >Weightage<br>(Of Each KRA)</th>
                                <th style="width: 100px;height: 35px;" >Target/UOM</th>
                               <!--  <th colspan="2">Achievement/Actual %</font></th>
                                <th colspan="2" >Comments</th>
                                <th style="width: 30px;height: 35px;" >Weighted Score</th> -->
                                <th style="width: 30px;height: 35px;" >&nbsp</th>
                            </tr>
                            <!-- <tr>
                                <th>&nbsp</th>
                                <th>&nbsp</th>
                                <th>&nbsp</th>
                                <th style="width: 50px;height: 35px;" >Appraisee</th>
                                <th style="width: 50px;height: 35px;" >Appraiser</th>
                                <th style="width: 100px;height: 35px;" >Appraisee</th>
                                <th style="width: 100px;height: 35px;" >Appraiser</th>
                                <th style="width: 30px;height: 35px;" >&nbsp</th>
                                <th style="width: 30px;height: 35px;" >&nbsp</th>
                            </tr> -->
                        </thead>
                        <tbody id="bodyAppraisalKRA">
                           {% for e in EPMSData['AppraisalAndKRA'] %}
                            <tr>
                                <td>
                                    <input  data-toggle="tooltip" float="left" data-html="true" 
                                        title="{{ e['AppraisalKRAObjective'] }}"
                                        class="form-control model AppraisalKRAObjective" id="insoluble" name="AppraisalKRAObjective" style="width: 100%;height: 35px;" type="text" value="{{ e['AppraisalKRAObjective'] }}" >
                                </td>
                                <td>
                                    <input class="form-control model Weightage" id="Weightage" name="Weightage" style="width: 100%;height: 35px;" type="number" min =1 max=100 step=0.5 value="{{ e['Weightage'] }}" >
                                </td>
                                <td>
                                    <input  data-toggle="tooltip" float="left" data-html="true" 
                                        title="{{ e['TargetPerUnit'] }}" class="form-control model" id="insoluble" name="TargetPerUnit" style="width: 100%;height: 35px;" type="text" value="{{ e['TargetPerUnit'] }}">
                                </td>
                               <!--  <td>
                                    <input readonly data-toggle="tooltip" float="left" data-html="true" 
                                        title="{{ e['AppraiseeAchievement'] }}" class="form-control model input-disabled" id="insoluble" name="AppraiseeAchievement" style="width: 100%;
                                    height: 35px;" type="text" value="{{ e['AppraiseeAchievement'] }}" >
                                </td>
                                <td>
                                    <input class="form-control model AppraiserAchievement" id="insoluble" name="AppraiserAchievement" style="width: 100%;
                                    height: 35px;" type="number" min =1 max=10000 step=0.5 value="{{ e['AppraiserAchievement'] }}" >
                                </td>
                                <td>
                                    <TEXTAREA readonly data-toggle="tooltip" float="left" data-html="true" 
                                        title="{{ e['KRACommentsAppraisee'] }}" style="width: 100%;" class="form-control model input-disabled" NAME="KRACommentsAppraisee" COLS=20 ROWS=1>{{ e['KRACommentsAppraisee'] }}</TEXTAREA>
                                </td>
                                <td>
                                    <TEXTAREA style="width: 100%;" class="form-control model" NAME="KRACommentsAppraiser" COLS=20 ROWS=1>{{ e['KRACommentsAppraiser'] }}</TEXTAREA>
                                </td>
                                <td>
                                    <input readonly class="form-control model input-disabled CalculatedWeightage" id="insoluble" name="CalculatedWeightage" style="width
                                    : 100%;height: 35px;" type="number" min =1 max=10000 step=0.5 value="{{ e['CalculatedWeightage'] }}" >
                                </td>        -->                     
                                <td>
                                        <button disabled type="button" name="deleteRowAppraisalKRA" onclick="deleteRowAppraisalKRABtn(this)" class="btn btn-danger  btn-xs tooltips delete input-disabled" data-toggle="tooltip" data-placement="top" data-original-title="Delete" id="deleteRowAppraisalKRA" value="deleteRowAppraisalKRA" ><font size="1">✖</font></button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% set minrows = 3 - EPMSData['AppraisalAndKRA']|length %}
                            {% for row in range(1,minrows+1) %}
                                <tr>
                                        <td>
                                            <input  class="form-control model input-disabled AppraisalKRAObjective" id="insoluble" name="AppraisalKRAObjective" style="width: 100%;height: 35px;" type="text" value="" >
                                        </td>
                                        <td>
                                            <input class="form-control model input-disabled Weightage" id="Weightage" name="Weightage" style="width: 100%;height: 35px;" type="number" min =1 max=100 step=0.5 value="" >
                                        </td>
                                        <td>
                                            <input  class="form-control model input-disabled" id="insoluble" name="TargetPerUnit" style="width: 100%;height: 35px;" type="text" value="">
                                        </td>
                                      <!--   <td>
                                            <input readonly class="form-control model input-disabled" id="insoluble" name="AppraiseeAchievement" style="width: 100%;
                                            height: 35px;" type="text" value="" >
                                        </td>
                                        <td>
                                             <input readonly class="form-control model input-disabled AppraiserAchievement" id="insoluble" name="AppraiserAchievement" style="width: 100%;height: 35px;" type="number" min =1 max=10000 step=0.5 value="" >
                                        </td>                                        
                                        <td>
                                            <TEXTAREA readonly style="width: 100%;" class="form-control model input-disabled" NAME="KRACommentsAppraisee" COLS=20 ROWS=1></TEXTAREA>
                                        </td>
                                        <td>
                                            <TEXTAREA readonly style="width: 100%;" class="form-control model input-disabled" NAME="KRACommentsAppraiser" COLS=20 ROWS=1></TEXTAREA>
                                        </td>
                                        <td>
                                            <input readonly class="form-control model input-disabled CalculatedWeightage" id="insoluble" name="CalculatedWeightage" style="width
                                            : 100%;height: 35px;" type="number" min =1 max=10000 step=0.5 value="" >
                                        </td>      -->                                    
                                        <td>
                                                <button disabled type="button" name="deleteRowAppraisalKRA" onclick="deleteRowAppraisalKRABtn(this)" class="btn btn-danger  btn-xs tooltips delete input-disabled" data-toggle="tooltip" data-placement="top" data-original-title="Delete" id="deleteRowAppraisalKRA" value="deleteRowAppraisalKRA" ><font size="1">✖</font></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                          </tbody>
                         </table>                                                         
                            <div class="">            
                                    <div class="form-group">
                                        <input id="addAppraisalKRABody" type="button"   value="Add Row" class="btn btn-success btn-xs">
                                         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        Total Weightage &nbsp&nbsp&nbsp
                                        <input readonly class="form-controlx model input-disabled" id="TotalWeightageSum" name="TotalWeightageSum" style="width: 70px;height: 35px;" value="" >
                                    </div>  
                             </div> 
                    </div>
                </div>
            </div>

            <br>
            <div class="col-sm-12">
            <div class="col-sm-12 col-md-3 "></div>
            <div class="col-sm-12 col-md-3 ">
                <div class="form-group">
                    <input type="hidden" value="{{ EPMSData['_id'] }}" name="prid" />
                    <input type="hidden" value="{{ EPMSData['UserId'] }}" name="userid" />
                    <input {% if EPMSData['SubmitIndicator_Appraiser'] == "Yes" %} disabled {% endif %} id="saveBtn" type="submit" name="submit"  onclick="return feildvalidation()"  value="Save" class="btn btn-primary btn-block">
                </div>
            </div>
            
            <div class="col-sm-12 col-md-3 ">
                <div class="form-group">
                    <input type="hidden" value="{{ EPMSData['_id'] }}" name="prid" />
                    <input type="hidden" value="{{ EPMSData['UserId'] }}" name="userid" />
                    <input {% if EPMSData['SubmitIndicator_Appraiser'] == "Yes" %} disabled {% endif %} id="submit" type="submit"  name="submit" onclick="return submitvalidation()"  value="Submit" class="btn btn-primary btn-block">
                </div>
            </div>
            </div>
            <br>
            <br>
        </div>
    </form>

        {% endblock %} 

        {% block scripts %}

        {% endblock %}