{% extends "base.html" %}
{% block links %}


<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
     <h2><i class="fa fa-thumbs-up"></i> E-PMS</h2>
   
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">E-PMS Appraiser View</h4>
           </div><!-- panel-heading -->
     
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
          
           
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>Employee Name</th>
                <th>Saved On</th>
                 <th>Submited Satus</th>
                 <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
    {% for e in list %}
    
            <tr>

                <td>{{e['UserId']}}</td>  
                <td>{{e['fullname']}}</td>
                <td>{{e['SavedOn']}}</td>
                <td>{{e['SubmitIndicator']}}</td>
                {% if e['approval_levels']['a_status'] == 'current' or e['approval_levels']['a_status']=="approved"%}
                <td style="padding-left: 40px;">
                <form id="approve" action="/epms/appraiser_KRA_info_view" method="POST" > 
                <input type="hidden" value="{{ e['_id']}}" name="prid" />
                <input type="hidden" value="{{ e['UserId']}}" name="userid" />
                 <button type="submit" name="submit"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top"data-original-title="View"  value="VIEW"  ></button>
                </form></td>
                
                {%else%}
                <td>{{"Pending at Previous Levels"}}</td>
                {%endif%}
            </tr>
       {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>


<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        
        
    } );
} );
</script>

  <script type="text/javascript">
  document.getElementById('id-35').className ="nav-parent nav-active active";
      document.getElementById("s").style.display = "block";
document.getElementById('id-35.2').className ="active";
    </script>

{% endblock %}
