{% extends "base.html" %}
{% block pageheader %}  
    <div class="pageheader">
      <h2><i class="fa fa-list-alt"></i> Form 16</h2>
    <!--   <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Form 16</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

<!-- function to display last three financal year in year selection box -->
<script>
$( document ).ready(function() {

 var obj=document.getElementById("yr");
var d = new Date();
var n=  d.getFullYear();


var mo = d.getMonth();
if(mo<3)
{
n=n-1;
}

/*document.getElementById("gov").addEventListener("click", function() {
  window.open("/static/forms/Form16/government/"+n+"/{{ user_details.pancard }}.pdf");
}, false);
document.getElementById("comp").addEventListener("click", function() {
  window.open("/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");
}, false);

document.getElementById("contentarea").setAttribute('data', "/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");

document.getElementById("down").setAttribute('onclick',"window.open('/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf','_blank')");

document.getElementById("down").innerHTML = "Download "+n+" Company form 16" ;
*/

if(n==2014)
{
  $("#yr").find("option").remove();
opt = document.createElement("option");
  opt.value = 2014;
  opt.text='2014';
obj.appendChild(opt);
}
else if(n<=2016)
{
$("#yr").find("option").remove();

for (var i=n; i>=2014; i--)
{

 opt = document.createElement("option");
  opt.value =i;
  opt.text=i;
obj.appendChild(opt);
}


}
else
{
$("#yr").find("option").remove();

for (var i=n; i>=n-2; i--)
{
 opt = document.createElement("option");
  opt.value =i;
  opt.text=i;
obj.appendChild(opt);
}


}


});
</script>
<!-- function to display preview  selected year form 16 -->
<script type="text/javascript">
  
function a()
{
document.getElementById("last").style.display="block";
yr= document.getElementById("yr").value;
type=$("input[name=optionsRadios]:checked").val();

document.getElementById("contentarea").contentDocument.location.reload(true);
if(type == 'company')
{
  if(yr == 2016 || yr == 2015)
  {
    document.getElementById("contentarea").setAttribute('src', "/static/ViewerJS/index.html#../forms/Form16/"+type+"/"+yr+"/{{ user_details.pancard }}.pdf");
  }
  else{
    
  document.getElementById("contentarea").setAttribute('src', "/static/ViewerJS/index.html#../forms/Form16/"+type+"/"+yr+"/000{{uid}}_{{ user_details.pancard }}.pdf");
  }
}
else
{
document.getElementById("contentarea").setAttribute('src', "/static/ViewerJS/index.html#../forms/Form16/"+type+"/"+yr+"/{{ user_details.pancard }}.pdf");
}


}

/*<!-- function to download previewed  selected year form 16 -->
*/
function b()
{
yr= document.getElementById("yr").value;
type=$("input[name=optionsRadios]:checked").val();
if(type == 'company')
{
    if(yr == 2016 || yr == 2015)
  {
     window.open("/static/forms/Form16/"+type+"/"+yr+"/{{ user_details.pancard }}.pdf",'_blank');
  }
  else{
     window.open("/static/forms/Form16/"+type+"/"+yr+"/000{{uid}}_{{ user_details.pancard }}.pdf",'_blank');
  }

}
else{
  window.open("/static/forms/Form16/"+type+"/"+yr+"/{{ user_details.pancard }}.pdf",'_blank');

}

}



</script>
      
  
      <div class="panel panel-default">
        <div class="panel-heading">
         
          <h4 class="panel-title">Form 16 </h4>
           </div><!-- panel-heading -->

        <div class="panel-body">
   <div class="row">           
<div class="col-xs-12 col-md-4 col-md-offset-4 ">
<!-- 
<div class="row">
<div class="col-xs-12 .col-sm-12">
<button id="gov" type="button" class="btn btn-primary btn-xs  "  target="_blank" > Download Government Form 16</button>
</div>
    
</div>
<br>
<div class="row">
<div class="col-xs-12 .col-sm-12">
<button id="comp" type="button" class="btn btn-primary btn-xs"  target="_blank" >Download Company Form 16</button>
</div>
</div>
<hr> -->

<div class="row">

 
 
<div class="col-xs-6 .col-sm-6">

   <h6><b>Choose Type</b></h6> 

<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="opt" value="government" checked>
  Government
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="opt" value="company">
   Company
  </label>
</div>


</div>

   <h6><b>Choose Year</b></h6> 
<div class="col-xs-6 .col-sm-6">

<select class="form-control input-sm1 input-sm " id="yr">

</select>    

</div>



</div>
<div class="row">
<div class="col-xs-6 .col-sm-6  ">


<button type="button" id ="down" class="btn btn-primary btn-xs glyphicon glyphicon-download-alt" onclick="b()"> Download</button>

   
</div>

<div class="col-xs-6 .col-sm-6  ">


 <button type="button"  class="btn btn-info btn-xs glyphicon glyphicon-eye-open" onclick="a()"> Preview</button>   

   
</div>


</div>
<Br><Br><Br>

</div>

<div class="row" id="last" style="display:none;">

<iframe  id="contentarea" src = "" width='100%' height='600' allowfullscreen webkitallowfullscreen></iframe>



</div>



        </div><!-- panel-body -->
      </div><!-- panel -->
      

      

{% endblock %}    
{% block scripts %}
<script src="js/charts.js"></script>
  <script type="text/javascript">
  document.getElementById('id-15').className ="nav-parent nav-active active";
      document.getElementById("e").style.display = "block";
document.getElementById('id-15.2').className ="active";
    </script>
{% endblock %} 
