{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i>Fortnight Report</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}

<link rel="stylesheet" href="/static/css/sweetalert2.min.css">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<script>
    
    function validateForm()
    {
        return true;
    }
</script>

<style>
    .big {
        font-size: 22px;
    }

    .small {
        font-size: 14px;
    }
    #CompetenciesInfo
    {
    text-align: center; 
    }
    #overallRatingValue { 
    text-align: center; 
    text-transform:uppercase
    }
    ul
    {
    list-style-type:none;
    }
    textarea {
    resize: none;
    }
    .input-disabled{background-color:#EBEBE4;}
    th {
        text-align: center
    }
    
    #count_message th {
        color: black;
    }
    
    #count_message {
        font-size: 10px;
    }
    td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    }
    .form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
.panel-title1{
     font-family: "Georgia";
     font-size:14px;
    border-collapse: collapse;
    width: 100%;

   /* font-style: italic;*/
    margin-top: 4px;
}
</style>

<!-- <div class="containerx"><h2> Submit E-PMS </h2></div> -->
<form action="" method="POST" id="EPMSForm" onsubmit="return validateForm()">
<div class="panel-body">

 <div class="col-md-12 ">
 
 <div class="col-md-12 ">
            <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="start_date">Plant</label>
                          <select id="selct" class="form-control selct" name="plant_desc" style="width:60%" required>
                                    <option value="">Select Plant</option>
                                    {%if user_details.plant_id == 'TC'%}
                                        <option value="TALARICHERUVU">TALARICHERUVU</option>
                                    {%elif user_details.plant_id == 'GC'%}
                                        <option value="GANESHPAHAD CEMENT">GANESHPAHAD CEMENT</option>
                                    {%elif user_details.plant_id == 'BP'%}
                                        <option value="BOYAREDDYPALLI">BOYAREDDYPALLI</option>
                                    {%elif user_details.plant_id == 'TA'%}
                                        <option value="TANDUR">TANDUR</option>
                                    {%elif user_details.plant_id == 'HY'%}
                                        <option value="CORPORATE OFFICE">CORPORATE OFFICE</option>
                                    {%endif%}
                          </select>        
                      </div>
                    
                     </div>
        
        <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
        <div class="col-xs-12 col-md-4">
           <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          </div> 
</div>
  
 </div>
 
 </div>
<div class="tab-content">
    <div class="tab-pane active" id="home3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <a id = "employeeInformation" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-hand-o-right"></i>&nbsp;Inter Department Relations / Employee - Employee Relations </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">
                      
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-hand-o-right"></i>&nbsp; Superior – Subordinate Relations Department wise</a>
                      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                       
                              <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q2" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree"><i class="fa fa-hand-o-right"></i>&nbsp; Connivance between PCIL employees & Contractors / Contract Workmen on mala fide practices</a>
                      </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                           <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q3" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>
                          
                        </div>             
                </div>
            </div>
             <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour"><i class="fa fa-hand-o-right"></i>&nbsp; Untoward incidents if any, during the Fortnight </a>
                      </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                         <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q4" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive"><i class="fa fa-hand-o-right"></i>&nbsp;Functions & Celebrations (Including School)</a>
                      </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q5" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix"><i class="fa fa-hand-o-right"></i>&nbsp;CSR Activities including Camps if any</a>
                      </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q6" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse7"><i class="fa fa-hand-o-right"></i>&nbsp;Vicinity villages, opinion makers, attitude and opinion towards PCIL</a>
                      </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q7" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse8"><i class="fa fa-hand-o-right"></i>&nbsp;Visits & Inspections by Statutory Authorities (Department wise)</a>
                      </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q8" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse9"><i class="fa fa-hand-o-right"></i>&nbsp;Safety Issues / Incidents</a>
                      </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q9" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse10"><i class="fa fa-hand-o-right"></i>&nbsp;Security Reports and Incidents</a>
                      </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q10" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse11"><i class="fa fa-hand-o-right"></i>&nbsp;Vigilance Report, If any</a>
                      </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                       <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q11" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
             <br>
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse12"><i class="fa fa-hand-o-right"></i>&nbsp;Miscellaneous</a>
                      </h4>
                </div>
                <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                        
                      <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q12" placeholder="Type in your message"  rows="5"></textarea>
                            <h6 class="pull-right" id="count_message"></h6>
                        </div>

                        
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-12">
            <div class="col-sm-12 col-md-3 "></div>
            <div class="col-sm-12 col-md-3 ">
                <div class="form-group">
                   
                    <input id="saveBtn" type="submit" name="submit"  onclick="return feildvalidation()"  value="Save" class="btn btn-primary btn-block">
                </div>
            </div>
            
            <div class="col-sm-12 col-md-3 ">
                <div class="form-group">
                   
                    <input id="submit" type="submit"  name="submit" onclick="return submitvalidation()"  value="Submit" class="btn btn-primary btn-block">
                </div>
            </div>
            </div>
            <br>
            <br>
        </div>
    </form>
        {% endblock %} 

{% block scripts %}
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
  document.getElementById('id-37').className ="nav-parent nav-active active";
  document.getElementById("u").style.display = "block";
  document.getElementById('id-37.1').className ="active";
</script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
  $( "#start_date,#end_date").datepicker({ 
    dateFormat: "dd/mm/yy",
    firstDay: 1,
    showButtonPanel: false,
     stepMonths: 1
  });
});

</script>
{% endblock %}