{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i>Fortnight Report</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}

<link rel="stylesheet" href="/static/css/sweetalert2.min.css">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<script>
    
    function validateForm()
    {
        return true;
    }
</script>

<style>
    .big {
        font-size: 22px;
    }

    .small {
        font-size: 14px;
    }
    #CompetenciesInfo
    {
    text-align: center; 
    }
    #overallRatingValue { 
    text-align: center; 
    text-transform:uppercase
    }
    ul
    {
    list-style-type:none;
    }
    textarea {
    resize: none;
    }
    .input-disabled{background-color:#EBEBE4;}
    th {
        text-align: center
    }
    
    #count_message th {
        color: black;
    }
    
    #count_message {
        font-size: 10px;
    }
    td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    }
    .form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
.panel-title1{
     font-family: "Georgia";
     font-size:14px;
    border-collapse: collapse;
    width: 100%;

   /* font-style: italic;*/
    margin-top: 4px;
}
</style>

<!-- <div class="containerx"><h2> Submit E-PMS </h2></div> -->
<form action="" method="POST" id="EPMSForm" onsubmit="return validateForm()">
<div class="panel-body">

 <div class="col-md-12 ">
 
 <div class="col-md-12 ">
           
        
        <div class="col-xs-12 col-md-4">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="form-group" style="padding-left: 100%">
                    <label for="start_date">Password</label>
                      <input id="pass" type="Password" name="pass" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
       
 <br>
  <br>
         
            <div class="form-group" style="padding-left: 34%; width: 50%">
                    <input id="saveBtn" type="submit" name="submit"  onclick="return feildvalidation()"  value="Submit" class="btn btn-primary btn-block">
                </div>
          
</div>
  
 </div>
 
 </div>

    </form>
        {% endblock %} 

{% block scripts %}
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
  document.getElementById('id-37').className ="nav-parent nav-active active";
  document.getElementById("u").style.display = "block";
  document.getElementById('id-37.2').className ="active";
</script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
  $( "#start_date,#end_date").datepicker({ 
    dateFormat: "dd/mm/yy",
    firstDay: 1,
    showButtonPanel: false,
     stepMonths: 1
  });
});

</script>
{% endblock %}