{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i>Fortnight Report</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}

<link rel="stylesheet" href="/static/css/sweetalert2.min.css">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<script>
    
    function validateForm()
    {
        return true;
    }
</script>

<style>
    .big {
        font-size: 22px;
    }

    .small {
        font-size: 14px;
    }
    #CompetenciesInfo
    {
    text-align: center; 
    }
    #overallRatingValue { 
    text-align: center; 
    text-transform:uppercase
    }
    ul
    {
    list-style-type:none;
    }
    textarea {
    resize: none;
    }
    .input-disabled{background-color:#EBEBE4;}
    th {
        text-align: center
    }
    
    #count_message th {
        color: black;
    }
    
    #count_message {
        font-size: 10px;
    }
    td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    }
    .form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
.panel-title1{
     font-family: "Georgia";
     font-size:14px;
    border-collapse: collapse;
    width: 100%;

   /* font-style: italic;*/
    margin-top: 4px;
}
</style>

<!-- <div class="containerx"><h2> Submit E-PMS </h2></div> -->
<form action="/epms/fortnight_view/" method="POST" id="EPMSForm" onsubmit="return validateForm()">
<div class="panel-body">

 <div class="col-md-12 ">
 
 <div class="col-md-12 ">
            <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="start_date">Plant</label>
                          <select id="selct" class="form-control selct" name="plant_desc" style="width:60%" required>
                                    <option value="">Select Plant</option>
                                    <option value="TALARICHERUVU">TALARICHERUVU</option>
                                    <option value="GANESHPAHAD">GANESHPAHAD </option>
                                    <option value="BOYAREDDYPALLI">BOYAREDDYPALLI</option>
                                    <option value="TANDUR">TANDUR</option>
                                    <option value="GANESHPAHAD POWER">GANESHPAHAD POWER</option>
                                    <option value="All">All Plants</option>
                          </select>        
                      </div>
                    
                     </div>
        
        <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
        <div class="col-xs-12 col-md-4">
           <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          </div> 
</div>
  
 </div>
 
 </div>
          <div class="col-sm-12 col-md-2 col-sm-offset-4">
                <div class="form-group">
                   
                    <input id="submit" type="submit"  name="submit" onclick="return submitvalidation()"  value="Submit" class="btn btn-primary btn-block">
                </div>
            </div>
           
    </form>
<br>
<br>
<br>

<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title"></h4>
           </div><!-- panel-heading -->
     
        <div class="panel-body">
     <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
          
           
<div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Plant Name</th>
                <th>Form Date</th>
                <th>To Date</th>
                 <!-- <th>Submited Satus</th>-->
                 <th>Action</th> 
            </tr>
        </thead>
 
        <tbody>
    {% for e in list %}
    
            <tr>

                <td style="text-align: center;">{{e['plant_desc']}}</td>  
                <td style="text-align: center;">{{e['from_date'].strftime('%d-%m-%Y')}}</td>
                <td style="text-align: center;">{{e['to_date'].strftime('%d-%m-%Y')}}</td>
                <form action="/epms/fortnight_final_view/" method="POST" id="EPMSForm">
                <input type="hidden" value="{{ e['_id']}}" name="prid" />
                <td style="text-align: center;"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View"   ><font size="1"><i class="fa fa-eye"></i></font></button></td>
                </form>
            </tr>
       {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
</div>
</div>
        {% endblock %} 

{% block scripts %}
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
  document.getElementById('id-37').className ="nav-parent nav-active active";
  document.getElementById("u").style.display = "block";
  document.getElementById('id-37.1').className ="active";
</script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
  $( "#start_date,#end_date").datepicker({ 
    dateFormat: "dd/mm/yy",
    firstDay: 1,
    showButtonPanel: false,
     stepMonths: 1
  });
});

</script>
{% endblock %}