{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i>Fortnight Report</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}

<link rel="stylesheet" href="/static/css/sweetalert2.min.css">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<script>
    
    function validateForm()
    {
        return true;
    }
</script>

<style>
    .big {
        font-size: 22px;
    }

    .small {
        font-size: 14px;
    }
    #CompetenciesInfo
    {
    text-align: center; 
    }
    #overallRatingValue { 
    text-align: center; 
    text-transform:uppercase
    }
    ul
    {
    list-style-type:none;
    }
    textarea {
    resize: none;
    }
    .input-disabled{background-color:#EBEBE4;}
    th {
        text-align: center
    }
    
    #count_message th {
        color: black;
    }
    
    #count_message {
        font-size: 10px;
    }
    td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    }
    .form-controlx{
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color:#EBEBE4;
}
.panel-title1{
     font-family: "Georgia";
     font-size:14px;
    border-collapse: collapse;
    width: 100%;

   /* font-style: italic;*/
    margin-top: 4px;
}
</style>

<!-- <div class="containerx"><h2> Submit E-PMS </h2></div> -->
<div id="printableArea">
<form action="" method="POST" id="EPMSForm" onsubmit="return validateForm()">

<div class="tab-content">
<h4>Plant : {{list['plant_desc']}}</h4>
<br>
    <div class="tab-pane active" id="home3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                   <i class="fa fa-hand-o-right"></i>&nbsp;Inter Department Relations / Employee - Employee Relations 
                  </h4>
                </div>
                
                      
                        <div class="col-lg-50 well" id="printMe">
                            <textarea class="form-control" id="printMe" name="Q1" placeholder="Type in your message"  rows="5" value="{{list['Q1']}}" readonly>{{list['Q1']}}</textarea>
                         
                        </div>
            </div>
            <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Superior – Subordinate Relations Department wise
                  </h4>
                </div>
                
                      
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q2']}}</textarea>
                         
                        </div>
            </div>
             <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Connivance between PCIL employees & Contractors / Contract Workmen on mala fide practices
                  </h4>
                </div>
                
                      
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q3']}}</textarea>
                         
                        </div>
            </div>
              <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Untoward incidents if any, during the Fortnight 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q4']}}</textarea>
                         
                        </div>
            </div>
             <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Functions & Celebrations (Including School) 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q5']}}</textarea>
                         
                        </div>
            </div>
              <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; CSR Activities including Camps if any 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q6']}}</textarea>
                         
                        </div>
            </div>
              <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Vicinity villages, opinion makers, attitude and opinion towards PCIL 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q7']}}</textarea>
                         
                        </div>
            </div>
               <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Visits & Inspections by Statutory Authorities (Department wise) 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q8']}}</textarea>
                         
                        </div>
            </div>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Safety Issues / Incidents 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q9']}}</textarea>
                         
                        </div>
            </div>
               <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Security Reports and Incidents 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q10']}}</textarea>
                         
                        </div>
            </div>
               <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp; Vigilance Report, If any 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q11']}}</textarea>
                         
                        </div>
            </div>
              <br>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title1">
                    <i class="fa fa-hand-o-right"></i>&nbsp;Miscellaneous 
                  </h4>
                </div>
                        <div class="col-lg-50 well">
                            <textarea class="form-control" id="JobResponsibilities" name="Q1" placeholder="Type in your message"  rows="5" readonly>{{list['Q12']}}</textarea>
                         
                        </div>
            </div>
          
            
    </form>
 </div>
 <input type="button" onclick="printDiv('printableArea')" value="print" />
        {% endblock %} 

{% block scripts %}
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
  document.getElementById('id-37').className ="nav-parent nav-active active";
  document.getElementById("u").style.display = "block";
  document.getElementById('id-37.1').className ="active";
</script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
  $( "#start_date,#end_date").datepicker({ 
    dateFormat: "dd/mm/yy",
    firstDay: 1,
    showButtonPanel: false,
     stepMonths: 1
  });
});

</script>
<script type="text/javascript">
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% endblock %}