{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>

#table1,#table2{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize*/
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>General PM Order</h2>
      	<div class="breadcrumb-wrapper">
        	<span class="label">You are here:</span>
       		<ol class="breadcrumb">         
          	<li class="active">General PM Order</li>
        	</ol>
      	</div>
    </div>
{% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
    <div class="col-md-12">
  	  	<div class="panel panel-default">
	        <div class="panel-heading">
	          <div class="panel-btns">
	            <a href="#" class="panel-close">&times;</a>
	            <a href="#" class="minimize">&minus;</a>
	          </div><!-- panel-btns -->
	          <h4 class="panel-title">General PM Order</h4>
	        </div><!-- panel-heading -->


		<div class="panel-body">
			<div class="form-group">               
				<div class="form-group">  
					<div class="col-md-4">
						<div class="form-group form-inline">
  							<label> Department&nbsp;</label> 
        					<select class="form-control" id="dept" name="dept" style="width:200px" required>
        							<option  value="dept">Select Department</option>
          							{% if dept %}
          							{% for dep in dept%}
                                	<option  value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                	{% endfor %}
                                    {% endif %}
        					</select>
                         
						</div>

						<div class="form-group form-inline">
						  	<label>Work Center </label> 
						    <select class="form-control" id="wrk_center" name="wrk_center" style="width:200px" required>
						    		<option value="work center">Select Work Center</option>
						          	{% if work_center %}
						          	{% for wrk in work_center%}
						            <option value="{{ wrk.work_center}}">{{ wrk.work_center_desc}}</option>
				                    {% endfor %}
						            {% endif %}
						    </select>                         
						</div>

						<div class="form-group form-inline">
						 	<label >&nbsp;Header info</label>
							&nbsp;<input class="form-control" type="text" id="desc_head" placeholder="HEADER Description" style="width:200px">
						</div>
  					</div> 
                 
                		<div class="col-md-4">                  
						  	<div class="form-group">
						 		<select size="1" id="selct" class="form-control selct" name="selct" style="width:200px" >
						            	<option value="none" selected="selected">None</option>
						            	<option value="func" >Function Location</option>
						        		<option value="equip"  >Equipment</option>
						        		<!-- <option value="cost" >Cost Center</option> -->
						        		<!-- <option value="wbs" >WBS Element</option>
						        		<option value="asset" >Asset</option> -->
						        </select>        
							</div>
						</div>
						<div class="col-md-4">
							<div  class="form-group" >
								<span class="function" id="function">
									<input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
								</span>
								<span class="eq" id="eq">
									<input class="form-control equipment" id="equipment" name="equipment"  type="hidden"  value="" placeholder="Equipment">
									<input class="form-control" id="eqp_desc" name="eqp_desc"   type="hidden"  value="" >
								</span>
								<span class="cost" id="cost">
									<input class="form-control cost_center" id="cost_center" name="cost center"  type="hidden"  value="" placeholder="Cost center">
									<input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
								</span>
								<span id="wbs">
									<input class="form-control wbs_element" id="wbs_element" name="wbs_element"   type="hidden"  value="" placeholder="WBS Element" required>
									<input class="form-control" id="wbs_desc" name="wbs_desc"   type="hidden"  value="" >
								</span>
								<span id="asset">
									<input class="form-control asset" id="asset" name="asset"   type="hidden"  value="" placeholder="Asset" required>
									<input class="form-control" id="asset_desc" name="asset_desc"   type="hidden"  value="" >
								</span>
							</div>
							<div class="form-group">
								<div class="show_in" >
									<input class="form-control " id="func_eqp" type="text"  disabled="disabled">
									<input id="btn" type="button"   value="Edit" onclick="showhide()" class="btn btn-primary btn-block">
									<span class="costhide">
										<input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" required>
										
									</span>
									<input id="back" type="button"   value="Back" onclick="showback()" class="btn btn-primary btn-block">
								</div>
								<!-- <div class="eq" >
									<input class="form-control eq" id="eq_cost" type="text"  disabled="disabled">
									<input class="form-control " id="funcost" type="hidden"  disabled="disabled">
									<input id="btn2" type="button"   value="Edit" onclick="showhide()" class="btn btn-primary btn-block">
									<span class="costhide">
										<input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" required>
										<input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
									</span>
									<input id="back2" type="button"   value="Back" onclick="showback()" class="btn btn-primary btn-block">
								</div> -->
							</div>
						</div>    
				</div>
			</div>


				<form id="tradeform" action="" method="POST" enctype="multipart/form-data"  >
					<div id="component" class="form-group" >
						<table id="table1" class="display table table-bordered table-striped" cellspacing="0">
	 						<thead>
	            				<tr>
	            					<th>Type</th>
					                <th>Mat.Type</th>
					                <th>Material</th>
					                <th>Service Group</th>
					                <th>Description</th>
					                <th>Quantity</th>
					                <th>UoM</th>
					               <!--  <th>St.Loc</th> -->
					                <th>Unit Price</th>
					                <th>Delivery Date</th>
					                <th>Justification</th>
					                <th>PO Header Text</th>
					                <th>Specification</th>
					                <th >Procured at</th>
					                <th>Attachments</th>
									<th>Action</th>
	  							</tr>
	        				</thead>

	        				<tbody id='body1'>
	      						<tr>
	      							<td>
	      								<select size="1" id="type0"class="form-control type" name="type1" >
						                <option value="ZRGS" selected="selected">Components</option>
						        		<option value="ZRSV" class="ser_hide" >Services</option>  
						            </select>
	      							</td>
	      							<td >
	      								<select  id="Desription" class="form-control description"  name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
	      							</td>
	      
								    <td>
								        <input class="form-control material" id="material"  name="material1" style="width:200px" type="hidden"  placeholder="material"  >
								    </td>

								    <td>
								        <input class="form-control service_material" id="service_material"  name="service_material1" style="width:200px" type="hidden"  placeholder=" service_material"  >
								    </td>
									
	      							<td>
	        						<input id="Desc0" type="text" class="form-control description" name="description2" value="">
	      							</td>
							      	<td>
							        	<input id="Quantity" type="number" min="1" step="1"  class="form-control quantity" name="quantity1" style="width:100px" onkeypress="return numberValid(event)" >
							      	</td>

								    <td>
								        <input class="form-control uom" id="UoM" name="uom1" style="width:100px" type="hidden"  placeholder="uom"  >
								    </td>
<!-- 
								    <td>
							            <input id="st_loc" class="form-control st_loc"  name="st_loc" style="width:200px" type="hidden"  placeholder="Store Location" >
							      	</td> -->

								    <td>
								        <input id="Unit_Value" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">
								    </td>

								    <td>
								        <input id="Date1" type=""  class="form-control date" name="date1" size="11">
								    </td>

								    <td>
								        <input id="Justification" type="text"  class="form-control just" name="just1" value="" placeholder="Justification" >
								    </td>

								    <td>
								        <input id="POHeader" type="text" class="form-control poheader " name="poheader1"  value=""  placeholder="POHeader">
								    </td>

								    <td>
								        <input id="Specification" type="text"  class="form-control specify" name="specify1" value="" placeholder="Specification">
								    </td>

							      	<td>
								        <select size="1" id="Procured" class="form-control procured" name="procured1">
								            <option value="Plant" selected="selected">Plant</option>
								        	<option value="HO">HO</option>
								        </select>
							      	</td>

								    <td>
								        <input  class="file" type="file" name="file1[]" style="width:90px">
								    </td>
									<td>
      									<button type="button" name="delete" onclick="deleteRow(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>
									</td>
	    						</tr>
	        				</tbody>
	    				</table>

	         		<div class="form-group">

	                 	<div class=" col-xs-4 col-md-2">            
	                       <div class="form-group">
	                           <input id="add1" type="button"   value="Add line item" class="btn btn-success btn-xs">
	                      </div>  
	                 	</div>  

	                 	

	                	<div class="col-sm-12 col-md-4 col-md-offset-2">            
	                       <div class="form-group">
	                        	<input type="hidden"  id="topval" name="topval">
	                           	<input id="submit1" type="button" onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
	                      </div>  
	                 	</div> 

	             	</div> 

				</div>
	       </form> 
<div id="spinModal" class="modal fade" data-keyboard="false" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      	<i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>

					</div>		   
		</div><!-- panel-body -->
       	</div><!-- panel --> 
    </div>      
</div><!-- row -->


{% endblock %}  
{% block scripts %}

<script type="text/javascript">
  	document.getElementById('id-16').className ="nav-parent nav-active active";
    document.getElementById("f").style.display = "block";
	document.getElementById('id-16.5').className ="active";
</script>  

<link href="/static/css/datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>



<script type="text/javascript">
/* FOR DELETE LINE ITEM */
function deleteRow(btn) {
  	table1 = $('#table1').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table1 >#body1 >tr').length>1){
    	table1.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}

/* FUNCTION DEFINED AS LEAVETYPEFUN  FOR CHANGING FUNCTION LOCATION  & EQUIPMENT OPTION ACCORDING */
/*	function leavetypefun(ltype){
							if(ltype=="func"){
										$('#func').show();
										$('#Equip').hide();
									   	$("#equipment").select2("val", "");
									    $("#showoption").val("");
							} else {
										$('#func').hide();
									    $("#function_location").select2("val", "");
									    $("#showoption").val("");
										$('#Equip').show();
							}
	}
*/
</script>
<script type="text/javascript"> 
/*SHOWHIDE AND SHOWBACK FUNCTION FOR EDIT OPTION*/  
function showhide() {
	alert("hello");
  	$('#func_eqp').hide();
  	$('#btn').hide();
  	$('.costhide').show();
  	$('#back').show();
}
function showback() {
  	$(".cost_center1").select2("val", "");
  	$('#func_eqp').show();
  	$('#btn').show();
  	$('.costhide').hide();
  	$('#back').hide();
}
</script>

<script type="text/javascript" >
	$(document).ready(function() {

	$('.costhide').hide();
    $('#back').hide();
	$('.function ').hide();
	$('.show_in').show();
  	$('.eq').hide();
  	$('#cost').hide();
  	$('#wbs').hide();
  	$('#asset').hide();
		  	$('#btn').hide();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$("#func_eqp").val("");
		  	$("#func_eqp").hide();
		  	$('.ser_hide').hide();
  	/* JQUERY FUNCTION FOR CHANGING FUNCTION LOCATION,EQUIPMENT,COST CENTER AND WBS ELEMENT OPTION ACCORDING */
	$('#selct').change(function(){ 
		opt = $("#selct").val();
		if(opt=="none"){
			$('.ser_hide').hide();
			$('.costhide').hide();
    $('#back').hide();
	$('.function ').hide();
	$('.show_in').show();
  	$('.eq').hide();
  	$('#cost').hide();
  	$('#wbs').hide();
  	$('#asset').hide();
		  	$('#btn').hide();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$("#func_eqp").val("");
		  	$("#func_eqp").hide();
		}
		else if(opt=="func"){
		  	$('.function ').show();
		  	$('.show_in').show();
		  	$('#btn').show();
		  	$('.ser_hide').show();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$("#equipment").select2("val", "");
		  	$(".cost_center1").select2("val", "");
		  	$("#cost_center").select2("val", "");
		  	$("#wbs_element").select2("val", "");
		  	 $("#func_eqp").show();
		  	$("#func_eqp").val("");
		  	$('.eq').hide();
		  	$('#cost').hide();
		  	$('#wbs').hide();
		  	$('#asset').hide();
		}else if(opt=="equip"){
		 	$("#function_location").select2("val", "");
		 	$(".cost_center1").select2("val", "");
		 	$("#cost_center").select2("val", "");
		  	$("#wbs_element").select2("val", "");
		  	$("#func_eqp").show();
		   	$("#func_eqp").val("");
		  	$('.function ').hide();
		  	$('.eq ').show();
		  	$('.show_in').show();
		  	$('#btn').show();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$('#cost').hide();
		  	$('#wbs').hide();
		  	$('#asset').hide();
		  	$('.ser_hide').show();
		}else if(opt=="cost"){
		   	$("#function_location").select2("val", "");
		   	$("#func_eqp").show();
		   	$("#func_eqp").val("");
		  	$("#wbs_element").select2("val", "");
		   	$("#equipment").select2("val", "");
		  	$('.function ').hide();
		  	$('.show_in').hide();
		  	$('.eq').hide();
		  	$('#cost').show();
		  	$('#wbs').hide();
		  	$('#asset').hide();
		  	$('.ser_hide').show();
		} else if(opt=="wbs") {
		   	$("#function_location").select2("val", "");
		   	$("#func_eqp").val("");
		  	$("#equipment").select2("val", "");
		  	$("#cost_center").select2("val", "");
		 	$('.function ').hide();
		 	$('.show_in').hide();
		  	$('.eq').hide();
		  	$('#cost').hide();
		  	$('#wbs').show();
		  	$('#asset').hide();
		  	$('.ser_hide').show();
		}
		else if(opt=="asset") {
		   	$("#function_location").select2("val", "");
		   	$("#func_eqp").val("");
		  	$("#equipment").select2("val", "");
		  	$("#cost_center").select2("val", "");
		 	$('.function ').hide();
		 	$('.show_in').hide();
		  	$('.eq').hide();
		  	$('#cost').hide();
		  	$('#wbs').hide();
		  	$('#asset').show();
		  	$('.ser_hide').show();

		}
		else{

		$('.costhide').hide();
    $('#back').hide();
	$('.function ').hide();
	$('.show_in').show();
  	$('.eq').hide();
  	$('#cost').hide();
  	$('#wbs').hide();
  	$('#asset').hide();
		  	$('#btn').hide();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$("#func_eqp").val("");
		  	$("#func_eqp").hide();
		  	$('.ser_hide').hide();
		
		  
  }
	});

		 /* AJAX CALL FOR FUNCTION LOCATION FROM PMPR MODULE */
 	$('.function_location').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/functionlocation",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.functional_loc;
	        },
	        formatAjaxError: function(){
	          	return 'function location Does not Exist';
	        },
	        formatSelection: function(excercise) { 
		    	$("#function_location").val(excercise.functional_loc);
		      	$('#func_eqp').val(excercise.cost_center);
	            return excercise.functional_loc; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
/*AJAX CALL FOR UOM FROM MODULE PMPR */
   					$('.uom').select2({
						        minimumInputLength: 0,
						        placeholder: ' ',
						        allowClear: true,
						        ajax: {
						            url: "/pmpr/uom",
						            dataType: 'json',
						            quietMillis: 100,
						            data: function(term) {
						          		return { term: term };
						            },
						            results: function(data) {
						                return { results: data.results }
						            }
						        },
						        formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
								},
								id: function(excercise){
									return excercise.mu;
								},
								formatAjaxError: function(){
									return 'storage Location Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#UoM').val(excercise.mu);
									return excercise.mu;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
								callback({"term":elementText});
								}
					});
$('.asset').select2({
        minimumInputLength: 0,
        placeholder: ' ',
        allowClear: true,
        ajax: {
            url: "/pmpr/asset",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
           return "<div class='select2-user-result' value="+excercise.main_asset_number+">"+excercise.asset_desc+"--"+excercise.main_asset_number+" </div>";  
 
        },
        id: function(excercise){
          return excercise.main_asset_number;
        },
        formatAjaxError: function(){
          return 'Asset Code Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#asset").val(excercise.main_asset_number);
  
            return excercise.asset_desc; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

	/*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
	$('.equipment').select2({
	        minimumInputLength:0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/equipment",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.equipment_number;
	        },
	        formatAjaxError: function(){
	          	return 'Equipment Does not Exist';
	        },
	        formatSelection: function(excercise) { 
		    	$("#equipment").val(excercise.equipment_number);
		      	$('#func_eqp').val(excercise.cost_center);
	            return excercise.Desp_technical_object; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });

		/*AJAX CALL FOR COST CENTER FROM PMPR MODULE */
	$('.cost_center').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/costcenter",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
	        },
	        id: function(excercise){
	          	return excercise.cost_center;
	        },
	        formatAjaxError: function(){
	          	return 'Cost Center Does not Exist';
	        },
	        formatSelection: function(excercise) { 
	    		$("#cost_center").val(excercise.cost_center);
	            return excercise.cost_center; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
	/* AJAX CALL FOR COMBINATION COST CENTER FOR FUNCTION LOCATION AND EQUIPMENT */
	$('.cost_center1').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/costcenter",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
	        },
	        id: function(excercise){
	          	return excercise.cost_center;
	        },
	        formatAjaxError: function(){
	          	return 'Cost Center Does not Exist';
	        },
	        formatSelection: function(excercise) { 
	    		$("#cost_center1").val(excercise.cost_center);
	            return excercise.cost_center; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
        	}
    });
	/* AJAX CALL FOR WBS ELEMENT FROM PMPR MODULE */
	$('.wbs_element').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/wbs_element",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.WBS_element+">"+excercise.short_desc+"--"+excercise.WBS_element+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.WBS_element;
	        },
	        formatAjaxError: function(){
	          	return 'wbs element Does not Exist';
	        },
	        formatSelection: function(excercise) { 
	        	$("#wbs_desc").val(excercise.short_desc);
		    	$("#wbs_element").val(excercise.WBS_element);
		        return excercise.short_desc; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
		
		/*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
		$('.material').select2({
					minimumInputLength: 3,
					placeholder: ' ',
					allowClear: true,
					ajax: {
							url: "/pmpr/material",
							dataType: 'json',
							quietMillis: 100,
							data: function(term) {
								return { term: term,mtype:$('#Desription').val() };
							},
							results: function(data) {
								return { results: data.results }
							}
					},
					formatResult: function(excercise) {
						return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
					},
					id: function(excercise){
						return excercise.material;
					},
					formatAjaxError: function(){
						return 'Material Does not Exist';
					},
					formatSelection: function(excercise) {
						$("#UoM").attr('placeholder', excercise.bun);
						$("#UoM").val(excercise.bun).trigger("change");
						$("#UoM").val(excercise.bun)
						$("#material").val(excercise.material);
						$('#table1 tr:eq(1) div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
						/*$('#UoM').val(excercise.bun);*/


						var fd = new FormData();
				fd.append("material",excercise.material);
				
				$.ajax({
				        url: '/pmpr/getquantity',
				        data: fd,
				        type: 'POST',
				        processData: false,  
				        contentType: false,
				        success: function(response) {
							a1=""
				    		for (i=1;i<=response['reports'].length;i++){
				 					a1=a1+  '<tr>'+
				                    '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
				                    '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
				                    '<td><input type="text" id="po_text'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly" class="text_tip" data-toggle="tooltip" data-placement="top" title= "'+response['reports'][i-1]['TDLINE']+'"></td>'+
				                    '<td><input type="text" id="unit'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
				                    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
				                    '</tr>'
							}
							bootbox.dialog({
							                size: 'large',
							                message: 
							                   
							                    '<table id="tab_modal" class="table "> ' +
							                    '<thead> ' +
							                    '<tr>'+
							                    '<th>Quantity</th>'+
							                    '<th>Storage Location</th>'+
							                    '<th>PO Text</th>'+
							                    '<th>PO Value</th>'+
							                    '<th>Action</th>'+
							                    '</tr>'+
							                    '</thead>'+
							                    '<tbody >'+
							                    a1+
							                    '</tbody>'+
							                    '</table>',
							                buttons: {
							                    success: {
							                        label: "Ok",
							                        className: "btn-primary",
							                        callback: function () {
							                          	  	a=$('#radio_modal:checked').val();
								                           	quan =  $('#unit'+a+'').val();
								                            stor= $('#po_text'+a+'').val();
								                            $('#Unit_Value').val(quan);
								                            $('#POHeader').val(stor);   
							                        }
							                    }
							                }
							});
        				}
        		});
						return excercise.material_desc;
					},
					initSelection : function (element, callback) {
						var elementText = $(element).attr('data-init-text');
						callback({"term":elementText});
					}
		});


	/*AJAX CALL FOR SERVICE MATERIAL FROM MODULE PMPR */
				$('.service_material').select2({
				
					placeholder: ' ',
					allowClear: true,
					ajax: {
							url: "/pmpr/servicematerial",
							dataType: 'json',
							quietMillis: 100,
							data: function(term) {
								return { term: term,mtype:$('#Desription').val() };
							},
							results: function(data) {
								return { results: data.results }
							}
					},
					formatResult: function(excercise) {
						return "<div class='select2-user-result' value="+excercise.material_group+">"+excercise.desc_material_group+"--"+excercise.material_group+" </div>";
					},
					id: function(excercise){
						return excercise.material_group;
					},
					formatAjaxError: function(){
						return 'Material Does not Exist';
					},
					formatSelection: function(excercise) {
						$("#service_material").val(excercise.material_group);
						$('#table1 tr:eq(1) div.select2-container').attr('title',excercise.desc_material_group+"--"+excercise.material_group);
						/*$('#UoM').val(excercise.bun);*/
				
				
						return excercise.material_group;
					},
					initSelection : function (element, callback) {
						var elementText = $(element).attr('data-init-text');
						callback({"term":elementText});
					}
		});
		

		/*AJAX CALL FOR STORAGE LOCATION FROM MODULE PMPR */
  		$('.st_loc').select2({
			        minimumInputLength: 0,
			        placeholder: ' ',
			        allowClear: true,
			        ajax: {
				            url: "/pmpr/storage",
				            dataType: 'json',
				            quietMillis: 100, 
				            data: function(term) {
				          		return { term: term };
				            },
				            results: function(data) {
				                return { results: data.results }
				            }
			        },
			      	formatResult: function(excercise) {
						return "<div class='select2-user-result' value="+excercise.storage_loc+">"+excercise.desc_storage_loc+"--"+excercise.storage_loc+" </div>";
					},
					id: function(excercise){
						return excercise.storage_loc;
					},
					formatAjaxError: function(){
						return 'storage Location Does not Exist';
					},
					formatSelection: function(excercise) {
						$("#st_loc").val(excercise.storage_loc);
						return excercise.desc_storage_loc;
					},
					initSelection : function (element, callback) {
						var elementText = $(element).attr('data-init-text');
					callback({"term":elementText});
					}
		});
});
</script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
	function numberValid(evt){
			   		var charCode = (evt.which) ? evt.which : evt.keyCode ;
			    	if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
			        		return false;
    				} else {
							return true;
      				} 
	}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
  	$('.quantity,.unitvalue,.date ').bind("cut copy paste",function(e) {
          e.preventDefault();
    });
</script>



<script type="text/javascript">
$('#spinModal').modal('hide');
/*INITIALIZING TOOLTIP FOR MATERIAL DESCRIPTION*/
$('div.select2-container').tooltip();
$('.text_tip').tooltip();
/*INITIALISING DATATABLES,DATEPICKER AND FILESTYLE */
	$(document).ready(function(){
  		$('#costhide').hide();
  		$('#back').hide();
  		$('#Desc0').prop("readonly",true);
  		$('#Desc0').val("No input");
  		$('#service_material').prop("readonly",true);
  		$('#servicematerial').val("No input");
  		$('#type0').change(function(){
  			var typevalue = $('#type0 option:checked').val();
			if(typevalue == 'ZRGS'){
				$('#Desc0').prop("readonly",true);
				$('#Desc0').val("No input");
				$('#service_material').prop("readonly",true);
  				$('#servicematerial').val("No input");
				$('#material,#Justification,#POHeader,#Specification').prop("readonly",false);
				$('#material,#Justification,#POHeader,#Specification').val("");
				$('#Desription').prop("disabled",false);

			} else {
				$('#material,#Justification,#POHeader,#Specification').prop("readonly",true);
				$('#material,#Justification,#POHeader,#Specification').val("No input");
				$('#Desription').prop("disabled",true);
				$('#Desc0').prop("readonly",false);
				$('#Desc0').val("");
				$('#service_material').prop("readonly",false);
  				$('#servicematerial').val("");
			}

  		});
        table1 = $('#table1').DataTable( {
                			"retrieve": true,
					      	"scrollX": "200%",
					       	"paging": false,
					       	"bFilter": false,
					        "bSort": false,
							"columnDefs": [
									{ "width": "100px", "targets": 0},
					      			{ "width": "100px", "targets": 1},
					    			{ "width": "100px", "targets": 2},
					    			{ "width": "100px", "targets": 3},
								/*	{ "width": "100px", "targets": 4},*/
					      			{ "width": "100px", "targets": 4},
					    			{ "width": "100px", "targets": 5},
					    			{ "width": "100px", "targets": 6},
					     			{ "width": "100px", "targets": 7},
					      			{ "width": "100px", "targets": 8},
					    			{ "width": "0px", "targets": 9},
					    			{ "width": "0px", "targets": 10}
					  		]
    	} );
		
    	     
      
      	$('#Date1').datepicker({
      				format:"dd.mm.yyyy",
      				todayHighlight: true ,
      				startDate: "+0d", 
      				autoclose: true
      	});
      /*	$(':file').filestyle({
      				badge:true,
      				input:false
      	});*/
      	$('#table1 input[type=file]').change(function () {
        			var val = $(this).val().toLowerCase();
        			var pdfFormat = new RegExp("(.*?)\.(pdf)$");
        			if(val!=""){
        					if(!(pdfFormat.test(val))) {
          							$(':file').filestyle('clear');    
          							bootbox.alert('Unsupported file pdf format only');
          							$(this).val('');
        					}
      				}
      	}); 
    	/*FOR ADD LINE ITEM*/
    	var row = 0;
      	$('#add1').on('click',function(){
      		opt = $("#selct").val();
      		row = row +1 ;
	if(opt == "none"){ 
					table1.row.add([
						'<select size="1" id="type'+row+'"class="form-control type" name="type1"><option value="ZRGS" selected="selected">Components</option>',
					    '<select  id="Desription'+row+'" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
					    '<input class="form-control material'+row+'" id="material'+row+'" name="material1" style="width:200px" type="hidden" value="" placeholder="material" >',
					    '<input class="form-control service_material'+row+'" id="service_material'+row+'" name="service_material1" style="width:200px" type="hidden" value="" placeholder="service_material" >',
					    '<input id="Desc'+row+'" type="text" class="form-control description" name="description2" value=" ">',
					    '<input id="Quantity" type="number"  class="form-control quantity" min="1" step="1"  name="quantity1" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input class="form-control uom'+row+'" id="UoM'+row+'" name="uom1" style="width:100px" type="hidden"  placeholder="uom"  >',
					   /* '<input class="form-control st_loc'+row+'" id="st_loc'+row+'" name="st_loc" style="width:200px" type="hidden"  placeholder="Store Location" >',*/
					    '<input id="Unit_Value'+row+'" type="number" min="0" step="0.1" class="form-control unitvalue" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input id="date'+row+'" type=""  class="form-control date" name="date1" size="11">',
					    '<input id="Justification'+row+'" type="text"  placeholder="Justification" class="form-control just" name="just1" value="">',
					    '<input id="POHeader'+row+'" type="text"  class="form-control poheader" name="poheader1" value="" placeholder="POHeader">',
					    '<input id="Specification'+row+'" type="text"  class="form-control specify" name="specify1" value="" placeholder="Specification">',
					    '<select size="1" id="Procured"class="form-control procured" name="procured1"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
					    '<input  class="file" type="file"  name="file1[]" style="width:90px">',
						'<button type="button" name="delete" onclick="deleteRow(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>'
            ]).draw(); 
$('input').hover(function() {
    $(this).attr('title', $(this).val());
});

}  //end off iffcondition
		else{

table1.row.add([
						'<select size="1" id="type'+row+'"class="form-control type" name="type1"><option value="ZRGS" selected="selected">Components</option><option value="ZRSV" class="ser_hide">Services</option></select>',
					    '<select  id="Desription'+row+'" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
					    '<input class="form-control material'+row+'" id="material'+row+'" name="material1" style="width:200px" type="hidden" value="" placeholder="material" >',
					    '<input class="form-control service_material'+row+'" id="service_material'+row+'" name="service_material1" style="width:200px" type="hidden" value="" placeholder="service_material" >',
					    '<input id="Desc'+row+'" type="text" class="form-control description" name="description2" value=" ">',
					    '<input id="Quantity" type="number"  class="form-control quantity" min="1" step="1"  name="quantity1" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input class="form-control uom'+row+'" id="UoM'+row+'" name="uom1" style="width:100px" type="hidden"  placeholder="uom"  >',
					   /* '<input class="form-control st_loc'+row+'" id="st_loc'+row+'" name="st_loc" style="width:200px" type="hidden"  placeholder="Store Location" >',*/
					    '<input id="Unit_Value'+row+'" type="number" min="0" step="0.1" class="form-control unitvalue" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input id="date'+row+'" type=""  class="form-control date" name="date1" size="11">',
					    '<input id="Justification'+row+'" type="text"  class="form-control just" name="just1" value="" placeholder="Justification">',
					    '<input id="POHeader'+row+'" type="text"  class="form-control poheader" name="poheader1" value="" placeholder="POHeader">',
					    '<input id="Specification'+row+'" type="text"  class="form-control specify" name="specify1" value="" placeholder="Specification">',
					    '<select size="1" id="Procured"class="form-control procured" name="procured1"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
					    '<input  class="file" type="file"  name="file1[]" style="width:90px">',
						'<button type="button" name="delete" onclick="deleteRow(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>'
            ]).draw();

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});

		}

		// testing to hide
					var x=row;
					var y = x+1;
					$('#Desc'+x+'').prop("readonly",true);
					$('#Desc'+x+'').val("No input");
					$('#service_material'+x+'').prop("readonly",true);
					$('#service_material'+x+'').val("No input");

			  		$('#type'+row+'').change(function(){
			  			var typevalue = $('#type'+x+' option:checked').val();
			  			/*alert(typevalue);*/
						if(typevalue == 'ZRGS'){
							$('#Desc'+x+'').prop("readonly",true);
							$('#Desc'+x+'').val("No input");
							$('#service_material'+x+'').prop("readonly",true);
							$('#service_material'+x+'').val("No input");
							$('#material'+x+',#Justification'+x+',#POHeader'+x+',#Specification'+x+'').prop("readonly",false);
							$('#material'+x+',#Justification'+x+',#POHeader'+x+',#Specification'+x+'').val("");
							$('#Desription'+x+'').prop("disabled",false);
						} else {
							$('#material'+x+',#Justification'+x+',#POHeader'+x+',#Specification'+x+'').prop("readonly",true);
							$('#material'+x+',#Justification'+x+',#POHeader'+x+',#Specification'+x+'').val("No input");
							$('#Desc'+x+'').prop("readonly",false);
							$('#Desription'+x+'').prop("disabled",true);
							$('#Desc'+x+'').val("");
							$('#service_material'+x+'').prop("readonly",false);
							$('#service_material'+x+'').val("");
						}
					});
					/*AJAX CALL FOR UOM FROM MODULE PMPR */
            $('.uom'+row+'').select2({
                    minimumInputLength: 0,
                    placeholder: ' ',
                    allowClear: true,
                    ajax: {
                        url: "/pmpr/uom",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function(term) {
                          return { term: term };
                        },
                        results: function(data) {
                            return { results: data.results }
                        }
                    },
                    formatResult: function(excercise) {
                  return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
                },
                id: function(excercise){
                  return excercise.mu;
                },
                formatAjaxError: function(){
                  return 'storage Location Does not Exist';
                },
                formatSelection: function(excercise) {
                  $('#UoM'+x+'').val(excercise.mu);
                  return excercise.mu;
                },
                initSelection : function (element, callback) {
                  var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
                }
          });
					/*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
					$('.material'+row+'').select2({
								minimumInputLength: 3,
								placeholder: ' ',
								allowClear: true,
								ajax: {
										url: "/pmpr/material",
										dataType: 'json',
										quietMillis: 100,
										data: function(term) {
											return { term: term,mtype:$('#Desription'+x+'').val() };
										},
										results: function(data) {
											return { results: data.results }
										}
								},
								formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
								},
								id: function(excercise){
									return excercise.material;
								},
								formatAjaxError: function(){
									return 'Material Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#table1 tr:eq('+y+') div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
									
									$('#UoM'+x+'').attr('placeholder', excercise.bun);
									$('#UoM'+x+'').val(excercise.bun).trigger("change");
									$('#UoM'+x+'').val(excercise.bun)
									var fd = new FormData();
					fd.append("material",excercise.material);
					if (document.getElementById("selct").value=="wbs")
					{
					fd.append("wbs_ele",document.getElementById("wbs_element").value);
					}
					$.ajax({
					        url: '/pmpr/getquantity',
					        data: fd,
					        type: 'POST',
					        processData: false,  
					        contentType: false,
					        success: function(response) {
								a1=""
								for (i=1;i<=response['reports'].length;i++) {
								 	a1=a1+  '<tr>'+
								 	'<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
									'<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
									 '<td><input type="text" id="po_text'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly" class="text_tip" data-toggle="tooltip" data-placement="top" title= "'+response['reports'][i-1]['TDLINE']+'"></td>'+
				                    '<td><input type="text" id="unit'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
								    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
								    '</tr>'
								}
								bootbox.dialog({
								                size: 'large',
								                message: 
								                   
								                    '<table id="tab_modal" class="table"> ' +
								                    '<thead> ' +
								                    '<tr>'+
								                    '<th>Quantity</th>'+
								                    '<th>Storage Location</th>'+
								                    '<th>PO Text</th>'+
							                    	'<th>PO Value</th>'+
								                    '<th>Action</th>'+
								                    '</tr>'+
								                    '</thead>'+
								                    '<tbody >'+
								                     a1+
								                    
								                    '</tbody>'+
								                    '</table>',
								                buttons: {
								                    success: {
								                        label: "Ok",
								                        className: "btn-primary",
								                        callback: function () {
								                          	a=$('#radio_modal:checked').val();
								                           	quan =  $('#unit'+a+'').val();
								                            stor= $('#po_text'+a+'').val();
								                            $('#Unit_Value'+x+'').val(quan);
								                            $('#POHeader'+x+'').val(stor);  
								                        }
								                    }
								                }
								});
							}
				        
				    });
									return excercise.material_desc;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
									callback({"term":elementText});
								}
					});
				

					/*AJAX CALL FOR SERVICE MATERIAL FROM MODULE PMPR */
					$('.service_material'+row+'').select2({
								placeholder: ' ',
								allowClear: true,
								ajax: {
										url: "/pmpr/servicematerial",
										dataType: 'json',
										quietMillis: 100,
										data: function(term) {
											return { term: term,mtype:$('#Desription'+x+'').val() };
										},
										results: function(data) {
											return { results: data.results }
										}
								},
								formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.material_group+">"+excercise.desc_material_group+"--"+excercise.material_group+" </div>";
								},
								id: function(excercise){
									return excercise.material_group;
								},
								formatAjaxError: function(){
									return 'Material Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#table1 tr:eq('+y+') div.select2-container').attr('title',excercise.desc_material_group+"--"+excercise.material_group);
									
									
									return excercise.material_group;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
									callback({"term":elementText});
								}
					});

					/*AJAX CALL FOR STORAGE LOCATION FROM MODULE PMPR */
   					$('.st_loc'+row+'').select2({
						        minimumInputLength: 0,
						        placeholder: ' ',
						        allowClear: true,
						        ajax: {
						            url: "/pmpr/storage",
						            dataType: 'json',
						            quietMillis: 100,
						            data: function(term) {
						          		return { term: term };
						            },
						            results: function(data) {
						                return { results: data.results }
						            }
						        },
						        formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.storage_loc+">"+excercise.desc_storage_loc+"--"+excercise.storage_loc+" </div>";
								},
								id: function(excercise){
									return excercise.storage_loc;
								},
								formatAjaxError: function(){
									return 'storage Location Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#st_loc'+row+'').val(excercise.storage_loc);
									return excercise.desc_storage_loc;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
								callback({"term":elementText});
								}
					});

        			$('.date').datepicker({
		        				format:"dd.mm.yyyy",
		        				todayHighlight: true ,
		        				startDate: "+0d", 
		        				autoclose: true
		        	});
        			/*$(':file').filestyle({
		        				badge:true,
		        				input:false
		        	});*/
        			$('#table1 input[type=file]').change(function () {
					          	var val = $(this).val().toLowerCase();
					          	var pdfFormat = new RegExp("(.*?)\.(pdf)$");
  								if(val != ""){
						          	if(!(pdfFormat.test(val))) {
							          	$(':file').filestyle('clear');        
							          	bootbox.alert('Unsupported file pdf format only');
							          	$(this).val('');
						          	}
								}
        			}); 
        });
 		/* FOR DELETE LINE ITEM */
   		/*$("#delete1").click(function(){
      			if($('#table1 >#body1 >tr').length>1){
          				table1.row('tr:last').remove().draw( false );
        		} else {
            		bootbox.alert('Please don\'t delete');
          		}      
    	}); */
   		
	});
</script>

<script type="text/javascript" >
/*FORM VALIDATION AND MODAL WINDOW */
function validateForm() {
    submit = "";

    var deptvalue = $('#dept option:checked').val();
    if(deptvalue!="dept"){
        submit = true;
    } else {
       	bootbox.alert('Please choose Department');
        submit = false;
        return false;
    }

    var wrk_centervalue = $('#wrk_center option:checked').val();
    if(wrk_centervalue!="work center"){
        submit = true;
    } else {
       	bootbox.alert('Please choose Work Center');
        submit = false;
        return false;
    }

    var selectvalue = $('#selct option:checked').val();

    if(selectvalue == "func"){
	    var function_locvalue = $('#function_location').val();
	    if(function_locvalue!=""){
	        submit = true;
	    } else {
	       	bootbox.alert('Please fill Function Location');
	        submit = false;
	        return false;
	    }
    } 
    else if(selectvalue == "equip") {
	    var equipvalue = $('#equipment').val();
	    if(equipvalue!=""){
	        submit = true;
	    } else {
	       	bootbox.alert('Please fill Equiment Number');
	        submit = false;
	        return false;
	    }
	}
	else if(selectvalue == "cost") {
	    var costvalue = $('#cost_center').val();
	    if(costvalue!=""){
	        submit = true;
	    } else {
	       	bootbox.alert('Please fill Cost Center');
	        submit = false;
	        return false;
	    }
    }
	else {
		submit = true;
    }

    var headertext = $('#desc_head').val();
    if(headertext!=""){
        submit = true;
    } else {
        bootbox.alert("Please fill Header info");
        submit = false;
        return false;
    }

  	
    var table1 = $("#table1 #body1");
    store = [ ];
    table1.find('tr').each(function (i) {
		var row = this.rowIndex;
      	var tdr = $(this).find('td');
      	var i = row - 1 ;
		var typevalue = tdr.find('#type'+i+' option:checked').val();
        if(typevalue == 'ZRGS'){
          	
            var material = tdr.find('input[name="material1"]').val();
            var quantity = tdr.find('input[name="quantity1"]').val();
           /* var stloc = tdr.find('input[name="st_loc"]').val();*/
            var unitvalue = tdr.find('input[name="unit_value1"]').val();
            var date = tdr.find('input[name="date1"]').val();
            var just = tdr.find('input[name="just1"]').val();
            var poheader = tdr.find('input[name="poheader1"]').val();
            var specify = tdr.find('input[name="specify1"]').val();

            if(material!=""){
                var compare = jQuery.inArray(material,store);
                if(compare <=-1) {
                    submit = true ;
				} else {
					bootbox.alert("Material in row "+row+" already exists");
                    submit = false ;
                    return false; 
                }
                store.push(material);
          	} else {
                bootbox.alert("Please fill Material in row "+row);
                submit = false;
                return false;
          	}

            if(quantity != 0){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }


            if(unitvalue != ""){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var unitval = num.test(unitvalue);
                if(unitval){
                    submit = true ;
                } else {
                    bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
                submit = false ;
                return false;
            }

            if(date!="") {
                submit = true;
            } else {
                bootbox.alert("Please pick a Date in row "+row);
                submit = false ;
                return false;
            }

            if(just!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Justification in row "+row);
                submit = false;
                return false;
            }

            if(poheader!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill PO Header in row "+row);
                submit = false;
                return false;
            }

            if(specify!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Specification in row "+row);
                submit = false;
                return false;
            }
    	} else {
       		var service_material = tdr.find('input[name="service_material1"]').val();
            var description = tdr.find('input[name="description2"]').val();
            var quantity = tdr.find('input[name="quantity1"]').val();
            var unitvalue = tdr.find('input[name="unit_value1"]').val();
            var date = tdr.find('input[name="date1"]').val();
            var file = tdr.find('input[type="file"]').val().replace(/C:\\fakepath\\/i, '');

            if(service_material!=""){
                var compare = jQuery.inArray(service_material,store);
                if(compare <=-1) {
                    submit = true ;
				} else {
					bootbox.alert("Material in row "+row+" already exists");
                    submit = false ;
                    return false; 
                }
                store.push(service_material);
          	} else {
                bootbox.alert("Please fill Material in row "+row);
                submit = false;
                return false;
          	}
            
            if(description!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Description in row "+row+" takes only alphabets");
                submit = false;
                return false;
            }

            if(quantity != 0){
               	var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }

            if(unitvalue != ""){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var unitval = num.test(unitvalue);
                if(unitval){
                    submit = true ;
                } else {               
                    bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
                submit = false ;
                return false;
            }

            if(date!="") {
              	submit = true;
            } else {
                bootbox.alert("Please pick a Date in row "+row);
                submit = false ;
                return false;
            }
        }
	});      

	if(submit){
		$('#submit1').attr('disabled', 'disabled');
		$('#spinModal').modal('show');
		var d = new Date();
		var month = d.getMonth()+1;
		var day = d.getDate();
		var hour = d.getHours();
		var minute = d.getMinutes();
		var second = d.getSeconds();
		var output =  ((''+day).length<2 ? '0' : '') + day + '' +
		              ((''+month).length<2 ? '0' : '') + month + '' +
		              d.getFullYear() + '' +
		              ((''+hour).length<2 ? '0' :'') + hour + '' +
		              ((''+minute).length<2 ? '0' :'') + minute + '' +
		              ((''+second).length<2 ? '0' :'') + second;

		a=[]
		deschead=document.getElementById('desc_head').value;
		value=document.querySelector('#selct option:checked').value;
			if (value =="func"){
				a.push(value); //0
				a.push( $('#function_location').val()); //1
	            if (document.getElementById('cost_center1').value == 0) { 
	              	cost_center1 = document.getElementById('func_eqp').value;
	              	a.push(cost_center1);//2
	            } else {
	              	cost_center1=document.getElementById('cost_center1').value;
	              	a.push(cost_center1);//2
	            }
			} else if (value=="equip"){
				a.push(value);//0
				a.push( $('#equipment').val());//1
	          	if (document.getElementById('cost_center1').value == 0) { 
		            cost_center1 = document.getElementById('func_eqp').value;
		            a.push(cost_center1);//2
	          	} else {
		            cost_center1=document.getElementById('cost_center1').value;
		            a.push(cost_center1);//2
	          	}
			} else if(value=="cost"){
				a.push(value);//0
				a.push( $('#cost_center').val());//1
				a.push('');//2

			}else if(value=="wbs") {
				a.push(value);//0
				a.push( $('#wbs_element').val());//1
				a.push('');//2
				// a.push($('#wbs_desc').val());//2

			}
			else{
				a.push(value);//0
				a.push( $('#asset').val());//1
				a.push('');//2
				// a.push($('#asset_desc').val());//2
			}
			a.push(document.getElementById('wrk_center').value);//3
			a.push(document.getElementById('dept').value);//4
			a.push(deschead);//5
			a.push(output);//6
		alert(a);
		console.log(a);
		document.getElementById("topval").value=a; 
		

		var fd = new FormData(document.getElementById("tradeform"));
		$.ajax({
		        url: '/pmpr/generalprcreations',
		        data:  fd,
		        type: 'POST',
		        processData: false,  
		        contentType: false,
		        dataType: "json",
		        success: function(response) {
		          		console.log(response['report']);
		              	if(response['report'][0]['check']=='0') {
		             		bootbox.alert(response['report'][0]['msg'], function() { location.reload(true);});   
		        			
		          		} else {
		          			$('#spinModal').modal('hide');
			          		$('#submit1').removeAttr('disabled');
		             		bootbox.alert(response['report'][0]['msg'], function() {});
		          		}
		        }
		});
		return false;
		}
}
</script>
<script>
$(document).ready(function(){ 

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});
});

</script>
{% endblock %}

