{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="glyphicon glyphicon-question-sign"></i>Help</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li class="active">Help</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}

       
      <div class="row">
        
        
        <div class="col-md-12">
  
     <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#home3" data-toggle="tab"><strong>Manual</strong></a></li>
          <li><a href="#profile3" data-toggle="tab"><strong>Policies</strong></a></li>
         
        </ul>

<div class="tab-content">
          <div class="tab-pane active" id="home3">





          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">

                <h4 class="panel-title">

                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                   What are the features avaliable in Dashboard?                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse ">
                <div class="panel-body">
       <img src="/static/screenshot/Employee/Dashboard.png" class="img-responsive" >
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
                   How to change password?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
              <img src="/static/screenshot/Employee/ChangePassword.png" class="img-responsive" >
                </div>
              </div>
            </div>
   <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
                   How to edit profile details?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/myprofilechange.png" class="img-responsive" >
                </div>
              </div>
            </div>
{% if user_details.ale%}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour">
                   How to Register Leave?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/applyleave.png" class="img-responsive" >
                </div>
              </div>
            </div>



            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive">
                   How to view leave history?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/LeaveHistory.png" class="img-responsive" >
                </div>
              </div>
            </div>
      {%endif%}

   {% if user_details.al %}

    <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix">
                   How to approve leaves?
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/RM/RM_Approvals.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}



  {% if user_details.eh %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeven">
                   How to view leave reports of employees?
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/RM/RM_leaveReports.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.ob %}
 <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEight">
                   How to apply leave on behalf of an employee?
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/On_Behalf.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}




  {% if user_details.rep %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNine">
                   How to view leave reports of employees?
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/leave_report.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.hl%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTen">
                   How to hold leave of an employee?
                  </a>
                </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Hold_leaves.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


 {% if user_details.la%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEleven">
                   How to approve levels?
                  </a>
                </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/config_approvallevels.png" class="img-responsive" >
                </div>
              </div>
            </div>

<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwelve">
                   How to set leave time?
                  </a>
                </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Config_LeaveTime.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.ae %}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThirteen">
                   How to Add/Block/Reset employee?
                  </a>
                </h4>
              </div>
              <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Config_AddBlockReset.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.pa%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFourteen">
                   How to approve profile request of an employee?
                  </a>
                </h4>
              </div>
              <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Approvals_profile.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


  {% if user_details.trade%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFifteen">
                   How to view trade form?
                  </a>
                </h4>
              </div>
              <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Trade.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.nontrade%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSixteen">
                      How to view nontrade form?
                  </a>
                </h4>
              </div>
              <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/NonTrade.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.po%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeventeen">
                    How to view Pending Order report?
                  </a>
                </h4>
              </div>
              <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Pending_order.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.sales%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEighteen">
                   How to view Dispatch/Sales report?
                  </a>
                </h4>
              </div>
              <div id="collapseEighteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Sales_dispatch.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.coll%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNineteen">
                 How to view Collection report?
                  </a>
                </h4>
              </div>
              <div id="collapseNineteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Collection.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.ag%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwenty">
               How to view Aging report?
                  </a>
                </h4>
              </div>
              <div id="collapseTwenty" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Aging.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}



{% if user_details.cr%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyone">
               How to Create Role?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyone" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/Role.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.ar%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentytwo">
               How to Assign Role?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentytwo" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/AssignRole.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.er%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentythree">
               How to Edit Role?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentythree" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/edit.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.sh%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyfour">
               How to Select HR?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyfour" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/SelectHr.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}








{% if user_details.ps%}

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyfive">
                  What is Paylip?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyfive" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/payslip.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


{% if user_details.f16 %}

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentysix">
                  What is Form16?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentysix" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/Form16.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.ams %}

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyseven">
                  How to announce any matter ?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyseven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/announcement.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
{% if user_details.pmprmivcreation %}
 <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyeight">
                  How to create MIV?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyeight" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/MIV/mivcreation.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.pmprmivapproval%}
 <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentynine">
                  How to approve MIV?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentynine" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/MIV/mivapprovals.png" class="img-responsive" >
                </div>
              </div>
            </div>
 {%endif%}
{% if user_details.pmprmivcreation %}
 <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirty">
                  MIV Status Report?
                  </a>
                </h4>
              </div>
              <div id="collapsethirty" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/MIV/mivstatus.png" class="img-responsive" >
                </div>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtyone">
                  Creating General Pm Order
                  </a>
                </h4>
              </div>
              <div id="collapsethirtyone" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/generalpmorder.png" class="img-responsive" >
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtytwo">
                  Creating PM order
                  </a>
                </h4>
              </div>
              <div id="collapsethirtytwo" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/pmorder.png" class="img-responsive" >
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtythree">
                  Cost Center
                  </a>
                </h4>
              </div>
              <div id="collapsethirtythree" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/costcenter.png" class="img-responsive" >
                </div>
              </div>
            </div>

              <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtyfour">
                  Asset Code
                  </a>
                </h4>
              </div>
              <div id="collapsethirtyfour" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/assetcode.png" class="img-responsive" >
                </div>
              </div>
            </div>

              <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtyfive">
                  Viewing Material List Report
                  </a>
                </h4>
              </div>
              <div id="collapsethirtyfive" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/materiallistreport.png" class="img-responsive" >
                </div>
              </div>
            </div>

              <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtysix">
                  Viewing Pr Status Report
                  </a>
                </h4>
              </div>
              <div id="collapsethirtysix" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/prstatusreport.png" class="img-responsive" >
                </div>
              </div>
            </div>





{%endif%}

 {% if user_details.bk %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtyseven">
                  Taking Backup/Restore
                  </a>
                </h4>
              </div>
              <div id="collapsethirtyseven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/backup_restore.png" class="img-responsive" >
                </div>
              </div>
            </div>
 {% endif %}



 {% if user_details.prlevelConfig %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtyeight">
                  Configuring PR levels
                  </a>
                </h4>
              </div>
              <div id="collapsethirtyeight" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PR/prlevelconfig.png" class="img-responsive" >
                </div>
              </div>
            </div>
 {% endif %}



  {% if user_details.mivlevelConfig %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapsethirtynine">
                  Configuring Miv Levels
                  </a>
                </h4>
              </div>
              <div id="collapsethirtynine" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/MIV/mivlevelconfig.png" class="img-responsive" >
                </div>
              </div>
            </div>
 {% endif %}

  {% if user_details.us %}
  		<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseforty">
                  Monitering User Sessions
                  </a>
                </h4>
              </div>
              <div id="collapseforty" class="panel-collapse collapse">
                <div class="panel-body">
                <h4>Viewing active users:</h4>
               <img src="/static/screenshot/usersessions/usersessions1.png" class="img-responsive" >
               <br> <h4>Viewing Total sessions Till Time:</h4>
               <img src="/static/screenshot/usersessions/usersessions2.png" class="img-responsive" >
				<br> <h4>Form for viewing sessions in a Particular Range of Dates:</h4>
               <img src="/static/screenshot/usersessions/usersessions3.png" class="img-responsive" >
               <br> <h4>Viewing sessions in a Particular Range of Dates:</h4>
               <img src="/static/screenshot/usersessions/usersessions4.png" class="img-responsive" >
                </div>
              </div>
            </div>



 {% endif %}

          </div>






</div>
<div class="tab-pane" id="profile3">
      <!-- <img src="/static/screenshot/policy/Scan1-page-001.jpg" class="img-responsive" >
      <hr>
      <img src="/static/screenshot/policy/Scan1-page-002.jpg" class="img-responsive" >
      <hr>
      <img src="/static/screenshot/policy/Scan1-page-003.jpg" class="img-responsive" >
      <hr>
     <img src="/static/screenshot/policy/Scan1-TR-page-001.jpg" class="img-responsive" >
      <hr>
       <img src="/static/screenshot/policy/Tablet Usage Policy.jpg" class="img-responsive" >
      <hr>
     <img src="/static/screenshot/policy/Office_Work_Timings.jpg" class="img-responsive" > -->
     <hr>
     <b>Policies can view in HR policies link</b>
    <!--  <img src="/static/screenshot/policy/LeavePolicy1.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/LeavePolicy2.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/LeavePolicy3.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/LeavePolicy4.jpg" class="img-responsive" > -->
     <hr>
    <!--  <img src="/static/screenshot/policy/LeavePolicy5.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/LeavePolicy6.jpg" class="img-responsive" >
      <hr>
     <img src="/static/screenshot/policy/Personal_Loan1.jpg" class="img-responsive" >
      <hr>
     <img src="/static/screenshot/policy/Personal_Loan2.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/Mobile_Phone_Policy.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/Mobile_Phone_Policy1.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/HR_Transfer_Relocation_Policy.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/HR_Transfer_Relocation_Policy1.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/document.jpg" class="img-responsive" >
     <hr>
     <img src="/static/screenshot/policy/TA_Norms.jpg" class="img-responsive" > -->
      
    


</div>



</div>







</div>        
      </div><!-- row -->
      
<Script>
window.oncontextmenu = function () {
   return false;
}
document.onkeydown = function (e) { 
    if (window.event.keyCode == 123 ||  e.button==2  )    
    return false;
};

document.onkeydown = function(e) {
        if ((e.ctrlKey && 
            (e.keyCode === 67 || 
             e.keyCode === 86 || 
             e.keyCode === 85 || 
             e.keyCode === 80 || 
             e.keyCode === 88 ||
             e.keyCode === 65 ||
             e.keyCode === 117
             )
            )||e.keyCode === 13)  {
            return false;
        } else {
            return true;
        }
};
</script>
	  

{% endblock %}     
{% block scripts %}
  <script type="text/javascript">
document.getElementById('id-9').className ="active";
    </script>
{% endblock %} 
