{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table1{table-layout:fixed;}

.modal  #dataValue {  

    width: 52%;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 40%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 10px; }

.modal-dialog { /* Modal Window Customize */
    width: 60%;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 40%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>MIV Reports</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">
        
        
<div class="col-md-12 ">
 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">MIV Reports</h4>
           </div><!-- panel-heading -->
  <div class="panel-body">




<div class="row">
<table id="table" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0" border="0" >
 <thead>
            <tr>
               
                <th>Components</th>
                <th>Quantity data</th>
                <th>Reservation No</th>
                <th>Applied On</th>
                <th>MIV RAISED ON</th>
                <th>Status/Pending At</th>
                <th>Function Location</th>
                <th>Equipment</th>
                <th>Cost Center</th>
    <th>WBS Element</th>
    <th>Requistor Name</th>
    
    
 
            </tr>

        </thead>


        <tbody id='body'>
           {% set i=0 %} 
          {% for e in miv%}
      <tr>
       <td>
 

 <!-- Modal window for Component/Services table -->

<!-- Button trigger modal -->
 <div class=" col-md-2 col-md-offset-2 ">            
          <div class="form-group">
                            <button id="show" type="button" class="btn btn-info " data-toggle="modal" data-target="#showTable{{i}}"> Show </button>
</div>
</div>

 <!-- Modal -->
<div class="modal fade" id="showTable{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createMaterialLabel"> Components/Services</h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
              <div class="row">
              <div class="col-md-12 ">
              <div class="form-group">


{% if e['voucher'] %}
<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
               
                
             
                <th>Material</th>
                <th>Material Desc</th>
                <th>Quantity</th>
                <th>UoM</th>
       <th>Storage location</th>
   <th>Specification</th>


   

            </tr>
        </thead>


        <tbody id='body1'>
{% for c in e['voucher'] %}
      <tr>
      
      <td>
           {% if c['MATNR'] %}
        {{c['MATNR']}}
          {% endif %} 
      </td>
      <td>
           {% if c['MAT_DESC'] %}
        {{c['MAT_DESC']}}
          {% endif %} 
      </td>

      <td>

            {{c['MENGE']}}
    

      </td>
      <td>
       {% if c['MEINS'] %}
        {{c['MEINS']}}
          {% endif %}
      </td>
    
 <td>
       {% if c['LGORT'] %}
        {{c['LGORT']}}
          {% endif %}
      </td>
      
   
      <td>
       {% if c['SPEC'] %}
        {{c['SPEC']}}
          {% endif %}
      </td>
   
     
    </tr>
    {% endfor %}
        </tbody>
    </table>


 {% endif %}

</div>
          </div>
          </div>
          </div>
    
      
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
  
    </div>
  </div>
</div>

      </td>

       <td>

<!-- Button trigger modal -->
 <div class=" col-md-2 col-md-offset-2 ">            
          <div class="form-group">
                            <button id="data" type="button" class="btn btn-primary fetch" data-toggle="modal" data-target="#showData{{i}}" > Data </button>
</div>
</div>
      <!-- Modal -->
<div class="modal fade" id="showData{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div id="dataValue" class="modal-dialog modal-lg">
    <div  class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="text-align:center;" class="modal-title" id="createMaterialLabel" > Quantity Details </h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
              <div class="row">
              <div class="col-md-12 ">
              <div class="form-group">     
<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
                <th> Quantity Raised at</th>
                <th>Quan issued at HOD</th>
                <th>Quan issued at Plant</th>
                <th>Quan issued at Store</th>
                </tr>
</thead>
<tbody id="showDetails">
 {%set k = 0%}
  {% for d in e['history'] %}
      <tr>
         
          <td>
            {% if e['history'][0]["level1"][k]  %}
            {{ e['history'][0]["level1"][k] }}
            {% endif %}
          </td>
          <td>
            {% if e['history'][0]["level2"][k] %}
            {{ e['history'][0]["level2"][k] }}
            {% endif %}
          </td>
          <td>
            {% if e['history'][0]["level3"][k] %}
            {{ e['history'][0]["level3"][k] }}
            
            {% endif %}
          </td>
          <td>
            {% if e['history'][0]["level4"][k]  %}
            {{ e['history'][0]["level4"][k] }}
            {% endif %}
          </td>
        
         
      </tr>
      {%set k = k+1%}
     {% endfor %}
  
</tbody>
</table>
 
</div>
          </div>
          </div>
          </div>
    
      
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
  
    </div>
  </div>
</div>
</td>
      <td>
        {% if e['voucher'][0]['MBLNR'] %}
        {{ e['voucher'][0]['MBLNR'] }}
        {% endif %}
      </td>
       <td>
   {% if e['pr_appliedon'] %}
        {{e['pr_appliedon'].strftime('%d-%m-%Y')}}
          {% endif %}
      </td>

    
      <td>
           {% if e['P_ARBPL'] %}
        {{e['P_ARBPL']}}
          {% endif %}
      </td>
              <td>
   {% if e['current_holder'] %}
        {{e['current_holder']}}
          {% endif %}
      </td>
      <td>
      {% if e['functionlocation'] != '' %}
        {{e['functionlocation']}}
        {% else %}
        {{e['equip_funcloc']}}
        {% endif %}  
    </td>
    <td>
        {% if e['equipment'] %}
        {{e['eqp_desc']}}--
        {{e['equipment']}}
        {% endif %}  
    </td>
    <td>
        {% if e['costcenter']%}
        {{e['cost_center_desc']}}--
        {{e['costcenter']}}
        {% endif %} 
    </td>    
    <td>
        {% if e['wbs_element'] %}
        {{e['short_desc']}}--
        {{e['wbs_element']}}
        {% endif %}  
    </td>
       <td>
  {% if e['employee_name'] %}
        {{e['employee_name']}}
          {% endif %}
      </td>
      
      </tr>
{% set i=i+1 %}
{%endfor%}

 </tbody></table>












      </div>                      
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
      

{% endblock %}    
{% block scripts %}

  <script type="text/javascript">
document.getElementById('id-23').className ="active";
    </script>

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">


 $('#table').DataTable( {
      "scrollX": "100%",
      "scrollCollapse": true,
      "scrollY": "400px",
      "iDisplayLength": 50,
      "bSort": false,
      "retrieve": true,
       "columnDefs": [
    { "width": "10%", "targets": 0},
    { "width": "10%", "targets": 1},
    { "width": "10%", "targets": 2},
    { "width": "12%", "targets": 3},
    { "width": "20%", "targets": 4},
    { "width": "10%", "targets": 5},
    { "width": "10%", "targets": 6},
    { "width": "15%", "targets": 7},
    { "width": "15%", "targets": 8}

  ]
    } );     

</script>

{% endblock %}
