{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->
 <style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Leave Report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
 
     <script type="text/javascript">
		document.getElementById('id-2').className ="nav-parent nav-active active";
		document.getElementById("a").style.display = "block";
		document.getElementById('id-2.9').className ="active";
    </script>
      

<div class="row">
        
        <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="/leave/newholdleaves/" method="POST" id="apl">
							<div class="col-xs-12 col-md-3">                  
						  	<div class="form-group">
						  	<label for="start_date">Select Plant</label>
						 		 <select id="selct1" class="form-control selct1" name="plant_id" style="width:150px" onchange = "ShowHideDiv()">
					   										<option value="">&nbsp;</option>
											            	<option value="HY">HY</option>
											            	<option value="BP">BP</option>
											            	<option value="TC">TC</option>
											            	<option value="GC">GC</option>
															<option value="TA">TA</option>
											            	<option value="GP">GP</option>
															<option value="EMPID"> EMPID</option>
															
											        </select> 
													<br>
													<div id="employee"  style="display: none">
														<label>Employee ID</label>
														<input class="form-control model" style="width: 150px;height: 35px;" type="text" id="employee_id" name="employee_id" required>
													</div>
									</div>
									</div>
									
							
					<div class="col-xs-12 col-md-3">                  
						  	<div class="form-group">
						  	<label for="start_date">Leave Type</label>
						 		 <select id="selct" class="form-control selct" name="ltype" style="width:150px">
					   										<option value="">&nbsp;</option>
											            	<option value="CL">CL</option>
											            	<option value="SL">SL</option>
											            	<option value="LWP">LWP</option>
											            	<option value="EL">EL</option>
															<option value="1">Tour</option>
															<option value="2">On-Duty</option>
															
											        </select>     
							</div>
						</div>
                                      <div class="col-xs-12 col-md-3">
                  <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div><br>
                  </div>
                   <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
					</div>
				  <div class="col-xs-6 col-md-2 col-md-offset-5"> 
                   <div class="form-group">
                   <br>
                        <input type="submit"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                       </div>
                   </div>
                  
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
</div><!-- row -->


<div class="row">
<div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Hold Leaves</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">

        <script type="text/javascript">

        $(document).ready(function(){

        $('#hold').on('click', function (e, confirmed) {
           if (!confirmed) {
                e.preventDefault();
                bootbox.confirm("Are you sure you want to hold ?", function (response) {
                    if (response) {
                        $('#hold').trigger('click', true);
                    }
                });
            }

          });

        $('#unhold').on('click', function (e, confirmed) {
           if (!confirmed) {
                e.preventDefault();
                bootbox.confirm("Are you sure you want to unhold ?", function (response) {
                    if (response) {
                        $('#unhold').trigger('click', true);
                    }
                });
            }

          });


         });

        </script>   
<div class="col-lg-12">
<div class="portlet-content">   
<div class="table-responsive">
<form action='' method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Leave Reason</th>
				<!-- <th>Applied Date </th> -->
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Action</th>
            </tr>
			
        </thead>
 
 
        <tbody>
          {% for e in employee_att %}
            <tr>
                <td>{{ e['employee_id']}}</td>
                <td>{{ e['fullname']|capitalize()}}</td>
                <td>{{e['attribute']|capitalize()}}-{{ e['leave']}}</td>  
                <td>{{ e['reason']}}</td>
				<!-- <th>{{ e['applied_time'] }}</th> -->
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
				On-{{e['start_date']}}-1st Half and 2nd Half of-{{ e['end_date']}} <br>
				{% if e['from_time'] %} 
				 {{e['from_time']}} Hours  - {{e['to_time']}} Hours
				
				{% endif %}
                 {% else %}
                 {% if e['halfdays'][0] == '1' %} 
                 1st Half of -{{ e['start_date']}} <br>
				 {% if e['from_time'] %} 
				 {{ e['from_time'] }} Hours  - {{e['to_time']}}  Hours
                 
				{% endif %}
				{% else %}
                 2nd Half of - {{ e['end_date']}} <br>
				 {% if e['from_time'] %} 
				 {{ e['from_time'] }} Hours  - {{e['to_time']}}  Hours
                 
				{% endif %}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
                  <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="leaveid" />
				  <input type="hidden" value="{{ row}}" name="form_emp_id" />
             {% if e['hr_status']== 'unhold' %}
             <input name="submit"  type="submit" class="btn btn-warning tooltips" data-placement="top" data-original-title="Hold"  id="hold" value="Hold" />
             {% elif e['hr_status']== 'hold' %}
              <input name="submit" type="submit" class="btn btn-success tooltips" data-placement="top" data-original-title="Unhold "  id="unhold" value="Unhold" />             
             {% endif %}
           </form>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    </form>
    </div>
</div>
</div>
</div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
</div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<!-- <script src="/static/js/excellentexport.js"></script> -->
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $("#start_date").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onSelect:function(selected){
      $("#end_date").datepicker("option","minDate", selected)
    }
  });
  $("#end_date").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)

}
});
});

</script>

<script type="text/javascript">
    function ShowHideDiv() {
        var sel_emp = document.getElementById("selct1");
        var emp = document.getElementById("employee");
        emp.style.display = sel_emp.value == "EMPID" ? "block" : "none";
    }
</script>

<script>
var $selct1 = $('#selct1'), $employee_id = $('#employee_id');
$selct1.change(function () {
    if ($selct1.val() == 'EMPID') {
        $employee_id.removeAttr('disabled');
    } else {
        $employee_id.attr('disabled', 'disabled').val('');
    }
}).trigger('change'); 
</script>

<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls_pdf.swf",
           "aButtons": [
            {'sExtends':'copy',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'xls',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'pdf',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
             
          ]
        },
    } );
} );

</script>

{% endblock %}

