{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dzscalendar.css" rel="stylesheet">
<!-- <link href="/static/css/dzstooltip.css" rel="stylesheet"> -->
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i <i class="fa fa-list-alt"></i>Holidays List</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<style type="text/css">
  .table-hover{
    width:100%;
    border-collapse:collapse;
  }
  .table-hover td{
    padding: 7px;border:#4e95f4 1px solid;
  }
  .table-hover tr{
    background: #b8d1f3;
  }
  .table-hover tr:nth-child(odd){
    background: : #b8d1f3;
  }
  .table-hover tr:nth-child(even){
    background: #dae5f4;
  }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  
    <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.10').className ="active";
    </script>
      
<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">List of Holidays in {{year}}</h4>
        </div><!-- panel-heading -->
        <div class="panel-body">
         
<div class="row">
<form id='form-id'>
 <div class="col-md-12" >
  <div class="col-xs-12 col-md-4">
  </div>

<div class="col-xs-12 col-md-4">
  <div class="radio-inline">
<label>
  <input type="radio" name="leave" id="leave1" value="1" checked="checked" > Current Month Holidays
</label>         
</div>
    <div class="radio-inline">
       <label>
  <input type="radio" name="leave" id="leave2" value="2" > All Holidays
</label>
</div>
</div>
</div>
</form>
<div class="col-md-12" id="show-me" style='display:none'>
  <div  class="col-xs-12 col-md-4">
  </div>
  <div class="col-xs-12 col-md-4">
	<table class="table table-bordered table-hover">
	  <tr class="active text-center"><th class="text-center">Date</th><th class="text-center">Holiday</th></tr>
	  {% for docs in year_holidays %}
	  <tr>
	    <td class="text-center">{{docs['date']}}</td>
	    <td class="text-center">{{docs['holiday']}}</td>
	  </tr>
	  {%endfor%}
	</table>
	</div>
</div>
<div class="col-md-12" id="show-month">
  <div  class="col-xs-12 col-md-4">
  </div>
  <div class="col-xs-12 col-md-4">

  {% if month_holidays == [] %}
   <table class="table table-bordered table-hover">
      <tr>
       <td class="text-center">No holiday in current month</td>
      </tr>
     </table>
  {% else %}
    
    <table class="table table-bordered table-hover">
     <tr class="active text-center"><th class="text-center">Date</th><th class="text-center">Holiday</th></tr>
     {% for docs in month_holidays %}
     <tr>
     <td class="text-center">{{docs['date']}}</td>
      <td class="text-center">{{docs['holiday']}}</td>
   </tr>
     {%endfor%}
   </table>
  
  {% endif %}
  </div>

    </div>
                                       
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
<script type="text/javascript">
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        if($(this).attr("id")=="leave1"){
            $("#show-me").hide();
            $("#show-month").show();
            

            
        }
        if($(this).attr("id")=="leave2"){
            $("#show-me").show();
            $("#show-month").hide();
           

        }
        
    });
});
</script>

      
{% endblock %}
