{% extends "base.html" %}
{% block pageheader %}  
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  -->
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
    <div class="pageheader">
      <h2><i class="fa fa-money"></i>Attendance Report</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
<style type="text/css">
  #preloder{
    background-color: rgba(228, 231, 234, 0.27) !important;
  }
</style>

<!-- Function to preview pdf after selecting year and respective month with last six month duration-->

<script type="text/javascript">
/*function to download the previewed pdf */ 

function down()
{

 window.open("/static/attendance_reports/annexure4.xlsx",'_blank');

}
</script>




<style type="text/css">
.input-sm1
{
  width:100px;
}
</style>
      
      <div class="panel panel-default">
        <div class="panel-heading">
         
          <h4 class="panel-title">Attendance Report Per Day(Annexure 5)</h4>
           </div><!-- panel-heading -->

        <div class="panel-body">
        <div class="alert alert-success alert-dismissible" id="return_msg" role="alert" hidden>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <p id="alrt_msg"> </p> 
        
       </div>
           <div class="row">           
              <div class="col-xs-12 col-md-12">
                <div class="row">
                <div class="col-xs-12 col-md-6">
                  <form  action="" autocomplete="off" id="attendance_report" method="POST" enctype="multipart/form-data">
                <div class="col-xs-12 col-md-4">
                  <div class="form-group">
                    <label for="start_date">Report Date</label>
                      <input id="start_date" type="text" name="start_date" value='' class="form-control start_date myinput" required>
                  </div><br>
                  </div>
                   <!-- <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' class="form-control end_date myinput" required></div>
          </div> -->

          <div class="col-xs-6 col-md-6"> 
                   <div class="form-group">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Generate Morning Report"/> 
                       </div>
                   </div>

                  
</form>     
</div>
<div class="col-xs-12 col-md-6">
 <form  action="" autocomplete="off" id="attendance_report_evening" method="POST" enctype="multipart/form-data">                  
                <div class="col-xs-12 col-md-4">
                  <div class="form-group">
                    <label for="start_date1">Report Date</label>
                      <input id="start_date1" type="text" name="start_date" value='' class="form-control start_date myinput" required>
                  </div><br>
                  </div>
                   <!-- <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' class="form-control end_date myinput" required></div>
          </div> -->

          <div class="col-xs-6 col-md-6"> 
                   <div class="form-group">
                   <label for="">&nbsp</label>
                        <input type="submit"  name="submit" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Generate Evening Report"/> 
                       </div>
                   </div>

                  
</form>    
</div>
  <span></span>
                 <!--  <div class="col-xs-6 col-md-2"> 
                  <div class="form-group" style="margin-top:5px">
                     <br>
                    <button type="button" id ="down" class="btn btn-primary btn-sm glyphicon glyphicon-download-alt" onclick=""> Download </button>
                    </div>
                   </div> -->


</div>

<form id='send_mail' method="POST" enctype="multipart/form-data">
<input id="" type="text" name="saved_file" value='annexure5_morning' class="form-control end_date myinput" style="display:none">
          <div class="col-xs-6 col-md-8"> 
                   <div class="form-group">
                   <label for="">Reveivers Emails seperated by ' , '</label>
                         <input id="receivers" type="text" name="receivers" value='' class="form-control start_date myinput" required>
                       </div>
                   </div>
                  <div class="col-xs-6 col-md-2"> 
                  <div class="form-group" style="margin-top:5px">
                     <br>
                     <input type="submit"  name="send_mail" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Send Report"/>
                    </div>
                   </div>
                   </form>
                   <form id='send_mail_evening' method="POST" enctype="multipart/form-data">
<input id="" type="text" name="saved_file" value='annexure5_evening' class="form-control end_date myinput" style="display:none">
          <div class="col-xs-6 col-md-8"> 
                   <div class="form-group">
                   <label for="">Reveivers Emails seperated by ' , '</label>
                         <input id="receivers" type="text" name="receivers" value='' class="form-control start_date myinput" required>
                       </div>
                   </div>
                  <div class="col-xs-6 col-md-2"> 
                  <div class="form-group" style="margin-top:5px">
                     <br>
                     <input type="submit"  name="send_mail" class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="Send Report"/>
                    </div>
                   </div>
                   </form>
                  
                </div>
              </div>
          </div>
        </div>
        </div>    

      

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
  $(document).ready(function(){ 

    $('#start_date').datepicker({
      autoclose: true,
      format: "yyyy-mm-dd",
      endDate:'+0d',
    });
    $('#start_date1').datepicker({endDate:new Date,
    autoclose: true,
    format: "yyyy-mm-dd",
    endDate:'+0d',
});


  });



    $(document).ready(function(){ 
      $('#alrt_msg').html('');
      $('#send_mail').hide();
       $('#send_mail_evening').hide();
      $("#attendance_report").submit(function(e){ 
  e.preventDefault();

var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/daily_report/",
             dataType: "json",
            data: datastring,
            success: function(data) {

              console.log(data);
              if (data['msg']=="error"){
                  $('#return_msg').addClass("alert-danger");
                $('#alrt_msg').html('Unable To Generate Report.Please Try Again.');
                 $('#return_msg').show();
              }else{
                $('#alrt_msg').html(data['msg']);
                 $('#return_msg').show();
                 $('#send_mail').show();
                 $('#attendance_report').hide();
                 $('#attendance_report_evening').hide();
               
              }
            }
          });
      });

$("#attendance_report_evening").submit(function(e){ 
  e.preventDefault();

var datastring=$(this).serialize();
console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/daily_report_evening/",
             dataType: "json",
            data: datastring,
            success: function(data) {

              console.log(data);
              if (data['msg']=="error"){
                  $('#return_msg').addClass("alert-danger");
                $('#alrt_msg').html('Unable To Generate Report.Please Try Again.');
                 $('#return_msg').show();
              }else{
                $('#alrt_msg').html(data['msg']);
                 $('#return_msg').show();
                 $('#send_mail_evening').show();
                 $('#attendance_report_evening').hide();
                 $('#attendance_report').hide();
               
              }
            }
          });
      });

    });



    $(document).ready(function(){ 
      $("#send_mail").submit(function(e){ 
  e.preventDefault();
  var datastring=$(this).serialize();
        console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/send_mail/",
            dataType: "json",
            data: datastring,
            success: function(data) {
              console.log(data);

              if (data['msg'] !="success"){
                  $('#return_msg').addClass("alert-danger");
                $('#alrt_msg').html(data['msg']);
                 $('#return_msg').show();
                 $('#send_mail').hide();
                 $('#attendance_report').show();
                 $('#attendance_report_evening').show();
              }else{
                $('#alrt_msg').html("Mail Sent Successfully");
                 $('#return_msg').show();
                 $('#send_mail').hide();
                  $('#attendance_report').show();
                  $('#attendance_report_evening').show();
              }
            }
          });
      });

     $("#send_mail_evening").submit(function(e){ 
  e.preventDefault();
  var datastring=$(this).serialize();
        console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/attendance/send_mail/",
            dataType: "json",
            data: datastring,
            success: function(data) {
              console.log(data);

              if (data['msg'] !="success"){
                  $('#return_msg').addClass("alert-danger");
                $('#alrt_msg').html(data['msg']);
                 $('#return_msg').show();
                 $('#send_mail').hide();
                 $('#attendance_report').show();
                 $('#attendance_report_evening').show();
              }else{
                $('#alrt_msg').html("Mail Sent Successfully");
                 $('#return_msg').show();
                 $('#send_mail_evening').hide();
                  $('#attendance_report').show();
                  $('#attendance_report_evening').show();
              }
            }
          });
      });

    });

$( document ).ajaxStart(function() {
  $( ".preloaderl" ).show();
  $(".statusl").show();
});

$( document ).ajaxStop(function() {
  $( ".preloaderl" ).hide();
  $(".statusl").hide();
});


</script>

  <script type="text/javascript">
  document.getElementById('id-att_rep.0').className ="nav-parent nav-active active";
      document.getElementById("attendance").style.display = "block";
document.getElementById('id-att_rep.5').className ="active";
    </script>

{% endblock %} 
