{% extends "base.html" %}
{% block links %}
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">


 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>HR Policy Documents</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<!-- <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
 

<div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">HR Policy</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
               
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        <thead>                  

              <tr >
                <th >Policy Name</th>
               <!--  <th style="text-align: center;">Plant Name</th> -->
                <!-- <th style="text-align: center;">Department Name</th> -->
                <th style="text-align: center;">Document View</th>
                
                <th style="text-align: center;">Form Download</th>
            </tr>
        </thead>

        <tbody>
          
            {% for docs in all_docs %}
            <tr>
                <td align="left">{{docs['filename']}}</td>
               <!--  <td align="left">{{docs['plant_id']}}</td> -->
                <!-- <td align=";eft">{{docs['dept_name']}}</td> -->
                <td align="center">
                  {%if docs['file_ext']=="pdf"%}
                  
                    <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="25" /></a>
                    
                  {%else%}
                     <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="25" /></a>
                    
                    {%endif%}
                   
                 </td>

                <td align="center">
                  {%if docs['filename'] =="Medical & LTA.pdf"%}
                 <a href="/static/HR_Policies/LTA.PDF" target="_blank"><img src="/static/images/pdficon.png" width="30" height="25" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/static/HR_Policies/Med. Reimbur. Form.pdf" target="_blank"><img src="/static/images/pdficon.png" width="30" height="25" /></a>
                 {%endif%}
                 {%if docs['filename'] =="Travel Reimburs.pdf"%}
                 <a href="/static/HR_Policies/On-Tour.PDF" target="_blank"><img src="/static/images/pdficon.png" width="30" height="25" /></a>
                 {%endif%}
                </td>

            </tr>
{% endfor %}
        </tbody>
    </table>
    
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 
{% endblock%}
{% block scripts %}


<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>


<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        
        
    } );
} );
</script>
<script>
$(document).ready(function() {
  $('.material').select2({
      placeholder: ' ',
      allowClear: true,
      ajax: {
          url: "/user/departmentlist",
          dataType: 'json',
          quietMillis: 100,
          data: function() {
            return {mtype:$('#Desription').val()};
          },
          results: function(data) {
            return { results: data.results }
          }

      },
      formatResult: function(excercise) {
        return "<div class='select2-user-result' value="+excercise.dept_pid+">"+excercise.dept+" </div>";
      },
      id: function(excercise){
        return excercise.dept;
      },
      formatSelection: function(excercise) {
        console.log(excercise.dept);
        $("#material").val(excercise.dept_pid);
        return excercise.dept; 
      },
      
    });
});
</script>
<script type="text/javascript">
  
/*function validateForm(){
    if( $('#material').val())
    var deptvalue = $('#material').val();
    if(deptvalue!=""){
                submit = true;
        } else {
            bootbox.alert("Please Select Department");
            submit = false;
            return false;
            }
  };*/

</script>
<script src="js/charts.js"></script>
  <script type="text/javascript">
  document.getElementById('id-50').className ="nav-parent nav-active active";
      document.getElementById("l").style.display = "block";
document.getElementById('id-50.2').className ="active";
    </script>
</script>
{% endblock %} 