{% extends "base.html" %}
{% block links %}
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>IMS DOCUMENTS</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<!-- <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
   <script type="text/javascript">
   document.getElementById('id-31').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral').style.display = "block";
  document.getElementById('id-31.5').className ="active";
  document.getElementById('n4').style.display = "block";
  document.getElementById('id-31.5.1').className ="active";
</script>



<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Upload IMS L3 - WI/SOP </h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" enctype="multipart/form-data">


          <div class="col-md-12" >
           <div class="col-md-12 col-md-4" >
                  <select  id="Desription" class="form-control description" name="plant_id">{% for m in all_plants%}<option value="{{m.plant_id}}" >{{m.plant_desc}}</option> {% endfor %} </select>
                    
        </div>
        <div id='attachdocsGroup' class="col-xs-12 col-md-4">
        <div id="DocumentDiv" style="height:auto;">

          <input type="file" id="file1" accept="application/pdf/doc/docx/xlsm/xlsx" class="form-control input-sm" name="file1" required/>
        </div>
        
        </div>
        <div class="col-md-12 col-md-4" >
        <input class="form-control material" id="material" name="dept_id" value="" placeholder="Department" required>
        </div>
      
        </div>
        <br>
        <br>
        <br>
        <br>
    
    <div class="col-md-12" >
    <div  class="col-xs-12 col-md-2"></div>

        <div  class="col-xs-12 col-md-3">
          <input type='button' value='Add Fields' id='addButton' class="btn btn-primary btn-xs">
        </div>
        <div  class="col-xs-12 col-md-3">
        <!-- <button  type="submit" name="submit" value="Upload" id="sub_doc" class="btn btn-primary search">
                        Upload</button> -->
        </div>
        <div  class="col-xs-12 col-md-3">
          <input type='button' value='Remove Fields' id='removeButton' class="btn btn-primary btn-xs">
        </div>
      </div>
      
        
    
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Upload" id="sub_doc" class="btn btn-primary search">
                        Upload</button>
                      </div>  
                 </div>  
   </div>
        
      
</form> 


<script type="text/javascript">
  $(document).ready(function(){ 
    
    $('#sub_doc').click(function(){ 
    var material=$('#material').val();
    if (material == ""){

      bootbox.alert("please select department");
  }


});
  });
</script>
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{%if all_docs%}
  <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">IMS L3 - WI/SOP</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
               
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        <thead>                  

              <tr >
                <th style="text-align: center;">File Name</th>
                <th style="text-align: center;">Plant Name</th>
                <th style="text-align: center;">Department Name</th>
                <th style="text-align: center;">Action</th>
                
            </tr>
        </thead>

        <tbody>
          
            {% for docs in all_docs %}
            <tr>
                <td align="left">{{docs['filename']}}</td>
                <td align="left">{{docs['plant_name']}}</td>
                <td align="left">{{docs['dept_name']}}</td>
                <td align="center">
                  {%if docs['file_ext']=="pdf"%}
                  
                    <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View"   ><font size="1"><i class="fa fa-eye"></i></font></button></a>
                    
                  {%else%}
                 
                    <a href="{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View"   ><font size="1"><i class="fa fa-eye"></i></font></button></a>
                    
                    {%endif%}
                    <form  method="POST">
                        <input type="hidden" value="{{docs['tag']}}" name="tag_name" /> 
                        <input type="hidden" value="{{docs['filename']}}" name="filename" /> 
                        <input type="hidden" value="{{docs['plant_id']}}" name="plant_id" /> 
                         
                          <button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Delete" id="disagree{{i}}" value="Delete"   ><font size="1">✖</font></button>
                
               </form>
                 </td>
                 
                

            </tr>
{% endfor %}
        </tbody>
    </table>
    
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 

{%endif%}
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>

<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        
        
    } );
} );

</script>

<script type="text/javascript">
  $(document).ready(function(){

    var counter = 2;
    
    $("#addButton").click(function () {
        
  if(counter>5){
            bootbox.alert("Only 5 textboxes allow");
            return false;
  }   
    
  /*var newTextBoxDiv = $(document.createElement('div'))
       .attr("id", 'TextBoxDiv' + counter);



                
  newTextBoxDiv.after().html(
        '<input type="text" class="form-control" name="text' + counter + 
        '" id="text' + counter + '" value="" maxlength="15"  placeholder="Enter File Name" required>');
            
  newTextBoxDiv.appendTo("#TextBoxesGroup");*/


  var newDocumentDiv = $(document.createElement('div'))
       .attr("id", 'DocumentDiv' + counter);

  
                
  newDocumentDiv.after().html(
    '<input type="file" accept="application/pdf/doc/docx/xlsm/xlsx" class="form-control input-sm" " id="file' + counter + '"  name="file'+counter+'"required/>');
    

            
  newDocumentDiv.appendTo("#attachdocsGroup");

        
  counter++;
     });

     $("#removeButton").click(function () {
  if(counter==1){
          bootbox.alert("No more textbox to remove");
          return false;
       }   
        
  counter--;
      
        /*$("#TextBoxDiv" + counter).remove();*/
        $("#DocumentDiv" + counter).remove();
      
     });
    
     $("#getButtonValue").click(function () {
    
  var msg = '';
  for(i=1; i<counter; i++){
      msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
  }
        bootbox.alert(msg);
     });
  });
</script> 
<script type="text/javascript">
  
</script>


<script>
$(document).ready(function() {
  $('.material').select2({
      placeholder: ' ',
      allowClear: true,
      ajax: {
          url: "/user/departmentlist",
          dataType: 'json',
          quietMillis: 100,
          data: function() {
            return {mtype:$('#Desription').val()};
          },
          results: function(data) {
            return { results: data.results }
          }

      },
      formatResult: function(excercise) {
        return "<div class='select2-user-result' value="+excercise.dept_pid+">"+excercise.dept+" </div>";
      },
      id: function(excercise){
        return excercise.dept;
      },
      formatSelection: function(excercise) {
        console.log(excercise.dept);
        $("#material").val(excercise.dept_pid);
        return excercise.dept; 
      },
      
    });
});
</script>
<script type="text/javascript">
  
function validateForm(){
    if( $('#material').val())
    var deptvalue = $('#material').val();
    if(deptvalue!=""){
                submit = true;
        } else {
            bootbox.alert("Please Select Department");
            submit = false;
            return false;
            }
  };

</script>
{% endblock %} 