{% extends "base.html" %}
{% block links %}
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet"> -->
 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>IMS DOCUMENTS</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<!-- <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
    <script type="text/javascript">
   document.getElementById('id-31').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral').style.display = "block";
  document.getElementById('id-31.1').className ="active";
  document.getElementById('n').style.display = "block";
  document.getElementById('id-31.1.1').className ="active";
</script>
<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Upload IMS Standard Documents</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" enctype="multipart/form-data">


          <div class="col-md-12" >
          <div id='TextBoxesGroup' class="col-xs-12 col-md-3">
          </div>
             <div class="col-md-12 col-md-2" >
                   <select id="selct1" class="form-control selct1" name="tag_name" style="width:150px" required>
                                    <option value="">Select Document</option>
                                    <option value="ISO_9001">ISO 9001</option>
                                    <option value="ISO_14001">ISO 14001</option>
                                    <option value="OHSAS_18001">OHSAS 18001</option>
                              </select> 
        </div>
  
      
      <div id='attachdocsGroup' class="col-xs-12 col-md-3">
        <div id="DocumentDiv">

          <input type="file" id="file1" accept="application/pdf" class="form-control input-sm" name="file1" required />
        </div>
        
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Upload" class="btn btn-primary search" >
                        Upload</button>
                      </div>  
                 </div>  
   </div>
        
      
</form> 
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{%if all_docs%}
<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">IMS Standard Documents</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
          <div class="col-md-12" >

            <h4><strong>{{Message}}</strong></h4>
          
          </div>
       
           
          <div class="col-md-12" >
            {% for docs in all_docs %}
            <div class="col-xs-12 col-md-3" >
              <div class="row1">
                <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="70" height="60" /></a>
              </div>
              <div class='row2'>
                <h4>{{docs['filename']}}</h4>
              </div>
              <div class='row3'>
              <div class="col-md-2">
                <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View"   ><font size="1"><i class="fa fa-eye"></i></font></button></a>
                </div>
              <form  method="POST">
               <input type="hidden" value="{{docs['tag']}}" name="tag_name" />
                <div class="col-md-6 col-xs-3">
                <button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Delete" id="disagree{{i}}" value="Delete"   ><font size="1">✖</font></button>
                </div>
               </form>
              </div>
                
           </div>
           {% endfor %}
         
        </div>

       
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{%endif%}

<!-- <script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> -->
{% endblock %} 