{% extends "base.html" %}
{% block links %}

 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>IMS DOCUMENTS</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   

 <script type="text/javascript">
   document.getElementById('id-31').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral').style.display = "block";
  document.getElementById('id-31.4').className ="active";
  document.getElementById('n3').style.display = "block";
  document.getElementById('id-31.4.2').className ="active";
</script>

<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">IMS L2 - Procedure Manual Document Search</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        <form  action="" method="POST" enctype="multipart/form-data">
          <div class="col-md-12" >
            <div class="col-md-12 col-md-4" ></div>
           <div class="col-md-12 col-md-3" >
                  <select  id="Desription" class="form-control description" name="plant_id">{% for m in all_plants%}<option value="{{m.plant_id}}" >{{m.plant_desc}}</option> {% endfor %} </select>
                    
        </div>
          </div>

        <br>
        <br>
        <br>
        <br>
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="sub_doc" class="btn btn-primary search">
                        Search</button>
                      </div>  
                 </div>  
        </div>
        </form>
        </div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->


{% if all_docs %}
<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">IMS L2 - Procedure Manual Document</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
          <div class="col-md-12" >
            {% for docs in all_docs %}

            
            <div class="col-xs-12 col-md-3" >
              <br>
              <div class="row1">
                <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="75" height="65" /></a>
              </div>
              <div class='row2'>
                Plant : {{docs['plant_id']}}<br>
                {{docs['filename']}}
              </div>
               <div class='row3'>
                 <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View"  style="height:30px; width:75px;align=center"  ><font size="2">View</font></button></a>
                

              </div>
                
           </div>
           {% endfor %}
         
        </div>

       
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{%endif%}





{% endblock %} 