{% extends "base.html" %}
{% block links %}
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>IMS DOCUMENTS</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<!-- <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
   <script type="text/javascript">
   document.getElementById('id-31').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral').style.display = "block";
  document.getElementById('id-31.5').className ="active";
  document.getElementById('n4').style.display = "block";
  document.getElementById('id-31.5.2').className ="active";
</script>



<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Search IMS L3 - WI/SOP</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" enctype="multipart/form-data">


          <div class="col-md-12" >
          <div class="col-md-12 col-md-3" ></div>
           <div class="col-md-12 col-md-3" >
                  <select  id="Desription" class="form-control description" name="plant_id">{% for m in all_plants%}<option value="{{m.plant_id}}" >{{m.plant_desc}}</option> {% endfor %} </select>
                    
        </div>
        <div class="col-md-12 col-md-4" >
        <input class="form-control material" id="material" name="dept_id" value="" placeholder="Department">
        </div>
        </div>
      
   
      
        
    <br>
    <br>
    <br>
    <br>
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="sub_doc" class="btn btn-primary search">
                        Search</button>
                      </div>  
                 </div>  
   </div>
        
      
</form> 


<script type="text/javascript">
  /*$(document).ready(function(){ 
    
    $('#sub_doc').click(function(){ 
    var material=$('#material').val();
    if (material == ""){

      bootbox.alert("please select department");
  }


});
  });*/
</script>
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->

<div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">IMS L3 - WI/SOP</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">

<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        <thead>                  

              <tr >
                <th style="text-align: center;">File Name</th>
                <th style="text-align: center;">Plant Name</th>
                <th style="text-align: center;">Department Name</th>
                <th style="text-align: center;">Action</th>
                
            </tr>
        </thead>

        <tbody>
          
            {% for docs in all_docs %}
            <tr>
                <td align="left">{{docs['filename']}}</td>
                <td align="left">{{docs['plant_name']}}</td>
                <td align="left">{{docs['dept_name']}}</td>
                <td align="center">
                  {%if docs['file_ext']=="pdf"%}
                  
                    <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View" style="height:30px; width:75px;align=center"><font size="2">Download</font></button></a>
                    
                  {%else%}
                 
                     <a href="{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View" style="height:30px; width:75px;align=center"  ><font size="1"><font size="2">Download</font></button></a>
                    
                    {%endif%}
                   
                 </td>
                 
                

            </tr>
{% endfor %}
        </tbody>
    </table>
    
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 



<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>


<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        
        
    } );
} );
</script>



<script>
$(document).ready(function() {
  $('.material').select2({
      placeholder: ' ',
      allowClear: true,
      ajax: {
          url: "/user/departmentlist",
          dataType: 'json',
          quietMillis: 100,
          data: function() {
            return {mtype:$('#Desription').val()};
          },
          results: function(data) {
            return { results: data.results }
          }

      },
      formatResult: function(excercise) {
        return "<div class='select2-user-result' value="+excercise.dept_pid+">"+excercise.dept+" </div>";
      },
      id: function(excercise){
        return excercise.dept;
      },
      formatSelection: function(excercise) {
        console.log(excercise.dept);
        $("#material").val(excercise.dept_pid);
        return excercise.dept; 
      },
      
    });
});
</script>
<script type="text/javascript">
  
/*function validateForm(){
    if( $('#material').val())
    var deptvalue = $('#material').val();
    if(deptvalue!=""){
                submit = true;
        } else {
            bootbox.alert("Please Select Department");
            submit = false;
            return false;
            }
  };
*/
</script>
{% endblock %} 