{% extends "base.html" %}
{% block links %}
<!-- <link href="/static/css/datepicker_ui.min.css" rel="stylesheet"> -->
 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>IMS DOCUMENTS</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<!-- <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
   <script type="text/javascript">
   document.getElementById('id-31').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral').style.display = "block";
  document.getElementById('id-31.4').className ="active";
  document.getElementById('n3').style.display = "block";
  document.getElementById('id-31.4.1').className ="active";
</script>

<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Upload IMS L2 Procedure Manual </h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" enctype="multipart/form-data">


          <div class="col-md-12" >
           <div class="col-md-12 col-md-4" >
              
                   <select id="selct1" class="form-control selct1" name="plant_id" style="width:150px" required>

                                    <option value="">Select Plant</option>
                                    <option value="HY">Head Office</option>
                                    <option value="BP">Boyareddypalli</option>
                                    <option value="TC">Talaricheruvu</option>
                                    <option value="GC">Ganeshpahad</option>
                                    <option value="TA">Tandur</option>
                                    <option value="GP">Ganashpahad power</option>
                              
                              
                              </select> 
                 
                    
        </div>
          
      
      <div id='attachdocsGroup' class="col-xs-12 col-md-4">
        <div id="DocumentDiv">

          <input type="file" id="file1" accept="application/pdf" class="form-control input-sm" name="file1" />
        </div>
        
        </div>
    </div>
    <div class="col-md-12" >
          <div class="col-md-12 col-md-2" >
          </div>
        <div  class="col-xs-12 col-md-7">
          <input type='button' value='Add Fields' id='addButton' class="btn btn-primary btn-xs">
        </div>
        <div  class="col-xs-12 col-md-3">
          <input type='button' value='Remove Fields' id='removeButton' class="btn btn-primary btn-xs">
        </div>
      </div>
      
        
    <br>
    <br>
    <br>
    <br>
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Upload" class="btn btn-primary search">
                        Upload</button>
                      </div>  
                 </div>  
   </div>
        
      
</form> 
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{%if all_docs%}
<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">IMS L2 Procedure Manual Document</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
          <div class="col-md-12" >

            
          
          </div>
       
           
          <div class="col-md-12" >
            {% for docs in all_docs %}
            
            <div class="col-xs-12 col-md-3" >
              <br>
              <div class="row1">
                <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="70" height="60" /></a>
              </div>
              <div class='row2'>
                <h4>Plant : {{docs['plant_id']}}<br>
                {{docs['filename']}}</h4>
              </div>
              <div class='row3'>
              <div class="col-md-2">
                <a href="/static/ViewerJS/index.html#../..{{"/user/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><button  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="View"  value="View"   ><font size="1"><i class="fa fa-eye"></i></font></button></a>
                </div>
              <form  method="POST">
              <input type="hidden" value="{{docs['tag']}}" name="tag_name" /> 
              <input type="hidden" value="{{docs['filename']}}" name="filename" /> 
              <input type="hidden" value="{{docs['plant_id']}}" name="plant_id" /> 
                <div class="col-md-6 col-xs-3">
                <button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Delete" id="disagree{{i}}" value="Delete"   ><font size="1">✖</font></button>
                </div>
               </form>
              </div>
                
           </div>
           {% endfor %}
         
        </div>

       
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{%endif%}
<script type="text/javascript">
  $(document).ready(function(){

    var counter = 2;
    
    $("#addButton").click(function () {
        
  if(counter>5){
            alert("Only 5 textboxes allow");
            return false;
  }   
    
  /*var newTextBoxDiv = $(document.createElement('div'))
       .attr("id", 'TextBoxDiv' + counter);



                
  newTextBoxDiv.after().html(
        '<input type="text" class="form-control" name="text' + counter + 
        '" id="text' + counter + '" value="" maxlength="15"  placeholder="Enter File Name" required>');
            
  newTextBoxDiv.appendTo("#TextBoxesGroup");*/


  var newDocumentDiv = $(document.createElement('div'))
       .attr("id", 'DocumentDiv' + counter);

  
                
  newDocumentDiv.after().html(
    '<input type="file" accept="application/pdf" class="form-control input-sm" " id="file' + counter + '"  name="file'+counter+'"/>');
    

            
  newDocumentDiv.appendTo("#attachdocsGroup");

        
  counter++;
     });

     $("#removeButton").click(function () {
  if(counter==1){
          alert("No more textbox to remove");
          return false;
       }   
        
  counter--;
      
        $("#TextBoxDiv" + counter).remove();
        $("#DocumentDiv" + counter).remove();
      
     });
    
     $("#getButtonValue").click(function () {
    
  var msg = '';
  for(i=1; i<counter; i++){
      msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
  }
        alert(msg);
     });
  });
</script> 


<!-- <script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-ui.js"></script> -->
{% endblock %} 