{% extends "base.html" %}
{% block links %}

 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Investment Proposal</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

 
    <script type="text/javascript">
    document.getElementById('id-300').className ="nav-parent nav-active active";
    document.getElementById("h").style.display = "block";
	document.getElementById('id-300.4').className ="active";
    </script>
 
    <div class="row">
   
        <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
           </div><!-- panel-heading -->
        <div class="panel-body">
       <!--   {% if emp == 'F' %}
         <div class="resp3 bg-success" style="">
         	Your 2015-2016 proposal form has been submitted
         </div>
       {% endif %}
       {% if emp == 'NF' %}
         <div class="resp3 bg-success" style="">
         	Please fill your 2015-2016 proposal form
         </div>
       {% endif %} -->
         <form  action="" enctype="multipart/form-data" method="POST" id="apl" >
		<div class="form-group">
    				<table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>ACTUAL INVESTMENT DECLARATION FORM FOR THE FINANCIAL YEAR {{year-1}} - {{year}}</strong>
								</td>
							</tr>
						</tbody>
					</table>
   		</div>
      	<p>With reference to the below, I request you to take into consideration the following savings will be made by me while computing tax liability for the year {{year-1}} - {{year}}.</p>
      	<div class="col-md-12" >
             <div class="col-md-12 col-md-2" >
        </div>
  
        	<div id='' class="col-xs-12 col-md-3">
         	
				<div id="TextBoxDiv">
					<input class="form-control" type="text" id='Mobile' maxlength="10" name='Mobile' placeholder="Enter Mobile Number" required>
				</div>

			</div>
			
			<div id='attachdocsGroup' class="col-xs-12 col-md-3">
				<div id="DocumentDiv">

  				<input class="form-control" type='textbox' id='Email_id' name='Email' placeholder="Enter Email Address" required>
  			</div>
  			
  			</div>
  		</div>
   	   
   	  	 <table id="table"  border="1" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr>
							          	<th style="width: 450px; padding-left: 220px;">Particulars</th>
							            <th style="width: 150px; padding-left: 50px;">Max Limit</th>
							            <th style="width: 150px; padding-left: 30px;">Actual Investment 01.04.{{year-1}} - 31.03.{{year}}</th>
							            <th style="width: 10px; padding-left: 5px;"> Attach Documents </th>
							        </tr>
							    </thead>
							     <tbody id="body">
							     <tr>
							     <td><strong>Details regarding Rent</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;</td>
							    
								</tr>
							      <tr>
							     <td><label>Accommodation provided by Company</label></td>
							     <td>&nbsp;</td>
							     

							     <td>&nbsp;&nbsp;&nbsp;&nbsp;
							     	<input type="radio" name="rad" value="Yes" checked="checked">Yes&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio"  name="rad" value="No" >No</td>
							      
							     </tr>
							     <tr class="toshow1" style="display:none">
							     	<td><label>Rent paid by the employee to company(In case if company owned accommodation)</label></td>
							     	<td>&nbsp;</td>
							     	<td>
							     		<input class="form-control model" id="R1" name="R1" style="width: 150px;height: 35px;" type="text" placeholder="Per month">
							     	<br><input class="form-control model" id="R2" name="R2" style="width: 150px;height: 35px;" type="text" placeholder="No of months" >
							     	<br><input class="form-control model" id="R3" name="R3" style="width: 150px;height: 35px;" type="text" placeholder="Total ammount">
							     	</td>
							     	<td>
								  <input type="file" accept="application/pdf"accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="rent_to_cmpny" data-badge="true"  id="rent_to_cmpny" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							   	 <tr class="toshow2" style="display:none">
							     	<td><label>House rent paid by the company to the employee at site in addition to that paid with salary</label></td>
							     	<td>&nbsp;</td>
							     	<td>
							     	<input class="form-control model" id="R4" name="R4" style="width: 150px;height: 35px;" type="text" placeholder="Per month">
							     	<br><input class="form-control model" id="R5" name="R5" style="width: 150px;height: 35px;" type="text" placeholder="No of months">
							     	<br><input class="form-control model" id="R6" name="R6" style="width: 150px;height: 35px;" type="text" placeholder="Total ammount">
							     	</td>
							     	<td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="cmpny_to_emp" data-badge="true"  id="cmpny_to_emp" class="browse" onchange="readURL2(this);" />

								</td>

							     </tr>
							     <tr class="toshow3" style="display:none">
							     	<td><label>Rent paid/Payable for the period April {{year-1}}- March {{year}}<br>(If rent paid is more than Rs 8,333 p.m or Rs 100000 p.a. Pan no of owner of house & address is needed) </label></td>
							     	<td>&nbsp;</td>
							     	<td>
							     	<input class="form-control model" id="R7" name="R7" style="width: 150px;height: 35px;" type="text" placeholder="Per month">
							     	<br><input class="form-control model" id="R8" name="R8" style="width: 150px;height: 35px;" type="text" placeholder="Owner Pan">
							     	<br><textarea rows="2" cols="15" name="R9" placeholder="Owner Address"></textarea>
							     	</td>
							     	<td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="rent_period_year" data-badge="true"  id="rent_period_year" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><strong>Details under section 24</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;</td>
							     </tr>
							      <tr>
							     <td><label>Accommodation: Self Occupied</label></td>
							     <td>&nbsp;</td>
							     
							     <td>&nbsp;&nbsp;&nbsp;&nbsp;
							     	<input type="radio"  name="rad1" value="Yes" checked="checked" >Yes&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="rad1" value="No">No</td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="self_occupied" data-badge="true"  id="self_occupied" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							     <tr class="toshow4" style="display:none">
							     <td><label>Interest on housing loan on self occupied property/fully constructed accommodation only mentioning address with date of occupation
							   	 <br> (If loan taken for repairs or re-construction interest paid should be limited to Rs.30000/-)
							     </label></td>
							     <td><label>30000/200000</label></td>
							     <td><input class="form-control model" id="insoluble" name="A1" style="width: 150px;height: 35px;" type="text" placeholder="Ammount P.A"></td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Interest_on_housing" data-badge="true"  id="Interest_on_housing" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							     <tr class="toshow4" style="display:none">
							     	<td align="right">OR</td>
							     	<td>&nbsp;</td>
							     	<td>&nbsp;</td>
							     </tr>
							     <tr class="toshow4" style="display:none">
							     <td><label>Interest on housing loan on let out property
							     </label></td>
							     <td>&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="A2" style="width: 150px;height: 35px;" type="text" placeholder="Ammount P.A"></td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="let_out_interest" data-badge="true"  id="let_out_interest" class="browse" onchange="readURL2(this);" />

								</td>

							     </tr>
							     <tr class="toshow4" style="display:none">
							     <td><label>Rental income from such property mentioning address.
							     </label></td>
							     <td>&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="A3" style="width: 150px;height: 35px;" type="text" placeholder="Ammount P.A"></td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="rental_income" data-badge="true"  id="rental_income" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr class="toshow4" style="display:none">
							     <td><label>Municipal taxes paid during the year
							     </label></td>
							     <td>&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="A4" style="width: 150px;height: 35px;" type="text" placeholder="Ammount P.A"></td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="municipal_tax" data-badge="true"  id="municipal_tax" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr class="toshow4" style="display:none">
							     <td><label>Date of Occupation 
							     </label></td>
							     <td>&nbsp;</td>
							     <td><input class="form-control model" id="A5" name="A5" style="width: 150px;height: 35px;" type="text" placeholder="Date"></td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="date_occupation" data-badge="true"  id="date_occupation" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							     <tr class="toshow4" style="display:none">
							     <td><label>House Address
							     </label></td>
							     <td>&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="A6" style="width: 150px;height: 35px;" type="text" placeholder="Address"></td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="housing_address" data-badge="true"  id="housing_address" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							     <tr>
							     <td><strong>Section 80 EE Additional Deduction for new Housing Loan Less than 25 Lakhs</strong></td>
							     <td>Actual :2500000<br>Maximum allowed :100000</td>
							     <td><label>Consider max.limit for IT Act.</label>
							     <input class="form-control model" id="insoluble" name="E1" style="width: 150px;height: 35px;" type="text" placeholder="P.A">
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="section_80_EE" data-badge="true"  id="section_80_EE" class="browse" onchange="readURL2(this);" />

								</td>

							     </tr>
							     <tr>
							     <td><strong>Deduction under Chapter VI A</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							     <tr>
							     <td><label>Sec 80D- Medical Insurance Premium(Only if Senior Citizen included Rs.30000 allowed )*</label></td>
							     <td align="center"> 25000/30000</td>
							     <td><input class="form-control model" id="insoluble" name="C1" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="section_80_D_senr_ctzn" data-badge="true"  id="section_80_D_senr_ctzn" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><label>Medical insurance for parents</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="C2" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="med_insur_parents" data-badge="true"  id="med_insur_parents" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><label>Sec 80DD - Specified expenditure on disabled dependent with valid certificate proof required<strong>(should claim from I.T. Dept. directly)</strong></label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="C3" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="section_80DD_disabled" data-badge="true"  id="section_80DD_disabled" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><label>Sec 80DDB - Medical treatment (specified diseases only) -<strong> Should claim from I.T. Dept. directly</strong></label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="C4" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="section_80DB_medical" data-badge="true"  id="section_80DB_medical" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><label>Sec 80E - Interest paid on Education loan - Self and/or Dependent-</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="C5" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="edu_lone_intrst" data-badge="true"  id="edu_lone_intrst" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><label>Sec 80U - Self Handicapped -<strong>  Should claim from I.T. Dept. directly</strong></label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="C6" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="sec_80U_self_hndcp" data-badge="true"  id="sec_80U_self_hndcp" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><strong>Rebate under section 80CC</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							       <tr>
							     <td><label>Contribution to Pension Fund/Scheme - 80CC</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC1" name="CC1" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="cntrb_to_pnsn" data-badge="true"  id="cntrb_to_pnsn" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							       <tr>
							     <td><label>Life Insurance premium -other than salary deduction (exceeding 20% of the sum assured is not eligible for rebate) on life of self or spouse and child only</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC2" name="CC2" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="lyf_insur_prem" data-badge="true"  id="lyf_insur_prem" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							       <tr>
							     <td><label>Public Provident Fund ( P P F) on life of self or spouse and child only</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC3" name="CC3" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="PPF" data-badge="true"  id="PPF" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							       <tr>
							     <td><label>Deposit in National Saving Certificate (N S C) after 01.04.2010 considered only</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC4" name="CC4" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="NSC" data-badge="true"  id="NSC" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							      <tr>
							     <td><label>Interest on NSC reinvested (up to 5th completed year only)</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC5" name="CC5" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="intrst_on_NSC" data-badge="true"  id="intrst_on_NSC" class="browse" onchange="readURL2(this);" />

								</td>
							     </tr>
							       <tr>
							     <td><label>Unit Linked Insurance Plan (ULIP )</label></td>
							     <td align="center">150000</td>
							     <td><input class="form-control model" id="CC6" name="CC6" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="ULIP" data-badge="true"  id="ULIP" class="browse" onchange="readURL2(this);" />
								</td>

							     </tr>
							       <tr>
							     <td><label>Principal Loan (Housing Loan) Re-payment / Stamp Duty paid for fully constructed property</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC7" name="CC7" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Housing_Lone" data-badge="true"  id="Housing_Lone" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>Specified units of Mutual Funds</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC8" name="CC8" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="mutual_funds" data-badge="true"  id="mutual_funds" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>ELSS</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC9" name="CC9" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="ELSS" data-badge="true"  id="ELSS" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>Children Education expenses (Tuition Fees) for max of 2 children</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC10" name="CC10" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="children_tutn_fee" data-badge="true"  id="children_tutn_fee" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							     <tr>
							     <td><label>Fixed Deposits in Banks (maturity period more than 5 years)</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC11" name="CC11" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="fixed_deposits" data-badge="true"  id="fixed_deposits" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>Notified Infrastructure Bonds/Specified tax Savings Bonds such as IDBI, ICICI, REC, and NHAI.</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC12" name="CC12" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="tax_saving_bonds" data-badge="true"  id="tax_saving_bonds" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr>
							     <td><label>Deferred Annuity</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC13" name="CC13" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Deferred_Annuity" data-badge="true"  id="Deferred_Annuity" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr>
							     <td><label>Others (please specify).</label></td>
							     <td> &nbsp;</td>
							     <td><input class="form-control model" id="CC14" name="CC14" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="others" data-badge="true"  id="others" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr>
							     <td>&nbsp;</td>
							     <td align="right">Total Rs.</td>
							     <td><input class="form-control model" id="CC15" name="CC15" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     </tr> 
							       <tr>
							     <td><strong>Additional Benefit</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							        <tr>
							     <td><label>80CCG RAJIV GANDHI SAVING SCHME<br>Maximum investment-benefit allowed-50% of the investment one time deduction</label></td>
							     <td align="center"> 50000</td>
							     <td><input class="form-control model" id="insoluble" name="GSS1" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="80CCG" data-badge="true"  id="80CCG" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr>
							     <td><strong>Previous Employment Salary Details(Salary earned from 1-04-{{year}} till date of joining) - Enclose Form 16 (Provisional)</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							       <tr>
							     <td><label>Gross Salary after Section 10(Gross Income-Conveyance,Medical,HRA Exemption Etc)</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="P1" name="P1" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="gross_salary" data-badge="true"  id="gross_salary" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>Previous PF</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="P2" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="previous_pf" data-badge="true"  id="previous_pf" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>Previous PT</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="P3" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="previous_pt" data-badge="true"  id="previous_pt" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr>
							     <td><label>Previous Savings</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="P4" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="previous_savings" data-badge="true"  id="previous_savings" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr>
							     <td><strong>Amount spent towards tuition fees for education only for two children<br>
							     <font color="red" style="font-size: 11px;">(*Note that any Development fees or donation or payment of similar nature shall not be eligible for deduction.)</font>
							     </strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							      <tr>
							     <td><label>No. of children</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="NC1" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="no_of_childeren" data-badge="true"  id="no_of_childeren" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>(a) School going children</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="NC2" name="NC2" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="school_going" data-badge="true"  id="school_going" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>(b) Staying at Hostel</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="NC3" name="NC3" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="hostel_staying" data-badge="true"  id="hostel_staying" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr>
							     <td><label>(c) Not staying in Hostel (a-b)</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="NC4" name="NC4" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="home_staying" data-badge="true"  id="home_staying" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr>
							     <td><strong>Perquisites if any received from the company (Fill Form No 12B is enclosed)</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;&nbsp;&nbsp;&nbsp;
							     	<input type="radio"  name="rad2" value="Yes"  checked="checked">Yes&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="rad2" value="No">No
							     </td>
							     </tr>
							     <tr class="toshow5" style="display:none">
							     <td><label>Accomodation</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F1" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Accomodation" data-badge="true"  id="Accomodation" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Cars/Other automotive</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F2" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="automotive" data-badge="true"  id="automotive" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr class="toshow5" style="display:none">
							     <td><label>Sweeper,Gardener,Watchman or Personal attendant</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F3" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Personal_attendant" data-badge="true"  id="Personal_attendant" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Gas,Electricity,Water</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F4" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="gas_elec_water" data-badge="true"  id="gas_elec_water" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Interest free or Concessional loans</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F5" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Concessional_loans" data-badge="true"  id="Concessional_loans" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Holiday expenses</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F6" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="holiday_expenses" data-badge="true"  id="holiday_expenses" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr class="toshow5" style="display:none">
							     <td><label>Free or Concessional Travel</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F7" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="Concessional_Travel" data-badge="true"  id="Concessional_Travel" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr class="toshow5" style="display:none">
							     <td><label>Free Meals</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F8" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="free_meals" data-badge="true"  id="free_meals" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr class="toshow5" style="display:none">
							     <td><label>Free Education</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F9" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="free_education" data-badge="true"  id="free_education" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							         <tr class="toshow5" style="display:none">
							     <td><label>Gifts,Vouchers etc</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F10" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="gift_vouchers" data-badge="true"  id="gift_vouchers" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr class="toshow5" style="display:none">
							     <td><label>Credit card expenses</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F11" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="credit_card_expnses" data-badge="true"  id="credit_card_expnses" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							        <tr class="toshow5" style="display:none">
							     <td><label>Club expenses</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F12" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="club_expenses" data-badge="true"  id="club_expenses" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr class="toshow5" style="display:none">
							     <td><label>Use of movable assets by employee</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F13" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="movable_assets" data-badge="true"  id="movable_assets" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Transfer of assets to employee</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F14" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="trnsfr_of_assets" data-badge="true"  id="trnsfr_of_assets" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Values of any other benefits/amenity/service/privilege</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F15" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="any_other_benifits" data-badge="true"  id="any_other_benifits" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Stock options(non-qualified options)</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F16" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="stock_options" data-badge="true"  id="stock_options" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Other benefits or amenities</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F17" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="other_benifits" data-badge="true"  id="other_benifits" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							     <tr class="toshow5" style="display:none">
							     <td><label>House Loan</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F18" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="house_lone" data-badge="true"  id="house_lone" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							      <tr class="toshow5" style="display:none">
							     <td><label>Vehicle Loan</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F19" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="vehicle_lone" data-badge="true"  id="vehicle_lone" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr class="toshow5" style="display:none">
							     <td><label>Total value of perquisites</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F20" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="value_of_perquisites" data-badge="true"  id="value_of_perquisites" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							       <tr class="toshow5" style="display:none">
							     <td><label>Total value of profits in lieu of salary as per 17(3)</label></td>
							     <td >&nbsp;</td>
							     <td><input class="form-control model" id="insoluble" name="F21" style="width: 150px;height: 35px;" type="text" >
							     </td>
							     <td>
								  <input type="file" accept="application/pdf"data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="value_of_profit" data-badge="true"  id="value_of_profit" class="browse" onchange="readURL2(this);" />
								</td>
							     </tr>
							     </tbody>
   	  	 </table>
						<table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>Declaration</strong>
								</td>
							</tr>
							<tr>
								<td colspan="15" align="left">
									<label>	1) I hereby declare that the information given above is correct and true in all respects. I am also aware that the company will be considering the above details in utmost good faith based on the details provided by me and that I am personally liable for any consequences arising out of errors, if any, in the above information.
										2) I am also aware that any person making a false statement / declaration in the above form shall be liable to be fined and prosecution u/s 277 of the Income Tax Act, 1961.
										<br>3) The proof of payment / Supporting for claim, will be provided by <input type="text" id="date" name="date" value="{{date.strftime("%d/%m/%Y")}}" readonly="readonly"/></label>
								</td>
							</tr>
							<tr>
								<td colspan="15" align="center">
									<strong>Note</strong>
								</td>
							</tr>
						</tbody>
					</table>
   	   
   	   				<table border="1" style="width: 100%;">
							 	<thead>
							        <tr>
							          	<th style="width: 650px; padding-left: 220px;">Activity</th>
							          	
							            <th style="width: 150px; padding-left: 30px;">Important Dates</th>
							        </tr>
							    </thead>
						        <tbody id="body">
   	   							<tr>
								<td  align="left">
									<label>Receipt of above Declarations by DGM-Accts,Head Office </label>
								</td>
								<td align="center">25/11/2015</td>
							</tr>
							<tr>
								<td  align="left">
									<label>On receipt of the Tax Savings proposal we shall compute the revised Income Tax liability and would send the same to the employees.  </label>
								</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td  align="left">
									<label>Based on the revised workings, employees can send further proposals before
									Submission of Proof of investment as above and other supporting  </label>
								</td>
								<td>&nbsp;</td>
							</tr>
   	   							</tbody>
   	   				</table>
   	 			  <table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>As per newly introduced Section 206AA, In case Pan is not submitted TDS will be deducted at flat rate of 20%.</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
   	   					<div class="col-sm-12 col-md-8 ">            
			                       	<div class="form-group" style="padding-left: 320px;">
			                        	<input type="hidden"  id="topval" name="topval">
			                           	<input id="submit" type="submit"   onclick="return feildvalidation()"  value="Submit" class="btn btn-primary btn-block">
			                      	</div>  
			                 	</div>  
   	   
   	    </form>
     </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
{% endblock %}    
{% block scripts %}
<script type="text/javascript">
$(function() {
	
	$( "#A5").datepicker({ 
		dateFormat: "dd/mm/yy",
		firstDay: 1,
		showButtonPanel: false,
		 stepMonths: 1,
	});
});

</script>
<script type="text/javascript">
$("input:radio[name=rad]").click(function() {
    var value = $(this).val();
    if(value == 'Yes')
    {
    	$(".toshow1").show();
    	$(".toshow2").show();
    	$(".toshow3").hide();
    }
    if(value == 'No')
    {
    	$(".toshow1").hide();
    	$(".toshow2").hide();
    	$(".toshow3").show();
    }
});
</script>

<script type="text/javascript">
$("input:radio[name=rad1]").click(function() {
    var value = $(this).val();
    if(value == 'Yes')
    {
    	$(".toshow4").show();
    }
    if(value == 'No')
    {
    	$(".toshow4").hide();
    	
    }
});
</script>
<script type="text/javascript">
$("input:radio[name=rad2]").click(function() {
    var value = $(this).val();
    if(value == 'Yes')
    {
    	$(".toshow5").show();
    }
    if(value == 'No')
    {
    	$(".toshow5").hide();
    	
    }
});
</script>
<script type="text/javascript">
function feildvalidation(){
//	alert('Hello');
	var rentpaid= document.getElementById('R7').value;
	var pan= document.getElementById('R8').value;
	var CC15=document.getElementById('CC15').value;
//	alert(rentpaid);
	var tobe=8333;
	if (rentpaid >tobe ) 
	{
		if(pan == "")
			{
			alert("Owner PAN number to be filled");
			 return false;
			}
      }
	if(CC15 > 150000)
	{
		alert("You Exceeded your limit Rs.150000 !!")
		document.getElementById('CC15').value = 150000;
	}
}

</script>
<script type="text/javascript">
$("#CC15").click(function() {
    
	var CC1=document.getElementById('CC1').value;
	var CC2=document.getElementById('CC2').value;
	var CC3=document.getElementById('CC3').value;
	var CC4=document.getElementById('CC4').value;
	var CC5=document.getElementById('CC5').value;
	var CC6=document.getElementById('CC6').value;
	var CC7=document.getElementById('CC7').value;
	var CC8=document.getElementById('CC8').value;
	var CC9=document.getElementById('CC9').value;
	var CC10=document.getElementById('CC10').value;
	var CC11=document.getElementById('CC11').value;
	var CC12=document.getElementById('CC12').value;
	var CC13=document.getElementById('CC13').value;
	var CC14=document.getElementById('CC14').value;
	if(CC1 == ""){CC1=0;}
	if(CC2 == ""){CC2=0;}
	if(CC3 == ""){CC3=0;}
	if(CC4 == ""){CC4=0;}
	if(CC5 == ""){CC5=0;}
	if(CC6 == ""){CC6=0;}
	if(CC7 == ""){CC7=0;}
	if(CC8 == ""){CC8=0;}
	if(CC9 == ""){CC9=0;}
	if(CC10 == ""){CC10=0;}
	if(CC11 == ""){CC11=0;}
	if(CC12 == ""){CC12=0;}
	if(CC13 == ""){CC13=0;}
	if(CC14 == ""){CC14=0;}
	var total=(parseFloat(CC1)+parseFloat(CC2)+parseFloat(CC3)+parseFloat(CC4)+parseFloat(CC5)+parseFloat(CC6)+parseFloat(CC7)+parseFloat(CC8)+parseFloat(CC9)+parseFloat(CC10)+parseFloat(CC11)+parseFloat(CC12)+parseFloat(CC13)+parseFloat(CC14));
	var tot=parseFloat(total);
	if(tot > 150000)
	{
		alert("You Exceeded your limit Rs.150000 !!")
		document.getElementById('CC15').value = 150000;
	}
	else
	{
		document.getElementById('CC15').value = tot;
	}
	
});
</script>
<script type="text/javascript">
$("#NC4").click(function() {
	var NC2=document.getElementById('NC2').value;
	var NC3=document.getElementById('NC3').value;
	var total=(parseFloat(NC2)-parseFloat(NC3));
	var tot=parseFloat(total);
	document.getElementById('NC4').value = tot;
});
</script>

<script type="text/javascript">
$("#R3").click(function() {
	var R1=document.getElementById('R1').value;
	var R2=document.getElementById('R2').value;
	var total=(parseFloat(R1)*parseFloat(R2));
	var tot=parseFloat(total);
	document.getElementById('R3').value = tot;
});
</script>
<script type="text/javascript">
$("#R6").click(function() {
	var R4=document.getElementById('R4').value;
	var R5=document.getElementById('R5').value;
	var total=(parseFloat(R4)*parseFloat(R5));
	var tot=parseFloat(total);
	document.getElementById('R6').value = tot;
});
</script>

{% endblock %}
