{% extends "base.html" %}
{% block links %}


<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Investment Proposal</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Proposals List</h4>
           </div><!-- panel-heading -->
     <!--    <form id="tradeform" action="" method="POST" >
        
           <div class="col-md-3">
						<div class="form-group" style="padding-left: 10px;">
    						<label for="start_date">Cement Type</label>
					 	  <select id="selct" class="form-control selct" name="ctype" style="width:150px">
					   										<option value="0">&nbsp;</option>
											            	<option value="OPC:53Gr">OPC:53 Gr</option>
											            	<option value="OPC:43Gr">OPC:43 Gr</option>
											            	<option value="PPC">PPC</option>
											            	<option value="PSC">PSC</option>
											        </select>        
					  </div>
					
					 </div>
					 <div class="col-md-3">                  
						  	<div class="form-group">
						  	<label for="start_date">Week</label>
						 		 <input id="week" type="text" name="week" style="width:150px;" placeholder="Number" class="form-control week" required>        
							</div>
						</div>
						 <div class="col-md-3">
                        <div class="form-group">
                      <label for="end_date">Year</label>
                       <select class="form-control selct " id="yr" name="year"></select> 
                       </div>
                  </div>
					 <div class="col-md-2">
						<div class="form-group">
    						<label for="start_date">Plant</label>
					 	  <select id="selct" class="form-control selct" name="plant_desc" style="width:150px">
					   										<option value="0">&nbsp;</option>
											            	<option value="1003">BOYAREDDYPALLI</option>
											            	<option value="1002">GANESHPAHAD</option>
											            	<option value="1001">TALARICHERUVU</option>
											            	<option value="1004">TANDUR</option>
											        </select>        
					  </div>
					
					 </div>
					  <div class="col-md-3"> 
                   <div class="form-group">
                   <label for="start_date">&nbsp;</label>
                   <br>
                        <input type="submit" style="width:100px"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                       </div>
                   </div>
			</form> -->
					  
					 
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
					
					 
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>Employee Name</th>
                <th>Location</th>
                <th>Entry Date</th>
                 <th>Year of proposal</th>
                 <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
     {% set i=0 %}
{% for e in list %}
            <tr>

                <td>{{e['employee_id']}}</td>  
                <td>{{e['employee_name']}}</td>
                <td>{{e['plant_name']}}</td>
                <td>{{e['entry_date']}}</td>
                  <td>{{e['year_of_proposal']}}</td>
                  <td style="padding-left: 40px;">
                <form id="approve" action="" method="POST" > 
                <input type="hidden" value="{{ e['_id']}}" name="prid" />
                <input type="hidden" value="{{ e['employee_id']}}" name="user_id" />
                <input type="hidden" value="{{ e['year_of_proposal']}}" name="year_of_proposal" />
              	 <button type="submit" name="submit"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top"data-original-title="View" id="agree{{i}}"  value="VIEW"  ></button>
                </form>
            </tr>
           {% set i=i+1 %}
       {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
<script>
$( document ).ready(function() {

 var obj=document.getElementById("yr");
var d = new Date();
var n=  d.getFullYear();


var mo = d.getMonth();
if(mo<3)
{
n=n-1;
}

/*document.getElementById("gov").addEventListener("click", function() {
  window.open("/static/forms/Form16/government/"+n+"/{{ user_details.pancard }}.pdf");
}, false);
document.getElementById("comp").addEventListener("click", function() {
  window.open("/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");
}, false);

document.getElementById("contentarea").setAttribute('data', "/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");

document.getElementById("down").setAttribute('onclick',"window.open('/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf','_blank')");

document.getElementById("down").innerHTML = "Download "+n+" Company form 16" ;
*/

if(n==2014)
{
  $("#yr").find("option").remove();
opt = document.createElement("option");
  opt.value = 2014;
  opt.text='2014';
obj.appendChild(opt);
}
else if(n<=2016)
{
$("#yr").find("option").remove();

for (var i=n; i>=2014; i--)
{

 opt = document.createElement("option");
  opt.value =i;
  opt.text=i;
obj.appendChild(opt);
}


}
else
{
$("#yr").find("option").remove();

for (var i=n; i>=n-2; i--)
{
 opt = document.createElement("option");
  opt.value =i;
  opt.text=i;
obj.appendChild(opt);
}


}


});
</script>
 <script type="text/javascript">
$('#week').datepicker({
    firstDay: 1, 
     showButtonPanel: false, 
     //minDate: "+",
    stepMonths: 1,
    showWeek:true,
   //      changeMonth: true,
//changeYear: true,
//showButtonPanel: true,
onSelect: function(dateText, inst) {
dateFormat: "'Week Number '" + $.datepicker.iso8601Week(new Date(dateText)),
$(this).val( $.datepicker.iso8601Week(new Date(dateText)));
	},
firstDay: 1,
 yearSuffixType:'hola',

});


</script>
  <script type="text/javascript">
  document.getElementById('id-300').className ="nav-parent nav-active active";
      document.getElementById("h").style.display = "block";
document.getElementById('id-300.5').className ="active";
    </script>

{% endblock %}
