{% extends "base.html" %}
{% block links %}

 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 form .form-group:last-child {
    margin-bottom: 10px;
}
.input_custom{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	}
.li_custom{

}

.custom_td{
	    background-color: #fcfcfc;
	    vertical-align: baseline;
}

.border0{
	border-color: #fcfcfc;
}

ul{
	padding-left: 10px;
}
.form_control_modal {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    padding: 10px;
    height: 37px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}

div .input_hra > input{
	padding: 7px !important;
	margin-bottom: 5px;
	color: red;
	}

.filestyle{
	margin-bottom: 1px !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfcfc;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-color: #fcfcfc;
}
.row_heading{
	background-color: rgba(66, 139, 202, 0.2) !important;
}
.error{border:1px solid #F00;}

.table-bordered {
    border: 1px solid #fcfcfc;
}
.seperation_gap{
	padding:50px;
}

 </style>


{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Investment Proposals</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   

<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<link href="/static/css/datepicker.css" rel="stylesheet">
 
    <script type="text/javascript">
    document.getElementById('id-300').className ="nav-parent nav-active active";
    document.getElementById("h").style.display = "block";
	document.getElementById('id-300.4').className ="active";
    </script>
 
    <div class="row">
   
        <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
           </div><!-- panel-heading -->
        <div class="panel-body">
       <!--   {% if emp == 'F' %}
         <div class="resp3 bg-success" style="">
         	Your 2015-2016 proposal form has been submitted
         </div>
       {% endif %}
       {% if emp == 'NF' %}
         <div class="resp3 bg-success" style="">
         	Please fill your 2015-2016 proposal form
         </div>
       {% endif %} -->

       	<form action="" enctype="multipart/form-data" method="POST" id="FY_SEL" >
       		<div class="row">
	       		<div class="col-md-4">
				  <label> Select Financial Year</label>
				    <select type="text" class="form-control" name="FY_SEL_RADIO" id='FY_SEL_RADIO'>
				    	<option value="">Select FY</option>
				    	<!-- <option value="2016-2017">2016 - 2017</option> -->
				    	<option value="2017-2018">2017 - 2018</option>
				    </select>
				  
				</div>
			</div>
			<br/>
       	</form>
<div>
	
</div>
<!-- <div class="row" style="border:1px solid blue;display:block">
	{{user_details}}
 </div>  -->
 	<!-- <form action="" enctype="multipart/form-data" method="POST" id="asign_proposals_form" class="asign_proposals_form">
  		<div class="row">
         	<div class="col-md-5">
		  		<div class="form-group">
	           		<input type="checkbox" name="assign_proposals" id="assign_proposals"> 
	           		<label for="">Consider 2016-17 Actuals As 2017-18 Proposals.</label>
	      		</div>	    
			</div>
		</div>
	</form> -->
         <form  action="" enctype="multipart/form-data" method="POST" id="apl" class="INVST_FORM">
        
		<div class="form-group">
    				<table border="1" style="width:100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center" style="padding:10px">
									<p><strong>FORM-12BB INVESTMENT PROPOSAL DECLARATION FORM FOR THE FINANCIAL YEAR {{fin_year_start}} - {{fin_year_end}}</strong></p>
								</td>
							</tr>
						</tbody>
					</table>
   		</div>
      	
      	
      	<div class="row">
  <div class="col-md-6">
    <div class="col-md-3">
      <label>Name</label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <input type="text" class="form-control" name="" value="{{user_details['f_name']}} {{user_details['l_name']}}" readonly="readonly">
      </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="col-md-3">
      <label>Employee Id </label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <input type="text" class="form-control" name="" value="{{user_details['username']}}" readonly="readonly">
      </div>
      </div>
    </div>

    <div class="col-md-6">
    <div class="col-md-3">
      <label>Email Id</label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <input type="text" class="form-control" name="" value="{{user_details['official_email']}}" readonly="readonly">
      </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="col-md-3">
      <label>PAN Number </label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <input type="text" class="form-control" name="" id='PAN_SELF' value="{{user_details['pancard']}}" readonly="readonly">
      </div>
      </div>
    </div>
      <div class="col-md-6">
    <div class="col-md-3">
      <label>Address</label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <textarea type="text" rows="4" class="form-control" name="" readonly="readonly">{{user_details['present_address']['hno_street']}} , {{user_details['present_address']['address_line2']}} {{user_details['present_address']['city']}} - {{user_details['present_address']['pincode']}} </textarea>
      </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="col-md-3">
      <label>Mobile Number </label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <input type="text" class="form-control" value="{{user_details['official_contact']}}" name="" readonly="readonly">
      </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="col-md-3">
      <label>Financial Year</label>
    </div>
    <div class="col-md-7">
      <div class="form-group">
          <input type="text" class="form-control" value="2017-2018" name="" readonly="readonly">
      </div>
      </div>
    </div>
  </div>
   	  	 <table id="table"  border="1" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr style="opacity:0">
							          	<th style="width:550px">Particulars</th>
							            <th style="width:100px">Max Limit</th>
							            <th style="width:100px">Proposed</th>							
							        </tr>
							    </thead>
							     <tbody id="body">

<tr style="display:none">
<td>
				<div class="row">
						<div class="col-xs-6 col-md-4 check_type" id=""> 
			                <div class="form-group">
			                   <input type="checkbox" name="emp_doj" id="new_emp"> 
			                   <label for="">Joined In Current FY</label>
			                </div>
			            </div>
	                 	<div class="col-xs-6 col-md-4 check_type" id=""> 
		                   <div class="form-group">
		                   <input type="checkbox" name="emp_doj" id="old_emp" >
		                      <label for="">Existing Employee</label>
		                    </div>
	                   </div>	
				</div>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
</tr>

<!-- <tr>
							     <td class="row_heading" style="border-color:#d7e6f3"><strong> Previous Employer Tax Details</strong></td>
							      <td style="border-color:#d7e6f3" class="row_heading">&nbsp;</td>
							     <td style="border-color:#d7e6f3" class="row_heading">&nbsp;</td>
							     <td style="border-color:#d7e6f3" class="row_heading">&nbsp;</td>
							     <td style="border-color:#d7e6f3" class="row_heading">&nbsp;</td>
							     <td style="border-color:#d7e6f3" class="row_heading">&nbsp;</td>
							     </tr> -->

{% if doj_flag=='1' %}
	
     <tr>
     <td style="border-color:#d7e6f3" class="row_heading" ><strong>Tax Details At Previous Employer</strong></td>
     <td style="border-color:#d7e6f3" class="row_heading"></td>
     <td style="border-color:#d7e6f3" class="row_heading"></td>
     
	</tr>


<tr>
<td>
<p class="li_custom">Salary as per provisions u/s 17(1)</p>
</td>
<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Value of perquisites u/s 17(2)</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Profits in lieu of salary u/s 17(3)</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Exemptions u/s 10</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Professional Tax</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Provident Fund</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Income Tax Deducted</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Surcharge Deducted</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>
	<p class="li_custom">Education Cess Deducted</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>
	<tr>
	<td>
	<p class="li_custom">Medical Exemption</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>
	<tr>
	<td>
	<p class="li_custom">Leave Encashment Exemption Amount</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>
	<tr>
	<td>
	<p class="li_custom">Gratuity Exemption</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>
	<tr>
	<td>
	<p class="li_custom">VRS Exemption</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>
	<tr>
	<td>
	<p class="li_custom">Number of LTA Exempt</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>
	<tr>
	<td>
	<p class="li_custom">LTA C/f or not</p>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
	</tr>

{% endif %}


							     <tr class="row_heading">
							     <td style="border-color:#d7e6f3"><strong>House Rental Allowance</strong></td>
							     <td style="border-color:#d7e6f3"><strong>&nbsp;</strong></td>
							     <td style="border-color:#d7e6f3"><strong>Proposed</strong></td>
							     
								</tr>
							      <tr>
							     <td>
							     	
							   	Enter HRA details &nbsp;<a data-toggle="modal" data-target="#HRA_DETAILS" >Here</a>
							     </td>

<!-- Modal data for Adding Rent details of employee -->
		<div class="modal fade" id="HRA_DETAILS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter HRA Details</h4>
      </div>
      <div class="modal-body">      
<div class="row">
	<div class="form-group col-md-6">
 		<label for="">Accomodation type</label>
 		<input type="text" id='temp_I581_ACCOM_TYPE' value="{{TD_RESULT['I581_ACCOM_TYPE']}}" style="display:none">	   
	     	 <select type="text" name="I581_ACCOM_TYPE" id='I581_ACCOM_TYPE'  value="{{TD_RESULT['I581_ACCOM_TYPE']}}" class="form-control form_control_modal">
		     	<option value="4">Own Residence</option><!--4-->
		     	<option value="1">Rental Residance</option><!--1-->
		     	<option value="9">Company Owned</option><!--9-->
	     	</select>
	</div>
	<div class="form-group col-md-6">
	    <label for="">City Category</label>	   
	     	 <select type="text" name="I581_METRO" id='I581_METRO' value="{{TD_RESULT['I581_METRO']}}" class="form-control form_control_modal">
		     	<option value="1">METRO</option><!-- 1 -->
		     	<option value="">NON METRO</option><!-- empty-->
	     	</select> 		
	</div>
</div>
<div class="row show_landlord"> 	
	<div class="form-group col-md-6">
	    <label for="">Name Of Landlord</label>
	    <input type="text" class="form-control form_control_modal" name='LL_NAME' id="LL_NAME" value="{{TD_RESULT['LL_NAME']}}" placeholder="">
	</div>
	<div class="form-group col-md-6">
	    <label for="">PAN Of Landlord</label>
	    <input type="text" class="form-control form_control_modal" id="PAN_LL" value="{{TD_RESULT['PAN_LL']}}" name='PAN_LL' placeholder="">
	</div>
	<div class="form-group col-md-6">
	    <label for="">Address Of Landlord</label>
	    <input type="text" class="form-control form_control_modal" name='I581_OWNER_ADDRESS1' id="I581_OWNER_ADDRESS1" value="{{TD_RESULT['I581_OWNER_ADDRESS1']}}" style='margin-bottom:5px' placeholder="Address line-1">
	    <input type="text" style='margin-bottom:5px' class="form-control form_control_modal" name='I581_OWNER_ADDRESS2' id="I581_OWNER_ADDRESS2" value="{{TD_RESULT['I581_OWNER_ADDRESS2']}}" placeholder="Address line-2">
	    <input type="text" style='margin-bottom:5px' class="form-control form_control_modal" name='I581_OWNER_ADDRESS3' id="I581_OWNER_ADDRESS3" value="{{TD_RESULT['I581_OWNER_ADDRESS3']}}" placeholder="Address line-3">
	</div>
	
</div>


<div class="alert alert-success alert-dismissible fade in show_landlord" role="alert" style="padding:9px;padding-left:12px"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button> <strong>Please Enter Rent Amount</strong></div>

<div class="row input_hra show_landlord MNTHLY_RENTS">
	<div class="col-md-12">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>April</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" id="I581_APR_RENT" value="{{TD_RESULT['I581_APR_RENT']}}" name='I581_APR_RENT' style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_APR_RENT_doc" data-badge="true"  id="I581_APR_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>May</p>
			</div>
			<div class="col-md-5">
			<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_MAY_RENT' id="I581_MAY_RENT" value="{{TD_RESULT['I581_MAY_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value='10000'>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_MAY_RENT_doc" data-badge="true"  id="I581_MAY_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>June</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_JUN_RENT' id="I581_JUN_RENT" value="{{TD_RESULT['I581_JUN_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_JUN_RENT_doc" data-badge="true"  id="I581_JUN_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>July</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_JUL_RENT' id="I581_JUL_RENT" value="{{TD_RESULT['I581_JUL_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
		<!-- 	<div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_JUL_RENT_doc" data-badge="true"  id="I581__JUL_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>August</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_AUG_RENT' id="I581_AUG_RENT" value="{{TD_RESULT['I581_AUG_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_AUG_RENT_doc" data-badge="true"  id="I581_AUG_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>September</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_SEP_RENT' id="I581_SEP_RENT" value="{{TD_RESULT['I581_SEP_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_SEP_RENT_doc" data-badge="true"  id="I581_SEP_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>October</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_OCT_RENT' id="I581_OCT_RENT" value="{{TD_RESULT['I581_OCT_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_OCT_RENT_doc" data-badge="true"  id="I581_OCT_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>November</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_NOV_RENT' id="I581_NOV_RENT" value="{{TD_RESULT['I581_NOV_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_NOV_RENT_doc" data-badge="true"  id="I581_NOV_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>December</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_DEC_RENT' id="I581_DEC_RENT" value="{{TD_RESULT['I581_DEC_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_DEC_RENT_doc" data-badge="true"  id="I581_DEC_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>January</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_JAN_RENT' id="I581_JAN_RENT" value="{{TD_RESULT['I581_JAN_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_JAN_RENT_doc" data-badge="true"  id="I581_JAN_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>February</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_FEB_RENT' id="I581_FEB_RENT" value="{{TD_RESULT['I581_FEB_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_FEB_RENT_doc" data-badge="true"  id="I581_FEB_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<p>March</p>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control form_control_modal RENT_PMNTH" name='I581_MAR_RENT' id="I581_MAR_RENT" value="{{TD_RESULT['I581_MAR_RENT']}}" style="padding:7px;margin-bottom:5px" placeholder="" value=''>
			</div>
			<!-- <div class="col-md-4">
				<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I581_MAR_RENT_doc" data-badge="true"  id="I581_MAR_RENT_doc" class="browse" onchange=""/>
			</div> -->
		</div>		
	</div>
	</div>

		<div class="row show_landlord">
					<div class="col-xs-6 col-md-12 check_type" id="div_checkout"> 
		                <div class="form-group">
		                   <input type="checkbox" name="ACC_DURATION" id="ACC_DURATION"> 
		                   <label for="">Rent Amount Same For All Months </label>
		                </div>
		            </div>	
		</div>
		
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='submitForm'>Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- End of HRA Modal data of employee -->
							   	<td>
							     	&nbsp;
							     </td>
							     <td>
							     	<input type="text" class="form-control input_custom" name="I581_TOTAL_RENT_AMT" id="I581_TOTAL_RENT_AMT" placeholder="" value="{{I581_TOTAL_RENT_AMT}}" placeholder="" readonly>
							     </td>
				
							     </tr>					     
							   	 
<!-- section 00582-->           <tr>
							     <td style="border-color:#d7e6f3" class="row_heading" ><strong>Income From House Property</strong></td>

							    <td style="border-color:#d7e6f3" class="row_heading"><strong>Max Limit</strong></td>
							     <td style="border-color:#d7e6f3" class="row_heading"><strong>Proposed</strong></td>
					
							     </tr>
							     <td>
							     <div class="row">
							     	<div class="form-group col-md-6">								   
									     	<select type="text" name="" class="form-control">
										     	<option value="0001">House Property</option> <!-- need to be sent to SAP-->
									     	</select>							     		
									</div>
								</div>	
									<div class="row">
									<div class="form-group col-md-6 I585_HOMELOAN_INTR_AMT_FY">
										<label>Loan Taken In Financial Year</label>								   
									     	<select type="text" name="I584_HOMELOAN_INTR_FY" id="I584_HOMELOAN_INTR_FY" class="form-control">				
										     	<option value="CURR">2016-2017 On/After</option>
										     	<option value="PREV_FY">Earlier</option>
									     	</select>							     		
									</div>
									</div>

			<!--subtype 01--> 	<div class="col-md-12" style="padding:0px">
			<!-- for sending flag--> <input type="text" name="I584_SUBTYPE" id='I584_SUBTYPE' style="display:none">
								<div class="col-xs-6 col-md-4 check_type" id="" style="padding-left:0px"> 
				                   <div class="form-group">
				                   <input type="checkbox" name="check_property" id="I584_HOME_SELF_X" checked="" > 
				                   <label for="">SELF OCCUPIED</label><!--I584_HOME_SELF_X -->
				                       </div>
				                </div>
			                 	<div class="col-xs-6 col-md-4 check_type" id="" style="padding-left:0px"> 
				                   <div class="form-group">
				                   <input type="checkbox" name="check_property" id="I584_HOME_PART_RNT_X" >
				                      <label for="">PARTLY LET-OUT</label><!-- I584_HOME_FUL_RNT_X -->
				                    </div>
			                   </div>
			                   <div class="col-xs-6 col-md-4 check_type" id="" style="padding-left:0px;padding-right:0px"> 
				                   <div class="form-group">
				                   <input type="checkbox" name="check_property" id="I584_HOME_FUL_RNT_X" >
				                      <label for="">WHOLEY LET-OUT</label><!-- I584_HOME_FUL_RNT_X -->
				                    </div>
			                   </div>


			                   <div class="row">
			                   		<div class="form-group col-md-6">
									    <label for="">Deductions Interest U/S 24</label>
									    <input type="text" class="form-control INC_OS file_validate" id="I584_S24_INTREST_AMT" placeholder="House Loan Max Limit- 2 Lacs" name='I584_S24_INTREST_AMT' value="{{TD_RESULT['I584_S24_INTREST_AMT']}}" required="required" title="Income From Other Sources">
									</div>
									<div class="form-group col-md-6 WHOLE_PARTLY">
									    <label for="">Final Lettable Value</label>
									    <input type="text" class="form-control INC_OS" value="{{TD_RESULT['I584_FINAL_LET_AMT']}}" name='I584_FINAL_LET_AMT' id="I584_FINAL_LET_AMT" placeholder="Rent Income">
									</div>
									<div class="form-group col-md-6 WHOLE_PARTLY">
									    <label for="">House Repairs U/S 24</label>
									    <input type="text" class="form-control INC_OS" value="{{TD_RESULT['I584_S24_REPAIR_AMT']}}" name='I584_S24_REPAIR_AMT' id="I584_S24_REPAIR_AMT" placeholder="House Repairs & Local taxes">
									</div>
									<div class="form-group col-md-6 WHOLE_PARTLY">
									    <label for="">Other Deductions U/S 24</label>
									    <input type="text" class="form-control INC_OS" value="{{TD_RESULT['I584_S24_OTHERS_AMT']}}" name='I584_S24_OTHERS_AMT' id="I584_S24_OTHERS_AMT" placeholder="House Insurance premiums">
									</div>
			                   </div>
			                   		
			                <!-- <p style="opacity:0.9;font-style: oblique;">Note : House Loan Taken In The Current Financial Year Is Eligible For 50000 U/S 80 EE Extra On The Maximum Limit,Which Can be Submitted In <b>Excemptions Other Than 80C</b> Section Available Below. </p> -->
									</div>
							     </td>
							     <td>							     	
							     	<!-- <input type="text" class="form-control input_custom" id="" placeholder="Max Limit" readonly> -->
							     	&nbsp;
							     	</td>
							     	<td>
							     	<!-- <input type="text" class="form-control input_custom" id="" placeholder="" readonly> -->
							     	&nbsp;
							     </td>

<tr id="I585_HOMELOAN_INTR_AMT">
<td>
	<p class="li_custom" class="I585_P30_HOMELOAN_INTR_AMT">House Loan Interest Deduction U/S 80EE (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='50000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P30_HOMELOAN_INTR_AMT" name='I585_P30_HOMELOAN_INTR_AMT' value="{{TD_RESULT['I585_P30_HOMELOAN_INTR_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>
<tr>
<td>
<p class="li_custom">Repayment of Housing loan(Principal) - 88(2)(xv)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P13_HOUSE_LOAN_AMT" name='I586_P13_HOUSE_LOAN_AMT' value="{{TD_RESULT['I586_P13_HOUSE_LOAN_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	

							     
<!-- infotype 00585 -->			<tr>
							     <td class="row_heading" style="border-color:#d7e6f3"><strong> Tax Deductions (80 C)(max-limit 1,50,000 &#8377; including Employee PF )</strong></td>
							      <td class="row_heading" style="border-color:#d7e6f3"><strong>&nbsp;</strong></td>
							     <td class="row_heading" style="border-color:#d7e6f3"><strong>Proposed</strong></td>
							     
							     </tr>
							     


<tr>
<td>
	<p class="li_custom">Payment Towards Life Insurance Policy - 88(2)(i)</p>
</td>
	<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P1_LIFE_INSU_AMT" name='I586_P1_LIFE_INSU_AMT' value="{{TD_RESULT['I586_P1_LIFE_INSU_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<!-- <tr>
<td>
<p class="li_custom">Contribution to Superannuation Fund - 88(2)(vii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P2_SUPER_FUND_AMT" name='I586_P2_SUPER_FUND_AMT' value="{{TD_RESULT['I586_P2_SUPER_FUND_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr> -->	
<tr>
<td>
<p class="li_custom">Subscription To Notified Central Government Security (NSS) - 88(2)(ix)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P3_NSS_AMT" name='I586_P3_NSS_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P3_NSS_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Contribution To ULIP - 88(2)(xii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P4_ULIP_AMT" name='I586_P4_ULIP_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P4_ULIP_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Subscription To Approved Equity Shares Or Debentures (Infrastructure) - 88(2)(xvi)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P5_EQUITY_AMT" name='I586_P5_EQUITY_AMT' value="{{TD_RESULT['I586_P5_EQUITY_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Subscription To Approved Mutualfund (Infrastructure) - 88(2)(xvii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P6_INFRA_MF_AMT" name='I586_P6_INFRA_MF_AMT' value="{{TD_RESULT['I586_P6_INFRA_MF_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Contribution To Public Provident Fund (PPF) - 88(2)(v)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P7_PPF_AMT" name='I586_P7_PPF_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P7_PPF_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<!-- <tr>
<td>
<p class="li_custom">Contribution To Recognised Provident Fund(PF) - 88(2)(vi)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P8_RPF_AMT" name='I586_P8_RPF_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P8_RPF_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	{% if proposals_view =='disabled' %}
	<td>
		<span>
		<input type="text" class="form-control input_custom" id='I586_A8_RPF_AMT_TEMP' name='' value="{{TD_RESULT['I586_A8_RPF_AMT']}}" style="display:none">
			<input type="text" class="form-control input_custom file_validate" id="I586_A8_RPF_AMT" name='I586_A8_RPF_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_A8_RPF_AMT']}}" placeholder="Actual" title="Contribution To Recognised Provident Fund(PF)" {% if TD_RESULT['SUBMIT_STATUS'] == "SUBMITED" %} disabled {% endif %}>
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle I586_A8_RPF_AMT"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I586_RPF_AMT_doc" data-badge="true"  id="I586_RPF_AMT_doc" class="browse" onchange="return ispdf($(this).attr('id'));" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I586_A8_RPF_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I586_A8_RPF_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	
		</td>
		{% endif %}
</tr>	 -->
<tr>
<td>
<p class="li_custom">Deposit Under Post Office Savings Bank(Cumulative Time Deposts) Rule1959 - 88(2)(viii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P9_POST_OFFICE_AMT" name='I586_P9_POST_OFFICE_AMT' value="{{TD_RESULT['I586_P9_POST_OFFICE_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Subscribed To Notified Central Govmt Savings certificate (NSC VIII issue) - 88(2)(xi)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P10_NSC_AMT" name='I586_P10_NSC_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P10_NSC_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Contribution To Notified Unit Linked Insurance Plan Of LIC Mutual Fund - 88(2)(xiii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P11_ULIP_LIC_AMT" name='I586_P11_ULIP_LIC_AMT' value="{{TD_RESULT['I586_P11_ULIP_LIC_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<!-- <tr>
<td>
<p class="li_custom">Contribution to provident fund as per PF Act,1925 - 88(2)(iv)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P12_PF_AMT" name='I586_P12_PF_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P12_PF_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	{% if proposals_view =='disabled' %}
	<td>
		<span>
		<input type="text" class="form-control input_custom" id='I586_A12_PF_AMT_TEMP' name='' value="{{TD_RESULT['I586_A12_PF_AMT']}}" style="display:none">
			<input type="text" class="form-control input_custom file_validate" id="I586_A12_PF_AMT" name='I586_A12_PF_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_A12_PF_AMT']}}" placeholder="Actual" title="Contribution to provident fund" {% if TD_RESULT['SUBMIT_STATUS'] == "SUBMITED" %} disabled {% endif %}>
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle I586_A12_PF_AMT"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I586_PF_AMT_doc" data-badge="true"  id="I586_PF_AMT_doc" class="browse" onchange="return ispdf($(this).attr('id'));" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I586_A12_PF_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I586_A12_PF_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td>
							     	{% endif %}
</tr>	 -->
<!-- <tr>
<td>
<p class="li_custom">Repayment of Housing loan(Principal) - 88(2)(xv)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P13_HOUSE_LOAN_AMT" name='I586_P13_HOUSE_LOAN_AMT' value="{{TD_RESULT['I586_P13_HOUSE_LOAN_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr> -->
<td>
<p class="li_custom">Interest on NSC VIII issue  -  88(2)(xi)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P14_NSC_VIII_AMT" name='I586_P14_NSC_VIII_AMT' value="{{TD_RESULT['I586_P14_NSC_VIII_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Contribution to notified annuity plan of LIC  -  88(2)(xiiia)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P15_ANNUITY_LIC_AMT" name='I586_P15_ANNUITY_LIC_AMT' value="{{TD_RESULT['I586_P15_ANNUITY_LIC_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Subscription to notified mutual fund - 88(2)(xiiib)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P16_MF_AMT" name='I586_P16_MF_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P16_MF_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Subscription to notified pension fund - 88(2)(xiiic)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P17_PENSION_AMT" name='I586_P17_PENSION_AMT' value="{{TD_RESULT['I586_P17_PENSION_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Subscription to notified deposit scheme of the National Housing Bank - 88(2)(xiv)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P18_NHB_AMT" name='I586_P18_NHB_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P18_NHB_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<!-- <tr>
<td>
<p class="li_custom">Subscription to dpst schm of a public sector com or any constituted athry in house constrc  -  88(2)(xiva)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P19_OTH_SCHEME_AMT" name='I586_P19_OTH_SCHEME_AMT' value="{{TD_RESULT['I586_P19_OTH_SCHEME_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	{% if proposals_view =='disabled' %}
	<td>
		<span>
		<input type="text" class="form-control input_custom" id='I586_A19_OTH_SCHEME_AMT_TEMP' name='' value="{{TD_RESULT['I586_A19_OTH_SCHEME_AMT']}}" style="display:none">
			<input type="text" class="form-control input_custom file_validate" id="I586_A19_OTH_SCHEME_AMT" name='I586_A19_OTH_SCHEME_AMT' value="{{TD_RESULT['I586_A19_OTH_SCHEME_AMT']}}" style="margin-bottom:5px" placeholder="Actual" title="dpst schm of a public sector com or any constituted athry in house constrc" {% if TD_RESULT['SUBMIT_STATUS'] == "SUBMITED" %} disabled {% endif %}>
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle I586_A19_OTH_SCHEME_AMT"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I586_OTH_SCHEME_AMT_doc" data-badge="true"  id="I586_OTH_SCHEME_AMT_doc" class="browse" onchange="return ispdf($(this).attr('id'));" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I586_A19_OTH_SCHEME_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I586_A19_OTH_SCHEME_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td>
							     	{% endif %}
</tr>	 -->
<!-- <tr>
<td>
<p class="li_custom">Contract for a deferred annuity on  life of specified persons - 88(2)(ii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P20_DEF_ANTY_SP_AMT" name='I586_P20_DEF_ANTY_SP_AMT' value="{{TD_RESULT['I586_P20_DEF_ANTY_SP_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	{% if proposals_view =='disabled' %}
	<td>
		<span>
		<input type="text" class="form-control input_custom" id='I586_A20_DEF_ANTY_SP_AMT_TEMP' name='' value="{{TD_RESULT['I586_A20_DEF_ANTY_SP_AMT']}}" style="display:none">
			<input type="text" class="form-control input_custom file_validate" id="I586_A20_DEF_ANTY_SP_AMT" name='I586_A20_DEF_ANTY_SP_AMT' value="{{TD_RESULT['I586_A20_DEF_ANTY_SP_AMT']}}" style="margin-bottom:5px" placeholder="Actual" title="Contract for a deferred annuity on  life of specified persons" {% if TD_RESULT['SUBMIT_STATUS'] == "SUBMITED" %} disabled {% endif %}>
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle I586_A20_DEF_ANTY_SP_AMT"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I586_DEF_ANTY_SP_AMT_doc" data-badge="true"  id="I586_DEF_ANTY_SP_AMT_doc" class="browse" onchange="return ispdf($(this).attr('id'));" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I586_A20_DEF_ANTY_SP_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I586_A20_DEF_ANTY_SP_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td>
							     	{% endif %}
</tr> -->
<!-- <tr>
<td>
<p class="li_custom">Duductions From Salary For A Deferred Annuity- 88(2)(iii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P21_DEF_ANUITY_AMT" name='I586_P21_DEF_ANUITY_AMT' value="{{TD_RESULT['I586_P21_DEF_ANUITY_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	{% if proposals_view =='disabled' %}
	<td>
		<span>
		<input type="text" class="form-control input_custom" id='I586_A21_DEF_ANUITY_AMT_TEMP' name='' value="{{TD_RESULT['I586_A21_DEF_ANUITY_AMT']}}" style="display:none">
			<input type="text" class="form-control input_custom file_validate" id="I586_A21_DEF_ANUITY_AMT" name='I586_A21_DEF_ANUITY_AMT' value="{{TD_RESULT['I586_A21_DEF_ANUITY_AMT']}}" style="margin-bottom:5px" placeholder="Actual" title="Duductions From Salary For A Deferred Annuity" {% if TD_RESULT['SUBMIT_STATUS'] == "SUBMITED" %} disabled {% endif %}>
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle I586_A21_DEF_ANUITY_AMT"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I586_DEF_ANUITY_AMT_doc" data-badge="true"  id="I586_DEF_ANUITY_AMT_doc" class="browse" onchange="return ispdf($(this).attr('id'));" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I586_A21_DEF_ANUITY_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I586_A21_DEF_ANUITY_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td>
							     	{% endif %}
</tr>		 -->
<tr>
<td>
<p class="li_custom">Tuition fee - child 1 - 88(2)(xivb)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P22_TUTE_FEE_1_AMT" name='I586_P22_TUTE_FEE_1_AMT' value="{{TD_RESULT['I586_P22_TUTE_FEE_1_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Tuition fee - child 2 - 88(2)(xivb)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P23_TUTE_FEE_2_AMT_TEMP" name='I586_P23_TUTE_FEE_2_AMT' value="{{TD_RESULT['I586_P23_TUTE_FEE_2_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Term Deposits under Section 80C - 80C(2)(xxi)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P24_TERM_DEPOSIT_AMT" name='I586_P24_TERM_DEPOSIT_AMT' value="{{TD_RESULT['I586_P24_TERM_DEPOSIT_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Section 80C - 5 year time deposit under the Post Office Time Deposit Rules 1981 - 80C(2)(xxiii)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P25_PO_5YEAR_AMT" name='I586_P25_PO_5YEAR_AMT' value="{{TD_RESULT['I586_P25_PO_5YEAR_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Section 80C - Senior Citizens Savings Scheme Rules 2004 - 80C(2)(xxiv)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P26_SCSS_AMT" name='I586_P26_SCSS_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P26_SCSS_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
<p class="li_custom">Section 80C - Sukanya Samriddhi Scheme - 80C(2)(VIII)</p>
</td>
<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I586_P27_SSS_AMT" name='I586_P27_SSS_AMT' style="margin-bottom:5px" value="{{TD_RESULT['I586_P27_SSS_AMT']}}" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	

<!-- take from 585 infotype to 586 -->
<tr>
	<td>
	
	<p class="li_custom" class='I585_P1_PENSIONS_AMT'>Contribution to Certain Pension Funds (100% on Actual)</p>
	</td>
	<td>
		&nbsp;
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P1_PENSIONS_AMT" name='I585_P1_PENSIONS_AMT' value="{{TD_RESULT['I585_P1_PENSIONS_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	

	</tr>

<!-- end of ino type 586 -->
    <!-- infotyoe 585 -->
			<tr>
			     <td class="row_heading" style="border-color:#d7e6f3" class="row_heading"><strong> Excemptions Other than u/s 80C </strong></td>
			     <td class="row_heading" style="border-color:#d7e6f3"><strong>Max Limit</strong></td>
			     <td class="row_heading" style="border-color:#d7e6f3"><strong>Proposed</strong></td>
			     
			</tr>




<tr>
<td>
	<p class="li_custom" class="I585_P2_INS_N_SCTZ_AMT">Medical Insurance Premium (Non-Senior Citizens) (100% on Actual) </p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='25000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
		
			<input type="text" class="form-control input_custom proposal_value" id="I585_P2_INS_N_SCTZ_AMT" name='I585_P2_INS_N_SCTZ_AMT' value="{{TD_RESULT['I585_P2_INS_N_SCTZ_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	


<tr>
<td>
	<p class="li_custom" class="I585_P3_INS_SCTZ_AMT">Medical Insurance Premium (Senior Citizen) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='30000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
		
			<input type="text" class="form-control input_custom proposal_value" id="I585_P3_INS_SCTZ_AMT" name='I585_P3_INS_SCTZ_AMT' value="{{TD_RESULT['I585_P3_INS_SCTZ_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
	<p class="li_custom" class="I585_P4_INS_P_NSCTZ_AMT">Medical Insurance Premium(Payment on behalf of parents non-senior Citizen) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='25000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P4_INS_P_NSCTZ_AMT" name='I585_P4_INS_P_NSCTZ_AMT' value="{{TD_RESULT['I585_P4_INS_P_NSCTZ_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
	<p class="li_custom" class="I585_P5_INS_P_SCTZ_AMT">Medical Insurance Premium(Payment on behalf of parents senior citizen) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='30000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P5_INS_P_SCTZ_AMT" name='I585_P5_INS_P_SCTZ_AMT' value="{{TD_RESULT['I585_P5_INS_P_SCTZ_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
	<p class="li_custom" class="I585_P6_HLT_CHK_SELF_AMT">Preventive Health Check up (Self) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='5000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P6_HLT_CHK_SELF_AMT" name='I585_P6_HLT_CHK_SELF_AMT' value="{{TD_RESULT['I585_P6_HLT_CHK_SELF_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<tr>
<td>
	<p class="li_custom" class="I585_P7_HLT_CHK_PARNT_AMT">Preventive Health Check up (Parents) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='5000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P7_HLT_CHK_PARNT_AMT" name='I585_P7_HLT_CHK_PARNT_AMT' value="{{TD_RESULT['I585_P7_HLT_CHK_PARNT_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P8_EXP_VSN_SELF_AMT">Medical Expenditure for very senior citizen(Self) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='30000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P8_EXP_VSN_SELF_AMT" name='I585_P8_EXP_VSN_SELF_AMT' value="{{TD_RESULT['I585_P8_EXP_VSN_SELF_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P9_EXP_VSN_PARNT_AMT">Medical Expenditure for very senior citizen(Parents) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='30000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P9_EXP_VSN_PARNT_AMT" name='I585_P9_EXP_VSN_PARNT_AMT' value="{{TD_RESULT['I585_P9_EXP_VSN_PARNT_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	 -->
	<!-- <tr> <td>- <p class="li_custom" class="I585_P10_DISABLED_AMT">Deduction for dependent with disability</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="" data-badge="true"  id="" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td>
</tr>
	<tr> <td> <p class="li_custom" class="I585_P11_SDISABLED_AMT">Deduction for dependent with severe disability</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="" data-badge="true"  id="" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td><tr>
</tr>	 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P12_MED_TRMT_AMT">Medical Treatment (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='40000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P12_MED_TRMT_AMT" name='I585_P12_MED_TRMT_AMT' value="{{TD_RESULT['I585_P12_MED_TRMT_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P13_MED_TRMT_SCTZ_AMT">Medical Trtmnt for Senr Citizen (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='60000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P13_MED_TRMT_SCTZ_AMT" name='I585_P13_MED_TRMT_SCTZ_AMT' value="{{TD_RESULT['I585_P13_MED_TRMT_SCTZ_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	 -->
<!-- 
<tr>
<td>
	<p class="li_custom" class="I585_P14_MED_TRMT_VSCTZ_AMT">Medical Tretment for very senior citizen (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='80000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P14_MED_TRMT_VSCTZ_AMT" name='I585_P14_MED_TRMT_VSCTZ_AMT' value="{{TD_RESULT['I585_P14_MED_TRMT_VSCTZ_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
 -->
<tr>
<td>
	<p class="li_custom" class="I585_P15_INT_HIGH_EDU_AMT">Repayment of Interest on Loan for Higher Education (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='9999999'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P15_INT_HIGH_EDU_AMT" name='I585_P15_INT_HIGH_EDU_AMT' value="{{TD_RESULT['I585_P15_INT_HIGH_EDU_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P16_CRY_AMT">Donation to CRY</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P16_CRY_AMT" name='I585_P16_CRY_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A16_CRY_AMT" name='I585_A16_CRY_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_CRY_AMT" data-badge="true"  id="I585_CRY_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	
 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P17_PMCM_RELIEF_AMT">Donation to PM's Relief Fund</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P17_PMCM_RELIEF_AMT" name='I585_P17_PMCM_RELIEF_AMT'  style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A17_PMCM_RELIEF_AMT" name='I585_A17_PMCM_RELIEF_AMT'  style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_PMCM_RELIEF_AMT" data-badge="true"  id="I585_PMCM_RELIEF_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	 -->

<!-- <tr>
<td>
	<p class="li_custom" class="I585_P18_NAT_CHIL_AMT">Donation to National Children's Fund</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P18_NAT_CHIL_AMT" name='I585_P18_NAT_CHIL_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A18_NAT_CHIL_AMT" name='I585_A18_NAT_CHIL_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_NAT_CHIL_AMT" data-badge="true"  id="I585_NAT_CHIL_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	
 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P19_SWAS_BHT_KSH_AMT">Donation to Swachh Bharat Kosh</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P19_SWAS_BHT_KSH_AMT" name='I585_P19_SWAS_BHT_KSH_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A19_SWAS_BHT_KSH_AMT" name='I585_A19_SWAS_BHT_KSH_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_SWAS_BHT_KSH_AMT" data-badge="true"  id="I585_SWAS_BHT_KSH_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P20_CLN_GANGA_AMT">Donation to Clean Ganga Fund</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P20_CLN_GANGA_AMT" name='I585_P20_CLN_GANGA_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A20_CLN_GANGA_AMT" name='I585_A20_CLN_GANGA_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_CLN_GANGA_AMT" data-badge="true"  id="I585_CLN_GANGA_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P21_DRUG_ABUS_AMT">Donation to National fund of control of Drug Abuse</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P21_DRUG_ABUS_AMT" name='I585_P21_DRUG_ABUS_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A21_DRUG_ABUS_AMT" name='I585_A21_DRUG_ABUS_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_DRUG_ABUS_AMT" data-badge="true"  id="I585_DRUG_ABUS_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr> -->
	<!-- <tr>
<td>
	<p class="li_custom" class="I585_P22_RENT_PAID_AMT">Deduction in respect of rent paid (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='60000'  placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P22_RENT_PAID_AMT" name='I585_P22_RENT_PAID_AMT' value="{{TD_RESULT['I585_P22_RENT_PAID_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	{% if proposals_view =='disabled' %}
	<td>
		<span>
		<input type="text" class="form-control input_custom" id='I585_A22_RENT_PAID_AMT_TEMP' name='' value="{{TD_RESULT['I585_A22_RENT_PAID_AMT']}}" style="display:none">
			<input type="text" class="form-control input_custom file_validate" id="I585_A22_RENT_PAID_AMT" name='I585_A22_RENT_PAID_AMT' value="{{TD_RESULT['I585_A22_RENT_PAID_AMT']}}" style="margin-bottom:5px" placeholder="Actual" title="Deduction in respect of rent paid" {% if TD_RESULT['SUBMIT_STATUS'] == "SUBMITED" %} disabled {% endif %}>
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle I585_A22_RENT_PAID_AMT"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_RENT_PAID_AMT_doc" data-badge="true"  id="I585_RENT_PAID_AMT_doc" class="browse" onchange="return ispdf($(this).attr('id'));" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I585_A22_RENT_PAID_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I585_A22_RENT_PAID_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
	{% endif %}
</tr>	 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P23_FORN_SOURC_AMT">Prof Income from Foreign Sources</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value=''  placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P23_FORN_SOURC_AMT" name='I585_P23_FORN_SOURC_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A23_FORN_SOURC_AMT" name='I585_A23_FORN_SOURC_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_FORN_SOURC_AMT" data-badge="true"  id="I585_FORN_SOURC_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	
 -->
<!-- <tr>
<td>
	<p class="li_custom" class="I585_P24_SRV_ABROAD_AMT">Remunaration received for services rendered abroad</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value=''  placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_P24_SRV_ABROAD_AMT" name='I585_P24_SRV_ABROAD_AMT' style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="I585_A24_SRV_ABROAD_AMT" name='I585_A24_SRV_ABROAD_AMT' style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="I585_SRV_ABROAD_AMT" data-badge="true"  id="I585_SRV_ABROAD_AMT" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}
	</td>
</tr>	 -->
<!-- <tr> <td> 	<p class="li_custom" class="I585_P25_SELF_DISABLE_AMT">Deduction for self disability</p>
</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="" data-badge="true"  id="" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td><tr>
</tr>	<td>
	<p class="li_custom" class="I585_P26_SELF_SDISABLE_AMT">Deduction for self severe disability</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" placeholder="Max Limit">
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" id="" style="margin-bottom:5px" placeholder="Actual">
		</span>
	</td>
	<td>
		<input type="file" accept="application/pdf" data-buttonText="Attach docs"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="" data-badge="true"  id="" class="browse" onchange="" multiple="multiple"/>
	</td>
	<td>
		 {% if 'I581_TOTAL_RENT_AMT_APPROVED' in TD_RESULT %}
							     <input type="text" class="form-control input_custom" value="{{TD_RESULT['I581_TOTAL_RENT_AMT_APPROVED']}}" style="" placeholder="" disabled>
							     	
							     {% else %}
							     	attachment status
							     	{% endif %}	</td><tr>
</tr>	 -->
<tr>
<td>
	<p class="li_custom" class="I585_P27_PENSN_CENGOV_AMT">National Pension Scheme(NPS) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='200000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P27_PENSN_CENGOV_AMT" name='I585_P27_PENSN_CENGOV_AMT' value="{{TD_RESULT['I585_P27_PENSN_CENGOV_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	

<tr>
<td>
	<p class="li_custom" class="I585_P28_INTR_SAV_ACC_AMT">Interest from savings bank account (Sec 80TTA) (100% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='10000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P28_INTR_SAV_ACC_AMT" name='I585_P28_INTR_SAV_ACC_AMT' value="{{TD_RESULT['I585_P28_INTR_SAV_ACC_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	

<!-- <tr>
<td>
	<p class="li_custom" class="I585_P29_RG_ESS_AMT">Rajiv Gandhi Equity Saving Scheme (50% on Actual)</p>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom" value='50000'  placeholder="Max Limit" readonly>
		</span>
	</td>
	<td>
		<span>
			<input type="text" class="form-control input_custom proposal_value" id="I585_P29_RG_ESS_AMT" name='I585_P29_RG_ESS_AMT' value="{{TD_RESULT['I585_P29_RG_ESS_AMT']}}" style="margin-bottom:5px" placeholder="Proposed" >
		</span>
	</td>
	
</tr>	 -->

</ul>
	</td>

</tr>
							     </tbody>
   	  	 </table>
						<!-- <table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>Declaration</strong>
								</td>
							</tr>
							<tr>
								<td colspan="15" align="left">
									<label>	1) I hereby declare that the information given above is correct and true in all respects. I am also aware that the company will be considering the above details in utmost good faith based on the details provided by me and that I am personally liable for any consequences arising out of errors, if any, in the above information.
										2) I am also aware that any person making a false statement / declaration in the above form shall be liable to be fined and prosecution u/s 277 of the Income Tax Act, 1961.
										<br>3) The proof of payment / Supporting for claim, will be provided by <input type="text" id="date" name="date" value="{{date.strftime("%d/%m/%Y")}}" /></label>
								</td>
							</tr>
							<tr>
								<td colspan="15" align="center">
									<strong>Note</strong>
								</td>
							</tr>
						</tbody>
					</table> -->
   	   
   	   				<!-- <table border="1" style="width: 100%;">
							 	<thead>
							        <tr>
							          	<th style="width: 650px; padding-left: 220px;">Activity</th>
							          	
							            <th style="width: 150px; padding-left: 30px;">Important Dates</th>
							        </tr>
							    </thead>
						        <tbody id="body">
   	   							<tr>
								<td  align="left">
									<label>Receipt of above Declarations by DGM-Accts,Head Office </label>
								</td>
								<td align="center">25/11/2015</td>
							</tr>
							<tr>
								<td  align="left">
									<label>On receipt of the Tax Savings proposal we shall compute the revised Income Tax liability and would send the same to the employees.  </label>
								</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td  align="left">
									<label>Based on the revised workings, employees can send further proposals before
									Submission of Proof of investment as above and other supporting  </label>
								</td>
								<td>&nbsp;</td>
							</tr>
   	   							</tbody>
   	   				</table> -->

					<br>
   	 			  <table border="1" style="width:100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>As per newly introduced Section 206AA, In case Pan is not submitted TDS will be deducted at flat rate of 20% irrespective of slabs.</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
					<div class="col-sm-12 col-md-5">            
	                       	<div class="form-group" style="width:50%;float:right">
	                        	<input type="hidden"  id="" name="">
	                           	<input id="save_details" type="submit" name='save_details' onclick=""  value="Save" class="btn btn-primary btn-block submit_button">
	                      	</div>  
			            </div> 
			            <div class="col-sm-12 col-md-2" style="opacity:0">            
	                       	<div class="form-group" style="width:50%">
	                        	<input type="hidden"  id="" name="">
	                           	<input id="" type=""   onclick=""  value="" class="btn btn-primary btn-block">
	                      	</div>  
			            </div> 

   	   					<div class="col-sm-12 col-md-5">            
	                       	<div class="form-group" style="width:50%;float:left">
	                        	<input type="hidden"  id="" name="">
	                           	<input id="submit" type="submit" value="Submit" class="btn btn-primary btn-block submit_button">
	                      	</div>  
			            </div>  
   	   
   	    </form>
     </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
{% endblock %}    
{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

$(document).ready(function(){ 

// 	var curr_month_editable=$('#curr_month_editable').val();
// 	var curr_date_editable=$('#curr_date_editable').val();
// 	var max_date_editable=$('#max_date_editable').val();
// 	if (['3','4','5','6','7','8'].includes(curr_month_editable)==false){
// 		$('.proposal_value').attr('readonly', true);
// 		console.log('proposal values are readonly');
// 	}else if(['3','4','5','6','7','8'].includes(curr_month_editable)==true){
// 		$('.proposal_value').attr('readonly', false);
// 		console.log('proposal values are editable');
// 	}

var proposals_view="{{proposals_view}}";
var actuals_status="{{actuals_status}}";
var approvals_status="{{approvals_status}}";
var submit_status="{{submit_status}}"
console.log('proposals_view : '+proposals_view+' , actuals_status : '+actuals_status+' , approvals_status : '+approvals_status);
console.log('proposals form_1.currdate < duration in db');

if(proposals_view=='proposal_enabled'){
	$('.proposal_value').attr('readonly', false);
	$('submit_button').attr('disabled',false);
// alert('1');
}
else if (proposals_view=='proposal_disabled'){
	$('.proposal_value').attr('readonly', true);
	$('.submit_button').attr('disabled',true);
	// alert('2');
}
else if (proposals_view=='actuals_enabled'){
	$('.proposal_value').attr('readonly', true);
	$('.submit_button').attr('disabled',false);
	// alert('3');
}
else if (proposals_view=='actuals_disabled'){
	$('.proposal_value').attr('readonly', true);
	$('.actuals_values').attr('readonly',true);
	$('.submit_button').attr('disabled',true);
	// alert('4');
}

if (actuals_status=='enabled'){
	$('.approvals_amt_view').css('display','none');
	$('.actuals_values').attr('readonly',true);
	$('.submit_button').attr('disabled',false);
	$('.proposal_value').attr('readonly', true);
	
}

if (approvals_status=='enabled'){
	$('.approvals_amt_view').css('display','block');
	$('.proposal_value').attr('readonly', true);
	$('.actuals_values').attr('readonly',true);
	$('.submit_button').attr('disabled',true);
	
}

if (submit_status=='submited'){
	$('.approvals_amt_view').css('display','block');
	$('.proposal_value').attr('readonly', true);
	$('.actuals_values').attr('readonly',true);
	$('.submit_button').attr('disabled',true);
	// alert('10');
}
// if (approvals_status=='disabled'){
// 	$('.approvals_amt_view').css('display', 'none');
// 	$('.actuals_values').attr('readonly',true);
// }else if(approvals_status=='enabled'){
// 	$('.approvals_amt_view').css('display','block');
// 	$('.actuals_values').attr('readonly',false);
// }


if ("{{month_submit_status}}"=='submitted'){
	$('.proposal_value').attr('readonly', true);
	$('.submit_button').attr('disabled',true);
}
// console.log("{{TD_RESULT['"+new_msg+"']}}");

$('.I585_HOMELOAN_INTR_AMT_FY').change(function(){ 
	if ($('#I584_HOMELOAN_INTR_FY').val()=='PREV_FY'){
		$('#I585_HOMELOAN_INTR_AMT').hide();
		$('#I585_HOMELOAN_INTR_AMT').val('0');
		// alert('changed');
	}else{
		$('#I585_HOMELOAN_INTR_AMT').show();
	}
	

});

///////// neededto be added in other files also
$('#I585_P6_HLT_CHK_SELF_AMT').on('keydown',function(e){

	if ($(this).val()!='' || $(this).val()!='0.0' ||$(this).val()!='0'){
		$('#I585_P7_HLT_CHK_PARNT_AMT').val('0');
		$('#I585_P7_HLT_CHK_PARNT_AMT').attr('readonly',true);
	}

});

$('#I585_P6_HLT_CHK_SELF_AMT').keyup(function(e){

	if ($(this).val()=='' || $(this).val()=='0.0' ||$(this).val()=='0'){
		// $('#I585_P7_HLT_CHK_PARNT_AMT').val('0');
		$('#I585_P7_HLT_CHK_PARNT_AMT').attr('readonly',false);
	}

});

$('#I585_P7_HLT_CHK_PARNT_AMT').on('keydown',function(e){

	if ($(this).val()!='' || $(this).val()!='0.0' ||$(this).val()!='0'){
		$('#I585_P6_HLT_CHK_SELF_AMT').val('0');
		$('#I585_P6_HLT_CHK_SELF_AMT').attr('readonly',true);
	}

});

$('#I585_P7_HLT_CHK_PARNT_AMT').keyup(function(e){

	if ($(this).val()=='' || $(this).val()=='0.0' ||$(this).val()=='0'){
		// $('#I585_P7_HLT_CHK_PARNT_AMT').val('0');
		$('#I585_P6_HLT_CHK_SELF_AMT').attr('readonly',false);
	}

});

///////// neededto be added in other files also

});



function ispdf(filename1) {
	var fileInput = document.getElementById(filename1);   
	var filename = fileInput.files[0].name;
 //    var ext = getExtension(filename);
    if (filename.split('.').pop()!='pdf') {
        bootbox.alert('Please Attach A Valid PDF File.');
        $('#'+filename1).val('');
        return false;
    }
    return false;
}
</script>
<script type="text/javascript">
$(function() {
	
	$( "#A5").datepicker({ 
		dateFormat: "dd/mm/yy",
		firstDay: 1,
		showButtonPanel: false,
		 stepMonths: 1,
	});
});

</script>


<script type="text/javascript">

$.fn.myfunction = function () { // blah 
	$('.input_custom').each(function () {
		console.log($(this).attr('id'));
	});

};
// $('.input_custom').each(function () {
// 		alert($(this).attr('id'));
// 	});



</script>




<!-- ##############################################  -->
<script type="text/javascript">

	$(document).ready(function(){
		$('.WHOLE_PARTLY').css('display','none');
		// $('#I584_SUBTYPE').val("1");
  $('#I584_HOME_SELF_X').click(function(){
            if($(this).prop("checked") == true){
              $('#I584_HOME_PART_RNT_X').prop('checked', false); 
              $('#I584_HOME_FUL_RNT_X').prop('checked', false);
              $('#I584_SUBTYPE').val("1"); 
              $('.WHOLE_PARTLY').css('display','none');
            }
        });


  $('#I584_HOME_PART_RNT_X').click(function(){
            $('.WHOLE_PARTLY').css('display','block');
            if($(this).prop("checked") == true){
              $('#I584_HOME_SELF_X').prop('checked', false);
              $('#I584_HOME_FUL_RNT_X').prop('checked', false); 
              $('#I584_SUBTYPE').val("2");             
            }
        });

   $('#I584_HOME_FUL_RNT_X').click(function(){
            
            $('.WHOLE_PARTLY').css('display','block');
            if($(this).prop("checked") == true){
              $('#I584_HOME_SELF_X').prop('checked', false);
              $('#I584_HOME_PART_RNT_X').prop('checked', false);
              $('#I584_SUBTYPE').val('3');              
            }
        });



$("#submitForm").on('click', function() {
	$('#I581_TOTAL_RENT_AMT').val("{{I581_TOTAL_RENT_AMT}}");
    	var monthly_rent_total=0;
    	$(".RENT_PMNTH").each(function () {
  monthly_rent_total=monthly_rent_total+parseInt($(this).val());
  });
    	$('#I581_TOTAL_RENT_AMT').val(monthly_rent_total);
    	console.log(monthly_rent_total);
    	console.log('Total Rent Amount');
    	$('#HRA_DETAILS').modal('hide');

    });


  

$("#submitForm_LTA").on('click', function() {
       $('#LTA_DETAILS').modal('hide');
    });
 });

</script>



<!-- <script>
$(document).on('ready', function() {
	document.getElementById("contentarea").contentDocument.location.reload(true);

document.getElementById("contentarea1").setAttribute('src', "/static/ViewerJS/index.html#6_feb_2017.pdf");

});
</script> -->
<script>
$(document).ready(function(){
	$('#test_date')
        .datepicker({
            format: 'mm/dd/yyyy'
        })
	$(document).on('click',".DT_PICKER", function(){
    $('#test_date').datepicker();
});
 
});
</script>
</script>

<script type="text/javascript">

	$(document).ready(function(){ 
		if($('#I581_ACCOM_TYPE').val()=='1'){
			$('.show_landlord').show();
		}else{
			$('.show_landlord').hide();
		}
		
		$('#I581_ACCOM_TYPE').change(function(){ 
			if($(this).val()=='4'){
				$('.show_landlord').hide();
		}else if ($(this).val()=='1'){
			$('.show_landlord').show();
		}else if ($(this).val()=='9'){
			$('.show_landlord').hide();
		}


		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() { 
		$('input').click(function() {
			$(this).removeClass('error');
		});

		$('.INVST_FORM').submit(function(e) { 
			$('.file_validate').each(function () {
				var id_temp=$(this).attr('id');

				if ($('#'+id_temp).val()!=''){

					if($('#'+id_temp).val()!=$('#'+id_temp+'_TEMP').val()){
					console.log($('#'+id_temp).val()+'   -- '+id_temp+'_TEMP'+' --   '+$('#'+id_temp+'_TEMP').val());
					if($('.'+id_temp).val()==''){
						bootbox.alert('Please Attach Document For '+$(this).attr('title')+' For Reference.');
						$(this).addClass('error');
						e.preventDefault();
					}
				}

				}
				
			});
			console.log('execution completed');
		});


$('.INVST_FORM').hide();


	$('#ACC_DURATION').click(function(){
            
            if($(this).prop("checked") == true){
            	var APR_RENT = $('#I581_APR_RENT').val();
                       $('.RENT_PMNTH').val(APR_RENT);
            }else{
            	$('.RENT_PMNTH').val('');
            }
        });


$('#FY_SEL_RADIO').change(function(){ 
	if( $(this).val()=='2016-2017'|| $(this).val()=='2017-2018'){
		// alert($(this).val());
		$('.INVST_FORM').show();
	}else{
		$('.INVST_FORM').hide();
	}

});
// $('#FY_SEL input').on('change', function() {
// 	if ($('input[name=FY_SEL_RADIO]:checked', '#FY_SEL').val()=='2016-2017'){
// 		$('.INVST_FORM').show();
// 	}else{
// 		alert('not');
// 	}
//    // alert($('input[name=radioName]:checked', '#myForm').val()); 
// });



		$('.input_custom').on('keydown',function(e){
    var deleteKeyCode = 8;
    var backspaceKeyCode = 46;
    if ((e.which>=48 && e.which<=57) || (e.which>=96 && e.which<=105)  || e.which === deleteKeyCode || e.which === backspaceKeyCode) 
    {
        $(this).removeClass('error');
        return true;
    }
    else
    {
        $(this).addClass('error');
        return false;
    }
});

$('.RENT_PMNTH').on('keydown',function(e){
    var deleteKeyCode = 8;
    var backspaceKeyCode = 46;
    if ((e.which>=48 && e.which<=57) || (e.which>=96 && e.which<=105)  || e.which === deleteKeyCode || e.which === backspaceKeyCode) 
    {
        $(this).removeClass('error');
        return true;
    }
    else
    {
        $(this).addClass('error');
        return false;
    }
});

$('.INC_OS').on('keydown',function(e){
    var deleteKeyCode = 8;
    var backspaceKeyCode = 46;
    if ((e.which>=48 && e.which<=57) || (e.which>=96 && e.which<=105)  || e.which === deleteKeyCode || e.which === backspaceKeyCode) 
    {
        
        return true;
    }
    else
    {
        bootbox.alert('Accepts Only Numericals');
        return false;
    }
});

	});
</script>
<script type="text/javascript">
	if('{{TD_RESULT["I581_ACCOM_TYPE"]}}' !=''){ 

		$('#I581_ACCOM_TYPE option[value={{TD_RESULT["I581_ACCOM_TYPE"]}}]').attr('selected','selected');
	};

	if ('{{TD_RESULT["I581_METRO"]}}' != ''){

		$('#I581_METRO option[value={{TD_RESULT["I581_METRO"]}}]').attr('selected','selected');
	}
if ('{{TD_RESULT["I582_MDA_EXMPT_AMT"]}}' != '0.00' ){

		$('#I582_MDA_EXMPT_AMT').attr('readonly','readonly');
	}
if ('{{TD_RESULT["I582_LTA_EXMPT_AMT"]}}' != '0.00' ){

		$('#I582_LTA_EXMPT_AMT').attr('readonly','readonly');
	}
if ('{{TD_RESULT["I582_SCEA_EXMPT_AMT"]}}' != '0.00' ){ 

		$('#I582_SCEA_EXMPT_AMT').attr('readonly','readonly');
	}
if ('{{TD_RESULT["I584_HOME_SELF_X"]}}' == '' ){

		$('#I584_HOME_SELF_X').prop('checked', false);
	}
if ('{{TD_RESULT["I584_HOME_FUL_RNT_X"]}}' == '' ){

		$('#I584_HOME_FUL_RNT_X').prop('checked', false);
	}
if ('{{TD_RESULT["I584_HOME_PART_RNT_X"]}}' == '' ){

		$('#I584_HOME_PART_RNT_X').prop('checked', false);
	}
</script>
{% endblock %}
