{% extends "base.html" %}
{% block links %}


<style type="text/css">
body { font-size: 140%; }

</style>
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
{% endblock %}
{% block pageheader %} 
<style type="text/css">
  .buttons-excel{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding:10px;
    border-radius:2px;
}
.buttons-excel:hover, .buttons-excel:focus{
  color: white;
  }
}
</style>          
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Investment Proposal</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Proposals List</h4>
           </div><!-- panel-heading -->
        <form id="FY_selectform" action="" method="POST" >
        <input type="text" name="curr_user_plant_id" value="{{user_details['plant_id']}}" style="display:none">
					 <div class="col-md-3">
						<div class="form-group">
    						<label for="start_date">Select FY</label>
					 	  <select class="form-control selct" id='FY_YEAR' name="FY_YEAR" style="width:150px">
					   										<option value=""></option>
											            	<option value="2016-2017">2016 - 2017</option>
											        </select>        
					  </div>
					
					 </div>
			</form>
					  
					 
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12" style="margin-top:25px">
<div class="portlet-content">   
					
					 
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
       
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<!-- <script src="/static/js/jquery.dataTables.min.js"></script> -->
<!-- <script src="/static/js/dataTables.bootstrap.js"></script> -->
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // $('#example').DataTable({
    // });
} )

</script>
<!-- <script>

/*document.getElementById("gov").addEventListener("click", function() {
  window.open("/static/forms/Form16/government/"+n+"/{{ user_details.pancard }}.pdf");
}, false);
document.getElementById("comp").addEventListener("click", function() {
  window.open("/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");
}, false);

document.getElementById("contentarea").setAttribute('data', "/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf");

document.getElementById("down").setAttribute('onclick',"window.open('/static/forms/Form16/company/"+n+"/{{ user_details.pancard }}.pdf','_blank')");

document.getElementById("down").innerHTML = "Download "+n+" Company form 16" ;
*/
</script> -->
<!-- <script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelFlash',
                filename: 'Data export',
                text: 'Save current page',
                exportOptions: {
                    modifier: {
                      page: 'current'
                }
            }
            },
            {
                extend: 'excelFlash',
                filename: 'Data export',
                text: 'Save'
            }]
    } );
} );
</script> -->
 <script type="text/javascript">

$(document).ready(function(){ 
  // $('#FY_selectform').change(function(){ 

$("#FY_YEAR").change(function(e){ 
        e.preventDefault();
        var datastring=$('#FY_selectform').serialize();
        console.log(datastring);
        $.ajax({
            type: "POST",
            url: "/investment/employee_list_ajax/",
            data: datastring,
            success: function(data) {
              console.log(data);
              $('#example').DataTable( {
                    destroy: true,
                    data: data['result'],
                    columns: [
                     { title: "UserId" },
                        { title: "Name" },
                         { title: "Payroll Area" },
                          { title: "Status" },
                           { title: "Status Time" }

                            ],
                  dom: 'Bfrtip',
        buttons: [
            'excelHtml5',
        ]
                    } );
            }
          });




      });





});

$( document ).ajaxStart(function() {
  $( "#preloader" ).show();
  $("#status").show();
});

$( document ).ajaxStop(function() {
  $( "#preloader" ).hide();
  $("#status").hide();
});

</script>

  <script type="text/javascript">
  document.getElementById('id-300').className ="nav-parent nav-active active";
      document.getElementById("h").style.display = "block";
document.getElementById('id-300.7').className ="active";
    </script>

{% endblock %}
