{% extends "base.html" %}
{% block links %}

 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Investment Proposal</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
 
    <script type="text/javascript">
    document.getElementById('id-300').className ="nav-parent nav-active active";
    document.getElementById("h").style.display = "block";
	document.getElementById('id-300.4').className ="active";
    </script>
 
    <div class="row">
        
        <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" id="apl">
		<div class="form-group">
    				<table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>ACTUAL INVESTMENT DECLARATION FORM FOR THE FINANCIAL YEAR {{year-1}} - {{year}}.</strong>
								</td>
							</tr>
						</tbody>
					</table>
   		</div>
      	<p>With reference to the below, I request you to take into consideration the following savings will be made by me while computing tax liability for the year {{year-1}} - {{year}}.</p>
   	   {% set i=0 %}
   	   {% for e in emp_data %}
   	   <div class="col-md-12" >
   	   	<style type="text/css">
    	input { text-align:center;
    			font-family: "Times New Roman";
    			 }
    	</style>
             <div class="col-md-12 col-md-2" >
        </div>
  
        	<div id='' class="col-xs-12 col-md-3">
         	
				<div id="">
					<input style="font-size:15px" class="form-control" type="text" id='Mobile' maxlength="10" name='Mobile' value=  {{e['mobile_number']}} readonly>
				</div>

			</div>
			
			<div id='' class="col-xs-12 col-md-4">
				<div id="">

  				<input style="font-size:15px" class="form-control" type='text' id='Email_id' name='Email' value={{e['email_id']}} align="center" readonly>
  			</div>
  			
  			</div>
  		</div>
   	  	 <table id="table"  border="1" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr>
							          	<th style="width: 450px; padding-left: 220px;">Particulars</th>
							            <th style="width: 150px; padding-left: 50px;">Max Limit</th>
							            <th style="width: 150px; padding-left: 30px;">Actual Investment 01.04.{{year}} - 31.03.{{year+1}}</th>
							            <th style="width: 10px; padding-left: 5px;"> Attachments </th>
							        </tr>
							    </thead>
							     <tbody id="body">
							     <tr>
							     <td><strong>Details regarding Rent</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;</td>
							     </tr>
							      <tr>
							     <td><label>Accommodation provided by Company</label></td>
							     <td>&nbsp;</td>
							     <td><span>{{e['rent_details']['accomidationByComp']}}</span></td>
							     
							     </tr>
							     {% if e['rent_details']['accomidationByComp'] == 'Yes' %}
							     <tr class="toshow1">
							     	<td><label>Rent paid by the employee to company(In case if company owned accommodation)</label></td>
							     	<td>&nbsp;</td>
							     	<td>
							     	{% if e['rent_details']['emp_to_comp_per_month']  == "" %}
							     	<label>Per Month:	Nill</label>
							     	{% else %}
							     	<label>Per Month:	{{e['rent_details']['emp_to_comp_per_month'] }}</label>
							     	{% endif %}
							     	{% if e['rent_details']['emp_to_comp_No_of_month']  == "" %}
							     	<label>No of Months:	Nill</label>
							     	{% else %}
							     	<label>No of Months: {{e['rent_details']['emp_to_comp_No_of_month']}} </label>
							     	{% endif %}
							     	{% if e['rent_details']['emp_to_comp_Tot_amount']  == "" %}
							     	<label>Total Amount:	Nill</label>
							     	{% else %}
							     	<label>Total Amount:  {{e['rent_details']['emp_to_comp_Tot_amount']}} </label>
							     	{% endif %}
							     	</td>
							     	{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'rent_to_cmpny.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							   	 <tr class="toshow2" >
							     	<td><label>House rent paid by the company to the employee at site in addition to that paid with salary</label></td>
							     	<td>&nbsp;</td>
							     	<td>
							     	{% if e['rent_details']['comp_to_emp_per_month']  == "" %}
							     	<label>Per Month:	Nill</label>
							     	{% else %}
							     	<label>Per Month:	{{e['rent_details']['comp_to_emp_per_month'] }}</label>
							     	{% endif %}
							     	{% if e['rent_details']['comp_to_emp_No_of_month']  == "" %}
							     	<label>No of Months:	Nill</label>
							     	{% else %}
							     	<label>No of Months: {{e['rent_details']['comp_to_emp_No_of_month'] }}</label>
							     	{% endif %}
							     	{% if e['rent_details']['comp_to_emp_Tot_amount']  == "" %}
							     	<label>Total Amount:	Nill</label>
							     	{% else %}
							     	<label>Total Amount:  {{e['rent_details']['comp_to_emp_Tot_amount'] }}</label>
							     	{% endif %}
							     	</td>
							     	{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'cmpny_to_emp.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                					{%endif%}
                					{% endfor %}
							     </tr>
							    {% else %}
							     <tr class="toshow3">
							     	<td><label>Rent paid/Payable for the period April {{year}}- March {{year+1}}<br>(If rent paid is more than Rs 8,333 p.m or Rs 100000 p.a. Pan no of owner of house & address is needed) </label></td>
							     	<td>&nbsp;</td>
							     	<td>
							     	{% if e['rent_details']['rent_paid_own_per_month']  == "" %}
							     	<label>Per Month:	Nill</label>
							     	{% else %}
							     	<label>Per Month:	{{e['rent_details']['rent_paid_own_per_month'] }}</label>
							     	{% endif %}
							     	{% if e['rent_details']['ownner_pan']  == "" %}
							     	<label>Owner PAN:	Nill</label>
							     	{% else %}
							     	<label>Owner PAN: {{e['rent_details']['ownner_pan'] }}</label>
							     	{% endif %}
							     	{% if e['rent_details']['owner_add']  == "" %}
							     	<label>Owner Address:	Nill</label>
							     	{% else %}
							     	<label>Owner Address:  {{e['rent_details']['owner_add'] }}</label>
							     	{% endif %}
							     	</td>
							     	{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'rent_period_year.pdf' %}
							     	{% if docs['filename'] == i %}

							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      {% endif %}
							      <tr>
							     <td><strong>Details under section 24</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;</td>
							     </tr>
							      <tr>
							     <td><label>Accommodation: Self Occupied</label></td>
							     <td>&nbsp;</td>
							     <td><span>{{e['section24_details']['selfoccupied']}}</span></td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'self_occupied.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							    {% if e['section24_details']['selfoccupied'] == 'Yes'%} 
							     <tr class="toshow4" >
							     <td><label>Interest on housing loan on self occupied property/fully constructed accommodation only mentioning address with date of occupation
							   	 <br> (If loan taken for repairs or re-construction interest paid should be limited to Rs.30000/-)
							     </label></td>
							     <td><label>30000/200000</label></td>
							     <td>
							     {%if e['section24_details']['loan_on_self'] == "" %}
							     	<label>Amount: Nill</label>
							      {% else %}
							    	  <label>Amount: {{e['section24_details']['loan_on_self']}} p.a</label>
							      {% endif %}
								</td>
								{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'Interest_on_housing.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							     <tr class="toshow4" >
							     	<td align="right">OR</td>
							     	<td>&nbsp;</td>
							     	<td>&nbsp;</td>
							     </tr>
							     <tr class="toshow4" >
							     <td><label>Interest on housing loan on let out property
							     </label></td>
							     <td>&nbsp;</td>
							     <td>
									 {%if e['section24_details']['loan_on_outlet'] == "" %}
							     	<label>Amount: Nill</label>
							      {% else %}
							    	  <label>Amount: {{e['section24_details']['loan_on_outlet']}} p.a</label>
							      {% endif %}
								</td>
								{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'let_out_interest.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							     <tr class="toshow4" >
							     <td><label>Rental income from such property mentioning address.
							     </label></td>
							     <td>&nbsp;</td>
							     <td>
									 {%if e['section24_details']['rental_income'] == "" %}
							     	<label>Amount: Nill</label>
							      {% else %}
							    	  <label>Amount: {{e['section24_details']['rental_income']}} p.a</label>
							      {% endif %}
								</td>
								{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'rental_income.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow4" >
							     <td><label>Municipal taxes paid during the year
							     </label></td>
							     <td>&nbsp;</td>
							     <td>
									 {%if e['section24_details']['municipal_tax'] == "" %}
							     	<label>Amount: Nill</label>
							      {% else %}
							    	  <label>Amount: {{e['section24_details']['municipal_tax']}} p.a</label>
							      {% endif %}
								</td>
								{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'municipal_tax.pdf' %}
							     	{% if docs['filename'] == i %}

							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow4" style="display:none">
							     <td><label>Date of Occupation 
							     </label></td>
							     <td>&nbsp;</td>
							     <td>
							     	{%if e['section24_details']['date_of_occupation'] == "" %}
							     	<label>Date: Nill</label>
							      {% else %}
							    	  <label>Date: {{e['section24_details']['date_of_occupation']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'date_occupation.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							     <tr class="toshow4" >
							     <td><label>House Address
							     </label></td>
							     <td>&nbsp;</td>
							     <td>
									{%if e['section24_details']['house_add'] == "" %}
							     	<label>Address: Nill</label>
							      {% else %}
							    	  <label>Address: {{e['section24_details']['house_add']}} </label>
							      {% endif %}
								</td>
								{% for docs in user_documents %}
							     	
							     	{% set i= user_id+'housing_address.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							    {% endif%} 
							     <tr>
							     <td><strong>Section 80 EE Additional Deduction for new Housing Loan Less than 25 Lakhs</strong></td>
							     <td>Actual :2500000<br>Maximum allowed :100000</td>
							     <td><label>Consider max.limit for IT Act.</label>
							    	{%if e['section80EE_details'] == "" %}
							     	<label>Amount: Nill</label>
							      {% else %}
							    	  <label>Amount: {{e['section80EE_details']}} p.a</label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'section_80_EE.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
                					
							     </tr>
							     <tr>
							     <td><strong>Deduction under Chapter VI A</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							     <tr>
							     <td><label>Sec 80D- Medical Insurance Premium(Only if Senior Citizen included Rs.20000 allowed )*</label></td>
							     <td align="center"> 25000/30000</td>
							     <td>
							     	{%if e['chapterVIA']['medical_insurence'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['chapterVIA']['medical_insurence']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'section_80_D_senr_ctzn.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Medical insurance for parents</label></td>
							     <td> &nbsp;</td>
							     <td>
							     {%if e['chapterVIA']['med_insur_parents'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['chapterVIA']['medical_insu_for_parents']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'med_insur_parents.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Sec 80DD - Specified expenditure on disabled dependent with valid certificate proof required<strong>(should claim from I.T. Dept. directly)</strong></label></td>
							     <td> &nbsp;</td>
							     <td>
							     	 {%if e['chapterVIA']['section80DD'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['chapterVIA']['section80DD']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'section_80DD_disabled.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Sec 80DDB - Medical treatment (specified diseases only) -<strong> Should claim from I.T. Dept. directly</strong></label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['chapterVIA']['section80DDB'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['chapterVIA']['section80DDB']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'section_80DB_medical.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Sec 80E - Interest paid on Education loan - Self and/or Dependent-</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['chapterVIA']['section80E'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['chapterVIA']['section80E']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'edu_lone_intrst.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Sec 80U - Self Handicapped -<strong>  Should claim from I.T. Dept. directly</strong></label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['chapterVIA']['section80U'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['chapterVIA']['section80U']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'sec_80U_self_hndcp.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><strong>Rebate under section 80CC</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							       <tr>
							     <td><label>Contribution to Pension Fund/Scheme - 80CC</label></td>
							     <td> &nbsp;</td>
							     <td>
							     {%if e['section80CC']['contribution_to_pension'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['contribution_to_pension']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'cntrb_to_pnsn.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Life Insurance premium -other than salary deduction (exceeding 20% of the sum assured is not eligible for rebate) on life of self or spouse and child only</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['life_insurance_premium'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['life_insurance_premium']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'lyf_insur_prem.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Public Provident Fund ( P P F) on life of self or spouse and child only</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['public_provident_fund'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['public_provident_fund']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'PPF.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Deposit in National Saving Certificate (N S C) after 01.04.2010 considered only</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['deposit_in_national_saving'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['deposit_in_national_saving']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'NSC.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Interest on NSC reinvested (up to 5th completed year only)</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['interest_on_NSC'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['interest_on_NSC']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'intrst_on_NSC.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Unit Linked Insurance Plan (ULIP )</label></td>
							     <td align="center">150000</td>
							     <td>
							       {%if e['section80CC']['ulip'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['ulip']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'ULIP.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Principal Loan (Housing Loan) Re-payment / Stamp Duty paid for fully constructed property</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['principal_loan'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['principal_loan']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'Housing_Lone.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Specified units of Mutual Funds</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['mutual_funds'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['mutual_funds']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'mutual_funds.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>ELSS</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['elss'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['elss']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'ELSS.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Children Education expenses (Tuition Fees) for max of 2 children</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['children_education_exp'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['children_education_exp']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'children_tutn_fee.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							     <tr>
							     <td><label>Fixed Deposits in Banks (maturity period more than 5 years)</label></td>
							     <td> &nbsp;</td>
							     <td>
									 {%if e['section80CC']['fixed_deposits'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['fixed_deposits']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'fixed_deposits.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Notified Infrastructure Bonds/Specified tax Savings Bonds such as IDBI, ICICI, REC, and NHAI.</label></td>
							     <td> &nbsp;</td>
							     <td>
									 {%if e['section80CC']['notified_infrastructure_bonds'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['notified_infrastructure_bonds']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'tax_saving_bonds.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Deferred Annuity</label></td>
							     <td> &nbsp;</td>
							     <td>
							     	 {%if e['section80CC']['deferred_annuity'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['deferred_annuity']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'Deferred_Annuity.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr>
							     <td><label>Others (please specify).</label></td>
							     <td> &nbsp;</td>
							     <td>
							      {%if e['section80CC']['Others'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['Others']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'others.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td>&nbsp;</td>
							     <td align="right">Total Rs.</td>
							     <td>
							        {%if e['section80CC']['total'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CC']['total']}} </label>
							      {% endif %}
							     </td>
							     </tr> 
							       <tr>
							     <td><strong>Additional Benefit</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							        <tr>
							     <td><label>80CCG RAJIV GANDHI SAVING SCHME<br>Maximum investment-benefit allowed-50% of the investment one time deduction</label></td>
							     <td align="center"> 50000</td>
							     <td>
							       {%if e['section80CCG'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['section80CCG']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'80CCG.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><strong>Previous Employment Salary Details(Salary earned from 1-04-{{year}} till date of joining) - Enclose Form 16 (Provisional)</strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							       <tr>
							     <td><label>Gross Salary after Section 10(Gross Income-Conveyance,Medical,HRA Exemption Etc)</label></td>
							     <td >&nbsp;</td>
							     <td>
							       {%if e['pre_emp_sal_details']['gross_salary'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['pre_emp_sal_details']['gross_salary']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'gross_salary.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Previous PF</label></td>
							     <td >&nbsp;</td>
							     <td>
							       {%if e['pre_emp_sal_details']['pre_PF'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['pre_emp_sal_details']['pre_PF']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'previous_pf.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>Previous PT</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['pre_emp_sal_details']['pre_PT'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['pre_emp_sal_details']['pre_PT']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'previous_pt.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><label>Previous Savings</label></td>
							     <td >&nbsp;</td>
							     <td>
							        {%if e['pre_emp_sal_details']['Pre_savings'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>Rs. {{e['pre_emp_sal_details']['Pre_savings']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'previous_savings.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr>
							     <td><strong>Amount spent towards tuition fees for education only for two children<br>
							     <font color="red" style="font-size: 11px;">(*Note that any Development fees or donation or payment of similar nature shall not be eligible for deduction.)</font>
							     </strong></td>
							     <td>&nbsp;</td>
							     <td>&nbsp;
							     </td>
							     </tr>
							      <tr>
							     <td><label>No. of children</label></td>
							     <td >&nbsp;</td>
							     <td>
							       {%if e['children_details']['no_of_childerns'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label> {{e['children_details']['no_of_childerns']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'no_of_childeren.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>(a) School going children</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['children_details']['sch_going_child'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label> {{e['children_details']['sch_going_child']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'school_going.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>(b) Staying at Hostel</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['children_details']['stay_at_hostal'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label> {{e['children_details']['stay_at_hostal']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'hostel_staying.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr>
							     <td><label>(c) Not staying in Hostel (a-b)</label></td>
							     <td >&nbsp;</td>
							     <td>
									  {%if e['children_details']['not_stay_in_hostal'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['children_details']['not_stay_in_hostal']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	{% set i= user_id+'home_staying.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr>
							     <td><strong>Perquisites if any received from the company (Fill Form No 12B is enclosed)</strong></td>
							     <td>&nbsp;</td>
							     <td>{{e['perquisites']['form_no_12']}}</td>
							     </tr>
							     {% if e['perquisites']['form_no_12'] == 'Yes'%}
							     <tr class="toshow5" >
							     <td><label>Accomodation</label></td>
							     <td >&nbsp;</td>
							     <td>
									  {%if e['perquisites']['accomidation'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['accomidation']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	{% set i= user_id+'Accomodation.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5" >
							     <td><label>Cars/Other automotive</label></td>
							     <td >&nbsp;</td>
							     <td>
							       {%if e['perquisites']['cars_others'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['cars_others']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'automotive.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr class="toshow5">
							     <td><label>Sweeper,Gardener,Watchman or Personal attendant</label></td>
							     <td >&nbsp;</td>
							     <td>
							          {%if e['perquisites']['sweeper'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['sweeper']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'Personal_attendant.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5">
							     <td><label>Gas,Electricity,Water</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['perquisites']['Gas'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['Gas']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'gas_elec_water.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5" >
							     <td><label>Interest free or Concessional loans</label></td>
							     <td >&nbsp;</td>
							     <td>
							     {%if e['perquisites']['interest_free'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['interest_free']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'Concessional_loans.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5" >
							     <td><label>Holiday expenses</label></td>
							     <td >&nbsp;</td>
							     <td>
									  {%if e['perquisites']['holiday_expenses'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['holiday_expenses']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'holiday_expenses.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr class="toshow5">
							     <td><label>Free or Concessional Travel</label></td>
							     <td >&nbsp;</td>
							     <td>
							       {%if e['perquisites']['free'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['free']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'Concessional_Travel.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr class="toshow5" >
							     <td><label>Free Meals</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['perquisites']['free_meals'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['free_meals']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'free_meals.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr class="toshow5" >
							     <td><label>Free Education</label></td>
							     <td >&nbsp;</td>
							     <td>
							        {%if e['perquisites']['free_education'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['free_education']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	{% set i= user_id+'free_education.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							         <tr class="toshow5">
							     <td><label>Gifts,Vouchers etc</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['perquisites']['gifts'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['gifts']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'gift_vouchers.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr class="toshow5" >
							     <td><label>Credit card expenses</label></td>
							     <td >&nbsp;</td>
							     <td>
									 {%if e['perquisites']['creditcard_exp'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['creditcard_exp']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'credit_card_expnses.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							        <tr class="toshow5" >
							     <td><label>Club expenses</label></td>
							     <td >&nbsp;</td>
							     <td>
							     	 {%if e['perquisites']['club_exp'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['club_exp']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'club_expenses.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr class="toshow5">
							     <td><label>Use of movable assets by employee</label></td>
							     <td >&nbsp;</td>
							     <td>
										 {%if e['perquisites']['use_of_assets'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['use_of_assets']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'movable_assets.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5">
							     <td><label>Transfer of assets to employee</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['perquisites']['transfer_of_assets'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['transfer_of_assets']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'trnsfr_of_assets.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5">
							     <td><label>Values of any other benefits/amenity/service/privilege</label></td>
							     <td >&nbsp;</td>
							     <td>
									  {%if e['perquisites']['values_of_others'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['values_of_others']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'any_other_benifits.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5">
							     <td><label>Stock options(non-qualified options)</label></td>
							     <td >&nbsp;</td>
							     <td>
							     	 {%if e['perquisites']['stock_options'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['stock_options']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'stock_options.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5">
							     <td><label>Other benefits or amenities</label></td>
							     <td >&nbsp;</td>
							     <td>
							     	 {%if e['perquisites']['other_benefits'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['other_benefits']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'other_benifits.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							     <tr class="toshow5" >
							     <td><label>House Loan</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['perquisites']['house_loan'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['house_loan']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'house_lone.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							      <tr class="toshow5" >
							     <td><label>Vehicle Loan</label></td>
							     <td >&nbsp;</td>
							     <td>
							       {%if e['perquisites']['vehicle_loan'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['vehicle_loan']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'vehicle_lone.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr class="toshow5" >
							     <td><label>Total value of perquisites</label></td>
							     <td >&nbsp;</td>
							     <td>
									 {%if e['perquisites']['total_perquisites'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['total_perquisites']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'value_of_perquisites.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							       <tr class="toshow5">
							     <td><label>Total value of profits in lieu of salary as per 17(3)</label></td>
							     <td >&nbsp;</td>
							     <td>
							      {%if e['perquisites']['total_profits'] == "" %}
							     	<label> Nill</label>
							      {% else %}
							    	  <label>{{e['perquisites']['total_profits']}} </label>
							      {% endif %}
							     </td>
							     {% for docs in user_documents %}
							     	
							     	{% set i= user_id+'value_of_profit.pdf' %}
							     	{% if docs['filename'] == i %}
							     	<td>
							     	<a href="/static/ViewerJS/index.html#../..{{"/investment/static/pdf/gridfs/"+docs['filename']}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
							     	</td>
                				
                					{%endif%}
                					{% endfor %}
							     </tr>
							     {% endif %}
							     </tbody>
   	  	 </table>
						<table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>Declaration</strong>
								</td>
							</tr>
							<tr>
								<td colspan="15" align="left">
									<label>	1) I hereby declare that the information given above is correct and true in all respects. I am also aware that the company will be considering the above details in utmost good faith based on the details provided by me and that I am personally liable for any consequences arising out of errors, if any, in the above information.
										2) I am also aware that any person making a false statement / declaration in the above form shall be liable to be fined and prosecution u/s 277 of the Income Tax Act, 1961.
										<br>3) The proof of payment / Supporting for claim, will be provided by <input type="text" id="date" name="date" value="{{date.strftime("%d/%m/%Y")}}" readonly="readonly"/></label>
								</td>
							</tr>
							<tr>
								<td colspan="15" align="center">
									<strong>Note</strong>
								</td>
							</tr>
						</tbody>
					</table>
   	   
   	   				<table border="1" style="width: 100%;">
							 	<thead>
							        <tr>
							          	<th style="width: 650px; padding-left: 220px;">Activity</th>
							          	
							            <th style="width: 150px; padding-left: 30px;">Important Dates</th>
							        </tr>
							    </thead>
						        <tbody id="body">
   	   							<tr>
								<td  align="left">
									<label>Receipt of above Declarations by DGM-Accts,Head Office </label>
								</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td  align="left">
									<label>On receipt of the Tax Savings proposal we shall compute the revised Income Tax liability and would send the same to the employees.  </label>
								</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td  align="left">
									<label>Based on the revised workings, employees can send further proposals before
									Submission of Proof of investment as above and other supporting  </label>
								</td>
								<td>&nbsp;</td>
							</tr>
   	   							</tbody>
   	   				</table>
   	 			  <table border="1" style="width: 100%;">
						<tbody>
							<tr>
								<td colspan="15" align="center">
									<strong>As per newly introduced Section 206AA, In case Pan is not submitted TDS will be deducted at flat rate of 20%.</strong>
								</td>
							</tr>
						</tbody>
					</table>
			{% set i=i+1%}
			{% endfor%}
   	   
   	    </form>
     </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
$(function() {
	
	$( "#A5").datepicker({ 
		dateFormat: "dd/mm/yy",
		firstDay: 1,
		showButtonPanel: false,
		 stepMonths: 1,
	});
});

</script>
<script type="text/javascript">
$("input:radio[name=rad]").click(function() {
    var value = $(this).val();
    if(value == 'Yes')
    {
    	$(".toshow1").show();
    	$(".toshow2").show();
    	$(".toshow3").hide();
    }
    if(value == 'No')
    {
    	$(".toshow1").hide();
    	$(".toshow2").hide();
    	$(".toshow3").show();
    }
});
</script>

<script type="text/javascript">
$("input:radio[name=rad1]").click(function() {
    var value = $(this).val();
    if(value == 'Yes')
    {
    	$(".toshow4").show();
    }
    if(value == 'No')
    {
    	$(".toshow4").hide();
    	
    }
});
</script>
<script type="text/javascript">
$("input:radio[name=rad2]").click(function() {
    var value = $(this).val();
    if(value == 'Yes')
    {
    	$(".toshow5").show();
    }
    if(value == 'No')
    {
    	$(".toshow5").hide();
    	
    }
});
</script>
<script type="text/javascript">
function validate(){
	//alert('Hello');
	var fromdate= document.getElementById('start_date').value;
	var todate= document.getElementById('end_date').value;
	//alert(fromdate);
	if (todate < fromdate) {
        alert("To date Should not be less than From date");
        document.getElementById('end_date').value = '';
        todate.focus();
        return false;
      }
}

</script>

{% endblock %}
