{% extends "base.html" %}
{% block links %}


<style type="text/css">
body { font-size: 140%; }
</style>

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Investment Proofs Approval</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Proposals List</h4>
           </div><!-- panel-heading -->
        <form id="FY_selectform" action="" method="POST" >
        <input type="text" name="curr_user_plant_id" value="{{user_details['plant_id']}}" style="display:none">
					 <div class="col-md-3">
						<div class="form-group">
    						<label for="start_date">Select FY</label>
					 	  <select class="form-control selct" id='FY_YEAR' name="FY_YEAR" style="width:150px">
					   										<option value=""></option>
											            	<option value="2016-2017">2016 - 2017</option>
											        </select>        
					  </div>
					
					 </div>
           <div class="col-md-3">
            <div class="form-group">
                <label for="start_date">&nbsp;</label>
              <input type="submit" value="View Details" name='submit' class="btn btn-primary btn-sm" id="al" style="margin-top:30px"> 
            </div>
          
           </div>
					 

			</form>
		
					  
					
					 
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12" style="margin-top:25px;">
<div class="portlet-content">   
					
					 
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>Employee Name</th>
                <th>Location</th>
                <th>Entry Date</th>
                 <th>Year of Actuals</th>
                 <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
     {% set i=0 %}
{% for e in emp_data %}
            <tr>

                <td>{{e['EMPLOYEE_ID'][3:]}}</td>  
                <td>{{e['Name']}}</td>
                <td>{{e['Payroll_area']}}</td>
                <td>{{e['SUBMIT_TIME']}}</td>
                  <td>{{e['FY_YEAR']}}</td>
                  <td style="padding-left: 40px;">
                <form id="approve" action="" method="POST" > 
                <input type="hidden" value="{{ e['_id']}}" name="object_id" />
                <input type="hidden" value="{{ e['EMPLOYEE_ID'][3:]}}" name="user_id" />
                <input type="hidden" value="{{ e['FY_YEAR']}}" name="year_of_Actual" />
              	 <button type="submit" name="submit"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" data-original-title="View" id="agree{{i}}"  value="VIEW"  ></button>
                </form>
            </tr>
           {% set i=i+1 %}
       {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

<script type="text/javascript">

$(document).ready(function(){ 
  // $('#FY_selectform').change(function(){ 





});

</script>


  <script type="text/javascript">
  document.getElementById('id-300').className ="nav-parent nav-active active";
      document.getElementById("h").style.display = "block";
document.getElementById('id-300.8').className ="active";
    </script>

{% endblock %}
