{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->
<style type="text/css">
body { font-size: 140%; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.input-sm{
  margin-top: 0px;
}
.custom_margin{
  margin-bottom: 10px;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Kaizen</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Kaizen Entry Form</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
<div class="col-lg-12">
<div class="portlet-content">   

              <form class="form" method="POST" id='kaizen_entry' enctype="multipart/form-data">
                <div class="col-md-4">
                    <div class="col-md-12 custom_margin">
                        <div class="col-md-4">
                          <label for="">Plant</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" id="plant" name='plant' placeholder="" value="{{kaizen_details['plant_id']}}" readonly="readonly" >
                        </div>
                    </div>
                    <div class="col-md-12 custom_margin">
                        <div class="col-md-4">
                          <label for="">Date</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" id="kaizen_date" name="kaizen_date" placeholder="" readonly="readonly" value="{{kaizen_details['kaizen_date']}}">
                            
                        </div>
                    </div>
                    <div class="col-md-12 custom_margin">
                        <div class="col-md-4">
                          <label for="">Kaizen Id</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" id="kaizen_id" name="kaizen_id" placeholder="" readonly="readonly" value="{{kaizen_details['kaizen_id']}}">
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                {% if kaizen_details['Implementation_details'][0]['employee_id'] %}
                  <div class="col-md-3" style="float:right">
                      <label style="height:36px;text-align:center">{{kaizen_details['Implementation_details'][0]['employee_name']}}</label>
                   {% if kaizen_details['Implementation_details'][0]['employee_id'] in kaizen_files %}
  <img src="/static/Kaizens/{{kaizen_dir}}/{{kaizen_details['Implementation_details'][0]['employee_id']}}.{{kaizen_files[kaizen_details['Implementation_details'][0]['employee_id']]}}" class="img-thumbnail" alt="test image" >
                    {% else %}
                    Image Not Uploaded
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if kaizen_details['Implementation_details'][1]['employee_id'] %}
                  <div class="col-md-3" style="float:right">
                  <label style="height:36px;text-align:center" >{{kaizen_details['Implementation_details'][1]['employee_name']}}</label>

                   {% if kaizen_details['Implementation_details'][0]['employee_id'] in kaizen_files %}
                      <img src="/static/Kaizens/{{kaizen_dir}}/{{kaizen_details['Implementation_details'][1]['employee_id']}}.{{kaizen_files[kaizen_details['Implementation_details'][1]['employee_id']]}}" class="img-thumbnail" alt="test image" >
                      {% else %}
                    Image Not Uploaded
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if kaizen_details['Implementation_details'][2]['employee_id'] %}
                  <div class="col-md-3" style="float:right">
                  <label style="height:36px;text-align:center">{{kaizen_details['Implementation_details'][2]['employee_name']}}</label>

                   {% if kaizen_details['Implementation_details'][0]['employee_id'] in kaizen_files %}
                     <img src="/static/Kaizens/{{kaizen_dir}}/{{kaizen_details['Implementation_details'][2]['employee_id']}}.{{kaizen_files[kaizen_details['Implementation_details'][2]['employee_id']]}}" class="img-thumbnail" alt="test image" >
                     {% else %}
                    Image Not Uploaded
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if kaizen_details['Implementation_details'][3]['employee_id'] %}
                  <div class="col-md-3" style="float:right">
                  <label style="height:36px;text-align:center">{{kaizen_details['Implementation_details'][3]['employee_name']}}</label>

                   {% if kaizen_details['Implementation_details'][0]['employee_id'] in kaizen_files %}
                      <img src="/static/Kaizens/{{kaizen_dir}}/{{kaizen_details['Implementation_details'][3]['employee_id']}}.{{kaizen_files[kaizen_details['Implementation_details'][3]['employee_id']]}}" class="img-thumbnail" alt="test image" >
                      {% else %}
                    Image Not Uploaded
                    {% endif %}
                  </div>
                  {% endif %}


                  {% if kaizen_details['implementation_type']=='team' %}
                  <div class="col-md-6" style="float:right;">
                  <label style="text-align:center">Team Implementation Description</label>
                      <!-- <img src="/static/Kaizens/{{kaizen_dir}}/{{kaizen_details['Implementation_details'][0]['employee_id']}}.{{kaizen_files[kaizen_details['Implementation_details'][0]['employee_id']]}}" class="img-thumbnail" alt="test image" > -->
                      <textarea type="text" class="form-control" rows="4" cols="40" readonly="readonly"> {{ kaizen_details['Implementation_details'][0]['Implementation_desc'] }} </textarea>
                      

                  </div>

                  {% endif %}
                </div>


                <div class="col-md-12 custom_margin">
                    <div class="col-md-2">
                      <label for="">Problem Identified</label>
                    </div>
                    <div class="col-md-8">
                      <textarea type="text" class="form-control"  id="prob_identified" class="prob_identified" rows="3" maxlength="300" readonly="readonly">{{kaizen_details['problem_identified']}}</textarea>
                    </div>                      
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 custom_margin">
                     <label><b>Countermeasure (Need To Include Implementation Cost,If Any)</b></label>
                      <textarea type="text" class="form-control"  id="Countermeasure" name="Countermeasure" rows="5" maxlength="300" readonly="readonly">{{kaizen_details['countermeasure']}}</textarea>
                    </div>
                    <div class="col-md-12 custom_margin" style="float:right">
                        <div class="col-md-9">
                          <label style="float: right">Total Implementation Cost</label>
                        </div>
                        <div class="col-md-3" style="padding-right: 0px">
                          <input type="text" class="form-control" id="imp_cost" name='imp_cost' placeholder="" readonly="readonly" value="{{kaizen_details['implementation_cost']}}">                 
                        </div>
                    </div>      
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 custom_margin">
                     <label><b>Result (Need To Include Cost Saving,If Any)</b></label>
                      <textarea type="text" class="form-control" id="result" name="result" rows="5" maxlength="300" readonly="readonly">{{kaizen_details['result']}}</textarea>
                    </div>
                    <div class="col-md-12 custom_margin" style="float:right">
                        <div class="col-md-9">
                          <label style="float: right">Tangible Benifit Amount</label>
                        </div>
                        <div class="col-md-3" style="padding-right:0px">
                          <input type="text" class="form-control" id="tangible_amnt" name="tangible_amnt" placeholder="" readonly="readonly" value="{{kaizen_details['tangible_cost']}}">                 
                        </div>
                    </div>
                    {% if kaizen_details['Intangible_status']=='checked' %}
                    <div class="col-md-12" style="float:right">
                        <div class="col-md-9" style="text-align:right">
                        <!-- <input type="checkbox" value="" id="InTangible_option" name="InTangible_option">  -->&nbsp; InTangible Benifit Amount
                          <!-- <label style="float:right"></label> -->
                        </div>
                        <div class="col-md-3 custom_margin" style="padding-right:0px">
                          <input type="text" class="form-control" id="InTangible_sel_option" placeholder="" name="InTangible_sel_option" value="{{kaizen_details['InTangible_details']['Intangible_sel_option']}}" readonly>
                        </div>
                        <div class="col-md-12 custom_margin" style="padding-right:0px">
                           <input type="text" class="form-control" id="InTangible_desc" name="InTangible_desc" axlength="20" placeholder="" value="{{kaizen_details['InTangible_details']['Intangible_desc']}}" readonly="readonly">   
                        </div>
                    </div> 
                    {% endif %} 
                </div>
<!-- div for showing before and after images -->
  <div class="col-md-12 custom_margin">
    <div class="col-md-6">
    <label style="text-align:center"><b>Before Kaizen Implementation</b></label>

     {% if 'before_imp' in kaizen_files_list %}     
     
      <img src="/static/Kaizens/{{kaizen_dir}}/before_imp.{{kaizen_files['before_imp']}}?dummy={{ran_num}}" class="img-thumbnail" alt="test image" style="height:312px !important;width:464px !important">
      {% else %}
          <p style="text-align: center;margin-top: 15px" id='no_before_txt'> Image Not Available/Uploaded</p>
      {% endif %}
    </div>
    <div class="col-md-6">
    <label style="text-align:center"><b>After Kaizen Implementation</b></label>

    {% if 'after_imp' in kaizen_files_list %}      
      
      <img src="/static/Kaizens/{{kaizen_dir}}/after_imp.{{kaizen_files['after_imp']}}?dummy={{ran_num}}" class="img-thumbnail" alt="test image" style="height:312px !important;width:464px !important">
      {% else %}
        <p style="text-align: center;margin-top: 15px" id='no_after_txt'> Image Not Available/Uploaded</p>
      {% endif %}
    </div>
  </div>

<!-- end of div for showing before and after images -->
                
                  <div class="col-md-12 custom_margin">
                      
                        <div class="col-md-6">
                        <input type="checkbox" value="not-verified" id="verified_by_hod" name="verified_by_hod">
                        <b>Reviewed By All HOD's :</b>
                          <input type="text" class="form-control" id="hod_name" name='hod_name' placeholder="" value="{{kaizen_details['dept_head_name']}}" readonly="readonly">
                        </div>
                    </div>
                  <!-- <div class="col-md-12 custom_margin">
                        <div class="col-md-3">
                          <label for="">Approved By Plant Head :</label>
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="hod_name" name='hod_name' placeholder="" value="" readonly="readonly">
                        </div>
                    </div> -->
                     <input type="hidden"  id="checkbox_val" value="not-verified"/> 
                  
                  <div class="col-md-12" style="text-align:center">
                    <input type="hidden" name="doc_id" value="{{kaizen_details['_id']}}">
                     <input type="submit"  name="submit" class="btn btn-primary submit_value" value="Approve"/> 
                     <input type="submit"  name="submit" class="btn btn-warning submit_value" value="Reject"/>
                     <input type="hidden"  id="submit_value" value=""/> 
                  </div>
                </div>
                                    
              </form>
</div>
</div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
        


{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/select2.js"></script>


  <script type="text/javascript">

$(document).ready(function(){ 
// alert('hello');
  $('#verified_by_hod').click(function(){ 
        if ($('#verified_by_hod').is(':checked')) {              
              $('#checkbox_val').val('verified');
          }else{
           $('#checkbox_val').val('not-verified');
          }
    });

  $('.submit_value').click(function(){ 
    $('#submit_value').val($(this).val());
  // alert($('#submit_value').val());
});

  $('#kaizen_entry').submit(function(){

    if($('#submit_value').val()=='Approve'){

          if ($('#verified_by_hod').is(':checked')) {              
              return true;
          }else{
           bootbox.alert('Please Select The Checkbox And Proceed.');
           return false;
          }

    }


});

});






  // $(":file").filestyle({size: "sm",buttonName: "btn-primary"});
  // $(".ind_imp_img").filestyle({badge: false});
  // $(":file").filestyle();
  document.getElementById('id-30').className ="nav-parent nav-active active";
      document.getElementById("k").style.display = "block";
document.getElementById('id-30.12').className ="active";
    </script>
    

{% endblock %}
