{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style type="text/css">
body { font-size: 140%; }

</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Kaizens List</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">List Of Kaizens</h4>
           </div>            <!-- panel-heading -->

        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
					<form method="POST" id='kaizen_report_form'>
          <div class="col-md-12" style="margin-bottom: 20px">
                  <div class="col-md-4 col-sm-12 overall" style="display: block">
                          <label>Plant</label>     
                          <select class="form-control " id="plant_id" name="plant_id" placeholder="">
                            <option value="">Select A Plant</option>
                            <option value="TA">Tandur</option>
                            <option value="TC">Talaricheruvu</option>
                            <option value="BP">Boyareddipalli</option>
                            <option value="GC">Ganeshpahad Cement</option>
                            <option value="GP">Ganeshpahad Power</option>
                          </select>
                      </div>
                 
                  <div class="col-md-4 col-sm-12 overall" style="display: block">
                      <label>Department</label>     
                      <select class="form-control" id="department" name="department" placeholder="">
                          <option value="" id='department_options'></option>
                          </select>
                       
                  </div>
                   <div class="col-md-4 col-sm-12 overall" style="display: block">
                      <label>Kaizen Id</label>     
                      <input class="form-control " id="kaizen_id" name="kaizen_id" value="" placeholder="Enter Kaizen Id">
                  </div>
                  <div class="col-md-4 col-sm-12">
                      <label>From Date<span style="color:red;font-size:20px">*</span></label>     
                      <input class="form-control date_range" id="from_date" name="from_date" value="" placeholder="xx-xx-xxxx">
                  </div>
                  <div class="col-md-4 col-sm-12">
                        <label>To Date<span style="color:red;font-size:20px">*</span></label>     
                        <input class="form-control to_date date_range" id="to_date" name="to_date" value="" placeholder="xx-xx-xxxx">
                  </div>
                      <span style="margin:10px"></span>

                  <div class="form-group" style="margin-top:13px">
                      <label for="">&nbsp</label>
                      <input type="submit"  id='submit' name="submit" class="btn btn-primary btn-sm glyphicon glyphicon-eye-open" value="View Kaizens"/> 
                  </div>                  
        </div>
					 </form>
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Date</th>
                <th>Kaizen Id</th>
                <th>Plant Id</th>
                 <th>Download</th>
            </tr>
        </thead>
 
        <tbody>
{% for e in kaizen_details %}
            <tr>
                <td>{{e['kaizen_date']}}</td>
                {% if e['status']=='Approved'%}  
                <td>{{e['kaizen_id']}}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{e['plant_id']}}</td>

                <td style="padding-left: 40px;">
                <form id="approve" action="" method="POST" > 
                <input type="hidden" value="{{e['_id']}}" name="prid" />
              	<button type="button" name="download"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-download-alt dwnld_btn" data-toggle="tooltip" data-placement="top" data-original-title="Download" id="{{e['kaizen_path']}}"  value="Download"></button>
                </form>
            </tr>
       {% endfor %}
  {% if kaizen_details|length==0 %}
  <tr>
  <td></td>
  <td></td>
  <td style="text-align: center"> No Submitions Are Waiting For Approval.</td>
  <td></td>
  </tr>
  {% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}


<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({
       "bSort": false,
    });

$("#plant_id").select2({

    placeholder: "Select  Plant"
  });

$("#department").select2({

    placeholder: "Select Department"
  });

$('#plant_id').change(function() {
  var data = $("#plant_id").val();
    $.ajax({
                     url:"/opreports/Kaizens_Download/",
                     type:"POST",
                     data:{data:data,submit:'ajax_data'},
                     success:function(data){
                      console.log(data);
                      var dept_options='<option value=""></option>';
                      for(var i=0;i<data.results.length;i++){

  dept_options+='<option value="'+data.results[i]["dept_pid"]+'">'+data.results[i]["req_desc"]+'</option>'
                      }
                      $('#department').html(dept_options);
                      // console.log(dept_options);

                     }
                   })
});

});

$(document).ready(function(){
  $("#from_date").datepicker({
    dateFormat: "dd-mm-yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#to_date").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 11);
                console.log(selectedDate, date);
                $("#to_date").datepicker("option", "minDate", selectedDate);
                $("#to_date").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#to_date").datepicker({ 
        dateFormat: "dd-mm-yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#start_date").datepicker("option", "maxDate", selectedDate);
        }
    });


$('#kaizen_report_form').submit(function(){ 
  // alert('working');
if($('#kaizen_id').val()!='' ){
   $('.date_range').removeAttr('required');
}
else{
  // alert($('#from_date').val());
  if ($('#from_date').val()==''){
        $('.date_range').attr('required','required'); 
         bootbox.alert('Please Select Date Range & Proceed.')
        return false;
  }
  
}

});

});

$(document).ready(function() { 
    $('.dwnld_btn').click(function(){ 
      // alert($(this).attr('id'));
      // $(this).attr('src',"/static/daily_mines_report/"+$(this).attr('id')+".xlsx");
      console.log("/static/Kaizens/"+$(this).attr('id')+"/"+$(this).attr('id')+".pdf");
      window.open("/static/Kaizens/"+$(this).attr('id')+"/"+$(this).attr('id')+".pdf");
  });
});
</script>
<script>
</script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
  document.getElementById('id-30').className ="nav-parent nav-active active";
      document.getElementById("k").style.display = "block";
document.getElementById('id-30.15').className ="active";
</script>

{% endblock %}
