{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Kaizen History</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">List Of Submissions</h4>
           </div>            <!-- panel-heading -->

        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
					
					 
              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Date</th>
                <th>Kaizen Id</th>
                <th>Status</th>
                 <th>Edit/Download</th>
            </tr>
        </thead>
 
        <tbody>
{% for e in my_kaizens %}
            <tr>
                <td>{{e['kaizen_date']}}</td>
                {% if e['status']!='Saved' or  e['status']!='Re-Submit'%}  
                <td>{{e['kaizen_id']}}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{e['status']}}</td>
                {% if e['status']!='Approved'%} 
                <td style="padding-left: 40px;">
                <form id="approve" action="" method="POST" > 
                <input type="hidden" value="{{e['_id']}}" name="prid" />
              	 <button type="submit" name="submit"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" data-original-title="Edit" id="agree"  value="Edit"></button>
                </form>
                </td>
                {% elif e['status']=='Approved'%}
                <td style="padding-left: 40px;">
             <button type="button" name="download"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-download-alt dwnld_btn" data-toggle="tooltip" data-placement="top" data-original-title="Download" id="{{e['kaizen_path']}}/{{e['kaizen_path']}}.pdf"  value="Download" style="font-size:15px;padding:5px 10px"></button>
             </td>
                {% endif %}
            </tr>
       {% endfor %}
  {% if my_kaizens|length==0 %}
  <tr>
  <td></td>
  <td></td>
  <td style="text-align: center"> No Submitions Are Waiting For Approval.</td>
  <td></td>
  <td></td></tr>
  {% endif %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}


<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({
      "bSort": false,
      "pageLength": 50,
    });
} );

</script>
<script>
</script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
  document.getElementById('id-30').className ="nav-parent nav-active active";
      document.getElementById("k").style.display = "block";
document.getElementById('id-30.13').className ="active";
</script>
<script type="text/javascript">
   $(document).ready(function() { 



    $('.dwnld_btn').click(function(){ 
      alert($(this).attr('id'));
      // $(this).attr('src',"/static/daily_mines_report/"+$(this).attr('id')+".xlsx");
      window.open("/static/Kaizens/"+$(this).attr('id'));
  });
});


</script>
{% endblock %}
