{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<style type="text/css">
body { font-size: 140%; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
#exampleoverall_length{
  display: none;
}
#exampleoverall_filter{
  display: none;
}

</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Kaizen Reports</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Kaizen Summary Report</h4>
           </div>            <!-- panel-heading -->

        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">  

        <div class="row">
                <form  action="" autocomplete="off" id="kaizen_report_form" method="POST" enctype="multipart/form-data">
                <div class="col-md-12">
                <div class="col-md-4">
                    <input type="checkbox" class="report" id='overall' value='overall' name="overall" checked="checked"> &nbsp; Overall(All Plants)
                </div>
                <div class="col-md-4">
                    <input type="checkbox" class="report" id='detailed_report' value='detailedreport' name="detailed_report">&nbsp Detailed Report(Plant Wise)
                </div>
                </div>

                <div class="col-md-12">
                      <div class="col-md-3 col-sm-12 overall" style="display: none">
                          <label>Plant<span style="color:red;font-size:20px">*</span></label>     
                          <select class="form-control " id="plant_id" name="plant_id" placeholder="">
                            <option val="">Select A Plant</option>
                            <option val="TA">TA</option>
                            <option val="TC">TC</option>
                            <option val="BP">BP</option>
                            <option val="GC">GC</option>
                            <option val="GP">GP</option>
                          </select>
                      </div>
                      <div class="col-md-3 col-sm-12">
                          <label>From Date<span style="color:red;font-size:20px">*</span></label>     
                          <input class="form-control from_date formvalues" id="from_date" name="from_date" value="" placeholder="xx-xx-xxxx" required="required">
                      </div>
                      <div class="col-md-3 col-sm-12">
                            <label>To Date<span style="color:red;font-size:20px">*</span></label>     
                            <input class="form-control to_date formvalues" id="to_date" name="to_date" value="" placeholder="xx-xx-xxxx" required="required">
                      </div>
                          <span style="margin:10px"></span>

                      <div class="form-group" style="margin-top:13px">
                          <label for="">&nbsp</label>
                          <input type="submit"  id='submit1' name="submit" class="btn btn-primary btn-sm glyphicon glyphicon-eye-open" value="View Report"/> 
                      </div>                  
                </div>

                 <span style="margin:10px"></span>
                  
                                              
                </form>
        
            </div>
            {% if  data_show=='detailed_report' %}
            <p style="text-align: center;font-size: 163%;font-family:sans-serif;"> Detailed Report ({{search_dates[0]}} to {{search_dates[1]}})</p>
            <div style="float:right;margin-top: -33px;padding-right: 1%;">
             <button type="button" name="download"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-download-alt dwnld_btn" data-toggle="tooltip" data-placement="top" data-original-title="Download" id="{{report_path}}"  value="Download" style="font-size:15px;padding:5px 10px"> Export-To-Excel</button>
          </div>
            {% elif data_show=='overall'%}
             <p style="text-align: center;font-size: 163%;font-family:sans-serif;"> Overall Report ({{search_dates[0]}} to {{search_dates[1]}}) </p>
             <div style="float: right;margin-top: -33px;padding-right: 1%;">
             <button type="button" name="download"  class="btn btn-primary btn-xs tooltips glyphicon glyphicon-download-alt dwnld_btn" data-toggle="tooltip" data-placement="top" data-original-title="Download" id="{{report_path}}"  value="Download" style="font-size:15px;padding:5px 10px"> Export-To-Excel</button>
          </div>
            {% endif %}
          

          
{% if data_show %}
          {% if data_show=='detailed_report' %}        
           

              <div class="table-responsive">
        
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Plant</th>
                <th>Date</th>
                <th>Kaizen Id</th>
                <th>Problem Identified</th>

                <th>Countermeasure</th>
                <th>Result</th>
                <th>Intangible Benifit</th>
                <th>Tangible Benifit</th>
                <th>Employee Name</th>
            </tr>
        </thead>
 
        <tbody>
{% for e in kaizens %}
            <tr>
                <td>{{e['plant_id']}}</td>
                <td>{{e['kaizen_date']}}</td>               
                <td>{{e['kaizen_id']}}</td>
                <td>{{e['problem_identified']}}</td>

                <td>{{e['countermeasure']}}</td>               
                <td>{{e['result']}}</td>                
                {% if intangible_cost in InTangible_details %}
                <td></td> 
                {% else %}
                <td></td> 
                {% endif %}
                <td>{{e['tangible_cost']}}</td>              
                <td>
                {% if e['implementation_type']== 'individual' %}
    {% for ii in range(e['Implementation_details']|length) %}
      {% if e['Implementation_details'][ii]['employee_name'] !=''%}
            {{e['Implementation_details'][ii]['employee_name']}},<br/>
      {% endif %}
  {% endfor %}
{% elif e['implementation_type']== 'team '%}
    {{e['Implementation_details'][0]['Implementation_desc']}}
{% endif %}
                
                </td>

                
            </tr>
       {% endfor %}
  {% if kaizens|length==0 %}
  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align: center"> No Submitions Are Waiting For Approval.</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  {% endif %}
        </tbody>
    </table>
              </div>

      {% elif data_show=='overall' %}

      <div class="col-md-12">
            
      <div class="table-responsive">
        
<table id="exampleoverall" class="display table table-bordered table-striped" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Plant</th>
                <th>No Of Kaizens</th>
                <th>Total Savings</th>
            </tr>
        </thead>
 
        <tbody>
          {% if kaizens[0] %}
            <tr>
                <td>{{kaizens[0][0]['_id']}}</td>
                <td>{{kaizens[0][0]['kaizens']|length}}</td>               
                <td>{{kaizens[0][0]['total_savings']}}</td>                
                
            </tr>
            {% else %}
              <tr>
                <td>TC</td>
                <td>0</td>               
                <td>0</td>                
                
              </tr>
            {% endif %}

            {% if kaizens[3] %}
            <tr>
                <td>GPC</td>
                <td>{{kaizens[3][0]['kaizens']|length}}</td>               
                <td>{{kaizens[3][0]['total_savings']}}</td>                
                
            </tr>
            {% else %}
              <tr>
                <td>GPC</td>
                <td>0</td>               
                <td>0</td>                
                
              </tr>
            {% endif %}
           

            {% if kaizens[2] %}
            <tr>
                <td>BRP</td>
                <td>{{kaizens[2][0]['kaizens']|length}}</td>               
                <td>{{kaizens[2][0]['total_savings']}}</td>                
                
            </tr>
            {% else %}
              <tr>
                <td>BRP</td>
                <td>0</td>               
                <td>0</td>                
                
              </tr>
            {% endif %}
            
            

            {% if kaizens[1] %}
            <tr>
                <td>TND</td>
                <td>{{kaizens[1][0]['kaizens']|length}}</td>               
                <td>{{kaizens[1][0]['total_savings']}}</td>               
                
            </tr>
            {% else %}
              <tr>
                <td>TND</td>
                <td>0</td>               
                <td>0</td>                
                
              </tr>
            {% endif %}

            {% if kaizens[4] %}
            <tr>
                <td>GPP</td>
                <td>{{kaizens[4][0]['kaizens']|length}}</td>               
                <td>{{kaizens[4][0]['total_savings']}}</td>                
                
            </tr>
            {% else %}
              <tr>
                <td>GPP</td>
                <td>0</td>               
                <td>0</td>                
                
              </tr>
            {% endif %}
            <tr>
              <td>Total</td>
                <td>{{kaizens[5][1]}}</td>               
                <td>{{kaizens[5][0]}}</td>                
                
              </tr>

  {% if kaizens|length==0 %}
  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align: center"> No Submitions Are Waiting For Approval.</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  {% endif %}
        </tbody>
    </table>
              </div>
          </div>



          {% endif %}
    {% endif %}
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     




{% endblock %}    
{% block scripts %}



<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
     sScrollX: "170%",
     "bSort":false,
    } );
    $('#exampleoverall').DataTable( {
      "bSort":false,
    } );
} );
</script>

<script type="text/javascript">
  document.getElementById('id-30').className ="nav-parent nav-active active";
      document.getElementById("k").style.display = "block";
document.getElementById('id-30.14').className ="active";
</script>

<script type="text/javascript">


$(document).ready(function(){
  $("#from_date").datepicker({
    dateFormat: "dd-mm-yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#to_date").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 11);
                console.log(selectedDate, date);
                $("#to_date").datepicker("option", "minDate", selectedDate);
                $("#to_date").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#to_date").datepicker({ 
        dateFormat: "dd-mm-yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#start_date").datepicker("option", "maxDate", selectedDate);
        }
    });
});
                 
</script>
<script type="text/javascript">
    $(document).ready(function(){

      $(document).ready(function() { 
    $('.dwnld_btn').click(function(){ 
      // alert($(this).attr('id'));
      // $(this).attr('src',"/static/daily_mines_report/"+$(this).attr('id')+".xlsx");
      window.open("{{report_path}}");
  });
});
       
       $('#overall').click(function(){
            if($(this).prop("checked") == true){
              $('#detailed_report').prop('checked', false);
              $('.overall').css('display','none');
              $('#plant_id').attr("required", false); 
             
            }else{
              $('#detailed_report').prop('checked', true);
            
            }
        });

         $('#detailed_report').click(function(){
            console.log('hello');
            if($(this).prop("checked") == true){
              $('#overall').prop('checked', false);               
               $('.overall').css('display','block'); 
              $('#plant_id').attr("required", true); 
            }else{
              $('#overall').prop('checked', true);
            
            }
            $('#element_choice').change(function(){ 
                

        });

        });  

    });
</script>
<script type="text/javascript">
  $(document).ready(function(){ 
      $('#kaizen_report_form').submit(function(){ 
    
      });

  });
</script>

{% endblock %}
