{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"> -->
<style type="text/css">
body { font-size: 140%; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.input-sm{
  margin-top: 0px;
}
.custom_margin{
  margin-bottom: 10px;
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>Kaizen</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Kaizen Entry Form</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <form class="form" method="POST" id='kaizen_entry' enctype="multipart/form-data">
                <div class="col-md-12 custom_margin">
                    <div class="col-md-2">
                      <label for="">Plant</label>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="plant" name='plant' placeholder="" value="{{user_details['plant_id']}}" readonly="readonly">
                    </div>
                </div>
                <div class="col-md-12 custom_margin">
                    <div class="col-md-2">
                      <label for="">Date</label>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" id="kaizen_date" name="kaizen_date" placeholder="dd-mm-yy">
                        
                    </div>
                    <div class="col-md-6">
                      
                    </div>   
                </div>
                <div class="col-md-12 custom_margin">
                    <div class="col-md-2">
                      <label for="">Problem Identified</label>
                    </div>
                    <div class="col-md-8">
                      <textarea type="text" class="form-control text_area_desc"  id="prob_identified" name="prob_identified" rows="3" maxlength="300" placeholder="Maximum Of 300 Characters Can Be Entered."></textarea>
                    </div>                      
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 custom_margin">
                     <label for="">Countermeasure (Need To Include In The Implementation Cost,If Any)</label>
                      <textarea type="text" class="form-control text_area_desc"  id="Countermeasure" name="Countermeasure" rows="5" maxlength="300" placeholder="Maximum Of 300 Characters Can Be Entered."></textarea>
                    </div>
                    <div class="col-md-12 custom_margin" style="float:right">
                        <div class="col-md-9">
                          <label style="float: right">Total Implementation Cost</label>
                        </div>
                        <div class="col-md-3" style="padding-right: 0px">
                          <input type="text" class="form-control num_quantity" id="imp_cost" name='imp_cost' placeholder="" value="0" maxlength="10">                 
                        </div>
                    </div>      
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 custom_margin">
                     <label for="">Result (Need To Include Any Cost Saving,If Any)</label>
                      <textarea type="text" class="form-control text_area_desc" id="result" name="result" rows="5" maxlength="300" placeholder="Maximum Of 300 Characters Can Be Entered."></textarea>
                    </div>
                    <div class="col-md-12 custom_margin" style="float:right">
                        <div class="col-md-9">
                          <label style="float: right">Tangible Benifit Amount</label>
                        </div>
                        <div class="col-md-3" style="padding-right:0px">
                          <input type="text" class="form-control num_quantity" id="tangible_amnt" name="tangible_amnt" placeholder="" value="0" maxlength="10">                 
                        </div>
                    </div>
                    <div class="col-md-12" style="float:right">
                        <div class="col-md-9" style="text-align:right">
                        <input type="checkbox" value="" id="InTangible_option" name="InTangible_option"> &nbsp; InTangible Benifit
                          <!-- <label style="float:right"></label> -->
                        </div>
                        <div class="col-md-3 custom_margin" style="padding-right:0px">
                          <select type="text" class="form-control" id="InTangible_sel_option" placeholder="" name="InTangible_sel_option" disabled="disabled">
                          <option value="Process">Process</option>
                          <option value="Safety">Safety</option>
                          <option value="Quality">Quality</option>
                          <option value="Environment">Environment</option>
                          <option value="Others">Others</option>
                        </select>
                        </div>
                        <div class="col-md-12" style="padding-right:0px">
                           <input type="text" class="form-control" id="InTangible_desc" name="InTangible_desc" valu="" maxlength="50" placeholder="" value="">   
                        </div>
                    </div>  
                </div>
                <div class="col-md-12 custom_margin">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <div class="radio">
                      <label>
                        <input type="radio" name="imp_type" id="ind_imp" class="imp_type" value="ind_imp" checked="checked"> Individual Implementation
                      </label>
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="radio">
                      <label>
                        <input type="radio" name="imp_type" id="team_imp" class="imp_type" value="team_imp" >Team Implementation 
                      </label>
                  </div>
                  </div>
                </div>

                <input type="hidden" id="sel_imp_type_val" value="0">
                
                <div class="col-md-12">  <!-- start of individual implementation div-->
                      <div class="col-md-6">
                        <div class="col-md-12" id="ind_imp_div">
                          <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Implemented By</th>
                                  <th style="width:120px">Designation</th>
                                  <th style="width:40px">Picture</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><input type="hidden" class="form-control implemented_emp_ids1" id="emp1" name="emp_id" value=""></td>
                                  <td><input type="text" class="form-control emp_desig_id" id="desig1" name="desig" value="" readonly></td>
                                  <td><input type="file" class="filestyle upload" id='img_imp1' name='implementedby_img' data-input="false" data-buttonText="" onchange="return readURL(this,1)"></td>
                                </tr>
                                <tr>
                                  <td><input type="hidden" class="form-control implemented_emp_ids2" id="emp2" name="emp_id" value=""></td>
                                  <td><input type="text" class="form-control emp_desig_id" id="desig2" name="desig" value="" readonly></td>
                                  <td><input type="file" class="filestyle upload" id='img_imp2' name='implementedby_img' data-input="false" data-buttonText="" onchange="return readURL(this,2)"></td>
                                </tr>
                                <tr>
                                  <td><input type="hidden" class="form-control implemented_emp_ids3" id="emp3" name="emp_id" value=""></td>
                                  <td><input type="text" class="form-control emp_desig_id" id="desig3" name="desig" value="" readonly></td>
                                  <td><input type="file" class="filestyle upload" id='img_imp3' name='implementedby_img' data-input="false" data-buttonText="" onchange="return readURL(this,3)"></td>
                                </tr>
                                <tr>
                                  <td><input type="hidden" class="form-control implemented_emp_ids4" id="emp4" name="emp_id" value=""></td>
                                  <td><input type="text" class="form-control emp_desig_id" id="desig4" name="desig" value="" readonly></td>
                                  <td><input type="file" class="filestyle upload" id='img_imp4' name='implementedby_img' data-input="false" data-buttonText="" onchange="return readURL(this,4)"></td>
                                </tr>
                              </tbody>
                            </table>

                            <input type="text" id="sel_users" style="display:none">
                        </div>
                        <div class="col-md-12" id="team_imp_div">
                            <input type="text" class="form-control" id="team_imp_desc" name="team_imp_desc" valu="" maxlength="50" placeholder="Enter Team Name" value="">                   
                        </div>
                      </div>
                     <div class="col-md-6">
                     	<div class="col-md-6" style="width:40%;margin-left: 10%;margin-bottom:5px">
                     		<img src="" class="img-thumbnail" style="display:none" id='ind_imp_img1' >
                     	</div>
                     	<div class="col-md-6" style="width:40%;margin-left: 10%;margin-bottom:5px">
                     		<img src="" class="img-thumbnail" style="display:none" id='ind_imp_img2'>
                     	</div>
                     	<div class="col-md-6" style="width:40%;margin-left: 10%;margin-bottom:5px">
                     		<img src="" class="img-thumbnail" style="display:none" id='ind_imp_img3'>
                     	</div>
                     	<div class="col-md-6" style="width:40%;margin-left: 10%;margin-bottom:5px">
                     		<img src="" class="img-thumbnail" style="display:none;" id='ind_imp_img4'>
                     	</div>
                     </div>

				</div> 		<!-- end of individual implementation -->
				<!-- Start Of Before and after images -->
				<div class="col-md-12">
                      <div class="col-md-6 custom_margin">
	                        <div class="col-md-12 ">
		                        <label>Upload Before Implementation Image</label>
		                          <input type="file" class="filestyle upload" data-size="sm" data-buttonName="btn-primary" name="imp_pics" id="pic_before_imp" onchange="return readURL(this,5)">
		                          <img src="" class="img-thumbnail" style="display:none" id='before_img'>
	                        </div>                        
                      </div>
                      <div class="col-md-6">
	                      <div class="col-md-12">
	                        	<label>Upload After Implementation Image</label>
	                          	<input type="file" class="filestyle upload" data-size="sm" data-buttonName="btn-primary" name="imp_pics" id="pic_after_imp" onchange="return readURL(this,6)">
	                          	<img src="" class="img-thumbnail" style="display:none" id='after_img'>
	                        </div>
                      </div>
                </div> <!-- End Of Before & Afternoon div -->      
                  </div> <!-- End Of Main div of implementation type and before-after pics -->
                  
                  <div class="col-md-12" style="text-align:center">
                     <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_val" value="Save"/> 
                     <input type="submit"  name="submit" class="btn btn-primary glyphicon glyphicon-eye-open submit_val" value="Submit"/> 
                     <input type="hidden" name="" id="submit_val">
                  </div>
                </div>
                                    
              </form>
              <img id="after_img" src="#" alt="your image" class="img-thumbnail" style="display:none;max-height:470px;max-width:640px"/>
</div>
</div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
        


{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
      function readURL(input,input_id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
        	if (input_id=='1'){
        		$('#ind_imp_img1').show();
            $('#ind_imp_img1').attr('src', e.target.result);
        	}
        else if (input_id=='2'){
        		$('#ind_imp_img2').show();
            $('#ind_imp_img2').attr('src', e.target.result);
        	}
        else if (input_id=='3'){
        		$('#ind_imp_img3').show();
            $('#ind_imp_img3').attr('src', e.target.result);
        	}
        else if (input_id=='4'){
        		$('#ind_imp_img4').show();
            $('#ind_imp_img4').attr('src', e.target.result);
        	}
        else if (input_id=='5'){
        		$('#before_img').show();
            $('#before_img').attr('src', e.target.result);
        	}
        else if (input_id=='6'){
        		$('#after_img').show();
            $('#after_img').attr('src', e.target.result);
        	}
        }

        reader.readAsDataURL(input.files[0]);
    }
}
$(document).ready(function(){ 
  $("#pic_before_imp").change(function(){
      readURL(this);
  });
});
    </script>

<script type="text/javascript">
$(document).ready(function () {
  //called when key is pressed in textbox
  $(".num_quantity").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        bootbox.alert('Please Enter A valid Number.');
        // $("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
    }
   });


  $('')



$('.submit_val').click(function(){ 
  $('#submit_val').val($(this).val());
  // alert($('#submit_val').val());
});

 // $('input[type=radio][name=bedStatus]').change(function() {
 //        if (this.value == 'allot') {
 //            alert("Allot Thai Gayo Bhai");
 //        }
 //        else if (this.value == 'transfer') {
 //            alert("Transfer Thai Gayo");
 //        }
 //    });

// kaizen entry form submit function written using jquery for checking the validations and save /submit of the form. 
$('#kaizen_entry').submit(function() {

	if($('#submit_val').val()=='Save'){
    // alert($('input[type=radio][name=imp_type]').val());
		// validations for kaizen date & images for the users selected in individual implementation during saving.
			if ($('#kaizen_date').val()==''){
			        bootbox.alert('Please Select A Valid Date And Proceed.');
			        	return false;
			    }
      
			// else if ($('#desig1').val()!='' && $('#img_imp1').val()==''){
			// 	    bootbox.alert('Please Upload A Valid jpg File For Employee In Row 1.');
			// 	    	return false;
			// 	}
			// else if ($('#desig2').val()!='' && $('#img_imp2').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 2.');
			//       	return false;
			//     } 
			// else if ($('#desig3').val()!='' && $('#img_imp3').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 3.');
			//       	return false;
			//     } 
			// else if ($('#desig4').val()!='' && $('#img_imp4').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 4.');
			//     	return false;
			// 	}
      // else if( $('#sel_imp_type_val').val()=='0' ){

      //     if ($('#desig1').val()==''&& $('#desig2').val()=='' && $('#desig3').val()=='' && $('#desig4').val()==''){
      //           bootbox.alert('Please Select Atleast One Employee Who Has Implemented The Kaizen And Proceed.');
      //           return false;
      //     }
      // }


		}
		// validation for checking the before & anfter implementation is not required as it can be submitted in the next level if the kaizen is saved.
	else if($('#submit_val').val()=='Submit'){
			// validations for kaizen date,problem identified,countermeasure,result,total imp cost,tangible amount & images for the users selected in individual implementation during Submit.
			if ($('#kaizen_date').val()==''){
		        bootbox.alert('Please Select A Valid Date And Proceed.');
		        	return false;
		      }
		    else if($('#prob_identified').val()==''){
		        bootbox.alert('Please Enter Problem Identified And Proceed.');
		        	return false;
		      }
		    else if($('#Countermeasure').val()==''){
		        bootbox.alert('Please Enter Countermeasure And Proceed.');
		        	return false;
		      }
		    else if($('#result').val()==''){
		        bootbox.alert('Please Enter Results Acheived By Implementing The Countermeasure And Proceed.');
		        	return false;
		      }else if ($('#kaizen_date').val()==''){
              bootbox.alert('Please Select A Valid Date And Proceed.');
                return false;
          }
		      
			// else if($('#imp_cost').val()=='0'||$('#imp_cost').val()==''){
			//     bootbox.alert('Implementation Cost Cannot Be 0');
			//     	return false;
			//       }
			// else if($('#tangible_amnt').val()=='0'||$('#tangible_amnt').val()==''){
			//     bootbox.alert('Tangible Amount Cannot Be 0');
			//     	return false;
			//       }
			// else if ($('#desig1').val()!='' && $('#img_imp1').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 1.');
			//     	return false;
			//     }
			// else if ($('#desig2').val()!='' && $('#img_imp2').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 2.');
			//       	return false;
			//     } 
			// else if ($('#desig3').val()!='' && $('#img_imp3').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 3.');
			//       	return false;
			//     } 
			// else if ($('#desig4').val()!='' && $('#img_imp4').val()==''){
			//     bootbox.alert('Please Upload A Valid jpg File For Employee In Row 4.');
			//     	return false;
			//   }

        else if($('#sel_imp_type_val').val()=='0' ){

          if ($('#desig1').val()==''&& $('#desig2').val()=='' && $('#desig3').val()=='' && $('#desig4').val()==''){
                bootbox.alert('Please Select Atleast One Employee Who Has Implemented The Kaizen And Proceed.');
                return false;
          }
      }
      else if($('#sel_imp_type_val').val()=='1' ){

          if ($('#team_imp_desc').val()==''){
                bootbox.alert('Please Enter Department Name And Proceed.');
                return false;
          }
      }
		// validation for before and after is not required as it is not mandatory.
		}

    return true;
	});  // end tag for the jquery submit function

});



// validation for the text area to have only alphanumeric and selected special characters.

$(document).ready(function(){
    $(".text_area_desc").keypress(function(e){
        // alert(e.charCode);
        if(e.charCode!='13' && e.charCode !='45' ){
            var regex = new RegExp('^[a-zA-Z0-9 ,.%_:;{}*"@&()+=/]+$');
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            else
            {
            e.preventDefault();
            // alert('Please Enter Alphabate');
            return false;
            }

        }
        


  });

});

</script>
<script type="text/javascript">
  $(document).ready(function() {
    // $('#blah1').each(function() {
    //     var maxWidth = 100; // Max width for the image
    //     var maxHeight = 100;    // Max height for the image
    //     var ratio = 0;  // Used for aspect ratio
    //     var width = $(this).width();    // Current image width
    //     var height = $(this).height();  // Current image height

    //     // Check if the current width is larger than the max
    //     if(width > maxWidth){
    //         ratio = maxWidth / width;   // get ratio for scaling image
    //         $(this).css("width", maxWidth); // Set new width
    //         $(this).css("height", height * ratio);  // Scale height based on ratio
    //         height = height * ratio;    // Reset height to match scaled image
    //         width = width * ratio;    // Reset width to match scaled image
    //     }

    //     // Check if current height is larger than max
    //     if(height > maxHeight){
    //         ratio = maxHeight / height; // get ratio for scaling image
    //         $(this).css("height", maxHeight);   // Set new height
    //         $(this).css("width", width * ratio);    // Scale width based on ratio
    //         width = width * ratio;    // Reset width to match scaled image
    //     }
    // });
});
</script>

<script type="text/javascript">

// validation for checking the image extension is wheather .jpg or .JPG

  $(document).ready(function() {
	    $('.upload').change(function() {
			  var file = $(this)[0].files[0];
			  if (file.type!="image/jpeg"){
				    bootbox.alert('Only .jpg Images Are Allowed For Uploading.');
				    $('#'+$(this).attr('id')).val('');
				    $('#'+$(this).attr('id')).filestyle('clear');
				    return false;
			  }
	    });
  });

</script>


<script type="text/javascript">

$(document).ready(function(){

  // $("img").load(function() {
  //       alert($(this).height());
  //       alert($(this).width());
  //   }); 

// intializing datepicker for selecting kaizen date of format dd-mm-yyyy.

  $('#kaizen_date').datepicker({
    format: "dd-mm-yyyy",
    autoclose: true
});



  $('#team_imp_div').hide();
  $('#InTangible_desc').hide();
  $("#InTangible_sel_option").prop('disabled', true);

  	// jquery DOM manipulations for shouwing team implementation/individual options.
      $('.imp_type').click(function(){ 
         // alert($(this).attr('value'));
         if($(this).attr('value')=='ind_imp'){
            $('#ind_imp_div').show();
            $('#team_imp_div').hide();
            $('#sel_imp_type_val').val('0');
         }
          else if($(this).attr('value')=='team_imp'){
              $('#team_imp_div').show();
           $('#ind_imp_div').hide();
            $('#sel_imp_type_val').val('1');
          }

      });

    // jquery DOM manipulations for shouwing Intangible benifit amount along with options(dropdown).
    $('#InTangible_option').click(function(){ 
        if ($('#InTangible_option').is(':checked')) {
              $('#InTangible_desc').show();
              $("#InTangible_sel_option").prop('disabled', false);
              $(this).val('checked');
          }else{
            $('#InTangible_desc').hide();
            $("#InTangible_sel_option").prop('disabled', true);
          }
    });


// select2 fields for selecting employees under the individual implementation for the kaizen details entered.
$('.implemented_emp_ids1').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/opreports/get_plantemployees/",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term:term,plant_id:$('#plant').val()};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.username+">"+excercise.f_name+"--"+excercise.l_name+" </div>";
          },
          id: function(excercise){
              return excercise.username;
          },
          formatAjaxError: function(){
              return 'User Does not Exist';
          },
          formatSelection: function(excercise) { 
            $("#implemented_emp_ids1").val(excercise.username);
          $("#desig1").val(excercise.designation_id);
            return excercise.l_name; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }


    });

// select2 fields for selecting employees under the individual implementation for the kaizen details entered.
$('.implemented_emp_ids2').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/opreports/get_plantemployees/",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term:term,plant_id:$('#plant').val()};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.username+">"+excercise.f_name+"--"+excercise.l_name+" </div>"; 
          },
          id: function(excercise){
              return excercise.username;
          },
          formatAjaxError: function(){
              return 'User Does not Exist';
          },
          formatSelection: function(excercise) { 
            $("#implemented_emp_ids2").val(excercise.username);
          $("#desig2").val(excercise.designation_id);
            return excercise.l_name; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });

// select2 fields for selecting employees under the individual implementation for the kaizen details entered.
$('.implemented_emp_ids3').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/opreports/get_plantemployees/",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term:term,plant_id:$('#plant').val()};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.username+">"+excercise.f_name+"--"+excercise.l_name+" </div>"; 
          },
          id: function(excercise){
              return excercise.username;
          },
          formatAjaxError: function(){
              return 'User Does not Exist';
          },
          formatSelection: function(excercise) { 
            $("#implemented_emp_ids3").val(excercise.username);
          $("#desig3").val(excercise.designation_id);
            return excercise.l_name; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });

// select2 fields for selecting employees under the individual implementation for the kaizen details entered.
$('.implemented_emp_ids4').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/opreports/get_plantemployees/",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term:term,plant_id:$('#plant').val()};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.username+">"+excercise.f_name+"--"+excercise.l_name+" </div>"; 
          },
          id: function(excercise){
              return excercise.username;
          },
          formatAjaxError: function(){
              return 'User Does not Exist';
          },
          formatSelection: function(excercise) { 
            $("#implemented_emp_ids4").val(excercise.username);
          $("#desig4").val(excercise.designation_id);
            return excercise.l_name.substr(0,17); 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });


});
</script>

<script type="text/javascript">
  		document.getElementById('id-30').className ="nav-parent nav-active active";
      	document.getElementById("k").style.display = "block";
		document.getElementById('id-30.11').className ="active";
</script>

{% endblock %}
