{% extends "base.html" %}
{% block links %}

 <style > 
.toshow1.toshow2.toshow3
 {
   display:none;
 }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Kaizen Document</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
 
    <script type="text/javascript">
    document.getElementById('id-30').className ="nav-parent nav-active active";
    document.getElementById("k").style.display = "block";
  document.getElementById('id-30.2').className ="active";
</script>
<script>
$( document ).ready(function() {

 var obj=document.getElementById("yr");
var d = new Date();
var n=  d.getFullYear();





if(n==2013)
{
  $("#yr").find("option").remove();
opt = document.createElement("option");
  opt.value = 2013;
  opt.text='2013';
obj.appendChild(opt);
}
else if(n<=2016)
{
$("#yr").find("option").remove();

for (var i=n; i>=2013; i--)
{

 opt = document.createElement("option");
  opt.value =i;
  opt.text=i;
obj.appendChild(opt);
}


}
else
{
$("#yr").find("option").remove();

for (var i=n; i>=n-2; i--)
{
 opt = document.createElement("option");
  opt.value =i;
  opt.text=i;
obj.appendChild(opt);
}


}


});
</script>
<div class='row' id="SearchDocs">
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Search Kaizen Documents</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" enctype="multipart/form-data">

         <div class="col-md-12" >
          

          <div class="col-xs-12 col-md-4">                  
                <div class="form-group">
                <label for="start_date">Select Plant</label>
                 <select id="selct1" class="form-control selct1" name="plant_id" style="width:150px" required>

                                    <option value="">&nbsp;</option>
                                    <option value="HY">HY</option>
                                    <option value="BP">BP</option>
                                    <option value="TC">TC</option>
                                    <option value="GC">GC</option>
                                    <option value="TA">TA</option>
                                    <option value="GP">GP</option>
                              
                              
                              </select> 
                      
                  </div>
          </div>
          <div id="selectyear" class="col-xs-12 col-md-4">
                  <label>Select Year</label>
                  
                        
                      <select name="year" class="form-control selct1" style="width:150px"  id="yr" required></select>  
          </div>
      <div id="selectmonth" class="col-xs-12 col-md-4">
      <label>Select Month</label>
      <select id="selct2" class="form-control selct1" name="month" style="width:150px">
                                    <option value="">&nbsp;</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                     <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                   
      </select>
    
      </div>
    </div>
    </div>


    
        
        
        
        <br>
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Submit" class="btn btn-primary btn-block search" onsubmit="showHide()">
                        Submit</button>
                      </div>  
                 </div>  
   </div>
        
      
</form> 
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->

{% endblock %} 