{% extends "base.html" %}
{% block pageheader %}         
    <div class="pageheader">
      <h2><i class="fa fa-bell"></i> Leave Approvals </h2>
  <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
         
          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
 
      
      <div class="row">
        
        <div class="col-md-6">
          
          
          
          
          
        </div><!-- col-md-6 -->
        
        <div class="col-md-12">
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="#" class="panel-close">&times;</a>
                <a href="#" class="minimize">&minus;</a>
              </div><!-- panel-btns -->
              <h4 class="panel-title">Alert Messages</h4>
               </div><!-- panel-heading -->
            <div class="panel-body">
              
              <div class="alert alert-success">
                 <strong></strong> Your leave has been approved from dd/mm/yyyy to dd/mm/yyyy.
              </div>
              
              
              
              <div class="alert alert-danger">
                <strong></strong> Your leave has not been approved from dd/mm/yyyy to dd/mm/yyyy.
              </div>
              
             
              
            </div>
          </div><!-- panel -->
          
        </div><!-- col-md-6 -->
        
      </div><!-- row -->
      
      
      

{% endblock %}
{% block scripts %}
<script type="text/javascript">
document.getElementById('id-3').className ="active";
</script>
{% endblock %}

