{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-check-square-o"></i>Leave/Attendance Approval</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance Approval</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance Approval</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               {% for j in employee_att %}

                  <br>
                  {% endfor %}
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                
        <table id="example" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Leave Reason</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Action</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for e in employee_att %}

            <tr>
                <td>{{ e['employee_id']}}</td>
                <td>{{ e['fullname']|capitalize()}}</td>
                <td>{{e['attribute']|capitalize()}}-{{ e['leave']}}</td>  
                <td>{{ e['reason']}} <br> 
                  {% if e['doc_url']%}           
 <a href="/static/ViewerJS/index.html#../..{{ e['doc_url']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>

 {% endif %}
                </td>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
                 2nd Half of{{ e['start_date']}} <br>
                 1st half of {{ e['end_date']}}
                 {% else %}
                 {% if e['halfdays'][0] == 1 %}
                 2nd Half of {{ e['start_date']}}
                 {% else %}
                 1st Half of {{ e['end_date']}}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
                  {% if e['approval_levels']['a_status'] == 'current' %}
                <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="leaveid"/>
                  
                  <button name="submit" type="submit" class="btn btn-success glyphicon glyphicon-ok tooltips" data-placement="top" data-original-title="Approve"  id="approve" value="Approve"></button>
                  
                  {% if e['approval_levels']['a_discuss'] == '0' %}
                  <button name="submit" type="submit" class="btn btn-warning glyphicon glyphicon-comment tooltips" data-placement="top" data-original-title="Discuss" id="discuss" value="Discuss"></button>
                  {% elif e['approval_levels']['a_discuss'] == '1' %}
                  <button class="btn btn-default disabled glyphicon glyphicon-comment tooltips" data-placement="top" data-original-title="Discuss" id="discuss" value="Discuss"></button>
                  {% endif%}
                  <button name="submit" type="submit" class="btn btn-danger glyphicon glyphicon-remove tooltips" data-placement="top" data-original-title="Reject" id="reject" value="Reject"></button>
                </form>
                  {% elif e['approval_levels']['a_status'] == 'waiting'%}
                  <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="leaveid"/>
                  
                  <button name="submit" type="submit" class="btn btn-success glyphicon glyphicon-ok tooltips" data-placement="top" data-original-title="Approve"  id="approve" value="Approve"></button>
                  
                </form>
                  {% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    
      </div>
</div>
</div>
</div><!-- row -->
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->    
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">
$(document).ready(function(){

$('#approve').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to approve the leave as you cannot cancel the leave once approved?", function (response) {
            if (response) {
                $('#approve').trigger('click', true);
            }
        });
    }

  });


$('#discuss').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to discuss with Employee regarding this leave Employee?", function (response) {
            if (response) {
                $('#discuss').trigger('click', true);
            }
        });
    }

  });


$('#reject').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to reject the leave?", function (response) {
            if (response) {
                $('#reject').trigger('click', true);
            }
        });
    }

  });


 });

    </script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
  <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.4').className ="active";
    </script>
{% endblock %}
