﻿{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-user"></i>MIV Approval Issue</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">MIV Approval Issue</li>
        </ol>
      </div>
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">MIV Approval Issue</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
    <table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
          <th> Material </th>
          <th> Description</th>
          <th> St. Loc.</th>
          <th> Qty</th>
          <th> Specification</th>
          <th> Functional Loc</th>
          <th> Equipment</th>
          <th> Cost Center</th>
          <th> WBS Element</th>
          <th> Network</th>
           <th> Status</th>
          <th> Reason for Rejection</th>
          </tr>
          </thead>
          <tbody>
            
          </tbody>
                
                       
    </table>
    <div class="form-group col-sm-4">              
               <input type="submit" value="Post" id="btnPost" class="btn btn-primary btn-block"/>
                <input type="submit" type="submit" value="Rejected" id="btnRejected" class="btn btn-primary btn-block">
              </div> 
    </form>
 </div>
 </div>
    </div><!-- portlet content -->
    </div><!-- lg-->
    </div> <!-- row-->
</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable( {
        "scrollX": true
    } );

} );

</script>
  <script type="text/javascript">
  document.getElementById('id-4').className ="nav-parent nav-active active";
      document.getElementById("c").style.display = "block";
document.getElementById('id-4.1').className ="active";
    </script>
{% endblock %}

    