{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<style type="text/css">
    .select2-container .select2-choice {
    height: 39px;
    line-height: 2.0;

}
 table{
        margin-bottom: 1px !important;
    }
    .submitadj{
        margin-top:10px;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.dt-buttons{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #3276b1;
    border-radius: 2px;
    cursor: pointer;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    text-decoration: none !important;
}
</style>
<style>
#table {table-layout:fixed;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>Consumption Report</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
  <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Material Consumption report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
            <div class="row">
                <form  action="" autocomplete="off" id="consumption" method="POST" enctype="multipart/form-data">
                <div class="col-md-12">
                <div class="col-md-4">
                    <input type="checkbox" class="report" id='costcenter_report' value='costcenter' name="costcenter_report"> &nbsp; Costcenter Report
                </div>
                <div class="col-md-4">
                    <input type="checkbox" class="report" id='detailed_report' value='detailedreport' name="detailed_report">&nbsp Detailed Report
                </div>
                </div>
                 <span style="margin:10px"></span>
                    <input class="form-control" id="plant_id" name="plant_id" value="{{plant_id}}" placeholder="" style="display:none">
                    <div class="form-group">
                    <div class="col-md-3 col-sm-12">
                        <label>Select Department<span style="color:red;font-size:20px">*</span></label> 
                            <select class="form-control formvalues" id="dept" name="dept" required='required'>
                                <option value="" >Select Department</option>
                                {% if dept %}
                                {% for dep in dept%}
                                <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                    </div>
                    <div class="col-md-3 col-sm-12" id='function'>
                        <div class="col-md-12 col-sm-12" style="margin-bottom:10px"> 
                        <label>Select A Filter</label>   
                        <select class="form-control formvalues" id="element_choice" name="element_choice">
                                <option value="">Select A Filter</option>
                                <option value="fl_input">Functional Location</option>
                                <option value="equip_input">Equipment </option>
                                <option value="wbs_input">Wbs Elements</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-sm-12 myfilter" id="fl_input" style="margin-bottom:10px;display:none;">     <label>Functional Location</label>
                            <input class="form-control function_location formvalues" id="function_location" name="function_location" value="" placeholder="Select Function Location">
                        </div>
                        <div class="col-md-12 col-sm-12 myfilter" id='equip_input' style="margin-bottom:10px;display:none">     <label>Equipment</label>
                            <input class="form-control equipment formvalues" id="equipment" name="equipment" value="" placeholder="Select Equipment">
                        </div>
                        <div class="col-md-12 col-sm-12 myfilter" id='wbs_input' style="margin-bottom:10px;display:none">     <label>WBS Element</label>
                            <input class="form-control wbs_element" id="wbs_element" name="wbs_element" type="text"  value="" placeholder="WBS Element">
                        </div>
                    </div>
                    <input type="text" name="selected_element" id='selected_element' style="display:none">
                    <div class="col-md-3 col-sm-12">
                        <label>From Date<span style="color:red;font-size:20px">*</span></label>     
                        <input class="form-control from_date formvalues" id="from_date" name="from_date" value="" placeholder="xx-xx-xxxx" required="required">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <label>To Date<span style="color:red;font-size:20px">*</span></label>     
                        <input class="form-control to_date formvalues" id="to_date" name="to_date" value="" placeholder="xx-xx-xxxx" required="required">
                    </div>
                   <span style="margin:10px"></span>

                    <div class="form-group">
                   <label for="">&nbsp</label>
                        <input type="submit"  id='submit1' name="submit" class="btn btn-primary btn-sm glyphicon glyphicon-eye-open" value="View Report"/> 
                       </div>


                    </div>
                                              
                </form>
        
            </div>
            
             <span style="margin:10px"></span>
            <div class="row" id='row1' style="display:none">            
                <h4 style="text-align:center;color:#3276b1">Detailed Material Consumption Report</h4>
                <div class="col-lg-12 col-md-12">
                        <table id="table" class="display table table-bordered table-striped" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Department</th>
                                    <th>Posting date</th>
                                    <th>Material</th>
                                    <th>Material Desc</th>                                    
                                    <th>Qty</th>
                                    <th>UOM</th>
                                    <th>Func Location</th>
                                    <th>Equipment</th>
                                    <th>Equipment Desc</th>
                                    <th>Costcenter</th>
                                    <th>Costcenter Desc</th>
                                    <th>WBS Element</th>
                                    <th>Goods Recepient</th>
                                    <th>Value</th>                                   
                                </tr>
                            </thead>
                            </table>
                </div> 
              
            </div>
            <div class="row" id='row2' style="display:none">            
                <h4 style="text-align:center;color:#3276b1">Costcenter-Wise Material Consumption Report</h4>
                <div class="col-lg-12 col-md-12">
                        <table id="table2" class="display table table-bordered table-striped" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Department</th>
                                    <th>Posting date</th>
                                    <th>Material</th>
                                    <th>Material Desc</th>                                    
                                    <th>Qty</th>
                                    <th>UOM</th>
                                    <th>Costcenter</th>
                                    <th>Costcenter Desc</th>
                                    <th>Goods Recepient</th>
                                    <th>Activity</th>
                                    <th>Value</th> 
                                </tr>
                            </thead>
                            </table>
                </div> 
              
            </div>
</div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row --> 


{% endblock %}    
{% block scripts %}
<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>

<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
  <script type="text/javascript">
  document.getElementById('id-19').className ="nav-parent nav-active active";
      document.getElementById("m").style.display = "block";
document.getElementById('id-19.5').className ="active";
    </script>
<script type="text/javascript">


$(document).ready(function(){
  $("#from_date").datepicker({
    dateFormat: "dd-mm-yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#to_date").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#to_date").datepicker("option", "minDate", selectedDate);
                $("#to_date").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#to_date").datepicker({ 
        dateFormat: "dd-mm-yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#start_date").datepicker("option", "maxDate", selectedDate);
        }
    });
});
                 
</script>
<script type="text/javascript">
    $(document).ready(function(){
       
       $('#costcenter_report').click(function(){
        console.log('hello12121221');
            if($(this).prop("checked") == true){
              $('#detailed_report').prop('checked', false);
               $('#row2').css('display','none');
               $('#row1').css('display','none');
              $('#function').css('display','none'); 
              $('#submit1').css('margin-top','10px');
             
            }else{
              $('#detailed_report').prop('checked', true);
            
            }
        });

         $('#detailed_report').click(function(){
            console.log('hello');
            if($(this).prop("checked") == true){
              $('#costcenter_report').prop('checked', false); 
               $('#row1').css('display','none'); 
               $('#row2').css('display','none');
               $('#function').css('display','block');
              
            }else{
              $('#costcenter_report').prop('checked', true);
            
            }
            $('#element_choice').change(function(){ 
                
            if($(this).val()=='fl_input'){
                $('.myfilter').css('display','none');
                $('#fl_input').css('display','block'); 
                $('#selected_element').val('fl_input')
                
            }else if($(this).val()=='equip_input'){
                $('.myfilter').css('display','none');
                $('#equip_input').css('display','block');
                $('#selected_element').val('fl_input')               

            }else if($(this).val()=='wbs_input'){
                $('.myfilter').css('display','none');
                $('#wbs_input').css('display','block');
                $('#selected_element').val('fl_input')
                
            }

        });

        });  

    });
</script>

<script type="text/javascript">

    $(document).ready(function(){ 
$('.material').select2({
minimumInputLength: 3,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/materialnew",
dataType: 'json',
quietMillis: 100,
data: function(term) {
    return {
        term: term 
    };
},
results: function(data) {

    return { 
        results: data.results }
    }
},
formatResult: function(excercise) {
    return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
    return excercise.material;
},
formatAjaxError: function(){
    return 'Material Does not Exist';
},
formatSelection: function(excercise) {
    $("#material").val(excercise.material);
    return excercise.material_desc;
},
initSelection : function (element, callback) {
    var elementText = $(element).attr('data-init-text');
    callback({"term":elementText});
}
});


$('.function_location').select2({
            minimumInputLength: 0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/functionlocation",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return {term: term};
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
            },
            id: function(excercise){
                return excercise.functional_loc;
            },
            formatAjaxError: function(){
                return 'function location Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#function_location").val(excercise.functional_loc);
                $('#func_eqp').val(excercise.cost_center);
                return excercise.functional_loc; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });


$('.equipment').select2({
            minimumInputLength:0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/equipment",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return {term: term};
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
            },
            id: function(excercise){
                return excercise.equipment_number;
            },
            formatAjaxError: function(){
                return 'Equipment Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#equipment").val(excercise.equipment_number);
                $('#func_eqp').val(excercise.cost_center);
                return excercise.Desp_technical_object; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });


$('.wbs_element').select2({
            minimumInputLength: 0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/wbs_element",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return {term: term};
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.WBS_element+">"+excercise.short_desc+"--"+excercise.WBS_element+" </div>"; 
            },
            id: function(excercise){
                return excercise.WBS_element;
            },
            formatAjaxError: function(){
                return 'wbs element Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#wbs_element").val(excercise.WBS_element);
                return excercise.short_desc; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });


 $("#consumption").submit(function(e){ 
  e.preventDefault();
var datastring=$(this).serialize();
console.log(datastring);

        $.ajax({
            type: "POST",
            url: "/pmpr/dept_material_report/",
            data: datastring,
            success: function(data) {
              // ajax datatable loading
              console.log(data['result']);
              if (data['report']=='detailed_report'){
                console.log('detailed data');
                $('#row1').css('display','block');
                $('.formvalues').val('');
                $('.table-responsive').css('display','block');
                 $('#table').DataTable( {
                    'dom': 'Bfrtip',
                    'buttons':[
            {
                extend: 'excelFlash',
                filename: 'Data export',
                text: 'Save Data'
            }],
                    "scrollX": "170%",
                    // "scrollCollapse": true,
                    "bSort": false,
                    "retrieve": false,
                    'destroy':true,
                    "iDisplayLength": 10,
                    'data':data['result'],
                     "columnDefs": [
                        { "width": "5%", "targets": 0},//dept
                        { "width": "10%", "targets": 1},//posted on
                        { "width": "8%", "targets": 2},//material
                        { "width": "12%", "targets": 3},//material desc
                        { "width": "3%", "targets": 4},//UOM
                        { "width": "3%", "targets": 5},//Qty
                        { "width": "10%", "targets": 6},//fl
                        { "width": "6%", "targets": 7},//equipment
                        { "width": "10%", "targets": 8},//equipment desc
                        { "width": "4%", "targets": 9},//cost center
                        { "width": "10%", "targets": 10},//costcenter desc
                        { "width": "10%", "targets": 11}//wbs element
                        // { "width": "8%", "targets": 12}//DMBTR Value
                     ]
                });
  
              }else if(data['report']=='costcenter_report'){
                console.log('costcenter data');
                $('#row2').css('display','block');
                $('.formvalues').val('');
                $('.table-responsive').css('display','block');
                 $('#table2').DataTable( {
                    'dom': 'Bfrtip',
                    'buttons':[
            {
                extend: 'excelFlash',
                filename: 'Data export',
                text: 'Save Data'
            }],
                    "scrollX": "150%",
                    // "scrollCollapse": true,
                    "bSort": false,
                    "retrieve": false,
                    'destroy':true,
                    "iDisplayLength": 11,
                    'data':data['result'],
                    "columnDefs": [
                        { "width": "5%", "targets": 0},//dept
                        { "width": "10%", "targets": 1},//posted on
                        { "width": "8%", "targets": 2},//material
                        { "width": "10%", "targets": 3},//material desc
                        { "width": "3%", "targets": 4},//UOM
                        { "width": "3%", "targets": 5},//Qty
                        { "width": "10%", "targets": 6},//costcenter
                        { "width": "6%", "targets": 7},//cost center desc
                        { "width": "10%", "targets": 8},//goods recepient
                        { "width": "6%", "targets": 9} // cost activity
                        // { "width": "8%", "targets": 10} //DMBTR Value
                     ]
                });
  
              }
              
            }
     });
      });









    });



// $( document ).ajaxStart(function() {
//   $( "#preloader").show();
//   $('#status').show();
// });

// $( document ).ajaxStop(function() {
//   $( "#preloader").hide();
//     $('#status').hide();
// });


</script>


{% endblock %}