{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style type="text/css">
  /*.modal-dialog { 
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}*/
</style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Material List Report</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Material List Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

<div class="row">
 <div class="form-group col-md-8 col-md-offset-2">
 <div class="row">
 <form id="matlist_report" action="" method="POST" >
 <div class="form-group">
                  <div class=" col-md-2">

                    <p> Mat.Type</p>
                    </div>
                    <div class="col-md-3" style="width:500px">  
                     <select  id="desription" class="form-control description" name="description">
                     <option value="">Select</option> 
                     {% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}
                     </select>
                     </div>
                    
                    
                        </div>

  <div class="form-group">
                  <div class=" col-md-2">
                    <p> Mat Group</p>

                  </div>
                  <div class="col-md-3" style="width:500px">  
                     <select  id="group" class="form-control group" name="group">
                     <option value="">Select</option>
                     {% for g in mgrp%}
                     <option value="{{g}}" >{{g}}</option> {% endfor %}
                     </select>
                  </div>
             
                  </div>

                  

                  <div class="form-group">
                  <div class=" col-md-2">
                    <p> Material</p>
                    </div>
                    <div class="col-md-3">    
                    <input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:480px" required>
                    </div>
                  
                  </div>

                   

</form>
              
    
        </div>
        </div>
 

<div class="form-group">

                 <div class="col-sm-12 col-md-2 col-md-offset-4 ">            
                       <div class="form-group">
                  
                           <input id="go" type="button"   value="Go" onclick="fetch()" class="btn btn-primary btn-block">
                      </div>  
                 </div>  
   </div>

<div class="form-group"> 
<!-- Button trigger modal -->
 <div class=" col-md-4 col-md-offset-8 ">            
                       <div class="form-group">
<button id="create" type="button" class="btn btn-info " data-toggle="modal" data-target="#createMaterial">
  Create Material
</button>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="createMaterial" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
    <form >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createMaterialLabel"> Create Material</h4>
      </div>
      <div class="modal-body">
      		 <div class="container-fluid">
            	<div class="row">
            	<div class="col-md-6 col-md-offset-2">
			    <div class="form-group">
			   		<label>Mat.Type&nbsp;</label><input class="form-control" id="mtype" type="text" name="mtype" style="width:300px">
			   	</div>
			   	<div class="form-group">
			   		<label>Bun&nbsp;</label><input class="form-control" id="bun" type="text" name="bun" style="width:300px" >
			   	</div>
			   	<div class="form-group">
			   		<label>Material Type Description&nbsp;</label><input class="form-control" id="mtype_desc" type="text" name="mtype_desc" style="width:300px" >
			   	</div>
			   	<div class="form-group">
			   		<label>Material Group Description&nbsp;</label><input class="form-control" id="mgroup_desc" type="text" name="mgroup_desc" style="width:300px" >
			   	</div>
			   	<div class="form-group">
			   		<label>Material Group&nbsp;</label><input class="form-control" id="mgroup" type="text" name="mgroup" style="width:300px" >
			   	</div>
			   	<div class="form-group">
			   		<label>Material&nbsp;</label><input class="form-control" id="mat" type="text" name="mat" style="width:300px" >
			   	</div>
			   	<div class="form-group">
			   		<label>Material Description&nbsp;</label><input class="form-control" id="mat_desc" type="text" name="mat_desc" style="width:300px" >
			   	</div>
			   	</div>
			   	</div>
			   	</div>
		
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div id="collecting" class="form-group">
</div>
</div>

</div>



        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
     
  <script type="text/javascript">
  document.getElementById('id-18').className ="nav-parent nav-active active";
      document.getElementById("g").style.display = "block";
document.getElementById('id-18.1').className ="active";
</script>   

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>

<script src="/static/js/bootstrap-datepicker.js"></script>


<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>












<script>
$(document).ready(function() {
$('#create').hide();
$('.material').select2({
minimumInputLength: 3,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material2",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mty:$('#desription').val(),mgrp:$('#group').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material").val(excercise.material);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

 $('.material1').select2({
minimumInputLength: 3,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material2",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mty:$('#desription1').val(),mgrp:$('#group1').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material1").val(excercise.material);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});
 

/*$('.description').select2({
minimumInputLength: 3,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material_ty",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.mtype+">"+excercise.mtype+" </div>";
},
id: function(excercise){
return excercise.mtype;
},
formatAjaxError: function(){
return 'Material Type Does not Exist';
},
formatSelection: function(excercise) {
$("#desription").val(excercise.mtype);

return excercise.mtype;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

$('.description1').select2({
minimumInputLength: 3,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material_ty",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.mtype+">"+excercise.mtype+" </div>";
},
id: function(excercise){
return excercise.mtype;
},
formatAjaxError: function(){
return 'Material Type Does not Exist';
},
formatSelection: function(excercise) {
$("#desription1").val(excercise.mtype);

return excercise.mtype;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});*/


/*$('.group').select2({
minimumInputLength: 1,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material_grp",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mty:$('#desription').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.matl_group+">"+excercise.matl_group+"</div>";
},
id: function(excercise){
return excercise.matl_group;
},
formatAjaxError: function(){
return 'Material Group Does not Exist';
},
formatSelection: function(excercise) {
$("#group").val(excercise.matl_group);

return excercise.matl_group;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

$('.group1').select2({
minimumInputLength: 1,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material_grp",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mty:$('#desription1').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.matl_group+">"+excercise.matl_group+" </div>";
},
id: function(excercise){
return excercise.matl_group;
},
formatAjaxError: function(){
return 'Material Group Does not Exist';
},
formatSelection: function(excercise) {
$("#group1").val(excercise.matl_group);

return excercise.matl_group;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});*/



});

</script>

<script type="text/javascript">
$(document).ready(function() {
	$('#go').click(function() {
		/*$('#create').show();*/
	});
});

</script>

<script type="text/javascript">
function fetch()
{
  StrUrl="";
var searchable_fields = ['desription','desription1','group','group1','material','material1']
// var f=new FormData(document.getElementById("matlist_report"));
var url=[];

      for(var i=0;i<searchable_fields.length;i++)
      {
          if (document.getElementById(searchable_fields[i])!= undefined &&  document.getElementById(searchable_fields[i]).value!="")
          {
        url.push(document.getElementById(searchable_fields[i]).name+"="+document.getElementById(searchable_fields[i]).value);
   
          }
      }
/*alert();*/
if(url.length<2)
{
  bootbox.alert("Please Enter alteast two fields for search", function() {});
  return;
}
StrUrl=StrUrl+"/pmpr/getmateriallistreport?"+url.join("&");
console.log(StrUrl);
$('#collecting').html('<table class="display table table-bordered table-striped" cellspacing="0"  id="tab1"></table>' );
$('#tab1').html('<thead><tr><th>Quantity</th><th>Material Type</th><th>Material Number</th><th>Material Desc</th><th>UoM</th><th>Plant</th><th>Storage Location</th><th>Storage Bin</th><th>Old Material Number</th><th>Material Group</th><th>Hierarchy</th><th>Hierarchy Desc</th></tr></thead>');

 table=$('#tab1').dataTable( {
        "processing": true,
        "serverSide": true,
        "bFilter": false,
        "bSort": false,
        "dataType":'json',
        "ajax": {"url":StrUrl,
        "type":"POST"},
        "columnDefs": [ 
        {"targets": 0,"data":null,"defaultContent": "<input type='button' value='Fetch' onclick='fetch1(this)' class='tn btn-primary btn-bloc'>"},
        {"targets": 1,"data": "mtype"},
         {"targets": 2,"data": "material" },
         {"targets": 3,"data": "material_desc","width": "20%"},
         {"targets": 4,"data": "bun"},
         {"targets": 5, "data": "plant_id"},
         {"targets": 6,"data": "st_loc"},
         {"targets": 7,"data": "st_bin" },
         {"targets": 8, "data": "old_material"},         
         {"targets": 9,"data": "matl_group","width": "15%"},
         {"targets": 10,"data": "prod_hierarchy"},
         {"targets": 11,"data": "prod_hierarchy_desc","width": "15%"}
         // {"targets": 9,"data": "stock"}, //removed on 25th
         // {"targets": 11,"data": "Mov_avg_price"}, //removed on 25th
         // {"targets": 12,"data": "mat_crtd_dt"}, //removed on 25th
         // {"targets": 12, "data": "mat_po_txt"}  //removed on 25th
       
     
         ],
          "scrollX": true
    } );
 

}

function fetch1(input){
  data=$(input).parent().siblings(":nth-child(3)").text()
   plantid=$(input).parent().siblings(":nth-child(6)").text()
  console.log(data);
  console.log(plantid);
  var fd = new FormData();
  fd.append("material",data);
fd.append("plant_id",plantid);
  $.ajax({
                url: '/pmpr/getqty_material_list',
                data: fd,
                type: 'POST',
                processData: false,  
                contentType: false,
                success: function(response) {
              a1=""
                for (i=1;i<=response['reports'].length;i++){
                  a1=a1+  '<tr>'+
                            '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly"></td>'+
                            '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
                            '</tr>'
              }
              bootbox.dialog({
                              size: 'large',
                              message: 
                                 
                                  '<table id="tab_modal" class="table "> ' +
                                  '<thead> ' +
                                  '<tr>'+
                                  '<th>Quantity</th>'+
                                  '<th>Storage Location</th>'+
                                   '<th>PO Text</th>'+
                                  '<th>PO Value</th>'+
                                  '</tr>'+
                                  '</thead>'+
                                  '<tbody >'+
                                  a1+
                                  '</tbody>'+
                                  '</table>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                          a=$('#radio_modal:checked').val();
                                          quan =  $('#quan_modal'+a+'').val();
                                          stor= $('#stor_modal'+a+'').val();
                                          $('#ShowQuant').val(quan);
                                          $('#st_loc').val(stor);  
                                      }
                                  }
                              }
              });
                }
            });
}
</script>


{% endblock %}
