{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table {table-layout:fixed;}

.modal-dialog { /* Modal Window Customize*/
    width: 60%;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -350px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>Mines Approval </h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">       
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">Mines equipment daily status report for the day: {{fdate}} {{mines_len}}</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="row">
                <input type="number" id="equip_length" value="{{mines_len}}" hidden>
                    <table id="table" class="display table table-bordered table-striped" cellspacing="0"  >
                        <thead>
                            <tr>
                               
                               <th style="width: 50px;">
                                  S.No <input type="checkbox" id="selectall" checked="checked" style="display: none;" />
                               </th>
                                <th style="width: 200px;">Equipment Desc</th>
                                <th style="width: 100px;">Model</th>
                               <!--  <th>Capacity</th> -->
                                <th style="width: 110px;">Condition</th>
                                <th style="width: 150px;">Remarks</th>
                              <!--   <th style="width: 80px;">
                                    &nbsp;
                                </th> -->
                                <th style="width: 150px;">Action To be Taken @</th>
                                <th style="width: 100px;">Status</th>
                            </tr>
                        </thead>
                        <tbody id='body'>
                        {% set i=0 %}
                        {% for e in mines%}
                            <tr>
                               
                                <td>
                                    
                                  
                                    <div style="padding-left: 18px;">
                                     {{i+1}} <input type="checkbox" value="{{e['Equipment_Code']}}" id="agree{{i}}"  class='check_box' name="check"  style="display: none;"/>
                                      
                                    </div>
                                 
                                </td>
                                <td>
                                    {{ e['equipmentdetails']['Equipment_Descp']}}
                                </td>
                                <td style="width: 150px;">
                                    {{ e['equipmentdetails']['Model']}}
                                </td>
                                <!-- <td>
                                    {{ e['Capacity']}}
                                </td> -->
                                <td style="width: 110px;">
                                    <!-- {{ e['equipmentdetails']['Condition']}} -->
                                    <select id="condition{{i}}" class="form-control condition" style="width: 110px;" name="condition" >
                                        <option value="{{ e['equipmentdetails']['Condition']}}">{{ e['equipmentdetails']['Condition']}}</option>
                                        <option value="Working">Working</option>
                                        <option value="Break Down">Break Down</option>
                                        
                                        </select>
                                </td>
                                <td  id='new_remark{{i}}'>
                                   <!--  {{ e['equipmentdetails']['Remarks']}} -->
                                   <textarea class="mynumber" id='id_mynumber{{i}}' name="Remarks" rows="3" cols="20">{{e['equipmentdetails']['Remarks']}}</textarea>
                                </td>
                               
                                                                                                      
                                <td>
                                 <!--  {% if e['equipmentdetails']['plant_approval'] == 'TALARICHERUVU'%}
                                    TLC
                                   {%elif e['equipmentdetails']['plant_approval'] == 'BOYAREDDYPALLI' %}
                                    BYP
                                   {%elif e['equipmentdetails']['plant_approval'] == 'GANESHPAHAD CEMENT' %}
                                    GC
                                   {%elif e['equipmentdetails']['plant_approval'] == 'TANDUR' %}
                                    TDR
                                    {%elif e['equipmentdetails']['plant_approval'] == 'GANESHPAHAD POWER' %}
                                    GPP
                                    {%elif e['equipmentdetails']['plant_approval'] == 'HEAD OFFICE' %}
                                    HO
                                  {%endif%} -->
                                  <select  id="plant{{i}}" style="width: 150px;" class="form-control plant" name="plant">
                                    <option value="{{e['equipmentdetails']['plant_approval']}}">{{e['equipmentdetails']['plant_approval']}}</option>
                                    <option value="" >&nbsp;</option>
                                    <option value="{{plant_desc}}" >{{plant_desc}}</option>
                                    <option value="HEAD OFFICE" >HEAD OFFICE</option>
                                   </select>
                                </td>
                                <td style="width: 100px;">
                                    {% if e['approval_levels']['a_status'] == 'current' %}
                           		   <form id="approve_form" action="" method="POST" >
                                    <input type="hidden" value="{{e['_id']}}" name="prid{{i}}" id="prid{{i}}" class='doc_id' />                                                      
                                     <input type="hidden" id="my_new_remark{{i}}" name="equp{{i}}" />
                                     <input type="hidden" name="equipment{{i}}" id='equipment{{i}}' value="{{ e['equipmentdetails']['Equipment_Code']}}">                                    
                                    waiting for your approval
                                    {% elif e['approval_levels']['a_status'] == 'waiting'%}
                                    waiting for previous level of approvals
                                   {% elif e['equipmentdetails']['status'] == 'hodapproved'%}
                                    HOD Approved
                                    {% elif e['equipmentdetails']['status'] == 'finally_approved'%}
                                    Plant Head Approved
                                    {% endif %}
                                  
                                </td>
                               
                          </tr>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode ;
    if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
          return false;
    } else {
          return true;
    }      
}

/* FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INP"matl_group" : "PROJECT ITEMS",
    "plant_id" : "1004",
    "material" : "50970530000120",
    "material_desc" : "MYK AQUAFIN-2C",
    "prod_hierarchy" : "970530",
    "mat_crtd_dt" : "",
    "st_bin" : "",
    "mtype" : "ZCON",
    "prod_hierarchy_desc" : "Colony Material",
    "bun" : "AM",
    "mat_po_txt" : "",
    "st_loc" : "1020",
    "old_material" : "9705300120",
    "Mov_avg_price" : "112.44",
    "stock" : "0"UTS */
$('.quantity').bind("cut copy paste",function(e) {
    e.preventDefault();
});

/* FUNCTION DEFINED AS VALUERESTRICTION FOR CHANGING QUANTITY VALUE AND RESTRICT FOR GREATER VALUE */
function valueRestriction( value , showrow , tablerow ){
            var table1 = $("#table1 #body1");
            var tr = table1.find('tr');
            var tdr = tr.find('td');
            var numval = tdr.find('#mynumber'+showrow+''+tablerow+'').val();
            if(numval == ""){
                bootbox.alert("Please enter zero or greater value  in the Line Item "+showrow+"");
                return false;
            } else {
                if (numval > value ){
                    bootbox.alert("Please enter value less than "+value+" in Line Item "+showrow);
                    tdr.find('#mynumber'+showrow+''+tablerow+'').val(value);
                    return false;
                } else {
                    return true;
                }
            }
            
}

/*function nullRestriction(){
            var table1 = $("#table1 #body1");
            table1.find('tr').each(function (i) {
                var Line = this.rowIndex;
                var tdr = $(this).find('td');
                var numval = tdr.find('input[name="materialc"]').val();
                if(numval == ""){
                    bootbox.alert("Please enter zero or greater value  in the Line Item "+Line);
                    return false;
                } else {
                    $('#showTable{{Line}}').modal('hide');
                    return true;
                }
            });
}*/
</script>
<script>


// $('.mynumber').on('change',function() {
//     var new_num=$(this).attr('id').slice(11,12);
//     var new_remark=$('#id_mynumber'+new_num).val();
//     // $('#new_remark'+new_num).html(new_remark);
//      formdata['equipment'+new_num]=$('#equipment'+new_num).val();
//     formdata['remarks'+new_num]=$('#id_mynumber'+new_num).val();
//     formdata['prid'+new_num]=$('#prid'+new_num).val();
//     $('#finalvalue').val(JSON.stringify(formdata));
//     console.log(formdata)
//         // $('#showTable{{i}}').modal('hide');
//         });
</script>
<script type="text/javascript">

$(document).ready(function(){
    newData=[];
    formdata={};   
});   
</script>

{% set i=i+1 %}
{%endfor%}
</tbody>
</table>
			              <div class="col-sm-8 col-sm-offset-1">            
                            <div class="form-group" style="padding-left: 200px;">
                               
                                <input type="hidden" id="finalvalue" name="finalvalue" />
                                <input type="hidden" value="{{fdate}}" id='start_date' name="start_date">
                                <input type="hidden" value="{{tdate}}" id='end_date' name="end_date">
                                {%if stat == 'current'%}
                                    <input type="submit" value="Approve" name='submit' id='approve' onclick="return validateForm()" class="btn btn-primary btn-block">
                                {%else%}
                                    
                                {%endif%}
                            </div>  
                        </div>  
                         
</form>          
</div>                      
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
document.getElementById('id-100').className ="nav-parent nav-active active";
document.getElementById("j").style.display = "block";
document.getElementById('id-100.3').className ="active";
</script>
<script type="text/javascript">
   document.getElementById('id-100').className ="nav-parent nav-active active";
    document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.1').className ="active";
  document.getElementById('j').style.display = "block";
  document.getElementById('id-100.1.3').className ="active";
</script>
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootbox.min.js"></script>

<script type="text/javascript">
/*INITIALISING DATATABLES */
$(document).ready(function(){
    $('#table1').DataTable( {
        "scrollX": "160%",
        "scrollCollapse": true,
        "scrollY": "400px",
        "bSort": false,
        "retrieve": true,
        "iDisplayLength": 50,
        "columnDefs": [
            { "width": "5%", "targets": 0},
            { "width": "5%", "targets": 1},
            { "width": "6%", "targets": 2},
            { "width": "7%", "targets": 3},
            { "width": "10%", "targets": 4},
            { "width": "10%", "targets": 5},
            { "width": "10%", "targets": 6},
            { "width": "10%", "targets": 7},
            { "width": "10%", "targets": 8}
        ]
    });     
});
</script>
<script type="text/javascript">
        $("#approve_form").submit(function(e){  
            // alert('statring');
            for (var k = 0; k < {{mines_len}}; k++) {
           console.log(k);
           formdata['equipment'+k]=$('#equipment'+k).val();
            formdata['remarks'+k]=$('#id_mynumber'+k).val();
            formdata['prid'+k]=$('#prid'+k).val();
            formdata['plant'+k]=$('#plant'+k).val();
            formdata['condition'+k]=$('#condition'+k).val();

       }
       $('#finalvalue').val(JSON.stringify(formdata)); 
        var mylen=($('#finalvalue').val()).length;
        console.log($('#finalvalue').val());
        var datastring='submit='+'Approve'+'&formdata='+$('#finalvalue').val()+'&prid='+$('.doc_id').val()+'&start_date='+$('#start_date').val()+'&end_date='+$('#end_date').val();
        console.log(datastring);
        // e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/opreports/minesreportapproval",
             dataType: "json",
            data: datastring,
            success: function(data) {
             // if (data['msg']=="error"){
             //      $('#return_msg2').addClass("alert-danger");
             //    $('#alrt_msg2').html('Unable To Update.Please Try Again.');
             //     $('#return_msg2').show();
             //  }else{
             //      $('#return_msg2').addClass("alert-danger");
             //    $('#alrt_msg2').html(data['msg']);
             //     $('#return_msg2').show();               
             //  }
              
            }
          });
      });
</script>
<script type="text/javascript">
function validateForm(e){
        submit = "";
        // alert("Helllp");
        var table = $("#table #body");
        store = [ ];
        table.find('tr').each(function (i) {
            var row = this.rowIndex;
            var tdr = $(this).find('td');
            // alert(tdr);
            var condition = tdr.find('select[name="condition"]').val();
            var Remarks = tdr.find('textarea[name="Remarks"]').val();
            var action= tdr.find('select[name="plant"]').val();      
            // alert(action)
            if(condition =="Break Down")
            {
                if(Remarks=="")
                {
                     bootbox.alert("Please fill Remarks in row "+row);
                     submit = false;
                     return false;
                } 
                else if (action == "") {
                    bootbox.alert("Please fill action to be taken at in row "+row);
                    submit = false;
                    return false;
                } 
                else
                {
                  submit =true;
                }
            }
            else if(condition == "Working")
            {
              if (action != "") {
                    bootbox.alert("Please remove text in action to be taken at in row "+row);
                    submit = false;
                    return false;
                } 

            }
             else {
               submit =true;
            }
            
        });
        
    return submit;
}
</script>
{% endblock %}