{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
 <link href="/static/css/jquery-ui.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize */
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>

{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>MINING EQUIPMENT DAILY STATUS REPORT</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">          
          <li class="active">MINING EQUIPMENT DAILY STATUS REPORT </li>
        </ol>
      </div>
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
    <div class="col-md-12 ">
 		<div class="panel panel-default">
        	<div class="panel-heading">
          		<div class="panel-btns">
		            <a href="#" class="panel-close">&times;</a>
		            <a href="#" class="minimize">&minus;</a>
          		</div><!-- panel-btns -->
          	<h4 class="panel-title">MINING EQUIPMENT DAILY STATAUS REPORT</h4>
           	</div><!-- panel-heading -->
        	<div class="panel-body">
				<div class="form-group">
					<div class="row">
											
						<div id="miv" class="form-group">
							<form id="tradeform" action="" method="POST" >
							
				                  <div class="form-group form-inline">
				                    <label for="entry_date">Entry Date&nbsp;</label>
				                      <input id="entry_date" type="text" name="entry_date" style="width:200px;" class="form-control entry_date" >
				                  </div>
				         
							<table id="table" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr>
                         <th style="width: 27px;">S.No</th>
							           <th style="width: 150px;">Equipment Desc</th>
							           <!--  <th style="width: 120px;">Equip Code</th> -->
							            <th style="width: 100px;">Model No</th>
							           <!--  <th style="width: 100px;">Capacity</th> -->
							            <th style="width: 100px;">Condition</th>
							            <th style="width: 200px;">Remarks</th>
							            <th style="width: 100px;">Action to be taken at</th>
							            <!-- <th style="width: 50px;">HO</th> -->
							        </tr>
							    </thead>
						        <tbody id="body">
                    {% set i=1 %}
						       {% for e in mm %}
                   	
                      <tr>
                      <td>{{i}}</td>
						      		<td>

								     	<!-- <input type="text" class="form-control equipment" id="equipment" name="equipment" readonly="readonly" value="" style="width: 180px;"> -->
                      <input type="hidden" name="equipment" value="{{e['EquipmentDesc']}}">
                      {{e['EquipmentDesc']}}
								    </td>
								   <!--  <td>
						        		<input id="quipcode" type="text"  class="form-control quipcode" value="{{e['EquipmentCode']}}" readonly="readonly" name="quipcode" style="width: 120px;">
						      		</td> -->
                       <input type="hidden" name="quipcode" value="{{e['EquipmentCode']}}">
						     		<td>
						     			<!-- <input class="form-control model" id="model" name="model" style="width: 110px;" readonly="readonly" value="" type="text"> -->
                       <input type="hidden" name="model" value="{{e['Model']}}">
                      {{e['Model']}}
							     	</td>
							      	<!-- <td>
							        	<input id="capacity" type="text" value="{{e['Capacity']}}" readonly="readonly"  class="form-control capacity" style="width: 100px;" name="capacity" >
							      	</td> -->
                      <input type="hidden" name="capacity" value="{{e['Capacity']}}">
						     		<td>
        								<select id="condition" class="form-control condition" style="width: 113px;" name="condition" >
        								<!-- <option value="">&nbsp;</option> -->
        								<option value="Working">Working</option>
        								<option value="Break Down">Break Down</option>
        								
        								</select>
      								</td>
      								<td>
        								<!-- <input id="Remarks" style="width: 100px;" type="text" class="form-control Remarks" name="Remarks" > -->
        								<textarea rows="2" cols="38" id="Remarks" name="Remarks" maxlength="40" onkeypress="return checkSpcialChar(event)"></textarea>
      								</td>
      								<td>
        								<select  id="plant" style="width: 140px;" class="form-control plant" name="plant">
                        <option value="" >&nbsp;</option>
                        <option value="{{plant_desc}}" >{{plant_desc}}</option>
                        <option value="HO" >HO</option>
                       </select>
      								</td>
      							<!-- 	<td>
        								<select  id="HO" style="width: 50px;" class="form-control HO" name="HO">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      								</td> -->
							    </tr>
                  {%set i=i+1%}
							    {% endfor %}

								</tbody>
							</table>
              <div class="col-sm-12 col-md-4 ">            
                              <div class="form-group" style="padding-left: 220px;">
                               
                                  <input id="submit" type="submit" name="submit" onclick="return validateForm()"  value="Save" class="btn btn-primary btn-block">
                              </div>  
                        </div> 
                       
 							  	<div class="col-sm-12 col-md-4 ">            
			                       	<div class="form-group" style="padding-left: 220px;">
			                        
			                           	<input id="submit" type="submit" name="submit"  onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
			                      	</div>  
			                 	</div>  
							</div> 
           				</form> 
					</div>
             	</div>                                
        	</div><!-- panel-body -->
      	</div><!-- panel --> 
    </div>      
</div><!-- row -->
{% endblock %}    
{% block scripts %}

<!-- <script type="text/javascript">
 document.getElementById('id-100').className ="nav-parent nav-active active";
      document.getElementById("j").style.display = "block";
document.getElementById('id-100.1').className ="active";
</script>   -->
<script type="text/javascript">
   document.getElementById('id-100').className ="nav-parent nav-active active";
    document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.1').className ="active";
  document.getElementById('j').style.display = "block";
  document.getElementById('id-100.1.1').className ="active";
</script>
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)&& charCode != 46){
        return false;
    }else{
      return true;
    }
}
</script>

<script type="text/javascript">
         function checkSpcialChar(event){
            if(!((event.keyCode >= 65) && (event.keyCode <= 90) || (event.keyCode >= 97) && (event.keyCode <= 122) || (event.keyCode >= 48) && (event.keyCode <= 57) || (event.keyCode == 32) || (event.keyCode == 186))){
               event.returnValue = false;
               return;
            }
            event.returnValue = true;
         }
      </script>
<!-- Date picker -->
<script type="text/javascript">
$(function() {
	$( "#entry_date").datepicker({ 
		dateFormat: "dd/mm/yy",
		maxDate: 0
		 		
		});
	});

</script>




<script type="text/javascript">
function validateForm(){
	 	submit = "";
		var table = $("#table #body");
	    store = [ ];
	    table.find('tr').each(function (i) {
	        var row = this.rowIndex;
	        var tdr = $(this).find('td');
         
	        var condition = tdr.find('select[name="condition"]').val();
	        var Remarks = tdr.find('textarea[name="Remarks"]').val();
          var action= tdr.find('select[name="plant"]').val();
	        var entry=document.getElementById('entry_date').value;
	       // alert(action);
            if(condition =="Break Down")
            {
                if(Remarks=="")
                {
                     bootbox.alert("Please fill Remarks in row "+row);
                     submit = false;
                     return false;
                }
                else if (action == "") {
                    bootbox.alert("Please fill action to be taken at in row "+row);
                    submit = false;
                    return false;
                } 
                else
                {
                  submit =true;
                }
            }
            else if(condition == "Working")
            {
              if (action != "") {
                    bootbox.alert("Please remove text in action to be taken at in row "+row);
                    submit = false;
                    return false;
                } 

            }
             else {
               submit =true;
            }
            
            if(entry!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Entry Date");
                submit = false;
                return false;
            }

        });
	   
	return submit;
}
</script>
{% endblock %}