{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Mines Equipment Daily Status Report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}  
 <div class="row">
        
        
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->Mines Equipment Daily Status Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">  
          <div class="col-xs-4 col-md-3">
             <!--  <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search" onclick="down()">Download PDF</button> -->
              <input type="hidden" value={{plantname}} id="plantname">
              <a href="/static/Mines_status/prev_pdf/{{plantname}}-Mines Status Report.pdf" download="{{plantname}}-Mines Status Report.pdf"><button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search" >Download PDF</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}    
{% block scripts %}

<script type="text/javascript">
  document.getElementById('id-100').className ="nav-parent nav-active active";
    document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.1').className ="active";
  document.getElementById('j').style.display = "block";
  document.getElementById('id-100.1.4').className ="active";
</script>
      
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
  function down()
  {
      var plantname=document.getElementById('plantname').value;
      // alert(plantname);
      if(plantname == 'GANESHPAHAD')
        plantname="GANESHPAHAD CEMENT"
    window.open("/static/Mines_status/prev_pdf/"+plantname+"-Mines Status Report.pdf");
  }

</script>

{% endblock %}
