{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Mines Daily Status Report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Mines Daily Status Report</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="miv_report" action="" method="POST" >
     
 
 <div class="col-md-12 ">
 <div class="col-xs-12 col-md-4">
          <div class="form-group">
                    <label>Plant</label>
                    <select class="form-control" id="plant" name="plant" style="width:200px" required>
                          <option value="select" >Select Plant</option>
                          
                          <option value="1001">Talaricheruvu</option>
                          <option value="1002">Ganeshpahad Cement</option>
                          <option value="1003">Boyareddypalli</option>
                          <option value="1004">Tandur</option>
                          <option value="2001">Ganeshpahad Power</option>
                          
                      </select> 
            </div>
            
        </div>
        
                <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
           <!--          
                    
                     <div class="col-xs-12 col-md-4">
           <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          </div>
 -->
             <div class="col-xs-8 col-md-3">            
                       <div class="form-group">
                       <label>&nbsp;</label>
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Generate Report</button>
                      </div>  
                 </div>  

        
</div>
  
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
  document.getElementById('id-100').className ="nav-parent nav-active active";
    document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-100.1').className ="active";
  document.getElementById('j').style.display = "block";
  document.getElementById('id-100.1.2').className ="active";
</script>
      
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
  $( "#start_date,#end_date").datepicker({ 
    dateFormat: "dd/mm/yy",
    firstDay: 1,
    showButtonPanel: false,
     stepMonths: 1
  });
});

</script>

{% endblock %}
