{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table {table-layout:fixed;}

.modal-dialog { /* Modal Window Customize*/
    width: 60%;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -350px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}  

<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>MIV Approval</h2>

</div>
{% endblock %} 
{% block contentpanel %}  
<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">MIV Search</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="miv_approval" action="/pmpr/mivapproval/" method="POST" >
 
 <div class="col-md-12 ">
                  <div class="col-xs-12 col-md-4">
          <div class="form-group">
                    <label>Department</label>
                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                          <option value="select" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-4">
           <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          </div>



        
</div>
<br>
<br>
<br>
<br>       
            
    
       
        
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->


{% endblock %}    
{% block scripts %}
<script type="text/javascript">

    document.getElementById('id-19').className ="nav-parent nav-active active";
    document.getElementById("m").style.display = "block";
  document.getElementById('id-19.2').className ="active";

</script>
<script src="/static/js/jquery-ui.js"></script>
</script> -->
<script type="text/javascript">

$(document).ready(function(){
  $("#start_date").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#end_date").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#end_date").datepicker("option", "minDate", selectedDate);
                $("#end_date").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#end_date").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#start_date").datepicker("option", "maxDate", selectedDate);
        }
    });
});

</script>

{% endblock %}