{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize */
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>

{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>MIV Creation</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">          
          <li class="active"> MIV CREATION </li>
        </ol>
      </div>
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
    <div class="col-md-12 ">
 		<div class="panel panel-default">
        	<div class="panel-heading">
          		<div class="panel-btns">
		            <a href="#" class="panel-close">&times;</a>
		            <a href="#" class="minimize">&minus;</a>
          		</div><!-- panel-btns -->
          	<h4 class="panel-title">MIV Creation</h4>
           	</div><!-- panel-heading -->
        	<div class="panel-body">
				<div class="form-group">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group form-inline">
							  	<label>Department&nbsp;</label> 
							        <select class="form-control" id="dept" name="dept" style="width:200px" required>
							          	<option value="select" >Select Department</option>
							          	{% if dept %}
							          	{% for dep in dept%}
							            <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
							            {% endfor %}
							            {% endif %}
							        </select>                      
							</div>

							<div class="form-group form-inline">
							  	<label>Work Center </label> 
							        <select class="form-control" id="wrk_center" name="wrk_center" style="width:200px" required>
							        	<option value="select" >Select Work Center</option>
							          	{% if work_center %}
							          	{% for wrk in work_center%}
							            <option value="{{ wrk.work_center}}">{{ wrk.work_center_desc}}</option>
							            {% endfor %}
							            {% endif %}
							        </select>                        
							</div>
						</div>
						<div class="col-md-4">                  
						  	<div class="form-group">
						 		<select size="1" id="selct" class="form-control selct" name="selct" style="width:200px" >
						            	<option value="func" selected="selected">Function Location</option>
						        		<option value="equip"  >Equipment</option>
						        		<option value="cost" >Cost Center</option>
						        		<option value="wbs" >WBS Element</option>
						        </select>        
							</div>
						</div>
						<div class="col-md-4">
							<div  class="form-group" >
								<span class="function" id="function">
									<input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
								</span>
								<span class="eq" id="eq">
									<input class="form-control equipment" id="equipment" name="equipment"  type="hidden"  value="" placeholder="Equipment">
									<input class="form-control" id="eqp_desc" name="eqp_desc"   type="hidden"  value="" >
								</span>
								<span id="cost">
									<input class="form-control cost_center" id="cost_center" name="cost center"  type="hidden"  value="" placeholder="Cost center">
									<input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
								</span>
								<span id="wbs">
									<input class="form-control wbs_element" id="wbs_element" name="wbs_element"   type="hidden"  value="" placeholder="WBS Element" required>
									<input class="form-control" id="wbs_desc" name="wbs_desc"   type="hidden"  value="" >
								</span>
							</div>
							<div class="form-group">
								<div class="show_in">
									<input class="form-control " id="func_eqp" type="text"  disabled="disabled">
									<input id="btn" type="button"   value="Edit" onclick="showhide()" class="btn btn-primary btn-block">
									<span class="costhide">
										<input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" required>
										
									</span>
									<input id="back" type="button"   value="Back" onclick="showback()" class="btn btn-primary btn-block">
								</div>
								<!-- <div class="eq" >
									<input class="form-control eq" id="eq_cost" type="text"  disabled="disabled">
									<input class="form-control " id="funcost" type="hidden"  disabled="disabled">
									<input id="btn2" type="button"   value="Edit" onclick="showhide()" class="btn btn-primary btn-block">
									<span class="costhide">
										<input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" required>
										<input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
									</span>
									<input id="back2" type="button"   value="Back" onclick="showback()" class="btn btn-primary btn-block">
								</div> -->
							</div>
						</div>
						</div>
						<div id="miv" class="form-group">
							<form id="tradeform" action="" method="POST">
							<table id="table" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr>
							            <th>Mat.Type</th>
							            <th>Material</th>
							            <th>UoM</th>
							            <th>St.Loc</th>
							            <th>Available Stock</th>
							            <th>Quantity</th>
							            <!-- <th>Justification</th> -->
							            <th>Delete</th>
							        </tr>
							    </thead>
						        <tbody id="body">
						      		<tr>
						       		<td>
						      			<select  id="Desription" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
						      		</td>
								    <td>
								     	<input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" >
								    </td>
								    <td>
						        		<input id="UoM" type="text"  class="form-control uom" name="uom" size="10" readonly="readonly">
						      		</td>
						     		<td>
						     			<input class="form-control st_loc" id="st_loc" name="st_loc"   style="width:100%" type="text" value="" placeholder="Store Location" readonly="readonly">
							     	</td>
							     	<td>
							        	<input id="ShowQuant" type="number"  name='ShowQuant' class="form-control showquantity"  readonly="readonly" >
							      	</td>
							      	<td>
							        	<input id="Quant" type="number"  class="form-control quantity" name="quantity" min="0.1" step="0.1" style="width:100px" onkeypress="return numberValid(event)" >
							      	</td>
						     		<!-- td>
        								<input id="Specification" type="text"  class="form-control specify" name="specify" >
      								</td> -->
      								<td>
      									<button type="button" name="delete" onclick="deleteRow(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>
      								</td>
							    </tr>
								</tbody>
							</table>
 							<div class="form-group">
			                 	<div class="  col-xs-4 col-md-2">            
			                       	<div class="form-group">
			                           	<input id="add" type="button"   value="Add line item" class="btn btn-success btn-xs">
			                      	</div>  
			                 	</div>     

			                 	<div class="col-sm-12 col-md-4 col-md-offset-2 ">            
			                       	<div class="form-group">
			                        	<input type="hidden"  id="topval" name="topval">
			                           	<input id="submit" type="submit" onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
			                      	</div>  
			                 	</div>  
							</div> 
           				</form> 
<div id="spinModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      	<i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>

					</div>
             	</div>                                
        	</div><!-- panel-body -->
      	</div><!-- panel --> 
    </div>      
</div><!-- row -->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
 	
    document.getElementById('id-19').className ="nav-parent nav-active active";
    document.getElementById("m").style.display = "block";
  document.getElementById('id-19.1').className ="active";
</script>  
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
/* FOR DELETE LINE ITEM */
function deleteRow(btn) {
  	table = $('#table').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table >#body >tr').length>1){
    	table.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}

/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)&& charCode != 46){
        return false;
    }else{
      return true;
    }
}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
$('.quantity').bind("cut copy paste",function(e) {
    e.preventDefault();
});
</script>
<script type="text/javascript"> 
/*SHOWHIDE AND SHOWBACK FUNCTION FOR EDIT OPTION*/  
function showhide() {
  	$('#func_eqp').hide();
  	$('#btn').hide();
  	$('.costhide').show();
  	$('#back').show();
}
function showback() {
  	$(".cost_center1").select2("val", "");
  	$('#func_eqp').show();
  	$('#btn').show();
  	$('.costhide').hide();
  	$('#back').hide();
}
</script>
<script>
$(document).ready(function() {
	$('.costhide').hide();
    $('#back').hide();
	$('.function ').show();
	$('.show_in').show();
  	$('.eq').hide();
  	$('#cost').hide();
  	$('#wbs').hide();
  	/* JQUERY FUNCTION FOR CHANGING FUNCTION LOCATION,EQUIPMENT,COST CENTER AND WBS ELEMENT OPTION ACCORDING */
	$('#selct').change(function(){ 
		opt = $("#selct").val();
		if(opt=="func"){
		  	$('.function ').show();
		  	$('.show_in').show();
		  	$('#btn').show();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$("#equipment").select2("val", "");
		  	$(".cost_center1").select2("val", "");
		  	$("#cost_center").select2("val", "");
		  	$("#wbs_element").select2("val", "");
		  	$("#func_eqp").val("");
		  	$('.eq').hide();
		  	$('#cost').hide();
		  	$('#wbs').hide();
		}else if(opt=="equip"){
		 	$("#function_location").select2("val", "");
		 	$(".cost_center1").select2("val", "");
		 	$("#cost_center").select2("val", "");
		  	$("#wbs_element").select2("val", "");
		   	$("#func_eqp").val("");
		  	$('.function ').hide();
		  	$('.eq ').show();
		  	$('.show_in').show();
		  	$('#btn').show();
		  	$('.costhide').hide();
		  	$('#back').hide();
		  	$('#cost').hide();
		  	$('#wbs').hide();
		}else if(opt=="cost"){
		   	$("#function_location").select2("val", "");
		   	$("#func_eqp").val("");
		  	$("#wbs_element").select2("val", "");
		   	$("#equipment").select2("val", "");
		  	$('.function ').hide();
		  	$('.show_in').hide();
		  	$('.eq').hide();
		  	$('#cost').show();
		  	$('#wbs').hide();
		} else {
		   	$("#function_location").select2("val", "");
		   	$("#func_eqp").val("");
		  	$("#equipment").select2("val", "");
		  	$("#cost_center").select2("val", "");
		 	$('.function ').hide();
		 	$('.show_in').hide();
		  	$('.eq').hide();
		  	$('#cost').hide();
		  	$('#wbs').show();
		}
	});
    /* AJAX CALL FOR FUNCTION LOCATION FROM PMPR MODULE */
 	$('.function_location').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/functionlocation",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.functional_loc;
	        },
	        formatAjaxError: function(){
	          	return 'function location Does not Exist';
	        },
	        formatSelection: function(excercise) { 
		    	$("#function_location").val(excercise.functional_loc);
		      	$('#func_eqp').val(excercise.cost_center);
	            return excercise.functional_loc; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
	/*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
	$('.equipment').select2({
	        minimumInputLength:0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/equipment",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.equipment_number;
	        },
	        formatAjaxError: function(){
	          	return 'Equipment Does not Exist';
	        },
	        formatSelection: function(excercise) { 
		    	$("#equipment").val(excercise.equipment_number);
		      	$('#func_eqp').val(excercise.cost_center);
	            return excercise.Desp_technical_object; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
	/*AJAX CALL FOR COST CENTER FROM PMPR MODULE */
	$('.cost_center').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/costcenter",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
	        },
	        id: function(excercise){
	          	return excercise.cost_center;
	        },
	        formatAjaxError: function(){
	          	return 'Cost Center Does not Exist';
	        },
	        formatSelection: function(excercise) { 
	    		$("#cost_center").val(excercise.cost_center);
	            return excercise.cost_center; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
	/* AJAX CALL FOR COMBINATION COST CENTER FOR FUNCTION LOCATION AND EQUIPMENT */
	$('.cost_center1').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/costcenter",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
	        },
	        id: function(excercise){
	          	return excercise.cost_center;
	        },
	        formatAjaxError: function(){
	          	return 'Cost Center Does not Exist';
	        },
	        formatSelection: function(excercise) { 
	    		$("#cost_center1").val(excercise.cost_center);
	            return excercise.cost_center; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
        	}
    });
	/* AJAX CALL FOR WBS ELEMENT FROM PMPR MODULE */
	$('.wbs_element').select2({
	        minimumInputLength: 0,
	        placeholder: ' ',
	        allowClear: true,
	        ajax: {
		            url: "/pmpr/wbs_element",
		            dataType: 'json',
		            quietMillis: 100,
		            data: function(term) {
		          		return {term: term};
		            },
		            results: function(data) {
		                return { results: data.results }
		            }
	        },
	        formatResult: function(excercise) { 
	            return "<div class='select2-user-result' value="+excercise.WBS_element+">"+excercise.short_desc+"--"+excercise.WBS_element+" </div>"; 
	        },
	        id: function(excercise){
	          	return excercise.WBS_element;
	        },
	        formatAjaxError: function(){
	          	return 'wbs element Does not Exist';
	        },
	        formatSelection: function(excercise) { 
	        	$("#wbs_desc").val(excercise.short_desc);
		    	$("#wbs_element").val(excercise.WBS_element);
		        return excercise.short_desc; 
	        },
	        initSelection : function (element, callback) {
	            var elementText = $(element).attr('data-init-text');
	            callback({"term":elementText});
	        }
    });
	/* AJAX CALL FOR MATERIAL FROM PMPR MODULE */
 	$('.material').select2({
			minimumInputLength: 3,
			placeholder: ' ',
			allowClear: true,
			ajax: {
					url: "/pmpr/material",
					dataType: 'json',
					quietMillis: 100,
					data: function(term) {
						return {term: term,mtype:$('#Desription').val()};
					},
					results: function(data) {
						return { results: data.results }
					}
			},
			formatResult: function(excercise) {
				return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
			},
			id: function(excercise){
				return excercise.material;
			},
			formatAjaxError: function(){
				return 'Material Does not Exist';
			},
			formatSelection: function(excercise) {
				$("#material").val(excercise.material);
				$('#table tr:eq(1) div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
				$('#UoM').val(excercise.bun);
				var fd = new FormData();
				fd.append("material",excercise.material);
				if (document.getElementById("selct").value=="wbs")
				{
				fd.append("wbs_ele",document.getElementById("wbs_element").value);
				}
				$.ajax({
				        url: '/pmpr/getquantity',
				        data: fd,
				        type: 'POST',
				        processData: false,  
				        contentType: false,
				        success: function(response) {
							a1=""
				    		for (i=1;i<=response['reports'].length;i++){
				 					a1=a1+  '<tr>'+
				                    '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
				                    '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
				                    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
				                    '</tr>'
							}
							bootbox.dialog({
							                size: 'large',
							                message: 
							                   
							                    '<table id="tab_modal" class="table "> ' +
							                    '<thead> ' +
							                    '<tr>'+
							                    '<th>Quantity</th>'+
							                    '<th>Storage Location</th>'+
							                    '<th>Action</th>'+
							                    '</tr>'+
							                    '</thead>'+
							                    '<tbody >'+
							                    a1+
							                    '</tbody>'+
							                    '</table>',
							                buttons: {
							                    success: {
							                        label: "Ok",
							                        className: "btn-primary",
							                        callback: function () {
							                          	a=$('#radio_modal:checked').val();
							                           	quan =  $('#quan_modal'+a+'').val();
							                            stor= $('#stor_modal'+a+'').val();
							                            $('#ShowQuant').val(quan);
							                            $('#st_loc').val(stor);  
							                        }
							                    }
							                }
							});
        				}
        		});
				return excercise.material_desc;
			},
			initSelection : function (element, callback) {
				var elementText = $(element).attr('data-init-text');
				callback({"term":elementText});
			}
	});
});
</script>
<script type="text/javascript">
$('#spinModal').modal('hide');
/*INITIALIZING TOOLTIP FOR MATERIAL DESCRIPTION*/
$('div.select2-container').tooltip();
/* INITIALISING DATATABLES */
$(document).ready(function(){
    table = $('#table').DataTable( {
		    	"retrieve": true,
		      	"scrollX": true,
		       	"paging": false,
		       	"bFilter": false,
		        "bSort": false,
		       	"columnDefs": [
		              { "width": "10%", "targets": 0 }  
		        ]
    });
	/* FOR ADD LINE ITEM */
	var row = 0;
    $('#add').click( function () {
    	row = row +1 ;
        table.row.add( [
					    '<select  id="Desription'+row+'" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
					    '<input class="form-control material'+row+'" id="material'+row+'" name="material"  type="hidden" value="" placeholder="Material" style="width:200px"  >',
					    '<input id="UoM'+row+'" type="text"  class="form-control uom" name="uom" size="10" readonly="readonly">',
					    '<input class="form-control st_loc'+row+'" id="st_loc'+row+'" name="st_loc"   style="width:100%" type="text" value="" placeholder="Store Location" readonly="readonly">',
					    '<input id="ShowQuant'+row+'" type="number"  name="ShowQuant" class="form-control showquantity"  readonly="readonly" >',
					    '<input id="Quant'+row+'" type="number"  class="form-control quantity" name="quantity" min="0.1" step="0.1" style="width:100px" onkeypress="return numberValid(event)" >',
					    /*'<input id="Specification" type="text"  class="form-control specify" name="specify" >',*/
					    '<button type="button" name="delete" onclick="deleteRow(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>'
               ] ).draw();
		var x = row;
		var y = x+1;
		/* AJAX CALL FOR MATERIAL FROM PMPR MODULE */
  		$('.material'+row+'').select2({
				minimumInputLength: 3,
				placeholder: ' ',
				allowClear: true,
				ajax: {
						url: "/pmpr/material",
						dataType: 'json',
						quietMillis: 100,
						data: function(term) {
							return {term: term,mtype:$('#Desription'+x+'').val()};
						},
						results: function(data) {
							return { results: data.results }
						}
				},
				formatResult: function(excercise) {
					return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
				},
				id: function(excercise){
					return excercise.material;
				},
				formatAjaxError: function(){
					return 'Material Does not Exist';
				},
				formatSelection: function(excercise) {
					$('#material'+x+'').val(excercise.material);
					$('#table tr:eq('+y+') div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
					$('#UoM'+x+'').val(excercise.bun);
					var fd = new FormData();
					fd.append("material",excercise.material);
					if (document.getElementById("selct").value=="wbs")
				    {
				    fd.append("wbs_ele",document.getElementById("wbs_element").value);
				    }
					$.ajax({
					        url: '/pmpr/getquantity',
					        data: fd,
					        type: 'POST',
					        processData: false,  
					        contentType: false,
					        success: function(response) {
								a1=""
								for (i=1;i<=response['reports'].length;i++) {
								 	a1=a1+  '<tr>'+
								 	'<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
									'<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
								    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
								    '</tr>'
								}
								bootbox.dialog({
								                size: 'large',
								                message: 
								                   
								                    '<table id="tab_modal" class="table"> ' +
								                    '<thead> ' +
								                    '<tr>'+
								                    '<th>Quantity</th>'+
								                    '<th>Storage Location</th>'+
								                    '<th>Action</th>'+
								                    '</tr>'+
								                    '</thead>'+
								                    '<tbody >'+
								                     a1+
								                    
								                    '</tbody>'+
								                    '</table>',
								                buttons: {
								                    success: {
								                        label: "Ok",
								                        className: "btn-primary",
								                        callback: function () {
								                          	a=$('#radio_modal:checked').val();
								                           	quan =  $('#quan_modal'+a+'').val();
								                            stor= $('#stor_modal'+a+'').val();
								                            $('#ShowQuant'+x+'').val(quan);
								                            $('#st_loc'+x+'').val(stor);  
								                        }
								                    }
								                }
								});
							}
				        
				    });
					return excercise.material_desc;
				},
				initSelection : function (element, callback) {
					var elementText = $(element).attr('data-init-text');
					callback({"term":elementText});
				}
		});
  	});
	/* FOR DELETE LINE ITEM */
    /*$("#delete").click(function(){
      	if($('#table >#body >tr').length>1){
        	table.row('tr:last').remove().draw( false );
		} else {
           	bootbox.alert('Please don\'t delete');
        }      
    }); */
});
</script>
<script type="text/javascript">
function validateForm(){
	 	submit = "";
	 	var deptvalue = $('#dept option:checked').val();
	 	if(deptvalue!="select"){
                submit = true;
        } else {
            bootbox.alert("Please fill Department");
            submit = false;
            return false;
            }
        var wrk_centervalue = $('#wrk_center option:checked').val();
	 	if(wrk_centervalue!="select"){
                submit = true;
            } else {
                bootbox.alert("Please fill Work Center");
                submit = false;
                return false;
            }

	    var selectvalue = $('#selct option:checked').val();
	    if(selectvalue == "func"){
	    function_locvalue = $('#function_location').val();
	      	if(function_locvalue!=""){
	        	submit = true;
	      	} else {
	       		bootbox.alert('Please fill Function Location');
	        	submit = false;
	        	return false;
	      	}
	    } else if(selectvalue == "equip"){
	      	equipvalue = $('#equipment').val();
	      	if(equipvalue!=""){
	        	submit = true;
	      	} else {
	       		bootbox.alert('Please fill Equiment Number');
	        	submit = false;
	        	return false;
	      	}
	    } else  if(selectvalue == "cost"){
		    costvalue = $('#cost_center').val();
		    if(costvalue!=""){
	        	submit = true;
	      	} else {
		       	bootbox.alert('Please fill Cost Center');
		        submit = false;
		        return false;
	      	}
	    } else {
	      	wbsvalue = $('#wbs_element').val();
	      	if(wbsvalue!=""){
	        	submit = true;
	      	} else {
		       	bootbox.alert('Please fill WBS Element');
		        submit = false;
		        return false;
	      }
	    }
		
		 //changed on 18_10_2016
		var table = $("#table #body");
	    store = [ ];
	    table.find('tr').each(function (i) {
	        var row = this.rowIndex;
	        var tdr = $(this).find('td');
	        var material = tdr.find('input[name="material"]').val(); 
	        var quantity = tdr.find('input[name="quantity"]').val();
	        var specify = tdr.find('input[name="specify"]').val();
	        if(material!=""){
	            var compare = jQuery.inArray(material,store);
	            if(compare <=-1){
	                submit = true ;
	            } else {
					bootbox.alert("Material in row "+row+" already exists");
	                submit = false ;
	                return false; 
	            }
	            store.push(material);
	        } else {
	            bootbox.alert("Please fill Material in row "+row);
	           	submit = false;
	            return false;
	        }
	        if(quantity != 0){
                var num = /^[0-9]+(\.[0-9]{1,3})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }

            /*if(specify!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Specification in row "+row);
                submit = false;
                return false;
            }*/

        });


//changed on 18_10_2016


		if(submit){
			$('#submit').attr('disabled','disabled');
        	$('#spinModal').modal('show');
        	var d = new Date();
			var month = d.getMonth()+1;
			var day = d.getDate();
			var hour = d.getHours();
			var minute = d.getMinutes();
			var second = d.getSeconds();
			var output =  ((''+day).length<2 ? '0' : '') + day + '' +
			              ((''+month).length<2 ? '0' : '') + month + '' +
			              d.getFullYear() + '' +
			              ((''+hour).length<2 ? '0' :'') + hour + '' +
			              ((''+minute).length<2 ? '0' :'') + minute + '' +
			              ((''+second).length<2 ? '0' :'') + second;
			a=[]
			value=document.querySelector('#selct option:checked').value;
			if (value =="func"){
				a.push(value); //0
				a.push( $('#function_location').val()); //1
	            if (document.getElementById('cost_center1').value == 0) { 
	              	cost_center1 = document.getElementById('func_eqp').value;
	              	a.push(cost_center1);//2
	            } else {
	              	cost_center1=document.getElementById('cost_center1').value;
	              	a.push(cost_center1);//2
	            }
			} else if (value=="equip"){
				a.push(value);//0
				a.push( $('#equipment').val());//1
	          	if (document.getElementById('cost_center1').value == 0) { 
		            cost_center1 = document.getElementById('func_eqp').value;
		            a.push(cost_center1);//2
	          	} else {
		            cost_center1=document.getElementById('cost_center1').value;
		            a.push(cost_center1);//2
	          	}
			} else if(value=="cost"){
				a.push(value);//0
				a.push( $('#cost_center').val());//1
				a.push('');//2

			}else {
				a.push(value);//0
				a.push( $('#wbs_element').val());//1
				a.push($('#wbs_desc').val());//2

			}
			a.push(document.getElementById('wrk_center').value);//3
			a.push(document.getElementById('dept').value);//4
			a.push(output)
			document.getElementById("topval").value=a;
  			var fd = new FormData(document.getElementById("tradeform"));
			$.ajax({
			        url: '/pmpr/mivcreations',
			        data:  fd,
			        type: 'POST',
			        timeout:50000,
			        processData: false,  
			        contentType: false,
			        success: function(response) {
			          		console.log(response['report']);
			              	if(response['report'][0]['check']=='0'){
			             		bootbox.alert(response['report'][0]['msg'], function() { location.reload(true);});  
			             		
			          		} else {
			          			$('#spinModal').modal('hide');
			          			$('#submit').removeAttr('disabled');
			             		bootbox.alert(response['report'][0]['msg'], function() {});
			          		}
			            },
			             error:function(jqXHR,textStatus,errorThrown){
						$('#spinModal').modal('hide');
			          		$('#submit1').removeAttr('disabled');
		             		bootbox.alert(errorThrown + "Please Try Again.");
		        }
			        });
			return false;  
			}
			return false;
}
</script>
{% endblock %}