{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="fa fa-user"></i>My Log</h2>
    <!--   <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li class="active">My Log</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}

            
      <div class="row">
        
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">My Log</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
    {%if mlog%}
      {% set i=mlog[-1].created_time.strftime('%d-%m-%Y') %}
      <strong>{{i}}</strong><hr>
      {% for notify in mlog|reverse  %}
      
      {% if i == notify.created_time.strftime('%d-%m-%Y') %}
      <table class="table">
 <tr> {{ notify.msg}}</tr>
</table>
      
      {% else %}
      {% set i=notify.created_time.strftime('%d-%m-%Y') %}
      <strong>{{ notify.created_time.strftime('%d-%m-%Y')}}</strong> <hr>
      {% endif %}
       
      {% endfor %}
{% else %}
<p> No Logs data available.</p>
{% endif %}    
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      

	  

{% endblock %}     
{% block scripts %}
  <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.3').className ="active";
    </script>
{% endblock %}

