{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>PR Reports</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">PR Reports</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="matlist_report" action="/pmpr/prapproval/" method="POST" >
 
 <div class="col-md-12 ">
                  <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>Department</label>
                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                          <option value="select" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>From Date</label> 
              <input id="Date1" type=""  class="form-control date" style="width:200px;" name="date1" required >
                     </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-3">
           <div class="form-group">
                    <label>To Date</label>
                  
                  <input id="Date2" type=""  class="form-control date" style="width:200px;" name="date2" >
                     </div>
          </div>



        <div class="form-group">
                  <div class="col-xs-12 col-md-3">
                    <label> Functional Loc</label>

                  </div>
                  <div class="col-xs-12 col-md-3">  
                     <input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
                  </div>
             
                  </div>
</div>
<br>
<br>
<br>
<br>



<div class="col-md-12 ">

      <div class="col-xs-12 col-md-4">
      <div class="form-group">
               <label>Equipment</label> 
              <input class="form-control equipment" id="equipment" name="equipment"  type="hidden"  value="" placeholder="Equipment">
                  <input class="form-control" id="eqp_desc" name="eqp_desc"   type="hidden"  value="" >
                     </div>
        </div>
       
        <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                  
                    <label>Cost Center</label>                   
                       
            <input class="form-control cost_center" id="cost_center" name="cost_center"  type="hidden"  value="" placeholder="Cost center">
            <input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
                    </div>
                  
                  </div>
          
        <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                  
                    <label>Asset</label>    
                   <input class="form-control assetcode" id="assetcode" name="assetcode"  type="hidden"  value="" placeholder="Asset Code" >  
                    </div>
                  
                  </div>
          
</div>
<br>
<br>
<br>
<br>

          
<div class="form-group">
 <div class=" col-md-offset-4 ">
               <input type="radio"  name="opt" id="radio_modal" value="all" checked >ALL</input>
                <input type="radio" name="opt" id="radio_modal" value="comp" >Component</input> 
                 <input type="radio" name="opt" id="radio_modal" value="ser" >Service</input> 
                  <input type="radio" name="opt" id="radio_modal" value="both" >Both</input>  
                  </div>
</div>


              
    
       
        
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->
  <div class="row">   
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">PR Approval</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="row">
                
              <form id="form1" method="POST" onsubmit="myFunction()">
                  <table id="table" class="display table table-bordered table-striped" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <thead>
                            <tr>
                                <th style="font-size: 12px; padding: 25px;">Select All<br><input type="checkbox" id="selectAll"></th>
                                <th style="font-size: 12px;" >Reference ID</th>
                                <th style="font-size: 12px;" >Action</th>
                                <th style="font-size: 12px;" > Save</th>
                                <th style="font-size: 12px;" >Components/<br>Services</th>
                                <th style="font-size: 12px;" >Applied On</th>
                                <th style="font-size: 12px;" >PR Raised On</th>
                                <th style="font-size: 12px;" >Function Location</th>
                                <th style="font-size: 12px;" >Equipment</th>
                                <th style="font-size: 12px;" >Cost Center</th>
                                <th style="font-size: 12px;" >WBS Element</th>
                                <th style="font-size: 12px;" >Asset Number</th>
                                <th style="font-size: 12px;" >Employee Name</th>               
                            </tr>
                        </thead>
                        <tbody id='body'>
                        {% set i=1 %} 
                        {% for e in pr%}  
                            <tr>
                              <td align="center">
                                 {% if e['approval_levels']['a_status'] == 'current' %}
                                   <input type="checkbox" name='prid_s' value="{{e['_id']}}"/>
                                  {% elif e['approval_levels']['a_status'] == 'waiting'%}
                                       <input type="checkbox" name='prid_s' value="{{e['_id']}}" disabled/> 
                                        {% endif %}

                              </td>
                              <td style="font-size: 9px;" >
                                    {% if e['P_Datetime'] %}
                                    <form action="" id="form4"> 
                                    {{e['P_Datetime']}}
                                    {% endif %}
                                    </form>
                                </td>
                                <td style="font-size: 10px;" >
                                    {% if e['approval_levels']['a_status'] == 'current' %}
                                    <form action="" id="form2" method="POST" onsubmit="return agree({{i}})">          
                                        <input type="hidden" value="{{ e['_id']}}" name="prid" />
                                        <input type="hidden" id="qC{{i}}" name="qC" />
                                        <input type="hidden" id="desS{{i}}" name="desS" />
                                        <input type="hidden" id="uS{{i}}" name="unitS" />
                                        <input type="hidden" id="qS{{i}}" name="qS" />
                                         <input type="hidden" id="proC{{i}}" name="proC">
                                        <input type="hidden" id="proS{{i}}" name="proS">
                                        <input type="hidden" id="specC{{i}}" name="specC" />
                                        <input type="hidden" id="justifyC{{i}}" name="justifyC" />
                                        <input type="hidden" id="unitC{{i}}" name="unitC" />
                                        <input type="hidden" id="dS{{i}}" name="dateS" />
                                        <input type="hidden" id="dateC{{i}}" name="dateC" />

                                        <div class="col-md-6  col-xs-3">
                                         <button type="submit" name="submit"  class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top"data-original-title="Approve" id="agree{{i}}" value="Approve" ><font size="1">✔</font></button>
                                        </div>
                                        <div class="col-md-6 col-xs-3">
                                        <button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Reject" id="disagree" value="Reject" ><font size="1">✖</font></button>
                                        </div>
                                        {% elif e['approval_levels']['a_status'] == 'waiting'%}
                                        waiting for previous level of approvals
                                        {% endif %}
                                        </form>
                                </td>
								<td style="font-size: 10px;" >
                                    {% if e['approval_levels']['a_status'] == 'current' %}
                                    <form action="" id="form2" method="POST">          
                                        <input type="hidden" value="{{ e['_id']}}" name="prid" />
                                        <input type="hidden" id="qCC{{i}}" name="qCC" />

                                        <input type="hidden" id="desSS{{i}}" name="desSS" />
                                        <input type="hidden" id="uSS{{i}}" name="unitSS" />
                        

                                        <input type="hidden" id="qSS{{i}}" name="qSS" />
                                         <input type="hidden" id="proCC{{i}}" name="proCC">
                                        <input type="hidden" id="proSS{{i}}" name="proSS">
                                        <input type="hidden" id="specCC{{i}}" name="specCC" />
                                        <input type="hidden" id="justifyCC{{i}}" name="justifyCC" />
                                        
                                        <input type="hidden" id="unitCC{{i}}" name="unitCC" />
                                        <input type="hidden" id="dateServ{{i}}" name="dateServ" />
                                        <input type="hidden" id="dateComp{{i}}" name="dateComp" />


                                        
										<button type="submit" name="submit" style="height:30px; width:50px;align=center" value="Save" id="agree1{{i}}" class="btn btn-success save"><font size="1.5">Save</font></button>
                                        {% elif e['approval_levels']['a_status'] == 'waiting'%}
                                        waiting for previous level of approvals
                                        {% endif %}
                                        </form>
                                </td>
                                

<td style="font-size: 10px;">
<!-- SHOW BUTTON MODAL WINDOW  -->
<!-- Button trigger modal -->
<div class=" col-md-2 col-md-offset-2 ">            
      <div class="form-group">
          <button id="show" type="button" style="height:30px; width:50px;align=center" class="btn btn-info " data-toggle="modal" data-target="#showTable{{i}}"><font size="1.5">Show</font> </button>
      </div>
</div>
<!-- Modal -->
<div class="modal fade" id="showTable{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createMaterialLabel"> Components/Services</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <table id="tableC{{i}}" class=" table table-bordered table-striped" width="100%">
                                {%if e['component'] %}
                                    <thead>
                                        <tr>
                                            <th style="font-size: 12px;" > Material Desc</th>
                                            <th style="font-size: 12px;" >Quantity</th>
                                            <th style="font-size: 12px;" >UoM</th>
                                            <th style="font-size: 12px;" >Unit Value</th>
                                            <th style="font-size: 12px;" >Delivery Date</th>
                                            <th style="font-size: 12px;" >Justification</th>
                                            <th style="font-size: 12px;" >PO Header Text</th>
                                            <th style="font-size: 12px;" >Specification</th>
                                            <th style="font-size: 12px;" >Procured at(plant or HO)</th>
                                             <th style="font-size: 12px;" >Short Text</th>
                                            <th style="font-size: 12px;" >Attachments</th>
                                            <th style="font-size: 12px;" >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id='bodyC{{i}}'>
                                    {% set j=0 %} 
                                    {% for c in e['component'] %}
                                    {% if 'disable' not in c %}
                                        <tr>
                                          <td style="font-size: 10px;" >
                                              {% if c['MAT_DESC'] %}
                                              {{c['MAT_DESC']}}
                                              {% endif %} 
                                          </td>
                                          <td style="font-size: 12px;" >
                                              {% if c['MENGE'] %}
                                              <input  style="height:30px; width:50px;align=center" class="quantity mynumberC{{i}}" type="number" min="0.1" step="0.1" max="{{c['MENGE']}}" id="mynumberC{{i}}" name="quantitynew"  value="{{c['MENGE']}}" onkeypress="return numberValid(event)"/>
                                              {% endif %} 
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['MEINS'] %}
                                              {{c['MEINS']}}
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['VERPR'] %}
                                               <input id="unit{{i}}" type="number"  class="form-control unit{{i}}" min="0" step="0.1" name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{c['VERPR']}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['EEIND'] %}
                                              <input  id="date{{i}}" type=""  class="form-control d date{{i}}" name="datenew" size="11" value="{{c['EEIND'].strftime('%d.%m.%Y')}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 12px;" >
                                              {% if c['JUSTI'] %}
                                               <input class="justify justify{{i}}"  id="justify{{i}}" name="justifynew" value="{{c['JUSTI']}}"/>
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['POHEAD'] %}
                                             {{c['POHEAD']}}
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['SPEC'] %}
                                              <input class="specify specify{{i}}"  id="specify{{i}}" name="specifynew" value="{{c['SPEC']}}"/>
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['PROD'] %}
                                                <select size="1" id="procured{{i}}" class="form-control procured{{i}}" name="newprocured">
                          {% if c['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                            {% endif %}
                          </select>
                                              
                                              {% endif %}
                                          </td>
                                           <td style="font-size: 10px;" >
                                              {% if c['SHORT_TEXT'] %}
                                              {{c['SHORT_TEXT']}}
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['file']%}           
                                              <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                          {% if e['approval_levels']['a_status'] == 'current' %}
                                              <button type="button" name="delete" class="btn btn-danger deleteC{{i}} btn-xs tooltips"   id="{{j}}" ><font size="1">✖</font></button>
                                               {% endif %}
                                          </td>
                                        </tr>
                                        {%else%}
                                        <tr style="display:none">
                                           <td style="font-size: 10px;" >
                                              {% if c['MAT_DESC'] %}
                                              {{c['MAT_DESC']}}
                                              {% endif %} 
                                          </td>
                                          <td style="font-size: 12px;" >
                                              {% if c['MENGE'] %}
                                              <input  style="height:30px; width:50px;align=center" class="quantity mynumberC{{i}}" type="number" min="0.1" step="0.1" max="{{c['MENGE']}}" id="mynumberC{{i}}" name="quantitynew" value="{{c['MENGE']}}" onkeypress="return numberValid(event)"/>
                                              {% endif %} 
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['MEINS'] %}
                                              {{c['MEINS']}}
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['VERPR'] %}
                                               <input id="unit{{i}}" type="number"  class="form-control unit{{i}}" min="0" step="0.1" name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{c['VERPR']}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['EEIND'] %}
                                              <input  id="date{{i}}" type=""  class="form-control d date{{i}}" name="datenew" size="11" value="{{c['EEIND'].strftime('%d.%m.%Y')}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 12px;" >
                                              {% if c['JUSTI'] %}
                                               <input class="justify justify{{i}}"  id="justify{{i}}" name="justifynew" value="{{c['JUSTI']}}"/>
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['POHEAD'] %}
                                             {{c['POHEAD']}}
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['SPEC'] %}
                                              <input class="specify specify{{i}}"  id="specify{{i}}" name="specifynew" value="{{c['SPEC']}}"/>
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['PROD'] %}
                                                <select size="1" id="procured{{i}}" class="form-control procured{{i}}" name="newprocured">
                          {% if c['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                            {% endif %}
                          </select>
                                              
                                              {% endif %}
                                          </td>
                                           <td style="font-size: 10px;" >
                                              {% if c['SHORT_TEXT'] %}
                                              {{c['SHORT_TEXT']}}
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                              {% if c['file']%}           
                                              <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                                              {% endif %}
                                          </td>
                                          <td style="font-size: 10px;" >
                                          {% if e['approval_levels']['a_status'] == 'current' %}
                                              <button type="button" name="delete" class="btn btn-danger deleteC{{i}} btn-xs tooltips"   id="{{j}}" ><font size="1">✖</font></button>
                                               {% endif %}
                                          </td>
                                        </tr>

                                        {%endif%}
                                    {% set j=j+1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if e['approval_levels']['a_status'] == 'current' %}
                                  <form id="add_line_items" action="/pmpr/add_line_item/" method="POST" >
                                 <button id="add_line_item" type="submit" style="height:30px; width:80px;align=center"  class="btn btn-success  btn-xs tooltips" data-toggle="modal" name='rec_id' value="{{e['_id']}}" ><font size="1.5">add_line_item</font> </button>
                                 </form>
                                {%endif%}
                                {%endif%}
                            </div>
                            <div class="form-group">
                            {% if e['service']  %}
              <table id="tableS{{i}}" class="table table-bordered table-striped" >
                <thead>
                        <tr>
                        	<th style="font-size 12px;"> Material Group</th>
                            <th style="font-size: 12px;" >Service Description</th>
                            <th style="font-size: 12px;" >Quantity</th>
                            <th style="font-size: 12px;" >UoM</th>
                      <th style="font-size: 12px;" >Unit Value</th>
                      <th style="font-size: 12px;" >Delivery Date</th>
                    <th style="font-size: 12px;" >Procured at(plant or HO)</th>
                      <th style="font-size: 12px;" >Attachments</th>
                      <th style="font-size: 12px;" >Action</th>
                        </tr>
                    </thead>
                    <tbody id="bodyS{{i}}">
                {% set k=0 %}    
                {% for s in e['service'] %}
                {% if 'disable' not in s %}
                      <tr>
                      	<td style="font-size: 10px;" >
                      	{% if s['MATKL'] %}
                      	 <input id="ser_grp" type="text" class="form-control ser_grp{{i}}" name="ser_grp" value="{{s['MATKL']}}" readonly>
                      	 {%endif%}

                      	</td>
                        <td style="font-size: 10px;" >
                          {% if s['SER_TXT'] %}
                          
                          <input id="desc{{i}}" type="text" class="form-control desc{{i}}" name="descnew" value="{{s['SER_TXT']}}">
                            {% endif %}
                        </td>
                        <td style="font-size: 12px;" >
                      {% if s['MENGE'] %}
                          <input   style="height:30px; width:50px;align=center" class="quantity mynumberS{{i}}" type="number"  id="mynumberS{{i}}" min="0.1" step="0.1" max="{{s['MENGE']}}" name="quantitynew" value="{{s['MENGE']}}" onkeypress="return numberValid(event)"/>
                            {% endif %}
                        </td>
                        <td style="font-size: 10px;" >
                          {% if s['MEINS'] %}
                          {{s['MEINS']}}
                            {% endif %}
                        </td>
                        <td style="font-size: 10px;" >
                          {% if s['VERPR'] %}
                          <input id="unitS{{i}}" type="number"  class="form-control unitS{{i}}" min="0" step="0.1"  name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{s['VERPR']}}">
                          
                            {% endif %}
                        </td>
                        <td style="font-size: 10px;" >
                          {% if s['EEIND'] %}
                          <input  id="dateS{{i}}" type="text"  class="form-control dateS{{i}}" name="datenew" size="11" value="{{s['EEIND'].strftime('%d.%m.%Y')}}">
                          
                            {% endif %}
                        </td>
                    <td style="font-size: 10px;" >
                        {% if s['PROD'] %}
                          <select size="1" id="procuredS{{i}}" class="form-control procuredS{{i}}" name="newprocured">
                         {% if s['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                          </select>
                            {% endif %}
                           {% endif %}
                      </td>
                        <td style="font-size: 10px;" >
                          {% if s['file']%}           
                      <a href="/pmpr/static/pdf/gridfs/{{s['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                      {% endif %}
                        </td>
                      <td style="font-size: 10px;" >
                       {% if e['approval_levels']['a_status'] == 'current' %}
                      <button type="button" name="delete" class="btn btn-danger btn-xs tooltips deleteS{{i}}"   id="{{k}}" value=""   ><font size="1">✖</font></button>
                          {% endif %}
                      </td>
                    </tr>
                    {%else%}
                    <tr style="display:none">
                        <td style="font-size: 10px;" >
                          {% if s['SER_TXT'] %}
                          
                          <input id="desc{{i}}" type="text" class="form-control desc{{i}}" name="descnew" value="{{s['SER_TXT']}}">
                            {% endif %}
                        </td>
                        <td style="font-size: 12px;" >
                      {% if s['MENGE'] %}
                          <input  style="height:30px; width:50px;align=center" class="quantity mynumberS{{i}}" type="number"  id="mynumberS{{i}}" min="0.1" step="0.1" max="{{s['MENGE']}}" name="quantitynew" value="{{s['MENGE']}}" onkeypress="return numberValid(event)"/>
                            {% endif %}
                        </td>
                        <td style="font-size: 10px;" >
                          {% if s['MEINS'] %}
                          {{s['MEINS']}}
                            {% endif %}
                        </td>
                        <td style="font-size: 10px;" >
                          {% if s['VERPR'] %}
                          <input id="unitS{{i}}" type="number"  class="form-control unitS{{i}}" min="0" step="0.1"  name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{s['VERPR']}}">
                          
                            {% endif %}
                        </td>
                        <td style="font-size: 10px;" >
                          {% if s['EEIND'] %}
                          <input  id="dateS{{i}}" type="text"  class="form-control dateS{{i}}" name="datenew" size="11" value="{{s['EEIND'].strftime('%d.%m.%Y')}}">
                          
                            {% endif %}
                        </td>
                    <td style="font-size: 10px;" >
                        {% if s['PROD'] %}
                          <select size="1" id="procuredS{{i}}" class="form-control procuredS{{i}}" name="newprocured">
                         {% if s['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                          </select>
                            {% endif %}
                           {% endif %}
                      </td>
                        <td style="font-size: 10px;" >
                          {% if s['file']%}           
                      <a href="/pmpr/static/pdf/gridfs/{{s['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                      {% endif %}
                        </td>
                      <td style="font-size: 10px;" >
                       {% if e['approval_levels']['a_status'] == 'current' %}
                      <button type="button" name="delete" class="btn btn-danger btn-xs tooltips deleteS{{i}}"   id="{{k}}" value=""   ><font size="1">✖</font></button>
                          {% endif %}
                      </td>
                    </tr>
                    {%endif%}
                  {% set k=k+1 %}
                  {%endfor%}
                    </tbody>
                </table>
                {% if e['approval_levels']['a_status'] == 'current' %}
                <form id="add_line_items" action="/pmpr/add_line_item/" method="POST" >
                <button id="add_line_item" type="submit" style="height:30px; width:80px;align=center"  class="btn btn-success  btn-xs tooltips" data-toggle="modal" name='rec_id' value="{{e['_id']}}" ><font size="1.5">add_line_item</font> </button>
              </form>
              {%endif%}
              {%endif%}
              </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
      </div>
    </div>
</div>
                   </td>
                    <td style="font-size: 10px;" >
                      {% if e['pr_appliedon'] %}
                      {{e['pr_appliedon'].strftime('%d-%m-%Y')}}
                      {% endif %}
                    </td>
                    <td style="font-size: 10px;" >
                      {% if e['P_ARBPL'] %}
                      {{e['P_ARBPL']}}
                      {% endif %}
                    </td>
                    <td style="font-size: 10px;" >
                      {% if e['functionlocation'] != '' %}
                      {{e['functionlocation']}}
                      {% else %}
                      {{e['equip_funcloc']}}
                      {% endif %}
                    </td>
                    <th style="font-size: 8px;" >
                      {% if e['equipment'] %}
                      {{e['equip_Desc']}}--
                      {{e['equipment']}}
                      {% endif %}
                    </td>
                    <td style="font-size: 10px;" >
                     {% if e['costcenter'] %}
                      {{e['cost_center_desc']}}--
                      {{e['costcenter']}}
                      {% endif %}
                    </td>
                    <td style="font-size: 10px;" >
                      {% if e['wbs_element'] %}
                      {{e['wbs_element']}}
                      {% endif %}     
                    </td>
                    <td style="font-size: 10px;" >
                      {% if e['assetcode'] %}
                      {{e['assetcode']}}
                      {% endif %}
                    </td>
                    <td style="font-size: 10px;" >
                      {% if e['employee_name'] %}
                      {{e['employee_name']}}
                      {% endif %}
                    </td>
                </tr>
                <script type="text/javascript">
  $(document).ready(function(){
    $('#agree1{{i}}').one('click',function() {  
     
newData=[]

    if (document.getElementsByClassName('mynumberC{{i}}'))
    {
      var getQuantityC=document.getElementsByClassName('mynumberC{{i}}');
      for(i=0;i<getQuantityC.length;i++) {
        newData.push(getQuantityC[i].value);
        }
      document.getElementById("qCC{{i}}").value=newData;
}
newData=[]
if(document.getElementsByClassName('justify{{i}}')){
      var justifyC=document.getElementsByClassName('justify{{i}}');
      for(i=0;i<justifyC.length;i++) {
        newData.push(justifyC[i].value);
        }
      document.getElementById("justifyCC{{i}}").value=newData;
}
newData=[]
if(document.getElementsByClassName('specify{{i}}')){
var specC=document.getElementsByClassName('specify{{i}}');
      for(i=0;i<specC.length;i++) {
        newData.push(specC[i].value);
        }
      document.getElementById("specCC{{i}}").value=newData;
  }
newData=[]
if (document.getElementsByClassName('date{{i}}'))
{
var comp_date=document.getElementsByClassName('date{{i}}');
      for(i=0;i<comp_date.length;i++) {
        newData.push(comp_date[i].value);
        }
      document.getElementById("dateComp{{i}}").value=newData;
}



newData=[]
if (document.getElementsByClassName('unit{{i}}'))
{
var unitC=document.getElementsByClassName('unit{{i}}');
      for(i=0;i<unitC.length;i++) {
        newData.push(unitC[i].value);
        }
      document.getElementById("unitCC{{i}}").value=newData;
}
newData=[]
if (document.getElementsByClassName('procured{{i}}'))
{
var proC=document.getElementsByClassName('procured{{i}}');
      for(i=0;i<proC.length;i++) {
        newData.push(proC[i].value);
        }
      document.getElementById("proCC{{i}}").value=newData;
}

newData=[]
if (document.getElementsByClassName('procuredS{{i}}'))
{
var proS=document.getElementsByClassName('procuredS{{i}}');
      for(i=0;i<proS.length;i++) {
        newData.push(proS[i].value);
        }
      document.getElementById("proSS{{i}}").value=newData;
}
//service
newData1=[]   
    if(document.getElementsByClassName('mynumberS{{i}}'))
    { var getQuantityS=document.getElementsByClassName('mynumberS{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<getQuantityS.length;i++) {
        newData1.push(getQuantityS[i].value);
      }
      document.getElementById("qSS{{i}}").value=newData1;
    
 newData1=[]
 if(document.getElementsByClassName('desc{{i}}'))
    { var desSS=document.getElementsByClassName('desc{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<desSS.length;i++) {
        newData1.push(desSS[i].value);
      }
      document.getElementById("desSS{{i}}").value=newData1;
    }


newData1=[]
 if(document.getElementsByClassName('dateS{{i}}'))
    { var date_serv=document.getElementsByClassName('dateS{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<date_serv.length;i++) {
        newData1.push(date_serv[i].value);
      }
      document.getElementById("dateServ{{i}}").value=newData1;
    }

 newData1=[]
 if(document.getElementsByClassName('unitS{{i}}'))
    { var uS=document.getElementsByClassName('unitS{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<uS.length;i++) {
        newData1.push(uS[i].value);
      }
      document.getElementById("uSS{{i}}").value=newData1;
    }

  
    }
});
    

$('#date{{i}},#dateS{{i}}').datepicker({
              dateFormat:"dd.mm.yy",
              todayHighlight: true ,
              minDate: "+0d", 
              autoclose: true
        });
  

  });

</script>


<script type="text/javascript">
$(document).ready(function(){
    $('.deleteC{{i}}').one('click',function() {
    if($('#tableC{{i}} >#bodyC{{i}} >tr').length>1){    
row=this.id;
     del=this;
  bootbox.dialog({
                              size: 'large',
                               closeButton: true,
                              message: 
                                  '<div class="form-group">\
  <label for="comment">Remarks:</label>\
  <textarea class="form-control" rows="5" id="comment"></textarea>\
</div>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                         
                                             
    var fd = new FormData();
    fd.append("row",row);
    fd.append("key","component");
    fd.append("reason",$('#comment').val());
    fd.append("prid","{{ e['_id']}}")
    $.ajax({
            url: '/pmpr/dellineitem',
            data:  fd,
            type: 'POST',
            processData: false,
            dataType:"json",  
            contentType: false,
            success: function(response) {
                if(response=='0') {
                   $(del).parent().parent().hide();
                  bootbox.alert("successfully deleted", function() {});  
                } else {
                  bootbox.alert("Please don\'t delete ", function() {});
                }
              }
      }); 
                                      }
                                  },
                      danger:  {
                                      label: "close",
                                      className: "btn-primary",
                                      callback: function () {}
                            }
                }
              });
  }
else{
  bootbox.alert('Please don\'t delete');
}
  });

  
  $('.deleteS{{i}}').one('click',function() {
        
  /*  alert(this.id);*/
  /*  alert("{{ e['_id']}}");*/
/*console.log($('#tableS{{i}} >#bodyS{{i}} >tr').length);*/
    if($('#tableS{{i}} >#bodyS{{i}} >tr').length>1){
     row=this.id
     del=this
  bootbox.dialog({
                              size: 'large',
                               closeButton: true,
                              message: 
                                 
                                  '<div class="form-group">\
  <label for="comment">Remarks:</label>\
  <textarea class="form-control" rows="5" id="comment"></textarea>\
</div>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                         
    if ($('#comment').val()=="")
    {
      bootbox.alert("Please enter Remarks for deleting line item", function() {});  
      return false;
    }                                        
    var fd = new FormData();
    fd.append("row",row);
    fd.append("key","service");

    fd.append("reason",$('#comment').val());
    fd.append("prid","{{ e['_id']}}")
    $.ajax({
            url: '/pmpr/dellineitem',
            data:  fd,
            type: 'POST',
            processData: false,
            dataType:"json",  
            contentType: false,
            success: function(response) {
                if(response=='0') {
                  $(del).parent().parent().hide();
                  bootbox.alert("successfully deleted", function() {});  
                } else {
                  bootbox.alert("Please don\'t delete", function() {});
                }
              }
      }); 
                                      }
                                  },
danger:  {
                                      label: "close",
                                      className: "btn-primary",
                                      callback: function () {

                              }
                            }
              }
              });
  


  }
else{
  bootbox.alert('Please don\'t delete');
}
  });

});   
</script>


{% set i=i+1 %}
{%endfor%}
</tbody>
</table>
<div class="col-md-12 col-md-offset-6">
 <button  type="submit" name="submit" id="submit1" value="Approve_All"  class="btn btn-success save">Approve ALL </button>
</div>
</form>
<div id="spinModal" class="modal fade" data-keyboard="false" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>
</div>
</div>

</div>                      
</div><!-- panel-body -->
</div><!-- panel -->
</div>  <!--row-->   

        
      
      

{% endblock %}    
{% block scripts %}

  <script type="text/javascript">
document.getElementById('id-17').className ="active";
    </script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $("#Date1").datepicker({
    dateFormat: "dd.mm.yy",
    todayHighlight: true ,
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#Date2").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#Date2").datepicker("option", "minDate", selectedDate);
                $("#Date2").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#Date2").datepicker({ 
        dateFormat: "dd.mm.yy",
        todayHighlight: true ,
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#Date1").datepicker("option", "maxDate", selectedDate);
        }
    });
});

</script>

<script type="text/javascript">
  $(document).ready(function() {

$('.function_location').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/functionlocation",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
          },
          id: function(excercise){
              return excercise.functional_loc;
          },
          formatAjaxError: function(){
              return 'function location Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#function_location").val(excercise.functional_loc);
            $('#func_eqp').val(excercise.cost_center);
              return excercise.functional_loc; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  /*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
  $('.equipment').select2({
          minimumInputLength:0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/equipment",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
          },
          id: function(excercise){
              return excercise.equipment_number;
          },
          formatAjaxError: function(){
              return 'Equipment Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#equipment").val(excercise.equipment_number);
            $('#func_eqp').val(excercise.cost_center);
              return excercise.Desp_technical_object; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  /*AJAX CALL FOR COST CENTER FROM PMPR MODULE */
  $('.cost_center').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/costcenter",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
          },
          id: function(excercise){
              return excercise.cost_center;
          },
          formatAjaxError: function(){
              return 'Cost Center Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#cost_center").val(excercise.cost_center);
              return excercise.cost_center; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  $('.assetcode').select2({
            minimumInputLength: 0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/asset",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return { term: term };
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.main_asset_number+">"+excercise.asset_desc+"--"+excercise.main_asset_number+" </div>";  
            },
            id: function(excercise){
                return excercise.main_asset_number;
            },
            formatAjaxError: function(){
                return 'Asset Code Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#assetcode").val(excercise.main_asset_number);
                return excercise.asset_desc; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });
  });
</script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode ;
        if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
            return false;
        } else {
            return true;
        } 
}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
$('.quantity').bind("cut copy paste",function(e) {
    e.preventDefault();
});
</script>
<script type="text/javascript">
/* INITIALISING DATATABLES */
$(document).ready(function(){
  $('#table').DataTable( {
        
        "bSort": false,
        "retrieve": true,
        
  }); 
});
$('#agree').click(function() {
$('#table > tbody > tr > td ').click(function() {
    var rowIndex = $(this).parent().index();
    alert(rowIndex);
     var data = $(this).parent().find('#mynumber').serialize();
      alert(data);
}); 
});  
$('#agree1').click(function() {
$('#table > tbody > tr > td ').click(function() {
    var rowIndex = $(this).parent().index();
    alert(rowIndex);
     var data = $(this).parent().find('#mynumber').serialize();
      alert(data);
}); 
});  

</script>
<script type="text/javascript">
/* FOR NEW QUANTITY VALUE */
function agree(link)
    {  
      newData=[]
      console.log(link);
      if (document.getElementsByClassName('mynumberC'+link))
      {
        var getQuantityC=document.getElementsByClassName('mynumberC'+link);
        for(i=0;i<getQuantityC.length;i++) 
        {
          console.log(getQuantityC[i].value)
           if (getQuantityC[i].value=="")
              {
                  bootbox.alert("Quantity cannot be blank", function() {});
                  return false;
              }
          newData.push(getQuantityC[i].value);
          }
          a='qC'+link
          console.log(a)
          document.getElementById(a).value=newData;
        newData=[]
        if(document.getElementsByClassName('justify'+link))
        {
          var justifyC=document.getElementsByClassName('justify'+link);
          for(i=0;i<justifyC.length;i++) {
            if (justifyC[i].value=="")
              {
                  bootbox.alert("Justification cannot be blank", function() {});
                  return false;
                  
              }
          newData.push(justifyC[i].value);
          }
        document.getElementById("justifyC"+link).value=newData;
        }
        newData=[]
      if (document.getElementsByClassName('specify'+link))
        {
        var specC=document.getElementsByClassName('specify'+link);
        for(i=0;i<specC.length;i++) {
           if (specC[i].value=="")
              {
                  bootbox.alert("Specification cannot be blank", function() {});
                  return false;
                 
              }
          newData.push(specC[i].value);
          }
        document.getElementById("specC"+link).value=newData;
        }



        newData=[]
      if (document.getElementsByClassName('date'+link))
        {
        var dateC=document.getElementsByClassName('date'+link);
        for(i=0;i<dateC.length;i++) {
          alert(dateC[i].value);
             if (dateC[i].value=="")
              {
                  bootbox.alert("Date of component cannot be blank", function() {});
                  return false;
                
                  
              }
          newData.push(dateC[i].value);
          }
        document.getElementById("dateC"+link).value=newData;
        }

        newData=[]
        if (document.getElementsByClassName('unit'+link))
        {
        var unitC=document.getElementsByClassName('unit'+link);
              for(i=0;i<unitC.length;i++) {
                   if (unitC[i].value=="")
                    {
                        bootbox.alert("unit of component cannot be blank", function() {});
                       return false;
                         
                    }
                newData.push(unitC[i].value);
                }
              document.getElementById("unitC"+link).value=newData;
        }

          newData=[]
          if (document.getElementsByClassName('procured'+link))
          {
          var proC=document.getElementsByClassName('procured'+link);
                for(i=0;i<proC.length;i++) {
                     if (proC[i].value=="")
                      {
                          bootbox.alert("procured of component cannot be blank", function() {});
                          return false;
                          
                      }
                  newData.push(proC[i].value);
                  }
                document.getElementById("proC"+link).value=newData;
          }

      }

  newData=[]
  if (document.getElementsByClassName('procuredS'+link))
  {
  var proS=document.getElementsByClassName('procuredS'+link);
        for(i=0;i<proS.length;i++) {
             if (proS[i].value=="")
              {
                  bootbox.alert("procured of service cannot be blank", function() {});
                  return false;
                  
              }
          newData.push(proS[i].value);
          }
        document.getElementById("proS"+link).value=newData;
  }
  //
    newData1=[]   
      if(document.getElementsByClassName('mynumberS'+link))
      { 
        var getQuantityS=document.getElementsByClassName('mynumberS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<getQuantityS.length;i++) {
           if (getQuantityS[i].value=="")
              {
                  bootbox.alert("quantity of service cannot be blank", function() {});
                  return false;
                   
              }
          newData1.push(getQuantityS[i].value);
        }
        document.getElementById("qS"+link).value=newData1;
      
   newData1=[]
   if(document.getElementsByClassName('desc'+link))
      { var desS=document.getElementsByClassName('desc'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<desS.length;i++) {
           if (desS[i].value=="")
              {
                  bootbox.alert("Description of service cannot be blank", function() {});
                  return false;
                 
              }
          newData1.push(desS[i].value);
        }
        document.getElementById("desS"+link).value=newData1;
      }

   newData1=[]
   if(document.getElementsByClassName('unitS'+link))
      { var uS=document.getElementsByClassName('unitS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<uS.length;i++) {
           if (uS[i].value=="")
              {
                  bootbox.alert("Unit of service cannot be blank", function() {});
                 return false;
                  
              }
          newData1.push(uS[i].value);
        }
        document.getElementById("uS"+link).value=newData1;
      }

     newData1=[]
   if(document.getElementsByClassName('dateS'+link))
      { 
        var dS=document.getElementsByClassName('dateS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<dS.length;i++) {
           if (dS[i].value=="")
              {
                  bootbox.alert("Date of service cannot be blank", function() {});
                  return false;

              }
          newData1.push(dS[i].value);
        }
        document.getElementById("dS"+link).value=newData1;
      }

      $('#date{{i}},#dateS{{i}}').datepicker({
              dateFormat:"dd.mm.yy",
              todayHighlight: true ,
              minDate: "+0d", 
              autoclose: true
        });


      }
  } 

</script>
<script type="text/javascript">
/* FOR NEW QUANTITY VALUE */
function agree(link)
    {  
      newData=[]
      console.log(link);
      if (document.getElementsByClassName('mynumberC'+link))
      {
        var getQuantityC=document.getElementsByClassName('mynumberC'+link);
        for(i=0;i<getQuantityC.length;i++) 
        {
          console.log(getQuantityC[i].value)
           if (getQuantityC[i].value=="")
              {
                alert("hello")
                  bootbox.alert("Quantity cannot be blank", function() {});
                  return false;
              }
          newData.push(getQuantityC[i].value);
          }
          a='qC'+link
          console.log(a)
          document.getElementById(a).value=newData;
        newData=[]
        if(document.getElementsByClassName('justify'+link))
        {
          var justifyC=document.getElementsByClassName('justify'+link);
          for(i=0;i<justifyC.length;i++) {
            if (justifyC[i].value=="")
              {
                  bootbox.alert("Justification cannot be blank", function() {});
                  return false;
                  
              }
          newData.push(justifyC[i].value);
          }
        document.getElementById("justifyC"+link).value=newData;
        }
        newData=[]
      if (document.getElementsByClassName('specify'+link))
        {
        var specC=document.getElementsByClassName('specify'+link);
        for(i=0;i<specC.length;i++) {
           if (specC[i].value=="")
              {
                  bootbox.alert("Specification cannot be blank", function() {});
                  return false;
                 
              }
          newData.push(specC[i].value);
          }
        document.getElementById("specC"+link).value=newData;
        }

        newData=[]
      if (document.getElementsByClassName('date'+link))
        {
        var dateC=document.getElementsByClassName('date'+link);
        for(i=0;i<dateC.length;i++) {
          alert(dateC[i].value);
             if (dateC[i].value=="")
              {
                  bootbox.alert("Date of component cannot be blank", function() {});
                  return false;
                
                  
              }
          newData.push(dateC[i].value);
          }
        document.getElementById("dateC"+link).value=newData;
        }
        

        newData=[]
        if (document.getElementsByClassName('unit'+link))
        {
        var unitC=document.getElementsByClassName('unit'+link);
              for(i=0;i<unitC.length;i++) {
                   if (unitC[i].value=="")
                    {
                        bootbox.alert("unit of component cannot be blank", function() {});
                       return false;
                         
                    }
                newData.push(unitC[i].value);
                }
              document.getElementById("unitC"+link).value=newData;
        }

          newData=[]
          if (document.getElementsByClassName('procured'+link))
          {
          var proC=document.getElementsByClassName('procured'+link);
                for(i=0;i<proC.length;i++) {
                     if (proC[i].value=="")
                      {
                          bootbox.alert("procured of component cannot be blank", function() {});
                          return false;
                          
                      }
                  newData.push(proC[i].value);
                  }
                document.getElementById("proC"+link).value=newData;
          }

      }

  newData=[]
  if (document.getElementsByClassName('procuredS'+link))
  {
  var proS=document.getElementsByClassName('procuredS'+link);
        for(i=0;i<proS.length;i++) {
             if (proS[i].value=="")
              {
                  bootbox.alert("procured of service cannot be blank", function() {});
                  return false;
                  
              }
          newData.push(proS[i].value);
          }
        document.getElementById("proS"+link).value=newData;
  }
  //
    newData1=[]   
      if(document.getElementsByClassName('mynumberS'+link))
      { 
        var getQuantityS=document.getElementsByClassName('mynumberS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<getQuantityS.length;i++) {
           if (getQuantityS[i].value=="")
              {
                  bootbox.alert("quantity of service cannot be blank", function() {});
                  return false;
                   
              }
          newData1.push(getQuantityS[i].value);
        }
        document.getElementById("qS"+link).value=newData1;
      
   newData1=[]
   if(document.getElementsByClassName('desc'+link))
      { var desS=document.getElementsByClassName('desc'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<desS.length;i++) {
           if (desS[i].value=="")
              {
                  bootbox.alert("Description of service cannot be blank", function() {});
                  return false;
                 
              }
          newData1.push(desS[i].value);
        }
        document.getElementById("desS"+link).value=newData1;
      }

   newData1=[]
   if(document.getElementsByClassName('unitS'+link))
      { var uS=document.getElementsByClassName('unitS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<uS.length;i++) {
           if (uS[i].value=="")
              {
                  bootbox.alert("Unit of service cannot be blank", function() {});
                 return false;
                  
              }
          newData1.push(uS[i].value);
        }
        document.getElementById("uS"+link).value=newData1;
      }
    newData1=[]
   if(document.getElementsByClassName('dateS'+link))
      { 
        var dS=document.getElementsByClassName('dateS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<dS.length;i++) {
           if (dS[i].value=="")
              {
                  bootbox.alert("Date of service cannot be blank", function() {});
                  return false;

              }
          newData1.push(dS[i].value);
        }
        document.getElementById("dS"+link).value=newData1;
      }

      $('#date{{i}},#dateS{{i}}').datepicker({
              DateFormat:"dd.mm.yy",
              todayHighlight: true ,
              minDate: "+0d", 
              autoclose: true
        });

     


      }
  }  

</script>
<script type="text/javascript">
$(document).ready(function () {
   $('#table').on('click', '#selectAll', function () {
      if ($(this).hasClass('allChecked')) {
         $('input[type="checkbox"]', '#table').prop('checked', false);

      } else {
       $('input[type="checkbox"]', '#table').prop('checked', true);
       }
       $(this).toggleClass('allChecked');
     })
});
</script>

<script>
function myFunction() {
    $('#submit1').attr('disabled');
      $('#spinModal').modal('show');
      var fd = new FormData(document.getElementById("tradeform"));
          $.ajax({
                  url: '/pmpr/bulk_prapproval/',
                  data:  fd,
                  type: 'POST',
                  dataType: "json",
                  processData: false,  
                  contentType: false,
                  success: function(response) {
                      console.log(response['report']);
                      if(response['report'][0]['check']=='0'){
                          bootbox.alert(response['report'][0]['msg'], function() {location.reload(true);});            
                          
                      } else {
              $('#spinModal').modal('hide');
                    $('#submit1').removeAttr('disabled');
              bootbox.alert(response['report'][0]['msg'], function() {});
                      } 
                  }
          });
}
</script>





{% endblock %}
