{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>MIV History Report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">MIV Search</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="miv_report" action="" method="POST" >
 
 <div class="col-md-12 ">
                  <div class="col-xs-12 col-md-4">
          <div class="form-group">
                    <label>Department</label>
                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                          <option value="select" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-4">
           <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          </div>



        
</div>
<br>
<br>
<br>
<br>       
            
    
       
        
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->
  <div class="row">   
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">MIV Reports</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="row">
                <table id="table" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0" border="0" >
 <thead>
            <tr>
               
                <th style="font-size: 12px;">Components</th>
                <th style="font-size: 12px;">Quantity data</th>
                <th style="font-size: 12px;">Portal Id</th>
                <th style="font-size: 12px;">Mat Doc Num</th>
                <th style="font-size: 12px;">Applied On</th>
                <th style="font-size: 12px;">MIV Raised On</th>
                <th style="font-size: 12px;">Status/Pending At</th>
                <th style="font-size: 12px;">Function Location</th>
                <th style="font-size: 12px;">Equipment</th>
                <th style="font-size: 12px;">WBS Element</th>
                <th style="font-size: 12px;">Cost Center</th>
                <th style="font-size: 12px;">Activity</th>
    <th style="font-size: 12px;">Requistor Name</th>
    
    
 
            </tr>

        </thead>


        <tbody id='body'>
           {% set i=0 %} 
          {% for e in miv%}
      <tr>
       <td style="font-size: 11px;">
 

 <!-- Modal window for Component/Services table -->

<!-- Button trigger modal -->
 <div class=" col-md-2 col-md-offset-2 ">            
          <div class="form-group">
                          

                            <button id="show" type="button" style="height:30px; width:50px;align=center" class="btn btn-info " data-toggle="modal" data-target="#showTable{{i}}"><font size="1.5">Show</font> </button>
</div>
</div>

 <!-- Modal -->
<div class="modal fade" id="showTable{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createMaterialLabel"> Components/Services</h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
              <div class="row">
              <div class="col-md-12 ">
              <div class="form-group">


{% if e['voucher'] %}
<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
               
                
             
                <th style="font-size: 12px;">Material</th>
                <th style="font-size: 12px;">Material Desc</th>
                <th style="font-size: 12px;">Quantity</th>
                <th style="font-size: 12px;">UoM</th>
                <th style="font-size: 12px;">Storage location</th>
                <th style="font-size: 12px;">Justification</th>


   

            </tr>
        </thead>


        <tbody id='body1'>
{% for c in e['voucher'] %}
      <tr>
      
      <td style="font-size: 11px;">
           {% if c['MATNR'] %}
        {{c['MATNR']}}
          {% endif %} 
      </td>
      <td style="font-size: 11px;">
           {% if c['MAT_DESC'] %}
        {{c['MAT_DESC']}}
          {% endif %} 
      </td>

      <td style="font-size: 11px;">

            {{c['MENGE']}}
    

      </td>
      <td style="font-size: 11px;">
       {% if c['MEINS'] %}
        {{c['MEINS']}}
          {% endif %}
      </td>
    
 <td style="font-size: 11px;">
       {% if c['LGORT'] %}
        {{c['LGORT']}}
          {% endif %}
      </td>
      
   
      <td style="font-size: 11px;">
       {% if c['SHORT_TEXT'] %}
        {{c['SHORT_TEXT']}}
          {% endif %}
      </td>
   
     
    </tr>
    {% endfor %}
        </tbody>
    </table>


 {% endif %}

</div>
          </div>
          </div>
          </div>
    
      
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
  
    </div>
  </div>
</div>

      </td>

       <td style="font-size: 11px;">

<!-- Button trigger modal -->
 <div class=" col-md-2 col-md-offset-2 ">            
          <div class="form-group">
                            

                            <button id="data" type="button" style="height:30px; width:50px;align=center" class="btn btn-primary fetch" data-toggle="modal" data-target="#showData{{i}}"><font size="1.5">Data</font> </button>
</div>
</div>
      <!-- Modal -->
<div class="modal fade" id="showData{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div id="dataValue" class="modal-dialog modal-lg">
    <div  class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="text-align:center;" class="modal-title" id="createMaterialLabel" > Quantity Details </h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
              <div class="row">
              <div class="col-md-12 ">
              <div class="form-group">     
<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
                <th style="font-size: 12px;"> Quantity Raised at</th>
                <th style="font-size: 12px;">Quan issued at HOD</th>
                <th style="font-size: 12px;">Quan issued at Plant</th>
                <th style="font-size: 12px;">Quan issued at Store</th>
                </tr>
</thead>
<tbody id="showDetails">
  {% for d in e['voucher'] %}
      <tr>
     
      <td style="font-size: 11px;">
          {{d['MENGE']}}
      </td>
      <td style="font-size: 11px;"></td>
       <td style="font-size: 11px;"></td>
        <td style="font-size: 11px;"></td>
      </tr>
     {% endfor %}
</tbody>
</table>
 
</div>
          </div>
          </div>
          </div>
    
      
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
  
    </div>
  </div>
</div>
</td>
      <td style="font-size: 11px;padding-left:2px">
        {% if e['voucher'][0]['MBLNR'] %}
        {{ e['P_Datetime'] }}
        {% endif %}
      </td>
      <td style="font-size: 11px;">
        {% if e['voucher'][0]['MBLNR_FINAL'] %}
        {{ e['voucher'][0]['MBLNR_FINAL'] }}
        {% endif %}
      </td>
       <td style="font-size: 11px;">
   {% if e['pr_appliedon'] %}
        {{e['pr_appliedon'].strftime('%d-%m-%Y')}}
          {% endif %}
      </td>

    
      <td style="font-size: 11px;">
           {% if e['P_ARBPL'] %}
        {{e['P_ARBPL']}}
          {% endif %}
      </td>
              <td style="font-size: 11px;">
   {% if e['current_holder'] %}
        

        {%if e['current_holder']== "APPROVED" %}
          <font color="green"> <b> {{  e['current_holder']  }} </b> </font>
          {% elif e['current_holder']== "REJECTED" %}
          <font color="red">  <b> {{ e['current_holder'] }} </b> </font>
          {% elif e['current_holder']== "IN PROCESS" %}
          <font color="orange">  <b> {{ e['current_holder'] }} </b> </font>
          {%else%}
           {{ e['current_holder'] }}
          {% endif %}
  {% endif %}
      </td>
      <td style="font-size: 11px;">
        {% if e['functionlocation'] %}
        {{e['functionlocation']}}
         {% endif %}
         
      </td>
      <td style="font-size: 11px;">
        {% if e['equipment'] %}
        {{e['equipment']}}
         {% endif %}
         
      </td>
       <td style="font-size: 11px;">
        {% if e['wbs_element'] %}
        {{e['wbs_element']}}
       
          {% endif %}     
      </td>
      <td style="font-size: 11px;">
  {% if e['costcenter'] %}
        {{e['costcenter']}}
   
         {% endif %}
         
      </td>
      <td style="font-size: 11px;">
      {% if e['cost_activity_desc'] %}
        {{e['cost_activity_desc']}}
   
         {% endif %}
         
      </td>
       <td style="font-size: 11px;">
  {% if e['employee_name'] %}
        {{e['employee_name']}}
          {% endif %}
      </td>
      
      </tr>
{% set i=i+1 %}
{%endfor%}

 </tbody></table>
                
              

</div>

</div>                      
</div><!-- panel-body -->
</div><!-- panel -->
</div>  <!--row-->   

        
      
      

{% endblock %}    
{% block scripts %}

  <script type="text/javascript">
document.getElementById('id-22').className ="active";
    </script>
    
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $("#start_date").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#end_date").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#end_date").datepicker("option", "minDate", selectedDate);
                $("#end_date").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#end_date").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#start_date").datepicker("option", "maxDate", selectedDate);
        }
    });
});

</script>


<script type="text/javascript">

 $('#table').DataTable( {
      
      
      "bSort": false,
      "retrieve": true,
      
    } );     

</script>




 
{% endblock %}
