{% extends "base.html" %}
{% block links %}

<!-- link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet"> -->
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">


<style>
#table {table-layout:fixed;}

.modal-dialog { /* Modal Window Customize*/
    width: 60%;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -350px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}  

<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>MIV Approval</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
</div>
{% endblock %} 
{% block contentpanel %}  
<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">MIV Search</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="miv_approval" action="/pmpr/mivapproval/" method="POST" >
 
 <div class="col-md-12 ">
                  <div class="col-xs-12 col-md-4">
          <div class="form-group">
                    <label>Department</label>
                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                          <option value="select" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-4">
        <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" required>
                  </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-4">
           <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" required></div>
          </div>



        
</div>
<br>
<br>
<br>
<br>       
            
    
       
        
        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->

<div class="row">       
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">MIV Approval</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <table id="table" class="display table table-bordered table-striped" cellspacing="0"  >
                        <thead>
                            <tr>
                                <th style="font-size: 12px;">Action</th>
                                <th style="font-size: 12px;">Components</th>
                                <th style="font-size: 12px;">Portal Id</th>
                                <th style="font-size: 12px;">Reservation Number</th>
                                <th style="font-size: 12px;">Applied On</th>
                                <th style="font-size: 12px;">PR RAISED ON</th>
                                <th style="font-size: 12px;">Miv Date</th>
                                <!-- <th style="font-size: 12px;">Value</th> -->
                                <th style="font-size: 12px;">Function Location</th>
                                <th style="font-size: 12px;">Equipment</th>
                                <th style="font-size: 12px;">Cost Center</th>
                                 <th style="font-size: 12px;">Activity</th>
                                <th style="font-size: 12px;">WBS Element</th>
                                <!-- <th style="font-size: 12px;">Employee ID</th> -->
                                <th style="font-size: 12px;">Employee Name</th>  
                            </tr>
                        </thead>
                        <tbody id='body'>
                        {% set i=0 %}
                        {% for e in miv%}
                            <tr>
                                <td style="font-size: 10px;">
                                    {% if e['approval_levels']['a_status'] == 'current' %}
                                    <form action="" method="POST">
                                    <input type="hidden" value="{{ e['_id']}}" name="prid" />
                                    <input type="hidden" id="q{{i}}" name="q" />
                                    <input type="hidden" id="dateC{{i}}" name="dateC" />
                                    <div class="col-md-6  col-xs-3">
                                        <button type="submit" name="submit" class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Approve" id="agree{{i}}" value="Approve"  ><font size="1">✔</font></button>
                                    </div>
                                    <div class="col-md-6 col-xs-3">
                                        <button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Reject" id="disagree{{i}}" value="Reject"   ><font size="1">✖</font></button>
                                    </div>
                                    </form>
                                    {% elif e['approval_levels']['a_status'] == 'waiting'%}
                                    waiting for previous level of approvals
                                    {% endif %}
                                </td>
                                <td style="font-size: 10px;">
<!-- FOR SHOW BUTTON MODAL WINDOW -->
<!-- Button trigger modal -->
<div class=" col-md-2 col-md-offset-2 ">            
    <div class="form-group">
        <button id="show" type="button" style="height:30px; width:50px;align=center" class="btn btn-info " data-toggle="modal" data-target="#showTable{{i}}"><font size="1.5">Show</font> </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="showTable{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <h4 class="modal-title" id="createMaterialLabel"> Components</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                            {% if e['voucher'] %}
                            <table id="table1" class=" table table-bordered table-striped" >
                                <thead>
                                    <tr>
                                      <th style="font-size: 12px;">Material</th>
                                      <th style="font-size: 12px;">Material Desc</th>
                                      <th style="font-size: 12px;">Quantity</th>
                                      <th style="font-size: 12px;">UoM</th>
                                      <th style="font-size: 12px;">Storage location</th>
                                      <th style="font-size: 12px;">Justification</th>
                                     
                                    </tr>
                                </thead>
                                <tbody id='body1'>
                                {% set k=1 %}
                                {% for c in e['voucher'] %}
                                    <tr>
                                        <td style="font-size: 10px;">
                                            {% if c['MATNR'] %}
                                            {{c['MATNR']}}
                                            {% endif %} 
                                        </td>
                                        <td style="font-size: 10px;">
                                            {% if c['MAT_DESC'] %}
                                            {{c['MAT_DESC']}}
                                            {% endif %} 
                                        </td>
                                        <td style="font-size: 10px;">
                                         {% if e['approval_levels']['a_status'] == 'current' %}
                                            <input class="mynumber{{i}}" type="number" id="mynumber{{k}}{{i}}" min="0.1" step="0.1" max="{{c['MENGE']}}" name="materialc" value="{{c['MENGE']}}" onkeyup="return valueRestriction({{c['MENGE']}},{{k}},{{i}})" onkeypress="return numberValid(event)"/>
                                         {% else %}
                                             {{c['MENGE']}}
                                             {% endif %}
                                        </td>
                                        <td style="font-size: 10px;">
                                            {% if c['MEINS'] %}
                                            {{c['MEINS']}}
                                            {% endif %}
                                        </td>   
                                        <td style="font-size: 10px;">
                                            {% if c['LGORT'] %}
                                            {{c['LGORT']}}
                                            {% endif %}
                                        </td>
                                       <td style="font-size: 10px;">
                                            {% if c['SHORT_TEXT'] %}
                                            {{c['SHORT_TEXT']}}
                                            {% endif %}
                                        </td>
                                      
                                    </tr>
                                {% set k=k+1 %}
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn{{i}}" type="button" class="btn btn-primary"  data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
                                </td>
                                <td style="font-size: 10px;padding-left:2px">
                                    {% if e['voucher'][0]['MBLNR'] %}
                                    {{ e['P_Datetime'] }}
                                    {% endif %}
                                </td>
                                <td style="font-size: 10px">
                                    {% if e['voucher'][0]['MBLNR'] %}
                                    {{ e['voucher'][0]['MBLNR'] }}
                                    {% endif %}
                                </td>
                                <td style="font-size: 10px;">
                                    {% if e['pr_appliedon'] %}
                                    {{e['pr_appliedon'].strftime('%d-%m-%Y')}}
                                    {% endif %}
                                </td>
                                <td style="font-size: 10px;">
                                    {% if e['P_ARBPL'] %}
                                    {{e['P_ARBPL']}}
                                    {% endif %}
                                </td>
                                
                                 <td style="font-size: 10px;padding-left:0px">
                                 {% if e['P_BUDAT'] %}
                                  {% if e['approval_levels']['a_status'] == 'current' %}
                                <input id="date{{i}}" type=""  class="form-control d date{{i}}" style="height:40px; width:83px;font-size:14px;padding:4px;text-align:center" name="datenew" size="11" value="{{ e['P_BUDAT'].strftime('%d.%m.%Y')}} ">
                                 {% else %}
                                 {{e['P_BUDAT'].strftime('%d.%m.%Y')}}
                                  {% endif %}
                                    {% endif %}
                                        </td>
                                <!-- <td style="font-size: 10px;">
                                    {% if e['DMBTR'] %}
                                    {{e['DMBTR']}}
                                    {% endif %}
                                </td> -->
                                <td style="font-size: 10px;">
                                  {% if e['functionlocation'] != '' %}
                                    {{e['functionlocation']}}
                                    {% else %}
                      {{e['equip_funcloc']}}
                                    {% endif %}  
                                </td>
                                <td style="font-size: 10px;">
                                    {% if e['equipment'] %}
                                    {{e['eqp_desc']}}--
                                    {{e['equipment']}}
                                    {% endif %}  
                                </td>
                                <td style="font-size: 10px;">
                                    {% if e['costcenter']%}
                                    {{e['cost_center_desc']}}--
                                    {{e['costcenter']}}
                                    {% endif %} 
                                </td> 
                                <td style="font-size: 10px;">
                                    {% if e['cost_activity_desc']%}
                                    {{e['cost_activity_desc']}}
                                    {% endif %} 
                                </td>     
                                <td style="font-size: 10px;">
                                    {% if e['wbs_element'] %}
                                    {{e['short_desc']}}--
                                    {{e['wbs_element']}}
                                    {% endif %}  
                                </td>
                                <!-- <td style="font-size: 10px;">
                                    {% if e['employee_id'] %}
                                    {{e['employee_id']}}
                                    {% endif %}
                                </td> -->
                                <td style="font-size: 10px;">
                                    {% if e['employee_name'] %}
                                    {{e['employee_name']}}
                                    {% endif %}
                                </td>
                          </tr>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode ;
    if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
          return false;
    } else {
          return true;
    }      
}

/* FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS */
$('.quantity').bind("cut copy paste",function(e) {
    e.preventDefault();
});

/* FUNCTION DEFINED AS VALUERESTRICTION FOR CHANGING QUANTITY VALUE AND RESTRICT FOR GREATER VALUE */
function valueRestriction( value , showrow , tablerow ){
            var table1 = $("#table1 #body1");
            var tr = table1.find('tr');
            var tdr = tr.find('td');
            var numval = tdr.find('#mynumber'+showrow+''+tablerow+'').val();
            if(numval == ""){
                bootbox.alert("Please enter zero or greater value  in the Line Item "+showrow+"");
                return false;
            } else {
                if (numval > value ){
                    bootbox.alert("Please enter value less than "+value+" in Line Item "+showrow);
                    tdr.find('#mynumber'+showrow+''+tablerow+'').val(value);
                    return false;
                } else {
                    return true;
                }
            }
            
}

/*function nullRestriction(){
            var table1 = $("#table1 #body1");
            table1.find('tr').each(function (i) {
                var Line = this.rowIndex;
                var tdr = $(this).find('td');
                var numval = tdr.find('input[name="materialc"]').val();
                if(numval == ""){
                    bootbox.alert("Please enter zero or greater value  in the Line Item "+Line);
                    return false;
                } else {
                    $('#showTable{{Line}}').modal('hide');
                    return true;
                }
            });
}*/
</script>
<script>
$('#btn{{i}}').on('click',function() {
        $('#showTable{{i}}').modal('hide');
      });
</script>
<script type="text/javascript">

$(document).ready(function(){
    $('#agree{{i}}').one('click',function() {

        newData=[]
        var getQuantity=document.getElementsByClassName('mynumber{{i}}');
        for(i=0;i<getQuantity.length;i++){
            if (getQuantity[i].value=="")
            {
                bootbox.alert("Quantity cannot be blank");
                return;
            }
            newData.push(getQuantity[i].value);
        }
        document.getElementById("q{{i}}").value=newData;

newData=[]
if (document.getElementsByClassName('date{{i}}'))
{

      document.getElementById("dateC{{i}}").value=document.getElementById("date{{i}}").value;
}

$('#disagree{{i}}').attr('disabled','disabled');
$('#agree{{i}}').attr('readonly','readonly');
    }); 


    $('#disagree{{i}}').one('click',function() {

if (document.getElementsByClassName('date{{i}}'))
{

      document.getElementById("dateC{{i}}").value=document.getElementById("date{{i}}").value;
}
$('#agree{{i}}').attr('disabled','disabled');
$('#disagree{{i}}').attr('readonly','readonly');
    });

    
      $('#date{{i}}').datepicker({
              dateFormat: "dd.mm.yy",
              todayHighlight: true ,
              startDate: "-12d",
              endDate: "+0d", 
              autoclose: true
        });
});   
</script>
{% set i=i+1 %}
{%endfor%}
</tbody>
</table>
</div>                      
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->
{% endblock %}    
{% block scripts %}
<!-- <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script> -->
<script type="text/javascript">
 document.getElementById('id-19').className ="nav-parent nav-active active";
    document.getElementById("m").style.display = "block";
  document.getElementById('id-19.2').className ="active";
</script>

<!-- <script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/select2.js"></script>

<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script> -->

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<script type="text/javascript">
/*INITIALISING DATATABLES */
$(document).ready(function(){
    $('#table').DataTable( {
        
        "bSort": false,
        
    });     
});
</script>
<script type="text/javascript">

$(document).ready(function(){
  $("#start_date").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#end_date").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#end_date").datepicker("option", "minDate", selectedDate);
                $("#end_date").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#end_date").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#start_date").datepicker("option", "maxDate", selectedDate);
        }
    });
});

</script>

{% endblock %}