{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet"> 
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>PR Reports</h2>
      
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">PR Reports</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="matlist_report" action="" method="POST" >
 
 <div class="col-md-12 ">
                  <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>Department</label>
                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                          <option value="select" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>From Date</label> 
              <input id="Date1" type=""  class="form-control date" style="width:200px;" name="date1" required>
                     </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-3">
           <div class="form-group">
                    <label>To Date</label>
                  
                  <input id="Date2" type=""  class="form-control date" style="width:200px;" name="date2" >
                     </div>
          </div>



        <div class="form-group">
                  <div class="col-xs-12 col-md-3">
                    <label> Functional Loc</label>

                  </div>
                  <div class="col-xs-12 col-md-3">  
                     <input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
                  </div>
             
                  </div>
</div>
<br>
<br>
<br>
<br>



<div class="col-md-12 ">

      <div class="col-xs-12 col-md-4">
      <div class="form-group">
               <label>Equipment</label> 
              <input class="form-control equipment" id="equipment" name="equipment"  type="hidden"  value="" placeholder="Equipment">
                  <input class="form-control" id="eqp_desc" name="eqp_desc"   type="hidden"  value="" >
                     </div>
        </div>
       
        <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                  
                    <label>Cost Center</label>                   
                       
            <input class="form-control cost_center" id="cost_center" name="cost_center"  type="hidden"  value="" placeholder="Cost center">
            <input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
                    </div>
                  
                  </div>
          
        <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                  
                    <label>Asset</label>    
                   <input class="form-control assetcode" id="assetcode" name="assetcode"  type="hidden"  value="" placeholder="Asset Code" >  
                    </div>
                  
                  </div>
          
</div>
<br>
<br>
<br>
<br>

          
<div class="form-group">
 <div class="col-md-offset-4">
     ALL<input type="radio"  name="opt" id="radio_modal" value="all" checked >
     Component<input type="radio" name="opt" id="radio_modal" value="comp" >
      Service<input type="radio" name="opt" id="radio_modal" value="ser" >
     Both<input type="radio" name="opt" id="radio_modal" value="both" >
      
  </div>
</div>

        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->



      
      

{% endblock %}    
{% block scripts %}

  <script type="text/javascript">
document.getElementById('id-18.4').className ="active";
    </script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $("#Date1").datepicker({
    dateFormat: "dd.mm.yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#Date2").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#Date2").datepicker("option", "minDate", selectedDate);
                $("#Date2").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#Date2").datepicker({ 
        dateFormat: "dd.mm.yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#Date1").datepicker("option", "maxDate", selectedDate);
        }
    });
});

</script>


<script type="text/javascript">
  $(document).ready(function() {
        
$('.function_location').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/functionlocation",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
          },
          id: function(excercise){
              return excercise.functional_loc;
          },
          formatAjaxError: function(){
              return 'function location Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#function_location").val(excercise.functional_loc);
            $('#func_eqp').val(excercise.cost_center);
              return excercise.functional_loc; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  /*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
  $('.equipment').select2({
          minimumInputLength:0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/equipment",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
          },
          id: function(excercise){
              return excercise.equipment_number;
          },
          formatAjaxError: function(){
              return 'Equipment Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#equipment").val(excercise.equipment_number);
            $('#func_eqp').val(excercise.cost_center);
              return excercise.Desp_technical_object; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  /*AJAX CALL FOR COST CENTER FROM PMPR MODULE */
  $('.cost_center').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/costcenter",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
          },
          id: function(excercise){
              return excercise.cost_center;
          },
          formatAjaxError: function(){
              return 'Cost Center Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#cost_center").val(excercise.cost_center);
              return excercise.cost_center; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  $('.assetcode').select2({
            minimumInputLength: 0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/asset",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return { term: term };
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.main_asset_number+">"+excercise.asset_desc+"--"+excercise.main_asset_number+" </div>";  
            },
            id: function(excercise){
                return excercise.main_asset_number;
            },
            formatAjaxError: function(){
                return 'Asset Code Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#assetcode").val(excercise.main_asset_number);
                return excercise.asset_desc; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });
  });
</script>
{% endblock %}
