{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Pending Order Reports</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Pending Order Reports</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
<script type="text/javascript">
  document.getElementById('id-5').className ="nav-parent nav-active active";
      document.getElementById("d").style.display = "block";
document.getElementById('id-5.6').className ="active";
    </script>
      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Pending Order Reports</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form id="pendingreports" action="" method="POST">
<div class="row">
<div class="col-sm-12">
    <label class="radio-inline">
  <input type="radio" name="select_date" id="select_date1" value="1" checked> TODAY
</label>
<label class="radio-inline">
  <input type="radio" name="select_date" id="select_date2" value="2"> YESTERDAY
</label>
<label class="radio-inline">
  <input type="radio" name="select_date" id="select_date3" value="3"> TODAY + YESTERDAY
</label>

</div>
    </div><div class="row">
    <div class="col-sm-4"></br>
    <button type="button"  onclick="fetch()" class="btn btn-primary btn-block">Get Reports</button></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>   
</div>     
      </div><!-- row -->
      <div classs="row"><div classs="col-md-12" id="pending"></div></div>
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
function fetch()
{
  var f=new FormData(document.getElementById("pendingreports"));
  $.ajax({
        url: '/user/getpendingreports',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                  if (response['error'] == 'yes'){
              document.getElementById("pending").innerHTML = response['msg'];
                  }
                  else{
            var text1='<table id="eee" class="table table-bordered table-hover"><tr class="active"><th>Plant</th><th>Customer(SP) Rg Descrip</th><th>Customer(SP) Dist Descrip</th><th>Sales Doc Ty Descrip</th><th>Sales Order Number</th><th>Created Dt</th><th>Customer(SP) Code</th><th>Customer(SP) Name</th><th>Customer(SP) Destination Description</th><th>Material Code</th><th>MRP</th><th>Order Qty</th><th>Dispatch Qty</th><th>Balance Qty</th><th>Route Description</th><th>Freight Basis</th><th>Consignee Number</th><th>Consignee Name</th><th>Consignee Rg Description</th><th>Consignee Dist Description</th><th>Consignee Dest Description</th><th>Sales Rep Name</th></tr>';
            var rep =response['reports'].length;
            for (var i = 0; i < rep; i++) {
              text1+='<tr><td>'+response['reports'][i]['WERKS']+'</td><td>'+response['reports'][i]['RBEZEI']+'</td><td>'+response['reports'][i]['DBEZEI']+'</td><td>'+response['reports'][i]['BEZEI']+'</td><td>'+response['reports'][i]['VBELN']+'</td><td>'+response['reports'][i]['ERDAT']+'</td><td>'+response['reports'][i]['KUNNR']+'</td><td>'+response['reports'][i]['NAME1']+'</td><td>'+response['reports'][i]['DEBEZEI']+'</td><td>'+response['reports'][i]['MATNR']+'</td><td>'+response['reports'][i]['KBETR']+'</td><td>'+response['reports'][i]['OKWMENG']+'</td><td>'+response['reports'][i]['DKWMENG']+'</td><td>'+response['reports'][i]['BKWMENG']+'</td><td>'+response['reports'][i]['RTBEZEI']+'</td><td>'+response['reports'][i]['IBEZEI']+'</td><td>'+response['reports'][i]['KUNNR1']+'</td><td>'+response['reports'][i]['NAME2']+'</td><td>'+response['reports'][i]['REGIO_NAME']+'</td><td>'+response['reports'][i]['ZDSTRC_NAME']+'</td><td>'+response['reports'][i]['ZDEST_NAME']+'</td><td>'+response['reports'][i]['NAME3']+'</td></tr>';
            };

            text1+='</table>'
           document.getElementById("pending").innerHTML = text1;


console.log(response['reports']);


}




}

  });
    $('#eee').dataTable( {
        "scrollX": true
    } );
}



    </script>
{% endblock %}

