{% extends "base.html" %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> Pennovation</h2>
    <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>

          <li class="active">Leave Approvals</li>
        </ol>
      </div> -->
</div>
{% endblock %} {% block contentpanel %}



<style>
#submit {
    margin:0 auto;
    display:block;
}
</style>


<script>

function submitvalidation(){

    if( $('#IdeaTitle').val() == "")
    {
        swal("Idea Title is empty!", "Please add title and submit the idea")
        return false;
    }

    if( $('#IdeaDescription').val() == "")
    {
        swal("Idea Description is empty!", "Please add description and submit the idea")
        return false;
    }

    return confirm("Are you sure you want to submit? Once submitted, the Idea Submission cannot be edited");
}

</script>


<form action="" method="POST" id="PennovationMyIdeas" onsubmit="return validateForm()">
    <div class="containerx">
        <div class="tab-content">
            <h4 align="center"> Pennovation - Submit Your Ideas </h4>
            <div class="col-lg-50 well">
                Idea Title
                <input class="form-control model" id="IdeaTitle" name="IdeaTitle" style="width: 100%;height: 35px;" type="text" value="">
                <br> Idea Description
                <textarea class="form-control" id="IdeaDescription" name="IdeaDescription" placeholder="" rows="5"></textarea>
                <h6 class="pull-right" id="count_message"></h6>
                <br>
                <input style="width: 15%;height: 35px;" align="center" id="submit" type="submit" name="submit" onclick="return submitvalidation()" value="Submit" class="btn btn-primary btn-block">

            <br>
            <br>
            </div>
        </div>
    </div>
</form>
{% endblock %} 
{% block scripts %} 
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/static/css/sweetalert2.min.css">

<script type="text/javascript">
    document.getElementById('id-34').className = "nav-parent nav-active active";
    document.getElementById("q").style.display = "block";
    document.getElementById('id-34.1').className = "active";
</script>
{% endblock %}