{% extends "base.html" %}
{% block links %}


<style type="text/css">
body { font-size: 140%; }
td.details-control {
    background: url('/static/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/static/images/details_close.png') no-repeat center center;
}
.hide_column{
    display : none;
}

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
     <h2><i class="fa fa-thumbs-up"></i> Pennovation</h2>
   
    </div>
{% endblock %} 
{% block contentpanel %}    

<script>
  
/* Formatting function for row details - modify as you need */
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Idea Id:&nbsp</td>'+
            '<td>'+d.IdeaId+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Idea Title:&nbsp</td>'+
            '<td>'+d.IdeaTitle+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Idea Description:&nbsp</td>'+
            '<td>'+d.IdeaDescription+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Status:&nbsp</td>'+
            '<td>'+d.Status+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Submitted On:&nbsp</td>'+
            '<td>'+d.SubmittedOn+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Final Status:&nbsp</td>'+
            '<td>'+d.FinalEligible+'</td>'+
        '</tr>'+
    '</table>';
}
 
$(document).ready(function() {     
    // Add event listener for opening and closing details
    var table = $('#tablePennovationIdeas').DataTable( {
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "IdeaId" },
            { "data": "IdeaTitle" },
            { "data": "IdeaShortDescription" },
            { "data": "Status" },
            { "data": "SubmittedOn" },
            { "data": "FinalEligible" },
            { "data": "IdeaDescription" }
        ],
        "order": [[5, 'desc']]
    } );


    $('#tablePennovationIdeas tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );


</script>



      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Submitted Ideas & Status</h4>
           </div><!-- panel-heading -->
     
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   
          
           
              <div class="table-responsive">
<table id="tablePennovationIdeas" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th></th>
                <th>Idea ID</th>
                <th>Idea Title</th>
                <th>Idea Description</th>
                <th>Status</th>
                <th>Submitted On</th>
                <th>Final Status</th>
                <th></th>
            </tr>
        </thead>
 
        <tbody>
          {% for p in PennovationIdeas %}
            <tr>
                <td class = "details-control"></td>
                <td>{{p['IdeaId']}}</td>  
                <td>{{p['IdeaTitle']}}</td>
                <td>{{p['IdeaShortDescription']}}</td>
                <td>{{p['Status']}}</td>
                <td>{{p['SubmittedOn'].strftime('%d-%m-%Y')}}</td>
                <td align = "center">
                {% if p['FinalEligible'] == "Yes" %}
                <span id ="statusx" class="label label-success">Eligible</span>
                {% elif  p['BoardReviewCompleted'] == "No" %}
                <span id ="statusx" class="label label-warning">Pending @ BM</span>
                {% elif  p['Status'] == "Submitted" %}
                <span id ="statusx" class="label label-info">Pending @ IM</span>
                {% else %}
                 <span id ="statusx" class="label label-danger">Not Eligible</span>
                {% endif %}
               </td>
                <td class= "hide_column">{{p['IdeaDescription']}}</td>
            </tr>
          {% endfor %}

        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
{% endblock %}    
{% block scripts %}

<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<script type="text/javascript">
  document.getElementById('id-34').className ="nav-parent nav-active active";
  document.getElementById("q").style.display = "block";
  document.getElementById('id-34.2').className ="active";
</script>
{% endblock %}
