{% extends "base.html" %} {% block links %}

<style type="text/css">
    td span {
        display:block; text-align:center; margin:0 auto;
    }
    body {
        font-size: 140%;
    }
    
    td.details-control {
        background: url('/static/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    
    tr.shown td.details-control {
        background: url('/static/images/details_close.png') no-repeat center center;
    }
    
    .hide_column {
        display: none;
    }
</style>
{% endblock %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> Pennovation</h2>
</div>
{% endblock %} {% block contentpanel %}

<script>
    /* Formatting function for row details - modify as you need */
    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.IdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.InternalIdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Title:&nbsp</td>' +
            '<td>' + d.IdeaTitle + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Description:&nbsp</td>' +
            '<td>' + d.IdeaDescription + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:&nbsp</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Submitted On:&nbsp</td>' +
            '<td>' + d.SubmittedOn + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        var table = $('#tableWaitingForInnogateManagerPreliminaryReview').DataTable({
            "columns": [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            },
             {
                "data": "IdeaId"
            },
             {
                "data": "InternalIdeaId"
             }, {
                "data": "IdeaTitle"
            }, {
                "data": "IdeaShortDescription"
            }, {
                "data": "Status"
            }, {
                "data": "SubmittedOn"
            }, {
                "data": "Action"
            }, {
                "data": "IdeaDescription"
            }],
            "order": [
                [7, 'desc']
            ]
        });

        $('#tableWaitingForInnogateManagerPreliminaryReview tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>

<script>
$(document).on("click", ".open-SubmitScoresDialog", function () {
     $("#ModalInternalIdeaId").val( $(this).data('internalid'));
     $("#ModalIdeaTitle").val( $(this).data('title')); 
     $("#ModalIdeaDescription").val( $(this).data('description')); 
     $("#ModalIdeaDescription").prop('title', 'your new title');
     $("#NoveltyScore").val(""); 
     $("#OriginalityScore").val(""); 
     $("#RelevanceScore").val(""); 
     $("#ImplementableScore").val(""); 
     $("#CommercialScore").val(""); 

});
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>
    function callpennovationapi(IdeaId,ChangeType){
        var data = {"IdeaId":IdeaId,"ChangeType":ChangeType};
        $.ajax({
            contentType: 'application/json',
            url: '/pennovation/pennovationupdates/',
            data: JSON.stringify(data),
            type: 'POST',
            success: function(response) {
/*                alert(response+"ok");
                alert(IdeaId);*/
/*              $("#submitMoveToBoard-"+IdeaId).attr("disabled","disabled");
                $("#submitRejectedByIM-"+IdeaId).attr("disabled","disabled");*/
                $("#submitMoveToBoard-"+IdeaId).hide();
                $("#submitRejectedByIM-"+IdeaId).hide();
                if(ChangeType == "MoveToBoard"){
                    $("#textSentToBoard-"+IdeaId).show(); 
                    $("#textSentToBoard-"+IdeaId).css("fontSize","16px");
                }
                if(ChangeType == "RejectedByIM"){
                    $("#textRejected-"+IdeaId).show();
                    $("#textRejected-"+IdeaId).css("fontSize","16px");
                }
            },
            error: function(error) {
                alert(error+"Error");
            }
        });
    }


</script>

<script>
    $(document).ready(function() {
        $( "#employeeInformation" ).trigger( "click" );
    });
</script>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Submit Scores
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form action="" method="POST" id="PennovationBoardMemberForm" onsubmit="return validateForm()">

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Idea ID</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control model" id="ModalInternalIdeaId" name="ModalInternalIdeaId" style="width: 100%;height: 35px;" value="" >
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Idea Title</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control model" id="ModalIdeaTitle" name="ModalIdeaTitle" style="width: 100%;height: 35px;" value="" >
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Idea Description</label>
                    <div class="col-sm-10">
                        <TEXTAREA readonly class="form-control model" style="width: 100%;" id="ModalIdeaDescription" 
                        name="ModalIdeaDescription" COLS=20 ROWS=1></TEXTAREA>
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Novelty Score</label>
                    <div class="col-sm-10">
                        <input class="form-control model Weightage" required id="NoveltyScore" name="NoveltyScore" style="width: 100%;height: 35px;" type="number" min =1 max=10 step=0.5 value="" placeholder="1-10 scale">
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Originality Score</label>
                    <div class="col-sm-10">
                        <input class="form-control model Weightage" required id="OriginalityScore" name="OriginalityScore" style="width: 100%;height: 35px;" type="number" min =1 max=10 step=0.5 value="" placeholder="1-10 scale">
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Relevance Score</label>
                    <div class="col-sm-10">
                        <input class="form-control model Weightage" required id="RelevanceScore" name="RelevanceScore" style="width: 100%;height: 35px;" type="number" min =1 max=10 step=0.5 value="" placeholder="1-10 scale">
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Implementable Score</label>
                    <div class="col-sm-10">
                        <input class="form-control model Weightage" required id="ImplementableScore" name="ImplementableScore" style="width: 100%;height: 35px;" type="number" min =1 max=10 step=0.5 value="" placeholder="1-10 scale">
                    </div>
                  </div>

                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Commercial Score</label>
                    <div class="col-sm-10">
                        <input class="form-control model Weightage" required id="CommercialScore" name="CommercialScore" style="width: 100%;height: 35px;" type="number" min =1 max=10 step=0.5 value="" placeholder="1-10 scale">
                    </div>
                  </div>  

                 <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Submit</button>
                      <button align = "center" type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                    </div>
                  </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<div class="tab-content">

    <div class="tab-pane active" id="home3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a id = "employeeInformation" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne"> Ideas - Waiting for Board Member Action - Submit Scores</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="table-responsive">
<table id="tableWaitingForInnogateManagerPreliminaryReview" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th></th>
                <th class= "hide_column">Idea ID</th>
                <th>Idea ID</th>
                <th>Idea Title</th>
                <th>Idea Description</th>
                <th>Status</th>
                <th>Submitted On</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
 
        <tbody>
          {% for p in WaitingForBoardMemberReview %}
            <tr>
                <td class = "details-control"></td>
                <td class= "hide_column">XXXXXX</td>
                <td>{{p['InternalIdeaId']}}</td> 
                <td>{{p['IdeaTitle']}}</td>
                <td>{{p['IdeaShortDescription']}}</td>
                <td>{{p['Status']}}</td>
                <td>{{p['SubmittedOn'].strftime('%d-%m-%Y')}}</td>
                <td align = "center">
                    <a data-toggle="modal" data-description = "{{p['IdeaDescription']}}" data-title = "{{p['IdeaTitle']}}" data-internalid="{{p['InternalIdeaId']}}" title="Submit Scores" class="open-SubmitScoresDialog btn btn-primary" href="#myModalHorizontal">Submit Scores</a>
                </td>
                <td class= "hide_column">{{p['IdeaDescription']}}</td>
            </tr>
          {% endfor %}
        </tbody>

    </table>
              </div>

                    </div>
                </div>
            </div>

<!--             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> Ideas - Scores Given By Board Member </a>
                      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">

                        Sample 2
                    
                    </div>
                </div>
            </div> -->
        </div>
     </div>
</div>

 {% endblock %}
 {% block scripts %} 
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
    document.getElementById('id-34').className = "nav-parent nav-active active";
    document.getElementById("q").style.display = "block";
    document.getElementById('id-34.4').className = "active";
</script>
{% endblock %}