{% extends "base.html" %} {% block links %}



<style type="text/css">
	td span	{
		display:block; text-align:center; margin:0 auto;
	}
    body {
        font-size: 140%;
    }
    
    td.details-control {
        background: url('/static/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    
    tr.shown td.details-control {
        background: url('/static/images/details_close.png') no-repeat center center;
    }
    
    .hide_column {
        display: none;
    }
</style>
{% endblock %} {% block pageheader %}
<div class="pageheader">
    <h2><i class="fa fa-thumbs-up"></i> Pennovation</h2>
</div>
{% endblock %} {% block contentpanel %}

<script>
    /* Formatting function for row details - modify as you need */
    function formatWaitingForInnogateManagerPreliminaryReview(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.IdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Internal Idea Id:&nbsp</td>' +
            '<td>' + d.InternalIdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Title:&nbsp</td>' +
            '<td>' + d.IdeaTitle + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Description:&nbsp</td>' +
            '<td>' + d.IdeaDescription + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:&nbsp</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Submitted On:&nbsp</td>' +
            '<td>' + d.SubmittedOn + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        var tableWaitingForInnogateManagerPreliminaryReview = $('#tableWaitingForInnogateManagerPreliminaryReview').DataTable({
            "columns": [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            }, {
                "data": "IdeaId"
            }, {
                "data": "InternalIdeaId"
             }, {
                "data": "IdeaTitle"
            }, {
                "data": "IdeaShortDescription"
            }, {
                "data": "Status"
            }, {
                "data": "SubmittedOn"
            }, {
                "data": "Action"
            }, {
                "data": "IdeaDescription"
            }],
            "order": [
                [7, 'desc']
            ]
        });

        $('#tableWaitingForInnogateManagerPreliminaryReview tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = tableWaitingForInnogateManagerPreliminaryReview.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(formatWaitingForInnogateManagerPreliminaryReview(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>


<script>
    /* Formatting function for row details - modify as you need */
    function formatRejectedByInnogateManagerPreliminaryReview(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.IdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Internal Idea Id:&nbsp</td>' +
            '<td>' + d.InternalIdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Title:&nbsp</td>' +
            '<td>' + d.IdeaTitle + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Description:&nbsp</td>' +
            '<td>' + d.IdeaDescription + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:&nbsp</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Submitted On:&nbsp</td>' +
            '<td>' + d.SubmittedOn + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        var tableRejectedByInnogateManagerPreliminaryReview = $('#tableRejectedByInnogateManagerPreliminaryReview').DataTable({
            "columns": [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            }, {
                "data": "IdeaId"
            }, {
                "data": "InternalIdeaId"
             }, {
                "data": "IdeaTitle"
            }, {
                "data": "IdeaShortDescription"
            }, {
                "data": "Status"
            }, {
                "data": "SubmittedOn"
            }, {
                "data": "Action"
            }, {
                "data": "IdeaDescription"
            }],
            "order": [
                [7, 'desc']
            ]
        });

        $('#tableRejectedByInnogateManagerPreliminaryReview tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = tableRejectedByInnogateManagerPreliminaryReview.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(formatRejectedByInnogateManagerPreliminaryReview(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>

<script>
    /* Formatting function for row details - modify as you need */
    function formatWaitingForBoardMembersAction(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.IdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Internal Idea Id:&nbsp</td>' +
            '<td>' + d.InternalIdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Title:&nbsp</td>' +
            '<td>' + d.IdeaTitle + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Description:&nbsp</td>' +
            '<td>' + d.IdeaDescription + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:&nbsp</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Submitted On:&nbsp</td>' +
            '<td>' + d.SubmittedOn + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        var tableWaitingForBoardMembersAction = $('#tableWaitingForBoardMembersAction').DataTable({
            "columns": [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            }, {
                "data": "IdeaId"
            }, {
                "data": "InternalIdeaId"
             }, {
                "data": "IdeaTitle"
            }, {
                "data": "IdeaShortDescription"
            }, {
                "data": "Status"
            }, {
                "data": "SubmittedOn"
            }, {
                "data": "Action"
            }, {
                "data": "IdeaDescription"
            }],
            "order": [
                [7, 'desc']
            ]
        });

        $('#tableWaitingForBoardMembersAction tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = tableWaitingForBoardMembersAction.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(formatWaitingForBoardMembersAction(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>

<script>
    /* Formatting function for row details - modify as you need */
    function formatBoardReviewCompleted(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.IdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Internal Idea Id:&nbsp</td>' +
            '<td>' + d.InternalIdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Title:&nbsp</td>' +
            '<td>' + d.IdeaTitle + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Description:&nbsp</td>' +
            '<td>' + d.IdeaDescription + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:&nbsp</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Eligibility:&nbsp</td>' +
            '<td>' + d.Eligibility + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        var tableBoardReviewCompleted = $('#tableBoardReviewCompleted').DataTable({
            "columns": [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            }, {
                "data": "IdeaId"
            }, {
                "data": "InternalIdeaId"
             }, {
                "data": "IdeaTitle"
            }, {
                "data": "IdeaShortDescription"
            }, {
                "data": "Status"
            }, {
                "data": "TotalScoresSubmittedByBoardMember-{{BoardMemberList[0]['BoardMemberId']}}"
            }, {
                "data": "TotalScoresSubmittedByBoardMember-{{BoardMemberList[1]['BoardMemberId']}}"
            }, {
                "data": "TotalScoresSubmittedByBoardMember-{{BoardMemberList[2]['BoardMemberId']}}"
            }, {
                "data": "FinalTotalScore"
            }, {
                "data": "FinalAverageScorePercentage"
            }, {
                "data": "Eligibility"
            }, {
                "data": "IdeaDescription"
            }],
            "order": [
                [10, 'desc']
            ]
        });

        $('#tableBoardReviewCompleted tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = tableBoardReviewCompleted.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(formatBoardReviewCompleted(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>


<script>
    /* Formatting function for row details - modify as you need */
    function formatBoardReviewCompletedNotEligible(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Idea Id:&nbsp</td>' +
            '<td>' + d.IdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Internal Idea Id:&nbsp</td>' +
            '<td>' + d.InternalIdeaId + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Title:&nbsp</td>' +
            '<td>' + d.IdeaTitle + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Idea Description:&nbsp</td>' +
            '<td>' + d.IdeaDescription + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:&nbsp</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Eligibility:&nbsp</td>' +
            '<td>' + d.Eligibility + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        var tableBoardReviewCompletedNotEligible = $('#tableBoardReviewCompletedNotEligible').DataTable({
            "columns": [{
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            }, {
                "data": "IdeaId"
            }, {
                "data": "InternalIdeaId"
             }, {
                "data": "IdeaTitle"
            }, {
                "data": "IdeaShortDescription"
            }, {
                "data": "Status"
            }, {
                "data": "TotalScoresSubmittedByBoardMember-{{BoardMemberList[0]['BoardMemberId']}}"
            }, {
                "data": "TotalScoresSubmittedByBoardMember-{{BoardMemberList[1]['BoardMemberId']}}"
            }, {
                "data": "TotalScoresSubmittedByBoardMember-{{BoardMemberList[2]['BoardMemberId']}}"
            }, {
                "data": "FinalTotalScore"
            }, {
                "data": "FinalAverageScorePercentage"
            }, {
                "data": "Eligibility"
            }, {
                "data": "IdeaDescription"
            }],
            "order": [
                [10, 'desc']
            ]
        });

        $('#tableBoardReviewCompletedNotEligible tbody').on('click', 'td.details-control', function() {
            var tr = $(this).closest('tr');
            var row = tableBoardReviewCompletedNotEligible.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(formatBoardReviewCompletedNotEligible(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>


<script>
	function callpennovationapi(IdeaId,ChangeType){
		
		
		var x='';
		if( ChangeType == 'MoveToBoard')
		{
			var r=confirm("Are you Sure,you want to sent to the Board!");
			
			if(r == true)
			{
				x='B';
			}
			else{
				return false;
			}

		}
		else
		{
			var r=confirm("Are you Sure,you want to Reject!");
			
			if(r == true)
			{
				x='R';
			}
			else{
				return false;
			}
		}
			
			if(x == 'B' || x == 'R')
			{
				
				var data = {"IdeaId":IdeaId,"ChangeType":ChangeType};
				$.ajax({
					contentType: 'application/json',
		            url: '/pennovation/pennovationupdates/',
		            data: JSON.stringify(data),
		            type: 'POST',
		            success: function(response) {
		/*                alert(response+"ok");
		                alert(IdeaId);*/
		/*	            $("#submitMoveToBoard-"+IdeaId).attr("disabled","disabled");
		                $("#submitRejectedByIM-"+IdeaId).attr("disabled","disabled");*/
		                $("#submitMoveToBoard-"+IdeaId).hide();
		                $("#submitRejectedByIM-"+IdeaId).hide();
		                if(ChangeType == "MoveToBoard"){
		                	$("#textSentToBoard-"+IdeaId).show(); 
		                	$("#textSentToBoard-"+IdeaId).css("fontSize","16px");
		                }
		                if(ChangeType == "RejectedByIM"){
		                	$("#textRejected-"+IdeaId).show();
		                	$("#textRejected-"+IdeaId).css("fontSize","16px");
		                }
		            },
		            error: function(error) {
		                alert(error+"Error");
		            }
		        });
		     }
		     else
		     {
		     	
		     	return false;
		     }
	
}
</script>


<div class="tab-content">

    <div class="tab-pane active" id="home3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a id = "employeeInformation" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne"> Ideas - Waiting for Innogate Manager Action (Preliminary Review)</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">

                        <div class="table-responsive">
<table id="tableWaitingForInnogateManagerPreliminaryReview" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th></th>
                <th>Idea ID</th>
                <th>Internal Idea ID</th>
                <th>Idea Title</th>
                <th>Idea Description</th>
                <th>Status</th>
                <th>Submitted On</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
 
        <tbody>
          {% for p in WaitingForInnogateManagerPreliminaryReview %}
            <tr>
                <td class = "details-control"></td>
                <td>{{p['IdeaId']}}</td>
                <td>{{p['InternalIdeaId']}}</td> 
                <td>{{p['IdeaTitle']}}</td>
                <td>{{p['IdeaShortDescription']}}</td>
                <td>{{p['Status']}}</td>
                <td>{{p['SubmittedOn'].strftime('%d-%m-%Y')}}</td>
                <td align = "center">
                	<input id="submitMoveToBoard-{{p['IdeaId']}}" type="submit"  name="submit" onclick="callpennovationapi('{{p['IdeaId']}}','MoveToBoard')"  value="Send To Board" class="btn btn-primary btn-block">
                    <input id="submitRejectedByIM-{{p['IdeaId']}}" type="submit"  name="submit" onclick="callpennovationapi('{{p['IdeaId']}}','RejectedByIM')"  value="Reject" class="btn btn-primary btn-block">
                    <span id ="textSentToBoard-{{p['IdeaId']}}" class="label label-success" style="display:none">Sent To Board</span>
                    <span id ="textRejected-{{p['IdeaId']}}" class="label label-danger" style="display:none">Rejected by IM</span>
                </td>
                <td class= "hide_column">{{p['IdeaDescription']}}</td>
            </tr>
          {% endfor %}
        </tbody>

    </table>
              </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> Ideas - Waiting for Board Members Action </a>
                      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">

                        <div class="table-responsive">
<table id="tableWaitingForBoardMembersAction" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th></th>
                <th>Idea ID</th>
                <th>Internal Idea ID</th>
                <th>Idea Title</th>
                <th>Idea Description</th>
                <th>Status</th>
                <th>Submitted On</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
 
        <tbody>
          {% for p in WaitingForBoardMembersAction %}
            <tr>
                <td class = "details-control"></td>
                <td>{{p['IdeaId']}}</td>
                <td>{{p['InternalIdeaId']}}</td> 
                <td>{{p['IdeaTitle']}}</td>
                <td>{{p['IdeaShortDescription']}}</td>
                <td>{{p['Status']}}</td>
                <td>{{p['SubmittedOn']}}</td>
                <td align = "center">
                {% if p['ScoresSubmittedByBoardMember-'~BoardMemberList[0]['BoardMemberId']] == "Yes" %}
                <span id ="statusx" class="label label-success">Submitted By {{BoardMemberList[0]['BoardMemberId'] }}</span>
                {% else %}
                <span id ="statusx" class="label label-danger">Pending With {{BoardMemberList[0]['BoardMemberId'] }}</span>
                {% endif %}
                <br>
                <br>
                {% if p['ScoresSubmittedByBoardMember-'~BoardMemberList[1]['BoardMemberId']] == "Yes" %}
                <span id ="statusx" class="label label-success">Submitted By {{BoardMemberList[1]['BoardMemberId'] }}</span>
                {% else %}
                <span id ="statusx" class="label label-danger">Pending With {{BoardMemberList[1]['BoardMemberId'] }}</span>
                {% endif %}
                <br>
                <br>
                {% if p['ScoresSubmittedByBoardMember-'~BoardMemberList[2]['BoardMemberId']] == "Yes" %}
                <span id ="statusx" class="label label-success">Submitted By {{BoardMemberList[2]['BoardMemberId'] }}</span>
                {% else %}
                <span id ="statusx" class="label label-danger">Pending With {{BoardMemberList[2]['BoardMemberId'] }}</span>
                {% endif %}

               </td>
                <td class= "hide_column">{{p['IdeaDescription']}}</td>
            </tr>
          {% endfor %}
        </tbody>

    </table>
              </div>
                    
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree"> Ideas - Board Review Completed & Eligible</a>
                      </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">

                                                <div class="table-responsive">
<table id="tableBoardReviewCompleted" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th></th>
                <th>Idea ID</th>
                <th>Internal Idea ID</th>
                <th>Idea Title</th>
                <th>Idea Description</th>
                <th>Status</th>
                <th>Score By {{BoardMemberList[0]['BoardMemberId']}}</th>
                <th>Score By {{BoardMemberList[1]['BoardMemberId']}}</th>
                <th>Score By {{BoardMemberList[2]['BoardMemberId']}}</th>
                <th>Total Score</th>
                <th>Average Score %</th>
                <th>Eligibility</th>
                <th></th>
            </tr>
        </thead>
 
        <tbody>
          {% for p in BoardReviewCompleted %}
            <tr>
                <td></td>
                <td>{{p['IdeaId']}}</td>
                <td>{{p['InternalIdeaId']}}</td> 
                <td>{{p['IdeaTitle']}}</td>
                <td>{{p['IdeaShortDescription']}}</td>
                <td>{{p['Status']}}</td>
                <td>{{p['TotalScoresSubmittedByBoardMember-'~BoardMemberList[0]['BoardMemberId']]}}</td>
                <td>{{p['TotalScoresSubmittedByBoardMember-'~BoardMemberList[1]['BoardMemberId']]}}</td>
                <td>{{p['TotalScoresSubmittedByBoardMember-'~BoardMemberList[2]['BoardMemberId']]}}</td>
                <td>{{p['FinalTotalScore']}}</td>
                <td>{{p['FinalAverageScorePercentage']}}</td>
                <td align = "center">
                {% if p['FinalEligible'] == "Yes" %}
                <span id ="statusx" class="label label-success">Eligible</span>
                {% else %}
                <span id ="statusx" class="label label-danger">Not Eligible</span>
                {% endif %}
               </td>
                <td class= "hide_column">{{p['IdeaDescription']}}</td>
            </tr>
          {% endfor %}
        </tbody>

    </table>
              </div>
                    
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour"> Ideas - Board Review Completed & Not Eligible</a>
                      </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">

                        <div class="table-responsive">
                                <table id="tableBoardReviewCompletedNotEligible" class="display table table-bordered table-striped" cellspacing="0" >
                                <thead>
                                    <tr>
                                        <th ></th>
                                        <th>Idea ID</th>
                                        <th>Internal Idea ID</th>
                                        <th>Idea Title</th>
                                        <th>Idea Description</th>
                                        <th>Status</th>
                                        <th>Score By {{BoardMemberList[0]['BoardMemberId']}}</th>
                                        <th>Score By {{BoardMemberList[1]['BoardMemberId']}}</th>
                                        <th>Score By {{BoardMemberList[2]['BoardMemberId']}}</th>
                                        <th>Total Score</th>
                                        <th>Average Score %</th>
                                        <th>Eligibility</th>
                                        <th></th>
                                    </tr>
                                </thead>
                         
                                <tbody>
                                  {% for p in BoardReviewCompletedNotEligible %}
                                    <tr>
                                        <td></td>
                                        <td>{{p['IdeaId']}}</td>
                                        <td>{{p['InternalIdeaId']}}</td> 
                                        <td>{{p['IdeaTitle']}}</td>
                                        <td>{{p['IdeaShortDescription']}}</td>
                                        <td>{{p['Status']}}</td>
                                        <td>{{p['TotalScoresSubmittedByBoardMember-'~BoardMemberList[0]['BoardMemberId']]}}</td>
                                        <td>{{p['TotalScoresSubmittedByBoardMember-'~BoardMemberList[1]['BoardMemberId']]}}</td>
                                        <td>{{p['TotalScoresSubmittedByBoardMember-'~BoardMemberList[2]['BoardMemberId']]}}</td>
                                        <td>{{p['FinalTotalScore']}}</td>
                                        <td>{{p['FinalAverageScorePercentage']}}</td>
                                        <td align = "center">
                                        {% if p['FinalEligible'] == "Yes" %}
                                        <span id ="statusx" class="label label-success">Eligible</span>
                                        {% else %}
                                        <span id ="statusx" class="label label-danger">Not Eligible</span>
                                        {% endif %}
                                       </td>
                                        <td class= "hide_column">{{p['IdeaDescription']}}</td>
                                    </tr>
                                  {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    
                    </div>
                </div>
            </div>




            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive"> Ideas - Rejected By Innogate Manager </a>
                      </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body" style="overflow-x:scroll">
                     
                        <div class="table-responsive">
            <table id="tableRejectedByInnogateManagerPreliminaryReview" class="display table table-bordered table-striped" 
            cellspacing="0" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>Idea ID</th>
                            <th>Internal Idea ID</th>
                            <th>Idea Title</th>
                            <th>Idea Description</th>
                            <th>Status</th>
                            <th>Submitted On</th>
                            <th>Rejected On</th>
                            <th></th>
                        </tr>
                    </thead>
             
                    <tbody>
                      {% for p in RejectedByInnogateManagerPreliminaryReview %}
                        <tr>
                            <td class = "details-control"></td>
                            <td>{{p['IdeaId']}}</td>
                            <td>{{p['InternalIdeaId']}}</td> 
                            <td>{{p['IdeaTitle']}}</td>
                            <td>{{p['IdeaShortDescription']}}</td>
                            <td>{{p['Status']}}</td>
                            <td>{{p['SubmittedOn']}}</td>
                            <td>{{p['RejectedByIMOn']}}</td>
                            <td class= "hide_column">{{p['IdeaDescription']}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>

                </table>
              </div>

                    
                    </div>
                </div>
            </div>

        </div>
     </div>
</div>


{% endblock %}
{% block scripts %}
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
    document.getElementById('id-34').className = "nav-parent nav-active active";
    document.getElementById("q").style.display = "block";
    document.getElementById('id-34.3').className = "active";
</script>

 {% endblock %}