{% extends "base.html" %}
{% block pageheader %}  
    <div class="pageheader">
      <h2><i class="fa fa-align-right fa-rotate-90"></i> Performance</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Performance</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Performances </h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
              <div id="basicflot" style="width: 100%; height: 300px"></div>
            
            
           
            
           
              
        </div><!-- panel-body -->
      </div><!-- panel -->
      

      

{% endblock %}    
{% block scripts %}
<script src="js/charts.js"></script>
<script type="text/javascript">
document.getElementById('id-5').className ="active";
</script>
{% endblock %} 
