{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <!-- <h2><i class="fa fa-pencil"></i> PM Order</h2>
      	<div class="breadcrumb-wrapper">
        	<span class="label">You are here:</span>
       		<ol class="breadcrumb">         
          	<li class="active">PM Order</li>
        	</ol>
      	</div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
    <div class="col-md-12">
  	  	<div class="panel panel-default">
	        <div class="panel-heading">
	          <div class="panel-btns">
	            <a href="#" class="panel-close">&times;</a>
	            <a href="#" class="minimize">&minus;</a>
	          </div><!-- panel-btns -->
	         <!--  <h4 class="panel-title">PM Order</h4> -->
	        </div><!-- panel-heading -->


		<div class="panel-body">
			<div class="form-group">               
				<div class="form-group">  
					<div class="col-md-offset-4" >
						<form id="" action="" method="POST" >
							
							<div class="form-group form-inline">
							  	<label>Plant </label> 
							    <select class="form-control" id="plant" name="plant" style="width:200px" required>
							          	{% if plant %}
							          	{% for p in plant %}
							            <option value="{{ p }}">{{ p }}</option>
					                    {% endfor %}
							            {% endif %}
							    </select>                         
							</div>
							<div class="form-group form-inline">
							<label>Miv Approval levels</label><br>
								<input type="checkbox" name="level" value="1" checked>HOD &nbsp;
								<input type="checkbox" name="level" value="2">Plant Head &nbsp;
								<input type="checkbox" name="level" value="3">Store Head &nbsp;
	                         
							</div>
							<div class="col-md-3">
							<input id="submit" type="submit"  value="Submit" class="btn btn-primary btn-block">
                 </div>
                     </form>
                     </div>
				</div>
			</div>

 			


			      
		</div><!-- panel-body -->
       	</div><!-- panel --> 
    </div>      
</div><!-- row -->


{% endblock %}  
{% block scripts %}



<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>




{% endblock %}

