{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
.datepicker{z-index:1151 !important;}
</style>
<style>
#table{table-layout:fixed;}

.modal .modal-dialog { width: 90%; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
        <h2><i class="fa fa-pencil"></i>PR Approval</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">   
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">PR Approval</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <table id="table" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0" border="0" >
                        <thead>
                            <tr>
                                <th>Reference ID</th>
                                <th>Action</th>
                                <th>Components/Services</th>
                                <th>Applied On</th>
                                <th>PR RAISED ON</th>
                                <th>Function Location</th>
                                <th>Equipment</th>
                                <th>Cost Center</th>
                                <th>WBS Element</th>
                                <th>Asset Number</th>
                                <th>Employee Name</th>               
                            </tr>
                        </thead>
                        <tbody id='body'>
                        {% set i=1 %} 
                        {% for e in pr%}  
                            <tr>
                                <td>
                                    {% if e['P_Datetime'] %}
                                    {{e['P_Datetime']}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if e['approval_levels']['a_status'] == 'current' %}
                                    <form action="" method="POST" onsubmit="return agree({{i}})">          
                                        <input type="hidden" value="{{ e['_id']}}" name="prid" />
                                        <input type="hidden" id="qC{{i}}" name="qC" />

                                        <input type="hidden" id="desS{{i}}" name="desS" />
                                        <input type="hidden" id="uS{{i}}" name="unitS" />
                                        <input type="hidden" id="dS{{i}}" name="dateS" />

                                        <input type="hidden" id="qS{{i}}" name="qS" />
                                         <input type="hidden" id="proC{{i}}" name="proC">
                                        <input type="hidden" id="proS{{i}}" name="proS">
                                        <input type="hidden" id="specC{{i}}" name="specC" />
                                        <input type="hidden" id="justifyC{{i}}" name="justifyC" />
                                        <input type="hidden" id="dateC{{i}}" name="dateC" />
                                        <input type="hidden" id="unitC{{i}}" name="unitC" />

                                        <div class="col-md-6  col-xs-3">
                                         <button type="submit" name="submit" class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top"data-original-title="Approve" id="agree{{i}}" value="Approve"  ><font size="1">✔</font></button>
                                        </div>
                                        <div class="col-md-6 col-xs-3">
                                        <button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Reject" id="disagree" value="Reject"   ><font size="1">✖</font></button>
                                        </div>
                                        {% elif e['approval_levels']['a_status'] == 'waiting'%}
                                        waiting for previous level of approvals
                                        {% endif %}
                                        </form>
                                </td>

                                <td>
<!-- SHOW BUTTON MODAL WINDOW  -->
<!-- Button trigger modal -->
<div class=" col-md-2 col-md-offset-2 ">            
      <div class="form-group">
          <button id="show" type="button" class="btn btn-info " data-toggle="modal" data-target="#showTable{{i}}"> Show </button>
      </div>
</div>
<!-- Modal -->
<div class="modal fade" id="showTable{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createMaterialLabel"> Components/Services</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <table id="tableC{{i}}" class=" table table-bordered table-striped" >
                                {%if e['component'] %}
                                    <thead>
                                        <tr>
                                            <th> Material Desc</th>
                                            <th>Quantity</th>
                                            <th>UoM</th>
                                            <th>Unit Value</th>
                                            <th>Delivery Date</th>
                                            <th>Justification</th>
                                            <th>PO Header Text</th>
                                            <th>Specification</th>
                                            <th>Procured at(plant or HO)</th>
                                             <th>Short Text</th>
                                            <th>Attachments</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id='bodyC{{i}}'>
                                    {% set j=0 %} 
                                    {% for c in e['component'] %}
                                    {% if 'disable' not in c %}
                                        <tr>
                                          <td>
                                              {% if c['MAT_DESC'] %}
                                              {{c['MAT_DESC']}}
                                              {% endif %} 
                                          </td>
                                          <td>
                                              {% if c['MENGE'] %}
                                              <input class="quantity mynumberC{{i}}" type="number" min="0.1" step="0.1" max="{{c['MENGE']}}" id="mynumberC{{i}}" name="quantitynew" value="{{c['MENGE']}}" onkeypress="return numberValid(event)"/>
                                              {% endif %} 
                                          </td>
                                          <td>
                                              {% if c['MEINS'] %}
                                              {{c['MEINS']}}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['VERPR'] %}
                                               <input id="unit{{i}}" type="number"  class="form-control unit{{i}}" min="0" step="0.1" name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{c['VERPR']}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['EEIND'] %}
                                              <input id="date{{i}}" type=""  class="form-control d date{{i}}" name="datenew" size="11" value="{{c['EEIND'].strftime('%d.%m.%Y')}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['JUSTI'] %}
                                               <input class="justify justify{{i}}"  id="justify{{i}}" name="justifynew" value="{{c['JUSTI']}}"/>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['POHEAD'] %}
                                             {{c['POHEAD']}}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['SPEC'] %}
                                              <input class="specify specify{{i}}"  id="specify{{i}}" name="specifynew" value="{{c['SPEC']}}"/>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['PROD'] %}
                                                <select size="1" id="procured{{i}}" class="form-control procured{{i}}" name="newprocured">
                          {% if c['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                            {% endif %}
                          </select>
                                              
                                              {% endif %}
                                          </td>
                                           <td>
                                              {% if c['SHORT_TEXT'] %}
                                              {{c['SHORT_TEXT']}}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['file']%}           
                                              <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                                              {% endif %}
                                          </td>
                                          <td>
                                          {% if e['approval_levels']['a_status'] == 'current' %}
                                              <button type="button" name="delete" class="btn btn-danger deleteC{{i}} btn-xs tooltips"   id="{{j}}" ><font size="1">✖</font></button>
                                               {% endif %}
                                          </td>
                                        </tr>
                                        {%else%}
                                        <tr style="display:none">
                                           <td>
                                              {% if c['MAT_DESC'] %}
                                              {{c['MAT_DESC']}}
                                              {% endif %} 
                                          </td>
                                          <td>
                                              {% if c['MENGE'] %}
                                              <input class="quantity mynumberC{{i}}" type="number" min="0.1" step="0.1" max="{{c['MENGE']}}" id="mynumberC{{i}}" name="quantitynew" value="{{c['MENGE']}}" onkeypress="return numberValid(event)"/>
                                              {% endif %} 
                                          </td>
                                          <td>
                                              {% if c['MEINS'] %}
                                              {{c['MEINS']}}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['VERPR'] %}
                                               <input id="unit{{i}}" type="number"  class="form-control unit{{i}}" min="0" step="0.1" name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{c['VERPR']}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['EEIND'] %}
                                              <input id="date{{i}}" type=""  class="form-control d date{{i}}" name="datenew" size="11" value="{{c['EEIND'].strftime('%d.%m.%Y')}}">
                                              
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['JUSTI'] %}
                                               <input class="justify justify{{i}}"  id="justify{{i}}" name="justifynew" value="{{c['JUSTI']}}"/>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['POHEAD'] %}
                                             {{c['POHEAD']}}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['SPEC'] %}
                                              <input class="specify specify{{i}}"  id="specify{{i}}" name="specifynew" value="{{c['SPEC']}}"/>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['PROD'] %}
                                                <select size="1" id="procured{{i}}" class="form-control procured{{i}}" name="newprocured">
                          {% if c['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                            {% endif %}
                          </select>
                                              
                                              {% endif %}
                                          </td>
                                           <td>
                                              {% if c['SHORT_TEXT'] %}
                                              {{c['SHORT_TEXT']}}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if c['file']%}           
                                              <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                                              {% endif %}
                                          </td>
                                          <td>
                                          {% if e['approval_levels']['a_status'] == 'current' %}
                                              <button type="button" name="delete" class="btn btn-danger deleteC{{i}} btn-xs tooltips"   id="{{j}}" ><font size="1">✖</font></button>
                                               {% endif %}
                                          </td>
                                        </tr>

                                        {%endif%}
                                    {% set j=j+1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {%endif%}
                            </div>
                            <div class="form-group">
                            {% if e['service']  %}
							<table id="tableS{{i}}" class="table table-bordered table-striped" >
 								<thead>
            						<tr>
						                <th>Service Description</th>
						                <th>Quantity</th>
						                <th>UoM</th>
    									<th>Unit Value</th>
    									<th>Delivery Date</th>
 										<th>Procured at(plant or HO)</th>
									    <th>Attachments</th>
									    <th>Action</th>
            						</tr>
        						</thead>
        						<tbody id="bodyS{{i}}">
								{% set k=0 %}    
								{% for s in e['service'] %}
                {% if 'disable' not in s %}
      								<tr>
								      	<td>
								      		{% if s['SER_TXT'] %}
								        	
                          <input id="desc{{i}}" type="text" class="form-control desc{{i}}" name="descnew" value="{{s['SER_TXT']}}">
								          	{% endif %}
								      	</td>
								      	<td>
								 			{% if s['MENGE'] %}
								        	<input class="quantity mynumberS{{i}}" type="number"  id="mynumberS{{i}}" min="0.1" step="0.1" max="{{s['MENGE']}}" name="quantitynew" value="{{s['MENGE']}}" onkeypress="return numberValid(event)"/>
								          	{% endif %}
								      	</td>
								      	<td>
								       		{% if s['MEINS'] %}
								        	{{s['MEINS']}}
								          	{% endif %}
								      	</td>
								      	<td>
								        	{% if s['VERPR'] %}
                          <input id="unitS{{i}}" type="number"  class="form-control unitS{{i}}" min="0" step="0.1"  name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{s['VERPR']}}">
								        	
								          	{% endif %}
								      	</td>
								      	<td>
								         	{% if s['EEIND'] %}
                          <input id="dateS{{i}}" type="text"  class="form-control dateS{{i}}" name="datenew" size="11" value="{{s['EEIND'].strftime('%d.%m.%Y')}}">
								        	
								          	{% endif %}
								      	</td>
									 	<td>
									     	{% if s['PROD'] %}
									        <select size="1" id="procuredS{{i}}" class="form-control procuredS{{i}}" name="newprocured">
                         {% if s['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                          </select>
                            {% endif %}
									         {% endif %}
									    </td>
      									<td>
         									{% if s['file']%}           
 											<a href="/pmpr/static/pdf/gridfs/{{s['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
 											{% endif %}
      									</td>
  										<td>
                       {% if e['approval_levels']['a_status'] == 'current' %}
  										<button type="button" name="delete" class="btn btn-danger btn-xs tooltips deleteS{{i}}"   id="{{k}}" value=""   ><font size="1">✖</font></button>
                          {% endif %}
  										</td>
    								</tr>
                    {%else%}
                    <tr style="display:none">
                        <td>
                          {% if s['SER_TXT'] %}
                          
                          <input id="desc{{i}}" type="text" class="form-control desc{{i}}" name="descnew" value="{{s['SER_TXT']}}">
                            {% endif %}
                        </td>
                        <td>
                      {% if s['MENGE'] %}
                          <input class="quantity mynumberS{{i}}" type="number"  id="mynumberS{{i}}" min="0.1" step="0.1" max="{{s['MENGE']}}" name="quantitynew" value="{{s['MENGE']}}" onkeypress="return numberValid(event)"/>
                            {% endif %}
                        </td>
                        <td>
                          {% if s['MEINS'] %}
                          {{s['MEINS']}}
                            {% endif %}
                        </td>
                        <td>
                          {% if s['VERPR'] %}
                          <input id="unitS{{i}}" type="number"  class="form-control unitS{{i}}" min="0" step="0.1"  name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{s['VERPR']}}">
                          
                            {% endif %}
                        </td>
                        <td>
                          {% if s['EEIND'] %}
                          <input id="dateS{{i}}" type="text"  class="form-control dateS{{i}}" name="datenew" size="11" value="{{s['EEIND'].strftime('%d.%m.%Y')}}">
                          
                            {% endif %}
                        </td>
                    <td>
                        {% if s['PROD'] %}
                          <select size="1" id="procuredS{{i}}" class="form-control procuredS{{i}}" name="newprocured">
                         {% if s['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                          </select>
                            {% endif %}
                           {% endif %}
                      </td>
                        <td>
                          {% if s['file']%}           
                      <a href="/pmpr/static/pdf/gridfs/{{s['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>
                      {% endif %}
                        </td>
                      <td>
                       {% if e['approval_levels']['a_status'] == 'current' %}
                      <button type="button" name="delete" class="btn btn-danger btn-xs tooltips deleteS{{i}}"   id="{{k}}" value=""   ><font size="1">✖</font></button>
                          {% endif %}
                      </td>
                    </tr>
                    {%endif%}
    							{% set k=k+1 %}
    							{%endfor%}
        						</tbody>
    						</table>
							{%endif%}
							</div>
          				</div>
          			</div>
          		</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      		</div>
    	</div>
  	</div>
</div>
 								   </td>
								    <td>
   									  {% if e['pr_appliedon'] %}
        							{{e['pr_appliedon'].strftime('%d-%m-%Y')}}
          						{% endif %}
						      	</td>
						        <td>
						          {% if e['P_ARBPL'] %}
						        	{{e['P_ARBPL']}}
						          {% endif %}
						      	</td>
						      	<td>
						        	{% if e['functionlocation'] != '' %}
						        	{{e['functionlocation']}}
						         	{% else %}
						        	{{e['equip_funcloc']}}
						         	{% endif %}
						      	</td>
						      	<td>
						        	{% if e['equipment'] %}
                      {{e['equip_Desc']}}--
						        	{{e['equipment']}}
						         	{% endif %}
						      	</td>
						      	<td>
						  			 {% if e['costcenter'] %}
                      {{e['cost_center_desc']}}--
						        	{{e['costcenter']}}
						         	{% endif %}
						      	</td>
						      	<td>
						        	{% if e['wbs_element'] %}
						        	{{e['wbs_element']}}
						          {% endif %}     
						      	</td>
						      	<td>
						       		{% if e['assetcode'] %}
						        	{{e['assetcode']}}
						          {% endif %}
						      	</td>
						       	<td>
						  			  {% if e['employee_name'] %}
						        	{{e['employee_name']}}
						          {% endif %}
						      	</td>
						    </tr>

<script type="text/javascript">




$(document).ready(function(){


  $('#date{{i}},#dateS{{i}}').datepicker({
              format:"dd.mm.yyyy",
              todayHighlight: true ,
              startDate: "+0d", 
              autoclose: true
        });
});   
</script>
<script type="text/javascript">
$(document).ready(function(){
  	$('.deleteC{{i}}').one('click',function() {
    if($('#tableC{{i}} >#bodyC{{i}} >tr').length>1){   	
row=this.id;
     del=this;
  bootbox.dialog({
                              size: 'large',
                               closeButton: true,
                              message: 
                                  '<div class="form-group">\
  <label for="comment">Remarks:</label>\
  <textarea class="form-control" rows="5" id="comment"></textarea>\
</div>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                         
                                             
    var fd = new FormData();
    fd.append("row",row);
    fd.append("key","component");
    fd.append("reason",$('#comment').val());
    fd.append("prid","{{ e['_id']}}")
    $.ajax({
            url: '/pmpr/dellineitem',
            data:  fd,
            type: 'POST',
            processData: false,
            dataType:"json",  
            contentType: false,
            success: function(response) {
                if(response=='0') {
                   $(del).parent().parent().hide();
                  bootbox.alert("successfully deleted", function() {});  
                } else {
                  bootbox.alert("Please don\'t delete ", function() {});
                }
              }
      }); 
                                      }
                                  },
                      danger:  {
                                      label: "close",
                                      className: "btn-primary",
                                      callback: function () {}
                            }
                }
              });
  }
else{
  bootbox.alert('Please don\'t delete');
}
	});

  
  $('.deleteS{{i}}').one('click',function() {
        
  /*  alert(this.id);*/
  /*  alert("{{ e['_id']}}");*/
/*console.log($('#tableS{{i}} >#bodyS{{i}} >tr').length);*/
    if($('#tableS{{i}} >#bodyS{{i}} >tr').length>1){
     row=this.id
     del=this
  bootbox.dialog({
                              size: 'large',
                               closeButton: true,
                              message: 
                                 
                                  '<div class="form-group">\
  <label for="comment">Remarks:</label>\
  <textarea class="form-control" rows="5" id="comment"></textarea>\
</div>',
                              buttons: {
                                  success: {
                                      label: "Ok",
                                      className: "btn-primary",
                                      callback: function () {
                                         
    if ($('#comment').val()=="")
    {
      bootbox.alert("Please enter Remarks for deleting line item", function() {});  
      return false;
    }                                        
    var fd = new FormData();
    fd.append("row",row);
    fd.append("key","service");

    fd.append("reason",$('#comment').val());
    fd.append("prid","{{ e['_id']}}")
    $.ajax({
            url: '/pmpr/dellineitem',
            data:  fd,
            type: 'POST',
            processData: false,
            dataType:"json",  
            contentType: false,
            success: function(response) {
                if(response=='0') {
                  $(del).parent().parent().hide();
                  bootbox.alert("successfully deleted", function() {});  
                } else {
                  bootbox.alert("Please don\'t delete", function() {});
                }
              }
      }); 
                                      }
                                  },
danger:  {
                                      label: "close",
                                      className: "btn-primary",
                                      callback: function () {

                              }
                            }
              }
              });
  


  }
else{
  bootbox.alert('Please don\'t delete');
}
  });

});   
</script>
{% set i=i+1 %}
{%endfor%}
</tbody>
</table>
</div>                      
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->

{% endblock %}    
{% block scripts %}
<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	document.getElementById('id-17').className ="active";
</script>

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
		   	var charCode = (evt.which) ? evt.which : evt.keyCode ;
		    if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
		        return false;
		    } else {
		        return true;
		    } 
}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
$('.quantity').bind("cut copy paste",function(e) {
    e.preventDefault();
});
</script>
<script type="text/javascript">
/* INITIALISING DATATABLES */
$(document).ready(function(){
	$('#table').DataTable( {
		    "scrollX": "180%",
		    "scrollCollapse": true,
		    "scrollY": "400px",
		    "iDisplayLength": 50,
		    "bSort": false,
		    "retrieve": true,
		    "columnDefs": [
				    { "width": "5%", "targets": 0},
				    { "width": "5%", "targets": 1},
				    { "width": "6%", "targets": 2},
				    { "width": "6%", "targets": 3},
				    { "width": "6%", "targets": 4},
				    { "width": "10%", "targets": 5},
				    { "width": "10%", "targets": 6},
				    { "width": "6%", "targets": 7},
				    { "width": "6%", "targets": 8},
				    { "width": "8%", "targets": 9},
				    { "width": "10%", "targets": 10}
  			]
  }); 
});
</script>

<script type="text/javascript">
/* FOR NEW QUANTITY VALUE */
function agree(link)
    {  
      newData=[]
      console.log(link);
      if (document.getElementsByClassName('mynumberC'+link))
      {
        var getQuantityC=document.getElementsByClassName('mynumberC'+link);
        for(i=0;i<getQuantityC.length;i++) 
        {
          console.log(getQuantityC[i].value)
           if (getQuantityC[i].value=="")
              {
                  bootbox.alert("Quantity cannot be blank", function() {});
                  return false;
              }
          newData.push(getQuantityC[i].value);
          }
          a='qC'+link
          console.log(a)
          document.getElementById(a).value=newData;
        newData=[]
        if(document.getElementsByClassName('justify'+link))
        {
          var justifyC=document.getElementsByClassName('justify'+link);
          for(i=0;i<justifyC.length;i++) {
            if (justifyC[i].value=="")
              {
                  bootbox.alert("Justification cannot be blank", function() {});
                  return false;
                  
              }
          newData.push(justifyC[i].value);
          }
        document.getElementById("justifyC"+link).value=newData;
        }
        newData=[]
      if (document.getElementsByClassName('specify'+link))
        {
        var specC=document.getElementsByClassName('specify'+link);
        for(i=0;i<specC.length;i++) {
           if (specC[i].value=="")
              {
                  bootbox.alert("Specification cannot be blank", function() {});
                  return false;
                 
              }
          newData.push(specC[i].value);
          }
        document.getElementById("specC"+link).value=newData;
        }
        newData=[]
      if (document.getElementsByClassName('date'+link))
        {
        var dateC=document.getElementsByClassName('date'+link);
        for(i=0;i<dateC.length;i++) {
             if (dateC[i].value=="")
              {
                  bootbox.alert("Date of component cannot be blank", function() {});
                  return false;
                
                  
              }
          newData.push(dateC[i].value);
          }
        document.getElementById("dateC"+link).value=newData;
        }

        newData=[]
        if (document.getElementsByClassName('unit'+link))
        {
        var unitC=document.getElementsByClassName('unit'+link);
              for(i=0;i<unitC.length;i++) {
                   if (unitC[i].value=="")
                    {
                        bootbox.alert("unit of component cannot be blank", function() {});
                       return false;
                         
                    }
                newData.push(unitC[i].value);
                }
              document.getElementById("unitC"+link).value=newData;
        }

          newData=[]
          if (document.getElementsByClassName('procured'+link))
          {
          var proC=document.getElementsByClassName('procured'+link);
                for(i=0;i<proC.length;i++) {
                     if (proC[i].value=="")
                      {
                          bootbox.alert("procured of component cannot be blank", function() {});
                          return false;
                          
                      }
                  newData.push(proC[i].value);
                  }
                document.getElementById("proC"+link).value=newData;
          }

      }

  newData=[]
  if (document.getElementsByClassName('procuredS'+link))
  {
  var proS=document.getElementsByClassName('procuredS'+link);
        for(i=0;i<proS.length;i++) {
             if (proS[i].value=="")
              {
                  bootbox.alert("procured of service cannot be blank", function() {});
                  return false;
                  
              }
          newData.push(proS[i].value);
          }
        document.getElementById("proS"+link).value=newData;
  }
  //
    newData1=[]   
      if(document.getElementsByClassName('mynumberS'+link))
      { 
        var getQuantityS=document.getElementsByClassName('mynumberS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<getQuantityS.length;i++) {
           if (getQuantityS[i].value=="")
              {
                  bootbox.alert("quantity of service cannot be blank", function() {});
                  return false;
                   
              }
          newData1.push(getQuantityS[i].value);
        }
        document.getElementById("qS"+link).value=newData1;
      
   newData1=[]
   if(document.getElementsByClassName('desc'+link))
      { var desS=document.getElementsByClassName('desc'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<desS.length;i++) {
           if (desS[i].value=="")
              {
                  bootbox.alert("Description of service cannot be blank", function() {});
                  return false;
                 
              }
          newData1.push(desS[i].value);
        }
        document.getElementById("desS"+link).value=newData1;
      }

   newData1=[]
   if(document.getElementsByClassName('unitS'+link))
      { var uS=document.getElementsByClassName('unitS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<uS.length;i++) {
           if (uS[i].value=="")
              {
                  bootbox.alert("Unit of service cannot be blank", function() {});
                 return false;
                  
              }
          newData1.push(uS[i].value);
        }
        document.getElementById("uS"+link).value=newData1;
      }

     newData1=[]
   if(document.getElementsByClassName('dateS'+link))
      { 
        var dS=document.getElementsByClassName('dateS'+link);
      /*alert(getQuantity.length);*/

      for(i=0;i<dS.length;i++) {
           if (dS[i].value=="")
              {
                  bootbox.alert("Date of service cannot be blank", function() {});
                  return false;

              }
          newData1.push(dS[i].value);
        }
        document.getElementById("dS"+link).value=newData1;
      }


      }
  } 



</script>
{% endblock %}
