{% extends "base.html" %}

{% block pageheader %}  
        
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 

<link rel="stylesheet" href="/static/css/datepicker.css">
    <div class="pageheader">
      <h2><i class="fa fa-user"></i> Profile</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li class="active">Profile</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
  
{% block contentpanel %} 

      
      <div class="row">

        <div class="col-sm-3" id="pic">

    <form role="form" action="" method="post" enctype="multipart/form-data" name="login">    



<img id="blah1" name="" src="{{ user_details.profpic }}" class="thumbnail img-responsive" alt="" />
<div class="row">
<div class="col-xs-12 col-md-7">

<input type="file"  data-buttonText="Choose Image" class="filestyle"  data-iconName="glyphicon glyphicon-user" data-input="false" data-buttonName="btn-warning" data-badge="false" name="myFile"  id="image_to_upload" class="browse" onchange="readURL1(this);" />
</div>

<div  class="col-xs-6 col-md-4"  id="p" style="display:none">
<button type="button" id="imagebutton" class="btn btn-success">Update</button>
</div><!-- profile-header -->
</div>

</form>
</div><!-- col-sm-3 -->
<script type="text/javascript">

    jQuery.noConflict();    
    formdata = new FormData();      
    jQuery("#imagebutton").on("click", function() {

        var fil = document.login.myFile.files[0];
        
        if (formdata) {
            formdata.append("image", fil);
            jQuery.ajax({
                url: "/user/imgupload",
                type: "POST",
                data: formdata,
                async: false,
    cache: false,
    contentType: false,
    processData: false,
                success: function(response) {
         if(response.trim()=='0')
              {
           bootbox.alert("Sucessfully Change your profile picture", function() {
           });
             $("#p").hide();

  }

}
            });
        }                       
    }); 
</script>

<script type="text/javascript">
  
function dep()
{



// Get the size of an object


 var a=[];
var b=[];
var r=0;

        var getValues = $("p:has(select.getThis)").map(function () {
            return {
                relation: $(this).find('select').val(),
                fname:$(this).next('div').find('input').val(),
                lname:$(this).next('div').next('div').find('input').val(),
                dob:$(this).next('div').next('div').next('div').find('input').val()
           
            }

        }).get();

        $.each(getValues, function (_, fields) {
          if(fields.relation=="")
          {
            r=r+1;
          }
          else if(fields.fname=="")
          {
         r=r+1;
          }
          else if(fields.lname=="")
          {
 r=r+1;
          }
             else if(fields.dob=="")
          {

 r=r+1;
          }
          else
          {

            for(var key in fields)
            {

              a.push(fields[key]);

         
          }


}



        });
if( r==0)
{
  return a ;
}
else
{
  return 0;
}

}




</script>


<div class="col-sm-9">
<ul class="nav nav-tabs nav-justified nav-profile">
<li class="active"><a href="#activities" data-toggle="tab"><strong>Official Information</strong></a></li>
<li><a href="#followers" data-toggle="tab"><strong>Personal Information</strong></a></li></ul>
<script type="text/javascript">
function edit()
{
  $("#show").hide();
  $("#change").show();
}
function cancel()
{
   $("#change").hide();
  $("#show").show();
}
function update()
{
 var letters = /^[A-Z a-z]+$/;
  
var x=document.forms["user"]["personal_email"].value;
if(x.length >0)
{
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 ||dotpos+2>=x.length)
  {
 
   bootbox.alert("Not a valid e-mail address", function() {
           });
   document.user.personal_email.focus(); 
  return false;
  }
}
  
 var mob=document.forms["user"]["contact_no"].value;
 if (mob.length > 0)
{
if  (mob.length < 10) {
	 bootbox.alert("Please enter a valid 10 digit Moblie number without adding +91 or 0 ", function() {
           });
      
      document.user.contact_no.focus(); 
      return false;
    }
   var numericExpression = /^[0-9]+$/;
    if(!document.user.contact_no.value.match(numericExpression))
    {  
bootbox.alert("Enter Numbers only without adding +91 or 0 ", function() {
           });
       document.user.contact_no.focus(); 
      return false;
    }
}


 /*var mob=document.forms["user"]["contact_no2"].value;
 if (mob.length > 0)
{
if  (mob.length < 10) {

     bootbox.alert("Please enter a valid 10 digit Moblie number without adding +91 or 0 ", function() {
           });
      document.user.contact_no2.focus(); 
      return false;
    }
   var numericExpression = /^[0-9]+$/;
    if(!document.user.contact_no2.value.match(numericExpression))
    {  
     bootbox.alert("Enter Numbers only without adding +91 or 0 ", function() {
           });
       document.user.contact_no2.focus(); 
      return false;
    }
}*/


console.log(dep());
if (dep()==0 )
   {
 bootbox.alert("Required fields cannot be empty in dependents", function() {
           });
   
    return false;

   }



var a = ad();
  var preaddress=document.forms["user"]["preaddress"].value;
    var peraddress=document.forms["user"]["peraddress"].value;
if(a==3)
{
 if (preaddress==null || preaddress==""  )
   {
   	 bootbox.alert("Upload address proof for both addresses", function() {
           });

    return false;

   }
else if (peraddress==null || peraddress==""  )
   {
   	 bootbox.alert("Upload address proof for both addresses", function() {
           });
   
    return false;

   }
 

   else{

var fil2 = document.forms["user"]["preaddress"].files[0];
var fil1 = document.forms["user"]["peraddress"].files[0];


var fd = new FormData(document.getElementById("user"));
fd.append("pref",fil2);
fd.append("perf",fil1);
fd.append("dependents",dep());
$.ajax({
        url: '/user/updateuser',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
              if(response.trim()=='0')
              {
            
               bootbox.alert("Sucessfully Updated the profile", function() {
           });

          }
                else if (response.trim()=='2')
          {
          bootbox.alert("Your have already update your profile and waiting for HR approval", function() {
           });
          }
          
       else
          {
           bootbox.alert("No changes occur", function() {
           });
            }
            }
        }); 

   }
    cancel()
       return false;

}


if(a==4)
{
if (peraddress==null || peraddress==""  )
   {
      bootbox.alert("Upload address proof for permanent address", function() {
           });
    return false;

   }
     else{





var fil2 = document.forms["user"]["peraddress"].files[0];


var fd = new FormData(document.getElementById("user"));
fd.append("perf",fil2);
fd.append("dependents",dep());
$.ajax({
        url: '/user/updateuser',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
              if(response.trim()=='0')
              {
              
                bootbox.alert("Sucessfully Updated the profile", function() {
           });
          }      
          else if (response.trim()=='2')
          {
          	 bootbox.alert("Your have already update your profile and waiting for HR approval ", function() {
           });
     
          }
          
       else
          {
 bootbox.alert("No changes occur", function() {
           });
         
            }
            }
        }); 

   }
  cancel()
    return false;
}

 if(a==5)
{
 if (preaddress==null || preaddress==""  )
   {
    bootbox.alert("Upload address proof for present address", function() {
           });
 return false;
   }
     else{
    

var fil2 = document.forms["user"]["preaddress"].files[1];

var fd = new FormData(document.getElementById("user"));
fd.append("pref",fil2);
fd.append("dependents",dep());
$.ajax({
        url: '/user/updateuser',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
              if(response.trim()=='0')
              {
             bootbox.alert("Sucessfully Updated the profile", function() {
           }); 	
          


          }      else if (response.trim()=='2')
          {
             bootbox.alert("Your have already update your profile and waiting for HR approval", function() {
           });

          }
          
       else
          {
bootbox.alert("No changes occur", function() {
           });
         
            }
            
            }
        }); 


         } 
            cancel()
         return false;
             
}




var fd = new FormData(document.getElementById("user"));
fd.append("dependents",dep());
$.ajax({
        url: '/user/updateuser',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
              if(response.trim()=='0')
              {
              bootbox.alert("Sucessfully Updated the profile", function() {
           });
          }
          else if (response.trim()=='2')
          {
             bootbox.alert("Your have already update your profile and waiting for HR approval", function() {
           });
          }
          
       else
          {
          bootbox.alert("No changes occur", function() {
           });
            }
          }
        }); 

 cancel()
    return false;







 }



</script>

<script type="text/javascript">
$( document ).ready(function() {
preadd = new Array();
preadd[0] = document.forms["user"]["prehno_street"].value;
preadd[1] = document.forms["user"]["preaddress_line2"].value;

peradd = new Array();
peradd[0]=document.forms["user"]["perhno_street"].value;
peradd[1]=document.forms["user"]["peraddress_line2"].value;

});

  
function upper(input)
{
  input.value = input.value.toUpperCase();
  ad()
}


function ad()
{
var prehno_street=document.forms["user"]["prehno_street"].value;
var predistrict=document.forms["user"]["predistrict"].value;
var preaddress_line2=document.forms["user"]["preaddress_line2"].value;
var prepincode=document.forms["user"]["prepincode"].value;
var precity=document.forms["user"]["precity"].value;
var prestate=document.forms["user"]["prestate"].value;

var perhno_street=document.forms["user"]["perhno_street"].value;
var perdistrict=document.forms["user"]["perdistrict"].value;
var peraddress_line2=document.forms["user"]["peraddress_line2"].value;
var perpincode=document.forms["user"]["perpincode"].value;
var percity=document.forms["user"]["percity"].value;
var perstate=document.forms["user"]["perstate"].value;

per=0;
pre=0;

if( String(prehno_street) != preadd[0] || String(preaddress_line2) != preadd[1] || String(precity) !="{{user_details.present_address.city }}" || String(predistrict) !="{{user_details.present_address.district }}" || String(prepincode) !="{{user_details.present_address.pincode }}"|| (String(prestate) !="{{user_details.present_address.state }}" && String(prestate) !="select"))
{
pre=1;
}

 if( String(perhno_street) != peradd[0]|| String(peraddress_line2) != peradd[1] || percity !="{{user_details.permanent_address.city }}" || perdistrict !="{{user_details.permanent_address.district }}" || perpincode !="{{user_details.permanent_address.pincode }}" || (perstate !="{{user_details.permanent_address.state }}" && perstate !="select"))
{
per=1;  
}


if(per==1 && pre==1)


{

$('#pre').show();
  $('#per').show();
  return 3;

}

if(per==1 && pre==0)
{
  $('#pre').hide();
    document.forms["user"]["preaddress"].value="";
  $('#per').show();
   return 4;
}

if(per==0 && pre==1)
{
  $('#pre').show();
  $('#per').hide();
    document.forms["user"]["peraddress"].value="";
   return 5;
}
if(per==0 && pre==0)
{

  $('#pre').hide();
  $('#per').hide();
  document.forms["user"]["preaddress"].value="";
  document.forms["user"]["peraddress"].value="";
   return 6;
}



}

</script>







<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="activities">
<div class="activity-list">
<style type="text/css">
.input-sm1
{
  width:100px;
}
</style>
<style type="text/css">
.input-sm2
{
height:37px;
}
</style>

<script type="text/javascript">
  
function edit1()
{
 

  $("#show1").hide();
  $("#change1").show();

}
function cancel1()
{
   $("#change1").hide();
  $("#show1").show();
}
function update1()
{var x=document.forms["user1"]["official_email"].value;
if(x.length >0)
{
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 ||dotpos+2>=x.length)
  {
  
   bootbox.alert("Not a valid e-mail address", function() {
           });
   document.user1.official_email.focus(); 
  return false;
  }
}

 var mob=document.forms["user1"]["official_contact"].value;
 if (mob.length > 0)
{
if  (mob.length < 10) {
      bootbox.alert("Please enter a valid 10 digit Moblie number without adding +91 or 0", function() {
           });
      document.user1.official_contact.focus(); 
      return false;
    }
   var numericExpression = /^[0-9]+$/;
    if(!document.user1.official_contact.value.match(numericExpression))
    {   
      bootbox.alert("Enter Numbers only without adding +91 or 0", function() {
           }); 
       document.user1.official_contact.focus(); 
      return false;
    }
}

var fd = new FormData(document.getElementById("user1"));

$.ajax({
        url: '/user/updateofficaluser',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
              if(response.trim()=='0')
              {

bootbox.alert("Sucessfully Updated the profile", function() {
           });

          }
          else if (response.trim()=='2')
          {
          
            bootbox.alert("Your have already update your profile and waiting for HR approval", function() {
           });
          }
          
       else
          {
         bootbox.alert("No changes occur", function() {
           });
            }
          }
        }); 
 cancel1()
    return false;

}

</script>

<div class="media act-media" id="show1" >  


 <div class="col-md-12 col-xs-12 col-md-offset-10" >

<button type="button" class="btn btn-primary" onclick="edit1()">Edit </button>
</div>
      
    <table class="table" style="">
                    <tr><th>Official Email</th><td> {{ user_details.official_email }}</td></tr>
		 <tr><th>Official Contact Number</th><td> {{ user_details.official_contact }}</td></tr>
                   <tr><th>  Designation </th><td> {{ user_details.designation }}</td></tr>
                  <tr><th>Department Name </th><td> {{ user_details.department_name}}</td></tr>
                   <tr><th>Date of joining </th><td>  {{ user_details.doj}}</td></tr>
{% if user_details.m1_name %}                   
<tr><th>  RM1 </th><td>  {{ user_details.m1_name }}</td></tr>
{% if user_details.m2_name %} 
                    <tr><th> RM2 </th><td>  {{ user_details.m2_name}}</td></tr>
  {% endif %}
{% if user_details.m3_name %} 
                     <tr><th>RM3 </th><td>  {{ user_details.m3_name }}</td></tr>
{% endif %}
</table> 

  {% endif %}
              </div><!-- media -->

        <div class="media act-media" id="change1" style="display:none" >  

<table class="table" style="">
<form name="user1" id="user1" method="">
 <tr><th>Official Email</th><td><input type="text" class="form-control input-sm" name="official_email" value="{{ user_details.official_email }}" onchange="upper(this)"/> </td></tr>
 <tr><th> Offical Contact Number </th><td> <input type="text" class="form-control input-sm1" name="official_contact" value="{{ user_details.official_contact }}" onchange="upper(this)"/></td></tr>

 <tr><th>  Designation </th><td> {{ user_details.designation }}</td></tr>

  <tr><th>Department Name </th><td> {{ user_details.department_name}}</td></tr>
                   <tr><th>Date of joining </th><td>  {{ user_details.doj }}</td></tr>
     {% if user_details.m1_name %}                   
<tr><th>  RM1 </th><td>  {{ user_details.m1_name }}</td></tr>
{% if user_details.m2_name %} 
                    <tr><th> RM2 </th><td>  {{ user_details.m2_name}}</td></tr>
  {% endif %}
{% if user_details.m3_name %} 
                     <tr><th>RM3 </th><td>  {{ user_details.m3_name }}</td></tr>
{% endif %}
</table> 
  {% endif %}
</table>
<div class="col-md-12 col-xs-12 col-md-offset-9 " >
<br><button type="button" class="btn btn-success" onclick="update1()">Update</button>
<button type="button" class="btn btn-danger" onclick="cancel1()">Cancel</button>
</form>

</div>
        </div>      
           
              
              
            </div><!-- activity-list -->
            
            

          </div>
          <div class="tab-pane" id="followers">
            
            <div class="follower-list">
              
              <div class="media" id="show" >

                    
        <div class="col-md-12 col-xs-12 col-md-offset-10" >

<button type="button" class="btn btn-primary" onclick="edit()">Edit </button>
</div>         
 

<table class="table" style="">

<tr><th>Name</th> <td>{{ user_details.f_name }} {{ user_details.l_name}}</td> </tr>
<tr><th>Personal Email</th> <td>{{ user_details.personal_email }}</td></tr>
<tr><th>Date Of Birth</th><td> {{ user_details.dob }}</td></tr>
<tr><th>Gender</th><td>
{% if user_details.gender == '1'%}
MALE 
{% else %}
FEMALE
{% endif %}</td></tr>
<tr><th>Marital Status </th><td>
 




{% set i=0 %}
{% for user in prof_status.maritalstatus %}

{% if user_details.m_status == prof_status.maritalstatus[i].m_key %}
{{prof_status.maritalstatus[i].m_status|upper}}
{% endif %}
{% set i=i+1 %}

{% endfor %}



</td></tr>
<tr><th>Dependents</th><td>
{% if user_details.dependents %}
<div class="table-responsive">
<table class="table">
<tr><th>Firstname </th>
<th>Lastname </th><th> Relation</th><th>Date Of Birth</th></tr>
{% for dependent in user_details.dependents %}
<tr>
<td>{{dependent.fname}}</td><td>{{dependent.lname}} </td>

{% for us in dependant.relations %}

{% set j=0 %}
{% if dependent.relation == us.relation_id%}
<td>{{us.relation_type|upper}}</td>
{% endif %}
{% set j=j+1 %}
{% endfor %}


<td>{{dependent.dob}}</td>
</tr>
{% endfor %}
</table>
</div>
{%endif%}
</td></tr>
<tr><th>  Contact No1  </th><td> {{ user_details.personal_contact1 }}</td></tr>
<tr><th>  Contact No2  </th><td> {{ user_details.personal_contact2 }}</td></tr>
</table>


<div class="col-md-12 col-xs-12">
<div class="row">
<div class="col-md-6 col-xs-6" >
<strong> Present Address</strong><br>
{% if user_details.present_address %}

{{user_details.present_address.hno_street }},<br>
{{user_details.present_address.address_line2 }},<br>
{{user_details.present_address.city }},<br>
{{user_details.present_address.district }},<br>
{{user_details.present_address.pincode }}<br>

{% set i=0 %}
{% for user in prof_status.states %}
{% if user_details.present_address.state == prof_status.states[i].state_key %}
{{prof_status.states[i].state_name|upper}}<br>
{% endif %}
{% set i=i+1 %}
{% endfor %}


{% set i=0 %}
{% for user in prof_status.countries %}
{% if user_details.present_address.country == prof_status.countries[i].country_key %}
{{prof_status.countries[i].country_name|upper}}<br>
{% endif %}
{% set i=i+1 %}
{% endfor %}

{% else %}
Not Available
{% endif %}

</div>
<div class="col-md-6 col-xs-6" >
<strong> Permanent Address</strong><br>
{% if user_details.permanent_address %}

{{user_details.permanent_address.hno_street }},<br>
{{user_details.permanent_address.address_line2 }},<br>
{{user_details.permanent_address.city }},<br>
{{user_details.permanent_address.district }},<br>
{{user_details.permanent_address.pincode }}<br>

{% set i=0 %}
{% for user in prof_status.states %}
{% if user_details.permanent_address.state == prof_status.states[i].state_key %}
{{prof_status.states[i].state_name|upper}}<br>
{% endif %}
{% set i=i+1 %}
{% endfor %}


{% set i=0 %}
{% for user in prof_status.countries %}
{% if user_details.permanent_address.country == prof_status.countries[i].country_key %}
{{prof_status.countries[i].country_name|upper}}<br>
{% endif %}
{% set i=i+1 %}
{% endfor %}
{% else %}
Not Available
{% endif %}




</div>
</div></div> 
</div><!-- media -->

<div class="media" id="change" style="display:none" >
<strong>
<div class="table-responsive">
<table class="table" style="">
<form name="user" id="user" enctype="multipart/form-data" method="">

<tr><th>Name</th><td>{{ user_details.f_name }}
{{ user_details.l_name }}

</td></tr>

<tr><th>Personal Email</th> <td><input type="text" class="form-control input-sm" name="personal_email" value="{{ user_details.personal_email }}" onchange="upper(this)"/></td></tr>

<tr><th>Date of Birth</th> <td>{{ user_details.dob}}</td></tr>


<tr><th>Marital Status</th><td>
<select  class="form-control input-sm1" name="m_status">
{% set i=0 %}
{% for user in prof_status.maritalstatus %}
{% if user_details.m_status == prof_status.maritalstatus[i].m_key %}
<option value="{{prof_status.maritalstatus[i].m_key }}" selected>{{prof_status.maritalstatus[i].m_status}}</option>
{%else%} 
<option value="{{prof_status.maritalstatus[i].m_key }}">{{prof_status.maritalstatus[i].m_status}}</option>
{%endif%}
{% set i=i+1 %}
{% endfor %}
</select>

</td></tr>

<tr><th>Contact Number1</th><td> <input type="text"  class="form-control input-sm input-sm1" name="contact_no" value="{{ user_details.personal_contact1 }}"/></td></tr>
<tr><th>Contact Number2</th><td> <input type="text"  class="form-control input-sm input-sm1" name="contact_no2" value="{{ user_details.personal_contact2 }}"/></td></tr>

<script type="text/javascript">



function inp()
{
var n=parseInt($("#no").val());
o=parseInt(document.getElementById("fieldnum").value);

var s=0;
if(o==0)
{
  for (i = 1; i <= n; i++) {
              $("#p_wrap").append("<div id="+i+" class='row'><p class='col-md-2 col-xs-2'><select class='getThis form-control input-sm2'>{% for us in dependant.relations %}<option value='{{us.relation_id}}'>{{us.relation_type}}</option>{% endfor %}</select></p><div class='col-md-2 col-xs-2'><input type='text' class='getThis form-control input-sm' placeholder='fName'/></div><div class='col-md-4 col-xs-4'><input type='text' class='getThis form-control input-sm' placeholder='lName'/></div><div class='col-md-2 col-xs-2'><input type='text' id='f"+i+"' class='getThis form-control input-sm' placeholder='D.O.B'/></div><div class='col-md-1 col-xs-1'><button type='button' class='btn btn-danger input-sm' id='delInputs' onclick='inpdel("+i+")'>Delete</button> </div></div>").trigger('create');
     
$('#f'+i).datepicker({
    format: "dd-mm-yyyy",
    todayBtn: "linked",
    autoclose: true
});
      o=o+1;

    }
    document.getElementById("fieldnum").value=o;
}
else 
{


var g;
  for (s =(o+1); s <= (o+n); s++) 
  {
    s=parseInt(s);
        $("#p_wrap").append("<div id="+s+" class='row'><p class='col-md-2 col-xs-2'><select class='getThis form-control input-sm2'>{% for us in dependant.relations %}<option value='{{us.relation_id}}'>{{us.relation_type}}</option>{% endfor %}</select></p><div class='col-md-2 col-xs-2'><input type='text' class='getThis form-control input-sm' placeholder='fName'/></div><div class='col-md-4 col-xs-4'><input type='text' class='getThis form-control input-sm' placeholder='lName'/></div><div class='col-md-2 col-xs-2'><input type='text' id='f"+s+"' class='getThis form-control input-sm' placeholder='D.O.B'/></div><div class='col-md-1 col-xs-1'><button type='button' class='btn btn-danger input-sm' id='delInputs' onclick='inpdel("+s+")'>Delete</button> </div></div>").trigger('create');
         

         $('#f'+s).datepicker({
    format: "dd-mm-yyyy",
    todayBtn: "linked",
    autoclose: true
});
g=g+1;
    }
            document.getElementById("fieldnum").value=g;


}



}



function inpdel(i)
{
    $('#p_wrap').children("#"+i+"").remove();

}



</script>


<tr><th>Dependents</th><td>
  
<input type="number" class="input-sm" name="no" class="" id="no" min="1" max="5" onkeydown="return false" >

<input type="hidden" id="fieldnum" value="0"/>
<button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>


<div  id="p_wrap" class="order-container ">
   

{% set k=0 %}
{% for dependent in user_details.dependents %}

    <div class="row">

<p class='col-md-2 col-xs-4'>
    
        <select class="getThis form-control input-sm2 ">

{% if user_details.dependents %}

        {% for us in dependant.relations %}

 
{% if dependent.relation == us.relation_id%}

  <option value="{{us.relation_id}}" selected>{{us.relation_type}}</option>
{% else %}

 <option value="{{us.relation_id}}">{{us.relation_type}}</option>
{% endif %}
{% endfor %}

{% endif %}

   
        </select>

</p>
<div class='col-md-3 col-xs-2'>
        <input type="text" class="getThis form-control  " value="{{dependent.fname}}" placeholder="fName" />
    </div>    
   <div class='col-md-4 col-xs-3'>
        <input type="text" class="getThis1 form-control input-sm " value="{{dependent.lname}}" />
    </div> 
<div class='col-md-2 col-xs-3'>
        <input type="text" id="e{{k}}" class="getThis2 form-control input-sm " value="{{dependent.dob}}" />
 </div>
              
</div>

{% set k=k+1 %}
{% endfor %}



</div>










</td></tr>




</table>
</div>
</strong>





<div class="row">
<div class="col-md-4 col-xs-4 " >
<strong> Present Address</strong>
</div>
</div>
<div class="row">


<div class="col-md-4 col-xs-4 " >

House No/Street<input type="text" class="form-control input-sm"  name="prehno_street" value="{{user_details.present_address.hno_street }}"  onchange="upper(this)" />
District<input type="text" class="form-control input-sm" name="predistrict" value="{{user_details.present_address.district }}" onchange="upper(this)"/>
<br>
<span  id="pre" style="display:none">
<!--  <strong > <font size="1">Upload Present Address Proof</font> </strong>  -->
<input type="file" data-buttonText="Choose Present Address proof"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="preaddress" data-badge="false"  id="preaddress" class="browse" onchange="readURL2(this);" />
</span>
</div>

<div class="col-md-4 col-xs-4 " >

Address Line 2<input type="text"  class="form-control input-sm" name="preaddress_line2" value="{{user_details.present_address.address_line2}}"  onchange="upper(this)" />
Pincode<input type="text" class="form-control input-sm" name="prepincode" value="{{user_details.present_address.pincode }}" onchange="upper(this)"/>
</div>
<div class="col-md-4 col-xs-4 " >

City<input type="text" class="form-control input-sm" name="precity" value="{{user_details.present_address.city }}"  onchange="upper(this)" />


State
  
  <select  class="form-control input-sm" name="prestate" onchange="ad()">
{% if user_details.present_address.state %}
{% set i=0 %}
{% for user in prof_status.states %}
{% if user_details.present_address.state == prof_status.states[i].state_key %}
 <option value="{{prof_status.states[i].state_key}}">{{prof_status.states[i].state_name}}</option>

{%else%}
 <option value="{{prof_status.states[i].state_key }}">
{{prof_status.states[i].state_name}}</option>
{% endif %}
{% set i=i+1 %}
{% endfor %}
{%else%}

 <option value="select">Select</option>
 {% set i=0 %}
{% for user in prof_status.states %}
 <option value="{{prof_status.states[i].state_key }}">
{{prof_status.states[i].state_name}}</option>

{% set i=i+1 %}
{% endfor %}

{% endif %}





</select>


</div>

</div>


<br>
<div class="row">
<div class="col-md-4 col-xs-4 " >
<strong> Permanent Address</strong>
</div>
</div>


<div class="row">

<div class="col-md-4 col-xs-4 " >


House No/Street<input type="text" class="form-control input-sm"  name="perhno_street" value="{{user_details.permanent_address.hno_street }}" onchange="upper(this)"/>
District<input type="text" class="form-control input-sm" name="perdistrict" value="{{user_details.permanent_address.district }}"onchange="upper(this)"/>
<br>
<span id="per" style="display:none">
<!--  <strong ><font size="1">Upload Permanent Address Proof</font> </strong>  -->
<input type="file" data-buttonText="Choose Permanent Address proof"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="peraddress" data-badge="false"  id="peraddress" class="browse" onchange="readURL2(this);" />
</span>

</div>
<div class="col-md-4 col-xs-4 " >


Address Line 2<input type="text"  class="form-control input-sm" name="peraddress_line2" value="{{user_details.permanent_address.address_line2}}" onchange="upper(this)"/>

Pincode<input type="text" class="form-control input-sm" name="perpincode" value="{{user_details.permanent_address.pincode }}" onchange="upper(this)"/>
</div>
<div class="col-md-4 col-xs-4 " >

City<input type="text" class="form-control input-sm" name="percity" value="{{user_details.permanent_address.city }}" onchange="upper(this)"/>

State
  <select  class="form-control input-sm" name="perstate" onchange="ad()">
{% if user_details.permanent_address.state %}
{% set i=0 %}
{% for user in prof_status.states %}
{% if user_details.permanent_address.state == prof_status.states[i].state_key %}
 <option value="{{prof_status.states[i].state_key}}" selected>{{prof_status.states[i].state_name}}</option>
{%else%}
 <option value="{{prof_status.states[i].state_key }}">
{{prof_status.states[i].state_name}}</option>
{% endif %}

{% set i=i+1 %}
{% endfor %}


{%else%}

 <option value="select">Select</option>
{% set i=0 %}
{% for user in prof_status.states %}

 <option value="{{prof_status.states[i].state_key }}">
{{prof_status.states[i].state_name}}</option>


{% set i=i+1 %}
{% endfor %}


{% endif %}


</select>





</div>
</div>









<div class="col-md-12 col-xs-12 col-md-offset-9 " >
<br><button type="button" class="btn btn-success" onclick="update()">Update</button>
<button type="button" class="btn btn-danger" onclick="cancel()">Cancel</button>
</form>

</div></div><!-- media -->
</div><!--follower-list -->
            
          </div>

          
        </div><!-- col-sm-9 -->
      </div><!-- row -->
      

{% endblock %}

{% block scripts %}

<script src="/static/js/jquery.prettyPhoto.js"></script>
<script>
  jQuery(document).ready(function(){
    
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    
    //Replaces data-rel attribute to rel.
    //We use data-rel because of w3c validation issue
    jQuery('a[data-rel]').each(function() {
        jQuery(this).attr('rel', jQuery(this).data('rel'));
    });
    
  });
</script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$('#d').datepicker({
    format: "dd-mm-yyyy",
    todayBtn: "linked",
    autoclose: true
});
{% set k=0 %}
{% for dependent in user_details.dependents %}
$('#e{{k}}').datepicker({
    format: "dd-mm-yyyy",
    todayBtn: "linked",
    autoclose: true
});

{% set k=k+1 %}
{% endfor %}
</script>
<meta charset=utf-8 />
<script>
     function readURL1(input) {
var fileName = $( "#image_to_upload" ).val();
var fileExt = fileName.split('.').pop();
//alert(fileExt);
var arr = ['jpg', 'jpeg', 'gif', 'png', 'JPG', 'JPEG', 'GIF', 'PNG'];
if( jQuery.inArray( fileExt, arr ) < 0 )
  {
  	bootbox.alert("Please select a jpg, jpeg, gif or png file.", function() {
           }); 
    input.value="";
    return false;
  }

else if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah1')
                        .attr('src', e.target.result)
                         $('#blah2')
                        .attr('src', e.target.result)
                         $('#blah3')
                        .attr('src', e.target.result)

                         $("#change").hide();
                        $("#show").show();
                         $("#p").show();

                        
                
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
  </script>

  <script>
     function readURL2(input) {
var fileName =input.value;
var fileExt = fileName.split('.').pop();
//alert(fileExt);
var arr = ['pdf'];
if( jQuery.inArray( fileExt, arr ) < 0 )
  {
    alert( "Please select a pdf file." );
    input.value="";
    return false;
  }


        }
  </script>
{% endblock %} 
