{% extends "base.html" %}
{% block links %}

<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-user"></i>Profile Approvals</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Profile Approvals</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Profile Approvals</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      <script type="text/javascript">



$(document).ready(function(){

$('#agree').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to approve the employee information as you cannot cancel the changes once approved?", function (response) {
            if (response) {
                $('#agree').trigger('click', true);
            }
        });
    }

  });





$('#disagree').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to reject the employee information changes?", function (response) {
            if (response) {
                $('#disagree').trigger('click', true);
            }
        });
    }

  });


 });



      </script>


      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST" >
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Martial Status</th>
                <th>Dependents</th>
                <th>Contact Number1</th>
                <th>Contact Number2</th>
                <th>Present Address</th>
                <th>Permanent Address</th>
                <th>Official Email </th>
                <th>Official Contact </th>
                <th>Action</th>
            </tr>
        </thead>
 
 
        <tbody>
        {% if hr %}
          {% for e in hr %}
            <tr>
        
                <td>{{ e.employee_id}}</td>
         

           


              <!--   {% if e['l_name'] %}
                <td>{{ e['l_name']|capitalize()}}</td>
                 {%else%}
                <td>None</td>

                {% endif %} -->

             
                {% if e['m_status'] %}
                <td>
{% set i=0 %}
{% for user in prof_status.maritalstatus %}

{% if e['m_status'] == prof_status.maritalstatus[i].m_key %}
{{prof_status.maritalstatus[i].m_status|upper}}
{% endif %}
{% set i=i+1 %}

{% endfor %}


              </td>
                 {%else%}
                <td>None</td>
                {% endif %}




{% if e['dependents'] %}
<td>
<table class="table">
<tr><th>Firstname </th>
<th>Lastname </th><th> Relation</th><th>Date Of Birth</th></tr>
{% for dependent in e['dependents'] %}
<tr>
<td>{{dependent.fname}}</td><td>{{dependent.lname}} </td>

{% for us in dependant.relations %}

{% set j=0 %}
{% if dependent.relation == us.relation_id%}
<td>{{us.relation_type|upper}}</td>
{% endif %}
{% set j=j+1 %}
{% endfor %}


<td>{{dependent.dob}}</td>
</tr>
{% endfor %}
</table>



              </td>
                 {%else%}
                <td>None</td>
                {% endif %}






                {% if e['personal_contact1'] %}
                <td>{{ e['personal_contact1']}}</td>
                {%else%}
                <td>None</td>
                {% endif %}
 {% if e['personal_contact2'] %}
                <td>{{ e['personal_contact2']}}</td>
                {%else%}
                <td>None</td>
                {% endif %}

                {% if e['present_address'] %}
                <td>
<font size="1">
                {{ e['present_address'].hno_street}}<br>
                {{ e['present_address'].address_line2}}<br>
                {{ e['present_address'].city}} <br>
                {{ e['present_address'].district}} <br>
                {{ e['present_address'].pincode}} <br>

{% set i=0 %}
{% for user in prof_status.states %}
{% if e['present_address'].state == prof_status.states[i].state_key %}
{{prof_status.states[i].state_name|upper}}<br>
{% endif %}
{% set i=i+1 %}
{% endfor %}
</font>
              <a href="/static/ViewerJS/index.html#../..{{ e['present_address'].url}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30" /></a>
                </td>

                 {%else%}
                <td>None</td>
                {% endif %}
                {% if e['permanent_address'] %}
                <td><font size="1">
                {{ e['permanent_address'].hno_street}}<br>
                {{ e['permanent_address'].address_line2}}<br>
                {{ e['permanent_address'].city}} <br>
                {{ e['permanent_address'].district}} <br>
                {{ e['permanent_address'].pincode}} <br>

{% set i=0 %}
{% for user in prof_status.states %}
{% if e['permanent_address'].state == prof_status.states[i].state_key %}
{{prof_status.states[i].state_name|upper}}<br>
{% endif %}
{% set i=i+1 %}
{% endfor %}
</font>
                <a href="{{ e['permanent_address'].url}}" target="_blank"><img src="/static/images/pdficon.png" width="30" height="30"/>
                </td>
                 {%else%}
                <td>None</td>
                {% endif %}




                 {% if e['official_email'] %}
                <td>{{ e['official_email']}}</td>
                {%else%}
                <td>None</td>
                {% endif %}


                 {% if e['official_contact'] %}
                <td>{{ e['official_contact']}}</td>
                {%else%}
                <td>None</td>
                {% endif %}

          
                <td>
<div class="col-md-6  col-xs-3">
                <form action="" method="post" name="login" >
<input type="hidden" name="id" value="{{ e.employee_id }}">
 <button type="submit" name="submit" class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top"data-original-title="Approve" id="agree" value="agree"  ><font size="1">✔</font></button>
</form>
</div>
<div class="col-md-6 col-xs-3">
  <form action="" method="post" name="login" >
<input type="hidden" name="id" value="{{e.employee_id}}">
<button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Reject" id="disagree" value="disagree"   ><font size="1">✖</font></button>
</form>
</div>

</td>
            </tr>
{% endfor %}
{% endif %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable( {
        "scrollX": true
    } );

} );

</script>
  <script type="text/javascript">
  document.getElementById('id-4').className ="nav-parent nav-active active";
      document.getElementById("c").style.display = "block";
document.getElementById('id-4.1').className ="active";
    </script>
{% endblock %}
