{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>PR Reports</h2>
      
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">PR Reports</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
 

 <form id="matlist_report" action="" method="POST" >
 
 <div class="col-md-12 ">
                  <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>Department</label>
                    <select class="form-control" id="dept" name="dept" style="width:200px" required>
                          <option value="select" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select> 
            </div>
            
                     </div>
           
        
                  <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>From Date</label> 
              <input id="Date1" type=""  class="form-control date" style="width:200px;" name="date1" required>
                     </div>
        </div>
                    
                    
                     <div class="col-xs-12 col-md-3">
           <div class="form-group">
                    <label>To Date</label>
                  
                  <input id="Date2" type=""  class="form-control date" style="width:200px;" name="date2" >
                     </div>
          </div>



        <div class="form-group">
                  <div class="col-xs-12 col-md-3">
                    <label> Functional Loc</label>

                  </div>
                  <div class="col-xs-12 col-md-3">  
                     <input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
                  </div>
             
                  </div>
</div>
<br>
<br>
<br>
<br>



<div class="col-md-12 ">

      <div class="col-xs-12 col-md-4">
      <div class="form-group">
               <label>Equipment</label> 
              <input class="form-control equipment" id="equipment" name="equipment"  type="hidden"  value="" placeholder="Equipment">
                  <input class="form-control" id="eqp_desc" name="eqp_desc"   type="hidden"  value="" >
                     </div>
        </div>
       
        <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                  
                    <label>Cost Center</label>                   
                       
            <input class="form-control cost_center" id="cost_center" name="cost_center"  type="hidden"  value="" placeholder="Cost center">
            <input class="form-control" id="cost_center_desc" name="cost_center_desc"   type="hidden"  value="" >
                    </div>
                  
                  </div>
          
        <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                  
                    <label>Asset</label>    
                   <input class="form-control assetcode" id="assetcode" name="assetcode"  type="hidden"  value="" placeholder="Asset Code" >  
                    </div>
                  
                  </div>
          
</div>
<br>
<br>
<br>
<br>

          
<div class="form-group">
 <div class="col-md-offset-4">
     ALL<input type="radio"  name="opt" id="radio_modal" value="all" checked >
     Component<input type="radio" name="opt" id="radio_modal" value="comp" >
      Service<input type="radio" name="opt" id="radio_modal" value="ser" >
     Both<input type="radio" name="opt" id="radio_modal" value="both" >
      
  </div>
</div>

        <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search">Search</button>
                      </div>  
                 </div>  
   </div>
   
 </form>
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->


<div class="row">   
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">PR Status Reports</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="row">
<table id="table" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0" border="0" >
 <thead>
            <tr>
               
                
                <th style="font-size: 12px;">Pending At/Status</th>
                <th style="font-size: 12px;">Reference ID</th>
                <th style="font-size: 12px;">Save</th>
                <th style="font-size: 12px;">PR Number</th>
                
                <th style="font-size: 12px;">PO Details</th>
                <th style="font-size: 12px;">Components/<br>Services</th>
                 <th style="font-size: 12px;">Applied On</th>
                 <th style="font-size: 12px;">RAISED ON</th>
                <th style="font-size: 12px;">Function Location</th>
                <th style="font-size: 12px;">Equipment</th>
                <th style="font-size: 12px;">Cost Center</th>
    <th style="font-size: 12px;">WBS Element</th>
    <th style="font-size: 12px;">Asset Number</th>
    <th style="font-size: 12px;">Employee Name</th>
   
   
  
            </tr>
        </thead>


        <tbody id='body'>
        {% set i=1 %} 
          {% for e in pr%}
       
      <tr>
     
      <td style="font-size: 10px;">
        {%if e['current_holder'] %}
        {{e['current_holder']}}
        {% endif %}
      </td>
       <td style="font-size: 10px;">
         {% if e['P_Datetime'] %}
        {{e['P_Datetime']}}
          {% endif %}
      </td>
      <td style="font-size: 10px; align=center">
      {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied'  and e['approval_levels'][0]['a_status'] == 'current'%}
      <div class=" col-md-2 col-md-offset-2 align=center">  
      <form action="" method="POST" align="center">          
      <input type="hidden" value="{{ e['_id']}}" name="prid" />

       <input type="hidden" id="qC{{i}}" name="qC" />

      <input type="hidden" id="desS{{i}}" name="desS" />
      <input type="hidden" id="uS{{i}}" name="unitS" />
      <input type="hidden" id="dS{{i}}" name="dateS" />
      <input type="hidden" id="qS{{i}}" name="qS" />
      <input type="hidden" id="proC{{i}}" name="proC">
      <input type="hidden" id="proS{{i}}" name="proS">

       <input type="hidden" id="dateC{{i}}" name="dateC" />
       <input type="hidden" id="unitC{{i}}" name="unitC" />
      <input type="hidden" id="specC{{i}}" name="specC" />
      <input type="hidden" id="justifyC{{i}}" name="justifyC" />

      <button  type="submit" name="submit"  value="Save" style="height:30px; width:50px;align=center" id="agree{{i}}" class="btn btn-success save"><font size="1.5">Save</font></button>
      </form>
      </div>
       {% endif %}
      </td>
      <td style="font-size: 10px;">
        {%if e['P_CBANFN'] %}
        {{e['P_CBANFN']}}
        {% endif %}
      </td>
     
      <td style="font-size: 10px;">
       {% if e['status'] == 'approved'  %}
      <!-- Modal window for Component/Services table -->

<!-- Button trigger modal -->
 <div class=" col-md-2 col-md-offset-2; align=center">            
          <div class="form-group;align=center">
                            <button id="{{e['P_CBANFN']}}"  style="height:30px; width:50px;align=center" type="button" class="btn btn-primary fetch" > <font size="1.5">Fetch</font> </button>
</div>
</div>
      <!-- Modal -->


{% endif %}
      </td>
      <td style="font-size: 10px;">
<!-- Modal window for Component/Services table -->

<!-- Button trigger modal -->
 <div class=" col-md-2 col-md-offset-2;align=center">            
          <div class="form-group;align=center">
                            <button id="show" type="button" style="height:30px; width:50px;align=center"class="btn btn-info " data-toggle="modal" data-target="#showTable{{i}}"> <font size="1.5">Show</font> </button>
</div>
</div>
      <!-- Modal -->
<div class="modal fade" id="showTable{{i}}" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createMaterialLabel"> Components/Services</h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
              <div class="row">
              <div class="col-md-12 ">
              <div class="form-group">


 {% if e['component']  %}

<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
               
                
          
                <th style="font-size: 12px;">Material</th>
                <th style="font-size: 12px;">Quantity</th>
                <th style="font-size: 12px;">UoM</th>
    <th style="font-size: 12px;">Unit Value</th>
    <th style="font-size: 12px;">Delivery Date</th>
    <th style="font-size: 12px;">Storage location</th>

{% if e['component'][0]['JUSTI'] %}

    <th style="font-size: 12px;">Justification</th>
    <th style="font-size: 12px;">PO Header Text</th>
    <th style="font-size: 12px;">Specification</th>
  {% endif %}

    <th style="font-size: 12px;">Procured at(plant or HO)</th>

    <th style="font-size: 12px;">Attachments</th>
<th style="font-size: 12px;">Deleted</th>
<th style="font-size: 12px;">Remarks</th>
            </tr>
        </thead>

        <tbody id='body1'>
{% for c in e['component'] %}
      <tr>
        
      <td style="font-size: 10px;">
           {% if c['MAT_DESC'] %}
        {{c['MAT_DESC']}}
          {% endif %} 
      </td>
      
     <td style="font-size: 10px;">
   {% if c['MENGE'] %}
     {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
 <input class="quantity mynumberC{{i}}" type="number" min="0.1" step="0.1" max="{{c['MENGE']}}" id="mynumberC{{i}}" name="quantitynew" value="{{c['MENGE']}}" onkeypress="return numberValid(event)"/>
        {% else %}
{{c['MENGE']}}
          {% endif %} 
 {% endif %} 
      </td>
      <td style="font-size: 10px;">
       {% if c['MEINS'] %}
        {{c['MEINS']}}
          {% endif %}
      </td>
      <td style="font-size: 10px;">
         {% if c['VERPR'] %}
         {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
<input id="unit{{i}}" type="number"  class="form-control unit{{i}}" min="0" step="0.1" name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{c['VERPR']}}">
                                              
        {% else %}
        {{c['VERPR']}}
         {% endif %} 
          {% endif %}
      </td>
      <td style="font-size: 10px;">
       {% if c['EEIND'] %}
         {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
 <input id="date{{i}}" type=""  class="form-control d date{{i}}" name="datenew" size="11" value="{{c['EEIND'].strftime('%d.%m.%Y')}}" readonly="readonly">
        {% else %}
        {{c['EEIND']}}
         {% endif %} 
          {% endif %}
      </td>
 <td style="font-size: 10px;">
       {% if c['LGORT'] %}
        {{c['LGORT']}}
          {% endif %}
      </td>

      <td style="font-size: 10px;">
         {% if c['JUSTI'] %}
        {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
       <input class="justify justify{{i}}"  id="justify{{i}}" name="justifynew" value="{{c['JUSTI']}}"/>

        {% else %}
        {{c['JUSTI']}}
        {% endif %}
          {% endif %}
      </td>
      <td style="font-size: 10px;">
         {% if c['POHEAD'] %}

        {{c['POHEAD']}}
          {% endif %}
      </td>
      <td style="font-size: 10px;">
       {% if c['SPEC'] %}
       {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
        <input class="specify specify{{i}}"  id="specify{{i}}" name="specifynew" value="{{c['SPEC']}}"/>
        {% else %}
        {{c['SPEC']}}
           {% endif %}
          {% endif %}
      </td>
      <td style="font-size: 10px;">
     {% if c['PROD'] %}
       {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
       <select size="1" id="procured{{i}}" class="form-control procured{{i}}" name="newprocured">
              {% if c['PROD']=="Plant"%}
                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                            {% endif %}
                            </select>
         {% else %}
        {{c['PROD']}}
         {% endif %}
          {% endif %}
      </td>
     <td style="font-size: 10px;">
      {% if c['file']%}           
 <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>

 {% endif %}
      </td>
     <td style="font-size: 10px;">
         {%  if 'disable' not in c %}
    NO
     {% else %}
     YES
     {% endif %}
     </td>
     <td style="font-size: 10px;">
      {% if c['reason'] %}
        {{c['reason']}}
          {% endif %}</td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
     {% endif %}




 {% if e['service']  %}

<table id="table2" class="table table-bordered table-striped" >
 <thead>
            <tr>
               
           
                <th style="font-size: 12px;">Service Description</th>
                <th style="font-size: 12px;">Quantity</th>
                <th style="font-size: 12px;">UoM</th>
    <th style="font-size: 12px;">Unit Value</th>
 
    <th style="font-size: 12px;">Delivery Date</th>
 <th style="font-size: 12px;">Procured at(plant or HO)</th>
    <th style="font-size: 12px;">Attachments</th>
<th style="font-size: 12px;">Deleted</th>
<th style="font-size: 12px;">Remarks</th>
            </tr>
        </thead>


    
        <tbody id="body2">
    
{% for s in e['service'] %}

      <tr>
      
      
      <td style="font-size: 10px;">
      {% if s['SER_TXT'] %}
      {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
      <input id="desc{{i}}" type="text" class="form-control desc{{i}}" name="descnew" value="{{s['SER_TXT']}}">
      {% else %}
        {{s['SER_TXT']}}
           {% endif %} 
          {% endif %}
      </td>
      <td style="font-size: 10px;">
 {% if s['MENGE'] %}
    {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
      <input class="quantity mynumberS{{i}}" type="number"  id="mynumberS{{i}}" min="0.1" step="0.1" max="{{s['MENGE']}}" name="quantitynew" value="{{s['MENGE']}}" onkeypress="return numberValid(event)"/>
      {% else %}
        {{s['MENGE']}}
         {% endif %} 
          {% endif %}
      </td>
      <td style="font-size: 10px;">
       {% if s['MEINS'] %}
        {{s['MEINS']}}
          {% endif %}
      </td>
      <td style="font-size: 10px;">
        {% if s['VERPR'] %}
           {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
            <input id="unitS{{i}}" type="number"  class="form-control unitS{{i}}" min="0" step="0.1"  name="unitnew" style="width:100px" onkeypress="return numberValid(event)" value="{{s['VERPR']}}">
      {% else %}
        {{s['VERPR']}}
         {% endif %} 
          {% endif %}
      </td>

      <td style="font-size: 10px;">
         {% if s['EEIND'] %}
            {%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
            <input id="dateS{{i}}" type="text"  class="form-control dateS{{i}}" name="datenew" size="11" value="{{s['EEIND'].strftime('%d.%m.%Y')}}" readonly="readonly">
      {% else %}
        {{s['EEIND']}}
         {% endif %} 
          {% endif %}
      </td>
 <td style="font-size: 10px;">
     {% if s['PROD'] %}
{%if e['employee_id'] == user_details['username'] and e['status'] == 'applied' and 'disable' not in c and e['approval_levels'][0]['a_status'] == 'current'%}
<select size="1" id="procuredS{{i}}" class="form-control procuredS{{i}}" name="newprocured">
 {% if s['PROD']=="Plant"%}

                          <option value="Plant" selected="selected">Plant</option>
                          <option value="HO">HO</option>
                           {% else %}
                          <option value="Plant" >Plant</option>
                          <option value="HO" selected="selected">HO</option>
                            {% endif %}
</select>
{% else %}
        {{s['PROD']}}
          {% endif %}
           {% endif %}
      </td>
      <td style="font-size: 10px;">
         {% if s['file']%}           
          <a href="/pmpr/static/pdf/gridfs/{{s['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>

 {% endif %}
      </td>
  <td style="font-size: 10px;">
    {%  if 'disable' not in s %}
    NO
     {% else %}
     YES
     {% endif %}
     </td>
     <td style="font-size: 10px;">
      {% if s['reason'] %}
        {{s['reason']}}
          {% endif %}</td>
    </tr>
    {%endfor%}
        </tbody>
    </table>


{%endif%}
</div>
          </div>
          </div>
          </div>
    
      
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
  
    </div>
  </div>
</div>
      </td>
       <td style="font-size: 10px;">
   {% if e['pr_appliedon'] %}
        {{e['pr_appliedon'].strftime('%d-%m-%Y')}}
          {% endif %}
      </td>
       <td style="font-size: 10px;">
           {% if e['P_ARBPL'] %}
        {{e['P_ARBPL']}}
          {% endif %}
      </td>
      <td style="font-size: 10px;">
        {% if e['functionlocation'] != '' %}
        {{e['functionlocation']}}
        {% else %}
        {{e['equip_funcloc']}}
        {% endif %}
      </td>
      <td style="font-size: 10px;">
      {% if e['equipment'] %}
      {{e['equip_Desc']}}--
      {{e['equipment']}}
      {% endif %}
      </td>
      <td style="font-size: 10px;">
      {% if e['costcenter'] %}
      {{e['cost_center_desc']}}--
      {{e['costcenter']}}
      {% endif %}
      </td>
      <td style="font-size: 10px;">
        {% if e['wbs_element'] %}
        {{e['wbs_element']}}
          {% endif %}     
      </td>
      <td style="font-size: 10px;">
       {% if e['assetcode'] %}
        {{e['assetcode']}}
          {% endif %}
      </td>
     
 
       <td style="font-size: 10px;">
  {% if e['employee_name'] %}
        {{e['employee_name']}}
          {% endif %}
      </td>
      </tr>


<script type="text/javascript">
  $(document).ready(function(){
    $('#agree{{i}}').one('click',function() {  
     
newData=[]

    if (document.getElementsByClassName('mynumberC{{i}}'))
    {
      var getQuantityC=document.getElementsByClassName('mynumberC{{i}}');
      for(i=0;i<getQuantityC.length;i++) {
        newData.push(getQuantityC[i].value);
        }
      document.getElementById("qC{{i}}").value=newData;
}
newData=[]
if(document.getElementsByClassName('justify{{i}}')){
      var justifyC=document.getElementsByClassName('justify{{i}}');
      for(i=0;i<justifyC.length;i++) {
        newData.push(justifyC[i].value);
        }
      document.getElementById("justifyC{{i}}").value=newData;
}
newData=[]
if(document.getElementsByClassName('specify{{i}}')){
var specC=document.getElementsByClassName('specify{{i}}');
      for(i=0;i<specC.length;i++) {
        newData.push(specC[i].value);
        }
      document.getElementById("specC{{i}}").value=newData;
  }

newData=[]
if (document.getElementsByClassName('date{{i}}'))
{
var dateC=document.getElementsByClassName('date{{i}}');
      for(i=0;i<dateC.length;i++) {
        newData.push(dateC[i].value);
        }
      document.getElementById("dateC{{i}}").value=newData;
}

newData=[]
if (document.getElementsByClassName('unit{{i}}'))
{
var unitC=document.getElementsByClassName('unit{{i}}');
      for(i=0;i<unitC.length;i++) {
        newData.push(unitC[i].value);
        }
      document.getElementById("unitC{{i}}").value=newData;
}
newData=[]
if (document.getElementsByClassName('procured{{i}}'))
{
var proC=document.getElementsByClassName('procured{{i}}');
      for(i=0;i<proC.length;i++) {
        newData.push(proC[i].value);
        }
      document.getElementById("proC{{i}}").value=newData;
}

newData=[]
if (document.getElementsByClassName('procuredS{{i}}'))
{
var proS=document.getElementsByClassName('procuredS{{i}}');
      for(i=0;i<proS.length;i++) {
        newData.push(proS[i].value);
        }
      document.getElementById("proS{{i}}").value=newData;
}
//service
newData1=[]   
    if(document.getElementsByClassName('mynumberS{{i}}'))
    { var getQuantityS=document.getElementsByClassName('mynumberS{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<getQuantityS.length;i++) {
        newData1.push(getQuantityS[i].value);
      }
      document.getElementById("qS{{i}}").value=newData1;
    
 newData1=[]
 if(document.getElementsByClassName('desc{{i}}'))
    { var desS=document.getElementsByClassName('desc{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<desS.length;i++) {
        newData1.push(desS[i].value);
      }
      document.getElementById("desS{{i}}").value=newData1;
    }

 newData1=[]
 if(document.getElementsByClassName('unitS{{i}}'))
    { var uS=document.getElementsByClassName('unitS{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<uS.length;i++) {
        newData1.push(uS[i].value);
      }
      document.getElementById("uS{{i}}").value=newData1;
    }

   newData1=[]
 if(document.getElementsByClassName('dateS{{i}}'))
    { var dS=document.getElementsByClassName('dateS{{i}}');
    /*alert(getQuantity.length);*/

    for(i=0;i<dS.length;i++) {
        newData1.push(dS[i].value);
      }
      document.getElementById("dS{{i}}").value=newData1;
    }


    }
});
  

  });

</script>


{% set i=i+1 %}
{%endfor%}
 </tbody>
 </table>

</div>

<div class="modal fade" id="fetchTable" tabindex="-1" role="dialog" aria-labelledby="createMaterialLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createMaterialLabel"> Purchase Order Details</h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
              <div class="row">
              <div class="col-md-12 ">
              <div class="form-group">
             
<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
                <th style="font-size: 12px;">Purchasing Document Number</th>
                <th style="font-size: 12px;">Purchase Order Quantity</th>
                <th style="font-size: 12px;">Pending Order Quantity</th>
                </tr>
</thead>
<tbody id="showDetails">
  
</tbody>
</table>
 
</div>
          </div>
          </div>
          </div>
    
      
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
  
    </div>
  </div>
</div>

</div><!-- panel-body -->               
</div>
</div><!-- panel -->
</div>  <!--row--> 
      
      

{% endblock %}    
{% block scripts %}

  <script type="text/javascript">
document.getElementById('id-18.4').className ="active";
    </script>

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){

 $('#table').DataTable( {
      "bSort": false,
        "retrieve": true,
       
    } ); 


$('#agree ').click(function() {
$('#table > tbody > tr > td ').click(function() {
    var rowIndex = $(this).parent().index();
    alert(rowIndex);
     var data = $(this).parent().find('#mynumber').serialize();
      alert(data);
}); 
});   
      
    
$('.fetch').click(function() {
      
alert(this.id);
var fd = new FormData();
fd.append("row",this.id);
$.ajax({
        url: '/pmpr/fetchprreport',
        data:  fd,
        type: 'POST',
        processData: false,
        dataType:"json",  
        contentType: false,
        success: function(response) {
              console.log(response['report']);
              if(response['report'][0]['check']=='0')
              {
        
           a1="" 
           console.log(response['report'][0]['return'])
           for(i=0;i<response['report'][0]['return'].length;i++)
           {
            a1=a1+"<tr><td>"+response['report'][0]['return'][i]['EBELN']+"</td><td>"+response['report'][0]['return'][i]['POMENGE']+"</td><td>"+response['report'][0]['return'][i]['PMENGE']+"</td></tr>";
           }
           console.log(a1);
          document.getElementById('showDetails').innerHTML=a1;
          $('#fetchTable').modal('toggle');
          }      
          else
          {
             bootbox.alert(response['report'][0]['msg'], function() {
           });

          }

          }
          
      
            
            
  });
});

});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#Date1").datepicker({
    dateFormat: "dd.mm.yy",
    numberOfMonths:1,
    onClose: function (selectedDate, instance) {
            if (selectedDate != '') {
                $("#Date2").datepicker("option", "minDate", selectedDate);
                var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                date.setMonth(date.getMonth() + 1);
                console.log(selectedDate, date);
                $("#Date2").datepicker("option", "minDate", selectedDate);
                $("#Date2").datepicker("option", "maxDate", date);
            }
        }
    });
  $("#Date2").datepicker({ 
        dateFormat: "dd.mm.yy",
        numberOfMonths: 1,
        onClose: function (selectedDate) {
            $("#Date1").datepicker("option", "maxDate", selectedDate);
        }
    });
});

</script>

<script type="text/javascript">
  $(document).ready(function() {
       
$('.function_location').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/functionlocation",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
          },
          id: function(excercise){
              return excercise.functional_loc;
          },
          formatAjaxError: function(){
              return 'function location Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#function_location").val(excercise.functional_loc);
            $('#func_eqp').val(excercise.cost_center);
              return excercise.functional_loc; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  /*AJAX CALL FOR EQUIPMENT FROM PMPR MODULE */
  $('.equipment').select2({
          minimumInputLength:0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/equipment",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
          },
          id: function(excercise){
              return excercise.equipment_number;
          },
          formatAjaxError: function(){
              return 'Equipment Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#equipment").val(excercise.equipment_number);
            $('#func_eqp').val(excercise.cost_center);
              return excercise.Desp_technical_object; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  /*AJAX CALL FOR COST CENTER FROM PMPR MODULE */
  $('.cost_center').select2({
          minimumInputLength: 0,
          placeholder: ' ',
          allowClear: true,
          ajax: {
                url: "/pmpr/costcenter",
                dataType: 'json',
                quietMillis: 100,
                data: function(term) {
                  return {term: term};
                },
                results: function(data) {
                    return { results: data.results }
                }
          },
          formatResult: function(excercise) { 
              return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>";
          },
          id: function(excercise){
              return excercise.cost_center;
          },
          formatAjaxError: function(){
              return 'Cost Center Does not Exist';
          },
          formatSelection: function(excercise) { 
          $("#cost_center").val(excercise.cost_center);
              return excercise.cost_center; 
          },
          initSelection : function (element, callback) {
              var elementText = $(element).attr('data-init-text');
              callback({"term":elementText});
          }
    });
  $('.assetcode').select2({
            minimumInputLength: 0,
            placeholder: ' ',
            allowClear: true,
            ajax: {
                    url: "/pmpr/asset",
                    dataType: 'json',
                    quietMillis: 100,
                    data: function(term) {
                        return { term: term };
                    },
                    results: function(data) {
                        return { results: data.results }
                    }
            },
            formatResult: function(excercise) { 
                return "<div class='select2-user-result' value="+excercise.main_asset_number+">"+excercise.asset_desc+"--"+excercise.main_asset_number+" </div>";  
            },
            id: function(excercise){
                return excercise.main_asset_number;
            },
            formatAjaxError: function(){
                return 'Asset Code Does not Exist';
            },
            formatSelection: function(excercise) { 
                $("#assetcode").val(excercise.main_asset_number);
                return excercise.asset_desc; 
            },
            initSelection : function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({"term":elementText});
            }
    });
  });
</script>
{% endblock %}
