{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">

{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>PR Status Report</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">PR Status Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
<form id="prstatus_report" action="" method="POST" >
<div class="row">

        <div class="form-group col-md-8 col-md-offset-2">
                  <div class="form-group">
                  <div class=" col-md-2">
                    <p> Pr.No</p>
                    </div>
                     <div class="col-md-3">
                     <input id="prno1"  class="form-control prno1" name="prno1" >
                     </div>
                       <div class=" col-md-1">
                      <p> To </p>
                      </div>
                      <div class="col-md-3">
                     <input id="prno2"  class="form-control prno2" name="prno2" >
                     </div>
                     </div> 


                  <div class="form-group">
                  <div class=" col-md-2">

                    <p> Pr.Date</p>
                    </div>
                    <div class="col-md-3">
                        <input id="date1"  class="form-control date1" name="date1" >
                     </div>
                       <div class=" col-md-1">
                      <p> To </p>
                      </div>
                      <div class="col-md-3">
                         <input id="date2"  class="form-control date2" name="date2" >
                         </div>
                         </div>



                    <div class="form-group">
                  <div class=" col-md-2">
                    <p> Material</p>
                       </div>
                    <div class="col-md-3">
                     <input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:130px" required>
                    </div>
                       <div class=" col-md-1">
                      <p> To </p>
                      </div>
                      <div class="col-md-3">
                         <input class="form-control material" id="material" name="material1"  type="hidden" value="" placeholder="Material" style="width:130px" required>
                  </div>
                  </div>

                  <div class="form-group">
                  <div class=" col-md-2">

                    <p> Mat Group</p>

                  </div>
                  <div class="col-md-3">
                   
                
                     <input id="group"  class="form-control group" name="group" placeholder="Material Group" style="width:130px" required >
                  </div>
                </div>
    
        </div>

   

<div class="form-group">

                 <div class="col-sm-12 col-md-2 col-md-offset-4 ">            
                       <div class="form-group">
                
                           <input id="go" type="button"   value="Go" onclick="fetch()" class="btn btn-primary btn-block">
                      </div>  
                 </div>  
   </div>

<div id="collecting" class="form-group">
</div>


</div>
</form>

        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
     
  <script type="text/javascript">
  document.getElementById('id-18').className ="nav-parent nav-active active";
      document.getElementById("g").style.display = "block";
document.getElementById('id-18.4').className ="active";
</script>   

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>

<script src="/static/js/bootstrap-datepicker.js"></script>


<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>












<script>
$(document).ready(function() {
$('#date1,#date2').datepicker({format:"dd.mm.yyyy"});


 $('.material').select2({
minimumInputLength: 3,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material1",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material").val(excercise.material);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

  $('.group').select2({
minimumInputLength: 1,
placeholder: ' ',
allowClear: true,
ajax: {
url: "/pmpr/material_grp",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material_group+">"+excercise.desc_material_group+"--"+excercise.material_group+" </div>";
},
id: function(excercise){
return excercise.material_group;
},
formatAjaxError: function(){
return 'Material Group Does not Exist';
},
formatSelection: function(excercise) {
$("#group").val(excercise.material_group);

return excercise.desc_material_group;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

});

</script>

<script type="text/javascript">
function fetch()
{
/*  alert("hello");*/
  var f=new FormData(document.getElementById("prstatus_report"));
  $.ajax({
        url: '/pmpr/getprstatusreport',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                /*  if (response['error'] == 'yes'){
              document.getElementById("collecting").innerHTML = response['msg'];
                  }
                  else{*/

$('#collecting').html('<table class="display table table-bordered table-striped" cellspacing="0"  id="table"></table>' );
$('#table').html('<thead><tr><th>Material Number</th><th>Material Description</th><th>Material Group</th><th>Purchase Requisition Number</th><th>Department</th><th>Cost Center</th><th>WBS Element</th><th>Purchase Requisition Quantity</th><th>Purchase Requisition Unit of Measure</th><th>Price in Purchase Requisition</th><th>Processing status of purchase requisition</th><th>PR Justification</th><th>Requisition (Request) Date</th><th>Purchasing Document Number</th><th>Procured At</th><th>Purchase Order Quantity</th><th>Pending PO Quantity</th><th>Account Number of Vendor or Creditor</th><th>Vendor name</th></tr></thead>');


 
 console.log(response);

  $('#table').dataTable( {
    "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls_pdf.swf",
           "aButtons": [
            {'sExtends':'copy',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'xls',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'pdf',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
             
          ]
        },
     "scrollX": true,

        "data":response['reports'] ,
        "columns": [
            { "data": "MATNR" },
            { "data" : "MAKTX" },
            { "data" : "MATKL" },
            { "data" : "BANFN" },
            { "data" : "DEPT" },
            { "data" : "KOSTL" },
            { "data" : "DISUB_PSPNR"},
            { "data" : "PRMENGE"},
            { "data" : "MEINS"},
            { "data": "PREIS" },
            { "data" : "STATU" },
            { "data" : "JUSTI" },
            { "data" : "BADAT" },
            { "data" : "EBELN" },
            { "data" : "PROCAT" },
            { "data" : "POMENGE"},
            { "data" : "PMENGE" },
            { "data" : "LIFNR"},
            { "data" : "NAME1"}

        ]
        
    } );

       
/*}*/

}

  });
}

</script>


{% endblock %}
