{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>

#table1,#table2{table-layout:fixed;}
 /* Modal Window Customize*/
/*.modal-dialog {
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i> PM Order</h2>
      	<div class="breadcrumb-wrapper">
        	<span class="label">You are here:</span>
       		<ol class="breadcrumb">         
          	<li class="active">PM Order</li>
        	</ol>
      	</div>
    </div>
{% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
    <div class="col-md-12">
  	  	<div class="panel panel-default">
	        <div class="panel-heading">
	          <div class="panel-btns">
	            <a href="#" class="panel-close">&times;</a>
	            <a href="#" class="minimize">&minus;</a>
	          </div><!-- panel-btns -->
	          <h4 class="panel-title">PM Order</h4>
	        </div><!-- panel-heading -->


		<div class="panel-body">
			<div class="form-group">               
				<div class="form-group">  
					<div class="col-md-6">
						<div class="form-group form-inline">
  							<label> Department&nbsp;</label> 
        					<select class="form-control" id="dept" name="dept" style="width:200px" required>
        							<option value="select" >Select Department</option>
          							{% if dept %}
          							{% for dep in dept%}
                                	<option  value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                	{% endfor %}
                                    {% endif %}
        					</select>
                         
						</div>

						<div class="form-group form-inline">
						  	<label>Work Center </label> 
						    <select class="form-control" id="wrk_center" name="wrk_center" style="width:200px" required>
						    		<option value="select" >Select Work Center</option>
						          	{% if work_center %}
						          	{% for wrk in work_center%}
						            <option value="{{ wrk.work_center}}">{{ wrk.work_center_desc}}</option>
				                    {% endfor %}
						            {% endif %}
						    </select>                         
						</div>

						<div class="form-group form-inline">
						 	<label >&nbsp;Header info</label>
							&nbsp;<input class="form-control" type="text" id="desc_head" placeholder="HEADER Description" style="width:200px">
						</div>
  					</div> 
                 
                    <div class=" col-md-6">

						<div class=" col-md-5 col-xs-12">
							<div class="form-group">
								<input type="radio" id="selct" name="selct" value="func"  checked="checked" onchange="leavetypefun(this.value)" >Function Loc
							</div>

							<div class="form-group">
								<input type="radio" id="selct" name="selct" value="equip" onchange="leavetypefun(this.value)">Equipment
							</div>
						</div>

 						<div class=" col-md-7 col-xs-12" >  
                     		<div id="func" class="form-group">              
                             	<input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
                            </div>
     
                        	<div id="Equip" class="form-group" >    
                              	<input class="form-control equipment" id="equipment" name="equipment" style="width:100%" type="hidden"  value="" placeholder="Equipment">
                            </div>
                                          
       						<div class="form-group" >
	                              	<input type="text" id="showoption" disabled="disabled" class="form-control">
	                              	<input type="hidden" id="showfun"  class="form-control">
	                              	<input id="dis" type="button"   value="Edit" onclick="showhide()" class="btn btn-primary btn-block">
	                              	<span id="costhide">
									<input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" required>
									</span>
									<input id="back" type="button"   value="Back" onclick="showback()" class="btn btn-primary btn-block">								                                         
							</div>
              			</div>           
                    </div>    
				</div>
			</div>

 			<div class="row ">
 
				<div class="form-group col-md-4">
					<input  type="radio" id="tabl" name="tabl" value="ZRGS"  checked="checked" onchange="tablechange(this.value)" >Component
				</div>
				<div class="form-group col-md-4">
					<input  type="radio" id="tabl" name="tabl" value="ZRSV" onchange="tablechange(this.value)" style="display:none"><!-- Services -->
				</div>
			</div>


				<form id="tradeform" action="" method="POST" enctype="multipart/form-data"  >
					<div id="component" class="form-group" >
						<table id="table1" class="display table table-bordered table-striped" cellspacing="0">
	 						<thead>
	            				<tr>
					                <th>Mat.Type</th>
					                <th>Material</th>
					                <th>Quantity</th>
					                <th>UoM</th>
					              <!--   <th style="display:none;">St.Loc</th> -->
					                <th>Unit Price</th>
					                <th>Delivery Date</th>
					                <th>Justification</th>
					                <th>PO Header Text</th>
					                <th>Specification</th>
					                <th >Procured at</th>
					                <th>Attachments</th>
									<th>Delete</th>
	  							</tr>
	        				</thead>

	        				<tbody id='body1'>
	      						<tr>

	      							<td>
	      								<select  id="Desription" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
	      							</td>
	      
								    <td>
								        <input class="form-control material" id="material" name="material1" style="width:200px" type="hidden"  placeholder="material"  >
								    </td>
	      
							      	<td>
							        	<input id="Quantity" type="number" min="0.1" step="0.1"  class="form-control quantity" name="quantity1" style="width:100px" onkeypress="return numberValid(event)" >
							      	</td>

								    <td>
								        <input id="UoM" type="text"  class="form-control UoM" name="uom1" size="10" >
								    </td>

								 <!-- s -->

								    <td>
								        <input id="Unit_Value" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">
								    </td>

								    <td>
								        <input id="Date1" type=""  class="form-control date" name="date1" size="11">
								    </td>

								    <td>
								        <input id="Justification" type="text"  class="form-control just" name="just1">
								    </td>

								    <td>
								        <input id="POHeader" type="text"  class="form-control poheader " name="poheader1">
								    </td>

								    <td>
								        <input id="Specification" type="text"  class="form-control specify" name="specify1">
								    </td>

							      	<td>
								        <select size="1" id="Procured" class="form-control procured" name="procured1">
								            <option value="Plant" selected="selected">Plant</option>
								        	<option value="HO">HO</option>
								        </select>
							      	</td>

								    <td>
								        <input  class="file" type="file" name="file1[]" style="width:90px">
								    </td>
									<td>
      									<button type="button" name="delete" onclick="deleteRow1(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>
      								</td>
	    						</tr>
	        				</tbody>
	    				</table>

	         		<div class="form-group">

	                 	<div class=" col-xs-4 col-md-2">            
	                       <div class="form-group">
	                           <input id="add1" type="button"   value="Add line item" class="btn btn-success btn-xs">
	                      </div>  
	                 	</div>  
 

	                	<div class="col-sm-12 col-md-4 col-md-offset-2 ">            
	                       <div class="form-group">
	                        	<input type="hidden"  id="topval" name="topval">
	                           	<input id="submit1" type="button" onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
	                      </div>  
	                 	</div> 

	             	</div> 

				</div>

				<div id="service" class="form-group" >
					<table id="table2" class="display table table-bordered table-striped" cellspacing="0">
	 					<thead>
	            			<tr>
				                <th>Service Description</th>
				                <th>Quantity</th>
				                <th>UoM</th>
							    <th>Unit Price</th>
							    <th>Delivery Date</th>
							    <th>Procured at</th>
							    <th>Attachments</th>
								<th>Delete</th>
							</tr>
	        			</thead>

	        			<tbody id="body2">
	      					<tr>

	      						<td>
	        						<input id="Desc" type="text" class="form-control description" name="description2">
	      						</td>

							    <td>
							        <input id="Quant" type="number" pattern="[0-9]+([\.][0-9]{1}+)?" min="0.1"  step="0.1" class="form-control quantity" name="quantity2" style="width:100px" onkeypress="return numberValid(event)">
							    </td>

						      	<td>
						        	<input class="form-control uom" id="uom" name="uom2" style="width:200px" type="hidden"  placeholder="uom"  >
						      	</td>

							    <td>
							        <input id="Unit Value" type="number"  class="form-control unitvalue" min="0" step="0.1" name="unit_value2" style="width:100px" onkeypress="return numberValid(event)">
							    </td>

							    <td>
							        <input id="Date2" type="text"  class="form-control date" name="date2" size="11">
							    </td>

						      	<td>
						        	<select size="1" id="Procured"class="form-control procured" name="procured2">
						                <option value="Plant" selected="selected">Plant</option>
						        		<option value="HO">HO</option>  
						            </select>
						      	</td>

						      	<td>
						        	<input  class="file" type="file" name="file2[]" style="width:90px">
						      	</td>
								<td>
      									<button type="button" name="delete" onclick="deleteRow2(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>
      								</td>
	    					</tr>
	        			</tbody>
	    			</table>

	           		<div class="form-group">

	                 	<div class="  col-xs-4 col-md-2">            
	                       <div class="form-group">
	                           <input id="add2" type="button"   value="Add line item" class="btn btn-success btn-xs">
	                      	</div>  
	                 	</div> 

	             

	                 	<div class="col-sm-12 col-md-4 col-md-offset-2 ">            
	                       <div class="form-group">
	                        	<input type="hidden"  id="topval" name="topval">
	                           <input id="submit2" type="button" onclick="return validateForm()"  value="Submit" class="btn btn-primary btn-block">
	                      	</div>  
	                 	</div> 

	             	</div> 
				</div>
	       </form>  
<div id="spinModal" class="modal fade" data-keyboard="false" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      	<i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>

					</div>		   
		</div><!-- panel-body -->
       	</div><!-- panel --> 
    </div>      
</div><!-- row -->


{% endblock %}  
{% block scripts %}

<script type="text/javascript">
  	document.getElementById('id-16').className ="nav-parent nav-active active";
    document.getElementById("f").style.display = "block";
	document.getElementById('id-16.1').className ="active";
</script>  

<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>


<script type="text/javascript">
/* FOR DELETE LINE ITEM */
function deleteRow1(btn) {
  	table1 = $('#table1').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table1 >#body1 >tr').length>1){
    	table1.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}
/* FOR DELETE LINE ITEM */
function deleteRow2(btn) {
  	table2 = $('#table2').DataTable();
  	var row = btn.parentNode.parentNode.rowIndex -1;
  	if($('#table2 >#body2 >tr').length>1){
    	table2.row('tr:eq('+row +')').remove().draw( false );
	} else {
       	bootbox.alert('Please don\'t delete');
    } 
  
}
/* FUNCTION DEFINED AS LEAVETYPEFUN  FOR CHANGING FUNCTION LOCATION  & EQUIPMENT OPTION ACCORDING */
	function leavetypefun(ltype){
							if(ltype=="func"){
										$('#func').show();
										$('#Equip').hide();
									   	$("#equipment").select2("val", "");
									    $("#showoption").val("");
							} else {
										$('#func').hide();
									    $("#function_location").select2("val", "");
									    $("#showoption").val("");
										$('#Equip').show();
							}
	}

/* FUNCTION DEFINED AS TABLECHANGE FOR CHANGING COMPONENT AND SERVICES TABLES ACCORDING  */
	function tablechange(chang){
							if(chang=="ZRGS"){
										$('#component').show();
										$('#service').hide();		 
							} else {
										$('#component').hide();
										$('#service').show();
						  	}
	}

</script>
<script type="text/javascript" >
	$(document).ready(function() {

		$('#Equip').hide();

		/*AJAX CALL FOR FUNCTION LOCATION FROM MODULE PMPR */
    	$('.function_location').select2({
			        minimumInputLength: 0,
			        placeholder: ' ',
			        allowClear: true,
			        ajax: {
				            url: "/pmpr/functionlocation",
				            dataType: 'json',
				            quietMillis: 100,
				            data: function(term) {
				          		return { term: term };
				            },
				            results: function(data) {
				                return { results: data.results }
				            }
			        },
			        formatResult: function(excercise) { 
			            	return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
			        },
			        id: function(excercise){
			          		return excercise.functional_loc;
			        },
			        formatAjaxError: function(){
			          		return 'function location Does not Exist';
			        },
			        formatSelection: function(excercise) { 
			    			$("#function_location").val(excercise.functional_loc);
			  				var test = excercise.cost_center;
			      			$('#showoption').val(test);
			            	return excercise.functional_loc; 
			        },
			        initSelection : function (element, callback) {
			            	var elementText = $(element).attr('data-init-text');
			            	callback({"term":elementText});
			        }
    	});

		/*AJAX CALL FOR EQUIPMENT FROM MODULE PMPR */
		$('.equipment').select2({
			        minimumInputLength:0,
			        placeholder: ' ',
			        allowClear: true,
			        ajax: {
				            url: "/pmpr/equipment",
				            dataType: 'json',
				            quietMillis: 100,
			            	data: function(term) {
			          			return { term: term };
			            						},
			  
			            	results: function(data) {
			                	return { results: data.results }
			            						}
			        },
			        formatResult: function(excercise) { 
			            	return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
			 
			        },
			        id: function(excercise){
			          		return excercise.equipment_number;
			        },
			        formatAjaxError: function(){
			          		return 'Equipment Does not Exist';
			        },
			        formatSelection: function(excercise) { 
			    			$("#equipment").val(excercise.equipment_number);
			    			var fun= excercise.functional_loc;
			    			$('#showfun').val(fun);
			    			var test = excercise.cost_center;
			      			$('#showoption').val(test);
			            	return excercise.Desp_technical_object; 
			        },
			        initSelection : function (element, callback) {
			            	var elementText = $(element).attr('data-init-text');
			            	callback({"term":elementText});
			        }
    	});

		/*AJAX CALL FOR COSTCENTER FROM MODULE PMPR */
		$('.cost_center1').select2({
			        minimumInputLength: 0,
			        placeholder: ' ',
			        allowClear: true,
			        ajax: {
				            url: "/pmpr/costcenter",
				            dataType: 'json',
				            quietMillis: 100,
				            data: function(term) {
				          		return { term: term };
				            },
							results: function(data) {
				                return { results: data.results }
				            }
			        },
			        formatResult: function(excercise) { 
			            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center_desc+"--"+excercise.cost_center+" </div>"; 
			        },
			        id: function(excercise){
			          	return excercise.cost_center;
			        },
			        formatAjaxError: function(){
			          	return 'Cost Center Does not Exist';
			        },
			        formatSelection: function(excercise) { 
			    		$("#cost_center1").val(excercise.cost_center);
			            return excercise.cost_center; 
			        },
			        initSelection : function (element, callback) {
			            var elementText = $(element).attr('data-init-text');
			            callback({"term":elementText});
	        		}
	    });
			/*AJAX CALL FOR UOM FROM MODULE PMPR */
   					$('.uom').select2({
						        minimumInputLength: 0,
						        placeholder: ' ',
						        allowClear: true,
						        ajax: {
						            url: "/pmpr/uom",
						            dataType: 'json',
						            quietMillis: 100,
						            data: function(term) {
						          		return { term: term };
						            },
						            results: function(data) {
						                return { results: data.results }
						            }
						        },
						        formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
								},
								id: function(excercise){
									return excercise.mu;
								},
								formatAjaxError: function(){
									return 'storage Location Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#uom').val(excercise.mu);
									return excercise.mu;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
								callback({"term":elementText});
								}
					});
		/*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
		$('.material').select2({
					minimumInputLength: 3,
					placeholder: ' ',
					allowClear: true,
					ajax: {
							url: "/pmpr/material",
							dataType: 'json',
							quietMillis: 100,
							data: function(term) {
								return { term: term,mtype:$('#Desription').val() };
							},
							results: function(data) {
								return { results: data.results }
							}
					},
					formatResult: function(excercise) {
						return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
					},
					id: function(excercise){
						return excercise.material;
					},
					formatAjaxError: function(){
						return 'Material Does not Exist';
					},
					formatSelection: function(excercise) {
						
						$('#table1 tr:eq(1) div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
						$('#UoM').val(excercise.bun);
						var fd = new FormData();
				fd.append("material",excercise.material);
				
				$.ajax({
				        url: '/pmpr/getquantity',
				        data: fd,
				        type: 'POST',
				        processData: false,  
				        contentType: false,
				        success: function(response) {
							a1=""
				    		for (i=1;i<=response['reports'].length;i++){
				 					a1=a1+  '<tr>'+
				                    '<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
				                    '<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
				                    '<td><input type="text" id="po_text'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly" class="text_tip" data-toggle="tooltip" data-placement="top" title= "'+response['reports'][i-1]['TDLINE']+'"></td>'+
				                    '<td><input type="text" id="unit'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
				                    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
				                    '</tr>'
							}
							bootbox.dialog({
							                size: 'large',
							                message: 
							                   
							                    '<table id="tab_modal" class="table "> ' +
							                    '<thead> ' +
							                    '<tr>'+
							                    '<th>Quantity</th>'+
							                    '<th>Storage Location</th>'+
							                    '<th>PO Text</th>'+
							                    '<th>PO Value</th>'+
							                    '<th>Action</th>'+
							                    '</tr>'+
							                    '</thead>'+
							                    '<tbody >'+
							                    a1+
							                    '</tbody>'+
							                    '</table>',
							                buttons: {
							                    success: {
							                        label: "Ok",
							                        className: "btn-primary",
							                        callback: function () {
							                          	  	a=$('#radio_modal:checked').val();
								                           	quan =  $('#unit'+a+'').val();
								                            stor= $('#po_text'+a+'').val();
								                            $('#Unit_Value').val(quan);
								                            $('#POHeader').val(stor);   
							                        }
							                    }
							                }
							});
        				}
        		});
						return excercise.material_desc;
					},
					initSelection : function (element, callback) {
						var elementText = $(element).attr('data-init-text');
						callback({"term":elementText});
					}
		});

		/*AJAX CALL FOR STORAGE LOCATION FROM MODULE PMPR */
  		$('.st_loc').select2({
			        minimumInputLength: 0,
			        placeholder: ' ',
			        allowClear: true,
			        ajax: {
				            url: "/pmpr/storage",
				            dataType: 'json',
				            quietMillis: 100, 
				            data: function(term) {
				          		return { term: term };
				            },
				            results: function(data) {
				                return { results: data.results }
				            }
			        },
			      	formatResult: function(excercise) {
						return "<div class='select2-user-result' value="+excercise.storage_loc+">"+excercise.desc_storage_loc+"--"+excercise.storage_loc+" </div>";
					},
					id: function(excercise){
						return excercise.storage_loc;
					},
					formatAjaxError: function(){
						return 'storage Location Does not Exist';
					},
					formatSelection: function(excercise) {
						$("#st_loc").val(excercise.storage_loc);
						return excercise.desc_storage_loc;
					},
					initSelection : function (element, callback) {
						var elementText = $(element).attr('data-init-text');
					callback({"term":elementText});
					}
		});
});
</script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
	function numberValid(evt){
			   		var charCode = (evt.which) ? evt.which : evt.keyCode ;
			    	if ( charCode > 31 && (charCode < 48 || charCode > 57)  && charCode != 46 ) {
			        		return false;
    				} else {
							return true;
      				} 
	}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
  	$('.quantity,.unitvalue,.date ').bind("cut copy paste",function(e) {
          e.preventDefault();
    });
</script>

<script type="text/javascript">
/*SHOWHIDE AND SHOWBACK FUNCTION FOR EDIT OPTION*/ 
	function showhide() { 
				  $('#showoption').hide();
				  $('#dis').hide();
				  $('#costhide').show();
				  $('#back').show();
	}

	function showback() {
				  $("#cost_center1").select2("val", "");
				  $('#showoption').show();
				  $('#dis').show();
				  $('#costhide').hide();
				  $('#back').hide();
	}
</script>

<script type="text/javascript">
$('#spinModal').modal('hide');
/*INITIALIZING TOOLTIP FOR MATERIAL DESCRIPTION*/
$('div.select2-container').tooltip();
$('text_tip').tooltip();
/*INITIALISING DATATABLES,DATEPICKER AND FILESTYLE */
	$(document).ready(function(){
  		$('#costhide').hide();
  		$('#back').hide();	
        table1 = $('#table1').DataTable( {
                			"retrieve": true,
					      	"scrollX": "100%",
					       	"paging": false,
					       	"bFilter": false,
					        "bSort": false,
							"columnDefs": [
									{ "width": "100px", "targets": 0},
					      			{ "width": "200px", "targets": 1},
					    			{ "width": "100px", "targets": 2},
					    			{ "width": "100px", "targets": 3},
									/*{ "width": "200px", "targets": 4},*/
					      			{ "width": "100px", "targets": 4},
					    			{ "width": "100px", "targets": 5},
					    			{ "width": "100px", "targets": 6},
					     			{ "width": "100px", "targets": 7},
					      			{ "width": "100px", "targets": 8},
					    			{ "width": "100px", "targets": 9},
					    			{ "width": "200px", "targets": 10}
					  		]
    	} );
		
    	table2 = $('#table2').DataTable( {
    						"retrieve": true,
					      	"scrollX": "100%",
					    	"bFilter": false,
					       	"paging": false,
					        "bSort": false,
					       	"columnDefs": [
									{ "width": "200px", "targets": 6}
					  		]  
    	} );     
      
      	$('#Date1,#Date2').datepicker({
      				format:"dd.mm.yyyy",
      				todayHighlight: true ,
      				startDate: "+0d", 
      				autoclose: true
      	});

      	$('#table1 input[type=file],#table2 input[type=file]').change(function () {
        			var val = $(this).val().toLowerCase();
        			var pdfFormat = new RegExp("(.*?)\.(pdf)$");
        			if(val!=""){
        					if(!(pdfFormat.test(val))) {
          							$(':file').filestyle('clear');    
          							bootbox.alert('Unsupported file pdf format only');
          							$(this).val('');
        					}
      				}
      	}); 
    	/*FOR ADD LINE ITEM*/
		var row=0;
      	$('#add1').on('click',function(){
					row = row +1 ;
					table1.row.add([
					    '<select  id="Desription'+row+'" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
					    '<input class="form-control material'+row+'" id="material'+row+'" name="material1" style="width:200px" type="hidden" value="" placeholder="material" >',
					    '<input id="Quantity" type="number"  class="form-control quantity" min="0.1" step="0.1"  name="quantity1" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input id="UoM'+row+'" type="text"  class="form-control uom" name="uom1" size="10" >',
					    /*'<input  style="display:none;" class="form-control st_loc'+row+'" id="st_loc'+row+'" name="st_loc" style="width:200px" type="hidden"  placeholder="Store Location" >',*/
					    '<input id="Unit_Value'+row+'" type="number" min="0" step="0.1" class="form-control unitvalue" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input id="DeliveryDate" type=""  class="form-control date" name="date1" size="11">',
					    '<input id="Justification" type="text"  class="form-control just" name="just1">',
					    '<input id="POHeader'+row+'" type="text"  class="form-control poheader" name="poheader1">',
					    '<input id="Specification" type="text"  class="form-control specify" name="specify1">',
					    '<select size="1" id="Procured"class="form-control procured" name="procured1"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
					    '<input  class="file" type="file"  name="file1[]" style="width:90px">',
						'<button type="button" name="delete" onclick="deleteRow1(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>'
              		]).draw();



$('input').hover(function() {
    $(this).attr('title', $(this).val());
});



					var x=row;
					var y = x+1;
					/*AJAX CALL FOR MATERIAL FROM MODULE PMPR */
					$('.material'+x+'').select2({
								minimumInputLength: 3,
								placeholder: ' ',
								allowClear: true,
								ajax: {
										url: "/pmpr/material",
										dataType: 'json',
										quietMillis: 100,
										data: function(term) {
											return { term: term,mtype:$('#Desription'+x+'').val() };
										},
										results: function(data) {
											return { results: data.results }
										}
								},
								formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
								},
								id: function(excercise){
									return excercise.material;
								},
								formatAjaxError: function(){
									return 'Material Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#UoM'+x+'').val(excercise.bun);
									$('#material'+x+'').val(excercise.material);
									$('#table1 tr:eq('+y+') div.select2-container').attr('title',excercise.material_desc+"--"+excercise.material);
									var fd = new FormData();
					fd.append("material",excercise.material);
					$.ajax({
					        url: '/pmpr/getquantity',
					        data: fd,
					        type: 'POST',
					        processData: false,  
					        contentType: false,
					        success: function(response) {
								a1=""
								for (i=1;i<=response['reports'].length;i++) {
								 	a1=a1+  '<tr>'+
								 	'<td><input type="text" id="quan_modal'+i+'" value="'+response['reports'][i-1]['LABST']+'" readonly="readonly"></td>'+
									'<td><input type="text" id="stor_modal'+i+'" value="'+response['reports'][i-1]['LGORT']+'" readonly="readonly"></td>'+
									 '<td><input type="text" id="po_text'+i+'" value="'+response['reports'][i-1]['TDLINE']+'" readonly="readonly" class="text_tip" data-toggle="tooltip" data-placement="top" title= "'+response['reports'][i-1]['TDLINE']+'"></td>'+
				                    '<td><input type="text" id="unit'+i+'" value="'+response['reports'][i-1]['EX_POVALUE']+'" readonly="readonly"></td>'+
								    '<td><input type="radio" id="radio_modal" value="'+i+'" ></td>'+
								    '</tr>'
								}
								bootbox.dialog({
								                size: 'large',
								                message: 
								                   
								                    '<table id="tab_modal" class="table"> ' +
								                    '<thead> ' +
								                    '<tr>'+
								                    '<th>Quantity</th>'+
								                    '<th>Storage Location</th>'+
								                    '<th>PO Text</th>'+
							                    	'<th>PO Value</th>'+
								                    '<th>Action</th>'+
								                    '</tr>'+
								                    '</thead>'+
								                    '<tbody >'+
								                     a1+
								                    
								                    '</tbody>'+
								                    '</table>',
								                buttons: {
								                    success: {
								                        label: "Ok",
								                        className: "btn-primary",
								                        callback: function () {
								                          	a=$('#radio_modal:checked').val();
								                           	quan =  $('#unit'+a+'').val();
								                            stor= $('#po_text'+a+'').val();
								                            $('#Unit_Value'+x+'').val(quan);
								                            $('#POHeader'+x+'').val(stor);  
								                        }
								                    }
								                }
								});
							}
				        
				    });
									return excercise.material_desc;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
									callback({"term":elementText});
								}
					});

					/*AJAX CALL FOR STORAGE LOCATION FROM MODULE PMPR */
   					$('.st_loc'+row+'').select2({
						        minimumInputLength: 0,
						        placeholder: ' ',
						        allowClear: true,
						        ajax: {
						            url: "/pmpr/storage",
						            dataType: 'json',
						            quietMillis: 100,
						            data: function(term) {
						          		return { term: term };
						            },
						            results: function(data) {
						                return { results: data.results }
						            }
						        },
						        formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.storage_loc+">"+excercise.desc_storage_loc+"--"+excercise.storage_loc+" </div>";
								},
								id: function(excercise){
									return excercise.storage_loc;
								},
								formatAjaxError: function(){
									return 'storage Location Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#st_loc'+row+'').val(excercise.storage_loc);
									return excercise.desc_storage_loc;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
								callback({"term":elementText});
								}
					});

        			$('.date').datepicker({
		        				format:"dd.mm.yyyy",
		        				todayHighlight: true ,
		        				startDate: "+0d", 
		        				autoclose: true
		        	});
        			
        			$('#table1 input[type=file]').change(function () {
					          	var val = $(this).val().toLowerCase();
					          	var pdfFormat = new RegExp("(.*?)\.(pdf)$");
  								if(val != ""){
						          	if(!(pdfFormat.test(val))) {
							          	$(':file').filestyle('clear');        
							          	bootbox.alert('Unsupported file pdf format only');
							          	$(this).val('');
						          	}
								}
        			}); 
        });
 		/* FOR DELETE LINE ITEM */
   		/*$("#delete1").click(function(){
      			if($('#table1 >#body1 >tr').length>1){
          				table1.row('tr:last').remove().draw( false );
        		} else {
            		bootbox.alert('Please don\'t delete');
          		}      
    	}); */
   		/* FOR ADD LINE ITEM */
   		var row1=0;
      	$('#add2').on( 'click', function () {
           			row1 = row1 +1 ;
		            table2.row.add([
					    '<input id="Desc" type="text" class="form-control description" name="description2">',
					    '<input id="Quant" type="number"  class="form-control quantity"  pattern="[0-9]+([\.][0-9]{1}+)?" min="0.1"  step="0.1" onkeypress="return numberValid(event)" name="quantity2" style="width:100px" >',
					    '<input class="form-control uom'+row1+'" id="uom'+row1+'" name="uom2" style="width:200px" type="hidden"  placeholder="uom"  >',
					    '<input id="Unit Value" type="number" min="0"  step="0.1" class="form-control unitvalue" name="unit_value2" style="width:100px" onkeypress="return numberValid(event)">',
					    '<input id="DeliveryDate" type=""  class="form-control date" name="date2" size="11">',
					    '<select size="1" id="Procured"class="form-control procured" name="procured2"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option>',
					    '<input  class="file" type="file" name="file2[]" style="width:90px">',
						'<button type="button" name="delete" onclick="deleteRow2(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">X</font></button>'
		            ] ).draw();
					var x=row1;
					var y = x+1;
      				$('.date').datepicker({
	      					format:"dd.mm.yyyy",
	      					todayHighlight: true ,
	      					startDate: "+0d", 
	      					autoclose: true
      				});
      				/*AJAX CALL FOR UOM FROM MODULE PMPR */
   					$('.uom'+row1+'').select2({
						        minimumInputLength: 0,
						        placeholder: ' ',
						        allowClear: true,
						        ajax: {
						            url: "/pmpr/uom",
						            dataType: 'json',
						            quietMillis: 100,
						            data: function(term) {
						          		return { term: term };
						            },
						            results: function(data) {
						                return { results: data.results }
						            }
						        },
						        formatResult: function(excercise) {
									return "<div class='select2-user-result' value="+excercise.mu+">"+excercise.mu+"</div>";
								},
								id: function(excercise){
									return excercise.mu;
								},
								formatAjaxError: function(){
									return 'storage Location Does not Exist';
								},
								formatSelection: function(excercise) {
									$('#uom'+row1+'').val(excercise.mu);
									return excercise.mu;
								},
								initSelection : function (element, callback) {
									var elementText = $(element).attr('data-init-text');
								callback({"term":elementText});
								}
					});

      				$('#table2 input[type=file]').change(function () {
          					var val = $(this).val().toLowerCase();
          					var pdfFormat = new RegExp("(.*?)\.(pdf)$");
        					if(val!=""){
						        if(!(pdfFormat.test(val))) {
						            $(':file').filestyle('clear');        
						            bootbox.alert('Unsupported file pdf format only');
						            $(this).val('');
						        }
        					}
      				});
        });
		/* FOR DELETE LINE ITEM */
    	/*$("#delete2").click(function(){
      		if($('#table2 >#body2 >tr').length>1){
          		table2.row('tr:last').remove().draw( false );
        	} else {
            	bootbox.alert('Please don\'t delete');
          	}      
    	}); */
 		$('#service').hide();
	});
</script>

<script type="text/javascript" >
/*FORM VALIDATION AND MODAL WINDOW */
function validateForm() {
    submit = "";
    var deptvalue = $('#dept option:checked').val();
	 	if(deptvalue!="select"){
                submit = true;
        } else {
            bootbox.alert("Please fill Department");
            submit = false;
            return false;
            }
        var wrk_centervalue = $('#wrk_center option:checked').val();
	 	if(wrk_centervalue!="select"){
                submit = true;
            } else {
                bootbox.alert("Please fill Work Center");
                submit = false;
                return false;
            }


    var selectvalue = $('input[name="selct"]:checked').val();

    if(selectvalue == "func"){
	    var function_locvalue = $('#function_location').val();
	    if(function_locvalue!=""){
	        submit = true;
	    } else {
	       	bootbox.alert('Please fill Function Location');
	        submit = false;
	        return false;
	    }
    } else {
	    var equipvalue = $('#equipment').val();
	    if(equipvalue!=""){
	        submit = true;
	    } else {
	       	bootbox.alert('Please fill Equiment Number');
	        submit = false;
	        return false;
	    }
    }

    var headertext = $('#desc_head').val();
    if(headertext!=""){
        submit = true;
    } else {
        bootbox.alert("Please fill Header info");
        submit = false;
        return false;
    }

    var tabl = $('input[name="tabl"]:checked').val();
    if(tabl == 'ZRGS'){
        var table1 = $("#table1 #body1");
        store = [ ];
        table1.find('tr').each(function (i) {
          	var row = this.rowIndex;
          	var tdr = $(this).find('td');
            var material = tdr.find('input[name="material1"]').val();
            var quantity = tdr.find('input[name="quantity1"]').val();
            var stloc = tdr.find('input[name="st_loc"]').val();
            var unitvalue = tdr.find('input[name="unit_value1"]').val();
            var date = tdr.find('input[name="date1"]').val();
            var just = tdr.find('input[name="just1"]').val();
            var poheader = tdr.find('input[name="poheader1"]').val();
            var specify = tdr.find('input[name="specify1"]').val();

            if(material!=""){
            	// alert(material);
                var compare = jQuery.inArray(material,store);
                if(compare <=-1) {
                    submit = true ;
				} else {
					bootbox.alert("Material in row "+row+" already exists");
                    submit = false ;
                    return false; 
                }
                store.push(material);
          	} else {
                bootbox.alert("Please fill Material in row "+row);
                submit = false;
                return false;
          	}

            if(quantity != 0){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }


            if(unitvalue != ""){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var unitval = num.test(unitvalue);
                if(unitval){
                    submit = true ;
                } else {
                    bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
                submit = false ;
                return false;
            }

            if(date!="") {
                submit = true;
            } else {
                bootbox.alert("Please pick a Date in row "+row);
                submit = false ;
                return false;
            }

            if(just!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Justification in row "+row);
                submit = false;
                return false;
            }

            if(poheader!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill PO Header in row "+row);
                submit = false;
                return false;
            }

            if(specify!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Specification in row "+row);
                submit = false;
                return false;
            }
        });     

    } else {
       	var table2 = $("#table2 #body2");
       	table2.find('tr').each(function (i) {
          	var row = this.rowIndex;          
          	var tdr = $(this).find('td');
            var description = tdr.find('input[name="description2"]').val();
            var quantity = tdr.find('input[name="quantity2"]').val();
            var unitvalue = tdr.find('input[name="unit_value2"]').val();
            var date = tdr.find('input[name="date2"]').val();
            var file = tdr.find('input[type="file"]').val().replace(/C:\\fakepath\\/i, '');
            
            if(description!=""){
                submit = true;
            } else {
                bootbox.alert("Please fill Description in row "+row+" takes only alphabets");
                submit = false;
                return false;
            }

            if(quantity != 0){
               	var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var quan = num.test(quantity);
                if(quan){
                    submit = true ;
                } else {
                    bootbox.alert("Quantity in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Quantity should be more than ZERO.Please checked in row "+row);
                submit = false ;
                return false;
            }

            if(unitvalue != ""){
                var num = /^[0-9]+(\.[0-9]{1,2})?$/;
                var unitval = num.test(unitvalue);
                if(unitval){
                    submit = true ;
                } else {               
                    bootbox.alert("Unit Value in row "+row+" change it to 2 decimal values");
                    submit = false ;
                    return false;
                }
            } else {
                bootbox.alert("Please fill Unit Value in row "+row+" only 2 decimal values");
                submit = false ;
                return false;
            }

            if(date!="") {
              	submit = true;
            } else {
                bootbox.alert("Please pick a Date in row "+row);
                submit = false ;
                return false;
            }
		});      
	}

	if(submit){
		$('#submit1,#submit2').attr('disabled', 'disabled');
		$('#spinModal').modal('show');
		a=[]
		dept= document.getElementById('dept').value;
		wrk_center= document.getElementById('wrk_center').value;
		selct=document.querySelector('input[name="selct"]:checked').value;
		equipment=document.getElementById('equipment').value;
		tabl=document.querySelector('input[name="tabl"]:checked').value;
		function_location=document.getElementById('function_location').value;
		deptid= $('#dept option:selected').text();
		showcost= document.getElementById('showoption').value;
		cost_center1=document.getElementById('cost_center1').value;
		deschead=document.getElementById('desc_head').value;

		var d = new Date();
		var month = d.getMonth()+1;
		var day = d.getDate();
		var hour = d.getHours();
		var minute = d.getMinutes();
		var second = d.getSeconds();
		var output =  ((''+day).length<2 ? '0' : '') + day + '' +
		              ((''+month).length<2 ? '0' : '') + month + '' +
		              d.getFullYear() + '' +
		              ((''+hour).length<2 ? '0' :'') + hour + '' +
		              ((''+minute).length<2 ? '0' :'') + minute + '' +
		              ((''+second).length<2 ? '0' :'') + second;

		a.push(dept); //0
		a.push(tabl); //1
		a.push(selct); //2
		a.push(function_location);//3
		a.push(equipment);//4
		if (document.getElementById('cost_center1').value == 0) { 
		  	cost_center1 = document.getElementById('showoption').value;
		  	a.push(cost_center1);//5
		} else {
		  cost_center1=document.getElementById('cost_center1').value;
		  a.push(cost_center1);//5
		}
		a.push(wrk_center);//6
		a.push(deptid);//7
		a.push(deschead);//8
		a.push(output); //9
		if( selct = 'equip'){
			equip_funcloc=document.getElementById('showfun').value;
			a.push(equip_funcloc);//10
		}
		alert(a);
		document.getElementById("topval").value=a; 
		

		var fd = new FormData(document.getElementById("tradeform"));
		$.ajax({
		        url: '/pmpr/prcreation',
		        data:  fd,
		        type: 'POST',
		        processData: false,  
		        contentType: false,
		        dataType: "json",
		        success: function(response) {
		          		console.log(response['report']);
		              	if(response['report'][0]['check']=='0') {
		             		bootbox.alert(response['report'][0]['msg'], function() {location.reload(true);});   
		        			
		          		} else {
							$('#spinModal').modal('hide');
			          		$('#submit1,#submit2').removeAttr('disabled');
		             		bootbox.alert(response['report'][0]['msg'], function() {});
							
		          		}
		        }
		});
		return false;
		}
}
</script>
<script>
$(document).ready(function(){ 

$('input').hover(function() {
    $(this).attr('title', $(this).val());
});
});

</script>
{% endblock %}

