{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
 <style > 
label {
  display: inline-block;
  width: 140px;
  text-align: left;
}​
#left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%; 
  }
  
 /* #right {
    position: absolute;
    top:90px;
    bottom:90px;
    right: 0;
    width: 25%;
  }*/
   #right {
    position: absolute;
    top:90px;
    bottom:90px;
    right: 0;
    width: 25%;
  }
 </style>
{% endblock %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Resume Data Bank</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>   -->
<script type="text/javascript">
   document.getElementById('id-32').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral1').style.display = "block";
  document.getElementById('id-32.1').className ="active";
  document.getElementById('r').style.display = "block";
  document.getElementById('id-32.1.1').className ="active";
</script>
<div class='row'>
 <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Upload Profile</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        <form  action="" method="POST" id="upload_resume" enctype="multipart/form-data">
	       <div class='row'>
	      <div class="col-sm-12" id="left">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-2">
        <label>Applicant Name :</label>
        </div>

        <div class="col-sm-12 col-md-3">
            <input class="form-control" maxlength="30" type='textbox' id='name' name='name' placeholder="Enter Applicant Name" style="width:300px;">
        </div>
        <div class="col-sm-12 col-md-2"></div>
        </div>
        
        <div class="col-sm-12" id="right">
        <div class="col-sm-12 col-md-3">
          

        <img id="blah1" name="" src="/static/images/profile.jpg"  alt="" height="80"  style="width:130px;">
            <br>
            <br>
            <input type="file" data-buttonText="Choose Image" class="filestyle"  data-iconName="glyphicon glyphicon-user" data-input="false" data-buttonName="btn-warning" data-badge="false" name="image_to_upload"  id="image_to_upload" class="browse" onchange="readURL1(this);"/>
            
      </div>
        
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12">
        <div class="col-md-12 col-md-2"></div>
        <div class="col-md-12 col-md-2">
        <label>Email ID:</label>
        </div>

        <div class="col-md-12 col-md-4">
            <input class="form-control" maxlength="100" type='text' id='email_id' name='email_id' placeholder="Enter Email ID" style="width:300px;" >
        </div>
        </div>
        <br>
        <br>
        <br>
        
        <div class="col-md-12">
        <div class="col-md-12 col-md-2"></div>
	      <div class="col-md-12 col-md-2">
        <label>Referred By :</label>
        </div>

        <div class="col-md-12 col-md-4">
            <input class="form-control" maxlength="100" type='text' id='referedby' name='referedby' placeholder="Enter Referer Name" style="width:300px;" >
        </div>
        </div>
        <br>
        <br>
        <br>
        
        <div class="col-md-12">
        <div class="col-md-12 col-md-2"></div>
        <div class="col-md-12 col-md-2">
          <label>Department :</label>
        </div>

         <div class="col-md-12 col-md-4">
            <select class="form-control" id="dept" name="dept" style="width:300px" required>
                          <option value="" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select>  
        </div>
        </div>
        <br>
        <br>
         <br>
        
     
        <div class="col-md-12">
        <div class="col-md-12 col-md-2"></div>
        <div class="col-md-12 col-md-2">
        <label>Qualification :</label>
        </div>
        <div class="col-md-12 col-md-4">
            <input class="form-control" maxlength="10" type='text' id='qualification' name='qualification' placeholder="Enter Qualification" style="width:300px;" >
        </div>
        </div>
        <br>
        <br>
         <br>

         <div class="col-md-12">
      <div class="col-md-12 col-md-2"></div>
        
        
         <div class="col-md-12 col-md-2">
         <label>Current Location :</label>
        </div>

        <div class="col-md-12 col-md-4">
            <input class="form-control" maxlength="30" type='textbox' id='location' name='location' placeholder="Enter Location" style="width:300px;">
        </div>


    </div>
        <br>
        <br>
         <br>

  <div class="col-md-12">
      <div class="col-md-12 col-md-2"></div>
        
        
         <div class="col-md-12 col-md-2">
         <label>Village :</label>
        </div>

        <div class="col-md-12 col-md-4">
            <input class="form-control" maxlength="30" type='textbox' id='village' name='village' placeholder="Enter Village" style="width:300px;">
        </div>


    </div>
        <br>
        <br>
         <br>

  <div class="col-md-12">
      <div class="col-md-12 col-md-2"></div>
        
        
         <div class="col-md-12 col-md-2">
         <label>District :</label>
        </div>

        <div class="col-md-12 col-md-4">
            <input class="form-control" maxlength="30" type='textbox' id='district' name='district' placeholder="Enter District" style="width:300px;">
        </div>


    </div>
        <br>
        <br>
         <br>
        
    <div class="col-md-12" >
    <div class="col-md-12 col-md-2"></div>
        <div class="col-md-12 col-md-2">
        <label>Total Experience :</label>
            
        </div>

         <div class="col-md-12 col-md-4">
        
            <input class="form-control" maxlength="10" type='number' id='experience' name='experience' min="0" step="0.1" placeholder="Enter Exp in Years"  style="width:300px;" >
        </div>

        
    
       

    </div>
        <br>
        <br>
         <br>


        
       
        <div class="col-md-12">
        <div class="col-md-12 col-md-2"></div>
        <div class="col-md-12 col-md-2">
        <label>Upload Resume :</label>     
        </div>

        <div class="col-md-12 col-md-4">
        <input type="file" id="resume" accept="application/pdf/doc/docx" class="form-control input-sm" name="resume" required 
        onchange="readURL2(this);"/ style="width:300px;">
            
        </div>
	      

      </div>
        <br>
        <br>
         <br>
        
      
      
    
    
    <div class="form-group">

                 <div class="col-sm-12 col-md-1 col-md-offset-5 ">            
                       <div class="form-group">
                       <button  type="submit" name="submit" value="Submit" class="btn btn-primary search">
                        Submit</button>
                      </div>  
                 </div>  
   </div>


   </div>
      
</form> 
</div><!-- panel-body -->
</div><!-- panel -->
</div>        
</div><!-- row -->


<script type="text/javascript">
function readURL1(input) {
var fileName = $( "#image_to_upload" ).val();
var fileExt = fileName.split('.').pop();
var arr = ['jpg', 'jpeg', 'gif', 'png', 'JPG', 'JPEG', 'GIF', 'PNG'];
if( jQuery.inArray( fileExt, arr ) < 0 )
  {
    bootbox.alert("Please select a jpg, jpeg, gif or png file.", function() {
           }); 
    input.value="";
    return false;
  }

else if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah1')
                        .attr('src', e.target.result)
                         $('#blah2')
                        .attr('src', e.target.result)
                         $('#blah3')
                        .attr('src', e.target.result)

                         $("#change").hide();
                        $("#show").show();
                         $("#p").show();

                        
                
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
  </script>


<script type="text/javascript">


function readURL2(input) {
var fileName = $( "#resume" ).val();
var fileExt = fileName.split('.').pop();

var arr = ['docx', 'doc', 'pdf'];
if( jQuery.inArray( fileExt, arr ) < 0 )
  {
    bootbox.alert("Please select a pdf, docx, doc file.", function() {
           }); 
    input.value="";
    return false;
  }
        }
  </script>
  


{% endblock %} 