{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
 <style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Applicants Information</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
    <script type="text/javascript">
   document.getElementById('id-32').className ="nav-parent nav-active active";
    document.getElementById('menu-lateral1').style.display = "block";
  document.getElementById('id-32.1').className ="active";
  document.getElementById('r').style.display = "block";
  document.getElementById('id-32.1.2').className ="active";
</script>

<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
	<div class="panel-heading">
        <div class="panel-btns">
        	<a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Search Profiles    <button id="button" style="width:30px;height:30px;" onclick="showhide()" class="btn btn-primary  glyphicon glyphicon-search"></button></h4>
    </div><!-- panel-heading -->
	{% if documents %}
    <div class="panel-body" id="newpost" style="display:none">
    {%else%}
    <div class="panel-body" id="newpost">
    {%endif%}
    <form  action="" method="POST" id="apl">
        <div class="row">
         <div class="col-md-12">
			<div class="col-xs-12 col-md-3">
              <lable>Applicant Name</lable>                  
				<input class="form-control" maxlength="50" type='textbox' id='name' name='name' placeholder="Search Applicant Name" style="width:200px;" >
			</div>	
          <div class="col-xs-12 col-md-3">
          <label>Department</label>
                 <select class="form-control" id="dept" name="dept" style="width:200px">
                          <option value="" >Select Department</option>
                          {% if dept %}
                          {% for dep in dept%}
                          <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                          {% endfor %}
                          {% endif %}
                      </select>  
          </div>
          <div class="col-xs-12 col-md-3">
          <div class="form-group">
                    <label>From Date</label>
                      <input id="start_date" type="text" name="start_date" value='' style="width:200px;" class="form-control start_date" placeholder="Select From Date">
          </div>
          </div>

           <div class="col-xs-12 col-md-3">
            <div class="form-group">
                      <label >To Date</label>
                       <input id="end_date" type="text" name="end_date" value='' style="width:200px;" class="form-control end_date" placeholder="Select To Date"></div>
          </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          
        <div class="col-md-12">
        <div class="col-md-12 col-md-3">
        <label>Referred By</label>
            <input class="form-control" maxlength="10" type='text' id='referedby' name='referedby' placeholder="Search by Referer Name" style="width:200px;" >
        </div>
     
        
        <div class="col-md-12 col-md-3">
        <label>Qualification</label>
            <input class="form-control" maxlength="10" type='text' id='qualification' name='qualification' placeholder="Search by Qualification" style="width:200px;" >
        </div>

         <div class="col-md-12 col-md-3">
         <label>Current Location</label>
            <input class="form-control" maxlength="30" type='textbox' id='location' name='location' placeholder="Search by Location" style="width:200px;">
        </div>

        <div class="col-xs-12 col-md-3">
           <div class="form-group">
           <label>Experience in Years</label>
                   <input class="form-control" maxlength="10" type='number' id='experience' name='experience' min="0" step="0.1" placeholder="Search Experience" style="width:200px;">
          </div>
          </div>

         
        

        
        

      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md-12">
        <div class="col-md-12 col-md-3">
        <!-- <label>Referred By</label>
            <input class="form-control" maxlength="10" type='text' id='referedby' name='referedby' placeholder="Search by Referer Name" style="width:200px;" > -->
        </div>
     
        
        <div class="col-md-12 col-md-3">
         <div class="form-group">
           <label>District</label>
                   <input class="form-control" maxlength="30" type='textbox' id='district' name='district' placeholder="Search by District" style="width:200px;">
          </div>
        </div>

         <div class="col-md-12 col-md-3">
         <label>Village</label>
            <input class="form-control" maxlength="30" type='textbox' id='village' name='village' placeholder="Search by village" style="width:200px;">
        </div>

        <div class="col-xs-12 col-md-3">
          
          </div>

         
        

        
        

      </div>
      <div class="col-xs-6 col-md-2 col-md-offset-5"> 
                   <div class="form-group">
                   <br>
                        <input type="submit" name="submit"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                       </div>
                   </div>
        </div>

                  
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      </div>
{% if documents %}
<div class="row" style="margin-left: 5px;margin-right: 5px;">
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
    	<div class="panel-btns">
        <a href="#" class="panel-close">&times;</a>
        <a href="#" class="minimize">&minus;</a>
        </div><!-- panel-btns -->
    <h4 class="panel-title">Profiles Information</h4>
    </div><!-- panel-heading -->
    <div class="panel-body">
      <div class="row">
               
	<div class="col-md-12">
	<div class="table-responsive">
        <form method="POST">
			<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        	<thead>                  

              <tr >
                <th>Application<br> ID</th>
                <th>Applicant Name</th>
                <th>Referred By</th>
                <th>Experience</th>
				<th>Department</th>
                <th>Location</th>
                <th>Qualification</th>
                <th>Applicant <br>Image</th>
                <th>Download</th>
                <!-- <th align="center">Select All
                <br>
                
                <input type="checkbox"  id="selectAll" align="center"></th> -->

            </tr>
        </thead>

        <tbody>
          {% for e in documents %}

            <tr>
                <td align="center">{{ e['application_ID']}}</td>
                <td align="center">{{ e['applicant_name']}}</td>
                <td align="center">{{ e['reference_by']}}</td>
                <td align="center">{{ e['experience']}}</td>  
				        <td align="center">
                    {{ e['department_desc'] }}
                </td>
                <td align="center">{{ e['location']}}</td>
                <td align="center">{{ e['qualification']}}</td>
                <td align="center">
                {%if e['application_ID'] %}
                {%for user_img in user_image%}
                {%if user_img['application_ID']==e['application_ID'] %}
                <img  name=""  src="{{"/resumebank/static/img/gridfs/"+user_img['file_name']}}" class="thumbnail img-responsive" alt="" width="50" height="50" />
                 {%endif%}
                {%endfor%}
                {%endif%}
                </td>
                <td align="center">
                {%if e['application_ID'] %}
                {%for user_doc in user_profile%}
                {%if user_doc['application_ID']==e['application_ID'] %}
                 <a href="{{"/resumebank/static/pdf/gridfs/"+user_doc['file_name']}}" target="_blank"><img src="/static/images/Word_Docs.png" width="25" height="25" /></a>
                {%endif%}
                {%endfor%}
                {%endif%}
                </td> 
                <!-- <td align="center">
                                 
                                   <input type="checkbox" name='application_id' value="{{e['application_ID']}}"/>
                                 

                              </td> --> 
                

            </tr>
{% endfor %}
        </tbody>
    </table>
    
    <!-- <div class="col-md-12 col-md-offset-5">
 <button  type="submit" name="submit"  value="ShortList"  class="btn btn-success save">ShortList </button>
</div> -->
    </form>
              </div>
</div>


      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->      
     
{%endif%}
{% endblock %}    
{% block scripts %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>

<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls_pdf.swf",
           "aButtons": [
            {'sExtends':'copy',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'xls',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'pdf',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
             
          ]
        },
    } );
} );

</script>
<script type="text/javascript">
$(document).ready(function(){
  $("#start_date").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths:1,
    onSelect:function(selected){
      $("#end_date").datepicker("option","minDate", selected)
    }
  });
  $("#end_date").datepicker({ 
        dateFormat: "dd/mm/yy",
        numberOfMonths: 1,
        onSelect: function(selected) {
           $("#start_date").datepicker("option","maxDate", selected)

}
});
});

</script>
<script>
    function showhide()
     {
           var div = document.getElementById("newpost");
    if (div.style.display !== "none") {
        div.style.display = "none";
    }
    else {
        div.style.display = "block";
    }
     }
  </script>
  <script type="text/javascript">
$(document).ready(function () {
   $('#example').on('click', '#selectAll', function () {
      if ($(this).hasClass('allChecked')) {
         $('input[type="checkbox"]', '#example').prop('checked', false);

      } else {
       $('input[type="checkbox"]', '#example').prop('checked', true);
       }
       $(this).toggleClass('allChecked');
     })
});
</script>
{% endblock %}


