{% extends "base.html" %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Apply Leave</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Leave Application</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-6 col-md-offset-2">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Create Role</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">
<div class="col-sm-8 col-sm-offset-1">


    <div class="form-group">
    {{form.role_name.label(class="control-label")}}
    {{form.role_name(class="form-control")}}</div>
    <div class="form-group">
      {{form.permissions.label(class="control-label")}}
      <table>
      {% for subfield in form.permissions %}
      <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
</div>
    </div><div class="row">
    <div class="col-sm-4 col-sm-offset-1"></br>
    <input type=submit value="create Role" class="btn btn-primary btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
     
  <script type="text/javascript">
document.getElementById('id-10').className ="active";
</script>   

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
{% endblock %}
