{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table{table-layout:fixed;}
.modal .modal-dialog { width: 90%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
</style>
<style>
.datepicker{z-index:1151 !important;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Safety Report</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}    
<div class="col-xs-4 col-md-3">
            <button  type="submit" name="submit" value="Search" id="search" class="btn btn-primary btn-block search" onclick="down()">Download Into Excel</button>
        </div>

{% endblock %}    
{% block scripts %}

<script type="text/javascript">
    document.getElementById('id-100').className ="nav-parent nav-active active";
  document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-101.1').className ="active";
  document.getElementById('o').style.display = "block";
  document.getElementById('id-101.1.3').className ="active";
</script>
      
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
  function down()
  {
    window.open("/static/Safety/safetyReport_now.xlsx");
  }

</script>

{% endblock %}
