{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
 <link href="/static/css/jquery-ui.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize */
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>

{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>Accident/Incident Approval</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">          
          <li class="active">Accident/Incident Approval</li>
        </ol>
      </div>
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">&times;</a>
                    <a href="#" class="minimize">&minus;</a>
                </div><!-- panel-btns -->
            <h4 class="panel-title">Accident/Incident Approval</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="form-group">
                 
                        <div id="miv" class="form-group">
                        <form id="tradeform" action="/opreports/safety_approval_submit/" method="POST">
                            <table id="table" class="display table table-bordered table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Check for delete</th>
                                        <th style="width: 90px;">Date of Incident</th>
                                        <th>Exact location</th>
                                        <th>PCIL/Contractor</th>
                                        <th style="width: 160px;">Name of the Contractor</th>
                                        <th>Name of the Person</th>
                                        <th>Body Part Injured</th>
                                        <th>Nature of Injury</th>
                                        <th>Physical cause of Injury</th>
                                         <th>USA/USC*</th>
                                         <th>Category</th>
                                         <th>Description Of Incident</th>
                                         <th>Root Cause</th>
                                         <th>Corrective Action Suggested</th>
                                         <th>Status of Corrective action after review</th>
                                         <th>Status of Victim</th>
                                         <th>Remarks</th>
                                         <!-- <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody id="body">                                
                                
                                {% for e in safetydata %}
                                <tr>
                                  <td>
                                    <input type="checkbox" id="selectall" name="checkone" class="checkone" value="{{e['_id']}}" />
                                  </td>
                                    <td >
                                        <input type="text" name="entry_date" style="width: 95px;" value="{{e['Dateofincident'].strftime('%d-%m-%Y')}}" class="form-control" readonly>
                                    </td>
                                    <td>
                                     <input id="Elocation" type="text"  class="form-control Elocation" value="{{e['Elocation']}}" name="Elocation" size="18" >
                                        
                                    </td>
                                    <td>
                                       <input id="selct1" type="text" style="width:110px" class="form-control selct1" value="{{e['selct1']}}" name="selct1" size="18" >
                                        
                                </select>  
                                    </td>
                                     <td>
                                     {%if e['contname'] != ''%}
                                     <div class="col-xs-12 col-md-3" id="visible" style="display:block">
                                       <input id="visible" type="text" value="{{e['contname']}}" name="contname" class="form-control visible">
                                     </div>
                                     {%else%}
                                     <div class="col-xs-12 col-md-3" id="contname" >
                                        <input id="contname" type="text" value="{{e['contname']}}" name="contname" class="form-control contname" readonly></div>
                                      {%endif%}
                                    </td>
                                    <td>
                                    {%if e['selct1'] == 'PCIL'%}
                                       <div class="col-xs-12 col-md-3" id="row_def" >
                                        <input class="form-control" id="personname" name="personname" value="{{e['personname']}}" style="width:200px" readonly>
                                        <input id="employee" type="hidden" name="employee" value=""  class="form-control">
                                        </div>
                                      {%else%}
                                        <div class="col-xs-12 col-md-3" id="row" >
                                        <input id="employee" type="text" name="employee" value="{{e['contract_employee']}}"  class="form-control" style="width:200px" >
                                        <input type="hidden" class="form-control" id="personname" name="personname" value="" ></div>
                                      {%endif%}
                                    </td>
                                    <td>
                                        <input id="bdyinjury" type="text" name="bdyinjury" value="{{e['bdyinjury']}}" class="form-control" >
                                    </td>
                                    <td>
                                         <input id="natinjury" type="text" name="natinjury" value="{{e['natinjury']}}" class="form-control " >
                                    </td>
                                    <td>
                                         <input id="physinjury" type="text" name="physinjury" value="{{e['physinjury']}}" class="form-control" >
                                    </td>
                                    <td>
                                         <select size="1" id="selct2" class="form-control selct2" name="selct2" style="width:100px" >
                                          <option value="{{e['selct2']}}">{{e['selct2']}}</option>
                                         {%for e in accident_incident_master['USA_USC']%}
                                         <option value="{{e}}">{{e}}</option>
                                        {%endfor%}
                                        </select>  
                                    </td>
                                    <td>
                                          <select size="1" id="selct3" class="form-control selct3" name="selct3" style="width:150px" >
                                        <option value="{{e['selct3']}}">{{e['selct3']}}</option>
                                       {%for e in accident_incident_master['category']%}
                                        <option value="{{e}}" >{{e}}</option>
                                        {%endfor%}
                                        </select>  
                                    </td>
                                    <td>
                                        <textarea rows="2" cols="20" name="descpirtionofincident" id="descpirtionofincident" calss="form-control">{{e['descpirtionofincident']}}</textarea>
                                    </td>
                                    <td>
                                         <input id="rootcause" type="text" name="rootcause" value="{{e['rootcause']}}"  class="form-control rootcause" >
                                    </td>
                                    <td>
                                          <textarea rows="2" cols="20" name="actionsuggested" class="form-control actionsuggested" id="actionsuggested">{{e['actionsuggested']}}</textarea>
                                    </td>
                                    <td>
                                          <input id="actionsuggafterreview" type="text" name="actionsuggafterreview" class="form-control actionsuggafterreview"  value="{{e['actionsuggafterreview']}}">
                                    </td>
                                   <td>
                                       <input id="StatusofVictim" type="text" name="StatusofVictim" class="form-control StatusofVictim" value="{{e['StatusofVictim']}}">
                                   </td>
                                    <td>
                                          <textarea rows="2" cols="20" id="remarks" name="remarks" class="form-control remarks">{{e['remarks']}}</textarea>
                                         <input type="hidden" id="prid" class="form-control prid" name="prid" value="{{e['_id']}}">
                                    </td>
                                    
                                  <!--   <td>   -->
                                        
                                   <!--  <form action="/opreports/safety_row_delete/" method="POST"> 
                                     <input type="hidden" id="prid" class="form-control prid" name="prid" value="{{e['_id']}}"> -->
                                        <!-- <input type="submit" name="submit" class="btn btn-danger btn-xs" id="submit" value="Delete" onclick="return confirm('You want to delete?');" /> -->
                                     <!-- </form>  -->
                                    <!--  </td> -->
                                     
                                </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                            <!-- <div class="form-group">
                                <div class="  col-xs-4 col-md-2">            
                                    <div class="form-group">
                                    <form action="" method="POST">
                                        <a href="/opreports/accidentForm/" target="_blank" toolbar="yes" scrollbars="yes" resizable="yes" top="500" left="500" width="400" height="400"><input  type="button"   value="Add line item" class="btn btn-success btn-xs"></a>
                                    </form>
                                    
                                    </div>  
                                </div>      -->
                              {%if safetydata != []%}
                                <div class="col-sm-4 col-md-2 col-md-offset-2">            
                                    <div class="form-group hidebut">
                                        <input type="hidden"  id="topval" name="topval">
                                        <input id="submit" type="submit" name="submit"  value="Save" class="btn btn-primary btn-block">
                                        <!-- onclick="return validateForm()"  -->
                                    </div>  
                                </div>  
                                <div class="col-sm-6 col-md-2 ">            
                                    <div class="form-group hidebut">
                                        
                                        <input id="submit" type="submit" name="submit"  value="Approve" class="btn btn-primary btn-block">
                                        <!-- onclick="return validateForm()"  -->
                                    </div>  
                                    
                            </div> 
                            <div class="col-sm-6 col-md-2 ">            
                                    <div class="form-group">
                                    <input id="submit" type="submit" name="submit"  value="Delete" class="btn btn-danger btn-block" onclick="return confirm('You want to delete?');">
                                        <!-- onclick="return validateForm()"  -->
                                    </div>  
                                </div> 
                            {%else%}
                            {%endif%} 
                        </form> 
<div id="spinModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <i  class="fa fa-4x fa-spinner fa-spin center"></i>
      </div>
  </div>
</div>

                    </div>
                </div>
                                        
            </div><!-- panel-body -->
        </div><!-- panel --> 
    </div>
    </div>      
</div><!-- row -->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
    
  document.getElementById('id-100').className ="nav-parent nav-active active";
  document.getElementById('menu-EDPR').style.display = "block";
  document.getElementById('id-101.1').className ="active";
  document.getElementById('o').style.display = "block";
  document.getElementById('id-101.1.2').className ="active";
</script>  
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/bootstrap-wizard.min.js"></script>

<script type="text/javascript">
  $(".hidebut").show();
  $(".checkone").click(function() {
    var val=document.getElementById('selectall').value;
    alert(val);
    if($(this).is(":checked")) {
        $(".hidebut").hide();
    } else {
        $(".hidebut").show();
    }
});

</script>
<!-- Date picker -->
<script type="text/javascript">

      // alert('its me');
      $( '.entry_date').datepicker({ 
        dateFormat: "dd/mm/yy",
        maxDate: 0
                
        });
        $(document).on('focus','.entry_date',function(){
      // alert('its me dyna');
      $(this).datepicker({ 
        dateFormat: "dd/mm/yy",
        maxDate: 0
                
        });

    })

$('input').click(function(){
  // alert($(this).attr('class'));
    alert(sub);
  }


});

</script>
<script type="text/javascript">
d=[];
{% for e in el%}
d.push({id:"{{e['f_name']}} {{e['l_name']}}", text:"{{e['username']}} - {{e['f_name']}} {{e['l_name']}}"});
{% endfor %}
$(".material").select2({
  placeholder: "Search for employee",
  data:d

});
</script>
<script type="text/javascript">

function ConfirmDialog(message) {
    $('<div></div>').appendTo('body')
                    .html('<div><h6>'+message+'?</h6></div>')
                    .dialog({
                        modal: true, title: 'Delete message', zIndex: 10000, autoOpen: false,
                        width: 'auto', resizable: false,
                        buttons: {
                            Yes: function () {
                                return true;
                            },
                            No: function () {                                                                 
                                return false;
                                message.preventDefault();
                            }
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        }
                    });
};

/* FOR DELETE LINE ITEM */
function deleteRow(e) {
    var r = confirm("Really do you want to delete the record!");
    alert(r);
    if (r == "true") {
       return true;
    } else {
      e.preventDefault();
       return false;
    }
    return false;
}

/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)&& charCode != 46){
        return false;
    }else{
      return true;
    }
}
/*FUNCTION DOESNOT ALLOW ANY ANOTHER METHOD FOR INPUT ONLY ALLOW KEYBOARD INPUTS*/
$('.quantity').bind("cut copy paste",function(e) {
    e.preventDefault();
});
</script>
<script type="text/javascript"> 
/*SHOWHIDE AND SHOWBACK FUNCTION FOR EDIT OPTION*/  
function hid(selct1) {
 
  table = $('#table').DataTable();
    var row = selct1.parentNode.parentNode.rowIndex -1;
    var sel= $('#selct1'+row).val();
    if(sel == 'Contractor'){
    document.getElementById('row_def'+row).style.display="none";
    document.getElementById('row'+row).style.display="block";
    document.getElementById('contname'+row).style.display="block";
    document.getElementById('visible'+row).style.display="none";
   }
  else{
    document.getElementById('row'+row).style.display="none";
    document.getElementById('row_def'+row).style.display="block";
    document.getElementById('contname'+row).style.display="none";
    document.getElementById('visible'+row).style.display="block";
  }
   
}

</script>    
   
<script type="text/javascript">
$('#spinModal').modal('hide');
/*INITIALIZING TOOLTIP FOR MATERIAL DESCRIPTION*/
$('div.select2-container').tooltip();
/* INITIALISING DATATABLES */
$(document).ready(function(){
    table = $('#table').DataTable( {
                "retrieve": true,
                "scrollX": true,
                "paging": false,
                "bFilter": false,
                "bSort": false,
                "columnDefs": [
                      { "width": "10%", "targets": 0 }  
                ]
    });
    /* FOR ADD LINE ITEM */
    var row = 2;
    $('#add').click( function () {
        row = row +1 ;
        table.row.add( [
                        '<input style="width: 95px;" class="form-control entry_date" name="entry_date" >',
                        '<input id="Elocation'+row+'" type="text"  class="form-control Elocation'+row+'" name="Elocation" size="18" >',
                        '<select size="1" id="selct1'+row+'" class="form-control selct1'+row+'" name="selct1" style="width:110px" onchange="hid(this)"><option value="PCIL">PCIL</option><option value="Contractor">Contractor</option></select>',
                        '  <div class="col-xs-12 col-md-3" id="visible'+row+'" style="display:block"> <input id="visible'+row+'" type="text" name="visible" class="form-control visible" readonly="readonly"></div><div class="col-xs-12 col-md-3" id="contname'+row+'" style="display: none;"><input id="contname'+row+'" type="text" name="contname" class="form-control contname'+row+'"></div>',
                        '<div class="col-xs-12 col-md-3" id="row_def'+row+'" style="display:block"><input class="form-control material'+row+'" id="personname'+row+'" name="personname"  type="hidden" value="" placeholder="personname" style="width:200px"></div> <div  class="col-xs-12 col-md-3" id="row'+row+'" style="display:none"><input id="employee'+row+'" type="text" name="employee"  class="form-control employee'+row+'" style="width:200px"> </div>',
                        '<input id="bdyinjury'+row+'" type="text" name="bdyinjury" class="form-control bdyinjury'+row+'" >',
                        '<input id="natinjury'+row+'" type="text" name="natinjury" class="form-control natinjury'+row+'" >',
                        '<input id="physinjury'+row+'" type="text" name="physinjury"  class="form-control physinjury'+row+'" >',
                        '<select size="1" id="selct2'+row+'" class="form-control selct2'+row+'" name="selct2" style="width:100px" > <option value="func" selected="selected">&nbsp;</option>{%for e in accident_incident_master["USA_USC"]%}<option value="{{e}}">{{e}}</option>{%endfor%}</select>',
                        '<select size="1" id="selct3'+row+'" class="form-control selct3'+row+'" name="selct3" style="width:150px" ><option value="func" selected="selected">&nbsp;</option>{%for e in accident_incident_master["category"]%}<option value="{{e}}" >{{e}}</option>{%endfor%}</select>',
                        ' <textarea rows="2" cols="20" name="descpirtionofincident" id="descpirtionofincident'+row+'" calss="form-control descpirtionofincident'+row+'"></textarea>',
                        ' <input id="rootcause'+row+'" type="text" name="rootcause"  class="form-control rootcause'+row+'" >',
                        '  <textarea rows="2" cols="20" name="actionsuggested" class="form-control actionsuggested'+row+'" id="actionsuggested'+row+'"></textarea>',
                        ' <input id="actionsuggafterreview'+row+'" type="text" name="actionsuggafterreview" class="form-control actionsuggafterreview'+row+'" >',
                        ' <input id="StatusofVictim'+row+'" type="text" name="StatusofVictim" class="form-control StatusofVictim'+row+'" >',
                        '<textarea rows="2" cols="20" id="remarks'+row+'" name="remarks" class="form-control remarks'+row+'"></textarea>',
                        '<button type="button" name="delete" onclick="deleteRow(this)" class="btn btn-danger  btn-xs tooltips delete" data-toggle="tooltip" data-placement="top" data-original-title="Delete line item" id="delete" value="Delete line item"   ><font size="1">✖</font></button>'
               ] ).draw();
        var x = row;
        var y = x+1;

        d=[];
        {% for e in el%}
        d.push({id:" {{e['f_name']}} {{e['l_name']}}", text:"{{e['username']}} - {{e['f_name']}} {{e['l_name']}}"});
        {% endfor %}
        $('.material'+row+'').select2({
          placeholder: "Search for employee",
          data:d

        });
        
       
    });
   
});
</script>
<script type="text/javascript">
function validateForm(){
        submit = "";
        
        var table = $("#table #body");
        table.find('tr').each(function (i) {
            var row = this.rowIndex;
            var tdr = $(this).find('td');
            var entry_date = tdr.find('input[name="entry_date"]').val(); 
            var Elocation = tdr.find('input[name="Elocation"]').val();
            var selct1 = tdr.find('select[name="selct1"]').val();
            var personname= tdr.find('input[name="personname"]').val();
            var contname= tdr.find('input[name="contname"]').val();
            var employee= tdr.find('input[name="employee"]').val();
            var bdyinjury= tdr.find('input[name="bdyinjury"]').val();
            var natinjury= tdr.find('input[name="natinjury"]').val();
            var physinjury= tdr.find('input[name="physinjury"]').val();
            var selct2 = tdr.find('select[name="selct2"]').val();
            var selct3 = tdr.find('select[name="selct3"]').val();
            var descpirtionofincident = tdr.find('textarea[name="descpirtionofincident"]').val();
            var rootcause= tdr.find('input[name="rootcause"]').val();
            var actionsuggested = tdr.find('textarea[name="actionsuggested"]').val();
            var actionsuggafterreview= tdr.find('input[name="actionsuggafterreview"]').val();
            var StatusofVictim= tdr.find('input[name="StatusofVictim"]').val();
            var remarks = tdr.find('textarea[name="remarks"]').val();
            var topval = tdr.find('input[name="topval"]').val();
            alert(topval);
            if(row<=topval)
            {
              alert(row);
              if(Elocation!="")
               {
                if(selct1 == 'PCIL')
                {
                 if(personname!="")
                 {
                  if(bdyinjury!="" )
                  {
                   if(natinjury!="")
                   {
                    if(physinjury!="")
                    {
                     if(selct2!="")
                     {
                      if(selct3!="")
                      {
                       if(descpirtionofincident!="")
                       {
                        if(rootcause!="")
                        {
                         if(actionsuggested!="")
                         {
                          if(actionsuggafterreview!="")
                          {
                           if(StatusofVictim!="")
                           {
                            if(remarks!="")
                            {
                             submit= true;
                              }else{
                                 bootbox.alert("Please fill Remarks in row "+row);
                                  submit = false;
                                  return false;
                                  }
                              }else{
                                bootbox.alert("Please fill Status of Victim in row "+row);
                                submit = false;
                                return false;
                              }
                              }else{
                                bootbox.alert("Please fill Status of Corrective action after review in row "+row);
                                submit = false;
                                return false;
                              }
                              }else{
                                bootbox.alert("Please fill Corrective Action Suggested in row "+row);
                                submit = false;
                                return false;
                              }
                              }else{
                                 bootbox.alert("Please fill Root Cause in row "+row);
                                submit = false;
                                return false;
                              }
                              }else{
                                 bootbox.alert("Please fill Description Of Incident in row "+row);
                                submit = false;
                                return false;
                              }
                              }else{
                                bootbox.alert("Please fill Category in row "+row);
                                submit = false;
                                return false;
                              }

                              }else{
                                bootbox.alert("Please fill USA/USC in row "+row);
                                submit = false;
                                return false;
                              }
                            }
                            else{
                               bootbox.alert("Please fill Physical cause of Injury in row "+row);
                              submit = false;
                              return false;
                            }
                          }else{
                             bootbox.alert("Please fill Nature of Injury in row "+row);
                            submit = false;
                            return false;
                          }
                        }
                        else{
                             bootbox.alert("Please fill Body Part Injured in row "+row);
                            submit = false;
                            return false;
                        }
                      }
                      else{
                         bootbox.alert("Please fill personname in row "+row);
                          submit = false;
                          return false;
                      }
                    }
                else
                {
                 if(contname!="" && employee!="")
                 {
                    if(bdyinjury!="" )
                    {
                      if(natinjury!="")
                      {
                        if(physinjury!="")
                        {
                          if(selct2!="")
                          {
                            if(selct3!="")
                            {
                              if(descpirtionofincident!="")
                              {
                                if(rootcause!="")
                                {
                                  if(actionsuggested!="")
                                  {
                                    if(actionsuggafterreview!="")
                                    {
                                      if(StatusofVictim!="")
                                      {
                                        if(remarks!="")
                                        {
                                          submit= true;
                                        }else{
                                           bootbox.alert("Please fill Remarks in row "+row);
                                            submit = false;
                                            return false;
                                        }
                                        }else{
                                          bootbox.alert("Please fill Status of Victim in row "+row);
                                          submit = false;
                                          return false;
                                        }
                                        }else{
                                          bootbox.alert("Please fill Status of Corrective action after review in row "+row);
                                          submit = false;
                                          return false;
                                        }
                                        }else{
                                          bootbox.alert("Please fill Corrective Action Suggested in row "+row);
                                          submit = false;
                                          return false;
                                        }
                                        }else{
                                           bootbox.alert("Please fill Root Cause in row "+row);
                                          submit = false;
                                          return false;
                                        }
                                        }else{
                                           bootbox.alert("Please fill Description Of Incident in row "+row);
                                          submit = false;
                                          return false;
                                        }
                                        }else{
                                          bootbox.alert("Please fill Category in row "+row);
                                          submit = false;
                                          return false;
                                        }

                                        }else{
                                          bootbox.alert("Please fill USA/USC in row "+row);
                                          submit = false;
                                          return false;
                                        }
                                      }else{
                                         bootbox.alert("Please fill Physical cause of Injury in row "+row);
                                          submit = false;
                                          return false;
                                      }
                                      }else{
                                         bootbox.alert("Please fill Nature of Injury in row "+row);
                                        submit = false;
                                        return false;
                                      }
                                    }else{
                                         bootbox.alert("Please fill Body Part Injured in row "+row);
                                        submit = false;
                                        return false;
                                      }
                                    }else{
                                         bootbox.alert("Please fill contractor name/employee name in row "+row);
                                          submit = false;
                                          return false;
                                      }
                                    }
                 }else{
                    bootbox.alert("Please fill ExactLocation in row "+row);
                    submit = false;
                    return false;
                 }
            }

            
        });

       return submit;
}
</script>
{% endblock %}