{% extends "base.html" %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Sales/Dispatch Reports</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Sales/Dispatch Reports</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

  <script type="text/javascript">
  document.getElementById('id-5').className ="nav-parent nav-active active";
      document.getElementById("d").style.display = "block";
document.getElementById('id-5.4').className ="active";
    </script>    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Sales/Dispatch Reports</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  id="salesreport" action="" method="POST">
<div class="row">
  <div class="col-sm-4">
  <select class="form-control" name="select_type" id="select_type2">
  <option value="S">SALES</option>
  <option value="D">DISPATCH</option>
</select><br>


</div>
<div class="col-sm-12">
    <label class="radio-inline">
  <input type="radio" name="select_date" id="select_date1" value="1" checked> TODAY
</label>
<label class="radio-inline">
  <input type="radio" name="select_date" id="select_date2" value="2"> YESTERDAY
</label>
<label class="radio-inline">
  <input type="radio" name="select_date" id="select_date3" value="3"> TODAY + YESTERDAY
</label>

</div>

    </div><div class="row">
    <div class="col-sm-4"></br>
    <button type="button"  onclick="fetch()" class="btn btn-primary btn-block">Get Reports</button>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
          </div>        
      </div>
      </div><!-- row -->
     <div classs="row"><div classs="col-md-12" id="sales">
     	<div class="table-responsive">

     	</div>
     </div></div>

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
document.getElementById('id-13').className ="active";
</script>
<script type="text/javascript">
function fetch()
{
  var f=new FormData(document.getElementById("salesreport"));
  $.ajax({
        url: '/user/getsalesreports',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                  if (response['error'] == 'yes'){
              document.getElementById("sales").innerHTML = response['msg'];
                  }
                  else{
            var text1='<table class="table table-bordered table-hover"><tr class="active"><th>Inv. No</th><th>Excise Inv</th><th>Type</th><th>Inv. Date</th><th>Material</th><th>Inv Qty</th><th>In-pass No</th><th>Order No</th><th>Order Date</th><th>Plant Name</th><th>State Name</th><th>Dist. Name</th><th>Dest. Name</th><th>Customer</th><th>Customer Name</th><th>Transporter Name</th><th>Vechicle Number</th><th>Sales repr</th><th>Sales Rep. Name</th><th>Frt.Basis</th><th>Mode</th><th>Invoice Price</th><th>Consignee</th><th>Consignee Name</th></tr>';
            var rep =response['reports'].length;
            for (var i = 0; i < rep; i++) {
              text1+='<tr><td>'+response['reports'][i]['VBELN_VF']+'</td><td>'+response['reports'][i]['EXNUM']+'</td><td>'+response['reports'][i]['KDGRP']+'</td><td>'+response['reports'][i]['FKDAT']+'</td><td>'+response['reports'][i]['MATNR']+'</td><td>'+response['reports'][i]['FKIMG']+'</td><td>'+response['reports'][i]['VGBEL']+'</td><td>'+response['reports'][i]['VBELN_VA']+'</td><td>'+response['reports'][i]['ERDAT']+'</td><td>'+response['reports'][i]['NAME3']+'</td><td>'+response['reports'][i]['ZREGIO']+'</td><td>'+response['reports'][i]['ZDSTRC']+'</td><td>'+response['reports'][i]['DESTNAM']+'</td><td>'+response['reports'][i]['KUNNR']+'</td><td>'+response['reports'][i]['NAME1']+'</td><td>'+response['reports'][i]['T_NAME']+'</td><td>'+response['reports'][i]['TRAID']+'</td><td>'+response['reports'][i]['S_CSTMR']+'</td><td>'+response['reports'][i]['S_NAME']+'</td><td>'+response['reports'][i]['INCO1']+'</td><td>'+response['reports'][i]['BEZEI']+'</td><td>'+response['reports'][i]['ZINV']+'</td><td>'+response['reports'][i]['KUNNR1']+'</td><td>'+response['reports'][i]['NAME2']+'</td></tr>';
            };
            text1+='</table>'
           document.getElementById("sales").innerHTML = text1;

}}

  });
}



    </script>
{% endblock %}
