{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/morris.css">

<style type="text/css">
body { font-size: 140%; }
.styled {
color: green;
  background-color: green;background-color: green;

}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-user"></i>User Sessions</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
          
    <div class="col-md-12">
      <div class="panel panel-default refresh-container">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="#" class="panel-close">&times;</a>
              <a href="#" class="minimize">&minus;</a>
              <a id="refresh-icon" class="pull-right" href="#"><span class="fa fa-refresh"></span></a>
            </div><!-- panel-btns -->
            <h4 class="panel-title">User Sessions</h4>
             </div><!-- panel-heading -->
    <div class="panel-body ">
            <div class="col-sm-5">
              <h4 style="text-align:center">Session analytics</h4>
             <table class="table table-bordered" style="margin-top:20px">
                <tr> 
                  <td >Date</td>
                  <td class="text-right">{{ date }}</td>
                </tr>
                <tr> 
                  <td>Week</td>
                  <td class="text-right">{{ week }}</td>
                </tr>
                  <tr> 
                  <td>Total number of user logged in</td>
                  <td class="text-right">{{ counttotal }}</td>
                </tr>
                <tr> 
                  <td>Total user's logged in now</td>
                  <td class="text-right">{{ log_count1 }} &nbsp <input type="checkbox" class="styled"  id="logged_now" name="cb1" checked="checked" ></td>
                </tr>
                <tr> 
                  <td>Total user's sessons till date</td>
                  <td class="text-right">{{ log_count }} &nbsp <input type="checkbox" class="styled"  id="tilldate" name="cb2">    </td>
                </tr>
                 <tr> 
                  <td>Total user's logged in a span</td>
                  <td class="text-right"> &nbsp <input type="checkbox" class="styled"  id="loggedin_span" name="cb3" > </td>
                </tr>
              </table>
          </div>
      <!-- inserting the linegraph -->
          <div class="col-sm-7">
          <div id="container_loggedin" style="height:300px;width:560px;margin:10px 0px ;margin-right:20px"></div> 

           <div id="container_unique_users" style="height: 300px;margin:10px 0px" ></div> 

           <div id="container_span" style="height: 300px;margin:10px 0px" ></div> 
          </div>
      <!-- end of linegraph -->

      <!-- inserting the second linegraph -->
          <div class="col-sm-7">
          
          </div>
      <!-- end of second linegraph -->

  <!-- butons for fromdate and to date -->
          <div class="col-md-12" id="dt_search" >
            <form class="form-inline preview" id="session-data-form">
              <div class="col-sm-12">
                {{form.user_date1.label(class="control-label")}}
                {{form.user_date1(class="form-control",style="width:175px",placeholder="from date")}}
                {{form.user_date2.label(class="control-label")}}
                {{form.user_date2(class="form-control",style="width:175px",placeholder="to date")}}
                &nbsp&nbsp
                <button type="submit" value="Submit" id="dt_span" class="btn btn-primary">Submit</button>

              </div> 
            </form>
          </div>
  <!-- end from date -->
     </div>    <!--  pannel body end -->

  <div class="row refresh-data" id="datatb_1">
                 
  <div class="col-lg-12" style="padding-left:20px;padding-right:20px">
  <div class="portlet-content">   
    <!-- <center> <h4> Total users logged in now</h4> </center> -->
      <div class="form-group">
        <form method="POST" >
        <table id="dat_tble_1" class=" table table-bordered table-striped" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Session Login Time</th>
                    </tr>
                </thead>
                <tbody>
                   
                  {% for e in emp_det %}              
                    <tr>
                        <td>
                          {% if e['username']%}
                          {{ e['username'] }}
                          {% endif%}
                        </td>
                        <td>
                          {% if e['username']%}
                          {{ e['l_name'] }}
                          {% endif%}
                        </td>
                        <td>
                          {{ e['logintime'] }}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          </form>
        </div>

      </div>
   </div>
</div><!-- row -->

<!-- second datatable -->
       
  <div class="row" id="datatb_2">
                 
  <div class="col-lg-12" style="padding-left:20px;padding-right:20px">
  <div class="portlet-content">   
 <!-- <center> <h4> Total users logged in till date</h4> </center> -->
        <div class="form-group">
          <form method="POST" >
        <table id="dat_tble_2" class=" table table-bordered table-striped" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Session Login Time</th>
                      
                    </tr>
                </thead>
                <tbody>
                   
                  {% for e in sessions_tilldate %}

                    <tr>
                        <td>
                          {% if e['username']%}
                          {{ e['username'] }}
                          {% endif%}
                        </td>
                        <td>
                          {% if e['username']%}
                          {{ e['l_name'] }}
                          {% endif%}
                        </td>
                        <td>
                          {{ e['logintime'] }}
                        </td>
                        
                    </tr>

                  {% endfor %}
                </tbody>
            </table>
          </form>
        </div>

      </div>
   </div>
</div><!-- row -->
<!-- second datatable end -->


<div id="testing"> </div>
<!-- third datatable -->
       
 <div class="row" id="datatb_3">
                 
  <div class="col-lg-12" style="padding-left:20px;padding-right:20px">
  <div class="portlet-content">   
 <!-- <center> <h4> Total users logged in a span(days)</h4> </center> -->
        <div class="form-group">
          <form method="POST" >
        <table id="dat_tble_3" class=" table table-bordered table-striped" cellspacing="0" >

            </table>
          </form>
        </div>

      </div>
   </div>
</div> <!-- row -->
<!-- third datatable end -->


      </div><!-- panel-body -->
    </div><!-- panel -->      
  </div><!-- row -->    
     


{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-timepicker.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/morris.min.js"></script>
<script src="/static/js/highstock.js"></script>
<script src="/static/js/exporting.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#user_date1').datepicker({format:"yyyy/mm/dd",autoclose:true});
  $('#user_date2').datepicker({format:"yyyy/mm/dd",autoclose:true});
  
  
    table1=$('#dat_tble_1').DataTable( {
        "retrieve": true,
        "scrollX": "100%",
        order: [[ 2, "asc" ]]
    });
  

    tablel_2=$('#dat_tble_2').DataTable( {
        "retrieve": true,
        "scrollX": "100%",
        order: [[ 2, "asc" ]],
    });



});

</script>


<script type="text/javascript">
$(document).ready(function(){ 
$("#datatb_1").show();
$("#dt_search").hide();
$("#datatb_2").hide();
$("#datatb_3").hide();
$('#container_loggedin').hide();
$('#container_span').hide();

$("#logged_now").click(function(){ 
  $(this).attr('checked');
  $("#tilldate").removeAttr('checked');
  $("#loggedin_span").removeAttr('checked');
  $('#container_span').hide();
  $('#container_loggedin').hide();
  $("#dt_search").hide();
  $('#datatb_2').hide();
  $('#datatb_3').hide();
  $("#datatb_1").show();
  $("#container_unique_users").show();
  });

$("#tilldate").click(function(){ 
  $("#logged_now").removeAttr('checked');
  $("#loggedin_span").removeAttr('checked');
  $("#datatb_1").hide();
  $('#datatb_3').hide();
  $("#container_unique_users").hide();
  $("#dt_search").hide();
  $('#container_span').hide();
  $('#container_loggedin').show();
  $("#datatb_2").show();


});

$("#loggedin_span").click(function(){ 
  $("#tilldate").removeAttr('checked');
  $("#logged_now").removeAttr('checked');
  $("#datatb_1").hide();
  $("#datatb_2").hide();
  $("#container_unique_users").hide();
  $('#container_loggedin').hide();
  $("#dt_search").show();
  
});

$("#dt_span").click(function(){ 
  $("#datatb_1").hide();
  $("#datatb_2").hide();
  $('#container_loggedin').hide();
  $("#datatb_3").show();
  $('#container_span').show();

});


});

</script>


<script>
$(document).ready(function(){ 
 $("#session-data-form").submit(function(e){ 
  e.preventDefault();

var datastring=$(this).serialize();
        $.ajax({
            type: "POST",
            url: "/sessions/getsessions",
            data: datastring,
            success: function(data) {
                 $(function () {
                    // Create the chart 
                    $('#container_span').highcharts('StockChart', {

                        rangeSelector : {
                            selected : 1
                        },
                        title : {
                            text : 'sessions in span'
                        },
                        series : [{
                            name : 'PCIL',
                            data : data['line_data']
                               ,
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
                    });
                 });
              // end of line graph
              // ajax datatable loading
                 $('#dat_tble_3').DataTable( {
                    destroy: true,
                    order: [[ 2, "asc" ]],
                    data: data['result'],
                    columns: [
                        { title: "Username" },
                        { title: "Name" },
                        { title: "Session login Time" },
                        { title: "Session Logout Time" },
                            ],
                    } );
  
            }
     });
 });

});

</script>

<script type="text/javascript">
document.getElementById('id-1.2').className ="active";
</script>
<script type="text/javascript">
      $(function () {

              // Create the chart
              $('#container_loggedin').highcharts('StockChart', {


                  rangeSelector : {
                      selected : 1
                  },

                  title : {
                      text : 'Sessions till date'
                  },

                  series : [{
                      name : 'PCIL',
                      data : [


      {% for e in data %}
      [ {{ e['date_millisec'] }},{{ e['sessions_count'] }} ],
      {% endfor %}
      ],
                      tooltip: {
                          valueDecimals: 2
                      }
                  }]
              });
      });

</script>
<!-- second plot total users logged in till date-->
<script type="text/javascript">
      $(function () {

              // Create the chart
              $('#container_unique_users').highcharts('StockChart', {


                  rangeSelector : {
                      selected : 1
                  },

                  title : {
                      text : 'Total users logged(per hour)'
                  },

                  series : [{
                      name : 'PCIL',
                      data : [


      {% for e in data2 %}
      [ {{ e['now_hr_millisec'] }},{{ e['sessions_count'] }} ],
      {% endfor %}
      ],
                      tooltip: {
                          valueDecimals: 2
                      }
                  }]
              });
      });

</script>
<!-- end of second plot total users logged in till date-->
<script>
$.fn.refreshMe = function(opts){
  
      var $this = this,
          defaults = {
            ms:1500,
            parentSelector:'.panel',
            started:function(){},
            completed:function(){}
          },
          settings = $.extend(defaults, opts);
  
      var par = this.parents(settings.parentSelector);
      var panelToRefresh = par.find('.refresh-container');
      var dataToRefresh = par.find('.refresh-data');
      
      var ms = settings.ms;
      var started = settings.started;   //function before timeout
      var completed = settings.completed; //function after timeout
      
      $this.click(function(){
        $this.addClass("fa-spin");
        panelToRefresh.show();
        if (dataToRefresh) {
          started(dataToRefresh);
        }
        setTimeout(function(){
          if (dataToRefresh) {
              completed(dataToRefresh);
          }
          panelToRefresh.fadeOut(800);
          $this.removeClass("fa-spin");
        },ms);
        return false;
      })//click
      
}/* end function refreshMe */

$(document).ready(function(){
      
  $('#refresh1').refreshMe({
    started:function(ele){ele.html("Getting new data..")},
    completed:function(ele){ele.html( table1=$('#dat_tble_1').DataTable( {
        "retrieve": true,
        "scrollX": "100%",
        order: [[ 2, "asc" ]]
    });
  )}
  });
});
</script>
{% endblock %}
