<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Penna Cements Limited is the Industry Leader in Manufacturing Cements ">
  <meta name="author" content="Madala Bharath Kumar">
  <link rel="shortcut icon" href="/static/images/favicon.png" type="/static/image/png">

  <title>Penna Cement Industries Limited Login</title>
  <link rel="stylesheet" href="/static/css/datepicker.css">
  <link href="/static/css/style.default.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->
</head>

<body  class="signin"  oncopy="return false" oncut="return false" onpaste="return false">
<Script>
window.oncontextmenu = function () {
   return false;
}
document.onkeydown = function (e) { 
    if (window.event.keyCode == 123 ||  e.button==2  )    
    return false;
};

document.onkeydown = function(e) {
        if ((e.ctrlKey && 
            (e.keyCode === 67 ||
             e.keyCode === 80 || 
             e.keyCode === 86 || 
             e.keyCode === 85 || 
             e.keyCode === 88 ||
             e.keyCode === 65 ||
             e.keyCode === 117
             )
            )||e.keyCode === 13)  {
          $(".resp3").show();
          $(".resp3").html("Key not allowed")
            return false;
        } else {
            return true;
        }
};
</script>

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <div class="signin-info">
				
                    <div class="logopanel">
                        <h1><span><img src="/static/images/logo.png" class="img-responsive"></span></h1>
                    </div><!-- logopanel -->
                
                    <div class="mb20"></div>
                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->
            
            <div class="col-md-5">
{% from "_formhelpers.html" import checkfield %}                
                <form action="" method="POST" autocomplete="off">
                    <h4 class="nomargin">Sign In</h4>
                    <p class="mt5 mb20">Login to access your account.</p>
                  <div class="resp3 bg-danger" style="">
{% with messages = get_flashed_messages() %}
      {% if messages %}
       
        {% for message in messages %}
         *&nbsp;{{ message }} 
        {% endfor %}
       
      {% endif %}
    {% endwith %}
                  </div>
                    {{ form.username(class="form-control uname",placeholder="Username",id="username") }}
		                {{ checkfield(form.username) }}

                    <div class="resp">
                      {{form.password(class="form-control pword",placeholder="Password",id="pwd")}}{{checkfield(form.password)}}

                    </div>
                      <div class="resp1" style="display:none">
                      
                      {{ form.date(class="form-control dat",placeholder="Date of Birth",id="d") }}
                    {{ checkfield(form.date) }}
                    <span><font size="2">Eg:-DD-MM-YYYY</font></span>

                    </div>
                
                    <div class="resp4" style="display:none">
                      {{form.changepwd(class="form-control pword",placeholder="Enter New password",id="changepwd")}}{{checkfield(form.password)}}

                    </div>
                      <div class="resp5" style="display:none">
                      {{form.confirmchangepwd(class="form-control pword",placeholder="Confirm New password",id="confirmchangepwd")}}{{checkfield(form.password)}}

                    </div>

               <script type="text/javascript">
 function test()  
        {  
            $("#myModal").modal('show'); 
}  

function validateForm()
{
  if (document.getElementById("username").value=document.getElementById("usr").value)
  
  {
      $('#alert').show();
    return false;
        }
}

function alertdismiss()
{
 $('#alert').hide();

}

               </script> 


        <div class="resp6">
                    <a href="javascript:void(0);" onclick="test();"><small>Forgot Your Password?</small></a>
                    
                    <input type="submit" name="submit" value="login" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
      <div id="alert" style="display:none;" class="alert alert-success alert-dismissable">
            <button type="button" class="close" 
                    onclick="alertdismiss()" aria-hidden="true">
             &times;
          </button>
         Username must be same  
       </div>
      <form  method="post" autocomplete="off" >
  
    <input class="form-control uname"  id="usr" name="f_username" placeholder="Username" type="text" value="">
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"vlay>Close</button>
        <button type="submit" name="submit" class="btn btn-success" value="getpassword">Get Password</button>
          </form>
      </div>
    </div>
  </div>
</div>





        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved. Penna Cement Industries Limited.
            </div>
            <div class="pull-right">
             
            </div>
        </div>
        
    </div><!-- signin -->
  
</section>


<script src="/static/js/addlogin.js"></script>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/retina.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>

</body>
</html>
