{% extends "base.html" %}
{% block links %}
<!-- link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dzscalendar.css" rel="stylesheet">
 <link href="/static/css/jquery-ui.css" rel="stylesheet"> -->
 <link href="/static/css/datepicker_ui.min.css" rel="stylesheet">
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>LAB REPORT</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  
    <script type="text/javascript">
    document.getElementById('id-200').className ="nav-parent nav-active active";
    document.getElementById("i").style.display = "block";
document.getElementById('id-200.1').className ="active";
    </script>
      

      <div class="row">
        
        <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->LAB Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" id="apl">
					
					<div class="col-xs-12 col-md-offset-0">
					
					<div class="form-group">
    						<label for="start_date">Cement Type</label>
					   <select id="selct" class="form-control selct" name="ctype" style="width:150px" required="">
					   										<option value="">Select Type</option>
											            	<option value="1">OPC:53 Gr</option>
											            	<option value="2">OPC:43 Gr</option>
											            	<option value="3">PPC</option>
											            	<option value="4">PSC</option>
											        </select>        
					  </div>
					
					 </div>
					 

					<div class="col-xs-12 col-md-1">                  
						  	<div class="form-group">
						  	<label for="start_date">Week</label>
						 		 <input id="week" type="text" name="week" style="width:150px;" placeholder="Number" class="form-control week" required>        
							</div>
						</div>
                   <div class="col-xs-12 col-md-4 col-md-offset-2">
                  <div class="form-group">
                    <label for="start_date">From Date</label>
                      <input id="start_date" type="text" name="start_date" style="width:200px;" class="form-control start_date" required>
                  </div><br>
                   <div class="col-xs-6 col-md-8"> 
                   <div class="form-group">
                   <br>
                        <input type="submit"  class="btn btn-primary btn-block glyphicon glyphicon-eye-open" value="View"/> 
                       </div>
                   </div>
                  </div>
                       <div class="col-xs-12 col-md-4 col-md-offset-0">
                        <div class="form-group">
                      <label for="end_date">To Date</label>
                       <input id="end_date" type="text" name="end_date" style="width:200px;" class="form-control end_date" required ></div>
                  </div>
                  
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<!-- <script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/dzscalendar.js"></script> -->
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
$(function() {
	
	$( "#start_date,#end_date").datepicker({ 
		dateFormat: "dd/mm/yy",
		firstDay: 1,
		showButtonPanel: false,
		 stepMonths: 1,
		showWeek:true
	});
});

</script>
<script type="text/javascript">
$('#week').datepicker({
    firstDay: 1, 
     showButtonPanel: false, 
     //minDate: "+",
    stepMonths: 1,
    showWeek:true,
   //      changeMonth: true,
//changeYear: true,
//showButtonPanel: true,
onSelect: function(dateText, inst) {
dateFormat: "'Week Number '" + $.datepicker.iso8601Week(new Date(dateText)),
$(this).val( $.datepicker.iso8601Week(new Date(dateText)));
	},
firstDay: 1,
 yearSuffixType:'hola',

});


</script>
<script type="text/javascript">
function validate(){
	//alert('Hello');
	var fromdate= document.getElementById('start_date').value;
	var todate= document.getElementById('end_date').value;
	//alert(fromdate);
	if (todate < fromdate) {
        alert("To date Should not be less than From date");
        document.getElementById('end_date').value = '';
        todate.focus();
        return false;
      }
}

</script>

{% endblock %}
