{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
 <link href="/static/css/jquery-ui.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}

.modal-dialog { /* Modal Window Customize */
    width: 500px;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>

{% endblock %}
{% block pageheader %}           
<div class="pageheader">
    <h2><i class="fa fa-pencil"></i>LAB REPORT</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">          
          <li class="active">Lab Report </li>
        </ol>
      </div>
</div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
    <div class="col-md-12 ">
 		<div class="panel panel-default">
        	<div class="panel-heading">
          		<div class="panel-btns">
		            <a href="#" class="panel-close">&times;</a>
		            <a href="#" class="minimize">&minus;</a>
          		</div><!-- panel-btns -->
          	<strong>{{plantname}}</strong>
          	
           	</div><!-- panel-heading -->
        	<div class="panel-body">
				<div class="form-group">
					<div class="row">
											
						<div id="miv" class="form-group">
							<form id="tradeform" action="/opreports/testcertificateformsubmit" method="POST" >
				                  <div class="form-group form-inline">
				                    <label style="padding-left: 25px;"><strong>Week Number:{{week}}</strong></label>
				                    <label style="padding-left: 150px;"><strong>Ordinary Portland Cement: 43 Gr</strong></label>
				                      <label style="padding-left: 150px;"><strong>Despatched on:{{fdate}} - {{tdate}}</strong></label>
				                  </div>
				                   <input type="hidden" name="week" value="{{week}}">
				                  <input type="hidden" name="type" value="OPC:43Gr">
				                  <input type="hidden" name="fdate" value="{{fdate}}">
				                  <input type="hidden" name="tdate" value="{{tdate}}">
				                  <input type="hidden" name="slag" value="0.0">
				                   <input type="hidden" name="deying" value="0.0">
				                  <input type="hidden" name="flyash" value="0.0">
				                  <input type="hidden" name="sulphide" value="0.0">
							<table id="table" class="display table table-bordered table-striped" cellspacing="0">
							 	<thead>
							        <tr>
							        	 <th style="width: 50px;">S.No</th>
							          	<th style="width: 450px; padding-left: 220px;">Description</th>
							          	<th style="width: 100px;"></th>
							            <th style="width: 150px; padding-left: 50px;">Test Results</th>
							            <th style="width: 150px; padding-left: 30px;">Requirements of<br>
							            							IS: 269-2015</th>
							        </tr>
							    </thead>
						        <tbody id="body">
						      		<tr>
						      		<td style="width: 50px;padding-left: 20px;">A</td>
						      		<td style="width4: 450px;">
						      			<strong>Chemical requirements:</strong>
								    </td>
								    <td style="width: 50px;">&nbsp;</td>
						     		<td>
						     			&nbsp;
							     	</td>
							      	<td>
							        	&nbsp;
							      	</td>
      								
							    </tr>
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">1</td>
						      		<td style="width: 450px;">
						      			<!-- LSF: (Cao - 0.70 SO<sub>3</sub>)  &#47; (2.8 SiO<sub>2</sub> + 1.2 Al<sub>2</sub>O<sub>3</sub> + 0.65 Fe<sub>2</sub>O<sub>3</sub>) -->
								  	Lime Saturation Factor
								    </td>
								    <td style="width4: 100px;">&nbsp;</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control formula1" id="formula1" name="formula1" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	0.66 to 1.02
							      	</td>
      								
							    </tr>
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">2</td>
						      		<td style="width: 450px;">
						      		<!-- AM: 	(Al<sub>2</sub>O<sub>3</sub> &#47; Fe<sub>2</sub>O<sub>3</sub>) -->
								 		Alumina Modulus
								    </td>
								    <td style="width: 100px;">&nbsp;</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="formula2" name="formula2" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	0.66 Min
							      	</td>
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px;">3</td>
						      		<td style="width: 450px;">
						      			Insoluble residue
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="insoluble" name="insoluble" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	5.00 Max
							      	</td>
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px; ">4</td>
						      		<td style="width: 450px;">
						      			Magnesia
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="magnesia" name="magnesia" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	6.00 Max
							      	</td>
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px;">5</td>
						      		<td style="width: 450px;">
						      			Sulphuric Anhydride
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="sulphuric" name="sulphuric" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	3.50 Max
							      	</td>
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px;">6</td>
						      		<td style="width: 450px;">
						      			Loss on ignition
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="loss" name="loss" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	5.00 Max
							      	</td>
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px;">7</td>
						      		<td style="width: 450px;">
						      			Chlorides
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="chloride" name="chloride" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	0.10 Max
							      	</td>
							    </tr>
							  <!--    <tr>
						      		<td style="width: 50px; padding-left: 20px;">8</td>
						      		<td style="width: 450px;">
						      			Alkali Contents(as Na<sub>2</sub>O)
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="alkali" name="alkali" style="width: 100px;height: 35px;" type="text" required>
							     	</td>
							      	<td style="padding-left: 40px;">
							        	&nbsp;
							      	</td>
							    </tr> -->
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">B</td>
						      		<td style="width: 450px;">
						      			<strong>Physical requirements:</strong>
								    </td>
								    <td style="width: 100px; padding-left: 20px;">&nbsp;</td>
						     		<td style="padding-left: 40px;">
						     			&nbsp;
							     	</td>
							      	<td style="padding-left: 40px;">
							        	&nbsp;
							      	</td>
							    </tr>
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">1</td>
						      		<td style="width: 450px;">
						      			Fineness
								    </td>
								    <td style="width: 100px; padding-left: 20px;">M<sup>2</sup>/Kg</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="finen" name="finen" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	225 Min
							      	</td>
							    </tr>
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">2</td>
						      		<td style="width: 450px;">
						      			Normal consistency
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="normal" name="normal" style="width: 100px;height: 35px;" type="text">
							     	</td>
							      	<td style="padding-left: 40px;">
							        	&nbsp;
							      	</td>
							    </tr>
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">3</td>
						      		<td style="width: 450px;">
						      			<strong>Setting time:</strong>
								    </td>
								    <td style="width: 100px; padding-left: 20px;">Minutes</td>
						     		<td style="padding-left: 40px;">
						     			&nbsp;
							     	</td>
							      	<td style="padding-left: 40px;">
							        	&nbsp;
							      	</td>
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td>Initial	</td>
							      	<td>&nbsp;</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="initial" name="initial" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 30 Min</td>
							      	</tr >
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td>Final	</td>
							      	<td>&nbsp;</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="final" name="final" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 600 Max</td>
							      	</tr >
							    </tr>
							    <tr>
						      		<td style="width: 50px; padding-left: 20px;">4</td>
						      		<td style="width: 450px;">
						      			<strong>Soundness:</strong>
								    </td>
								    <td style="width: 100px; padding-left: 20px;">&nbsp;</td>
						     		<td style="padding-left: 40px;">
						     			&nbsp;
							     	</td>
							      	<td style="padding-left: 40px;">
							        	&nbsp;
							      	</td>
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td>Le-chat.Expansion</td>
							      	<td style="width: 100px; padding-left: 20px;">MM</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="lechat" name="lechat" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 10 Max</td>
							      	</tr >
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td >Auto clave</td>
							      	<td style="width: 100px; padding-left: 20px;">%</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="auto" name="auto" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 0.80 Max.</td>
							      	</tr >
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px;">5</td>
						      		<td style="width: 450px;">
						      			<strong>Compressive strength:</strong>
								    </td>
								    <td style="width: 100px; padding-left: 20px;">Mpa</td>
						     		<td style="padding-left: 40px;">
						     			&nbsp;
							     	</td>
							      	<td style="padding-left: 40px;">
							        	&nbsp;
							      	</td>
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td>3days &#177; 1 Hour </td>
							      	<td style="width: 100px; padding-left: 20px;">&nbsp;</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="hour1" name="hour1" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 23 Min.</td>
							      	</tr >
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td >7days &#177; 2 Hours </td>
							      	<td style="width: 100px; padding-left: 20px;">&nbsp;</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="hour2" name="hour2" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 33 Min.</td>
							      	</tr >
							      	<tr>
							      	<td>&nbsp;</td>
							      	<td >28days &#177; 4 Hours </td>
							      	<td style="width: 100px; padding-left: 20px;">&nbsp;</td>
							      	<td style="padding-left: 40px;"><input class="form-control model" id="hour3" name="hour3" style="width: 100px;height: 35px;" type="text"></td>
							      	<td style="padding-left: 40px;"> 43 Min.<br>58 Max</td>
							      	</tr >
							    </tr>
							     <tr>
						      		<td style="width: 50px; padding-left: 20px;">6</td>
						      		<td style="width: 450px;">
						      			Room Temperature During Testing
								    </td>
								    <td style="width: 100px; padding-left: 20px;"><sup>o</sup>C</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="temp" name="temp" style="width: 100px;height: 35px;" type="text" required>
							     	</td>
							      	<td style="padding-left: 40px;">
							        	27 &#177; 2
							      	</td>
							    </tr>
							      <tr>
						      		<td style="width: 50px; padding-left: 20px;">7</td>
						      		<td style="width: 450px;">
						      			Humidity
								    </td>
								    <td style="width: 100px; padding-left: 20px;">%</td>
						     		<td style="padding-left: 40px;">
						     			<input class="form-control model" id="humidity" name="humidity" style="width: 100px;height: 35px;" type="text" required>
							     	</td>
							      	<td style="padding-left: 40px;">
							        	Not less than 65
							      	</td>
							    </tr>
								</tbody>
							</table>
 							  	<div class="col-sm-12 col-md-8 ">            
			                       	<div class="form-group" style="padding-left: 320px;">
			                        	<input type="hidden"  id="topval" name="topval">
			                           	<input id="submit" type="submit"  onclick="return feildvalidation()"  value="Submit" class="btn btn-primary btn-block">
			                      	</div>  
			                 	</div>  
							</div> 
           				</form> 
					</div>
             	</div>                                
        	</div><!-- panel-body -->
      	</div><!-- panel --> 
    </div>      
</div><!-- row -->
{% endblock %}    
{% block scripts %}

<script type="text/javascript">
 document.getElementById('id-200').className ="nav-parent nav-active active";
      document.getElementById("i").style.display = "block";
document.getElementById('id-200.1').className ="active";
</script>  

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
/* FUNCTION DEFINED AS NUMBERVALID ALLOWS ONLY DIGITS  */
function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)&& charCode != 46){
        return false;
    }else{
      return true;
    }
}
</script>

<script type="text/javascript">
function feildvalidation(){
	var formula1=document.getElementById('formula1').value;
	var formula2=document.getElementById('formula2').value;
	var insoluble=document.getElementById('insoluble').value;
	var magnesia=document.getElementById('magnesia').value;
	var sulphuric=document.getElementById('sulphuric').value;
	var loss=document.getElementById('loss').value;
	var chloride=document.getElementById('chloride').value;
	var finen=document.getElementById('finen').value;
	var normal=document.getElementById('normal').value;
	var initial=document.getElementById('initial').value;
	var fin=document.getElementById('final').value;
	var lechat=document.getElementById('lechat').value;
	var auto=document.getElementById('auto').value;
	var hour1=document.getElementById('hour1').value;
	var hour2=document.getElementById('hour2').value;
	var hour3=document.getElementById('hour3').value;
	var temp=document.getElementById('temp').value;
	var humidity=document.getElementById('humidity').value;
	
	if(formula1<0.66)
	{	
		alert(formula1+" value should not be lessthan 0.66 in A-1");
		return false; 
	}	
	if(formula1>1.02)
	{
		alert(formula1+" value should not be greaterthan 1.02 in A-1");
		return false; 
	}
	if(formula2<0.66)
	{
		alert(formula2+" value should not be lessthan 0.66 in A-2");
		return false;
	}
	if(insoluble>5.00)
	{
		alert(insoluble+" value should not be greaterthan 5.00 in A-3");
		return false; 
	}
	if(magnesia>6.00)
	{
		alert(magnesia+"  value should not be greaterthan 6.00 in A-4");
		return false; 
	}
	if(sulphuric>3.50)
	{
		alert(sulphuric+" value should not be greaterthan 3.50 in A-5");
		return false; 
	}
	if(loss>5.00)
	{
		alert(loss+" value should not be greaterthan 5.00 in A-6");
		return false; 
	}
	if(chloride>0.10)
	{
		alert(chloride+" value should not be greaterthan 0.10 in A-7");
		return false; 
	}
	if(finen<225)
	{
		alert(finen+" value should not be lessthan 225 in B-1");
		return false; 
	}
	if(initial<30)
	{
		alert(initial+" value should not be lessthan 30 in B-3.1");
		return false; 
	}
	if(fin>600)
	{
		alert(fin+"value should not be greaterthan 600 in B-3.2 ");
		return false; 
	}
	if(lechat>10)
	{
		alert(lechat+" value should not be greaterthan 10 in B-4.1");
		return false; 
	}
	if(auto>0.80)
	{
		alert(auto+"value should not be greaterthan 0.80 in B-4.2");	
		return false; 
	}
	if(hour1<23)
	{
		alert(hour1+" value should not be lessthan 23 in B-5.1");
		return false; 
	}
	if(hour2<33)
	{
		alert(hour2 +" value should not be lessthan 33 in B-5.2");
		return false; 
	}
	if(hour3<43)
	{
		alert(hour3+" value should not be lessthan 43 in B-5.3");
		return false; 
	}
	if(hour3>58)
	{
		alert(hour3+" value should not be greaterthan 58 in B-5.3");
		return false; 
	}
	if(temp<25)
	{
		alert(temp+" value should not be lessthan 25 in B-6");
		return false; 
	}
	if(temp>29)
	{
		alert(temp+" value should not be greaterthan 29 in B-6");
		return false; 
	}
	if(humidity<65)
	{
		alert(humidity+" value should not be lessthan 65 in B-7");
		return false; 
	}
}
</script>
{% endblock %}