{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-bar-chart-o"></i>LAB REPORT HISTORY</h2>
   <!--    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      <div class="row">             
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Lab Reports History</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Week Number</th>
                <th>Cement Type</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
     {% set i=0 %}
{% for e in labdata %}
            <tr>

                <td>Week No:{{e['week']}}</td>  
                <td>{{e['cement_type']}}</td>
                <td>{{e['fromdate']}}</td>
                <td>{{e['todate']}}</td>
                <td>{{e['status']}}</td>
                
                <td style="padding-left: 40px;">
                {% if e['approvals']['a_status'] == 'current' %}
                <form id="approve" action="/opreports/testcertificatehistory/" method="POST" > 
                <input type="hidden" value="{{e['_id']}}" name="prid" />
                 <input type="hidden" value="EDIT" name="submit" />
				 <input type="submit" class="btn btn-primary btn-xs"  value="Edit/Approve"/>
                </form>
                 {% elif e['approvals']['a_status'] == 'waiting'%}
                                    waiting for previous level of approvals
                                   
                                    {% endif %}
                </td>
            </tr>
           {% set i=i+1 %}
       {% endfor %}
        </tbody>
    </table>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
  <script type="text/javascript">
  document.getElementById('id-200').className ="nav-parent nav-active active";
      document.getElementById("i").style.display = "block";
document.getElementById('id-200.3').className ="active";
    </script>

{% endblock %}
