{% extends "base.html" %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Time</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-4">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Time</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        {%if auto_approval_details['status']== 'Enabled' %}
         <form  action="/leave/time/" method="POST">
            <div class="row">
            <label for="time">Leave Auto Approval time(in Hrs) :</label>
              <div class="col-sm-8">
                  <div class="form-group">                      
                      <input class="form-control" id="time" name="time" type="number" value="{{plant_details['leave_time']}}" required="">
                  </div>
              </div>
                <div class="col-sm-4">
                 <input type="text" style="display:none" value="form_leave_time" name="leave_per_configure">
                  <input type=submit value="Update" class="btn btn-primary btn-block">

                </div>
            </div>
  
        </form>     
                {%else%}
                <form  action="/leave/time/" method="POST">
            <div class="row">
            <label for="time">Leave Auto Approval time(in Hrs) :</label>
              <div class="col-sm-8">
                  <div class="form-group">                      
                      <input class="form-control" id="time" name="time" type="number" value="{{plant_details['leave_time']}}" required="" readonly="readonly">
                  </div>
              </div>
                <div class="col-sm-4">
                 <input type="text" style="display:none" value="form_leave_time" name="leave_per_configure">
                  <input type=submit value="Update" class="btn btn-primary btn-block" disabled>

                </div>
            </div>
        
        </form>     
                {% endif %}                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div> 


<div class="col-md-4">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Time</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="/leave/time/" method="POST">
            <div class="row">
            <label for="time">Permission Time (in Hrs) :</label>
              <div class="col-sm-8">
                  <div class="form-group">                      
                      <input class="form-control" id="per_time" name="per_time" type="number" value="{{plant_details['permission_duration']}}" required="">
                  </div>
              </div>
                <div class="col-sm-4">
                  <input type="text" style="display:none" value="form_per_time" name="leave_per_configure">
                  <input type=submit value="Update" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>


<div class="col-md-4">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Time</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="/leave/time/" method="POST">
            <div class="row">
            <label for="time">Permissions Limit :</label>
              <div class="col-sm-8">
                  <div class="form-group">                      
                      <input class="form-control" id="per_limit" name="per_limit" type="number" value="{{plant_details['permissions_limit']}}" required="">
                  </div>
              </div>
              <br/>
                <div class="col-sm-4">
                <input type="text" style="display:none" value="form_per_limit" name="leave_per_configure">
                  <input type=submit value="Update" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>    


<div class="col-md-4">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Time</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

        <form  action="/leave/time/" method="POST">
            <div class="row" style="text-align:center">
            <label for="time" style="text-align:center">Auto Approval Configuration:</label>
              <div class="col-sm-8" style="margin-left:18%">
                  <div class="form-group">                      
                      <input class="form-control btn btn-block" id="auto_approve_status" name="auto_approve_status" type="submit" value="{{auto_approval_details['status']}}">
                  </div>
              </div>
                <div class="col-sm-4">
                  <input type="text" style="display:none" value="auto_approval_config" name="leave_per_configure">
                </div>
            </div>
        </form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div> 



      </div><!-- row -->
      
     
     
  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.2').className ="active";
</script>   


<script type="text/javascript">
  $(document).ready(function(){ 
    if ($('#auto_approve_status').val()=='Enabled'){
      $('#auto_approve_status').removeClass('btn-danger');
      $('#auto_approve_status').addClass('btn-primary');

    }else if ($('#auto_approve_status').val()=='Disabled'){
      $('#auto_approve_status').removeClass('btn-primary');
      $('#auto_approve_status').addClass('btn-danger');
    }

  });
</script>
{% endblock %}    
{% block scripts %}
{% endblock %}
