{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Trade</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Trade</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
    <script type="text/javascript">
  document.getElementById('id-5').className ="nav-parent nav-active active";
      document.getElementById("d").style.display = "block";
document.getElementById('id-5.1').className ="active";
    </script>

      
      <div class="row">
        <div class="col-md-12" id="errormsg">

</div>  
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Trade</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form id="tradeform" action="" method="POST">
<div class="row">

<div class="col-sm-12">

    <label class="radio-inline">
  <input type="radio" name="order" id="order1" value="PTQT" checked> TRADE ORDER
</label>
<label class="radio-inline">
  <input type="radio" name="order" id="order2" value="PDTQ"> DEPOT TRADE ORDER
</label>
</div></div><br>

<div class="row">



<div class="col-sm-12 col-md-4">
<div class="form-group">
  <label for="sold_to_id">SEARCH FOR CUSTOMER</label>
    <input id="sold_to_id" type="hidden" name="sold_to_id"  onchange="chng()" class="form-control sold_to_id" required>
</div><br>
</div>
     <div class="col-sm-12 col-md-8">
     
      <div class="form-group">
    <label for="sold_to_add">SOLD TO PARTY ADDRESS</label>
     <textarea class="form-control" id="sold_to_add" name="sold_to_add"  required readonly></textarea></div>
  
</div>



</div>



<div class="row">



<div class="col-sm-12 col-md-4"> 
  <div class="form-group">
    <label for="ship_to_id">SHIP TO PARTY</label>
    <input class="form-control" id="ship_to_id" name="ship_to_id" type="text" onchange="chng()"  value="" required></div><br>
</div>
<div class="col-sm-12 col-md-8" >
<div class="form-group">
    <label for="ship_to_add">SHIP TO PARTY ADDRESS</label>
     <textarea class="form-control" id="ship_to_add" name="ship_to_add"  rows="1" required readonly></textarea></div>
     </div>
   </div>

<br>
<div class="row">
  
<div class="col-sm-12 col-md-4">

  <div class="form-group">
    <label for="po_no">PO NO</label>
    <input class="form-control" id="po_no" name="po_no" type="text"  onkeyup="chng()" value="" placeholder="" required></div>
</div>

<div class="col-sm-12 col-md-4">
<div class="form-group">
<label for="inco_terms">SELECT INCO TERMS</label>
    <select class="form-control" id="inco_terms" name="inco_terms"  onchange="chng()" required>
      <option value="PAD">PAID</option>
      <option value="TOP">TOPAY</option>
      <option value="EXG">EX-GODOWN</option>
      <option value="EXW">EX-WORKS</option>
    </select>
  </div>

</div>

<div class="col-sm-12 col-md-4">
   <div class="form-group">
    <label for="inco_terms">SEARCH FOR MATERIAL</label>
    <input id="material_code" type="hidden" name="material_code" onchange="chng()"  class="form-control material_code">
  </div>
</div>

</div>
<br>
<div class="row">
<div class="col-sm-12 col-md-4">
    <div class="form-group">
    <label for="inco_terms">QUANTITY IN METRIC TONS</label>
    <input class="form-control" id="quantity" name="quantity" onchange="chng()" type="number" value="" required></div>
</div>


<div class="col-sm-12 col-md-4">
   <div class="form-group">
    <label for="route">SELECT ROUTE</label>
    <select class="form-control" id="route" name="route" onchange="chng()" required>
      <option value="000001">ROAD</option>
      <option value="000002">RAIL</option>
      <option value="000003">ROAD-RAIL</option>
    </select>
  </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
<label for="inco_terms">SEARCH FOR PLANT</label>
    <input id="plant" type="hidden" name="plant" onchange="chng()" class="form-control plant">
  </div>
  </div>

</div>
<br>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
    <label for="destination">DESTINATION</label>
    <input class="form-control" id="destination" name="destination" onkeyup="chng()" type="text" value="" required></div><p></p>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
    <label for="destination">SALES REP</label>
    <input class="form-control" id="sales_rep" name="sales_rep" onkeyup="chng()" type="text" value="" required></div><p></p>
  </div>
  <div class="col-sm-12 col-md-4">
     <div class="form-group" >
    <label for="payment_terms">PAYMENT TERMS</label>
    <input class="form-control" id="payment_terms" name="payment_terms" type="text" value=""  onkeyup="chng()" required>
  </div> 
  </div>
</div>











<br>




<div class="row">
  <div class="col-sm-6 col-sm-offset-3" id="pricetable">

</div>
<div class="col-sm-4 col-md-offset-4">
<div class="form-group" id='submitoption'>
   <button  type="submit" onclick="fetch()" id="sub" class="btn btn-primary btn-block">GET PRICE</button>
</div>
  </div>

    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
function chng()
{

document.getElementById("pricetable").innerHTML = "";
document.getElementById("submitoption").innerHTML ='<button  type="button" id="sub" onclick="fetch()" class="btn btn-primary btn-block">GET PRICE</button>';
}
</script>




<script>



$(document).ready(function() {
    $('.sold_to_id').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/user/getcustomerlist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise._id.KUNNR+">"+excercise._id.NAME1+"--"+excercise._id.KUNNR+" </div>"; 
 
        },
        id: function(excercise){
          return excercise._id.KUNNR;
        },
        formatAjaxError: function(){
          return 'Customer Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#sold_to_id").val(excercise._id.KUNNR);
    
    chng();
            return excercise._id.NAME1; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

    $('.material_code').select2({
        minimumInputLength: 3,
        placeholder: '',
        ajax: {
            url: "/user/getsdmaterialslist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.MATNR+">"+excercise.MATNR+" - "+excercise.MAKTX+" </div>"; 
   
        },
        id: function(excercise){
          return excercise.MATNR;
        },
        formatAjaxError: function(){
          return 'Material Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material_code").val(excercise.MATNR);
    chng();
            return excercise.MAKTX; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

$('.plant').select2({
        minimumInputLength: 3,
        placeholder: '',
        ajax: {
            url: "/user/getsdplantslist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.WERKS+">"+excercise.WERKS+" - "+excercise.NAME1+" </div>"; 
  
        },
        id: function(excercise){
          return excercise.WERKS;
        },
        formatAjaxError: function(){
          return 'Plant Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#plant").val(excercise.WERKS);
    chng()
            return excercise.NAME1; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
});

 


      $( "button[data-select2-open]" ).click( function() {
        $( "#" + $( this ).data( "select2-open" ) ).select2( "open" );
      });

      
        var select2OpenEventName = "select2-open";

        $( ":checkbox" ).on( "click", function() {
          $( this ).parent().nextAll( "select" ).select2( "enable", this.checked );
        });
      

      $( ".select2, .select2-multiple, .select2-allow-clear, .select2-remote, .sold_to_id .material_code .plant" ).on( select2OpenEventName, function() {
        if ( $( this ).parents( "[class*='has-']" ).length ) {
          var classNames = $( this ).parents( "[class*='has-']" )[ 0 ].className.split( /\s+/ );

          for ( var i = 0; i < classNames.length; ++i ) {
              if ( classNames[ i ].match( "has-" ) ) {
                $( "#select2-drop" ).addClass( classNames[ i ] );
              }
          }
        }

      });

    </script>
    <script type="text/javascript">
function fetch()
{
 var $inputs = $('#tradeform :input');
var a=0;
    // not sure if you wanted this, but I thought I'd add it.
    // get an associative array of just the values.
    var values = {};
    $inputs.each(function() {
        if($.trim($(this).val())=="")
        {
        a=a+1;
        console.log(this.name);
        }
    });

    if(a>5)
  {
 var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>All Fields are required</span></div>'
  document.getElementById("errormsg").innerHTML = text;
  return false;
  }
$("#sub").attr("disabled", "disabled");
var f=new FormData(document.getElementById("tradeform"));
var ajax=new XMLHttpRequest();
ajax.upload.addEventListener("progress",progressHandler,false);
ajax.addEventListener("load",completeHandler,false);
ajax.open("POST","/user/getprice");
ajax.send(f);
}

function progressHandler(event){

/*$("#progress").show();
  $("#sub").attr("disabled", "disabled");
$(":file").filestyle('disabled', true);

var percent=(event.loaded/event.total) *100
document.getElementById("prog").style.width=Math.round(percent)+'%';
document.getElementById("prog").innerHTML=Math.round(percent)+'%';

if(Math.round(percent)==100)
{
  document.getElementById("prog").innerHTML="Processing...Please Wait" 
}
*/

  var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>Processing...Please Wait</span></div>'
  document.getElementById("errormsg").innerHTML = text;

}


function completeHandler(event){
/*document.getElementById("prog").style.width='0%';
$(":file").filestyle('disabled', false);
$("#progress").hide();*/
document.getElementById("sub").removeAttribute("disabled");
var response=JSON.parse(event.target.responseText);
var text='<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>Process Completed</span></div>'
document.getElementById("errormsg").innerHTML = text;

 if (response.error == 'yes'){
                    var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>'+response.message+'</span></div>'
              document.getElementById("errormsg").innerHTML = text;
                  }
                  else{
                   var text='<table class="table table-bordered table-condensed table-hover"><thead><tr><th>COND TYP</th><th>PRICE</th></tr></thead><tbody>';
          text+='<tr><td>Invoice Price</td><td>'+response.EX_ZINV+'</td></tr><tr><td>Road Freight Amount</td><td>'+response.EX_ZFRT+'</td></tr><tr><td>Rail Freight Amount</td><td>'+response.EX_ZFR3+'</td></tr><tr><td>VAT</td><td>'+response.EX_JIVP+'</td></tr><tr><td>CST</td><td>'+response.EX_JIVC+'</td></tr><tr><td>Basic Exice Duty</td><td>'+response.EX_JEXT+'</td></tr><tr><td>Edu Cess</td><td>'+response.EX_JECT+'</td></tr><tr><td>S.Edu Cess</td><td>'+response.EX_JSET+'</td></tr></tr><tr><td>Net Realization</td><td>'+response.EX_ZBAS+'</td></tr><tr><td>Total Amount</td><td>'+response.EX_NETWR+'</td></tr></tbody></table>'
          document.getElementById("pricetable").innerHTML = text;
          var text1='<input type="hidden" value="'+response.EX_QUOT_NO+'" name="quot_no">';
          text1 +='<input type="hidden" value="'+response.EX_ZINV+'" name="zinv">';
          text1 +='<input type="hidden" value="'+response.EX_ZFRT+'" name="zfrt">';
          text1 +='<input type="hidden" value="'+response.EX_ZFR3+'" name="zfr3">';
          text1 +='<input type="hidden" value="'+response.EX_JIVP+'" name="jivp">';
          text1 +='<input type="hidden" value="'+response.EX_JIVC+'" name="jivc">';
          text1 +='<input type="hidden" value="'+response.EX_JEXT+'" name="jext">';
          text1 +='<input type="hidden" value="'+response.EX_JECT+'" name="ject">';
          text1 +='<input type="hidden" value="'+response.EX_JSET+'" name="jset">';
          text1 +='<input type="hidden" value="'+response.EX_ZBAS+'" name="zbas">';
          text1 +='<input type="hidden" value="'+response.EX_NETWR+'" name="netwr">';
          text1 +='<input type="submit" value="Submit" id="sub" class="btn btn-primary btn-block">';
document.getElementById("submitoption").innerHTML = text1;
}
}



  /*$.ajax({
        url: '/user/getprice',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                  if (response.error == 'yes'){
                    var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>'+response.message+'</span></div>'
              document.getElementById("errormsg").innerHTML = text;
                  }
                  else{
                    if(response.EX_ZINV==undefined||response.EX_ZFRT==undefined||response.EX_ZFR3==undefined||response.EX_JIVP==undefined )
                    {
                           var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>All fields are required</span></div>'
              document.getElementById("errormsg").innerHTML = text;
                      return;
                    }
                    else{
                   var text='<table class="table table-bordered table-condensed table-hover"><thead><tr><th>COND TYP</th><th>PRICE</th></tr></thead><tbody>';
          text+='<tr><td>Invoice Price</td><td>'+response.EX_ZINV+'</td></tr><tr><td>Road Freight Amount</td><td>'+response.EX_ZFRT+'</td></tr><tr><td>Rail Freight Amount</td><td>'+response.EX_ZFR3+'</td></tr><tr><td>VAT</td><td>'+response.EX_JIVP+'</td></tr><tr><td>CST</td><td>'+response.EX_JIVC+'</td></tr><tr><td>Basic Exice Duty</td><td>'+response.EX_JEXT+'</td></tr><tr><td>Edu Cess</td><td>'+response.EX_JECT+'</td></tr><tr><td>S.Edu Cess</td><td>'+response.EX_JSET+'</td></tr></tr><tr><td>Net Realization</td><td>'+response.EX_ZBAS+'</td></tr><tr><td>Total Amount</td><td>'+response.EX_NETWR+'</td></tr></tbody></table>'
          document.getElementById("pricetable").innerHTML = text;
          var text1='<input type="hidden" value="'+response.EX_QUOT_NO+'" name="quot_no">';
          text1 +='<input type="hidden" value="'+response.EX_ZINV+'" name="zinv">';
          text1 +='<input type="hidden" value="'+response.EX_ZFRT+'" name="zfrt">';
          text1 +='<input type="hidden" value="'+response.EX_ZFR3+'" name="zfr3">';
          text1 +='<input type="hidden" value="'+response.EX_JIVP+'" name="jivp">';
          text1 +='<input type="hidden" value="'+response.EX_JIVC+'" name="jivc">';
          text1 +='<input type="hidden" value="'+response.EX_JEXT+'" name="jext">';
          text1 +='<input type="hidden" value="'+response.EX_JECT+'" name="ject">';
          text1 +='<input type="hidden" value="'+response.EX_JSET+'" name="jset">';
          text1 +='<input type="hidden" value="'+response.EX_ZBAS+'" name="zbas">';
          text1 +='<input type="hidden" value="'+response.EX_NETWR+'" name="netwr">';
          text1 +='<input type="submit" value="Submit" class="btn btn-primary btn-block">';
document.getElementById("submitoption").innerHTML = text1;
}
}}

  });







}*/
    </script>
    <script type="text/javascript">
$('#sold_to_id').change(function() {
  var deg = document.getElementById('sold_to_id').value;

    $.ajax({
                     url:"/user/getshiptopartylist",
                     type:"POST",
                     data:{deg:deg},
                     success:function(data){
                   document.getElementById("sold_to_add").innerHTML=data['results'][0].STRAS+','+data['results'][0].ORT01+','+data['results'][0].BEZEI+','+data['results'][0].LANDX+','+data['results'][0].PSTLZ+','+data['results'][0].TELF1;
                   document.getElementById("sales_rep").value=data['results'][0].KUNN3;
                      ship(data['results']);

                     }
                   })
});
</script>
 <script type="text/javascript">
 function ship(ship_details){
  d=[];
  for (var i = 0; i < ship_details.length; i++) {

    d.push({id:ship_details[i]['KUNN2'], text:ship_details[i]['NAME1_WE']+' - '+ship_details[i]['KUNN2'] });
  }

$("#ship_to_id").select2({
  placeholder: "Search for ship to party",
data:d

});
 }

</script>
    <script type="text/javascript">
$('#ship_to_id').change(function() {
  var deg = $("#ship_to_id").select2('data').id;

    $.ajax({
                     url:"/user/getshiptopartyadd",
                     type:"POST",
                     data:{deg:deg},
                     success:function(data){
                   
                     document.getElementById("ship_to_add").innerHTML=data.STRAS_WE+','+data.ORT01_WE+','+data.BEZEI_WE+','+data.LANDX_WE+','+data.PSTLZ_WE+','+data.TELF1_WE;
                     document.getElementById("destination").value=data.DESTINT;

                     }
                   })
});
</script>
{% endblock %}
