{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="glyphicon glyphicon-user"></i>Employee Details</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}
<!-- function to show link in html  -->
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<link href="/static/css/datepicker.css" rel="stylesheet">
  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.4').className ="active";
    </script>
            
      <div class="row">
        
        
<div class="col-md-9" style="padding-left: 200px;">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Update Employee Details</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST"  autocomplete="off">
              <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <input type="radio" name="emp" id="emp" value="0" onclick="dispfucntion()"><label class="control-label" for="employee_id">Employee ID</label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="emp" id="date" value="1" onclick="dispfucntion()"><label class="control-label" for="employee_id">Date</label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="emp" id="all" value="2" onclick="dispfucntion()"><label class="control-label" for="employee_id">All</label>
                  <div id="empid" style="visibility:hidden">
                  <input class="form-control" id="employee_id" name="employee_id" type="text" value="" ></div>
                  <div id="dateid" style="visibility:hidden">
                  <input class="form-control" id="start_date" name="start_date" type="text" value=""></div>
                  <!-- <input class="form-control" id="" name="start_date" type="hidden" value=""> -->
                </div>
              </div>
                  </div>
              <p class="errormes btns" style="color:red;display:none;text-align:center;" > Employee Is under blocked, Please Enter a Correct EmpId</p>
                  <div class="row">
                  <div class="col-md-offset-3 col-sm-5 1 btns" id="update" style="visibility:hidden" ></br>
                  <input type="submit" name="submit" value="Update" class="btn btn-primary btn-block"></div>

                  
                  </div>
          </form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        

<!-- 
 <div class="col-md-6">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title"> Update Employee By Date</h4>
           </div>
        <div class="panel-body">
<form  action="" method="POST"  autocomplete="off">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label" for="employee_id">Select Date</label>
    <input class="form-control" id="start_date" name="start_date" type="text" value="">
    <input class="form-control" id="employee_id" name="employee_id" type="hidden" value="">
  </div>
</div>
    </div>
    <div class="col-md-offset-3 col-sm-5 6 btns" ></br>
    <input type="submit" name="submit" value="Update" class="btn btn-primary btn-block"></div>
</form>     
                                                
        </div>
      </div>
</div>  
 -->


      </div><!-- row -->
      <script src="/static/js/select2.js"></script>
      <script src="/static/js/bootstrap-datepicker.js"></script>
   <!--    function to check the  given username is block or unblock --> 
  <script type="text/javascript">
$( document ).ready(function() {
$("#employee_id").keyup(function() {
    var e = $(this).val().trim();
    if (e.length == 5) {
        $.ajax({
            url: "/user/checkemp",
            data: $("form").serialize(),
            type: "POST",
            success: function(e) {
              console.log(e)
                if (e.trim() == "1") {
                  $(".1").show();
                  $(".errormes").hide();
                  }
                else {
                  $(".errormes").show();
                  $(".1").hide();
                 }
}
});
}
});

$('#start_date').datepicker({
    format: "dd.mm.yyyy",
    autoclose: true

});
$("#start_date").keyup(function() {
    var e = $(this).val().trim();
    if (e!= '') {
        $(".6").show();
  }
else{
  $('.btns').hide();
  $('')
}
});


});


  </script>    

<script type="text/javascript">
 function dispfucntion()
  {
    if (document.getElementById('emp').checked) {
        document.getElementById('empid').style.visibility = 'visible';
        document.getElementById('update').style.visibility = 'visible';
        document.getElementById('dateid').style.visibility = 'hidden';
    }else if(document.getElementById('date').checked) {

        document.getElementById('dateid').style.visibility = 'visible';
        document.getElementById('empid').style.visibility = 'hidden';
        document.getElementById('update').style.visibility = 'visible';
    }
    else {
        document.getElementById('empid').style.visibility = 'hidden';
        document.getElementById('dateid').style.visibility = 'hidden';
         document.getElementById('update').style.visibility = 'visible';
    }
  }

</script>    

{% endblock %}     


