{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">


<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-user"></i>Uploading Masters</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Load Masters</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      <form>
          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Master name</th>
        <th>option</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Function Location Master</td>
        <td>
          <div class="col-md-2" >
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="success" id="func_master" >Load</button>
            <input type="checkbox" class="hidden" checked />
          </span>
        </div>
        </td>
        
      </tr>
      <tr>
        <td>Equipment Master</td>
        <td>
          <div class="col-md-2" >
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="success" id="equip_master" >Load</button>
            <input type="checkbox" class="hidden" checked />
          </span>
        </div>
        </td>
       
      </tr>
      <tr>
        <td>CostCenter Master</td>
        <td> 
          <div class="col-md-2" >
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="success" id="costcenter_master">Load</button>
            <input type="checkbox" class="hidden" checked />
          </span>
        </div>
        </td>
        
      </tr>
      <tr>
        <td>Asset Master</td>
        <td> 
          <div class="col-md-2" >
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="success" id="asset_master">Load</button>
            <input type="checkbox" class="hidden" checked />
          </span>
        </div>
        </td>
        
      </tr>
      <tr>
        <td>Storage Location Master</td>
        <td> 
          <div class="col-md-2" >
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="success" id="st_loc_master">Load</button>
            <input type="checkbox" class="hidden" checked />
          </span>
        </div>
        </td>
        
      </tr>

      <tr>
        <td>Material Master</td>
        <td> 
          <div class="col-md-2" >
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="success" id="material_master">Load</button>
            <input type="checkbox" class="hidden" checked />
          </span>
        </div>
        </td>
        
      </tr>
    </tbody>
  </table>

    </form>
     
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        


      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-timepicker.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/checkbutton.js"></script>

<script type="text/javascript">
document.getElementById('id-26').className ="active";
    </script>

 <script>
$(document).ready(function(){ 
  // loading  master
  $("#func_master").click(function(){
    alert("Please Wait, its Processing");
        $.ajax({
            type: "POST",
            url: "/backup/functionlocmaster",
            success: function(data) {
                alert("successfully loaded");
           }
     });
  });

    // loading  master
  $("#equip_master").click(function(){
    alert("Please Wait, its Processing");
        $.ajax({
            type: "POST",
            url: "/pmpr/equipmentmaster",
            success: function(data) {
                alert("successfully loaded");
           }
     });
  });

    // loading  master
  $("#costcenter_master").click(function(){
    alert("Please Wait, its Processing");
        $.ajax({
            type: "POST",
            url: "/pmpr/costcentersmaster",
            success: function(data) {
                alert("successfully loaded");
           }
     });
  });

    // loading  master
  $("#asset_master").click(function(){
    alert("Please Wait, its Processing");
        $.ajax({
            type: "POST",
            url: "/pmpr/assetmaster",
            success: function(data) {
                alert("successfully loaded");
           }
     });
  });

    // loading  master
  $("#st_loc_master").click(function(){
    alert("Please Wait, its Processing");
        $.ajax({
            type: "POST",
            url: "/pmpr/storagelocmaster",
            success: function(data) {
                alert("successfully loaded");
           }
     });
  });

$("#material_master").click(function(){
    alert("Please Wait, its Processing");
        $.ajax({
            type: "POST",
            url: "/pmpr/material_master",
            success: function(data) {
                 alert("successfully loaded");
           }
     });
  });

});
 </script> 
{% endblock %}
