{% extends "base.html" %}
{% block links %}

<link href="/static/css/datepicker_ui.min.css" rel="stylesheet">

<style>
#table {table-layout:fixed;}

.modal-dialog { /* Modal Window Customize*/
    width: 60%;
    height: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -350px;
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock %}
{% block pageheader %}  

<div class="pageheader">
    <h2><i class="fa fa-pencil"></i></h2>

</div>
{% endblock %} 
{% block contentpanel %}  
<div class="row">

 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">User Manual For KRA 2017-2018</h4>
        </div><!-- panel-heading -->

<div class="panel-body">

 <div class="col-md-12 ">
<h3 style="text-align: center"> UserManual For Submitting KRA'S</h3>
 
<iframe  id="contentarea" src = "/static/UserManualEmployee_GoalSetting.pdf" width='100%' height='600' allowfullscreen webkitallowfullscreen></iframe>

<div style="margin: 5px">
  <span>&nbsp;</span>
</div>

{% if user_details.eh %}
 <h3 style="text-align: center"> UserManual For Manager(Approval & View)</h3>
<iframe  id="contentarea" src = "/static/UserManualManagerGoalSetting.pdf" width='100%' height='600' allowfullscreen webkitallowfullscreen></iframe>
{% endif %}
 </div>
 
 </div>



    </div><!---Panel Body-->
  </div><!---row-->


{% endblock %}    
{% block scripts %}
<script type="text/javascript">

    document.getElementById('id-36').className ="nav-parent nav-active active";
    document.getElementById("t").style.display = "block";
  document.getElementById('id-36.7').className ="active";

</script>
<script src="/static/js/jquery-ui.js"></script>
</script> -->
<!-- <script type="text/javascript">

document.getElementById("contentarea").setAttribute('src', "/static/ViewerJS/index.html#../UserManualEmployee_GoalSetting.pdf");
</script> -->

{% endblock %}