{% extends "layout.html" %}
{% block body %} 
<div class="container" style="font-size: 20px">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
            <h3 align="center">Book Details</h3>
            <br>
            {% for z in details %}
            <div align="center" name="book_details">
               <option> Book Name : {{ z.name }}</option>
               <option> Author Name : {{ z.author }}</option>
               <option> Publication : {{ z.publication }}</option>
               <option> Book Status : {{ z.status }}</option>
               <br/>
               <input type="hidden" name="book_name" value="{{z.name}}">
               <input type="hidden" name="book_author" value="{{z.author}}">
               <input type="hidden" name="book_publication" value="{{z.publication}}">
               <input type="hidden" name="book_status" value="{{z.status}}">
               <input type="hidden" name="book_id" value="{{z._id}}">
               {% if z.status == "out of stock" %}
               <div align="center">
                  <button type="button" name="order_flag" value="0" disabled>Order</button>
               </div>
               {% else %}
               <div align="center">
               <form method=POST action="{{ url_for('userTrackingPage1') }}">
                  <button name="order_flag" value="1">Order</button>
               </form>
               </div>
               {% endif %}
            </div>
            {% endfor %}
      </div>
   </div>
</div>
{% endblock %}