<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Logistics Management System</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='static/css/bootstrap.min.css' rel="stylesheet">
      <title>Login Example</title>
      <style type="text/css">
         body
         {
         text-align: left;
         }
         .container
         {
         margin-left: 12cm;
         }
         table {
         width:50%;
         }
         table, th, td {
         border: 1px solid black;
         border-collapse: collapse;

         }
         th, td {
         padding: 5px;
         text-align: center;
         }
         table#t01 tr:nth-child(even) {
         background-color: #eee;
         }
         table#t01 tr:nth-child(odd) {
         background-color:#fff;
         }
         table#t01 th {
         background-color: black;
         color: white;
         }
         body
         {
         counter-reset: Serial;           
         }
         tr td:first-child:before
         {
         counter-increment: Serial;   
         content: counter(Serial); 
         }
      </style>
   </head>
   <body>
      <br/><br/>
      <h1 align="center" style="font-size: 40px">Logistics Management System</h1>
      <br/><br/>
      {% block body %}{% endblock %}
      <script src="static/js/jquery-3.2.1.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function(){ 
               $("#{{order_status}}").prop('checked',true);
               console.log("{{order_status}}");
         });
      </script>

     
   </body>
</html>