{% extends "layout.html" %}
{% block body %} 
<div class="container" style="font-size: 20px">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <h3 align="center">Delivery Status</h3>
         <br>
         <div align="center">
<!--           Order status : {{order_status}}
 -->          </div>
            <div align="center">
               <input type="checkbox" name="ordered" id="ordered" value="Ordered" id="check"> Ordered <br>
               <input type="checkbox" name="delivered" id='delivered' value="Delivered">Delivered<br>
               <input type="checkbox" name="returned" id='returned' value="Returned" id="myCheck">Returned<br/><br/>
            </div><br/>
            <form method=POST action="{{ url_for('logisticsTracking') }}">
            <div align="center">
            <button>Return</button>
            </div>
            </form>
      </div>
   </div>
</div>
{% endblock %}