{% extends "layout.html" %}
{% block body %}
<div align="center">
<h3>Seller Login Page</h3>
</div>
<br/><br>
<div class="container" style="font-size: 20px" align="center>
   <div class="row">
   <div class="col-md-4 col-md-offset-4" >
      <form method=POST action="{{ url_for('loginSeller') }}">
         <div class="form-group" >
            <label for="exampleInputEmail1" >Username</label>
            <input type="text" class="form-control" style="font-size: 12px" name="username" placeholder="Username">
         </div>
         <div class="form-group" >
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" style="font-size: 12px" name="pass" placeholder="Password">
         </div>
         <button type="submit" class="btn btn-primary btn-block" style="font-size: 20px">Log In</button>
      </form>
   </div>
</div>
</div>
{% endblock %}