{% extends "layout.html" %}
{% block body %} 
<h3 align="center">User Delivery Status Page</h3><br/>
<h4 align="center">Order Details</h4>
<br>
<table align="center">
  <thead>
        <tr>
            <th>Sr.No</th>
            <th>Book Name</th>
            <th>Publication</th>
            <th>Book Id</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for z in book_details %}
        <tr>
            <td></td>
            <td>{{z.name}}</td>
            <td>{{z.publication}}</td>
            <td>{{z.book_id}}</td>
            <td>{{z.status}}</td>
            <td>
            <form method=POST action="{{ url_for('userTrackingPage') }}">
               <input type="hidden" name="book_id" value="{{z._id}}">
               <input type="hidden" name="book_name" value="{{z.name}}">
               <input type="hidden" name="book_status" value="{{z.status}}">
               <button type="submit">Return</button>
            </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}