{% extends "layout.html" %}
{% block body %}
<div class="container" style="font-size: 20px" align="center>
   <div class="row">
   <div class="col-md-4 col-md-offset-4" >
      <form method=POST action="{{ url_for('login') }}">
         <div class="form-group" >
            <label for="exampleInputEmail1" >Username</label>
            <input type="text" class="form-control" style="font-size: 12px" name="username" placeholder="Username">
         </div>
         <div class="form-group" >
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" style="font-size: 12px" name="pass" placeholder="Password">
         </div>
         <button type="submit" class="btn btn-primary btn-block" style="font-size: 20px">Log In</button>
      </form>
      <br>
      <div>
         Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>
      </div><br/>
      <div>
      <form method="POST">
        <a href="{{ url_for('sellerLogin') }}" style="margin-right: 80px" target="_blank">Seller Login</a>
        <a href="{{ url_for('logisticsLogin') }}" target="_blank">Logistics Login</a>
      </form>
      </div>
   </div>
</div>
</div>
{% endblock %}