<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
         body {
         font: 400 15px Lato, sans-serif;
         line-height: 1.8;
         color: #818181;
         }
         h2 {
         font-size: 24px;
         text-transform: uppercase;
         color: #303030;
         font-weight: 600;
         margin-bottom: 30px;
         }
         h4 {
         font-size: 19px;
         line-height: 1.375em;
         color: #303030;
         font-weight: 400;
         margin-bottom: 30px;
         }  
         .jumbotron {
         background-color: #1abc9c;
         color: #fff;
         padding: 100px 25px;
         font-family: Montserrat, sans-serif;
         }
         .container-fluid {
         padding: 60px 50px;
         }
         .bg-grey {
         background-color: #f6f6f6;
         }
         .logo-small {
         color: #1abc9c;
         font-size: 50px;
         }
         .logo {
         color: #1abc9c;
         font-size: 200px;
         }
         .panel-heading {
         color: #fff !important;
         background-color: #f4511e !important;
         padding: 25px;
         border-bottom: 1px solid transparent;
         border-top-left-radius: 0px;
         border-top-right-radius: 0px;
         border-bottom-left-radius: 0px;
         border-bottom-right-radius: 0px;
         }
         .navbar {
         background-color: #1abc9c;
         z-index: 9999;
         border: 0;
         font-size: 12px !important;
         line-height: 1.42857143 !important;
         letter-spacing: 4px;
         border-radius: 0;
         font-family: Montserrat, sans-serif;
         }
         .navbar li a, .navbar .navbar-brand {
         color: #fff !important;
         }
         .navbar-nav li a:hover, .navbar-nav li.active a {
         color: #f4511e !important;
         background-color: #fff !important;
         }
         .navbar-default .navbar-toggle {
         border-color: transparent;
         color: #fff !important;
         }
         .slideanim {visibility:hidden;}
         .slide {
         animation-name: slide;
         -webkit-animation-name: slide;
         animation-duration: 1s;
         -webkit-animation-duration: 1s;
         visibility: visible;
         }
         @keyframes slide {
         0% {
         opacity: 0;
         transform: translateY(70%);
         } 
         100% {
         opacity: 1;
         transform: translateY(0%);
         }
         }
         @-webkit-keyframes slide {
         0% {
         opacity: 0;
         -webkit-transform: translateY(70%);
         } 
         100% {
         opacity: 1;
         -webkit-transform: translateY(0%);
         }
         }
         @media screen and (max-width: 768px) {
         .col-sm-6 {
         text-align: center;
         margin: 25px 0;
         }
         .btn-lg {
         width: 100%;
         margin-bottom: 35px;
         }
         }
         @media screen and (max-width: 480px) {
         .logo {
         font-size: 150px;
         }
         }
      </style>
   </head>
   <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>                        
               </button>
               <a class="navbar-brand" href="#myPage">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#services">Categories</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="jumbotron text-center">
         <h1>Online Book Store</h1>
         <p>Buy books online! From bestsellers to niche books..</p>
      </div>
      <div id="services" class="container-fluid text-center">
         <h2>Genres of Books</h2>
         <br>
         <div class="row slideanim">
            <div class="col-sm-6">
               <span class="glyphicon glyphicon-book logo-small"></span><br/>
               <p>Genere : </p>
               <select>
               {% for x in server_list %}
               <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
               {% endfor %}
               </select>
            </div>
            <div class="col-sm-6">
               <span class="glyphicon glyphicon-book logo-small"></span><br/>
               <p>Books : </p>
               <select>
                  <option><strong>Names</strong></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
               </select>
            </div>
         </div>
      </div>
      <script>
         $(document).ready(function(){
           $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
             if (this.hash !== "") {
               event.preventDefault();
               var hash = this.hash;
               $('html, body').animate({
                 scrollTop: $(hash).offset().top
               }, 900, function(){
            
                 window.location.hash = hash;
               });
             } 
           });
           
           $(window).scroll(function() {
             $(".slideanim").each(function(){
               var pos = $(this).offset().top;
         
               var winTop = $(window).scrollTop();
                 if (pos < winTop + 600) {
                   $(this).addClass("slide");
                 }
             });
           });
         })
      </script>
   </body>
</html>