/* --- functional styling */
.dzscalendar {
  position: relative; }

.dzscalendar table, .dzscalendar tbody, .dzscalendar tbody > tr {
  position: relative; }

.dzscalendar .events {
  display: none; }

.dzscalendar .calendar-controls {
  position: relative; }

.dzscalendar .theMonths {
  position: relative; }

.dzscalendar .theMonths > * {
  position: absolute;
  top: 0;
  left: 0; }

/* --- estethic styling */
.dzscalendar {
  font-family: 'Carrois Gothic', Arial; }

.dzscalendar .testimonial span {
  font-size: 2.5em;
  font-family: Courier New, Arial;
  font-style: italic;
  line-height: 1em;
  color: #555; }

.dzscalendar .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 10px; }

.dzscalendar table td {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 12px; }

.dzscalendar table .other-months-date {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.dzscalendar .past-date {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.dzscalendar .hasEvent {
  color: #CC3300;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
  cursor: pointer;
  font-weight: bold; }

.dzscalendar .calendar-controls {
  min-height: 27px;
  width: 100%; }

.dzscalendar .calendar-controls .arrow-left {
  position: absolute;
  top: 1px;
  left: 10px;
  background: transparent no-repeat center center url(images/arrowline-left-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar .calendar-controls .arrow-right {
  position: absolute;
  top: 1px;
  right: 10px;
  background: transparent no-repeat center center url(images/arrowline-right-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar .calendar-controls .curr-date {
  text-align: center;
  padding-top: 0px; }

.dzscalendar .calendar-controls .curr-month {
  margin-right: 15px; }

.dzscalendar .calendar-controls .curr-year {
  color: #017; }

.dzscalendar, .dzscalendar .theMonths, .dzscalendar .calendar-controls {
  width: 200px; }

.dzscalendar .theMonths {
  width: 100%;
  height: 141px;
  overflow: hidden; }

.dzscalendar .dzstooltip {
  position: absolute;
  opacity: 0;
  z-index: 576;
  text-align: left;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: ease-out; }

.dzstooltip span.label {
  font-weight: bold; }

.dzstooltip > div {
  padding-bottom: 10px; }

.dzstooltip > div > h5 {
  font-family: 'Carrois Gothic', Arial;
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 10px; }

.dzscalendar.skin-other .testimonial span {
  font-size: 1em; }

.dzscalendar.skin-other .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 0px; }

.dzscalendar.skin-green .testimonial span {
  font-size: 1em; }

.dzscalendar.skin-green .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 0px; }

.dzscalendar.skin-green {
  background: #FCFCFC;
  background-size: auto 100%;
  color: #000;
  padding: 7px 3px 12px;
  border-radius: 5px; }

.dzscalendar.skin-green .calendar-controls .arrow-left {
  position: absolute;
  top: 1px;
  left: 10px;
  background: transparent no-repeat center center url(images/arrowline-left-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar.skin-green .calendar-controls .arrow-right {
  position: absolute;
  top: 1px;
  right: 10px;
  background: transparent no-repeat center center url(images/arrowline-right-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }
