/* --- functional styling */
.dzstooltip-con.js {
  position: fixed;
  top: 0px;
  left: 0; }

.dzstooltip {
  position: absolute;
  top: 0;
  left: 0; }

.with-tooltip {
  position: relative;
  display: inline-block; }

/* --- estethic styling */
.with-tooltip span:first-child, .dzstooltip {
  background: #fafafa;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1px 12px;
  color: #111111;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.dzstooltip {
  opacity: 1;
  visibility: visible;
  display: inline-block; }

.with-tooltip span:first-child {
  position: absolute;
  bottom: 150%;
  overflow: visible;
  left: 0px;
  pointer-events: none;
  color: #111111; }

.interactive .with-tooltip span:first-child {
  pointer-events: auto; }

.with-tooltip:hover span:first-child {
  visibility: visible;
  opacity: 1;
  bottom: 120%; }

.dzstooltip {
  position: relative; }

/* -- arrows -> functional + estethic*/
.with-tooltip span:first-child:after, .dzstooltip:after, .with-tooltip span:first-child:before, .dzstooltip:before {
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  content: " ";
  height: 0;
  width: 0; }

.with-tooltip span:first-child:after, .dzstooltip:after, .with-tooltip span:first-child:before, .dzstooltip:before {
  top: 100%; }

.with-tooltip span:first-child:after, .dzstooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px; }

.with-tooltip span:first-child:after, .dzstooltip:after {
  border-top-color: #fafafa;
  left: 12px;
  margin-left: -5px; }

.with-tooltip span:first-child:before, .dzstooltip:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 8px; }

.with-tooltip span:first-child:before, .dzstooltip:before {
  border-top-color: rgba(0, 0, 0, 0.3);
  left: 12px;
  margin-left: -8px; }

.with-tooltip.arrow-left span:first-child {
  box-shadow: 0 0 0 0; }

.with-tooltip.arrow-left span:first-child {
  left: 200%;
  right: auto;
  bottom: auto;
  top: 0px; }

.with-tooltip.arrow-left span:first-child:after, .dzstooltip.arrow-left:after, .with-tooltip.arrow-left span:first-child:before, .dzstooltip.arrow-left:before {
  top: 0%; }

.with-tooltip.arrow-left span:first-child:after, .dzstooltip.arrow-left:after {
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-right-color: #fafafa;
  top: 7px;
  margin: 0 0 0 0;
  left: -10px;
  margin-top: -5px; }

.with-tooltip.arrow-left span:first-child:before, .dzstooltip.arrow-left:before {
  border-width: 8px;
  border-color: transparent transparent transparent transparent;
  border-right-color: rgba(0, 0, 0, 0.3);
  top: 7px;
  left: -8px;
  margin-top: -8px; }

.with-tooltip.arrow-right span:first-child {
  box-shadow: 0 0 0 0;
  min-width: 100px; }

.with-tooltip.arrow-right span:first-child {
  left: auto;
  right: 200%;
  bottom: auto;
  top: 0px; }

.arrow-right.with-tooltip:hover span:first-child {
  left: auto;
  right: 150%;
  bottom: auto;
  top: 0px; }

.with-tooltip.arrow-right span:first-child:after, .dzstooltip.arrow-right:after, .with-tooltip.arrow-right span:first-child:before, .dzstooltip.arrow-right:before {
  top: 0%; }

.with-tooltip.arrow-right span:first-child:after, .dzstooltip.arrow-right:after {
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-left-color: #fafafa;
  top: 9px;
  margin: 0 0 0 0;
  left: auto;
  right: -10px;
  margin: 0 0 0 0;
  margin-top: -5px; }

.with-tooltip.arrow-right span:first-child:before, .dzstooltip.arrow-right:before {
  border-width: 8px;
  border-color: transparent transparent transparent transparent;
  border-left-color: rgba(0, 0, 0, 0.3);
  top: 9px;
  left: auto;
  right: -16px;
  margin: 0 0 0 0;
  margin-top: -8px; }

 /*
        margin:0 0 0 0;
*/
.with-tooltip.arrow-up span:first-child {
  top: auto;
  bottom: auto;
  top: 150%;
  min-width: 75px; }

.arrow-up.with-tooltip:hover span:first-child {
  left: auto;
  top: auto;
  bottom: auto;
  top: 100%;
  margin-top: 5px; }

.with-tooltip.arrow-up span:first-child:after, .dzstooltip.arrow-up:after, .with-tooltip.arrow-up span:first-child:before, .dzstooltip.arrow-up:before {
  top: 0%; }

.with-tooltip.arrow-up span:first-child:after, .dzstooltip.arrow-up:after {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: #fafafa;
  left: 10px;
  top: -5px;
  margin: 0 0 0 0;
  margin-top: -5px; }

.with-tooltip.arrow-up span:first-child:before, .dzstooltip.arrow-up:before {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  left: 14px;
  top: -8px;
  margin-top: -8px; }
