<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <style>
         body {
         font: 400 15px Lato, sans-serif;
         line-height: 1.8;
         color: #818181;
         }
         h2 {
         font-size: 24px;
         text-transform: uppercase;
         color: #303030;
         font-weight: 600;
         margin-bottom: 30px;
         }
         h4 {
         font-size: 19px;
         line-height: 1.375em;
         color: #303030;
         font-weight: 400;
         margin-bottom: 30px;
         }  
         .container-fluid {
         padding: 40px 40px;
         }
         .panel-heading {
         color: #fff !important;
         background-color: #f4511e !important;
         padding: 25px;
         border-bottom: 1px solid transparent;
         border-top-left-radius: 0px;
         border-top-right-radius: 0px;
         border-bottom-left-radius: 0px;
         border-bottom-right-radius: 0px;
         }
         .navbar {
         background-color: #1abc9c;
         z-index: 9999;
         border: 0;
         font-size: 12px !important;
         line-height: 1.42857143 !important;
         letter-spacing: 4px;
         border-radius: 0;
         font-family: Montserrat, sans-serif;
         }
         .navbar li a, .navbar .navbar-brand {
         color: #fff !important;
         }
         .navbar-nav li a:hover, .navbar-nav li.active a {
         color: #f4511e !important;
         background-color: #fff !important;
         }
         .navbar-default .navbar-toggle {
         border-color: transparent;
         color: #fff !important;
         }
         #btn{
          height: 30px;
          width: 70px;
         }
      </style>
   </head>
   <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" style="padding-bottom: 5cm">
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
              <form method=POST action="{{ url_for('logout') }}">
              <div align="right">
              <button type="submit" id="btn">Logout</button>
              </div>
              </form>
            </div>
         </div>
      </nav>
      <div class="text-center">
         <h1>Online Book Store</h1>
         <p>Buy books online! From bestsellers to niche books..</p>
      </div>
      <div id="services" class="container-fluid text-center">
         <h2>Genres of Books</h2>
         <div class="row slideanim">
            <div class="col-sm-6">
               <span class="glyphicon glyphicon-book logo-small"></span>
               <p>Genres : </p>
               <form method=POST action="{{ url_for('bookPurchase') }}">
                  <select class="form-control" id="select_genere" name="select_genere">
                     <option value="">Choose genere</option>
                     {% for x in genere %}
                     <option value="{{ x.genere_name }}">{{ x.name }}</option>
                     {% endfor %}
                  </select>
            </div>
            <div class="col-sm-6">
            <span class="glyphicon glyphicon-book logo-small"></span>
            <p>Books : </p>
            <select class="form-control" id="select_book" name="select_book">
            <option value="">Choose book</option>
            </select>
            </div>
         </div>
      </div>
      <div align="center">
      <button>Proceed</button>
      </div>
      </form>
      <br/><br/>
      <script src="static/js/jquery-3.2.1.min.js"></script>
      <script src="static/js/bootstrap.js"></script>
      <script type="text/javascript">
         $(document).ready(
           function() {
            console.log('js loaded sucessfully :)');
              $("#select_genere").change(function() {
                var data={'gen': $("#select_genere").val()}
                var mydat={'book': $('#select_book').val()}
                console.log(data);
                  $.ajax({
                      type: "POST",
                      url: "{{url_for('index')}}",
                      data:data ,
                      success: function(data) {
                        console.log(data);
                        var my_html_data='';
                        for(var i = data['data'].length-1; i >= 0; i--){
                          my_html_data += '<option value="' +  data['data'][i]['_id'] +'">' + data['data'][i]['name'] + '</option>';
                        }
                        console.log(my_html_data);
                        $(select_book).html(my_html_data)
                        $("#select_book").change(function(){
                          var mydata={'book': $('#select_book').val()}
         
                        });
                      },
                  });
              });
            });
      </script>
   </body>
</html>