{% extends "layout.html" %}
{% block body %} 
<div class="container" style="font-size: 20px">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <form method=POST action="{{ url_for('logisticsTracking') }}">
            <h3 align="center">Order Status</h3>
            <br>
            {% for z in details %}
            <div align="center">
               <option> Book Name : {{ z.name }}</option>
               <option> Author Name : {{ z.author }}</option>
               <option> Publication : {{ z.publication }}</option>
               <option> Publication : {{ z.status }}</option>
               <br/>
               {% if z.status == "out of stock" %}
               <div align="center">
                  <button type="button" disabled>Track Order</button>
               </div>
               {% else %}
               <div align="center">
                  <button onclick="myFunction()">Track Order</button>
               </div>
               {% endif %}
            </div>
            {% endfor %}
         </form>
      </div>
   </div>
</div>
{% endblock %}