{% extends "layout.html" %}
{% block body %} 
<div class="container" style="font-size: 20px">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <form method=POST action="{{ url_for('sellerLogisticsTracking') }}">
            <h3 align="center">Seller book approval page</h3><br/>
            <h4 align="center">Book Details</h4>
            <br>
            {% for z in book_details %}
            <div align="center" name="book_details">
               <option> Book Name : {{ z.name }}</option>
               <option> Author Name : {{ z.author }}</option>
               <option> Publication : {{ z.publication }}</option>
               <br/>
               <input type="hidden" name="book_name" value="{{z.name}}">
               <input type="hidden" name="book_author" value="{{z.author}}">
               <input type="hidden" name="book_publication" value="{{z.publication}}">
               <input type="hidden" name="book_status" value="{{z.status}}">
               <input type="hidden" name="book_id" value="{{z._id}}">
               <div align="center">
                  <button name="order_flag" value="1">Approve</button>
               </div>
            </div>
            {% endfor %}
         </form>
      </div>
   </div>
</div>
{% endblock %}