{% extends "layout.html" %}
{% block body %} 
<form method=POST action="{{ url_for('sellerLogisticsTracking') }}">
<h3 align="center">Logistics delivery status page</h3><br/>
<h4 align="center">Order Details</h4>
<br>
{% for z in book_details %}
<table>
  <thead>
        <tr>
            <th>Sr.No</th>
            <th>Book Name</th>
            <th>Publication</th>
            <th>Status</th>
            <th>Book Id</th>
        </tr>
    </thead>
    <tbody>
    {% for z in book_details %}
        <tr>
            <td></td>
            <td>{{z.name}}</td>
            <td>{{z.publication}}</td>
            <td>{{z.status}}</td>
            <td>{{z.book_id}}</td>
        </tr>
    {% endfor %}
</table>          
{% endfor %}
</form>
{% endblock %}